dsl/5066_metadata_testing.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: 5066_metadata_testing
  use_icon_as_answer_icon: false
dependencies: []
kind: app
version: 0.3.1
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 50
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: tool
      id: 1777293369184-source-1777293553058-target
      source: '1777293369184'
      sourceHandle: source
      target: '1777293553058'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: tool
        targetType: end
      id: 1777293553058-source-1777294194131-target
      source: '1777293553058'
      sourceHandle: source
      target: '1777294194131'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: Start
        type: start
        variables:
        - label: KB_name
          max_length: 48
          options: []
          required: true
          type: text-input
          variable: KB_name
        - label: doc_name
          max_length: 48
          options: []
          required: true
          type: text-input
          variable: doc_name
        - label: doc_content
          max_length: 50
          options: []
          required: false
          type: paragraph
          variable: doc_content
        - allowed_file_extensions: []
          allowed_file_types:
          - document
          allowed_file_upload_methods:
          - local_file
          - remote_url
          label: doc_file
          max_length: 48
          options: []
          required: false
          type: file
          variable: doc_file
        - label: manual_metadata
          max_length: 48
          options: []
          required: false
          type: paragraph
          variable: manual_metadata
      height: 194
      id: '1777293369184'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        is_team_authorization: true
        output_schema: null
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: ''
            ja_JP: ''
            pt_BR: ''
            zh_Hans: ''
          label:
            en_US: Knowledge Base Name
            ja_JP: Knowledge Base Name
            pt_BR: Knowledge Base Name
            zh_Hans: Knowledge Base Name
          llm_description: ''
          max: null
          min: null
          name: kb_name
          options: []
          placeholder:
            en_US: ''
            ja_JP: ''
            pt_BR: ''
            zh_Hans: ''
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: ''
            ja_JP: ''
            pt_BR: ''
            zh_Hans: ''
          label:
            en_US: Document Name
            ja_JP: Document Name
            pt_BR: Document Name
            zh_Hans: Document Name
          llm_description: ''
          max: null
          min: null
          name: doc_name
          options: []
          placeholder:
            en_US: ''
            ja_JP: ''
            pt_BR: ''
            zh_Hans: ''
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: ''
            ja_JP: ''
            pt_BR: ''
            zh_Hans: ''
          label:
            en_US: Document Content (Text)
            ja_JP: Document Content (Text)
            pt_BR: Document Content (Text)
            zh_Hans: Document Content (Text)
          llm_description: ''
          max: null
          min: null
          name: doc_content
          options: []
          placeholder:
            en_US: ''
            ja_JP: ''
            pt_BR: ''
            zh_Hans: ''
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: ''
            ja_JP: ''
            pt_BR: ''
            zh_Hans: ''
          label:
            en_US: Document File
            ja_JP: Document File
            pt_BR: Document File
            zh_Hans: Document File
          llm_description: ''
          max: null
          min: null
          name: doc_file
          options: []
          placeholder:
            en_US: ''
            ja_JP: ''
            pt_BR: ''
            zh_Hans: ''
          precision: null
          required: false
          scope: null
          template: null
          type: file
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: ''
            ja_JP: ''
            pt_BR: ''
            zh_Hans: ''
          label:
            en_US: manual_metadata
            ja_JP: manual_metadata
            pt_BR: manual_metadata
            zh_Hans: manual_metadata
          llm_description: ''
          max: null
          min: null
          name: Manual_Metadata
          options: []
          placeholder:
            en_US: ''
            ja_JP: ''
            pt_BR: ''
            zh_Hans: ''
          precision: null
          required: false
          scope: null
          template: null
          type: string
        params:
          Manual_Metadata: ''
          doc_content: ''
          doc_file: ''
          doc_name: ''
          kb_name: ''
        provider_id: a63b6003-05c6-479c-ab37-8eb18e5be233
        provider_name: Auto KB Metadata Extractor
        provider_type: workflow
        selected: false
        title: Auto KB Metadata Extractor
        tool_configurations: {}
        tool_description: 'Automatically extracts metadata from documents using Gemini
          AI and updates the specified Knowledge Base document in Dify 1.7.2. Supports
          file upload or text paste. After import: set DIFY_API_KEY in workflow Environment
          Variables. Uses POST /datasets/{id}/metadata to create fields and POST /datasets/{id}/documents/metadata
          to assign values.'
        tool_label: Auto KB Metadata Extractor
        tool_name: metadata_wf
        tool_node_version: '2'
        tool_parameters:
          Manual_Metadata:
            type: mixed
            value: '{{#1777293369184.manual_metadata#}}'
          doc_content:
            type: mixed
            value: '{{#1777293369184.doc_content#}}'
          doc_file:
            type: variable
            value:
            - '1777293369184'
            - doc_file
          doc_name:
            type: mixed
            value: '{{#1777293369184.doc_name#}}'
          kb_name:
            type: mixed
            value: '{{#1777293369184.KB_name#}}'
        type: tool
      height: 54
      id: '1777293553058'
      position:
        x: 384
        y: 282
      positionAbsolute:
        x: 384
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1777293553058'
          - text
          value_type: string
          variable: text
        selected: false
        title: End
        type: end
      height: 90
      id: '1777294194131'
      position:
        x: 688
        y: 282
      positionAbsolute:
        x: 688
        y: 282
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: -17
      y: -92.5
      zoom: 1
