dsl/5066_metadata_testing.yml
{"data": "app:\n  description: ''\n  icon: \ud83e\udd16\n  icon_background: '#FFEAD5'\n  mode: workflow\n  name: 5066_metadata_testing\n  use_icon_as_answer_icon: false\ndependencies: []\nkind: app\nversion: 0.3.1\nworkflow:\n  conversation_variables: []\n  environment_variables: []\n  features:\n    file_upload:\n      allowed_file_extensions:\n      - .JPG\n      - .JPEG\n      - .PNG\n      - .GIF\n      - .WEBP\n      - .SVG\n      allowed_file_types:\n      - image\n      allowed_file_upload_methods:\n      - local_file\n      - remote_url\n      enabled: false\n      fileUploadConfig:\n        audio_file_size_limit: 50\n        batch_count_limit: 5\n        file_size_limit: 50\n        image_file_size_limit: 10\n        video_file_size_limit: 100\n        workflow_file_upload_limit: 10\n      image:\n        enabled: false\n        number_limits: 3\n        transfer_methods:\n        - local_file\n        - remote_url\n      number_limits: 3\n    opening_statement: ''\n    retriever_resource:\n      enabled: true\n    sensitive_word_avoidance:\n      enabled: false\n    speech_to_text:\n      enabled: false\n    suggested_questions: []\n    suggested_questions_after_answer:\n      enabled: false\n    text_to_speech:\n      enabled: false\n      language: ''\n      voice: ''\n  graph:\n    edges:\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: start\n        targetType: tool\n      id: 1777293369184-source-1777293553058-target\n      source: '1777293369184'\n      sourceHandle: source\n      target: '1777293553058'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: tool\n        targetType: end\n      id: 1777293553058-source-1777294194131-target\n      source: '1777293553058'\n      sourceHandle: source\n      target: '1777294194131'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    nodes:\n    - data:\n        desc: ''\n        selected: false\n        title: Start\n        type: start\n        variables:\n        - label: KB_name\n          max_length: 48\n          options: []\n          required: true\n          type: text-input\n          variable: KB_name\n        - label: doc_name\n          max_length: 48\n          options: []\n          required: true\n          type: text-input\n          variable: doc_name\n        - label: doc_content\n          max_length: 50\n          options: []\n          required: false\n          type: paragraph\n          variable: doc_content\n        - allowed_file_extensions: []\n          allowed_file_types:\n          - document\n          allowed_file_upload_methods:\n          - local_file\n          - remote_url\n          label: doc_file\n          max_length: 48\n          options: []\n          required: false\n          type: file\n          variable: doc_file\n        - label: manual_metadata\n          max_length: 48\n          options: []\n          required: false\n          type: paragraph\n          variable: manual_metadata\n      height: 194\n      id: '1777293369184'\n      position:\n        x: 80\n        y: 282\n      positionAbsolute:\n        x: 80\n        y: 282\n      selected: true\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        desc: ''\n        is_team_authorization: true\n        output_schema: null\n        paramSchemas:\n        - auto_generate: null\n          default: null\n          form: llm\n          human_description:\n            en_US: ''\n            ja_JP: ''\n            pt_BR: ''\n            zh_Hans: ''\n          label:\n            en_US: Knowledge Base Name\n            ja_JP: Knowledge Base Name\n            pt_BR: Knowledge Base Name\n            zh_Hans: Knowledge Base Name\n          llm_description: ''\n          max: null\n          min: null\n          name: kb_name\n          options: []\n          placeholder:\n            en_US: ''\n            ja_JP: ''\n            pt_BR: ''\n            zh_Hans: ''\n          precision: null\n          required: true\n          scope: null\n          template: null\n          type: string\n        - auto_generate: null\n          default: null\n          form: llm\n          human_description:\n            en_US: ''\n            ja_JP: ''\n            pt_BR: ''\n            zh_Hans: ''\n          label:\n            en_US: Document Name\n            ja_JP: Document Name\n            pt_BR: Document Name\n            zh_Hans: Document Name\n          llm_description: ''\n          max: null\n          min: null\n          name: doc_name\n          options: []\n          placeholder:\n            en_US: ''\n            ja_JP: ''\n            pt_BR: ''\n            zh_Hans: ''\n          precision: null\n          required: true\n          scope: null\n          template: null\n          type: string\n        - auto_generate: null\n          default: null\n          form: llm\n          human_description:\n            en_US: ''\n            ja_JP: ''\n            pt_BR: ''\n            zh_Hans: ''\n          label:\n            en_US: Document Content (Text)\n            ja_JP: Document Content (Text)\n            pt_BR: Document Content (Text)\n            zh_Hans: Document Content (Text)\n          llm_description: ''\n          max: null\n          min: null\n          name: doc_content\n          options: []\n          placeholder:\n            en_US: ''\n            ja_JP: ''\n            pt_BR: ''\n            zh_Hans: ''\n          precision: null\n          required: false\n          scope: null\n          template: null\n          type: string\n        - auto_generate: null\n          default: null\n          form: llm\n          human_description:\n            en_US: ''\n            ja_JP: ''\n            pt_BR: ''\n            zh_Hans: ''\n          label:\n            en_US: Document File\n            ja_JP: Document File\n            pt_BR: Document File\n            zh_Hans: Document File\n          llm_description: ''\n          max: null\n          min: null\n          name: doc_file\n          options: []\n          placeholder:\n            en_US: ''\n            ja_JP: ''\n            pt_BR: ''\n            zh_Hans: ''\n          precision: null\n          required: false\n          scope: null\n          template: null\n          type: file\n        - auto_generate: null\n          default: null\n          form: llm\n          human_description:\n            en_US: ''\n            ja_JP: ''\n            pt_BR: ''\n            zh_Hans: ''\n          label:\n            en_US: manual_metadata\n            ja_JP: manual_metadata\n            pt_BR: manual_metadata\n            zh_Hans: manual_metadata\n          llm_description: ''\n          max: null\n          min: null\n          name: Manual_Metadata\n          options: []\n          placeholder:\n            en_US: ''\n            ja_JP: ''\n            pt_BR: ''\n            zh_Hans: ''\n          precision: null\n          required: false\n          scope: null\n          template: null\n          type: string\n        params:\n          Manual_Metadata: ''\n          doc_content: ''\n          doc_file: ''\n          doc_name: ''\n          kb_name: ''\n        provider_id: a63b6003-05c6-479c-ab37-8eb18e5be233\n        provider_name: Auto KB Metadata Extractor\n        provider_type: workflow\n        selected: false\n        title: Auto KB Metadata Extractor\n        tool_configurations: {}\n        tool_description: 'Automatically extracts metadata from documents using Gemini\n          AI and updates the specified Knowledge Base document in Dify 1.7.2. Supports\n          file upload or text paste. After import: set DIFY_API_KEY in workflow Environment\n          Variables. Uses POST /datasets/{id}/metadata to create fields and POST /datasets/{id}/documents/metadata\n          to assign values.'\n        tool_label: Auto KB Metadata Extractor\n        tool_name: metadata_wf\n        tool_node_version: '2'\n        tool_parameters:\n          Manual_Metadata:\n            type: mixed\n            value: '{{#1777293369184.manual_metadata#}}'\n          doc_content:\n            type: mixed\n            value: '{{#1777293369184.doc_content#}}'\n          doc_file:\n            type: variable\n            value:\n            - '1777293369184'\n            - doc_file\n          doc_name:\n            type: mixed\n            value: '{{#1777293369184.doc_name#}}'\n          kb_name:\n            type: mixed\n            value: '{{#1777293369184.KB_name#}}'\n        type: tool\n      height: 54\n      id: '1777293553058'\n      position:\n        x: 384\n        y: 282\n      positionAbsolute:\n        x: 384\n        y: 282\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        desc: ''\n        outputs:\n        - value_selector:\n          - '1777293553058'\n          - text\n          value_type: string\n          variable: text\n        selected: false\n        title: End\n        type: end\n      height: 90\n      id: '1777294194131'\n      position:\n        x: 688\n        y: 282\n      positionAbsolute:\n        x: 688\n        y: 282\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    viewport:\n      x: -17\n      y: -92.5\n      zoom: 1\n"}
