dsl/Auto_KB_Metadata_Extractor_v211.yml
{"data": "app:\n  description: 'Automatically extracts metadata from documents using Gemini AI and\n    updates the specified Knowledge Base document in Dify 1.7.2. Supports file upload\n    or text paste. Large files use Map-Reduce chunking (max 8 chunks, parallel): each\n    chunk produces a partial metadata JSON, a code node merges all chunks by union\n    \u2014 no information loss. After import: set DIFY_API_KEY in workflow Environment\n    Variables.'\n  icon: \ud83c\udff7\ufe0f\n  icon_background: '#E8F4F8'\n  mode: workflow\n  name: Auto KB Metadata Extractor_v2.1.1\n  use_icon_as_answer_icon: false\ndependencies:\n- current_identifier: null\n  type: marketplace\n  value:\n    marketplace_plugin_unique_identifier: langgenius/gemini:0.7.4@5faf411e694e0da130a337347a625a3812b1b7502a0183382d66d92c841bf05a\nkind: app\nversion: 0.3.1\nworkflow:\n  conversation_variables: []\n  environment_variables:\n  - description: Dify API key for Knowledge Base operations. Set the value after importing\n      this workflow.\n    id: e3f7a9b1-2c4d-4e5f-8a6b-7c8d9e0f1a2b\n    name: DIFY_API_KEY\n    selector:\n    - env\n    - DIFY_API_KEY\n    value: ''\n    value_type: secret\n  features:\n    file_upload:\n      allowed_file_extensions:\n      - .JPG\n      - .JPEG\n      - .PNG\n      - .GIF\n      - .WEBP\n      - .SVG\n      allowed_file_types:\n      - image\n      allowed_file_upload_methods:\n      - local_file\n      - remote_url\n      enabled: false\n      image:\n        enabled: false\n        number_limits: 3\n        transfer_methods:\n        - local_file\n        - remote_url\n      number_limits: 3\n    opening_statement: ''\n    retriever_resource:\n      enabled: false\n    sensitive_word_avoidance:\n      enabled: false\n    speech_to_text:\n      enabled: false\n    suggested_questions: []\n    suggested_questions_after_answer:\n      enabled: false\n    text_to_speech:\n      enabled: false\n      language: ''\n      voice: ''\n  graph:\n    edges:\n    - data:\n        isInIteration: false\n        sourceType: if-else\n        targetType: end\n      id: edge-001b\n      selected: false\n      source: '1744700000018'\n      sourceHandle: 'false'\n      target: '1744700000019'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        sourceType: if-else\n        targetType: if-else\n      id: edge-001c\n      selected: false\n      source: '1744700000018'\n      sourceHandle: 'true'\n      target: '1744700000002'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        sourceType: if-else\n        targetType: document-extractor\n      id: edge-002\n      selected: false\n      source: '1744700000002'\n      sourceHandle: 'true'\n      target: '1744700000003'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        sourceType: if-else\n        targetType: llm\n      id: edge-003\n      selected: false\n      source: '1744700000002'\n      sourceHandle: 'false'\n      target: '1744700000005'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        sourceType: document-extractor\n        targetType: code\n      id: edge-004-v3\n      selected: false\n      source: '1744700000003'\n      sourceHandle: source\n      target: '1776900000001'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        sourceType: code\n        targetType: iteration\n      id: edge-v3-001\n      selected: false\n      source: '1776900000001'\n      sourceHandle: source\n      target: '1776900000002'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: true\n        iteration_id: '1776900000002'\n        sourceType: iteration-start\n        targetType: llm\n      id: edge-v3-iter-001\n      selected: false\n      source: 1776900000002start\n      sourceHandle: source\n      target: '1776900000003'\n      targetHandle: target\n      type: custom\n      zIndex: 1002\n    - data:\n        isInIteration: false\n        sourceType: iteration\n        targetType: code\n      id: edge-v3-002\n      selected: false\n      source: '1776900000002'\n      sourceHandle: source\n      target: '1776900000004'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        sourceType: code\n        targetType: variable-aggregator\n      id: edge-v3-004\n      selected: false\n      source: '1776900000004'\n      sourceHandle: source\n      target: '1744700000013'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        sourceType: llm\n        targetType: variable-aggregator\n      id: edge-006\n      selected: false\n      source: '1744700000005'\n      sourceHandle: source\n      target: '1744700000013'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        sourceType: variable-aggregator\n        targetType: code\n      id: edge-007\n      selected: false\n      source: '1744700000013'\n      sourceHandle: source\n      target: '1744700000006'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        sourceType: http-request\n        targetType: code\n      id: edge-009\n      selected: false\n      source: '1744700000007'\n      sourceHandle: source\n      target: '1744700000008'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        sourceType: code\n        targetType: if-else\n      id: edge-010\n      selected: false\n      source: '1744700000008'\n      sourceHandle: source\n      target: '1744700000014'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        sourceType: if-else\n        targetType: end\n      id: edge-011\n      selected: false\n      source: '1744700000014'\n      sourceHandle: 'false'\n      target: '1744700000015'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        sourceType: if-else\n        targetType: http-request\n      id: edge-012\n      selected: false\n      source: '1744700000014'\n      sourceHandle: 'true'\n      target: '1744700000009'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        sourceType: http-request\n        targetType: code\n      id: edge-013\n      selected: false\n      source: '1744700000009'\n      sourceHandle: source\n      target: '1744700000010'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        sourceType: code\n        targetType: if-else\n      id: edge-014\n      selected: false\n      source: '1744700000010'\n      sourceHandle: source\n      target: '1744700000016'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        sourceType: if-else\n        targetType: end\n      id: edge-015\n      selected: false\n      source: '1744700000016'\n      sourceHandle: 'false'\n      target: '1744700000017'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        sourceType: code\n        targetType: iteration\n      id: edge-017\n      selected: false\n      source: '1744700000020'\n      sourceHandle: source\n      target: '1744700000021'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: true\n        iteration_id: '1744700000021'\n        sourceType: iteration-start\n        targetType: http-request\n      id: edge-iter-001\n      selected: false\n      source: 1744700000021start\n      sourceHandle: source\n      target: '1744700000022'\n      targetHandle: target\n      type: custom\n      zIndex: 1002\n    - data:\n        isInIteration: false\n        sourceType: iteration\n        targetType: code\n      id: edge-018\n      selected: false\n      source: '1744700000021'\n      sourceHandle: source\n      target: '1744700000023'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        sourceType: code\n        targetType: http-request\n      id: edge-019\n      selected: false\n      source: '1744700000023'\n      sourceHandle: source\n      target: '1744700000024'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        sourceType: http-request\n        targetType: end\n      id: edge-020\n      selected: false\n      source: '1744700000024'\n      sourceHandle: source\n      target: '1744700000012'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInLoop: false\n        sourceType: start\n        targetType: if-else\n      id: 1744700000001-source-1776534341395-target\n      selected: false\n      source: '1744700000001'\n      sourceHandle: source\n      target: '1776534341395'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInLoop: false\n        sourceType: if-else\n        targetType: if-else\n      id: 1776534341395-false-1744700000018-target\n      selected: false\n      source: '1776534341395'\n      sourceHandle: 'false'\n      target: '1744700000018'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInLoop: false\n        sourceType: if-else\n        targetType: variable-aggregator\n      id: 1776534341395-true-1744700000013-target\n      selected: false\n      source: '1776534341395'\n      sourceHandle: 'true'\n      target: '1744700000013'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInLoop: false\n        sourceType: if-else\n        targetType: http-request\n      id: 1744700000016-true-1776537849391-target\n      selected: false\n      source: '1744700000016'\n      sourceHandle: 'true'\n      target: '1776537849391'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInLoop: false\n        sourceType: http-request\n        targetType: code\n      id: 1776537849391-source-1744700000020-target\n      selected: false\n      source: '1776537849391'\n      sourceHandle: source\n      target: '1744700000020'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInLoop: false\n        sourceType: code\n        targetType: if-else\n      id: 1744700000006-source-1776754105572-target\n      selected: false\n      source: '1744700000006'\n      sourceHandle: source\n      target: '1776754105572'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInLoop: false\n        sourceType: if-else\n        targetType: http-request\n      id: 1776754105572-true-1744700000007-target\n      selected: false\n      source: '1776754105572'\n      sourceHandle: 'true'\n      target: '1744700000007'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInLoop: false\n        sourceType: if-else\n        targetType: end\n      id: 1776754105572-false-1776754350599-target\n      selected: false\n      source: '1776754105572'\n      sourceHandle: 'false'\n      target: '1776754350599'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    nodes:\n    - data:\n        desc: Enter KB name, document name, then either paste text OR upload file\n          (not both required)\n        selected: false\n        title: Start\n        type: start\n        variables:\n        - description: Exact name of the Knowledge Base in Dify\n          label: Knowledge Base Name\n          max_length: 256\n          options: []\n          required: true\n          type: text-input\n          variable: kb_name\n        - description: Exact name of the document inside the KB\n          label: Document Name\n          max_length: 256\n          options: []\n          required: true\n          type: text-input\n          variable: doc_name\n        - description: Paste document text here. Leave empty if uploading a file below.\n          label: Document Content (Text)\n          max_length: 50000\n          options: []\n          required: false\n          type: paragraph\n          variable: doc_content\n        - allowed_file_extensions:\n          - .pdf\n          - .docx\n          - .doc\n          - .txt\n          - .md\n          allowed_file_types:\n          - document\n          allowed_file_upload_methods:\n          - local_file\n          description: Upload document file. Leave empty if pasting text above.\n          label: Document File\n          max_length: 1\n          options: []\n          required: false\n          type: file\n          variable: doc_file\n        - label: manual_metadata\n          max_length: 100\n          options: []\n          required: false\n          type: paragraph\n          variable: Manual_Metadata\n      height: 253\n      id: '1744700000001'\n      position:\n        x: -472.8462696615924\n        y: 255.51744368730823\n      positionAbsolute:\n        x: -472.8462696615924\n        y: 255.51744368730823\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 243\n    - data:\n        cases:\n        - case_id: 'true'\n          conditions:\n          - comparison_operator: not empty\n            id: cond-content-001\n            value: ''\n            variable_selector:\n            - '1744700000001'\n            - doc_content\n          - comparison_operator: not empty\n            id: cond-content-002\n            value: ''\n            variable_selector:\n            - '1744700000001'\n            - doc_file\n          id: 'true'\n          logical_operator: or\n        conditions:\n        - comparison_operator: not empty\n          id: cond-content-001\n          value: ''\n          variable_selector:\n          - '1744700000001'\n          - doc_content\n        - comparison_operator: not empty\n          id: cond-content-002\n          value: ''\n          variable_selector:\n          - '1744700000001'\n          - doc_file\n        desc: Stop early if neither text nor file provided\n        logical_operator: or\n        selected: false\n        title: Content Provided?\n        type: if-else\n      height: 195\n      id: '1744700000018'\n      position:\n        x: 235.5737684124325\n        y: 290.4386018784283\n      positionAbsolute:\n        x: 235.5737684124325\n        y: 290.4386018784283\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 243\n    - data:\n        desc: Early exit \u2014 no document content provided\n        outputs:\n        - value_selector:\n          - '1744700000001'\n          - kb_name\n          value_type: string\n          variable: error_message\n        selected: false\n        title: Error - No Content Provided\n        type: end\n      height: 134\n      id: '1744700000019'\n      position:\n        x: 532.31387355119\n        y: 561.7199756783488\n      positionAbsolute:\n        x: 532.31387355119\n        y: 561.7199756783488\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 243\n    - data:\n        cases:\n        - case_id: 'true'\n          conditions:\n          - comparison_operator: not empty\n            id: cond-file-001\n            value: ''\n            variable_selector:\n            - '1744700000001'\n            - doc_file\n          id: 'true'\n          logical_operator: and\n        conditions:\n        - comparison_operator: not empty\n          id: cond-file-001\n          value: ''\n          variable_selector:\n          - '1744700000001'\n          - doc_file\n        desc: If file attached go to file extraction path, else use pasted text path\n        logical_operator: and\n        selected: false\n        title: File Attached?\n        type: if-else\n      height: 169\n      id: '1744700000002'\n      position:\n        x: 564.3691448676873\n        y: 250\n      positionAbsolute:\n        x: 564.3691448676873\n        y: 250\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 243\n    - data:\n        desc: Extract text content from the uploaded document file\n        is_array_file: false\n        selected: false\n        title: Extract File Text\n        type: document-extractor\n        variable_selector:\n        - '1744700000001'\n        - doc_file\n      height: 138\n      id: '1744700000003'\n      position:\n        x: 878.2813987614766\n        y: 100\n      positionAbsolute:\n        x: 878.2813987614766\n        y: 100\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 243\n    - data:\n        code: \"def main(file_content: str) -> dict:\\n    CHUNK_SIZE = 12000\\n    MAX_CHUNKS\\\n          \\ = 8\\n    total_chars = len(file_content)\\n    if total_chars <= CHUNK_SIZE:\\n\\\n          \\        chunks = ['[CHUNK 1 of 1 - Full Document]\\\\n' + file_content]\\n\\\n          \\        strategy = 'full'\\n    elif total_chars <= CHUNK_SIZE * MAX_CHUNKS:\\n\\\n          \\        raw_chunks = []\\n        start = 0\\n        while start < total_chars:\\n\\\n          \\            raw_chunks.append(file_content[start:start + CHUNK_SIZE])\\n\\\n          \\            start += CHUNK_SIZE\\n        n = len(raw_chunks)\\n        chunks\\\n          \\ = ['[CHUNK ' + str(i + 1) + ' of ' + str(n) + ' - Sequential]\\\\n' + c\\\n          \\ for i, c in enumerate(raw_chunks)]\\n        strategy = 'sequential'\\n\\\n          \\    else:\\n        step = total_chars // MAX_CHUNKS\\n        raw_chunks\\\n          \\ = []\\n        for i in range(MAX_CHUNKS):\\n            s = i * step\\n\\\n          \\            raw_chunks.append(file_content[s:s + CHUNK_SIZE])\\n       \\\n          \\ chunks = ['[CHUNK ' + str(i + 1) + ' of 8 - Sampled pos ' + str(i * step)\\\n          \\ + ']\\\\n' + c for i, c in enumerate(raw_chunks)]\\n        strategy = 'sampled'\\n\\\n          \\    return {\\n        'chunks': chunks,\\n        'chunk_count': str(len(chunks)),\\n\\\n          \\        'total_chars': str(total_chars),\\n        'strategy': strategy\\n\\\n          \\    }\\n\"\n        code_language: python3\n        desc: 'Split extracted text into max 8 evenly distributed chunks. Small files:\n          1 chunk. Medium: sequential. Large: sampled.'\n        outputs:\n          chunk_count:\n            type: string\n          chunks:\n            type: array[string]\n          strategy:\n            type: string\n          total_chars:\n            type: string\n        selected: true\n        title: Split Into Chunks\n        type: code\n        variables:\n        - value_selector:\n          - '1744700000003'\n          - text\n          variable: file_content\n      height: 113\n      id: '1776900000001'\n      position:\n        x: 1188\n        y: 100\n      positionAbsolute:\n        x: 1188\n        y: 100\n      selected: true\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 243\n    - data:\n        desc: MAP phase \u2014 run LLM on each chunk to extract a partial metadata JSON\n        error_handle_mode: terminated\n        height: 280\n        is_parallel: true\n        iterator_selector:\n        - '1776900000001'\n        - chunks\n        output_selector:\n        - '1776900000003'\n        - text\n        output_type: array[string]\n        parallel_nums: 5\n        selected: false\n        start_node_id: 1776900000002start\n        title: Extract Chunk Metadata\n        type: iteration\n        width: 500\n      height: 280\n      id: '1776900000002'\n      position:\n        x: 1528.3154429059498\n        y: -67.94840651333573\n      positionAbsolute:\n        x: 1528.3154429059498\n        y: -67.94840651333573\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 500\n      zIndex: 1\n    - data:\n        desc: ''\n        isInIteration: true\n        selected: false\n        title: ''\n        type: iteration-start\n      draggable: false\n      height: 48\n      id: 1776900000002start\n      parentId: '1776900000002'\n      position:\n        x: 24\n        y: 68\n      positionAbsolute:\n        x: 1552.3154429059498\n        y: 0.05159348666427377\n      selectable: false\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom-iteration-start\n      width: 44\n      zIndex: 1002\n    - data:\n        context:\n          enabled: false\n          variable_selector: []\n        desc: Extract partial metadata JSON from one document chunk \u2014 same schema,\n          only fields detectable in this chunk\n        isInIteration: true\n        model:\n          completion_params:\n            temperature: 0.1\n            top_p: 0.9\n          mode: chat\n          name: gemini-2.5-flash\n          provider: langgenius/gemini/google\n        prompt_template:\n        - id: prompt-chunk-sys\n          role: system\n          text: 'You are a high-precision Information Extraction Engine specialized\n            in RAG (Retrieval-Augmented Generation) metadata enrichment.\n\n\n            Your task is to extract structured, searchable metadata from the provided\n            document chunk to improve downstream retrieval accuracy, ranking, and\n            filtering.\n\n            This chunk is part of a larger document \u2014 use all available signals to\n            infer fields (e.g. infer title from the main topic if not explicitly stated).\n\n\n            STRICT RULES:\n\n            1. Output ONLY valid JSON. No explanations.\n\n            2. Do NOT hallucinate. Missing fields \u2192 null or [].\n\n            3. Follow schema EXACTLY. Do not add/remove fields.\n\n            4. Normalize entities using most complete/formal names.\n\n            5. Assign each entity to ONLY one category.\n\n            6. Use lowercase for topics, keywords.\n\n            7. Dates \u2192 ISO 8601 (YYYY-MM-DD or YYYY).\n\n            8. Remove duplicates across all arrays.\n\n            9. topics: 3\u20135 items max.\n\n            10. keywords: strictly 5\u201315 items \u2014 extract every relevant technical term\n            in this chunk.\n\n            11. intent must be one of:\n\n            [\"informational\",\"instructional\",\"analytical\",\"transactional\",\"troubleshooting\",\"reference\"]\n\n            12. summary must be dense, semantic, optimized for embedding (no fluff).\n\n            13. title: infer from the document''s main subject if not explicitly stated.\n\n\n            -----------------------\n\n            SCHEMA:\n\n            {\n\n            \"title\": string | null,\n\n            \"summary\": string | null,\n\n            \"document_type\": string | null,\n\n            \"domain\": string | null,\n\n            \"source_type\": string | null,\n\n            \"topics\": string[],\n\n            \"keywords\": string[],\n\n            \"entities\": {\n\n            \"persons\": string[],\n\n            \"organizations\": string[],\n\n            \"geopolitical\": string[],\n\n            \"technologies\": string[],\n\n            \"regulations\": string[],\n\n            \"events\": string[],\n\n            \"brands_products\": string[]\n\n            },\n\n            \"dates\": {\n\n            \"created_at\": string | null,\n\n            \"references\": string[]\n\n            },\n\n            \"language\": string | null,\n\n            \"intent\": string | null,\n\n            \"audience\": string | null,\n\n            \"sentiment\": string | null,\n\n            \"search_text\": string | null,\n\n            \"confidence\": number | null\n\n            }'\n        - id: prompt-chunk-usr\n          role: user\n          text: 'DOCUMENT CHUNK:\n\n\n            {{#1776900000002.item#}}\n\n            '\n        selected: false\n        title: LLM - Extract Chunk Metadata\n        type: llm\n        variables: []\n        vision:\n          configs:\n            detail: high\n          enabled: false\n      height: 149\n      id: '1776900000003'\n      isInIteration: true\n      parentId: '1776900000002'\n      position:\n        x: 130\n        y: 68\n      positionAbsolute:\n        x: 1658.3154429059498\n        y: 0.05159348666427377\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 243\n      zIndex: 1002\n    - data:\n        code: \"import json\\nimport re\\n\\ndef main(chunk_results: list) -> dict:\\n\\\n          \\    merged = {\\n        'title': None, 'summary': None, 'document_type':\\\n          \\ None,\\n        'domain': None, 'source_type': None, 'topics': [], 'keywords':\\\n          \\ [],\\n        'entities': {\\n            'persons': [], 'organizations':\\\n          \\ [], 'geopolitical': [],\\n            'technologies': [], 'regulations':\\\n          \\ [], 'events': [], 'brands_products': []\\n        },\\n        'dates':\\\n          \\ {'created_at': None, 'references': []},\\n        'language': None, 'intent':\\\n          \\ None, 'audience': None,\\n        'sentiment': None, 'search_text': None,\\\n          \\ 'confidence': None\\n    }\\n    confidences = []\\n    summaries = []\\n\\\n          \\    for raw in chunk_results:\\n        try:\\n            s = str(raw).strip()\\n\\\n          \\            s = re.sub(r'```(?:json)?\\\\s*', '', s).strip()\\n          \\\n          \\  s = re.sub(r'```\\\\s*$', '', s).strip()\\n            m = re.search(r'\\\\\\\n          {[\\\\s\\\\S]*\\\\}', s)\\n            if m:\\n                s = m.group()\\n \\\n          \\           data = json.loads(s)\\n        except Exception:\\n          \\\n          \\  continue\\n        for f in ['title', 'document_type', 'domain', 'source_type',\\\n          \\ 'language', 'intent', 'audience', 'sentiment', 'search_text']:\\n     \\\n          \\       if not merged[f] and data.get(f):\\n                merged[f] = data[f]\\n\\\n          \\        if data.get('summary'):\\n            summaries.append(str(data['summary']))\\n\\\n          \\        for f in ['topics', 'keywords']:\\n            for v in (data.get(f)\\\n          \\ or []):\\n                if v and v not in merged[f]:\\n              \\\n          \\      merged[f].append(v)\\n        ents = data.get('entities') or {}\\n\\\n          \\        if isinstance(ents, dict):\\n            for sub in ['persons',\\\n          \\ 'organizations', 'geopolitical', 'technologies', 'regulations', 'events',\\\n          \\ 'brands_products']:\\n                for v in (ents.get(sub) or []):\\n\\\n          \\                    if v and v not in merged['entities'][sub]:\\n      \\\n          \\                  merged['entities'][sub].append(v)\\n        d = data.get('dates')\\\n          \\ or {}\\n        if isinstance(d, dict):\\n            if not merged['dates']['created_at']\\\n          \\ and d.get('created_at'):\\n                merged['dates']['created_at']\\\n          \\ = d['created_at']\\n            for ref in (d.get('references') or []):\\n\\\n          \\                if ref and ref not in merged['dates']['references']:\\n\\\n          \\                    merged['dates']['references'].append(ref)\\n       \\\n          \\ try:\\n            if data.get('confidence') is not None:\\n           \\\n          \\     confidences.append(float(data['confidence']))\\n        except Exception:\\n\\\n          \\            pass\\n    if summaries:\\n        merged['summary'] = ' '.join(summaries[:3])\\n\\\n          \\    if confidences:\\n        merged['confidence'] = round(sum(confidences)\\\n          \\ / len(confidences), 2)\\n    merged['topics'] = merged['topics'][:5]\\n\\\n          \\    merged['keywords'] = merged['keywords'][:15]\\n    return {'merged_metadata':\\\n          \\ json.dumps(merged, ensure_ascii=False)}\\n\"\n        code_language: python3\n        desc: REDUCE phase \u2014 union-merge all partial metadata JSONs from chunks. No\n          LLM needed. All keywords, entities, dates preserved.\n        outputs:\n          merged_metadata:\n            type: string\n        selected: false\n        title: Merge Chunk Metadata\n        type: code\n        variables:\n        - value_selector:\n          - '1776900000002'\n          - output\n          variable: chunk_results\n      height: 129\n      id: '1776900000004'\n      position:\n        x: 2070\n        y: 100\n      positionAbsolute:\n        x: 2070\n        y: 100\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 243\n    - data:\n        context:\n          enabled: false\n          variable_selector: []\n        desc: Extract metadata from pasted text content using Gemini AI\n        model:\n          completion_params:\n            temperature: 0.1\n            top_p: 0.9\n          mode: chat\n          name: gemini-2.5-flash\n          provider: langgenius/gemini/google\n        prompt_template:\n        - id: prompt-llm-text-sys\n          role: system\n          text: 'You are a high-precision Information Extraction Engine specialized\n            in RAG (Retrieval-Augmented Generation) metadata enrichment.\n\n\n            Your task is to extract structured, searchable metadata from the provided\n            document to improve downstream retrieval accuracy, ranking, and filtering.\n\n\n            STRICT RULES:\n\n            1. Output ONLY valid JSON. No explanations.\n\n            2. Do NOT hallucinate. Missing fields \u2192 null or [].\n\n            3. Follow schema EXACTLY. Do not add/remove fields.\n\n            4. Normalize entities using most complete/formal names.\n\n            5. Assign each entity to ONLY one category.\n\n            6. Use lowercase for topics, keywords.\n\n            7. Dates \u2192 ISO 8601 (YYYY-MM-DD or YYYY).\n\n            8. Remove duplicates across all arrays.\n\n            9. topics: 3\u20135 items max.\n\n            10. keywords: strictly 5\u201315 items.\n\n            11. intent must be one of:\n\n            [\"informational\",\"instructional\",\"analytical\",\"transactional\",\"troubleshooting\",\"reference\"]\n\n            12. summary must be dense, semantic, optimized for embedding (no fluff).\n\n\n            -----------------------\n\n            SCHEMA:\n\n            {\n\n            \"title\": string | null,\n\n            \"summary\": string | null,\n\n            \"document_type\": string | null,\n\n            \"domain\": string | null,\n\n            \"source_type\": string | null,\n\n            \"topics\": string[],\n\n            \"keywords\": string[],\n\n            \"entities\": {\n\n            \"persons\": string[],\n\n            \"organizations\": string[],\n\n            \"geopolitical\": string[],\n\n            \"technologies\": string[],\n\n            \"regulations\": string[],\n\n            \"events\": string[],\n\n            \"brands_products\": string[]\n\n            },\n\n            \"dates\": {\n\n            \"created_at\": string | null,\n\n            \"references\": string[]\n\n            },\n\n            \"language\": string | null,\n\n            \"intent\": string | null,\n\n            \"audience\": string | null,\n\n            \"sentiment\": string | null,\n\n            \"search_text\": string | null,\n\n            \"confidence\": number | null\n\n            }'\n        - id: prompt-llm-text-usr\n          role: user\n          text: 'INPUT DOCUMENT:\n\n\n            {{#1744700000001.doc_content#}}\n\n            '\n        selected: false\n        title: Metadata Extractor (Text)\n        type: llm\n        variables: []\n        vision:\n          configs:\n            detail: high\n          enabled: false\n      height: 133\n      id: '1744700000005'\n      position:\n        x: 897.8426682304234\n        y: 448.2632383186319\n      positionAbsolute:\n        x: 897.8426682304234\n        y: 448.2632383186319\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 243\n    - data:\n        advanced_settings:\n          group_enabled: false\n          groups: []\n        desc: Merges output from whichever path executed (file chunks, text, or manual)\n        output_type: string\n        selected: false\n        title: Merge LLM Output\n        type: variable-aggregator\n        variables:\n        - - '1776900000004'\n          - merged_metadata\n        - - '1744700000005'\n          - text\n        - - '1744700000001'\n          - Manual_Metadata\n      height: 207\n      id: '1744700000013'\n      position:\n        x: 2390\n        y: 270\n      positionAbsolute:\n        x: 2390\n        y: 270\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 243\n    - data:\n        code: \"import json\\nimport re\\n\\n\\ndef main(llm_output: str) -> dict:\\n  \\\n          \\  if not llm_output or not llm_output.strip():\\n        return {\\n    \\\n          \\        'metadata_json': '{}',\\n            'metadata_display': 'ERROR:\\\n          \\ No LLM output received.'\\n        }\\n\\n    raw = llm_output.strip()\\n\\n\\\n          \\    try:\\n        result = json.loads(raw)\\n        return _format(result)\\n\\\n          \\    except json.JSONDecodeError:\\n        pass\\n\\n    cleaned = re.sub(r'```(?:json)?\\\\\\\n          s*', '', raw).strip()\\n    cleaned = re.sub(r'```\\\\s*$', '', cleaned).strip()\\n\\\n          \\    try:\\n        result = json.loads(cleaned)\\n        return _format(result)\\n\\\n          \\    except json.JSONDecodeError:\\n        pass\\n\\n    match = re.search(r'\\\\\\\n          {[\\\\s\\\\S]*\\\\}', cleaned)\\n    if match:\\n        try:\\n            result\\\n          \\ = json.loads(match.group())\\n            return _format(result)\\n    \\\n          \\    except json.JSONDecodeError:\\n            pass\\n\\n    return {\\n  \\\n          \\      'metadata_json': '{}',\\n        'metadata_display': 'ERROR: Could\\\n          \\ not parse metadata. Raw: ' + raw[:300]\\n    }\\n\\n\\ndef _format(result:\\\n          \\ dict) -> dict:\\n    lines = []\\n    for k, v in result.items():\\n    \\\n          \\    if isinstance(v, list):\\n            v = ', '.join(str(i) for i in\\\n          \\ v)\\n        lines.append(f'**{k}**: {v}')\\n    return {\\n        'metadata_json':\\\n          \\ json.dumps(result, ensure_ascii=False),\\n        'metadata_display': '\\\\\\\n          n'.join(lines)\\n    }\\n\"\n        code_language: python3\n        desc: Parse and clean JSON metadata output from LLM\n        outputs:\n          metadata_display:\n            type: string\n          metadata_json:\n            type: string\n        selected: false\n        title: Parse Metadata JSON\n        type: code\n        variables:\n        - value_selector:\n          - '1744700000013'\n          - output\n          variable: llm_output\n      height: 97\n      id: '1744700000006'\n      position:\n        x: 2680\n        y: 100\n      positionAbsolute:\n        x: 2680\n        y: 100\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 243\n    - data:\n        cases:\n        - case_id: 'true'\n          conditions:\n          - comparison_operator: is not\n            id: 869981d4-e508-40e0-8619-cb2fbecd7ad8\n            value: '{}'\n            varType: string\n            variable_selector:\n            - '1744700000006'\n            - metadata_json\n          id: 'true'\n          logical_operator: and\n        desc: Guard \u2014 ensure metadata JSON is not empty before proceeding\n        selected: false\n        title: Metadata Valid?\n        type: if-else\n      height: 169\n      id: '1776754105572'\n      position:\n        x: 2930\n        y: 255\n      positionAbsolute:\n        x: 2930\n        y: 255\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 243\n    - data:\n        desc: Metadata JSON is empty \u2014 invalid or unparseable input\n        outputs:\n        - value_selector:\n          - '1744700000006'\n          - metadata_display\n          value_type: string\n          variable: bad_input\n        selected: false\n        title: Error - BAD DATA\n        type: end\n      height: 134\n      id: '1776754350599'\n      position:\n        x: 2930\n        y: 450\n      positionAbsolute:\n        x: 2930\n        y: 450\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 243\n    - data:\n        authorization:\n          config:\n            api_key: '{{#env.DIFY_API_KEY#}}'\n            header: Authorization\n            type: bearer\n          type: api-key\n        body:\n          data:\n          - type: text\n            value: ''\n          type: none\n        desc: Search Knowledge Base by name to retrieve dataset_id\n        headers: ''\n        method: get\n        params: limit:100\n        retry_config:\n          max_retries: 3\n          retry_enabled: true\n          retry_interval: 100\n        selected: false\n        ssl_verify: true\n        timeout:\n          connect: 60\n          max_connect_retries: 3\n          max_retries: 3\n          read: 60\n          write: 60\n        title: Get Knowledge Base ID\n        type: http-request\n        url: http://172.30.116.165/v1/datasets\n        variables:\n        - value_selector:\n          - '1744700000001'\n          - kb_name\n          variable: kb_name\n      height: 183\n      id: '1744700000007'\n      position:\n        x: 3240\n        y: 75\n      positionAbsolute:\n        x: 3240\n        y: 75\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        code: \"import json\\n\\n\\ndef main(api_response: str, kb_name: str) -> dict:\\n\\\n          \\    try:\\n        data = json.loads(api_response)\\n        if isinstance(data,\\\n          \\ list):\\n            datasets = data\\n        elif isinstance(data, dict)\\\n          \\ and 'data' in data:\\n            datasets = data['data']\\n        elif\\\n          \\ isinstance(data, dict) and 'id' in data:\\n            datasets = [data]\\n\\\n          \\        else:\\n            datasets = []\\n        for ds in datasets:\\n\\\n          \\            if ds.get('name', '').lower() == kb_name.lower():\\n       \\\n          \\         return {'dataset_id': ds['id'], 'status': 'found'}\\n        for\\\n          \\ ds in datasets:\\n            if kb_name.lower() in ds.get('name', '').lower():\\n\\\n          \\                return {'dataset_id': ds['id'], 'status': 'partial_match'}\\n\\\n          \\        return {'dataset_id': '', 'status': 'KB not found: ' + kb_name}\\n\\\n          \\    except Exception as e:\\n        return {'dataset_id': '', 'status':\\\n          \\ 'error: ' + str(e)}\\n\"\n        code_language: python3\n        desc: Extract dataset ID from Dify list datasets API response\n        outputs:\n          dataset_id:\n            type: string\n          status:\n            type: string\n        selected: false\n        title: Extract Dataset ID\n        type: code\n        variables:\n        - value_selector:\n          - '1744700000007'\n          - body\n          variable: api_response\n        - value_selector:\n          - '1744700000001'\n          - kb_name\n          variable: kb_name\n      height: 97\n      id: '1744700000008'\n      position:\n        x: 3530\n        y: 255\n      positionAbsolute:\n        x: 3530\n        y: 255\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 243\n    - data:\n        cases:\n        - case_id: 'true'\n          conditions:\n          - comparison_operator: not empty\n            id: cond-dataset-001\n            value: ''\n            variable_selector:\n            - '1744700000008'\n            - dataset_id\n          id: 'true'\n          logical_operator: and\n        conditions:\n        - comparison_operator: not empty\n          id: cond-dataset-001\n          value: ''\n          variable_selector:\n          - '1744700000008'\n          - dataset_id\n        desc: Stop early if KB not found\n        logical_operator: and\n        selected: false\n        title: KB Found?\n        type: if-else\n      height: 153\n      id: '1744700000014'\n      position:\n        x: 3830\n        y: 244\n      positionAbsolute:\n        x: 3830\n        y: 244\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 243\n    - data:\n        desc: Early exit \u2014 Knowledge Base not found\n        outputs:\n        - value_selector:\n          - '1744700000008'\n          - status\n          variable: error_message\n        selected: false\n        title: Error - KB Not Found\n        type: end\n      height: 118\n      id: '1744700000015'\n      position:\n        x: 4096\n        y: 561\n      positionAbsolute:\n        x: 4096\n        y: 561\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 243\n    - data:\n        authorization:\n          config:\n            api_key: '{{#env.DIFY_API_KEY#}}'\n            header: Authorization\n            type: bearer\n          type: api-key\n        body:\n          data:\n          - type: text\n            value: ''\n          type: none\n        desc: Search document by name within the Knowledge Base\n        headers: ''\n        method: get\n        params: ''\n        retry_config:\n          max_retries: 3\n          retry_enabled: true\n          retry_interval: 100\n        selected: false\n        ssl_verify: true\n        timeout:\n          connect: 60\n          max_connect_retries: 3\n          max_retries: 3\n          read: 60\n          write: 60\n        title: Get Document ID\n        type: http-request\n        url: http://172.30.116.165/v1/datasets/{{#1744700000008.dataset_id#}}/documents\n        variables:\n        - value_selector:\n          - '1744700000008'\n          - dataset_id\n          variable: dataset_id\n        - value_selector:\n          - '1744700000001'\n          - doc_name\n          variable: doc_name\n      height: 217\n      id: '1744700000009'\n      position:\n        x: 4113\n        y: 270\n      positionAbsolute:\n        x: 4113\n        y: 270\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        code: \"import json\\n\\n\\ndef main(api_response: str, doc_name: str) -> dict:\\n\\\n          \\    try:\\n        data = json.loads(api_response)\\n        docs = data.get('data',\\\n          \\ [])\\n        for doc in docs:\\n            if doc.get('name', '').lower()\\\n          \\ == doc_name.lower():\\n                return {'doc_id': doc['id'], 'status':\\\n          \\ 'found'}\\n        for doc in docs:\\n            if doc_name.lower() in\\\n          \\ doc.get('name', '').lower():\\n                return {'doc_id': doc['id'],\\\n          \\ 'status': 'partial_match'}\\n        return {'doc_id': '', 'status': 'Doc\\\n          \\ not found: ' + doc_name}\\n    except Exception as e:\\n        return {'doc_id':\\\n          \\ '', 'status': 'error: ' + str(e)}\\n\"\n        code_language: python3\n        desc: Extract document ID from Dify list documents API response\n        outputs:\n          doc_id:\n            type: string\n          status:\n            type: string\n        selected: false\n        title: Extract Document ID\n        type: code\n        variables:\n        - value_selector:\n          - '1744700000009'\n          - body\n          variable: api_response\n        - value_selector:\n          - '1744700000001'\n          - doc_name\n          variable: doc_name\n      height: 97\n      id: '1744700000010'\n      position:\n        x: 4423\n        y: 270\n      positionAbsolute:\n        x: 4423\n        y: 270\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 243\n    - data:\n        cases:\n        - case_id: 'true'\n          conditions:\n          - comparison_operator: not empty\n            id: cond-doc-001\n            value: ''\n            variable_selector:\n            - '1744700000010'\n            - doc_id\n          id: 'true'\n          logical_operator: and\n        conditions:\n        - comparison_operator: not empty\n          id: cond-doc-001\n          value: ''\n          variable_selector:\n          - '1744700000010'\n          - doc_id\n        desc: Stop early if document not found\n        logical_operator: and\n        selected: false\n        title: Document Found?\n        type: if-else\n      height: 153\n      id: '1744700000016'\n      position:\n        x: 4733\n        y: 250\n      positionAbsolute:\n        x: 4733\n        y: 250\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 243\n    - data:\n        desc: Early exit \u2014 Document not found in the Knowledge Base\n        outputs:\n        - value_selector:\n          - '1744700000010'\n          - status\n          variable: error_message\n        selected: false\n        title: Error - Document Not Found\n        type: end\n      height: 134\n      id: '1744700000017'\n      position:\n        x: 5138\n        y: 542\n      positionAbsolute:\n        x: 5138\n        y: 542\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 243\n    - data:\n        authorization:\n          config:\n            api_key: '{{#env.DIFY_API_KEY#}}'\n            type: bearer\n          type: api-key\n        body:\n          data: []\n          type: none\n        desc: ''\n        headers: ''\n        method: get\n        params: ''\n        retry_config:\n          max_retries: 3\n          retry_enabled: true\n          retry_interval: 100\n        selected: false\n        ssl_verify: true\n        timeout:\n          max_connect_timeout: 0\n          max_read_timeout: 0\n          max_write_timeout: 0\n        title: Get Existing Fields\n        type: http-request\n        url: http://172.30.116.165/v1/datasets/{{#1744700000008.dataset_id#}}/metadata\n        variables: []\n      height: 173\n      id: '1776537849391'\n      position:\n        x: 4969\n        y: 18\n      positionAbsolute:\n        x: 4969\n        y: 18\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        code: \"import json\\n\\ndef main(metadata_json: str, existing_fields_response:\\\n          \\ str) -> dict:\\n    try:\\n        metadata = json.loads(metadata_json)\\n\\\n          \\        existing_response = json.loads(existing_fields_response)\\n    \\\n          \\    existing_fields = existing_response.get('doc_metadata', [])\\n     \\\n          \\   existing_map = {f['name']: f['id'] for f in existing_fields}\\n\\n   \\\n          \\     fields_to_create = []\\n        existing_assignments = []\\n\\n     \\\n          \\   for field_name, field_value in metadata.items():\\n            if isinstance(field_value,\\\n          \\ list):\\n                field_value = ', '.join(str(i) for i in field_value)\\n\\\n          \\            field_value = str(field_value)\\n            if field_name in\\\n          \\ existing_map:\\n                existing_assignments.append(json.dumps({\\n\\\n          \\                    'id': existing_map[field_name],\\n                 \\\n          \\   'name': field_name,\\n                    'value': field_value\\n    \\\n          \\            }))\\n            else:\\n                fields_to_create.append(field_name)\\n\\\n          \\n        return {\\n            'fields_to_create': fields_to_create,\\n\\\n          \\            'existing_assignments': json.dumps(existing_assignments)\\n\\\n          \\        }\\n    except Exception as e:\\n        return {'fields_to_create':\\\n          \\ [], 'existing_assignments': '[]'}\"\n        code_language: python3\n        desc: Parse metadata JSON into array of field names for iteration\n        outputs:\n          existing_assignments:\n            children: null\n            type: string\n          fields_to_create:\n            children: null\n            type: array[string]\n        selected: false\n        title: Prepare Field Names\n        type: code\n        variables:\n        - value_selector:\n          - '1776537849391'\n          - body\n          value_type: string\n          variable: existing_fields_response\n        - value_selector:\n          - '1744700000006'\n          - metadata_json\n          value_type: string\n          variable: metadata_json\n      height: 97\n      id: '1744700000020'\n      position:\n        x: 5041\n        y: 264\n      positionAbsolute:\n        x: 5041\n        y: 264\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 243\n    - data:\n        desc: Loop over each metadata field name and create it in the Knowledge Base\n        error_handle_mode: terminated\n        height: 305\n        is_parallel: false\n        iterator_selector:\n        - '1744700000020'\n        - fields_to_create\n        output_selector:\n        - '1744700000022'\n        - body\n        output_type: array[string]\n        parallel_nums: 10\n        selected: false\n        start_node_id: 1744700000021start\n        title: Create Metadata Fields\n        type: iteration\n        width: 720\n      height: 305\n      id: '1744700000021'\n      position:\n        x: 5377\n        y: 140\n      positionAbsolute:\n        x: 5377\n        y: 140\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 720\n      zIndex: 1\n    - data:\n        desc: ''\n        isInIteration: true\n        selected: false\n        title: ''\n        type: iteration-start\n      draggable: false\n      height: 48\n      id: 1744700000021start\n      parentId: '1744700000021'\n      position:\n        x: 24\n        y: 68\n      positionAbsolute:\n        x: 5401\n        y: 208\n      selectable: false\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom-iteration-start\n      width: 44\n      zIndex: 1002\n    - data:\n        authorization:\n          config:\n            api_key: '{{#env.DIFY_API_KEY#}}'\n            header: Authorization\n            type: bearer\n          type: api-key\n        body:\n          data:\n          - id: key-value-748\n            key: ''\n            type: text\n            value: '{\"type\": \"string\", \"name\": {{#1744700000021.item#}}}'\n          type: json\n        desc: Create one metadata field in the Knowledge Base\n        headers: ''\n        isIterationStart: true\n        method: post\n        params: ''\n        retry_config:\n          max_retries: 3\n          retry_enabled: true\n          retry_interval: 100\n        selected: false\n        ssl_verify: true\n        timeout:\n          connect: 60\n          max_connect_retries: 3\n          max_retries: 3\n          read: 60\n          write: 60\n        title: Create Metadata Field\n        type: http-request\n        url: http://172.30.116.165/v1/datasets/{{#1744700000008.dataset_id#}}/metadata\n        variables:\n        - value_selector:\n          - '1744700000021'\n          - item\n          variable: field_name\n        - value_selector:\n          - '1744700000008'\n          - dataset_id\n          variable: dataset_id\n      height: 217\n      id: '1744700000022'\n      isInIteration: true\n      parentId: '1744700000021'\n      position:\n        x: 130\n        y: 68\n      positionAbsolute:\n        x: 5507\n        y: 208\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n      zIndex: 1002\n    - data:\n        code: \"import json\\n\\ndef main(created_fields: list, existing_assignments:\\\n          \\ str, metadata_json: str, doc_id: str) -> dict:\\n    try:\\n        metadata\\\n          \\ = json.loads(metadata_json)\\n        metadata_list = []\\n\\n        # existing\\\n          \\ fields \u2014 already have IDs\\n        for assignment_raw in json.loads(existing_assignments):\\n\\\n          \\            try:\\n                a = json.loads(assignment_raw) if isinstance(assignment_raw,\\\n          \\ str) else assignment_raw\\n                if a.get('id') and a.get('name'):\\n\\\n          \\                    metadata_list.append({'id': a['id'], 'value': a['value'],\\\n          \\ 'name': a['name']})\\n            except Exception:\\n                continue\\n\\\n          \\n        # newly created fields\\n        for field_raw in created_fields:\\n\\\n          \\            try:\\n                field = json.loads(field_raw) if isinstance(field_raw,\\\n          \\ str) else field_raw\\n                name = field.get('name', '')\\n  \\\n          \\              fid = field.get('id', '')\\n                val = metadata.get(name,\\\n          \\ '')\\n                if isinstance(val, list):\\n                    val\\\n          \\ = ', '.join(str(i) for i in val)\\n                val = str(val)\\n   \\\n          \\             if fid and name:\\n                    metadata_list.append({'id':\\\n          \\ fid, 'value': val, 'name': name})\\n            except Exception:\\n   \\\n          \\             continue\\n\\n        operation_data = [{'document_id': doc_id,\\\n          \\ 'metadata_list': metadata_list}]\\n        return {\\n            'operation_data_json':\\\n          \\ json.dumps(operation_data),\\n            'field_count': str(len(metadata_list))\\n\\\n          \\        }\\n    except Exception as e:\\n        return {'operation_data_json':\\\n          \\ '[]', 'field_count': '0'}\"\n        code_language: python3\n        desc: Match created field IDs with metadata values and build update payload\n        outputs:\n          field_count:\n            type: string\n          operation_data_json:\n            type: string\n        selected: false\n        title: Build Update Payload\n        type: code\n        variables:\n        - value_selector:\n          - '1744700000021'\n          - output\n          variable: created_fields\n        - value_selector:\n          - '1744700000006'\n          - metadata_json\n          variable: metadata_json\n        - value_selector:\n          - '1744700000010'\n          - doc_id\n          variable: doc_id\n        - value_selector:\n          - '1744700000020'\n          - existing_assignments\n          value_type: string\n          variable: existing_assignments\n      height: 97\n      id: '1744700000023'\n      position:\n        x: 6128\n        y: 270\n      positionAbsolute:\n        x: 6128\n        y: 270\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 243\n    - data:\n        authorization:\n          config:\n            api_key: '{{#env.DIFY_API_KEY#}}'\n            header: Authorization\n            type: bearer\n          type: api-key\n        body:\n          data:\n          - type: text\n            value: '{\"operation_data\": {{#1744700000023.operation_data_json#}}'\n          type: json\n        desc: Assign all extracted metadata values to the document in one API call\n        headers: ''\n        method: post\n        params: ''\n        retry_config:\n          max_retries: 3\n          retry_enabled: true\n          retry_interval: 100\n        selected: false\n        ssl_verify: true\n        timeout:\n          connect: 60\n          max_connect_retries: 3\n          max_retries: 3\n          read: 60\n          write: 60\n        title: Update Document Metadata\n        type: http-request\n        url: http://172.30.116.165/v1/datasets/{{#1744700000008.dataset_id#}}/documents/metadata\n        variables:\n        - value_selector:\n          - '1744700000008'\n          - dataset_id\n          variable: dataset_id\n        - value_selector:\n          - '1744700000023'\n          - operation_data_json\n          variable: operation_data_json\n      height: 217\n      id: '1744700000024'\n      position:\n        x: 6413\n        y: 270\n      positionAbsolute:\n        x: 6413\n        y: 270\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        desc: ''\n        outputs:\n        - value_selector:\n          - '1744700000006'\n          - metadata_display\n          variable: extracted_metadata\n        - value_selector:\n          - '1744700000023'\n          - field_count\n          variable: fields_created\n        - value_selector:\n          - '1744700000024'\n          - body\n          variable: api_update_response\n        selected: false\n        title: End - Success\n        type: end\n      height: 142\n      id: '1744700000012'\n      position:\n        x: 6944\n        y: 318\n      positionAbsolute:\n        x: 6944\n        y: 318\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 243\n    - data:\n        cases:\n        - case_id: 'true'\n          conditions:\n          - comparison_operator: not empty\n            id: af735ff8-d03d-412a-a866-ac7a7a6cb99c\n            value: ''\n            varType: string\n            variable_selector:\n            - '1744700000001'\n            - Manual_Metadata\n          id: 'true'\n          logical_operator: and\n        desc: Enter Metadata\n        selected: false\n        title: Manual Metadata?\n        type: if-else\n      height: 153\n      id: '1776534341395'\n      position:\n        x: -91.27151946504694\n        y: 140.05736609728058\n      positionAbsolute:\n        x: -91.27151946504694\n        y: 140.05736609728058\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 243\n    - data:\n        author: ashish\n        desc: ''\n        height: 209\n        selected: false\n        showAuthor: true\n        text: '{\"root\":{\"children\":[{\"children\":[{\"children\":[{\"detail\":0,\"format\":0,\"mode\":\"normal\",\"style\":\"\",\"text\":\"KB\n          name should match the existing KB\",\"type\":\"text\",\"version\":1}],\"direction\":\"ltr\",\"format\":\"\",\"indent\":0,\"type\":\"listitem\",\"version\":1,\"value\":1},{\"children\":[{\"detail\":0,\"format\":0,\"mode\":\"normal\",\"style\":\"\",\"text\":\"Doc\n          name shold match document name in the existing KB\",\"type\":\"text\",\"version\":1}],\"direction\":\"ltr\",\"format\":\"\",\"indent\":0,\"type\":\"listitem\",\"version\":1,\"value\":2}],\"direction\":\"ltr\",\"format\":\"\",\"indent\":0,\"type\":\"list\",\"version\":1,\"listType\":\"bullet\",\"start\":1,\"tag\":\"ul\"},{\"children\":[],\"direction\":null,\"format\":\"\",\"indent\":0,\"type\":\"paragraph\",\"version\":1,\"textFormat\":0,\"textStyle\":\"\"},{\"children\":[{\"detail\":0,\"format\":0,\"mode\":\"normal\",\"style\":\"\",\"text\":\"Execute\n          the flow by providing any of the input value from the 3 optional fields.\",\"type\":\"text\",\"version\":1}],\"direction\":\"ltr\",\"format\":\"\",\"indent\":0,\"type\":\"paragraph\",\"version\":1,\"textFormat\":0,\"textStyle\":\"\"},{\"children\":[],\"direction\":\"ltr\",\"format\":\"\",\"indent\":0,\"type\":\"paragraph\",\"version\":1,\"textFormat\":0,\"textStyle\":\"\"},{\"children\":[{\"children\":[{\"detail\":0,\"format\":0,\"mode\":\"normal\",\"style\":\"\",\"text\":\"Doc\n          Content : The KB data in text for which metadata needs to be created.\",\"type\":\"text\",\"version\":1}],\"direction\":\"ltr\",\"format\":\"\",\"indent\":0,\"type\":\"listitem\",\"version\":1,\"value\":1},{\"children\":[{\"detail\":0,\"format\":0,\"mode\":\"normal\",\"style\":\"\",\"text\":\"Doc\n          File : The suppoted KB document for which metadata needs to be created.\",\"type\":\"text\",\"version\":1}],\"direction\":\"ltr\",\"format\":\"\",\"indent\":0,\"type\":\"listitem\",\"version\":1,\"value\":2},{\"children\":[{\"detail\":0,\"format\":0,\"mode\":\"normal\",\"style\":\"\",\"text\":\"Manual\n          Metadata : Pass valid json In the Manual Metadta field which contains valid\n          {key: value}\",\"type\":\"text\",\"version\":1}],\"direction\":\"ltr\",\"format\":\"\",\"indent\":0,\"type\":\"listitem\",\"version\":1,\"value\":3}],\"direction\":\"ltr\",\"format\":\"\",\"indent\":0,\"type\":\"list\",\"version\":1,\"listType\":\"bullet\",\"start\":1,\"tag\":\"ul\"}],\"direction\":\"ltr\",\"format\":\"\",\"indent\":0,\"type\":\"root\",\"version\":1}}'\n        theme: blue\n        title: ''\n        type: ''\n        width: 563\n      height: 209\n      id: '1776664527022'\n      position:\n        x: -587.1188500678336\n        y: 561.7199756783488\n      positionAbsolute:\n        x: -587.1188500678336\n        y: 561.7199756783488\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom-note\n      width: 563\n    viewport:\n      x: -1290.4452499113622\n      y: 86.18088237572232\n      zoom: 1.520627012930894\n"}
