dsl/batchno24Validator.yml
{"data": "app:\n  description: ''\n  icon: \ud83e\udd16\n  icon_background: '#FFEAD5'\n  mode: workflow\n  name: batch-no24-Validator\n  use_icon_as_answer_icon: false\ndependencies: []\nkind: app\nversion: 0.3.1\nworkflow:\n  conversation_variables: []\n  environment_variables: []\n  features:\n    file_upload:\n      allowed_file_extensions:\n      - .JPG\n      - .JPEG\n      - .PNG\n      - .GIF\n      - .WEBP\n      - .SVG\n      allowed_file_types:\n      - image\n      allowed_file_upload_methods:\n      - local_file\n      - remote_url\n      enabled: false\n      fileUploadConfig:\n        audio_file_size_limit: 50\n        batch_count_limit: 5\n        file_size_limit: 50\n        image_file_size_limit: 10\n        video_file_size_limit: 100\n        workflow_file_upload_limit: 10\n      image:\n        enabled: false\n        number_limits: 3\n        transfer_methods:\n        - local_file\n        - remote_url\n      number_limits: 3\n    opening_statement: ''\n    retriever_resource:\n      enabled: true\n    sensitive_word_avoidance:\n      enabled: false\n    speech_to_text:\n      enabled: false\n    suggested_questions: []\n    suggested_questions_after_answer:\n      enabled: false\n    text_to_speech:\n      enabled: false\n      language: ''\n      voice: ''\n  graph:\n    edges:\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: start\n        targetType: code\n      id: 1777971994189-source-1777973172859-target\n      source: '1777971994189'\n      sourceHandle: source\n      target: '1777973172859'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: code\n        targetType: end\n      id: 1777973172859--1777973355931-target\n      source: '1777973172859'\n      sourceHandle: source\n      target: '1777973355931'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    nodes:\n    - data:\n        desc: ''\n        selected: false\n        title: Start\n        type: start\n        variables:\n        - label: KB JSON String\n          max_length: 48\n          options: []\n          required: true\n          type: text-input\n          variable: kb_json\n        - label: Batch Rows (JSON String)\n          max_length: 48\n          options: []\n          required: true\n          type: text-input\n          variable: batch_rows\n      height: 115\n      id: '1777971994189'\n      position:\n        x: 80\n        y: 282\n      positionAbsolute:\n        x: 80\n        y: 282\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        code: \"import json\\n\\ndef main(batch_rows: list, kb_json: str) -> dict:\\n\\\n          \\    # Parse the knowledge base JSON\\n    try:\\n        kb = json.loads(kb_json)\\n\\\n          \\    except:\\n        return {\\\"deficiencies\\\": {\\\"deficiencies\\\": [\\\"Invalid\\\n          \\ KB JSON format\\\"]}}\\n    \\n    deficiency_list = []\\n    \\n    for row\\\n          \\ in batch_rows:\\n        # Only check rows where Revision/Abolition Category\\\n          \\ indicates change or new addition\\n        rev_cat = row.get(\\\"Revision/Abolition\\\n          \\ Category\\\", \\\"\\\")\\n        if rev_cat not in [\\\"Daily Allowance Change\\\"\\\n          , \\\"New Addition\\\"]:\\n            continue\\n        \\n        # Get the\\\n          \\ allowance amount (skip if None or \\\"Actual expenses\\\")\\n        amount\\\n          \\ = row.get(\\\"Allowance Amount\\\")\\n        if amount is None or amount ==\\\n          \\ \\\"Actual expenses\\\":\\n            continue\\n        \\n        cat1 = row.get(\\\"\\\n          Category 1\\\", \\\"\\\")\\n        cat2 = row.get(\\\"Category 2\\\", \\\"\\\")\\n    \\\n          \\    holiday = row.get(\\\"Holiday Category\\\", \\\"\\\")\\n        \\n        expected\\\n          \\ = None\\n        \\n        # ----- Exact category matching from real Form\\\n          \\ 3 -----\\n        if cat1 == \\\"Accommodation Expense\\\":\\n            if\\\n          \\ \\\"Executive\\\" in cat2:\\n                expected = kb[\\\"lodging\\\"][\\\"\\\n          Executive\\\"]\\n            else:\\n                expected = kb[\\\"lodging\\\"\\\n          ][\\\"Staff\\\"]\\n        \\n        elif cat1 == \\\"Includes Daily Allowance\\\n          \\ and nDay Trip (Business)\\\":\\n            # Day trip: use Staff 100km+\\\n          \\ rate\\n            expected = kb[\\\"day_trip_per_diem\\\"][\\\"Staff\\\"][\\\"100km_plus\\\"\\\n          ]\\n        \\n        elif cat1 == \\\"Includes Daily Allowance and nBusiness\\\n          \\ Trip (with overnight)\\\":\\n            expected = kb[\\\"overnight_per_diem\\\"\\\n          ][\\\"Staff\\\"]\\n        \\n        # Add more elif for other categories if\\\n          \\ they appear in future Form 3 files\\n        # Example:\\n        # elif\\\n          \\ cat1 == \\\"Meal Allowance\\\":\\n        #     if \\\"Breakfast\\\" in cat2:\\n\\\n          \\        #         expected = kb[\\\"meal_allowance\\\"][\\\"Breakfast\\\"]\\n  \\\n          \\      #     elif \\\"Dinner\\\" in cat2:\\n        #         expected = kb[\\\"\\\n          meal_allowance\\\"][\\\"Dinner\\\"]\\n        \\n        if expected is not None\\\n          \\ and amount != expected:\\n            deficiency_list.append(\\n       \\\n          \\         f\\\"{cat1} / {cat2} (Holiday:{holiday}) expected {expected}, found\\\n          \\ {amount}\\\"\\n            )\\n    \\n    return {\\\"deficiencies\\\": {\\\"deficiencies\\\"\\\n          : deficiency_list}}\"\n        code_language: python3\n        desc: ''\n        outputs:\n          deficiencies:\n            children: null\n            type: object\n        selected: true\n        title: Code\n        type: code\n        variables:\n        - value_selector:\n          - '1777971994189'\n          - batch_rows\n          value_type: string\n          variable: batch_rows\n        - value_selector:\n          - '1777971994189'\n          - kb_json\n          value_type: string\n          variable: kb_json\n      height: 53\n      id: '1777973172859'\n      position:\n        x: 384\n        y: 282\n      positionAbsolute:\n        x: 384\n        y: 282\n      selected: true\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        desc: ''\n        outputs:\n        - value_selector:\n          - '1777973172859'\n          - deficiencies\n          value_type: object\n          variable: result\n        selected: false\n        title: End\n        type: end\n      height: 90\n      id: '1777973355931'\n      position:\n        x: 688\n        y: 282\n      positionAbsolute:\n        x: 688\n        y: 282\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    viewport:\n      x: 64.96182970251033\n      y: 43.7015945271433\n      zoom: 0.8818875823590722\n"}
