dsl/Book_Translation.yml
{"data": "app:\n  description: ''\n  icon: \ud83e\udd16\n  icon_background: '#FFEAD5'\n  mode: workflow\n  name: 'Book Translation '\n  use_icon_as_answer_icon: false\ndependencies: []\nkind: app\nversion: 0.3.1\nworkflow:\n  conversation_variables: []\n  environment_variables: []\n  features:\n    file_upload:\n      allowed_file_extensions:\n      - .JPG\n      - .JPEG\n      - .PNG\n      - .GIF\n      - .WEBP\n      - .SVG\n      allowed_file_types:\n      - image\n      allowed_file_upload_methods:\n      - local_file\n      - remote_url\n      enabled: false\n      fileUploadConfig:\n        audio_file_size_limit: 50\n        batch_count_limit: 5\n        file_size_limit: 50\n        image_file_size_limit: 10\n        video_file_size_limit: 100\n        workflow_file_upload_limit: 10\n      image:\n        enabled: false\n        number_limits: 3\n        transfer_methods:\n        - local_file\n        - remote_url\n      number_limits: 3\n    opening_statement: ''\n    retriever_resource:\n      enabled: false\n    sensitive_word_avoidance:\n      enabled: false\n    speech_to_text:\n      enabled: false\n    suggested_questions: []\n    suggested_questions_after_answer:\n      enabled: false\n    text_to_speech:\n      enabled: false\n      language: ''\n      voice: ''\n  graph:\n    edges:\n    - data:\n        isInIteration: false\n        sourceType: start\n        targetType: code\n      id: 1711067409646-source-1717916867969-target\n      source: '1711067409646'\n      sourceHandle: source\n      target: '1717916867969'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        sourceType: code\n        targetType: iteration\n      id: 1717916867969-source-1717916955547-target\n      source: '1717916867969'\n      sourceHandle: source\n      target: '1717916955547'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: true\n        iteration_id: '1717916955547'\n        sourceType: llm\n        targetType: llm\n      id: 1717916961837-source-1717916977413-target\n      source: '1717916961837'\n      sourceHandle: source\n      target: '1717916977413'\n      targetHandle: target\n      type: custom\n      zIndex: 1002\n    - data:\n        isInIteration: true\n        iteration_id: '1717916955547'\n        sourceType: llm\n        targetType: llm\n      id: 1717916977413-source-1717916984996-target\n      source: '1717916977413'\n      sourceHandle: source\n      target: '1717916984996'\n      targetHandle: target\n      type: custom\n      zIndex: 1002\n    - data:\n        isInIteration: true\n        iteration_id: '1717916955547'\n        sourceType: llm\n        targetType: llm\n      id: 1717916984996-source-1717916991709-target\n      source: '1717916984996'\n      sourceHandle: source\n      target: '1717916991709'\n      targetHandle: target\n      type: custom\n      zIndex: 1002\n    - data:\n        isInIteration: false\n        sourceType: iteration\n        targetType: template-transform\n      id: 1717916955547-source-1717917057450-target\n      source: '1717916955547'\n      sourceHandle: source\n      target: '1717917057450'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        sourceType: template-transform\n        targetType: end\n      id: 1717917057450-source-1711068257370-target\n      source: '1717917057450'\n      sourceHandle: source\n      target: '1711068257370'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: true\n        isInLoop: false\n        iteration_id: '1717916955547'\n        sourceType: iteration-start\n        targetType: llm\n      id: 1717916955547start0-source-1717916961837-target\n      source: 1717916955547start0\n      sourceHandle: source\n      target: '1717916961837'\n      targetHandle: target\n      type: custom\n      zIndex: 1002\n    nodes:\n    - data:\n        desc: ''\n        selected: false\n        title: Start\n        type: start\n        variables:\n        - label: Input Text\n          max_length: null\n          options: []\n          required: true\n          type: paragraph\n          variable: input_text\n      dragging: false\n      height: 89\n      id: '1711067409646'\n      position:\n        x: 30\n        y: 301.5\n      positionAbsolute:\n        x: 30\n        y: 301.5\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        desc: ''\n        outputs:\n        - value_selector:\n          - '1717917057450'\n          - output\n          variable: final\n        selected: false\n        title: End\n        type: end\n      height: 90\n      id: '1711068257370'\n      position:\n        x: 2291\n        y: 301.5\n      positionAbsolute:\n        x: 2291\n        y: 301.5\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        code: \"\\ndef main(input_text: str) -> str:\\n    token_limit = 1000\\n    overlap\\\n          \\ = 100\\n    chunk_size = int(token_limit * 6 * (4/3))\\n\\n        # Initialize\\\n          \\ variables\\n    chunks = []\\n    start_index = 0\\n    text_length = len(input_text)\\n\\\n          \\n    # Loop until the end of the text is reached\\n    while start_index\\\n          \\ < text_length:\\n        # If we are not at the beginning, adjust the start_index\\\n          \\ to ensure overlap\\n        if start_index > 0:\\n            start_index\\\n          \\ -= overlap\\n\\n        # Calculate end index for the current chunk\\n  \\\n          \\      end_index = start_index + chunk_size\\n        if end_index > text_length:\\n\\\n          \\            end_index = text_length\\n\\n        # Add the current chunk\\\n          \\ to the list\\n        chunks.append(input_text[start_index:end_index])\\n\\\n          \\n        # Update the start_index for the next chunk\\n        start_index\\\n          \\ += chunk_size\\n\\n    return {\\n        \\\"chunks\\\": chunks,\\n    }\\n\"\n        code_language: python3\n        dependencies: []\n        desc: 'token_limit = 1000\n\n          overlap = 100'\n        outputs:\n          chunks:\n            children: null\n            type: array[string]\n        selected: false\n        title: Code\n        type: code\n        variables:\n        - value_selector:\n          - '1711067409646'\n          - input_text\n          variable: input_text\n      height: 97\n      id: '1717916867969'\n      position:\n        x: 336\n        y: 301.5\n      positionAbsolute:\n        x: 336\n        y: 301.5\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        desc: 'Take good care on maximum number of iterations.  '\n        error_handle_mode: terminated\n        height: 203\n        is_parallel: false\n        iterator_selector:\n        - '1717916867969'\n        - chunks\n        output_selector:\n        - '1717916991709'\n        - text\n        output_type: array[string]\n        parallel_nums: 10\n        selected: false\n        startNodeType: llm\n        start_node_id: 1717916955547start0\n        title: Iteration\n        type: iteration\n        width: 1289\n      height: 203\n      id: '1717916955547'\n      position:\n        x: 638\n        y: 301.5\n      positionAbsolute:\n        x: 638\n        y: 301.5\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 1289\n      zIndex: 1\n    - data:\n        context:\n          enabled: false\n          variable_selector: []\n        desc: ''\n        isInIteration: true\n        isIterationStart: true\n        iteration_id: '1717916955547'\n        model:\n          completion_params:\n            temperature: 0.7\n          mode: chat\n          name: gpt-4o\n          provider: langgenius/openai/openai\n        prompt_template:\n        - id: 7261280b-cb27-4f84-8363-b93e09246d16\n          role: system\n          text: \"<Task> Identify the technical terms in the users input. Use the following\\\n            \\ format {XXX} -> {XXX} to show the corresponding technical terms before\\\n            \\ and after translation. \\n\\n<Input Text> \\n{{#1717916955547.item#}}\\n\\\n            \\n<Example>\\n| \u82f1\u6587 | \u4e2d\u6587 |\\n| --- | --- |\\n| Prompt Engineering | \u63d0\u793a\u8bcd\u5de5\u7a0b\\\n            \\ |\\n| Text Generation \u00a0| \u6587\u672c\u751f\u6210 |\\n| Token \u00a0| Token |\\n| Prompt \u00a0| \u63d0\u793a\u8bcd\\\n            \\ |\\n| Meta Prompting \u00a0| \u5143\u63d0\u793a |\\n| diffusion models \u00a0| \u6269\u6563\u6a21\u578b |\\n| Agent\\\n            \\ \u00a0| \u667a\u80fd\u4f53 |\\n| Transformer \u00a0| Transformer |\\n| Zero Shot \u00a0| \u96f6\u6837\u672c |\\n| Few\\\n            \\ Shot \u00a0| \u5c11\u6837\u672c |\\n| chat window \u00a0| \u804a\u5929 |\\n| context | \u4e0a\u4e0b\u6587 |\\n| stock photo\\\n            \\ \u00a0| \u56fe\u5e93\u7167\u7247 |\\n\\n\\n<Technical Terms> \"\n        selected: false\n        title: 'Identify Terms '\n        type: llm\n        variables: []\n        vision:\n          configs:\n            detail: high\n          enabled: true\n      extent: parent\n      height: 95\n      id: '1717916961837'\n      parentId: '1717916955547'\n      position:\n        x: 117\n        y: 85\n      positionAbsolute:\n        x: 755\n        y: 386.5\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n      zIndex: 1001\n    - data:\n        context:\n          enabled: false\n          variable_selector: []\n        desc: ''\n        isInIteration: true\n        iteration_id: '1717916955547'\n        model:\n          completion_params:\n            temperature: 0.7\n          mode: chat\n          name: gpt-4o\n          provider: langgenius/openai/openai\n        prompt_template:\n        - id: 05e03f0d-c1a9-43ab-b4c0-44b55049434d\n          role: system\n          text: \"<Task> You are a professional translator proficient in Simplified\\\n            \\ Chinese especially skilled in translating professional academic papers\\\n            \\ into easy-to-understand popular science articles. Please help me translate\\\n            \\ the following english paragraph into Chinese, in a style similar to\\\n            \\ Chinese popular science articles .\\n<Constraints> \\nTranslate directly\\\n            \\ based on the English content, maintain the original format and do not\\\n            \\ omit any information. \\n<Before Translation> \\n{{#1717916955547.item#}}\\n\\\n            <Terms>\\n{{#1717916961837.text#}}\\n<Direct Translation> \"\n        selected: false\n        title: 1st Translation\n        type: llm\n        variables: []\n        vision:\n          configs:\n            detail: high\n          enabled: true\n      extent: parent\n      height: 95\n      id: '1717916977413'\n      parentId: '1717916955547'\n      position:\n        x: 421\n        y: 85\n      positionAbsolute:\n        x: 1059\n        y: 386.5\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n      zIndex: 1002\n    - data:\n        context:\n          enabled: false\n          variable_selector: []\n        desc: ''\n        isInIteration: true\n        iteration_id: '1717916955547'\n        model:\n          completion_params:\n            temperature: 0.7\n          mode: chat\n          name: gpt-4o\n          provider: langgenius/openai/openai\n        prompt_template:\n        - id: 9e6cc050-465e-4632-abc9-411acb255a95\n          role: system\n          text: \"<Task>\\nBased on the results of the direct translation, point out\\\n            \\ specific issues it have. Accurate descriptions are required, avoiding\\\n            \\ vague statements, and there's no need to add content or formats that\\\n            \\ were not present in the original text, including but not limited to:\\\n            \\ \\n- inconsistent with chinese expression habits, clearly indicate where\\\n            \\ it does not conform\\n- Clumsy sentences, specify the location, no need\\\n            \\ to offer suggestions for modification, which will be fixed during free\\\n            \\ translation\\n- Obscure and difficult to understand, attempts to explain\\\n            \\ may be made\\n- \u65e0\u6f0f\u8bd1\uff08\u539f\u2f42\u4e2d\u7684\u5173\u952e\u8bcd\u3001\u53e5\u2f26\u3001\u6bb5\u843d\u90fd\u5e94\u4f53\u73b0\u5728\u8bd1\u2f42\u4e2d\uff09\u3002\\n- \u2f46\u9519\u8bd1\uff08\u770b\u9519\u539f\u2f42\u3001\u8bef\u89e3\u539f\u2f42\u610f\u601d\u5747\u7b97\u9519\u8bd1\uff09\u3002\\n\\\n            - \u2f46\u6709\u610f\u589e\u52a0\u6216\u8005\u5220\u51cf\u7684\u539f\u2f42\u5185\u5bb9\uff08\u7ffb\u8bd1\u5e76\u2fae\u521b\u4f5c\uff0c\u9700\u5c0a\u91cd\u4f5c\u8005\u89c2 \u70b9\uff1b\u53ef\u4ee5\u9002\u5f53\u52a0\u8bd1\u8005\u6ce8\u8bf4\u660e\uff09\u3002\\n- \u8bd1\u2f42\u6d41\u7545\uff0c\u7b26\u5408\u4e2d\u2f42\u8868\u8fbe\u4e60\u60ef\u3002\\n- \u5173\u4e8e\u2f08\u540d\u7684\u7ffb\u8bd1\u3002\u6280\u672f\u56fe\u4e66\u4e2d\u7684\u2f08\u540d\u901a\u5e38\u4e0d\u7ffb\u8bd1\uff0c\u4f46\u662f\u2f00\u4e9b\u4f17\u6240\\\n            \\ \u5468\u77e5\u7684\u2f08\u540d\u9700\u2f64\u4e2d\u2f42\uff08\u5982\u4e54\u5e03\u65af\uff09\u3002\\n- \u5173\u4e8e\u4e66\u540d\u7684\u7ffb\u8bd1\u3002\u6709\u4e2d\u2f42\u7248\u7684\u56fe\u4e66\uff0c\u8bf7\u2f64\u4e2d\u2f42\u7248\u4e66\u540d\uff1b\u2f46\u4e2d\u2f42\u7248 \u7684\u56fe\u4e66\uff0c\u76f4\u63a5\u2f64\u82f1\u2f42\u4e66\u540d\u3002\\n- \u5173\u4e8e\u56fe\u8868\u7684\u7ffb\u8bd1\u3002\u8868\u683c\u4e2d\u7684\u8868\u9898\u3001\u8868\u5b57\u548c\u6ce8\u89e3\u7b49\u5747\u9700\u7ffb\u8bd1\u3002\u56fe\u9898\\\n            \\ \u9700\u8981\u7ffb\u8bd1\u3002\u754c\u2faf\u622a\u56fe\u4e0d\u9700\u8981\u7ffb\u8bd1\u56fe\u5b57\u3002\u89e3\u91ca\u6027\u56fe\u9700\u8981\u6309\u7167\u4e2d\u82f1\u2f42 \u5bf9\u7167\u683c\u5f0f\u7ed9\u51fa\u56fe\u5b57\u7ffb\u8bd1\u3002\\n- \u5173\u4e8e\u82f1\u2f42\u672f\u8bed\u7684\u8868\u8ff0\u3002\u82f1\u2f42\u672f\u8bed\u2fb8\u6b21\u51fa\u73b0\u65f6\uff0c\u5e94\u8be5\u6839\u636e\u8be5\u672f\u8bed\u7684\\\n            \\ \u6d41\u2f8f\u60c5\u51b5\uff0c\u4f18\u5148\u4f7f\u2f64\u7b80\u5199\u5f62\u5f0f\uff0c\u5e76\u5728\u5176\u540e\u4f7f\u2f64\u62ec\u53f7\u52a0\u82f1\u2f42\u3001\u4e2d\u2f42 \u5168\u79f0\u6ce8\u89e3\uff0c\u683c\u5f0f\u4e3a\uff08\u4e3e\u4f8b\uff09\uff1aHTML\uff08Hypertext Markup Language\uff0c\u8d85\u2f42\u672c\u6807\u8bc6\u8bed\u2f94\uff09\u3002\u7136\u540e\u5728\u4e0b\u2f42\u4e2d\u76f4\u63a5\u4f7f\u2f64\u7b80\u5199\u5f62\\\n            \\ \u5f0f\u3002\u5f53\u7136\uff0c\u5fc5\u8981\u65f6\u4e5f\u53ef\u4ee5\u6839\u636e\u8bed\u5883\u4f7f\u2f64\u4e2d\u3001\u82f1\u2f42\u5168\u79f0\u3002\\n- \u5173\u4e8e\u4ee3\u7801\u6e05\u5355\u548c\u4ee3\u7801\u2f5a\u6bb5\u3002\u539f\u4e66\u4e2d\u5305\u542b\u7684\u7a0b\u5e8f\u4ee3\u7801\u4e0d\u8981\u6c42\u8bd1\u8005\u5f55 \u2f0a\uff0c\u4f46\u5e94\u8be5\u4f7f\u2f64\u201c\u539f\u4e66P99\u2eda\u4ee3\u78011\u201d\uff08\u5373\u539f\u4e66\u7b2c99\u2eda\u4e2d\u7684\u7b2c\u2f00\u6bb5\u4ee3\\\n            \\ \u7801\uff09\u7684\u683c\u5f0f\u4f5c\u51fa\u6807\u6ce8\u3002\u540c\u65f6\uff0c\u8bd1\u8005\u5e94\u8be5\u5728\u6709\u6761\u4ef6\u7684\u60c5\u51b5\u4e0b\u68c0\u6838\u4ee3 \u7801\u7684\u6b63\u786e\u6027\uff0c\u5bf9\u53d1\u73b0\u7684\u9519\u8bef\u4ee5\u8bd1\u8005\u6ce8\u5f62\u5f0f\u8bf4\u660e\u3002\u7a0b\u5e8f\u4ee3\u7801\u4e2d\u7684\u6ce8 \u91ca\u8981\u6c42\u7ffb\u8bd1\uff0c\u5982\u679c\u8bd1\u7a3f\u4e2d\u6ca1\u6709\u4ee3\u7801\uff0c\u5219\u5e94\u8be5\u4ee5\u2f00\u53e5\u82f1\u2f42\uff08\u6ce8\u91ca\uff09\\\n            \\ \u2f00\u53e5\u4e2d\u2f42\uff08\u6ce8\u91ca\uff09\u7684\u5f62\u5f0f\u7ed9\u51fa\u6ce8\u91ca\u3002\\n- \u5173\u4e8e\u6807\u70b9\u7b26\u53f7\u3002\u8bd1\u7a3f\u4e2d\u7684\u6807\u70b9\u7b26\u53f7\u8981\u9075\u5faa\u4e2d\u2f42\u8868\u8fbe\u4e60\u60ef\u548c\u4e2d\u2f42\u6807 \u70b9\u7b26\u53f7\u7684\u4f7f\u2f64\u4e60\u60ef\uff0c\u4e0d\u80fd\u7167\u642c\u539f\u2f42\u7684\u6807\u70b9\u7b26\u53f7\u3002\\n\\\n            \\n<Direct Translation>\\n{{#1717916977413.text#}}\\n<Original Text>\\n{{#1717916955547.item#}}\\n\\\n            <Terms>\\n{{#1717916961837.text#}}\\n<Problems with the Direct Translation>\"\n        selected: false\n        title: 'Problems '\n        type: llm\n        variables: []\n        vision:\n          configs:\n            detail: high\n          enabled: true\n      extent: parent\n      height: 95\n      id: '1717916984996'\n      parentId: '1717916955547'\n      position:\n        x: 725\n        y: 85\n      positionAbsolute:\n        x: 1363\n        y: 386.5\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n      zIndex: 1002\n    - data:\n        context:\n          enabled: false\n          variable_selector: []\n        desc: ''\n        isInIteration: true\n        iteration_id: '1717916955547'\n        model:\n          completion_params:\n            temperature: 0.7\n          mode: chat\n          name: gpt-4o\n          provider: langgenius/openai/openai\n        prompt_template:\n        - id: 4d7ae758-2d7b-4404-ad9f-d6748ee64439\n          role: system\n          text: \"<Task>\\nBased on the results of the direct translation in the first\\\n            \\ step and the problems identified in the second step, re-translate to\\\n            \\ achieve a meaning-based interpretation. Ensure the original intent of\\\n            \\ the content is preserved while making it easier to understand and more\\\n            \\ in line with Chinese expression habits. All the while maintaining the\\\n            \\ original format unchanged. \\n\\n<Guidance>\\n- inconsistent with chinese\\\n            \\ expression habits, clearly indicate where it does not conform\\n- Clumsy\\\n            \\ sentences, specify the location, no need to offer suggestions for modification,\\\n            \\ which will be fixed during free translation\\n- Obscure and difficult\\\n            \\ to understand, attempts to explain may be made\\n- \u65e0\u6f0f\u8bd1\uff08\u539f\u2f42\u4e2d\u7684\u5173\u952e\u8bcd\u3001\u53e5\u2f26\u3001\u6bb5\u843d\u90fd\u5e94\u4f53\u73b0\u5728\u8bd1\u2f42\u4e2d\uff09\u3002\\n\\\n            - \u2f46\u9519\u8bd1\uff08\u770b\u9519\u539f\u2f42\u3001\u8bef\u89e3\u539f\u2f42\u610f\u601d\u5747\u7b97\u9519\u8bd1\uff09\u3002\\n- \u2f46\u6709\u610f\u589e\u52a0\u6216\u8005\u5220\u51cf\u7684\u539f\u2f42\u5185\u5bb9\uff08\u7ffb\u8bd1\u5e76\u2fae\u521b\u4f5c\uff0c\u9700\u5c0a\u91cd\u4f5c\u8005\u89c2 \u70b9\uff1b\u53ef\u4ee5\u9002\u5f53\u52a0\u8bd1\u8005\u6ce8\u8bf4\u660e\uff09\u3002\\n\\\n            - \u8bd1\u2f42\u6d41\u7545\uff0c\u7b26\u5408\u4e2d\u2f42\u8868\u8fbe\u4e60\u60ef\u3002\\n- \u5173\u4e8e\u2f08\u540d\u7684\u7ffb\u8bd1\u3002\u6280\u672f\u56fe\u4e66\u4e2d\u7684\u2f08\u540d\u901a\u5e38\u4e0d\u7ffb\u8bd1\uff0c\u4f46\u662f\u2f00\u4e9b\u4f17\u6240 \u5468\u77e5\u7684\u2f08\u540d\u9700\u2f64\u4e2d\u2f42\uff08\u5982\u4e54\u5e03\u65af\uff09\u3002\\n- \u5173\u4e8e\u4e66\u540d\u7684\u7ffb\u8bd1\u3002\u6709\u4e2d\u2f42\u7248\u7684\u56fe\u4e66\uff0c\u8bf7\u2f64\u4e2d\u2f42\u7248\u4e66\u540d\uff1b\u2f46\u4e2d\u2f42\u7248\\\n            \\ \u7684\u56fe\u4e66\uff0c\u76f4\u63a5\u2f64\u82f1\u2f42\u4e66\u540d\u3002\\n- \u5173\u4e8e\u56fe\u8868\u7684\u7ffb\u8bd1\u3002\u8868\u683c\u4e2d\u7684\u8868\u9898\u3001\u8868\u5b57\u548c\u6ce8\u89e3\u7b49\u5747\u9700\u7ffb\u8bd1\u3002\u56fe\u9898 \u9700\u8981\u7ffb\u8bd1\u3002\u754c\u2faf\u622a\u56fe\u4e0d\u9700\u8981\u7ffb\u8bd1\u56fe\u5b57\u3002\u89e3\u91ca\u6027\u56fe\u9700\u8981\u6309\u7167\u4e2d\u82f1\u2f42\\\n            \\ \u5bf9\u7167\u683c\u5f0f\u7ed9\u51fa\u56fe\u5b57\u7ffb\u8bd1\u3002\\n- \u5173\u4e8e\u82f1\u2f42\u672f\u8bed\u7684\u8868\u8ff0\u3002\u82f1\u2f42\u672f\u8bed\u2fb8\u6b21\u51fa\u73b0\u65f6\uff0c\u5e94\u8be5\u6839\u636e\u8be5\u672f\u8bed\u7684 \u6d41\u2f8f\u60c5\u51b5\uff0c\u4f18\u5148\u4f7f\u2f64\u7b80\u5199\u5f62\u5f0f\uff0c\u5e76\u5728\u5176\u540e\u4f7f\u2f64\u62ec\u53f7\u52a0\u82f1\u2f42\u3001\u4e2d\u2f42\\\n            \\ \u5168\u79f0\u6ce8\u89e3\uff0c\u683c\u5f0f\u4e3a\uff08\u4e3e\u4f8b\uff09\uff1aHTML\uff08Hypertext Markup Language\uff0c\u8d85\u2f42\u672c\u6807\u8bc6\u8bed\u2f94\uff09\u3002\u7136\u540e\u5728\u4e0b\u2f42\u4e2d\u76f4\u63a5\u4f7f\u2f64\u7b80\u5199\u5f62 \u5f0f\u3002\u5f53\u7136\uff0c\u5fc5\u8981\u65f6\u4e5f\u53ef\u4ee5\u6839\u636e\u8bed\u5883\u4f7f\u2f64\u4e2d\u3001\u82f1\u2f42\u5168\u79f0\u3002\\n\\\n            - \u5173\u4e8e\u4ee3\u7801\u6e05\u5355\u548c\u4ee3\u7801\u2f5a\u6bb5\u3002\u539f\u4e66\u4e2d\u5305\u542b\u7684\u7a0b\u5e8f\u4ee3\u7801\u4e0d\u8981\u6c42\u8bd1\u8005\u5f55 \u2f0a\uff0c\u4f46\u5e94\u8be5\u4f7f\u2f64\u201c\u539f\u4e66P99\u2eda\u4ee3\u78011\u201d\uff08\u5373\u539f\u4e66\u7b2c99\u2eda\u4e2d\u7684\u7b2c\u2f00\u6bb5\u4ee3 \u7801\uff09\u7684\u683c\u5f0f\u4f5c\u51fa\u6807\u6ce8\u3002\u540c\u65f6\uff0c\u8bd1\u8005\u5e94\u8be5\u5728\u6709\u6761\u4ef6\u7684\u60c5\u51b5\u4e0b\u68c0\u6838\u4ee3\\\n            \\ \u7801\u7684\u6b63\u786e\u6027\uff0c\u5bf9\u53d1\u73b0\u7684\u9519\u8bef\u4ee5\u8bd1\u8005\u6ce8\u5f62\u5f0f\u8bf4\u660e\u3002\u7a0b\u5e8f\u4ee3\u7801\u4e2d\u7684\u6ce8 \u91ca\u8981\u6c42\u7ffb\u8bd1\uff0c\u5982\u679c\u8bd1\u7a3f\u4e2d\u6ca1\u6709\u4ee3\u7801\uff0c\u5219\u5e94\u8be5\u4ee5\u2f00\u53e5\u82f1\u2f42\uff08\u6ce8\u91ca\uff09 \u2f00\u53e5\u4e2d\u2f42\uff08\u6ce8\u91ca\uff09\u7684\u5f62\u5f0f\u7ed9\u51fa\u6ce8\u91ca\u3002\\n\\\n            - \u5173\u4e8e\u6807\u70b9\u7b26\u53f7\u3002\u8bd1\u7a3f\u4e2d\u7684\u6807\u70b9\u7b26\u53f7\u8981\u9075\u5faa\u4e2d\u2f42\u8868\u8fbe\u4e60\u60ef\u548c\u4e2d\u2f42\u6807 \u70b9\u7b26\u53f7\u7684\u4f7f\u2f64\u4e60\u60ef\uff0c\u4e0d\u80fd\u7167\u642c\u539f\u2f42\u7684\u6807\u70b9\u7b26\u53f7\u3002\\n\\n<Direct Translation>\\\n            \\ \\n{{#1717916977413.text#}}\\n<problems in the first translation>\\n{{#1717916984996.text#}}\\n\\\n            <Original Text>\\n{{#1711067409646.input_text#}}\\n<Terms>\\n{{#1717916961837.text#}}\\n\\\n            <Free Translation> \"\n        selected: false\n        title: '2nd Translation '\n        type: llm\n        variables: []\n        vision:\n          configs:\n            detail: high\n          enabled: true\n      extent: parent\n      height: 95\n      id: '1717916991709'\n      parentId: '1717916955547'\n      position:\n        x: 1029\n        y: 85\n      positionAbsolute:\n        x: 1667\n        y: 386.5\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n      zIndex: 1002\n    - data:\n        desc: 'Combine all chunks of translation. '\n        selected: false\n        template: '{{ translated_text | join('' '') }}'\n        title: Template\n        type: template-transform\n        variables:\n        - value_selector:\n          - '1717916955547'\n          - output\n          variable: translated_text\n      height: 81\n      id: '1717917057450'\n      position:\n        x: 1987\n        y: 301.5\n      positionAbsolute:\n        x: 1987\n        y: 301.5\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        author: Dify\n        desc: ''\n        height: 186\n        selected: false\n        showAuthor: true\n        text: '{\"root\":{\"children\":[{\"children\":[{\"detail\":0,\"format\":0,\"mode\":\"normal\",\"style\":\"\",\"text\":\"Code\n          node separates the input_text into chunks with length of token_limit. Each\n          chunk overlap with each other to make sure the texts are consistent.  \",\"type\":\"text\",\"version\":1}],\"direction\":\"ltr\",\"format\":\"\",\"indent\":0,\"type\":\"paragraph\",\"version\":1,\"textFormat\":0},{\"children\":[],\"direction\":null,\"format\":\"\",\"indent\":0,\"type\":\"paragraph\",\"version\":1,\"textFormat\":0},{\"children\":[{\"detail\":0,\"format\":0,\"mode\":\"normal\",\"style\":\"\",\"text\":\"The\n          code node outputs an array of segmented texts of input_texts. \",\"type\":\"text\",\"version\":1}],\"direction\":\"ltr\",\"format\":\"\",\"indent\":0,\"type\":\"paragraph\",\"version\":1,\"textFormat\":0}],\"direction\":\"ltr\",\"format\":\"\",\"indent\":0,\"type\":\"root\",\"version\":1}}'\n        theme: blue\n        title: ''\n        type: ''\n        width: 340\n      height: 186\n      id: '1718990593686'\n      position:\n        x: 259.3026056936437\n        y: 451.6924912936374\n      positionAbsolute:\n        x: 259.3026056936437\n        y: 451.6924912936374\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom-note\n      width: 340\n    - data:\n        author: Dify\n        desc: ''\n        height: 128\n        selected: false\n        showAuthor: true\n        text: '{\"root\":{\"children\":[{\"children\":[{\"detail\":0,\"format\":0,\"mode\":\"normal\",\"style\":\"\",\"text\":\"Iterate\n          through all the elements in output of the code node and translate each chunk\n          using a three steps translation workflow. \",\"type\":\"text\",\"version\":1}],\"direction\":\"ltr\",\"format\":\"\",\"indent\":0,\"type\":\"paragraph\",\"version\":1,\"textFormat\":0}],\"direction\":\"ltr\",\"format\":\"\",\"indent\":0,\"type\":\"root\",\"version\":1}}'\n        theme: blue\n        title: ''\n        type: ''\n        width: 355\n      height: 128\n      id: '1718991836605'\n      position:\n        x: 764.3891977435923\n        y: 530.8917807505335\n      positionAbsolute:\n        x: 764.3891977435923\n        y: 530.8917807505335\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom-note\n      width: 355\n    - data:\n        author: Dify\n        desc: ''\n        height: 126\n        selected: false\n        showAuthor: true\n        text: '{\"root\":{\"children\":[{\"children\":[{\"detail\":0,\"format\":0,\"mode\":\"normal\",\"style\":\"\",\"text\":\"Avoid\n          using a high token_limit, LLM''s performance decreases with longer context\n          length for gpt-4o. \",\"type\":\"text\",\"version\":1}],\"direction\":\"ltr\",\"format\":\"\",\"indent\":0,\"type\":\"paragraph\",\"version\":1,\"textFormat\":0},{\"children\":[],\"direction\":null,\"format\":\"\",\"indent\":0,\"type\":\"paragraph\",\"version\":1,\"textFormat\":0},{\"children\":[{\"detail\":0,\"format\":0,\"mode\":\"normal\",\"style\":\"\",\"text\":\"Recommend\n          to use less than or equal to 1000 tokens. \",\"type\":\"text\",\"version\":1}],\"direction\":\"ltr\",\"format\":\"\",\"indent\":0,\"type\":\"paragraph\",\"version\":1,\"textFormat\":0}],\"direction\":\"ltr\",\"format\":\"\",\"indent\":0,\"type\":\"root\",\"version\":1}}'\n        theme: yellow\n        title: ''\n        type: ''\n        width: 351\n      height: 126\n      id: '1718991882984'\n      position:\n        x: 304.49115824454367\n        y: 148.4042994607805\n      positionAbsolute:\n        x: 304.49115824454367\n        y: 148.4042994607805\n      selected: true\n      sourcePosition: right\n      targetPosition: left\n      type: custom-note\n      width: 351\n    - data:\n        desc: ''\n        isInIteration: true\n        title: ''\n        type: iteration-start\n      draggable: false\n      height: 48\n      id: 1717916955547start0\n      parentId: '1717916955547'\n      position:\n        x: 24\n        y: 68\n      positionAbsolute:\n        x: 662\n        y: 369.5\n      selectable: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom-iteration-start\n      width: 44\n      zIndex: 1002\n    viewport:\n      x: 335.92505067152274\n      y: 18.806553508850584\n      zoom: 0.8705505632961259\n"}
