dsl/COM_File_Validator.yml
{"data": "app:\n  description: This workflow accepts file (single or multiple), extensions (in case\n    of more than one, use comma separated string), preferred language and file size.\n    It will validated as per the input parameters and returns file metadata.\n  icon: \ud83e\udd16\n  icon_background: '#FFEAD5'\n  mode: workflow\n  name: COM_File_Validator\n  use_icon_as_answer_icon: false\ndependencies: []\nkind: app\nversion: 0.3.1\nworkflow:\n  conversation_variables: []\n  environment_variables: []\n  features:\n    file_upload:\n      allowed_file_extensions:\n      - .JPG\n      - .JPEG\n      - .PNG\n      - .GIF\n      - .WEBP\n      - .SVG\n      allowed_file_types:\n      - image\n      allowed_file_upload_methods:\n      - local_file\n      - remote_url\n      enabled: false\n      fileUploadConfig:\n        audio_file_size_limit: 50\n        batch_count_limit: 5\n        file_size_limit: 50\n        image_file_size_limit: 10\n        video_file_size_limit: 100\n        workflow_file_upload_limit: 10\n      image:\n        enabled: false\n        number_limits: 3\n        transfer_methods:\n        - local_file\n        - remote_url\n      number_limits: 3\n    opening_statement: ''\n    retriever_resource:\n      enabled: true\n    sensitive_word_avoidance:\n      enabled: false\n    speech_to_text:\n      enabled: false\n    suggested_questions: []\n    suggested_questions_after_answer:\n      enabled: false\n    text_to_speech:\n      enabled: false\n      language: ''\n      voice: ''\n  graph:\n    edges:\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: start\n        targetType: code\n      id: 1776406092290-source-1776844633987-target\n      source: '1776406092290'\n      sourceHandle: source\n      target: '1776844633987'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInLoop: false\n        sourceType: code\n        targetType: end\n      id: 1776406097314-source-1776406134561-target\n      source: '1776406097314'\n      sourceHandle: source\n      target: '1776406134561'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInLoop: false\n        sourceType: code\n        targetType: code\n      id: 1776844633987-source-1776406097314-target\n      source: '1776844633987'\n      sourceHandle: source\n      target: '1776406097314'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    nodes:\n    - data:\n        desc: This node defines the user input such as file_input as list of files,\n          required_extension (one or more extension) as comma separated string, max_file_size\n          as file size in mb and preferred language.\n        selected: false\n        title: User Input\n        type: start\n        variables:\n        - allowed_file_extensions: []\n          allowed_file_types:\n          - image\n          - document\n          allowed_file_upload_methods:\n          - local_file\n          default: ''\n          hint: ''\n          label: file_input\n          max_length: 1\n          options: []\n          placeholder: ''\n          required: true\n          type: file-list\n          variable: file_input\n        - default: ''\n          hide: false\n          hint: ''\n          label: file extension\n          max_length: 12\n          options: []\n          placeholder: ''\n          required: true\n          type: text-input\n          variable: required_extension\n        - default: '0'\n          hint: ''\n          label: file size\n          max_length: 48\n          options: []\n          placeholder: ''\n          required: true\n          type: number\n          variable: max_file_size\n        - default: ''\n          hint: ''\n          label: preferred_language\n          max_length: 48\n          options: []\n          placeholder: ''\n          required: true\n          type: text-input\n          variable: preferred_language\n      height: 275\n      id: '1776406092290'\n      position:\n        x: 244.3995621150799\n        y: 96.52015842327546\n      positionAbsolute:\n        x: 244.3995621150799\n        y: 96.52015842327546\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        code: \"def main(file_input: list, required_extension: str, max_file_size:\\\n          \\ float, pref_lang: str, config_obj: dict):\\n    \\n    master_extensions\\\n          \\ = config_obj.get(\\\"extension_list\\\", [])\\n    texts = config_obj.get(pref_lang,\\\n          \\ {})\\n\\n    file_info_list = []\\n    total_workflow_size = 0\\n    total_valid_file_size\\\n          \\ = 0\\n    max_bytes = max_file_size * 1024 * 1024\\n    error_summary =\\\n          \\ []\\n\\n   # first test the required extensions\\n    raw_list = required_extension.split(',')\\n\\\n          \\    requested_exts = [ext.strip().lower().replace('.', '') for ext in raw_list\\\n          \\ if ext.strip()]\\n\\n    display_requested = \\\", \\\".join([f\\\".{e}\\\" for\\\n          \\ e in requested_exts])\\n    \\n    # Check if requested types are supported\\\n          \\ by system config\\n    incorr_master_exts = [ext for ext in requested_exts\\\n          \\ if ext not in master_extensions]\\n    \\n    if incorr_master_exts:\\n \\\n          \\       return {\\n            \\\"is_valid\\\": \\\"false\\\",\\n            \\\"error\\\"\\\n          : f\\\"{texts.get('unsupported', '')}{', '.join(incorr_master_exts)}\\\",\\n\\\n          \\            \\\"total_size\\\": 0,\\n            \\\"total_valid_file_size\\\":\\\n          \\ 0,\\n            \\\"file_info\\\": [],\\n            \\\"valid_list\\\": []\\n \\\n          \\       }\\n\\n    # 3. Step 2: Validate the uploaded files\\n    overall_is_valid\\\n          \\ = True\\n\\n    for file in file_input:\\n        f_name = file.get('filename',\\\n          \\ 'unknown')\\n        f_ext = file.get('extension', '').lower().replace('.',\\\n          \\ '')\\n        f_size = file.get('size', 0)\\n        f_url = file.get('url',\\\n          \\ '')\\n        \\n        total_workflow_size += f_size\\n        current_file_valid\\\n          \\ = True\\n        current_error = \\\"\\\"\\n\\n        # Logic checks using config_obj\\n\\\n          \\        if f_size <= 0:\\n            current_file_valid = False\\n     \\\n          \\       current_error = texts.get('empty', '')\\n\\n        elif f_ext not\\\n          \\ in requested_exts:\\n            current_file_valid = False\\n         \\\n          \\   current_error = texts.get('mismatch', '').format(ext=f_ext, \\n     \\\n          \\           requested_ext=display_requested)\\n\\n        elif f_size > max_bytes:\\n\\\n          \\            current_file_valid = False\\n            current_error = texts.get('oversize',\\\n          \\ '').format(max_size=max_file_size)\\n\\n        # Update totals\\n      \\\n          \\  if current_file_valid:\\n            total_valid_file_size += f_size\\n\\\n          \\        else:\\n            overall_is_valid = False\\n            error_summary.append(f\\\"\\\n          {f_name}: {current_error}\\\")\\n\\n        file_info_list.append({\\n      \\\n          \\      \\\"is_valid\\\": \\\"true\\\" if current_file_valid else \\\"false\\\",\\n  \\\n          \\          \\\"error\\\": current_error,\\n            \\\"name\\\": f_name.rsplit('.',\\\n          \\ 1)[0] if '.' in f_name else f_name,\\n            \\\"type\\\": f_ext,\\n  \\\n          \\          \\\"size\\\": f_size,\\n            \\\"url\\\": f_url\\n        })\\n\\n\\\n          \\    return {\\n        \\\"is_valid\\\": \\\"true\\\" if overall_is_valid else \\\"\\\n          false\\\",\\n        \\\"error\\\": \\\"; \\\".join(error_summary) if error_summary\\\n          \\ else \\\"\\\",\\n        \\\"total_size\\\": total_workflow_size,\\n        \\\"total_valid_file_size\\\"\\\n          : total_valid_file_size,\\n        \\\"file_info\\\": file_info_list,\\n     \\\n          \\   \\\"valid_list\\\": requested_exts\\n    }\"\n        code_language: python3\n        desc: This code node takes three inputs such as file, file extension and file\n          size and does the validation and returns file name, size, type, total type\n          and url.\n        outputs:\n          error:\n            children: null\n            type: string\n          file_info:\n            children: null\n            type: array[object]\n          is_valid:\n            children: null\n            type: string\n          total_size:\n            children: null\n            type: number\n          total_valid_file_size:\n            children: null\n            type: number\n          valid_list:\n            children: null\n            type: array[string]\n        selected: false\n        title: Code_file_validator\n        type: code\n        variables:\n        - value_selector:\n          - '1776406092290'\n          - file_input\n          value_type: array[file]\n          variable: file_input\n        - value_selector:\n          - '1776406092290'\n          - required_extension\n          value_type: string\n          variable: required_extension\n        - value_selector:\n          - '1776406092290'\n          - max_file_size\n          value_type: number\n          variable: max_file_size\n        - value_selector:\n          - '1776406092290'\n          - preferred_language\n          value_type: string\n          variable: pref_lang\n        - value_selector:\n          - '1776844633987'\n          - result\n          value_type: object\n          variable: config_obj\n      height: 129\n      id: '1776406097314'\n      position:\n        x: 963.2795070852255\n        y: 96.52015842327546\n      positionAbsolute:\n        x: 963.2795070852255\n        y: 96.52015842327546\n      selected: true\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        desc: This node return file metadata from code file validator node.\n        outputs:\n        - value_selector:\n          - '1776406097314'\n          - is_valid\n          value_type: boolean\n          variable: is_valid\n        - value_selector:\n          - '1776406097314'\n          - error\n          value_type: string\n          variable: error\n        - value_selector:\n          - '1776406097314'\n          - total_size\n          value_type: number\n          variable: total_size\n        - value_selector:\n          - '1776406097314'\n          - total_valid_file_size\n          value_type: number\n          variable: total_valid_file_size\n        - value_selector:\n          - '1776406097314'\n          - file_info\n          value_type: array[object]\n          variable: file_info\n        - value_selector:\n          - '1776406097314'\n          - valid_list\n          value_type: array[string]\n          variable: valid_list\n        selected: false\n        title: File metadata output\n        type: end\n      height: 264\n      id: '1776406134561'\n      position:\n        x: 1294.9132129064897\n        y: 96.52015842327546\n      positionAbsolute:\n        x: 1294.9132129064897\n        y: 96.52015842327546\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        code: \"master_extensions = (\\n        \\\"txt\\\", \\\"md\\\", \\\"mdx\\\", \\\"markdown\\\"\\\n          , \\\"pdf\\\", \\\"html\\\", \\\"xlsx\\\", \\\"xls\\\", \\\"doc\\\", \\\"docx\\\", \\\"csv\\\", \\\"eml\\\"\\\n          , \\\"msg\\\", \\\"pptx\\\", \\\"ppt\\\", \\\"xml\\\", \\\"epub\\\", \\\"jpg\\\", \\\"jpeg\\\", \\\"png\\\"\\\n          , \\\"gif\\\", \\\"webp\\\", \\\"svg\\\", \\\"mp3\\\", \\\"m4a\\\", \\\"wav\\\", \\\"amr\\\", \\\"mpga\\\"\\\n          , \\\"mp4\\\", \\\"mov\\\", \\\"mpeg\\\", \\\"webm\\\" )\\n\\ndef main():\\n    data = {\\n\\\n          \\        \\\"en\\\": {\\n            \\\"unsupported\\\": \\\"Unsupported system extensions\\\n          \\ requested: \\\",\\n            \\\"empty\\\": \\\"The file is empty.\\\",\\n     \\\n          \\       \\\"mismatch\\\": \\\"Invalid .{ext}, only {requested_ext} is required\\\"\\\n          ,\\n            \\\"oversize\\\": \\\"File exceeds {max_size}MB limit.\\\"\\n    \\\n          \\    },\\n        \\\"jp\\\": {\\n            \\\"unsupported\\\": \\\"\u30b5\u30dd\u30fc\u30c8\u3055\u308c\u3066\u3044\u306a\u3044\u30b7\u30b9\u30c6\u30e0\u62e1\u5f35\u5b50\u304c\u8981\u6c42\u3055\u308c\u307e\u3057\u305f:\\\n          \\ \\\",\\n            \\\"empty\\\": \\\"\u30d5\u30a1\u30a4\u30eb\u304c\u7a7a\u3067\u3059\u3002\\\",\\n            \\\"mismatch\\\":\\\n          \\ \\\".{ext} \u306f\u7121\u52b9\u3067\u3059\u3002{requested_ext} \u306e\u307f\u304c\u5fc5\u8981\u3067\u3059\u3002\\\",\\n            \\\"oversize\\\":\\\n          \\ \\\"\u30d5\u30a1\u30a4\u30eb\u30b5\u30a4\u30ba\u304c\u5236\u9650\u306e {max_size}MB \u3092\u8d85\u3048\u3066\u3044\u307e\u3059\u3002\\\"\\n        },\\n        \\\"extension_list\\\"\\\n          : master_extensions\\n    }\\n\\n    return{\\n        \\\"result\\\": data\\n  \\\n          \\  }\"\n        code_language: python3\n        desc: This node stores all config such as languages and master extension list\n          which will be used by later node.\n        outputs:\n          result:\n            children: null\n            type: object\n        selected: false\n        title: code_config\n        type: code\n        variables: []\n      height: 113\n      id: '1776844633987'\n      position:\n        x: 591.3063020599528\n        y: 96.52015842327546\n      positionAbsolute:\n        x: 591.3063020599528\n        y: 96.52015842327546\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    viewport:\n      x: -60.80293841962464\n      y: 127.24963496776073\n      zoom: 0.5743491774985179\n"}
