dsl/Currency_Converter_Code_node.yml
app:
  description: Converts any currency pair using ExchangeRate-API. Enter the source
    currency, target currency, and amount — the converted value is returned instantly.
  icon: 💱
  icon_background: '#FFEAD5'
  mode: advanced-chat
  name: Currency Converter Code node
  use_icon_as_answer_icon: false
dependencies: []
kind: app
version: 0.3.1
workflow:
  conversation_variables: []
  environment_variables:
  - description: ''
    id: f9397188-09a1-4268-bc2f-e6d8f8f1f313
    name: EXCHANGE_API_KEY
    selector:
    - env
    - EXCHANGE_API_KEY
    value: 9b49904ae724c1f2cc47c482
    value_type: string
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 50
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: '💱 **Currency Converter**


      Please fill in the three fields to convert between any two currencies:

      - **From Currency** — e.g. `EUR`

      - **To Currency**   — e.g. `GBP`

      - **Amount**        — e.g. `100`

      '
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions:
    - EUR → GBP, amount 100
    - USD → INR, amount 500
    - GBP → JPY, amount 250
    suggested_questions_after_answer:
      enabled: true
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInLoop: false
        sourceType: start
        targetType: code
      id: 1776686402897-source-1777007058293-target
      source: '1776686402897'
      sourceHandle: source
      target: '1777007058293'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: answer
      id: 1777007058293-source-answer-target
      source: '1777007058293'
      sourceHandle: source
      target: answer
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: User provides source currency, target currency, and amount
        selected: false
        title: Start
        type: start
        variables:
        - label: From Currency
          max_length: 10
          required: true
          type: text-input
          variable: from_currency
        - label: To Currency
          max_length: 10
          required: true
          type: text-input
          variable: to_currency
        - label: Amount
          required: true
          type: number
          variable: amount
      height: 186
      id: '1776686402897'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '{{#1777007058293.result#}}'
        desc: Displays the converted currency amount to the user
        selected: false
        title: Answer
        type: answer
        variables: []
      height: 149
      id: answer
      position:
        x: 732.4004765929358
        y: 282
      positionAbsolute:
        x: 732.4004765929358
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "import requests\n\ndef main(from_cur: str, to_cur: str, amount: float,\
          \ api_key: str) -> dict:\n    #api_key = env.get(\"EXCHANGE_API_KEY\")\n\
          \    #api_key = \"9b49904ae724c1f2cc47c482\"\n    \n    if not api_key:\n\
          \        raise ValueError(\"Missing EXCHANGE_API_KEY in environment variables\"\
          )\n\n    url = f\"https://v6.exchangerate-api.com/v6/{api_key}/pair/{from_cur}/{to_cur}/{amount}\"\
          \n    \n    try:\n        response = requests.get(url, timeout=10)\n   \
          \     response.raise_for_status()\n        data = response.json()\n    except\
          \ requests.RequestException as e:\n        return {\n            \"success\"\
          : False,\n            \"error\": str(e)\n        }\n\n    # API-specific\
          \ handling\n    if data.get(\"result\") != \"success\":\n        return\
          \ {\n            \"success\": False,\n            \"error\": data.get(\"\
          error-type\", \"Unknown API error\"),\n            \"raw\": data\n     \
          \   }\n\n    return {\"result\" : {\n        \"success\": True,\n      \
          \  \"from\": from_cur,\n        \"to\": to_cur,\n        \"amount\": amount,\n\
          \        \"converted_amount\": data.get(\"conversion_result\"),\n      \
          \  \"rate\": data.get(\"conversion_rate\")\n    }}\n"
        code_language: python3
        desc: ''
        outputs:
          result:
            children: null
            type: object
        selected: false
        title: Code 2
        type: code
        variables:
        - value_selector:
          - '1776686402897'
          - from_currency
          value_type: string
          variable: from_cur
        - value_selector:
          - '1776686402897'
          - to_currency
          value_type: string
          variable: to_cur
        - value_selector:
          - '1776686402897'
          - amount
          value_type: number
          variable: amount
        - value_selector:
          - env
          - EXCHANGE_API_KEY
          value_type: string
          variable: api_key
      height: 54
      id: '1777007058293'
      position:
        x: 377.56059582850185
        y: 282
      positionAbsolute:
        x: 377.56059582850185
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: 185.23570226644915
      y: 40.348366106903654
      zoom: 0.7897517805985852
