dsl/D11_Dev__sri.yml
{"data": "app:\n  description: A smart chatbot helps the person incharge to resolve pc inspection\n    error.\n  icon: \ud83e\udd16\n  icon_background: '#FFEAD5'\n  mode: advanced-chat\n  name: D-11 Dev - sri\n  use_icon_as_answer_icon: false\ndependencies: []\nkind: app\nversion: 0.3.1\nworkflow:\n  conversation_variables:\n  - description: this variable tells is the user query is a follow up question post\n      AI recommendation, like rectify errors or generate email.\n    id: c06f6109-9076-41e4-b6bb-26e7106535de\n    name: is_follow_up\n    selector:\n    - conversation\n    - is_follow_up\n    value: 'NO'\n    value_type: string\n  - description: ''\n    id: 094a0862-c206-4667-89ac-bdf110caa867\n    name: error_history\n    selector:\n    - conversation\n    - error_history\n    value: ''\n    value_type: string\n  - description: this defines the acceptable file extension\n    id: 18168d50-252f-460d-a9a4-c0563bf5ce6a\n    name: valid_file_extensions\n    selector:\n    - conversation\n    - valid_file_extensions\n    value: xlsx, xls\n    value_type: string\n  - description: ''\n    id: 0b655c6f-e87f-4035-a242-d1e7d19ddd77\n    name: sheet_data\n    selector:\n    - conversation\n    - sheet_data\n    value: []\n    value_type: array[object]\n  - description: ''\n    id: 89b4d59f-72c3-4c20-80fc-5e3553c7bd60\n    name: uploaded_file_config\n    selector:\n    - conversation\n    - uploaded_file_config\n    value:\n      list_of_columns: Client Name,  Procurement Department in Charge,  Confirmation\n        Form Submission Date,error\n      number_of_rows: '10'\n      sheet_name: ' FY2025 Confirmation'\n    value_type: object\n  - description: ''\n    id: 851397a6-d70a-4d43-b3c5-e37c451f5c9b\n    name: pms_counter\n    selector:\n    - conversation\n    - pms_counter\n    value: 0\n    value_type: integer\n  - description: this variable stores all static data in both language English and\n      Japanese\n    id: bd9e5317-80d2-40b1-b034-1fb17ccd21ea\n    name: static_data\n    selector:\n    - conversation\n    - static_data\n    value:\n      button_template: '{index}. <button type=\"button\" data-message=\"{id}\">{label}</button>'\n      choose_client_msg:\n        en: '\n\n          Please enter the number corresponding to the client you want to proceed\n          with. For example, to proceed with Client 1, enter 01.'\n        jp: '\n\n          \u7d9a\u884c\u3059\u308b\u30af\u30e9\u30a4\u30a2\u30f3\u30c8\u306b\u5bfe\u5fdc\u3059\u308b\u756a\u53f7\u3092\u5165\u529b\u3057\u3066\u304f\u3060\u3055\u3044\u3002\u4f8b\u3048\u3070\u3001Client 1\u3092\u7d9a\u884c\u3059\u308b\u306b\u306f\u300101\u3068\u5165\u529b\u3057\u3066\u304f\u3060\u3055\u3044\u3002'\n      client_data:\n        en:\n          error_no_name: No client name found in the data.\n          header: Client No | Client name | Business Unit | Submission date\n          no_client: No Client Data Found\n          no_data: No data list found\n          no_date: No date found\n        jp:\n          error_no_name: \u30c7\u30fc\u30bf\u5185\u306b\u53d6\u5f15\u5148\u540d\u304c\u898b\u3064\u304b\u308a\u307e\u305b\u3093\u3002\n          header: \u9867\u5ba2\u756a\u53f7 | \u53d6\u5f15\u5148\u540d | \u62c5\u5f53\u8abf\u9054\u90e8\u7f72 | \u78ba\u8a8d\u66f8\u63d0\u51fa\u65e5\n          no_client: \u30af\u30e9\u30a4\u30a2\u30f3\u30c8\u30c7\u30fc\u30bf\u304c\u898b\u3064\u304b\u308a\u307e\u305b\u3093\n          no_data: \u30c7\u30fc\u30bf\u30ea\u30b9\u30c8\u304c\u898b\u3064\u304b\u308a\u307e\u305b\u3093\u3067\u3057\u305f\n          no_date: \u65e5\u4ed8\u306a\u3057\n      document_received_msg:\n        en: Document received. Processing records...Please wait while we retrieve\n          the client list for your selection.\n        jp: \u66f8\u985e\u3092\u53d7\u9818\u3057\u307e\u3057\u305f\u3002\u8a18\u9332\u3092\u51e6\u7406\u4e2d\u3067\u3059\u3002\u304a\u5ba2\u69d8\u304c\u9078\u629e\u3055\u308c\u305f\u30af\u30e9\u30a4\u30a2\u30f3\u30c8\u30ea\u30b9\u30c8\u3092\u53d6\u5f97\u3059\u308b\u307e\u3067\u3057\u3070\u3089\u304f\u304a\u5f85\u3061\u304f\u3060\u3055\u3044\u3002\n      email_button:\n        en:\n          label: Generate Email\n          message: Generate Email\n        jp:\n          label: \u30e1\u30fc\u30eb\u3092\u4f5c\u6210\u3059\u308b\n          message: \u30e1\u30fc\u30eb\u3092\u4f5c\u6210\u3059\u308b\n      error_message_document_received:\n        en: Something went wrong. Could you please upload the document again?\n        jp: \u4f55\u3089\u304b\u306e\u554f\u984c\u304c\u767a\u751f\u3057\u307e\u3057\u305f\u3002\u3082\u3046\u4e00\u5ea6\u30c9\u30ad\u30e5\u30e1\u30f3\u30c8\u3092\u30a2\u30c3\u30d7\u30ed\u30fc\u30c9\u3057\u3066\u3044\u305f\u3060\u3051\u307e\u3059\u304b\uff1f\n      error_message_file_extractor:\n        en: We could not process your file, could you please upload the document again?\n        jp: \u30d5\u30a1\u30a4\u30eb\u3092\u51e6\u7406\u3067\u304d\u307e\u305b\u3093\u3067\u3057\u305f\u3002\u3082\u3046\u4e00\u5ea6\u30d5\u30a1\u30a4\u30eb\u3092\u30a2\u30c3\u30d7\u30ed\u30fc\u30c9\u3057\u3066\u3044\u305f\u3060\u3051\u307e\u3059\u304b\uff1f\n      error_message_file_missing:\n        en: A file is required for this process. Please upload it.\n        jp: \u3053\u306e\u51e6\u7406\u306b\u306f\u30d5\u30a1\u30a4\u30eb\u304c\u5fc5\u8981\u3067\u3059\u3002\u30a2\u30c3\u30d7\u30ed\u30fc\u30c9\u3057\u3066\u304f\u3060\u3055\u3044\u3002\n      error_message_language:\n        buttons:\n        - id: English\n          label: English\n        - id: \u65e5\u672c\u8a9e\n          label: \u65e5\u672c\u8a9e\n        en_jp: \"Sorry, we could not update your preference, could you re-select your\\\n          \\ preferred langauge.\\n\\n \u7533\u3057\u8a33\u3042\u308a\u307e\u305b\u3093\u304c\u3001\u304a\u5ba2\u69d8\u306e\u8a2d\u5b9a\u3092\u66f4\u65b0\u3067\u304d\u307e\u305b\u3093\u3067\u3057\u305f\u3002\u3082\u3046\u4e00\u5ea6\u3054\u5e0c\u671b\u306e\u8a00\u8a9e\u3092\u9078\u629e\u3057\u3066\u304f\u3060\u3055\u3044\u3002\"\n      invalid_client_msg:\n        en: The client id you selected is invalid. Please choose a valid client id\n          between 1 and 3.\n        jp: \u9078\u629e\u3057\u305f\u30af\u30e9\u30a4\u30a2\u30f3\u30c8ID\u304c\u7121\u52b9\u3067\u3059\u30021\u304b\u30893\u306e\u6709\u52b9\u306a\u30af\u30e9\u30a4\u30a2\u30f3\u30c8ID\u3092\u9078\u629e\u3057\u3066\u304f\u3060\u3055\u3044\u3002\n      rectify_button:\n        en:\n          label: Rectify Errors\n          message: Rectify Errors\n        jp:\n          label: \u30a8\u30e9\u30fc\u3092\u4fee\u6b63\u3059\u308b\n          message: \u30a8\u30e9\u30fc\u3092\u4fee\u6b63\u3059\u308b\n      request_file_msg:\n        en: A file is required for this process. Please upload it.\n        jp: \u3053\u306e\u51e6\u7406\u306b\u306f\u30d5\u30a1\u30a4\u30eb\u304c\u5fc5\u8981\u3067\u3059\u3002\u30a2\u30c3\u30d7\u30ed\u30fc\u30c9\u3057\u3066\u304f\u3060\u3055\u3044\u3002\n      selected_client_msg:\n        en: You have selected {client_name}. We will now analyze the error and provide\n          recommendations for it.\n        jp: '{client_name}\u3092\u9078\u629e\u3057\u307e\u3057\u305f\u3002\u3053\u308c\u304b\u3089\u30a8\u30e9\u30fc\u3092\u5206\u6790\u3057\u3001\u63a8\u5968\u4e8b\u9805\u3092\u63d0\u4f9b\u3057\u307e\u3059\u3002'\n      user_guide:\n        en: \"Your preferred language is now English. \\n\\n **Operating Procedure**:\\n\\\n          \\n  **Interface Configuration:** Select your preferred language (Japanese\\\n          \\ or English) to initialize the localized interface.\\n**Requisition Input:**\\\n          \\ Submit your requirements by describing them in the natural language chat\\\n          \\ and by uploading supporting documentation  (Excel Format). \\n**Client\\\n          \\ Selection:** Please select one client from the list.  \\n**Recommendation:**\\\n          \\ Recommends how to correct errors, address omissions, and fix other deficiencies.\\\n          \\  \\n**Review and Confirm:** BPO Staff/Person in charge can review and confirm\\\n          \\ whether he wants to rectify the data or send a notification(email) to\\\n          \\ the Business User/Vendor.  \\n**Email Draft:** Generates a professional\\\n          \\ notification email based on the findings.  \\n\\nPlease upload the document\\\n          \\ - Progress Management Sheet\"\n        jp: \"\u3054\u5e0c\u671b\u306e\u8a00\u8a9e\u306f\u65e5\u672c\u8a9e\u3067\u3059\u3002  \\n\\n**\u64cd\u4f5c\u624b\u9806**: \\n\\n**\u30a4\u30f3\u30bf\u30fc\u30d5\u30a7\u30fc\u30b9\u8a2d\u5b9a:** \u3054\u5e0c\u671b\u306e\u8a00\u8a9e\uff08\u65e5\u672c\u8a9e\u307e\u305f\u306f\u82f1\u8a9e\uff09\u3092\u9078\u629e\u3057\u3066\u3001\u30ed\u30fc\u30ab\u30e9\u30a4\u30ba\u3055\u308c\u305f\u30a4\u30f3\u30bf\u30fc\u30d5\u30a7\u30fc\u30b9\u3092\u521d\u671f\u5316\u3057\u3066\u304f\u3060\u3055\u3044\u3002\\\n          \\ \\n**\u4f9d\u983c\u5185\u5bb9\u306e\u5165\u529b:** \u81ea\u7136\u8a00\u8a9e\u30c1\u30e3\u30c3\u30c8\u3067\u8981\u4ef6\u3092\u8aac\u660e\u3057\u3001\u95a2\u9023\u8cc7\u6599\uff08Excel\u5f62\u5f0f\uff09\u3092\u30a2\u30c3\u30d7\u30ed\u30fc\u30c9\u3057\u3066\u9001\u4fe1\u3057\u3066\u304f\u3060\u3055\u3044\u3002 \\n**\u30af\u30e9\u30a4\u30a2\u30f3\u30c8\u306e\u9078\u629e:**\\\n          \\ \u30ea\u30b9\u30c8\u304b\u3089\u30af\u30e9\u30a4\u30a2\u30f3\u30c8\u30921\u793e\u9078\u629e\u3057\u3066\u304f\u3060\u3055\u3044\u3002 \\n**\u63a8\u5968\u4e8b\u9805:** \u30a8\u30e9\u30fc\u306e\u4fee\u6b63\u65b9\u6cd5\u3001\u6f0f\u308c\u3078\u306e\u5bfe\u5fdc\u3001\u305d\u306e\u4ed6\u306e\u4e0d\u5099\u306e\u4fee\u6b63\u65b9\u6cd5\u3092\u63d0\u6848\u3057\u307e\u3059\u3002\\\n          \\ \\n**\u78ba\u8a8d\u3068\u627f\u8a8d:** BPO\u62c5\u5f53\u8005/\u62c5\u5f53\u8005\u306f\u3001\u30c7\u30fc\u30bf\u4fee\u6b63\u3092\u884c\u3046\u304b\u3001\u30d3\u30b8\u30cd\u30b9\u30e6\u30fc\u30b6\u30fc/\u30d9\u30f3\u30c0\u30fc\u306b\u901a\u77e5\uff08\u30e1\u30fc\u30eb\uff09\u3092\u9001\u4fe1\u3059\u308b\u304b\u3092\u78ba\u8a8d\u3067\u304d\u307e\u3059\u3002\\\n          \\ \\n**\u30e1\u30fc\u30eb\u4e0b\u66f8\u304d:** \u7d50\u679c\u306b\u57fa\u3065\u3044\u3066\u3001\u30d7\u30ed\u30d5\u30a7\u30c3\u30b7\u30e7\u30ca\u30eb\u306a\u901a\u77e5\u30e1\u30fc\u30eb\u3092\u4f5c\u6210\u3057\u307e\u3059\u3002  \\n\\n\u9032\u6357\u7ba1\u7406\u30b7\u30fc\u30c8\u3092\u30a2\u30c3\u30d7\u30ed\u30fc\u30c9\u3057\u3066\u304f\u3060\u3055\u3044\"\n    value_type: object\n  - description: This variable stores user's preferred language, the default one is\n      None\n    id: 1527706c-6116-450d-a31b-12822812709f\n    name: preferred_lang\n    selector:\n    - conversation\n    - preferred_lang\n    value: ''\n    value_type: string\n  environment_variables: []\n  features:\n    file_upload:\n      allowed_file_extensions:\n      - .JPG\n      - .JPEG\n      - .PNG\n      - .GIF\n      - .WEBP\n      - .SVG\n      allowed_file_types:\n      - document\n      allowed_file_upload_methods:\n      - local_file\n      enabled: true\n      fileUploadConfig:\n        audio_file_size_limit: 50\n        batch_count_limit: 5\n        file_size_limit: 50\n        image_file_size_limit: 10\n        video_file_size_limit: 100\n        workflow_file_upload_limit: 10\n      image:\n        enabled: false\n        number_limits: 3\n        transfer_methods:\n        - local_file\n        - remote_url\n      number_limits: 1\n    opening_statement: 'Hi there, welcome to Annual PC inspection data evaluation.\n\n\n      Please select your Preferred language.\n\n\n      ***\n\n      \u3053\u3093\u306b\u3061\u306f\u3002\u5e74\u9593PC\u70b9\u691c\u30c7\u30fc\u30bf\u306e\u8a55\u4fa1\u3078\u3088\u3046\u3053\u305d\u3002\n\n\n      \u3054\u5e0c\u671b\u306e\u8a00\u8a9e\u3092\u9078\u629e\u3057\u3066\u304f\u3060\u3055\u3044\u3002\n\n      ***'\n    retriever_resource:\n      enabled: false\n    sensitive_word_avoidance:\n      enabled: false\n    speech_to_text:\n      enabled: false\n    suggested_questions:\n    - English\n    - \u65e5\u672c\u8a9e\n    suggested_questions_after_answer:\n      enabled: false\n    text_to_speech:\n      enabled: false\n      language: ''\n      voice: ''\n  graph:\n    edges:\n    - data:\n        isInLoop: false\n        sourceType: start\n        targetType: if-else\n      id: 1775796563709-source-1775804011997-target\n      selected: false\n      source: '1775796563709'\n      sourceHandle: source\n      target: '1775804011997'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: if-else\n        targetType: code\n      id: 1775804011997-2ebab099-635c-4eae-ad45-2be7a7d26078-1776188847640-target\n      selected: false\n      source: '1775804011997'\n      sourceHandle: 2ebab099-635c-4eae-ad45-2be7a7d26078\n      target: '1776188847640'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: code\n        targetType: answer\n      id: 1776188847640-source-1776189352854-target\n      selected: false\n      source: '1776188847640'\n      sourceHandle: source\n      target: '1776189352854'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInLoop: false\n        sourceType: code\n        targetType: code\n      id: 1776188847640-fail-branch-1776326940664-target\n      selected: false\n      source: '1776188847640'\n      sourceHandle: fail-branch\n      target: '1776326940664'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: code\n        targetType: answer\n      id: 1776326940664-source-1776331413831-target\n      selected: false\n      source: '1776326940664'\n      sourceHandle: source\n      target: '1776331413831'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: code\n        targetType: if-else\n      id: 1776940676228-source-1776942451624-target\n      selected: false\n      source: '1776940676228'\n      sourceHandle: source\n      target: '1776942451624'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInLoop: false\n        sourceType: if-else\n        targetType: assigner\n      id: 1776942451624-true-1776153517859-target\n      selected: false\n      source: '1776942451624'\n      sourceHandle: 'true'\n      target: '1776153517859'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: if-else\n        targetType: answer\n      id: 1776942451624-false-1776942497647-target\n      selected: false\n      source: '1776942451624'\n      sourceHandle: 'false'\n      target: '1776942497647'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: assigner\n        targetType: code\n      id: 1776153517859-source-1776942555536-target\n      selected: false\n      source: '1776153517859'\n      sourceHandle: source\n      target: '1776942555536'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInLoop: false\n        sourceType: code\n        targetType: answer\n      id: 1776942555536-source-1775811952263-target\n      selected: false\n      source: '1776942555536'\n      sourceHandle: source\n      target: '1775811952263'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInLoop: false\n        sourceType: if-else\n        targetType: tool\n      id: 1775804011997-true-1776947959501-target\n      selected: false\n      source: '1775804011997'\n      sourceHandle: 'true'\n      target: '1776947959501'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInLoop: false\n        sourceType: tool\n        targetType: code\n      id: 1776947959501-source-1776940676228-target\n      selected: false\n      source: '1776947959501'\n      sourceHandle: source\n      target: '1776940676228'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInLoop: false\n        sourceType: tool\n        targetType: code\n      id: 1776947959501-fail-branch-1776326940664-target\n      selected: false\n      source: '1776947959501'\n      sourceHandle: fail-branch\n      target: '1776326940664'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInLoop: false\n        sourceType: if-else\n        targetType: assigner\n      id: 1777363112681-true-1776335961015-target\n      selected: false\n      source: '1777363112681'\n      sourceHandle: 'true'\n      target: '1776335961015'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInLoop: false\n        sourceType: if-else\n        targetType: code\n      id: 1775804011997-628168fc-d129-4914-9c82-5f9b5f4b8c2b-1776947739078-target\n      selected: false\n      source: '1775804011997'\n      sourceHandle: 628168fc-d129-4914-9c82-5f9b5f4b8c2b\n      target: '1776947739078'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInLoop: false\n        sourceType: code\n        targetType: code\n      id: 1776947739078-fail-branch-1776326940664-target\n      selected: false\n      source: '1776947739078'\n      sourceHandle: fail-branch\n      target: '1776326940664'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInLoop: false\n        sourceType: code\n        targetType: if-else\n      id: 1777460030833-source-1777363112681-target\n      selected: false\n      source: '1777460030833'\n      sourceHandle: source\n      target: '1777363112681'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: if-else\n        targetType: code\n      id: 1775804011997-0e4390ee-b075-4261-9012-4c44af56cac5-1777498691372-target\n      selected: false\n      source: '1775804011997'\n      sourceHandle: 0e4390ee-b075-4261-9012-4c44af56cac5\n      target: '1777498691372'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInLoop: false\n        sourceType: code\n        targetType: code\n      id: 1777460030833-fail-branch-1776326940664-target\n      selected: false\n      source: '1777460030833'\n      sourceHandle: fail-branch\n      target: '1776326940664'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: assigner\n        targetType: code\n      id: 1776335961015-source-1777533742190-target\n      selected: false\n      source: '1776335961015'\n      sourceHandle: source\n      target: '1777533742190'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: code\n        targetType: answer\n      id: 1777533742190-source-1777363204052-target\n      selected: false\n      source: '1777533742190'\n      sourceHandle: source\n      target: '1777363204052'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: code\n        targetType: tool\n      id: 1776947739078-source-1777881792151-target\n      selected: false\n      source: '1776947739078'\n      sourceHandle: source\n      target: '1777881792151'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: tool\n        targetType: code\n      id: 1777881792151-source-1777881966736-target\n      selected: false\n      source: '1777881792151'\n      sourceHandle: source\n      target: '1777881966736'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: code\n        targetType: if-else\n      id: 1777881966736-source-1777882452234-target\n      selected: false\n      source: '1777881966736'\n      sourceHandle: source\n      target: '1777882452234'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInLoop: false\n        sourceType: code\n        targetType: answer\n      id: 1776947739078-source-1776948841588-target\n      selected: false\n      source: '1776947739078'\n      sourceHandle: source\n      target: '1776948841588'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: if-else\n        targetType: answer\n      id: 1777882452234-false-1777882738011-target\n      selected: false\n      source: '1777882452234'\n      sourceHandle: 'false'\n      target: '1777882738011'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: if-else\n        targetType: tool\n      id: 1777882452234-true-1777892636454-target\n      selected: false\n      source: '1777882452234'\n      sourceHandle: 'true'\n      target: '1777892636454'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInLoop: false\n        sourceType: tool\n        targetType: code\n      id: 1777892636454-source-1777460030833-target\n      selected: false\n      source: '1777892636454'\n      sourceHandle: source\n      target: '1777460030833'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInLoop: false\n        sourceType: tool\n        targetType: code\n      id: 1777892636454-fail-branch-1776326940664-target\n      selected: false\n      source: '1777892636454'\n      sourceHandle: fail-branch\n      target: '1776326940664'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: answer\n        targetType: tool\n      id: 1777498194542-source-1777892841167-target\n      source: '1777498194542'\n      sourceHandle: source\n      target: '1777892841167'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: tool\n        targetType: code\n      id: 1777892841167-source-1777893876496-target\n      source: '1777892841167'\n      sourceHandle: source\n      target: '1777893876496'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: code\n        targetType: answer\n      id: 1777893876496-source-1777894044696-target\n      source: '1777893876496'\n      sourceHandle: source\n      target: '1777894044696'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: code\n        targetType: if-else\n      id: 1777498691372-source-1777901652696-target\n      source: '1777498691372'\n      sourceHandle: source\n      target: '1777901652696'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: answer\n        targetType: code\n      id: 1777894044696-source-1777955639791-target\n      source: '1777894044696'\n      sourceHandle: source\n      target: '1777955639791'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: code\n        targetType: answer\n      id: 1777955639791-source-1777956632079-target\n      source: '1777955639791'\n      sourceHandle: source\n      target: '1777956632079'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInLoop: false\n        sourceType: code\n        targetType: assigner\n      id: 1777893876496-source-1777894063560-target\n      source: '1777893876496'\n      sourceHandle: source\n      target: '1777894063560'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: answer\n        targetType: code\n      id: 1777883882023-source-1777959536869-target\n      source: '1777883882023'\n      sourceHandle: source\n      target: '1777959536869'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: code\n        targetType: assigner\n      id: 1777959536869-source-1777959637557-target\n      source: '1777959536869'\n      sourceHandle: source\n      target: '1777959637557'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInLoop: false\n        sourceType: if-else\n        targetType: answer\n      id: 1777901652696-true-1777901673135-target\n      source: '1777901652696'\n      sourceHandle: 'true'\n      target: '1777901673135'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInLoop: false\n        sourceType: if-else\n        targetType: answer\n      id: 1777901652696-false-1777498194542-target\n      source: '1777901652696'\n      sourceHandle: 'false'\n      target: '1777498194542'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: if-else\n        targetType: answer\n      id: 1777363112681-false-1777968122808-target\n      source: '1777363112681'\n      sourceHandle: 'false'\n      target: '1777968122808'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: if-else\n        targetType: tool\n      id: 1775804011997-f9bfd295-bcb3-4eb1-aedf-2965ce07860c-1777969132941-target\n      source: '1775804011997'\n      sourceHandle: f9bfd295-bcb3-4eb1-aedf-2965ce07860c\n      target: '1777969132941'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: tool\n        targetType: code\n      id: 1777969132941-source-1777969630436-target\n      source: '1777969132941'\n      sourceHandle: source\n      target: '1777969630436'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: code\n        targetType: answer\n      id: 1777969630436-source-1777883882023-target\n      source: '1777969630436'\n      sourceHandle: source\n      target: '1777883882023'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    nodes:\n    - data:\n        selected: false\n        title: User Input\n        type: start\n        variables: []\n      height: 53\n      id: '1775796563709'\n      position:\n        x: -29.56374091682153\n        y: 287.82712510144427\n      positionAbsolute:\n        x: -29.56374091682153\n        y: 287.82712510144427\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        cases:\n        - case_id: 'true'\n          conditions:\n          - comparison_operator: not empty\n            id: f36afb4e-ce99-451a-9d95-3b8349d428f8\n            value: ''\n            varType: string\n            variable_selector:\n            - sys\n            - query\n          - comparison_operator: empty\n            id: a7ecdd21-ff37-41a6-acc3-a9b4824331fc\n            value: None\n            varType: string\n            variable_selector:\n            - conversation\n            - preferred_lang\n          id: 'true'\n          logical_operator: and\n        - case_id: 2ebab099-635c-4eae-ad45-2be7a7d26078\n          conditions:\n          - comparison_operator: not empty\n            id: d23faeb0-3329-4254-84de-8cdae048b6b5\n            value: ''\n            varType: string\n            variable_selector:\n            - sys\n            - query\n          - comparison_operator: empty\n            id: 39c870d2-4b02-45e8-9024-712f0a0d7b52\n            value: ''\n            varType: array[file]\n            variable_selector:\n            - sys\n            - files\n          - comparison_operator: not empty\n            id: 07c71801-74b7-4323-bd87-50e122ceab88\n            value: ''\n            varType: string\n            variable_selector:\n            - conversation\n            - preferred_lang\n          - comparison_operator: '='\n            id: aa903e5b-5fe3-4ba6-a27c-fa4c55ba7ab3\n            value: '0'\n            varType: number\n            variable_selector:\n            - conversation\n            - pms_counter\n          id: 2ebab099-635c-4eae-ad45-2be7a7d26078\n          logical_operator: and\n        - case_id: 628168fc-d129-4914-9c82-5f9b5f4b8c2b\n          conditions:\n          - comparison_operator: not empty\n            id: 431110da-0e65-4b3d-8ec3-d95a588a35de\n            value: ''\n            varType: string\n            variable_selector:\n            - sys\n            - query\n          - comparison_operator: not empty\n            id: 2e8e17db-70e4-4da7-9da7-4744c96d35cb\n            value: ''\n            varType: array[file]\n            variable_selector:\n            - sys\n            - files\n          - comparison_operator: not empty\n            id: 27a9ccb3-e833-4f0f-9307-73006ff32bd7\n            value: ''\n            varType: string\n            variable_selector:\n            - conversation\n            - preferred_lang\n          id: 628168fc-d129-4914-9c82-5f9b5f4b8c2b\n          logical_operator: and\n        - case_id: 0e4390ee-b075-4261-9012-4c44af56cac5\n          conditions:\n          - comparison_operator: '>'\n            id: 457d31ae-b55d-4e31-a63d-e9d3d0d80976\n            value: '0'\n            varType: number\n            variable_selector:\n            - conversation\n            - pms_counter\n          - comparison_operator: is not\n            id: a988e4cc-ff1c-404f-8f5d-74986ff531e5\n            value: Generate Email\n            varType: string\n            variable_selector:\n            - sys\n            - query\n          - comparison_operator: is not\n            id: b73d5bd8-eb9c-4959-b614-fc601ce4b2cc\n            value: \u30e1\u30fc\u30eb\u3092\u4f5c\u6210\u3059\u308b\n            varType: string\n            variable_selector:\n            - sys\n            - query\n          - comparison_operator: not empty\n            id: 025d343d-1341-4edb-8f18-f4c355b5e07c\n            value: ''\n            varType: string\n            variable_selector:\n            - sys\n            - query\n          id: 0e4390ee-b075-4261-9012-4c44af56cac5\n          logical_operator: and\n        - case_id: f9bfd295-bcb3-4eb1-aedf-2965ce07860c\n          conditions:\n          - comparison_operator: not empty\n            id: aacb5234-2bea-4b6f-82a4-328dfd9f4be5\n            value: ''\n            varType: string\n            variable_selector:\n            - sys\n            - query\n          - comparison_operator: is\n            id: 93157849-899b-421a-b43d-4c8f011b9049\n            value: Generate Email\n            varType: string\n            variable_selector:\n            - conversation\n            - is_follow_up\n          id: f9bfd295-bcb3-4eb1-aedf-2965ce07860c\n          logical_operator: or\n        desc: This node handle input traffics coming from user across downstream node.\n        selected: false\n        title: Orchestrator\n        type: if-else\n      height: 621\n      id: '1775804011997'\n      position:\n        x: 277.83584794019805\n        y: 294.71931523142644\n      positionAbsolute:\n        x: 277.83584794019805\n        y: 294.71931523142644\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        answer: '{{#1776942555536.result#}}\n\n          '\n        desc: This node display the user guide based on preferred language\n        selected: false\n        title: User guide output\n        type: answer\n        variables: []\n      height: 148\n      id: '1775811952263'\n      position:\n        x: 2268.725588330158\n        y: 51.851920906672234\n      positionAbsolute:\n        x: 2268.725588330158\n        y: 51.851920906672234\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        desc: This node updates user preferred language to the variable preferred_lang\n          as en or jp\n        items:\n        - input_type: variable\n          operation: over-write\n          value:\n          - '1776940676228'\n          - result\n          variable_selector:\n          - conversation\n          - preferred_lang\n          write_mode: over-write\n        selected: false\n        title: Update preferred language\n        type: assigner\n        version: '2'\n      height: 145\n      id: '1776153517859'\n      position:\n        x: 1646.3482442381523\n        y: 51.851920906672234\n      positionAbsolute:\n        x: 1646.3482442381523\n        y: 51.851920906672234\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        code: \"def main(static_data: dict, preferred_lang: str):\\n    \\n    # Access\\\n          \\ the nested object using the new structure\\n    msg = static_data.get(\\\"\\\n          request_file_msg\\\", {}).get(preferred_lang)\\n\\n    return {\\n        \\\"\\\n          result\\\": msg\\n    }\"\n        code_language: python3\n        desc: This node handles missing input file from the user and request them\n          to upload to get started.\n        error_strategy: fail-branch\n        outputs:\n          result:\n            children: null\n            type: string\n        selected: false\n        title: Code_request_file\n        type: code\n        variables:\n        - value_selector:\n          - conversation\n          - static_data\n          value_type: object\n          variable: static_data\n        - value_selector:\n          - conversation\n          - preferred_lang\n          value_type: string\n          variable: preferred_lang\n      height: 149\n      id: '1776188847640'\n      position:\n        x: 693.0274621045346\n        y: 344.71931523142626\n      positionAbsolute:\n        x: 693.0274621045346\n        y: 344.71931523142626\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        answer: '{{#1776188847640.result#}}'\n        desc: Thid node display file missing output to request the user to upload\n          the same\n        selected: false\n        title: file missing output\n        type: answer\n        variables: []\n      height: 148\n      id: '1776189352854'\n      position:\n        x: 1000.8702668263868\n        y: 242.8022677667892\n      positionAbsolute:\n        x: 1000.8702668263868\n        y: 242.8022677667892\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        code: \"\\nimport json\\n\\ndef main(preferred_lang_error: str, missing_file_error:\\\n          \\ str,doc_rcv_error:str, preferred_lang:str,file_extractor_error:str,client_extractor_error:str,text:str,\\\n          \\ static_data:dict):\\n\\n    # execute if handling preferred language code\\\n          \\ node failed.\\n    if preferred_lang_error:\\n        button_template =\\\n          \\ static_data.get(\\\"button_template\\\", \\\"\\\")\\n        lang_msg_data = static_data.get(\\\"\\\n          error_message_language\\\", {})\\n        message = lang_msg_data.get(\\\"en_jp\\\"\\\n          , \\\"\\\")\\n        buttons_list = lang_msg_data.get(\\\"buttons\\\", [])\\n\\n \\\n          \\       formatted_buttons = []\\n        for idx, btn in enumerate(buttons_list,\\\n          \\ start=1):\\n            btn_html = button_template.format(\\n          \\\n          \\      index=idx,\\n                id=btn[\\\"id\\\"],\\n                label=btn[\\\"\\\n          label\\\"]\\n            )\\n            formatted_buttons.append(btn_html)\\n\\\n          \\n        final_output = f\\\"{message}\\\\n\\\\n\\\" + \\\"\\\\n\\\".join(formatted_buttons)\\n\\\n          \\n        return{\\n            \\\"result\\\": final_output\\n        }\\n\\n \\\n          \\   elif missing_file_error:\\n        msg = static_data.get(\\\"error_message_file_missing\\\"\\\n          ,{}).get(preferred_lang)\\n        return{\\n            \\\"result\\\": msg\\n\\\n          \\        }\\n    elif doc_rcv_error:\\n        msg = static_data.get(\\\"error_message_document_received\\\"\\\n          ,{}).get(preferred_lang)\\n        return{\\n            \\\"result\\\": msg\\n\\\n          \\        }\\n    elif file_extractor_error:\\n        msg = static_data.get(\\\"\\\n          error_message_file_extractor\\\",{}).get(preferred_lang)\\n        return{\\n\\\n          \\            \\\"result\\\": msg\\n        }\\n    elif client_extractor_error:\\n\\\n          \\        msg = json.loads(text)[\\\"found_filename\\\"].strip()\\n        return{\\n\\\n          \\            \\\"result\\\": msg\\n        }\\n    else:\\n        return{\\n  \\\n          \\          \\\"result\\\": \\\"All code node is working fine.\\\"\\n        }\"\n        code_language: python3\n        desc: This node handle errors in case of failure of connected code node and\n          return the respective message based on fail branch.\n        outputs:\n          result:\n            children: null\n            type: string\n        selected: false\n        title: Code_Global_Error_handler\n        type: code\n        variables:\n        - value_selector:\n          - '1776947959501'\n          - error_message\n          value_type: string\n          variable: preferred_lang_error\n        - value_selector:\n          - '1776188847640'\n          - error_message\n          value_type: string\n          variable: missing_file_error\n        - value_selector:\n          - '1776947739078'\n          - error_message\n          value_type: string\n          variable: doc_rcv_error\n        - value_selector:\n          - '1777892636454'\n          - error_message\n          value_type: string\n          variable: file_extractor_error\n        - value_selector:\n          - '1777892636454'\n          - text\n          value_type: string\n          variable: text\n        - value_selector:\n          - '1777460030833'\n          - error_message\n          value_type: string\n          variable: client_extractor_error\n        - value_selector:\n          - conversation\n          - static_data\n          value_type: object\n          variable: static_data\n        - value_selector:\n          - conversation\n          - preferred_lang\n          value_type: string\n          variable: preferred_lang\n      height: 129\n      id: '1776326940664'\n      position:\n        x: 2878.1738907442527\n        y: -317.8875842710895\n      positionAbsolute:\n        x: 2878.1738907442527\n        y: -317.8875842710895\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        answer: '{{#1776326940664.result#}}'\n        desc: This node display message based on failed branch\n        selected: false\n        title: Message for different fail branch\n        type: answer\n        variables: []\n      height: 148\n      id: '1776331413831'\n      position:\n        x: 3232.1981239803235\n        y: -317.8875842710895\n      positionAbsolute:\n        x: 3232.1981239803235\n        y: -317.8875842710895\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        author: kumar_vi@itg.hitachi.co.jp\n        desc: ''\n        height: 88\n        selected: false\n        showAuthor: true\n        text: '{\"root\":{\"children\":[{\"children\":[{\"detail\":0,\"format\":0,\"mode\":\"normal\",\"style\":\"\",\"text\":\"This\n          code node captures global errors in case of failure of any connect node\n          with it and return the message associated with it.\",\"type\":\"text\",\"version\":1}],\"direction\":null,\"format\":\"\",\"indent\":0,\"type\":\"paragraph\",\"version\":1,\"textFormat\":0,\"textStyle\":\"\"}],\"direction\":null,\"format\":\"\",\"indent\":0,\"type\":\"root\",\"version\":1}}'\n        theme: blue\n        title: ''\n        type: ''\n        width: 469\n      height: 88\n      id: '1776334653462'\n      position:\n        x: 2892.334439596379\n        y: -468.22752789080573\n      positionAbsolute:\n        x: 2892.334439596379\n        y: -468.22752789080573\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom-note\n      width: 469\n    - data:\n        desc: This node assign 1 to file_uploaded variable to maintain global records\n          that file has been successfully received.\n        items:\n        - input_type: variable\n          operation: over-write\n          value:\n          - '1776947739078'\n          - file_counter\n          variable_selector:\n          - conversation\n          - pms_counter\n          write_mode: over-write\n        - input_type: variable\n          operation: over-write\n          value:\n          - '1777460030833'\n          - result\n          variable_selector:\n          - conversation\n          - sheet_data\n          write_mode: over-write\n        selected: false\n        title: Assign 1 to file_uploaded\n        type: assigner\n        version: '2'\n      height: 171\n      id: '1776335961015'\n      position:\n        x: 2902.716053246384\n        y: 433.41806961512987\n      positionAbsolute:\n        x: 2902.716053246384\n        y: 433.41806961512987\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        code: \"\\ndef main(lang_result:list):\\n    lang_obj = lang_result[0]\\n    return\\\n          \\ {\\n        \\\"result\\\": lang_obj.get(\\\"result\\\", \\\"\\\")\\n    }\\n\"\n        code_language: python3\n        desc: This code node format response received from bilingual workflow so that\n          downstream node can use it to display respective message related to language\n          preference.\n        outputs:\n          result:\n            children: null\n            type: string\n        selected: false\n        title: code_format_response\n        type: code\n        variables:\n        - value_selector:\n          - '1776947959501'\n          - json\n          value_type: array[object]\n          variable: lang_result\n      height: 145\n      id: '1776940676228'\n      position:\n        x: 977.717107108858\n        y: 27.767036083312234\n      positionAbsolute:\n        x: 977.717107108858\n        y: 27.767036083312234\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        cases:\n        - case_id: 'true'\n          conditions:\n          - comparison_operator: is\n            id: 4cdb2d7a-ce84-410c-8b86-1142c6c12d17\n            value: en\n            varType: string\n            variable_selector:\n            - '1776940676228'\n            - result\n          - comparison_operator: is\n            id: ee9c61b5-5091-44e8-849a-52dacfc0e1cf\n            value: jp\n            varType: string\n            variable_selector:\n            - '1776940676228'\n            - result\n          id: 'true'\n          logical_operator: or\n        desc: This node checks if the user has selected their preferred language if\n          yes it will return language code like \"en\" else prompt the user to select\n          language first.\n        selected: false\n        title: Yes/No\n        type: if-else\n      height: 227\n      id: '1776942451624'\n      position:\n        x: 1306.5821048670932\n        y: 27.767036083312234\n      positionAbsolute:\n        x: 1306.5821048670932\n        y: 27.767036083312234\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        answer: '{{#1776940676228.result#}}'\n        desc: This node request the user to enter the language if preferred language\n          is not selected.\n        selected: false\n        title: Request Language\n        type: answer\n        variables: []\n      height: 164\n      id: '1776942497647'\n      position:\n        x: 1654.0659641439952\n        y: 209.97088362006681\n      positionAbsolute:\n        x: 1654.0659641439952\n        y: 209.97088362006681\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        code: \"\\ndef main(preferred_lang: str, static_data: dict):\\n    return {\\n\\\n          \\        \\\"result\\\": static_data.get(\\\"user_guide\\\",{}).get(preferred_lang)\\n\\\n          \\    }\\n\"\n        code_language: python3\n        desc: This code node fetch user guide based on preferred language from static\n          data and pass to next node to display the same message.\n        outputs:\n          result:\n            children: null\n            type: string\n        selected: false\n        title: code_fetch_user_guide\n        type: code\n        variables:\n        - value_selector:\n          - conversation\n          - preferred_lang\n          value_type: string\n          variable: preferred_lang\n        - value_selector:\n          - conversation\n          - static_data\n          value_type: object\n          variable: static_data\n      height: 129\n      id: '1776942555536'\n      position:\n        x: 1931.0782547756387\n        y: 51.851920906672234\n      positionAbsolute:\n        x: 1931.0782547756387\n        y: 51.851920906672234\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        code: \"def main(static_data:dict, preferred_lang:str):\\n    msg = static_data.get(\\\"\\\n          document_received_msg\\\", {}).get(preferred_lang)\\n\\n    return{\\n      \\\n          \\  \\\"result\\\": msg,\\n        \\\"file_counter\\\": 1\\n    }\\n\"\n        code_language: python3\n        desc: This node returns the message as document received as per preferred\n          language.\n        error_strategy: fail-branch\n        outputs:\n          file_counter:\n            children: null\n            type: number\n          result:\n            children: null\n            type: string\n        selected: false\n        title: code_doc_received\n        type: code\n        variables:\n        - value_selector:\n          - conversation\n          - static_data\n          value_type: object\n          variable: static_data\n        - value_selector:\n          - conversation\n          - preferred_lang\n          value_type: string\n          variable: preferred_lang\n      height: 149\n      id: '1776947739078'\n      position:\n        x: 693.0274621045346\n        y: 524.2229905074007\n      positionAbsolute:\n        x: 693.0274621045346\n        y: 524.2229905074007\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        desc: This workflow validate the user input if they have selected their preferred\n          language or not and return preferred language as key such \"en\" for English\n          and in case no language selected, request the user to choose language first.\n        error_strategy: fail-branch\n        is_team_authorization: true\n        output_schema: null\n        paramSchemas:\n        - auto_generate: null\n          default: null\n          form: llm\n          human_description:\n            en_US: this receives user's query to validate language preference\n            ja_JP: this receives user's query to validate language preference\n            pt_BR: this receives user's query to validate language preference\n            zh_Hans: this receives user's query to validate language preference\n          label:\n            en_US: User input\n            ja_JP: User input\n            pt_BR: User input\n            zh_Hans: User input\n          llm_description: this receives user's query to validate language preference\n          max: null\n          min: null\n          name: user_query\n          options: []\n          placeholder:\n            en_US: ''\n            ja_JP: ''\n            pt_BR: ''\n            zh_Hans: ''\n          precision: null\n          required: true\n          scope: null\n          template: null\n          type: string\n        params:\n          user_query: ''\n        provider_id: 7fb8ca4f-fc35-415e-94d5-48edc65fcf26\n        provider_name: COM_Bilingual_Workflow\n        provider_type: workflow\n        selected: false\n        title: COM_Bilingual_Workflow\n        tool_configurations: {}\n        tool_description: This workflow automate the language validation as per requirement\n          and return user's preferred language. Currently it supports English and\n          Japanese.\n        tool_label: COM_Bilingual_Workflow\n        tool_name: comBilingualWorkflow\n        tool_node_version: '2'\n        tool_parameters:\n          user_query:\n            type: mixed\n            value: '{{#sys.query#}}'\n        type: tool\n      height: 213\n      id: '1776947959501'\n      position:\n        x: 693.0274621045346\n        y: 123.76703608331195\n      positionAbsolute:\n        x: 693.0274621045346\n        y: 123.76703608331195\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        answer: '{{#1776947739078.result#}}'\n        desc: This node prompt message to the user that file has been received and\n          is being processed.\n        selected: false\n        title: doc received output.\n        type: answer\n        variables: []\n      height: 164\n      id: '1776948841588'\n      position:\n        x: 1016.1881096452678\n        y: 539.1147950781146\n      positionAbsolute:\n        x: 1016.1881096452678\n        y: 539.1147950781146\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        cases:\n        - case_id: 'true'\n          conditions:\n          - comparison_operator: is\n            id: cb34a4e3-cebd-47af-8027-5093476686ad\n            value: 'True'\n            varType: string\n            variable_selector:\n            - '1777460030833'\n            - clients_available\n          id: 'true'\n          logical_operator: and\n        desc: ''\n        selected: false\n        title: IF/ELSE 4\n        type: if-else\n      height: 125\n      id: '1777363112681'\n      position:\n        x: 2574.3277872397175\n        y: 425.41806961512987\n      positionAbsolute:\n        x: 2574.3277872397175\n        y: 425.41806961512987\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        answer: '\n\n          {{#1777533742190.result#}}\n\n\n          {{#1777460030833.client_selection#}}'\n        desc: ''\n        selected: false\n        title: CLIENT DETAILS OUTPUT\n        type: answer\n        variables: []\n      height: 122\n      id: '1777363204052'\n      position:\n        x: 3532.974290450961\n        y: 433.41806961512987\n      positionAbsolute:\n        x: 3532.974290450961\n        y: 433.41806961512987\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        code: \"import re\\nimport json\\nfrom typing import List, Dict, Any\\n\\ndef main(input_data:\\\n          \\ str, lang: str, static_data:dict) -> dict:\\n    # 1. Define Localization\\\n          \\ Mapping\\n    t = static_data.get(\\\"client_data\\\", {}).get(lang)\\n\\n  \\\n          \\  try:\\n        # 2. Handle input parsing\\n        if isinstance(input_data,\\\n          \\ str):\\n            try:\\n                data_dict = json.loads(input_data)\\n\\\n          \\            except:\\n                data_dict = {\\\"text\\\": input_data}\\n\\\n          \\        else:\\n            data_dict = input_data\\n        \\n        #\\\n          \\ 3. Pre-check for error flags in input\\n        is_error = str(data_dict.get(\\\"\\\n          is_error\\\", \\\"\\\")).lower() == \\\"true\\\"\\n        if is_error:\\n         \\\n          \\   return {\\n                \\\"client_selection\\\": \\\"\\\",\\n            \\\n          \\    \\\"error\\\": data_dict.get(\\\"result\\\", \\\"Unknown error occurred\\\"),\\n\\\n          \\                \\\"clients_available\\\": \\\"False\\\",\\n                \\\"result\\\"\\\n          : []\\n            }\\n\\n        # 4. Extract data list using Regex\\n    \\\n          \\    text = data_dict.get(\\\"text\\\", str(data_dict))\\n        match = re.search(r'\\\\\\\n          {data:\\\\s*\\\\[(.*?)\\\\]\\\\s*\\\\}', text, re.DOTALL)\\n        \\n        if not\\\n          \\ match:\\n            return {\\n                \\\"result\\\": [], \\n     \\\n          \\           \\\"client_selection\\\": \\\"\\\", \\n                \\\"clients_available\\\"\\\n          : \\\"False\\\",\\n                \\\"error\\\": t['no_data']\\n            }\\n\\n\\\n          \\        content = match.group(1).strip()\\n        object_matches = re.findall(r'\\\\\\\n          {[^}]*\\\\}', content)\\n        \\n        result: List[Dict[str, Any]] = []\\n\\\n          \\        client_selection_lines = [t[\\\"header\\\"]]\\n        client_counter\\\n          \\ = 0\\n\\n        # 5. Process each object\\n        for i, obj_str in enumerate(object_matches,\\\n          \\ start=1):\\n            inner = obj_str[1:-1].strip()\\n            # Parse\\\n          \\ internal key-value pairs\\n            pairs = re.findall(r'([^,]+?)\\\\\\\n          s*:\\\\s*([^,]+?)(?=,|$)', inner)\\n            \\n            obj_dict: Dict[str,\\\n          \\ Any] = {}\\n            for key, value in pairs:\\n                cleaned_key\\\n          \\ = key.strip()\\n                cleaned_value = value.strip().strip('\\\"\\\n          \\\\'')\\n                obj_dict[cleaned_key] = cleaned_value\\n\\n       \\\n          \\     # Add client_id (01, 02, etc.)\\n            client_id = f\\\"{i:02d}\\\"\\\n          \\n            ordered_obj = {\\\"client_id\\\": client_id}\\n            ordered_obj.update(obj_dict)\\n\\\n          \\            result.append(ordered_obj)\\n\\n            # 6. Extract values\\\n          \\ using multi-language keys\\n            client_name = (\\n             \\\n          \\   obj_dict.get(\\\"Client Name\\\") or \\n                obj_dict.get(\\\"\u53d6\u5f15\u5148\u540d\\\"\\\n          ) or \\n                \\\"\\\"\\n            ).strip()\\n\\n            if client_name\\\n          \\ != \\\"\\\":\\n                client_counter += 1\\n            \\n        \\\n          \\    dept = (\\n                obj_dict.get(\\\"Procurement Department in\\\n          \\ Charge\\\") or \\n                obj_dict.get(\\\"\u62c5\u5f53\u8abf\u9054\u90e8\u7f72\\\") or \\n        \\\n          \\        \\\"\\\"\\n            ).strip()\\n\\n            submission_date = (\\\n          \\ \\n                obj_dict.get(\\\"Confirmation Form Submission Date\\\")\\\n          \\ or \\n                t[\\\"no_date\\\"]\\n            ).strip()\\n         \\\n          \\   \\n            selection_line = f\\\"{client_id} | {client_name} | {dept}\\\n          \\ | {submission_date}\\\"\\n            client_selection_lines.append(selection_line)\\n\\\n          \\        \\n        # 7. Final validation for missing client names\\n    \\\n          \\    error_msg = \\\"\\\"\\n        if client_counter == 0:\\n            error_msg\\\n          \\ = t[\\\"error_no_name\\\"]\\n\\n        return {\\n            \\\"result\\\": result,\\n\\\n          \\            \\\"client_selection\\\": t[\\\"no_client\\\"] if client_counter ==\\\n          \\ 0 else \\\"\\\\n\\\".join(client_selection_lines),\\n            \\\"clients_available\\\"\\\n          : str(client_counter > 0),\\n            \\\"error\\\" : error_msg\\n        }\\n\\\n          \\n    except Exception as e:\\n        return {\\n            \\\"result\\\":\\\n          \\ [],\\n            \\\"client_selection\\\": \\\"\\\",\\n            \\\"error\\\": f\\\"\\\n          Processing failed: {str(e)}\\\",\\n            \\\"clients_available\\\": \\\"False\\\"\\\n          \\n        }\"\n        code_language: python3\n        desc: This code node takes in the input from the excel extractor workflow\n          and extract the client names, BU and dates from the raw data and pass to\n          next node.\n        error_strategy: fail-branch\n        outputs:\n          client_selection:\n            children: null\n            type: string\n          clients_available:\n            children: null\n            type: string\n          error:\n            children: null\n            type: string\n          result:\n            children: null\n            type: array[object]\n        selected: false\n        title: Client Details Extractor\n        type: code\n        variables:\n        - value_selector:\n          - '1777892636454'\n          - text\n          value_type: string\n          variable: input_data\n        - value_selector:\n          - conversation\n          - preferred_lang\n          value_type: string\n          variable: lang\n        - value_selector:\n          - conversation\n          - static_data\n          value_type: object\n          variable: static_data\n      height: 165\n      id: '1777460030833'\n      position:\n        x: 2228.496983520469\n        y: 417.41806961512987\n      positionAbsolute:\n        x: 2228.496983520469\n        y: 417.41806961512987\n      selected: true\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        answer: ' {{#1777498691372.client_name#}} '\n        desc: This node display selected client name to the user.\n        selected: false\n        title: Display Client Name\n        type: answer\n        variables: []\n      height: 148\n      id: '1777498194542'\n      position:\n        x: 1299.6177003607243\n        y: 792.3653810305826\n      positionAbsolute:\n        x: 1299.6177003607243\n        y: 792.3653810305826\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        code: \"def main(user_input: str, sheet_data: list, static_data: dict, preferred_lang:\\\n          \\ str, is_follow_up: str) -> dict:\\n    # 1. Handle Follow-up logic (Directly\\\n          \\ assign error to input)\\n    if is_follow_up == \\\"YES\\\":\\n        return\\\n          \\ {\\n            \\\"client_name\\\": \\\"Follow_up\\\",\\n            \\\"error\\\"\\\n          : user_input\\n        }\\n\\n    # 2. Process Standard Input (is_follow_up\\\n          \\ is \\\"NO\\\" or other)\\n    selected_id = user_input.zfill(2)\\n    client_map\\\n          \\ = {item.get('client_id'): item for item in sheet_data}\\n    client_info\\\n          \\ = client_map.get(selected_id)\\n\\n    # 3. Check if Client ID exists\\n\\\n          \\    if not client_info:\\n        msg = static_data.get(\\\"invalid_client_msg\\\"\\\n          , {})\\n        error = msg.get(preferred_lang, {})\\n        return {\\n \\\n          \\           \\\"client_name\\\": \\\"Invalid\\\",\\n            \\\"error\\\": error\\n\\\n          \\        }\\n\\n    # 4. If ID exists, retrieve the error and the formatted\\\n          \\ name\\n    client_name = client_info.get(\\\"Client Name\\\", \\\"Unknown\\\")\\n\\\n          \\    existing_error = client_info.get(\\\"error\\\", \\\"\\\")\\n\\n    msg_templates\\\n          \\ = static_data.get(\\\"selected_client_msg\\\", {})\\n    client_msg = msg_templates.get(preferred_lang,\\\n          \\ \\\"{}\\\") \\n\\n    return {\\n        \\\"client_name\\\": client_msg.format(client_name=client_name),\\n\\\n          \\        \\\"error\\\": existing_error\\n    }\"\n        code_language: python3\n        desc: This code node takes in the client id from the user and retrieve the\n          error for corresponding client and return client name and errors.\n        outputs:\n          client_name:\n            children: null\n            type: string\n          error:\n            children: null\n            type: string\n        selected: false\n        title: Code_error_retriever\n        type: code\n        variables:\n        - value_selector:\n          - sys\n          - query\n          value_type: string\n          variable: user_input\n        - value_selector:\n          - conversation\n          - sheet_data\n          value_type: array[object]\n          variable: sheet_data\n        - value_selector:\n          - conversation\n          - static_data\n          value_type: object\n          variable: static_data\n        - value_selector:\n          - conversation\n          - preferred_lang\n          value_type: string\n          variable: preferred_lang\n        - value_selector:\n          - conversation\n          - is_follow_up\n          value_type: string\n          variable: is_follow_up\n      height: 129\n      id: '1777498691372'\n      position:\n        x: 693.0274621045346\n        y: 717.4980325871161\n      positionAbsolute:\n        x: 693.0274621045346\n        y: 717.4980325871161\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        code: \"\\ndef main(preferred_lang: str, static_data: dict):\\n    msg_templates\\\n          \\ = static_data.get(\\\"choose_client_msg\\\", {})\\n    choose_client_msg =\\\n          \\ msg_templates.get(preferred_lang, {})\\n    return {\\n        \\\"result\\\"\\\n          : choose_client_msg,\\n    }\\n\"\n        code_language: python3\n        desc: This node retrieve the message from static data variable to choose client\n          from list in preferred language.\n        outputs:\n          result:\n            children: null\n            type: string\n        selected: false\n        title: Code_choose_client\n        type: code\n        variables:\n        - value_selector:\n          - conversation\n          - preferred_lang\n          value_type: string\n          variable: preferred_lang\n        - value_selector:\n          - conversation\n          - static_data\n          value_type: object\n          variable: static_data\n      height: 113\n      id: '1777533742190'\n      position:\n        x: 3217.3562491205153\n        y: 433.41806961512987\n      positionAbsolute:\n        x: 3217.3562491205153\n        y: 433.41806961512987\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        desc: This workflow validate the file in terms of file extension, size, and\n          return validation result in preferred language.\n        is_team_authorization: true\n        output_schema: null\n        paramSchemas:\n        - auto_generate: null\n          default: null\n          form: llm\n          human_description:\n            en_US: ''\n            ja_JP: ''\n            pt_BR: ''\n            zh_Hans: ''\n          label:\n            en_US: file_input\n            ja_JP: file_input\n            pt_BR: file_input\n            zh_Hans: file_input\n          llm_description: ''\n          max: null\n          min: null\n          name: file_input\n          options: []\n          placeholder:\n            en_US: ''\n            ja_JP: ''\n            pt_BR: ''\n            zh_Hans: ''\n          precision: null\n          required: true\n          scope: null\n          template: null\n          type: files\n        - auto_generate: null\n          default: null\n          form: llm\n          human_description:\n            en_US: ''\n            ja_JP: ''\n            pt_BR: ''\n            zh_Hans: ''\n          label:\n            en_US: file extension\n            ja_JP: file extension\n            pt_BR: file extension\n            zh_Hans: file extension\n          llm_description: ''\n          max: null\n          min: null\n          name: required_extension\n          options: []\n          placeholder:\n            en_US: ''\n            ja_JP: ''\n            pt_BR: ''\n            zh_Hans: ''\n          precision: null\n          required: true\n          scope: null\n          template: null\n          type: string\n        - auto_generate: null\n          default: null\n          form: llm\n          human_description:\n            en_US: ''\n            ja_JP: ''\n            pt_BR: ''\n            zh_Hans: ''\n          label:\n            en_US: file size\n            ja_JP: file size\n            pt_BR: file size\n            zh_Hans: file size\n          llm_description: ''\n          max: null\n          min: null\n          name: max_file_size\n          options: []\n          placeholder:\n            en_US: ''\n            ja_JP: ''\n            pt_BR: ''\n            zh_Hans: ''\n          precision: null\n          required: true\n          scope: null\n          template: null\n          type: number\n        - auto_generate: null\n          default: null\n          form: llm\n          human_description:\n            en_US: ''\n            ja_JP: ''\n            pt_BR: ''\n            zh_Hans: ''\n          label:\n            en_US: preferred_language\n            ja_JP: preferred_language\n            pt_BR: preferred_language\n            zh_Hans: preferred_language\n          llm_description: ''\n          max: null\n          min: null\n          name: preferred_language\n          options: []\n          placeholder:\n            en_US: ''\n            ja_JP: ''\n            pt_BR: ''\n            zh_Hans: ''\n          precision: null\n          required: true\n          scope: null\n          template: null\n          type: string\n        params:\n          file_input: ''\n          max_file_size: ''\n          preferred_language: ''\n          required_extension: ''\n        provider_id: 930076cb-f494-4f78-8d24-87495300afdc\n        provider_name: COM_File_Validator\n        provider_type: workflow\n        selected: false\n        title: COM_File_Validator\n        tool_configurations: {}\n        tool_description: This workflow accepts file (single or multiple), extensions\n          (in case of more than one, use comma separated string), preferred language\n          and file size. It will validated as per the input parameters and returns\n          file metadata.\n        tool_label: COM_File_Validator\n        tool_name: comFileValidator\n        tool_node_version: '2'\n        tool_parameters:\n          file_input:\n            type: variable\n            value:\n            - sys\n            - files\n          max_file_size:\n            type: constant\n            value: 10\n          preferred_language:\n            type: mixed\n            value: '{{#conversation.preferred_lang#}}'\n          required_extension:\n            type: mixed\n            value: '{{#conversation.valid_file_extensions#}}'\n        type: tool\n      height: 113\n      id: '1777881792151'\n      position:\n        x: 1008.2074055833291\n        y: 408.22299050740094\n      positionAbsolute:\n        x: 1008.2074055833291\n        y: 408.22299050740094\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        code: \"\\ndef main(file_response: list, uploaded_file_config:dict):\\n    #\\\n          \\ parse the sheet info:\\n    sheet = uploaded_file_config.get(\\\"sheet_name\\\"\\\n          , \\\"\\\")\\n    columns = uploaded_file_config.get(\\\"list_of_columns\\\", \\\"\\\"\\\n          )\\n\\n    #now parse the meta data of file:\\n    meta_data = file_response[0]\\n\\\n          \\    is_valid = meta_data.get(\\\"is_valid\\\")\\n\\n    if is_valid == \\\"false\\\"\\\n          :\\n        msg = meta_data.get(\\\"error\\\")\\n        return{\\n           \\\n          \\ \\\"is_valid\\\" : is_valid,\\n            \\\"result\\\": msg, \\n            \\\"\\\n          sheet\\\": sheet,\\n            \\\"columns\\\": columns\\n        }\\n    else:\\n\\\n          \\        return{\\n            \\\"is_valid\\\" : is_valid,\\n            \\\"result\\\"\\\n          : \\\"\\\",\\n            \\\"sheet\\\": sheet,\\n            \\\"columns\\\": columns\\n\\\n          \\        }\\n\"\n        code_language: python3\n        desc: This node takes input from com_file_validator workflow and parse the\n          result that will be consumed by downstream node. And also this node reads\n          the file config such as sheet name, number of rows, and columns and return\n          the same to the next node.\n        outputs:\n          columns:\n            children: null\n            type: string\n          is_valid:\n            children: null\n            type: string\n          result:\n            children: null\n            type: string\n          sheet:\n            children: null\n            type: string\n        selected: false\n        title: File_validator_and_config\n        type: code\n        variables:\n        - value_selector:\n          - '1777881792151'\n          - json\n          value_type: array[object]\n          variable: file_response\n        - value_selector:\n          - conversation\n          - uploaded_file_config\n          value_type: object\n          variable: uploaded_file_config\n      height: 177\n      id: '1777881966736'\n      position:\n        x: 1280.4350933894832\n        y: 408.22299050740094\n      positionAbsolute:\n        x: 1280.4350933894832\n        y: 408.22299050740094\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        cases:\n        - case_id: 'true'\n          conditions:\n          - comparison_operator: is\n            id: 01ba3564-d501-4e62-bf44-579890c34cd7\n            value: 'true'\n            varType: string\n            variable_selector:\n            - '1777881966736'\n            - is_valid\n          id: 'true'\n          logical_operator: and\n        desc: This node checks if the file is valid and route to correct stream downward.\n        selected: false\n        title: is_file_valid?\n        type: if-else\n      height: 169\n      id: '1777882452234'\n      position:\n        x: 1550.4847344846653\n        y: 408.22299050740094\n      positionAbsolute:\n        x: 1550.4847344846653\n        y: 408.22299050740094\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        answer: '\n\n\n          {{#1777881966736.result#}}'\n        desc: This node display error in case file is not valid.\n        selected: false\n        title: display validation error\n        type: answer\n        variables: []\n      height: 148\n      id: '1777882738011'\n      position:\n        x: 1902.487345639779\n        y: 550.3623255452308\n      positionAbsolute:\n        x: 1902.487345639779\n        y: 550.3623255452308\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        answer: '{{#1777969630436.result#}}'\n        desc: ''\n        selected: false\n        title: display email\n        type: answer\n        variables: []\n      height: 104\n      id: '1777883882023'\n      position:\n        x: 1332.7752208271447\n        y: 1019.7490387959851\n      positionAbsolute:\n        x: 1332.7752208271447\n        y: 1019.7490387959851\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        desc: ''\n        error_strategy: fail-branch\n        is_team_authorization: true\n        output_schema: null\n        paramSchemas:\n        - auto_generate: null\n          default: null\n          form: llm\n          human_description:\n            en_US: ''\n            ja_JP: ''\n            pt_BR: ''\n            zh_Hans: ''\n          label:\n            en_US: xl_file\n            ja_JP: xl_file\n            pt_BR: xl_file\n            zh_Hans: xl_file\n          llm_description: ''\n          max: null\n          min: null\n          name: xl_file\n          options: []\n          placeholder:\n            en_US: ''\n            ja_JP: ''\n            pt_BR: ''\n            zh_Hans: ''\n          precision: null\n          required: true\n          scope: null\n          template: null\n          type: files\n        - auto_generate: null\n          default: null\n          form: llm\n          human_description:\n            en_US: ''\n            ja_JP: ''\n            pt_BR: ''\n            zh_Hans: ''\n          label:\n            en_US: sheet_name\n            ja_JP: sheet_name\n            pt_BR: sheet_name\n            zh_Hans: sheet_name\n          llm_description: ''\n          max: null\n          min: null\n          name: sheet_name\n          options: []\n          placeholder:\n            en_US: ''\n            ja_JP: ''\n            pt_BR: ''\n            zh_Hans: ''\n          precision: null\n          required: true\n          scope: null\n          template: null\n          type: string\n        - auto_generate: null\n          default: null\n          form: llm\n          human_description:\n            en_US: ''\n            ja_JP: ''\n            pt_BR: ''\n            zh_Hans: ''\n          label:\n            en_US: list_of_column\n            ja_JP: list_of_column\n            pt_BR: list_of_column\n            zh_Hans: list_of_column\n          llm_description: ''\n          max: null\n          min: null\n          name: list_of_column\n          options: []\n          placeholder:\n            en_US: ''\n            ja_JP: ''\n            pt_BR: ''\n            zh_Hans: ''\n          precision: null\n          required: true\n          scope: null\n          template: null\n          type: string\n        - auto_generate: null\n          default: null\n          form: llm\n          human_description:\n            en_US: ''\n            ja_JP: ''\n            pt_BR: ''\n            zh_Hans: ''\n          label:\n            en_US: number_of_rows\n            ja_JP: number_of_rows\n            pt_BR: number_of_rows\n            zh_Hans: number_of_rows\n          llm_description: ''\n          max: null\n          min: null\n          name: number_of_rows\n          options: []\n          placeholder:\n            en_US: ''\n            ja_JP: ''\n            pt_BR: ''\n            zh_Hans: ''\n          precision: null\n          required: true\n          scope: null\n          template: null\n          type: number\n        - auto_generate: null\n          default: null\n          form: llm\n          human_description:\n            en_US: ''\n            ja_JP: ''\n            pt_BR: ''\n            zh_Hans: ''\n          label:\n            en_US: lang\n            ja_JP: lang\n            pt_BR: lang\n            zh_Hans: lang\n          llm_description: ''\n          max: null\n          min: null\n          name: lang\n          options: []\n          placeholder:\n            en_US: ''\n            ja_JP: ''\n            pt_BR: ''\n            zh_Hans: ''\n          precision: null\n          required: true\n          scope: null\n          template: null\n          type: string\n        - auto_generate: null\n          default: null\n          form: llm\n          human_description:\n            en_US: ''\n            ja_JP: ''\n            pt_BR: ''\n            zh_Hans: ''\n          label:\n            en_US: max_file_size\n            ja_JP: max_file_size\n            pt_BR: max_file_size\n            zh_Hans: max_file_size\n          llm_description: ''\n          max: null\n          min: null\n          name: max_file_size\n          options: []\n          placeholder:\n            en_US: ''\n            ja_JP: ''\n            pt_BR: ''\n            zh_Hans: ''\n          precision: null\n          required: true\n          scope: null\n          template: null\n          type: number\n        params:\n          lang: ''\n          list_of_column: ''\n          max_file_size: ''\n          number_of_rows: ''\n          sheet_name: ''\n          xl_file: ''\n        provider_id: 67779d92-961d-43b2-b1fb-f18bd2837994\n        provider_name: excel extractor V4 (WF)\n        provider_type: workflow\n        selected: false\n        title: excel extractor V4 (WF)\n        tool_configurations: {}\n        tool_description: extract required details from excel file.\n        tool_label: excel extractor V4 (WF)\n        tool_name: excel_extractor_v4\n        tool_node_version: '2'\n        tool_parameters:\n          lang:\n            type: mixed\n            value: '{{#conversation.preferred_lang#}}'\n          list_of_column:\n            type: mixed\n            value: '{{#1777881966736.columns#}}'\n          max_file_size:\n            type: constant\n            value: 10\n          number_of_rows:\n            type: constant\n            value: 3\n          sheet_name:\n            type: mixed\n            value: '{{#1777881966736.sheet#}}'\n          xl_file:\n            type: variable\n            value:\n            - sys\n            - files\n        type: tool\n      height: 89\n      id: '1777892636454'\n      position:\n        x: 1867.8144634081646\n        y: 425.41806961512987\n      positionAbsolute:\n        x: 1867.8144634081646\n        y: 425.41806961512987\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        desc: This workflow handles user query as error or follow up questions. And\n          based on that it provide solutions. It takes user input, is_follow_up as\n          variable, preferred language and error history from previous chat to better\n          assist during follow up questions.\n        is_team_authorization: true\n        output_schema: null\n        paramSchemas:\n        - auto_generate: null\n          default: null\n          form: llm\n          human_description:\n            en_US: ''\n            ja_JP: ''\n            pt_BR: ''\n            zh_Hans: ''\n          label:\n            en_US: user_input\n            ja_JP: user_input\n            pt_BR: user_input\n            zh_Hans: user_input\n          llm_description: ''\n          max: null\n          min: null\n          name: user_input\n          options: []\n          placeholder:\n            en_US: ''\n            ja_JP: ''\n            pt_BR: ''\n            zh_Hans: ''\n          precision: null\n          required: true\n          scope: null\n          template: null\n          type: string\n        - auto_generate: null\n          default: null\n          form: llm\n          human_description:\n            en_US: ''\n            ja_JP: ''\n            pt_BR: ''\n            zh_Hans: ''\n          label:\n            en_US: is_follow_up\n            ja_JP: is_follow_up\n            pt_BR: is_follow_up\n            zh_Hans: is_follow_up\n          llm_description: ''\n          max: null\n          min: null\n          name: is_follow_up\n          options: []\n          placeholder:\n            en_US: ''\n            ja_JP: ''\n            pt_BR: ''\n            zh_Hans: ''\n          precision: null\n          required: true\n          scope: null\n          template: null\n          type: string\n        - auto_generate: null\n          default: null\n          form: llm\n          human_description:\n            en_US: ''\n            ja_JP: ''\n            pt_BR: ''\n            zh_Hans: ''\n          label:\n            en_US: preferred_lang\n            ja_JP: preferred_lang\n            pt_BR: preferred_lang\n            zh_Hans: preferred_lang\n          llm_description: ''\n          max: null\n          min: null\n          name: preferred_lang\n          options: []\n          placeholder:\n            en_US: ''\n            ja_JP: ''\n            pt_BR: ''\n            zh_Hans: ''\n          precision: null\n          required: true\n          scope: null\n          template: null\n          type: string\n        - auto_generate: null\n          default: null\n          form: llm\n          human_description:\n            en_US: ''\n            ja_JP: ''\n            pt_BR: ''\n            zh_Hans: ''\n          label:\n            en_US: error_history\n            ja_JP: error_history\n            pt_BR: error_history\n            zh_Hans: error_history\n          llm_description: ''\n          max: null\n          min: null\n          name: error_history\n          options: []\n          placeholder:\n            en_US: ''\n            ja_JP: ''\n            pt_BR: ''\n            zh_Hans: ''\n          precision: null\n          required: true\n          scope: null\n          template: null\n          type: string\n        params:\n          error_history: ''\n          is_follow_up: ''\n          preferred_lang: ''\n          user_input: ''\n        provider_id: fd799267-4bd2-4059-9f86-c412536bee92\n        provider_name: PC_Inspection_FAQ_WF\n        provider_type: workflow\n        selected: false\n        title: PC_Inspection_FAQ_WF\n        tool_configurations: {}\n        tool_description: This workflow address user query related to PC inspection.\n          It takes in error and retrieve the instruction from 04_annual inspection\n          file and also provide solution related to FAQ. This workflow is design for\n          D-11 use-case.\n        tool_label: PC_Inspection_FAQ_WF\n        tool_name: PC_inspection_faq_wf\n        tool_node_version: '2'\n        tool_parameters:\n          error_history:\n            type: mixed\n            value: '{{#conversation.error_history#}}'\n          is_follow_up:\n            type: mixed\n            value: '{{#conversation.is_follow_up#}}'\n          preferred_lang:\n            type: mixed\n            value: '{{#conversation.preferred_lang#}}'\n          user_input:\n            type: mixed\n            value: '{{#1777498691372.error#}}'\n        type: tool\n      height: 177\n      id: '1777892841167'\n      position:\n        x: 1587.1405990224443\n        y: 792.3653810305826\n      positionAbsolute:\n        x: 1587.1405990224443\n        y: 792.3653810305826\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        code: \"\\ndef main(ai_response : list):\\n    ai_response = ai_response[0]\\n\\\n          \\    return {\\n        \\\"result\\\": ai_response.get(\\\"text\\\"),\\n        \\\"\\\n          follow_up\\\": \\\"YES\\\"\\n    }\\n\"\n        code_language: python3\n        desc: This node usage ai response returned from inspection workflow and parse\n          the data and return to next node.\n        outputs:\n          follow_up:\n            children: null\n            type: string\n          result:\n            children: null\n            type: string\n        selected: false\n        title: AI_reponse\n        type: code\n        variables:\n        - value_selector:\n          - '1777892841167'\n          - json\n          value_type: array[object]\n          variable: ai_response\n      height: 113\n      id: '1777893876496'\n      position:\n        x: 1902.487345639779\n        y: 792.3653810305826\n      positionAbsolute:\n        x: 1902.487345639779\n        y: 792.3653810305826\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        answer: '\n\n          {{#1777893876496.result#}}'\n        desc: ''\n        selected: false\n        title: Display response\n        type: answer\n        variables: []\n      height: 104\n      id: '1777894044696'\n      position:\n        x: 2180.682230714791\n        y: 717.4980325871161\n      positionAbsolute:\n        x: 2180.682230714791\n        y: 717.4980325871161\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        desc: This node assign follow up and error history variables to YES and instructions\n          respectively.\n        items:\n        - input_type: variable\n          operation: over-write\n          value:\n          - '1777893876496'\n          - follow_up\n          variable_selector:\n          - conversation\n          - is_follow_up\n          write_mode: over-write\n        - input_type: variable\n          operation: over-write\n          value:\n          - '1777893876496'\n          - result\n          variable_selector:\n          - conversation\n          - error_history\n          write_mode: over-write\n        selected: false\n        title: Assing error history and follow up\n        type: assigner\n        version: '2'\n      height: 171\n      id: '1777894063560'\n      position:\n        x: 2180.682230714791\n        y: 843.0249218362951\n      positionAbsolute:\n        x: 2180.682230714791\n        y: 843.0249218362951\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        cases:\n        - case_id: 'true'\n          conditions:\n          - comparison_operator: is\n            id: 574e8b85-0e8f-40c3-baec-678ad1ff3403\n            value: Invalid\n            varType: string\n            variable_selector:\n            - '1777498691372'\n            - client_name\n          id: 'true'\n          logical_operator: or\n        desc: This node routes selected client to inspection workflow if correct client\n          id is selected.\n        selected: false\n        title: is client?\n        type: if-else\n      height: 185\n      id: '1777901652696'\n      position:\n        x: 993.3748125775687\n        y: 710.5336280807471\n      positionAbsolute:\n        x: 993.3748125775687\n        y: 710.5336280807471\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        answer: '{{#1777498691372.error#}}'\n        desc: ''\n        selected: false\n        title: Display invalid error\n        type: answer\n        variables: []\n      height: 104\n      id: '1777901673135'\n      position:\n        x: 1299.6177003607243\n        y: 660.0118652399734\n      positionAbsolute:\n        x: 1299.6177003607243\n        y: 660.0118652399734\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        code: \"def main(preferred_lang: str, static_data: dict):\\n    template = static_data.get(\\\"\\\n          button_template\\\", \\\"\\\")\\n\\n    rectify = static_data.get(\\\"rectify_button\\\"\\\n          , {}).get(preferred_lang, {})\\n    btn_rectify = template.format(\\n    \\\n          \\    index=1, \\n        id=rectify.get(\\\"message\\\", \\\"\\\"), \\n        label=rectify.get(\\\"\\\n          label\\\", \\\"\\\")\\n    )\\n\\n    generate = static_data.get(\\\"email_button\\\"\\\n          , {}).get(preferred_lang, {})\\n    btn_generate = template.format(\\n   \\\n          \\     index=2, \\n        id=generate.get(\\\"message\\\", \\\"\\\"), \\n        label=generate.get(\\\"\\\n          label\\\", \\\"\\\")\\n    )\\n\\n    return {\\n        \\\"buttons\\\": f\\\"{btn_rectify}\\\\\\\n          n{btn_generate}\\\"\\n    }\"\n        code_language: python3\n        desc: This code node generates buttons such as Rectify Errors and Generate\n          Email buttons which will help the user to choose one to proceed next.\n        outputs:\n          buttons:\n            children: null\n            type: string\n        selected: false\n        title: Code_buttons\n        type: code\n        variables:\n        - value_selector:\n          - conversation\n          - preferred_lang\n          value_type: string\n          variable: preferred_lang\n        - value_selector:\n          - conversation\n          - static_data\n          value_type: object\n          variable: static_data\n      height: 129\n      id: '1777955639791'\n      position:\n        x: 2462.9808029901887\n        y: 717.4980325871161\n      positionAbsolute:\n        x: 2462.9808029901887\n        y: 717.4980325871161\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        answer: '\n\n\n          {{#1777955639791.buttons#}}'\n        desc: This node display buttons to the user to choose either to rectify errors\n          manually or generate email.\n        selected: false\n        title: Display buttons\n        type: answer\n        variables: []\n      height: 164\n      id: '1777956632079'\n      position:\n        x: 2766.9808029901887\n        y: 717.4980325871161\n      positionAbsolute:\n        x: 2766.9808029901887\n        y: 717.4980325871161\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        code: \"\\ndef main():\\n    return {\\n        \\\"result\\\": \\\"Generate Email\\\"\\\n          ,\\n    }\\n\"\n        code_language: python3\n        desc: This node return Generate Email as string to update is_follow_up variable\n          to route the user query to generate email.\n        outputs:\n          result:\n            children: null\n            type: string\n        selected: false\n        title: code_generate_email\n        type: code\n        variables: []\n      height: 113\n      id: '1777959536869'\n      position:\n        x: 1701.132171929208\n        y: 1019.7490387959851\n      positionAbsolute:\n        x: 1701.132171929208\n        y: 1019.7490387959851\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        desc: This node assign generate email as value to the variable is_follow_up\n          to handle the upcoming input into this stream.\n        items:\n        - input_type: variable\n          operation: over-write\n          value:\n          - '1777959536869'\n          - result\n          variable_selector:\n          - conversation\n          - is_follow_up\n          write_mode: over-write\n        selected: false\n        title: Assing generate email\n        type: assigner\n        version: '2'\n      height: 161\n      id: '1777959637557'\n      position:\n        x: 2059.1063068535677\n        y: 1019.7490387959851\n      positionAbsolute:\n        x: 2059.1063068535677\n        y: 1019.7490387959851\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        answer: '\n\n\n\n          Error: {{#1777460030833.error#}}'\n        desc: ''\n        selected: false\n        title: File Error Node\n        type: answer\n        variables: []\n      height: 104\n      id: '1777968122808'\n      position:\n        x: 2902.716053246384\n        y: 611.2076987731732\n      positionAbsolute:\n        x: 2902.716053246384\n        y: 611.2076987731732\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        desc: ''\n        is_team_authorization: true\n        output_schema: null\n        paramSchemas:\n        - auto_generate: null\n          default: null\n          form: llm\n          human_description:\n            en_US: ''\n            ja_JP: ''\n            pt_BR: ''\n            zh_Hans: ''\n          label:\n            en_US: error_history\n            ja_JP: error_history\n            pt_BR: error_history\n            zh_Hans: error_history\n          llm_description: ''\n          max: null\n          min: null\n          name: error_history\n          options: []\n          placeholder:\n            en_US: ''\n            ja_JP: ''\n            pt_BR: ''\n            zh_Hans: ''\n          precision: null\n          required: false\n          scope: null\n          template: null\n          type: string\n        - auto_generate: null\n          default: null\n          form: llm\n          human_description:\n            en_US: ''\n            ja_JP: ''\n            pt_BR: ''\n            zh_Hans: ''\n          label:\n            en_US: chunk_size\n            ja_JP: chunk_size\n            pt_BR: chunk_size\n            zh_Hans: chunk_size\n          llm_description: ''\n          max: null\n          min: null\n          name: chunk_size\n          options: []\n          placeholder:\n            en_US: ''\n            ja_JP: ''\n            pt_BR: ''\n            zh_Hans: ''\n          precision: null\n          required: false\n          scope: null\n          template: null\n          type: number\n        - auto_generate: null\n          default: null\n          form: llm\n          human_description:\n            en_US: ''\n            ja_JP: ''\n            pt_BR: ''\n            zh_Hans: ''\n          label:\n            en_US: overlap_size\n            ja_JP: overlap_size\n            pt_BR: overlap_size\n            zh_Hans: overlap_size\n          llm_description: ''\n          max: null\n          min: null\n          name: overlap_size\n          options: []\n          placeholder:\n            en_US: ''\n            ja_JP: ''\n            pt_BR: ''\n            zh_Hans: ''\n          precision: null\n          required: false\n          scope: null\n          template: null\n          type: number\n        - auto_generate: null\n          default: null\n          form: llm\n          human_description:\n            en_US: ''\n            ja_JP: ''\n            pt_BR: ''\n            zh_Hans: ''\n          label:\n            en_US: user_input\n            ja_JP: user_input\n            pt_BR: user_input\n            zh_Hans: user_input\n          llm_description: ''\n          max: null\n          min: null\n          name: user_input\n          options: []\n          placeholder:\n            en_US: ''\n            ja_JP: ''\n            pt_BR: ''\n            zh_Hans: ''\n          precision: null\n          required: false\n          scope: null\n          template: null\n          type: string\n        - auto_generate: null\n          default: null\n          form: llm\n          human_description:\n            en_US: ''\n            ja_JP: ''\n            pt_BR: ''\n            zh_Hans: ''\n          label:\n            en_US: preferred_lang\n            ja_JP: preferred_lang\n            pt_BR: preferred_lang\n            zh_Hans: preferred_lang\n          llm_description: ''\n          max: null\n          min: null\n          name: preferred_lang\n          options: []\n          placeholder:\n            en_US: ''\n            ja_JP: ''\n            pt_BR: ''\n            zh_Hans: ''\n          precision: null\n          required: true\n          scope: null\n          template: null\n          type: string\n        params:\n          chunk_size: ''\n          error_history: ''\n          overlap_size: ''\n          preferred_lang: ''\n          user_input: ''\n        provider_id: 57b307e6-40e8-4c2e-8cb4-fb26d3aa6ade\n        provider_name: Email_Gen(WF)\n        provider_type: workflow\n        selected: false\n        title: Email_Gen(WF)\n        tool_configurations: {}\n        tool_description: Email gen\n        tool_label: Email_Gen(WF)\n        tool_name: email_gen_v1\n        tool_node_version: '2'\n        tool_parameters:\n          chunk_size:\n            type: constant\n            value: null\n          error_history:\n            type: mixed\n            value: '{{#conversation.error_history#}}'\n          overlap_size:\n            type: constant\n            value: null\n          preferred_lang:\n            type: mixed\n            value: '{{#conversation.preferred_lang#}}'\n          user_input:\n            type: mixed\n            value: '{{#sys.query#}}'\n        type: tool\n      height: 53\n      id: '1777969132941'\n      position:\n        x: 732.7752208271447\n        y: 1019.7490387959851\n      positionAbsolute:\n        x: 732.7752208271447\n        y: 1019.7490387959851\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        code: \"\\ndef main(arg1: list) -> dict:\\n    return {\\n        \\\"result\\\":\\\n          \\ dict(arg1[0]).get(\\\"result\\\")\\n    }\\n\"\n        code_language: python3\n        desc: ''\n        outputs:\n          result:\n            children: null\n            type: string\n        selected: false\n        title: Code 13\n        type: code\n        variables:\n        - value_selector:\n          - '1777969132941'\n          - json\n          value_type: array[object]\n          variable: arg1\n      height: 53\n      id: '1777969630436'\n      position:\n        x: 1032.7752208271447\n        y: 1019.7490387959851\n      positionAbsolute:\n        x: 1032.7752208271447\n        y: 1019.7490387959851\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    viewport:\n      x: -461.38166202005164\n      y: 280.58878975506764\n      zoom: 0.43527528164806234\n"}
