dsl/D17_Welcome_Message.yml
{"data": "app:\n  description: 'D-17  welcome message chat flow '\n  icon: \ud83e\udd16\n  icon_background: '#FFEAD5'\n  mode: advanced-chat\n  name: 'D-17 Welcome Message '\n  use_icon_as_answer_icon: false\ndependencies:\n- current_identifier: null\n  type: marketplace\n  value:\n    marketplace_plugin_unique_identifier: langgenius/gemini:0.7.4@5faf411e694e0da130a337347a625a3812b1b7502a0183382d66d92c841bf05a\nkind: app\nversion: 0.3.1\nworkflow:\n  conversation_variables:\n  - description: ''\n    id: 2dfc4ba5-d93b-4af2-a80b-791fb202b6aa\n    name: user_language\n    selector:\n    - conversation\n    - user_language\n    value: ''\n    value_type: string\n  environment_variables: []\n  features:\n    file_upload:\n      allowed_file_extensions:\n      - .JPG\n      - .JPEG\n      - .PNG\n      - .GIF\n      - .WEBP\n      - .SVG\n      allowed_file_types:\n      - image\n      allowed_file_upload_methods:\n      - remote_url\n      - local_file\n      enabled: true\n      fileUploadConfig:\n        audio_file_size_limit: 50\n        batch_count_limit: 5\n        file_size_limit: 50\n        image_file_size_limit: 10\n        video_file_size_limit: 100\n        workflow_file_upload_limit: 10\n      image:\n        enabled: false\n        number_limits: 3\n        transfer_methods:\n        - local_file\n        - remote_url\n      number_limits: 3\n    opening_statement: '\n\n      Welcome to \u201cUnit Price Revision Agent\u201d\n\n      \u5358\u4fa1\u6539\u5b9a\u30a8\u30fc\u30b8\u30a7\u30f3\u30c8\u3078\u3088\u3046\u3053\u305d\n\n\n      Please choose your preferred language / \u3054\u5e0c\u671b\u306e\u8a00\u8a9e\u3092\u9078\u629e\u3057\u3066\u304f\u3060\u3055\u3044 :\n\n      '\n    retriever_resource:\n      enabled: true\n    sensitive_word_avoidance:\n      enabled: false\n    speech_to_text:\n      enabled: false\n    suggested_questions:\n    - English\n    - Japanese\n    suggested_questions_after_answer:\n      enabled: true\n    text_to_speech:\n      enabled: false\n      language: ''\n      voice: ''\n  graph:\n    edges:\n    - data:\n        sourceType: llm\n        targetType: answer\n      id: llm-answer\n      source: llm\n      sourceHandle: source\n      target: answer\n      targetHandle: target\n      type: custom\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: start\n        targetType: llm\n      id: 1776927870318-source-1776931562103-target\n      source: '1776927870318'\n      sourceHandle: source\n      target: '1776931562103'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: llm\n        targetType: assigner\n      id: 1776931562103-source-1776931893743-target\n      source: '1776931562103'\n      sourceHandle: source\n      target: '1776931893743'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInLoop: false\n        sourceType: assigner\n        targetType: llm\n      id: 1776931893743-source-llm-target\n      source: '1776931893743'\n      sourceHandle: source\n      target: llm\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    nodes:\n    - data:\n        desc: ''\n        selected: false\n        title: Start\n        type: start\n        variables: []\n      height: 53\n      id: '1776927870318'\n      position:\n        x: 80\n        y: 282\n      positionAbsolute:\n        x: 80\n        y: 282\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        context:\n          enabled: false\n          variable_selector: []\n        desc: ''\n        memory:\n          query_prompt_template: '{{#sys.query#}}\n\n\n            {{#sys.files#}}'\n          role_prefix:\n            assistant: ''\n            user: ''\n          window:\n            enabled: false\n            size: 10\n        model:\n          completion_params:\n            temperature: 0.7\n          mode: chat\n          name: gemini-3-pro-preview\n          provider: langgenius/gemini/google\n        prompt_template:\n        - id: 8a9039af-2c95-4f57-98e8-0e676efed24c\n          role: system\n          text: \" The user has already selected their preferred language, which is\\\n            \\ stored in the variable: {{#conversation.user_language#}}\\n\\n\\nYou MUST\\\n            \\ respond entirely in the language specified by the variable: {{#conversation.user_language#}}.\\n\\\n            If {{#conversation.user_language#}} is english, use English.\\nIf {{#conversation.user_language#}}\\\n            \\ is japanese, use Japanese.\\n   use:-\u5358\u4fa1\u6539\u5b9a\u30a8\u30fc\u30b8\u30a7\u30f3\u30c8\u3078\u3088\u3046\u3053\u305d\\n\\nGenerate a warm\\\n            \\ welcome message that:\\n-Welcome to \\\"Unit Price Revision Agent\\\".\\n\\n\\\n            Generate a warm welcome message in {{#conversation.user_language#}}.\\n\\\n            \\nUse single line breaks between the welcome heading, the service description,\\\n            \\ and the closing question to ensure the output is easy to read.\\n\\nnote:\\\n            \\ Do not mention the variable name or the language detection process in\\\n            \\ your response.\\n\\n\\n\"\n        selected: false\n        title: Generate Welcome\n        type: llm\n        variables: []\n        vision:\n          enabled: false\n      height: 89\n      id: llm\n      position:\n        x: 966.8310909735668\n        y: 272.7201705861493\n      positionAbsolute:\n        x: 966.8310909735668\n        y: 272.7201705861493\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        answer: '{{#llm.text#}}'\n        desc: ''\n        selected: false\n        title: Answer\n        type: answer\n        variables: []\n      height: 103\n      id: answer\n      position:\n        x: 1297.0781508870004\n        y: 272.7201705861493\n      positionAbsolute:\n        x: 1297.0781508870004\n        y: 272.7201705861493\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        context:\n          enabled: false\n          variable_selector: []\n        desc: ''\n        model:\n          completion_params:\n            temperature: 0.7\n          mode: chat\n          name: gemini-3-pro-preview\n          provider: langgenius/gemini/google\n        prompt_template:\n        - id: 7339dc8f-3f9f-4f4a-9777-e4e7e0f9565d\n          role: system\n          text: 'Role: Professional BPO Assistant (Unit Price Revision Agent).\n\n            Context:\n\n            You are interacting with a BPO Staff representative. The user''s preferred\n            language has been identified and is stored in the variable: {{#conversation.user_language#}}.\n\n            Objective:\n\n            Generate a professional welcome message strictly following the requirements\n            below.\n\n            Strict Instructions:\n\n\n            Language: You MUST write the entire response in the language specified\n            by {{#conversation.user_language#}}.\n\n            If {{#conversation.user_language#}} is english, respond in English.\n\n            If {{#conversation.user_language#}} is japanese, respond in Japanese.\n\n            Content Structure:\n\n            Start with the exact phrase: \"Welcome to ''Unit Price Revision Agent''\".\n\n            Explain that you are here to assist with session inputs, drafting emails,\n            and tracking action items.\n\n            End by asking: \"How can I help you today?\"\n\n            Tone: Keep the tone professional, helpful, and concise as per BPO standards.\n\n            Constraint:\n\n\n            Do NOT mention the variable name user_language or any internal logic in\n            your response.\n\n            Output ONLY the welcome message.'\n        - id: e4a77ec1-a289-41ea-acb3-3b476cd84c88\n          role: user\n          text: '{{#sys.query#}}'\n        selected: false\n        title: Language Classifier\n        type: llm\n        variables: []\n        vision:\n          enabled: false\n      height: 89\n      id: '1776931562103'\n      position:\n        x: 360.59672031649393\n        y: 272.7201705861493\n      positionAbsolute:\n        x: 360.59672031649393\n        y: 272.7201705861493\n      selected: true\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        desc: ''\n        items:\n        - input_type: variable\n          operation: over-write\n          value:\n          - '1776931562103'\n          - text\n          variable_selector:\n          - conversation\n          - user_language\n          write_mode: over-write\n        selected: false\n        title: Save Language\n        type: assigner\n        version: '2'\n      height: 85\n      id: '1776931893743'\n      position:\n        x: 656.3786160374711\n        y: 272.7201705861493\n      positionAbsolute:\n        x: 656.3786160374711\n        y: 272.7201705861493\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    viewport:\n      x: 23.099101719775263\n      y: 187.51031110126308\n      zoom: 0.39611740546248336\n"}
