dsl/D17_Welcome_Message.yml
{"data": "app:\n  description: 'D-17  welcome message chat flow '\n  icon: \ud83e\udd16\n  icon_background: '#FFEAD5'\n  mode: advanced-chat\n  name: 'D-17 Welcome Message '\n  use_icon_as_answer_icon: false\ndependencies:\n- current_identifier: null\n  type: marketplace\n  value:\n    marketplace_plugin_unique_identifier: langgenius/gemini:0.7.4@5faf411e694e0da130a337347a625a3812b1b7502a0183382d66d92c841bf05a\nkind: app\nversion: 0.3.1\nworkflow:\n  conversation_variables:\n  - description: ''\n    id: c5481630-b1b6-4847-a714-8b4b64f0146e\n    name: progress_management_sheet\n    selector:\n    - conversation\n    - progress_management_sheet\n    value: 0\n    value_type: integer\n  - description: this variable stores all static data in both language English and\n      Japanese\n    id: 6f7c13f0-e937-4f61-8ee5-770acaae6130\n    name: static_data\n    selector:\n    - conversation\n    - static_data\n    value:\n      button_template: '{index}. <button type=\"button\" data-message=\"{id}\">{label}</button>'\n      document_received_msg: null\n      error_message_document_received: null\n      error_message_file_missing: null\n      error_message_language: null\n      request_file_msg: null\n      select_lang_first_msg: null\n      user_guide: null\n    value_type: object\n  - description: This variable stores user's preferred language, the default one is\n      None\n    id: 2dfc4ba5-d93b-4af2-a80b-791fb202b6aa\n    name: user_language\n    selector:\n    - conversation\n    - user_language\n    value: ''\n    value_type: string\n  environment_variables: []\n  features:\n    file_upload:\n      allowed_file_extensions:\n      - .JPG\n      - .JPEG\n      - .PNG\n      - .GIF\n      - .WEBP\n      - .SVG\n      allowed_file_types:\n      - image\n      allowed_file_upload_methods:\n      - remote_url\n      - local_file\n      enabled: true\n      fileUploadConfig:\n        audio_file_size_limit: 50\n        batch_count_limit: 5\n        file_size_limit: 50\n        image_file_size_limit: 10\n        video_file_size_limit: 100\n        workflow_file_upload_limit: 10\n      image:\n        enabled: false\n        number_limits: 3\n        transfer_methods:\n        - local_file\n        - remote_url\n      number_limits: 3\n    opening_statement: '\n\n      Hi there, Welcome to \u201cUnit Price Revision Agent\u201d.\n\n\n      Please select your Preferred language.\n\n\n      ***\n\n      \u3053\u3093\u306b\u3061\u306f\u3002\u5358\u4fa1\u6539\u5b9a\u30a8\u30fc\u30b8\u30a7\u30f3\u30c8\u3078\u3088\u3046\u3053\u305d\n\n\n      \u3054\u5e0c\u671b\u306e\u8a00\u8a9e\u3092\u9078\u629e\u3057\u3066\u304f\u3060\u3055\u3044\u3002\n\n      ***'\n    retriever_resource:\n      enabled: true\n    sensitive_word_avoidance:\n      enabled: false\n    speech_to_text:\n      enabled: false\n    suggested_questions:\n    - English\n    - Japanese\n    suggested_questions_after_answer:\n      enabled: true\n    text_to_speech:\n      enabled: false\n      language: ''\n      voice: ''\n  graph:\n    edges:\n    - data:\n        sourceType: llm\n        targetType: answer\n      id: llm-answer\n      source: llm\n      sourceHandle: source\n      target: answer\n      targetHandle: target\n      type: custom\n    - data:\n        isInLoop: false\n        sourceType: assigner\n        targetType: llm\n      id: 1776931893743-source-llm-target\n      source: '1776931893743'\n      sourceHandle: source\n      target: llm\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: start\n        targetType: if-else\n      id: 1776927870318-source-1777014194321-target\n      source: '1776927870318'\n      sourceHandle: source\n      target: '1777014194321'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: if-else\n        targetType: tool\n      id: 1777014194321-true-1777014536556-target\n      source: '1777014194321'\n      sourceHandle: 'true'\n      target: '1777014536556'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: tool\n        targetType: code\n      id: 1777014536556-source-1777014652008-target\n      source: '1777014536556'\n      sourceHandle: source\n      target: '1777014652008'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: code\n        targetType: if-else\n      id: 1777014652008-source-1777014777539-target\n      source: '1777014652008'\n      sourceHandle: source\n      target: '1777014777539'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: if-else\n        targetType: assigner\n      id: 1777014777539-true-1777014872237-target\n      source: '1777014777539'\n      sourceHandle: 'true'\n      target: '1777014872237'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: assigner\n        targetType: code\n      id: 1777014872237-source-1777014997957-target\n      source: '1777014872237'\n      sourceHandle: source\n      target: '1777014997957'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: code\n        targetType: answer\n      id: 1777014997957-source-1777015315686-target\n      source: '1777014997957'\n      sourceHandle: source\n      target: '1777015315686'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: if-else\n        targetType: answer\n      id: 1777014777539-false-1777015376820-target\n      source: '1777014777539'\n      sourceHandle: 'false'\n      target: '1777015376820'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: if-else\n        targetType: answer\n      id: 1777014194321-false-1777015529554-target\n      source: '1777014194321'\n      sourceHandle: 'false'\n      target: '1777015529554'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    nodes:\n    - data:\n        desc: ''\n        selected: false\n        title: Start\n        type: start\n        variables: []\n      height: 53\n      id: '1776927870318'\n      position:\n        x: 80\n        y: 282\n      positionAbsolute:\n        x: 80\n        y: 282\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        context:\n          enabled: false\n          variable_selector: []\n        desc: ''\n        memory:\n          query_prompt_template: '{{#sys.query#}}\n\n\n            {{#sys.files#}}'\n          role_prefix:\n            assistant: ''\n            user: ''\n          window:\n            enabled: false\n            size: 10\n        model:\n          completion_params:\n            temperature: 0.7\n          mode: chat\n          name: gemini-3-pro-preview\n          provider: langgenius/gemini/google\n        prompt_template:\n        - id: 8a9039af-2c95-4f57-98e8-0e676efed24c\n          role: system\n          text: \" The user has already selected their preferred language, which is\\\n            \\ stored in the variable: {{#conversation.user_language#}}\\n\\n\\nYou MUST\\\n            \\ respond entirely in the language specified by the variable: {{#conversation.user_language#}}.\\n\\\n            If {{#conversation.user_language#}} is english, use English.\\nIf {{#conversation.user_language#}}\\\n            \\ is japanese, use Japanese.\\n   use:-\u5358\u4fa1\u6539\u5b9a\u30a8\u30fc\u30b8\u30a7\u30f3\u30c8\u3078\u3088\u3046\u3053\u305d\\n\\nGenerate a warm\\\n            \\ welcome message that:\\n-Welcome to \\\"Unit Price Revision Agent\\\".\\n\\n\\\n            Generate a warm welcome message in {{#conversation.user_language#}}.\\n\\\n            \\nUse single line breaks between the welcome heading, the service description,\\\n            \\ and the closing question to ensure the output is easy to read.\\n\\nnote:\\\n            \\ Do not mention the variable name or the language detection process in\\\n            \\ your response.\\n\\n\\n\"\n        selected: false\n        title: Generate Welcome\n        type: llm\n        variables: []\n        vision:\n          enabled: false\n      height: 89\n      id: llm\n      position:\n        x: 2112.6072237731587\n        y: 3576.7476132704896\n      positionAbsolute:\n        x: 2112.6072237731587\n        y: 3576.7476132704896\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        answer: '{{#llm.text#}}'\n        desc: ''\n        selected: false\n        title: Answer\n        type: answer\n        variables: []\n      height: 103\n      id: answer\n      position:\n        x: 2450.4790497731547\n        y: 3313.4160877090317\n      positionAbsolute:\n        x: 2450.4790497731547\n        y: 3313.4160877090317\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        context:\n          enabled: false\n          variable_selector: []\n        desc: ''\n        model:\n          completion_params:\n            temperature: 0.7\n          mode: chat\n          name: gemini-3-pro-preview\n          provider: langgenius/gemini/google\n        prompt_template:\n        - id: 7339dc8f-3f9f-4f4a-9777-e4e7e0f9565d\n          role: system\n          text: 'Role: Professional BPO Assistant (Unit Price Revision Agent).\n\n            Context:\n\n            You are interacting with a BPO Staff representative. The user''s preferred\n            language has been identified and is stored in the variable: {{#conversation.user_language#}}.\n\n            Objective:\n\n            Generate a professional welcome message strictly following the requirements\n            below.\n\n            Strict Instructions:\n\n\n            Language: You MUST write the entire response in the language specified\n            by {{#conversation.user_language#}}.\n\n            If {{#conversation.user_language#}} is english, respond in English.\n\n            If {{#conversation.user_language#}} is japanese, respond in Japanese.\n\n            Content Structure:\n\n            Start with the exact phrase: \"Welcome to ''Unit Price Revision Agent''\".\n\n            Explain that you are here to assist with session inputs, drafting emails,\n            and tracking action items.\n\n            End by asking: \"How can I help you today?\"\n\n            Tone: Keep the tone professional, helpful, and concise as per BPO standards.\n\n            Constraint:\n\n\n            Do NOT mention the variable name user_language or any internal logic in\n            your response.\n\n            Output ONLY the welcome message.'\n        - id: e4a77ec1-a289-41ea-acb3-3b476cd84c88\n          role: user\n          text: '{{#sys.query#}}'\n        selected: false\n        title: Language Classifier\n        type: llm\n        variables: []\n        vision:\n          enabled: false\n      height: 89\n      id: '1776931562103'\n      position:\n        x: 1993.1561644369965\n        y: 3132.6916378939304\n      positionAbsolute:\n        x: 1993.1561644369965\n        y: 3132.6916378939304\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        desc: ''\n        items:\n        - input_type: variable\n          operation: over-write\n          value:\n          - '1776931562103'\n          - text\n          variable_selector:\n          - conversation\n          - user_language\n          write_mode: over-write\n        selected: false\n        title: Save Language\n        type: assigner\n        version: '2'\n      height: 85\n      id: '1776931893743'\n      position:\n        x: 1340.4086327203922\n        y: 3376.1121579050423\n      positionAbsolute:\n        x: 1340.4086327203922\n        y: 3376.1121579050423\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        cases:\n        - case_id: 'true'\n          conditions:\n          - comparison_operator: not empty\n            id: 3e828d82-1ec6-40b3-aa90-bdc10661527d\n            value: ''\n            varType: string\n            variable_selector:\n            - sys\n            - query\n          - comparison_operator: empty\n            id: dddb4b3d-09e0-440f-8f36-48fb6891ba4b\n            value: ''\n            varType: string\n            variable_selector:\n            - conversation\n            - user_language\n          id: 'true'\n          logical_operator: and\n        - case_id: d51817a9-c5b5-4399-bcb0-a59b8e6614ab\n          conditions:\n          - comparison_operator: not empty\n            id: 0d92b9bf-fb8d-42b9-88a2-a66bad80c240\n            value: '{{#sys.files#}}'\n            varType: string\n            variable_selector:\n            - sys\n            - query\n          - comparison_operator: empty\n            id: a85cdabc-017a-482a-8967-c0483a6910d8\n            value: ''\n            varType: array[file]\n            variable_selector:\n            - sys\n            - files\n          - comparison_operator: not empty\n            id: f96c196c-5fd9-453c-91ad-09c8e6d2a64e\n            value: ''\n            varType: string\n            variable_selector:\n            - conversation\n            - user_language\n          id: d51817a9-c5b5-4399-bcb0-a59b8e6614ab\n          logical_operator: and\n        desc: ''\n        selected: false\n        title: Orchestrator\n        type: if-else\n      height: 251\n      id: '1777014194321'\n      position:\n        x: 384\n        y: 282\n      positionAbsolute:\n        x: 384\n        y: 282\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        desc: This workflow validate the user input if they have selected their preferred\n          language or not and return preferred language as key such \"en\" for English\n          and in case no language selected, request the user to choose language first.\n        is_team_authorization: true\n        output_schema: null\n        paramSchemas:\n        - auto_generate: null\n          default: null\n          form: llm\n          human_description:\n            en_US: this receives user's query to validate language preference\n            ja_JP: this receives user's query to validate language preference\n            pt_BR: this receives user's query to validate language preference\n            zh_Hans: this receives user's query to validate language preference\n          label:\n            en_US: User input\n            ja_JP: User input\n            pt_BR: User input\n            zh_Hans: User input\n          llm_description: this receives user's query to validate language preference\n          max: null\n          min: null\n          name: user_query\n          options: []\n          placeholder:\n            en_US: ''\n            ja_JP: ''\n            pt_BR: ''\n            zh_Hans: ''\n          precision: null\n          required: true\n          scope: null\n          template: null\n          type: string\n        params:\n          user_query: ''\n        provider_id: 7fb8ca4f-fc35-415e-94d5-48edc65fcf26\n        provider_name: COM_Bilingual_Workflow\n        provider_type: workflow\n        selected: false\n        title: COM_Bilingual_Workflow\n        tool_configurations: {}\n        tool_description: This workflow automate the language validation as per requirement\n          and return user's preferred language. Currently it supports English and\n          Japanese.\n        tool_label: COM_Bilingual_Workflow\n        tool_name: comBilingualWorkflow\n        tool_node_version: '2'\n        tool_parameters:\n          user_query:\n            type: mixed\n            value: '{{#sys.query#}}'\n        type: tool\n      height: 177\n      id: '1777014536556'\n      position:\n        x: 753.6371056698304\n        y: 158.2993008530123\n      positionAbsolute:\n        x: 753.6371056698304\n        y: 158.2993008530123\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        code: \"\\ndef main(lang_result:list):\\n    lang_obj = lang_result[0]\\n    return\\\n          \\ {\\n        \\\"result\\\": lang_obj.get(\\\"result\\\", \\\"\\\")\\n    }\"\n        code_language: python3\n        desc: This code node format response received from bilingual workflow so that\n          downstream node can use it to display respective message related to language\n          preference.\n        outputs:\n          result:\n            children: null\n            type: string\n        selected: false\n        title: code_format_response\n        type: code\n        variables:\n        - value_selector:\n          - '1777014536556'\n          - json\n          value_type: array[object]\n          variable: lang_result\n      height: 145\n      id: '1777014652008'\n      position:\n        x: 1057.6371056698304\n        y: 158.2993008530123\n      positionAbsolute:\n        x: 1057.6371056698304\n        y: 158.2993008530123\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        cases:\n        - case_id: 'true'\n          conditions:\n          - comparison_operator: is\n            id: 3de96b5d-6a35-40f8-904a-a57cc11bb9cd\n            value: en\n            varType: string\n            variable_selector:\n            - '1777014652008'\n            - result\n          - comparison_operator: is\n            id: 4ac20e4e-7a3a-48e3-9c03-fc27c1ca2efa\n            value: jp\n            varType: string\n            variable_selector:\n            - '1777014652008'\n            - result\n          id: 'true'\n          logical_operator: or\n        desc: This node checks if the user has selected their preferred language if\n          yes it will return language code like \"en\" else prompt the user to select\n          language first.\n        selected: false\n        title: Yes/No\n        type: if-else\n      height: 243\n      id: '1777014777539'\n      position:\n        x: 1361.6371056698304\n        y: 158.2993008530123\n      positionAbsolute:\n        x: 1361.6371056698304\n        y: 158.2993008530123\n      selected: true\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        desc: This node updates user preferred language to the variable preferred_lang\n          as en or jp\n        items:\n        - input_type: variable\n          operation: over-write\n          value:\n          - '1777014652008'\n          - result\n          variable_selector:\n          - conversation\n          - user_language\n          write_mode: over-write\n        selected: false\n        title: Update preferred language\n        type: assigner\n        version: '2'\n      height: 145\n      id: '1777014872237'\n      position:\n        x: 1665.6371056698304\n        y: 158.2993008530123\n      positionAbsolute:\n        x: 1665.6371056698304\n        y: 158.2993008530123\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        code: \"\\ndef main(preferred_lang: str, static_data: dict):\\n    return {\\n\\\n          \\        \\\"result\\\": static_data.get(\\\"user_guide\\\",{}).get(preferred_lang)\\n\\\n          \\    }\"\n        code_language: python3\n        desc: This code node fetch user guide based on preferred language from static\n          data and pass to next node to display the same message.\n        outputs:\n          result:\n            children: null\n            type: string\n        selected: false\n        title: code_fetch_user_guide\n        type: code\n        variables:\n        - value_selector:\n          - conversation\n          - user_language\n          value_type: string\n          variable: preferred_lang\n        - value_selector:\n          - conversation\n          - static_data\n          value_type: object\n          variable: static_data\n      height: 129\n      id: '1777014997957'\n      position:\n        x: 1969.6371056698304\n        y: 158.2993008530123\n      positionAbsolute:\n        x: 1969.6371056698304\n        y: 158.2993008530123\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        answer: '{{#1777014997957.result#}}'\n        desc: This node display the user guide based on preferred language\n        selected: false\n        title: User guide output\n        type: answer\n        variables: []\n      height: 147\n      id: '1777015315686'\n      position:\n        x: 2273.6371056698304\n        y: 158.2993008530123\n      positionAbsolute:\n        x: 2273.6371056698304\n        y: 158.2993008530123\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        answer: '{{#1777014652008.result#}}'\n        desc: This node request the user to enter the language if preferred language\n          is not selected.\n        selected: false\n        title: Request Language\n        type: answer\n        variables: []\n      height: 163\n      id: '1777015376820'\n      position:\n        x: 1665.6371056698304\n        y: 342.2993008530123\n      positionAbsolute:\n        x: 1665.6371056698304\n        y: 342.2993008530123\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        answer: Thank you, we received your query\n        desc: This is placeholder for input coming from user post file upload\n        selected: false\n        title: Post_file_uploade_msg\n        type: answer\n        variables: []\n      height: 145\n      id: '1777015529554'\n      position:\n        x: 730.4379563437687\n        y: 794.7838823878803\n      positionAbsolute:\n        x: 730.4379563437687\n        y: 794.7838823878803\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    viewport:\n      x: -517.861817381386\n      y: 248.73165683275124\n      zoom: 0.5083873366459775\n"}
