dsl/D17_Dev.yml
{"data": "app:\n  description: ''\n  icon: \ud83e\udd16\n  icon_background: '#FFEAD5'\n  mode: advanced-chat\n  name: D-17 Dev\n  use_icon_as_answer_icon: false\ndependencies: []\nkind: app\nversion: 0.3.1\nworkflow:\n  conversation_variables:\n  - description: this variable stores all type of file extensions are required for\n      this chatflow in comma separated manner.\n    id: a08af4c5-a600-456b-8b61-442e546a8385\n    name: file_extension\n    selector:\n    - conversation\n    - file_extension\n    value: xlsx\n    value_type: string\n  - description: ''\n    id: 851397a6-d70a-4d43-b3c5-e37c451f5c9b\n    name: progress_management_sheet\n    selector:\n    - conversation\n    - progress_management_sheet\n    value: 0\n    value_type: integer\n  - description: this variable stores all static data in both language English and\n      Japanese\n    id: bd9e5317-80d2-40b1-b034-1fb17ccd21ea\n    name: static_data\n    selector:\n    - conversation\n    - static_data\n    value:\n      button_template: '{index}. <button type=\"button\" data-message=\"{id}\">{label}</button>'\n      document_received_msg:\n        en: Document received. Processing records...Please wait while we retrieve\n          the client list for your selection.\n        jp: \u66f8\u985e\u3092\u53d7\u9818\u3057\u307e\u3057\u305f\u3002\u8a18\u9332\u3092\u51e6\u7406\u4e2d\u3067\u3059\u3002\u304a\u5ba2\u69d8\u304c\u9078\u629e\u3055\u308c\u305f\u30af\u30e9\u30a4\u30a2\u30f3\u30c8\u30ea\u30b9\u30c8\u3092\u53d6\u5f97\u3059\u308b\u307e\u3067\u3057\u3070\u3089\u304f\u304a\u5f85\u3061\u304f\u3060\u3055\u3044\u3002\n      error_message_document_received:\n        en: Something went wrong. Could you please upload the document again?\n        jp: \u4f55\u3089\u304b\u306e\u554f\u984c\u304c\u767a\u751f\u3057\u307e\u3057\u305f\u3002\u3082\u3046\u4e00\u5ea6\u30c9\u30ad\u30e5\u30e1\u30f3\u30c8\u3092\u30a2\u30c3\u30d7\u30ed\u30fc\u30c9\u3057\u3066\u3044\u305f\u3060\u3051\u307e\u3059\u304b\uff1f\n      error_message_language:\n        buttons:\n        - id: English\n          label: English\n        - id: \u65e5\u672c\u8a9e\n          label: \u65e5\u672c\u8a9e\n        en_jp: \"Sorry, we could not update your preference, could you re-select your\\\n          \\ preferred langauge.\\n\\n \u7533\u3057\u8a33\u3042\u308a\u307e\u305b\u3093\u304c\u3001\u304a\u5ba2\u69d8\u306e\u8a2d\u5b9a\u3092\u66f4\u65b0\u3067\u304d\u307e\u305b\u3093\u3067\u3057\u305f\u3002\u3082\u3046\u4e00\u5ea6\u3054\u5e0c\u671b\u306e\u8a00\u8a9e\u3092\u9078\u629e\u3057\u3066\u304f\u3060\u3055\u3044\u3002\"\n      file_missing_msg:\n        en: A file is required for this process. Please upload it.\n        jp: \u3053\u306e\u51e6\u7406\u306b\u306f\u30d5\u30a1\u30a4\u30eb\u304c\u5fc5\u8981\u3067\u3059\u3002\u30a2\u30c3\u30d7\u30ed\u30fc\u30c9\u3057\u3066\u304f\u3060\u3055\u3044\u3002\n      request_file_msg:\n        en: A file is required for this process. Please upload it.\n        jp: \u3053\u306e\u51e6\u7406\u306b\u306f\u30d5\u30a1\u30a4\u30eb\u304c\u5fc5\u8981\u3067\u3059\u3002\u30a2\u30c3\u30d7\u30ed\u30fc\u30c9\u3057\u3066\u304f\u3060\u3055\u3044\u3002\n      user_guide:\n        en: \"Your preferred language has been set to English. \\n\\n **Operating Procedure**:\\n\\\n          \\n  **Interface Configuration:** Select your preferred language (Japanese\\\n          \\ or English) to initialize the localized interface.\\n**Requisition Input:**\\\n          \\ Submit your requirements by describing them in the natural language chat\\\n          \\ and by uploading supporting documentation  (Excel Format). \\n**Client\\\n          \\ Selection:** Please select one client from the list.  \\n**Recommendation:**\\\n          \\ Recommends how to correct errors, address omissions, and fix other deficiencies.\\\n          \\  \\n**Review and Confirm:** BPO Staff/Person in charge can review and confirm\\\n          \\ whether he wants to rectify the data or send a notification(email) to\\\n          \\ the Business User/Vendor.  \\n**Email Draft:** Generates a professional\\\n          \\ notification email based on the findings.  \\n\\nPlease upload the document\\\n          \\ - Progress Management Sheet\"\n        jp: \"\u3054\u5e0c\u671b\u306e\u8a00\u8a9e\u306f\u65e5\u672c\u8a9e\u306b\u8a2d\u5b9a\u3055\u308c\u307e\u3057\u305f\u3002  \\n\\n**\u64cd\u4f5c\u624b\u9806**: \\n\\n\u30a4\u30f3\u30bf\u30fc\u30d5\u30a7\u30fc\u30b9\u8a2d\u5b9a\uff1a\\n \u3054\u5e0c\u671b\u306e\u8a00\u8a9e\uff08\u65e5\u672c\u8a9e\u307e\u305f\u306f\u82f1\u8a9e\uff09\u3092\u9078\u629e\u3057\u3001\u30ed\u30fc\u30ab\u30e9\u30a4\u30ba\u3055\u308c\u305f\u30a4\u30f3\u30bf\u30fc\u30d5\u30a7\u30fc\u30b9\u3092\u521d\u671f\u5316\u3057\u307e\u3059\u3002\\\n          \\ \\n\\n\u4f9d\u983c\u5185\u5bb9\u306e\u5165\u529b\uff1a\\n \u81ea\u7136\u8a00\u8a9e\u30c1\u30e3\u30c3\u30c8\u3067\u8981\u4ef6\u3092\u8aac\u660e\u3057\u3001\u95a2\u9023\u8cc7\u6599\uff08Excel\u5f62\u5f0f\uff09\u3092\u30a2\u30c3\u30d7\u30ed\u30fc\u30c9\u3057\u3066\u9001\u4fe1\u3057\u3066\u304f\u3060\u3055\u3044\u3002\\n\\n\u53d6\u5f15\u5148\u9078\u629e\uff1a\\n\\\n          \\ \u8868\u793a\u3055\u308c\u305f\u4e00\u89a7\u304b\u3089\u3001\u5bfe\u8c61\u3068\u306a\u308b\u53d6\u5f15\u5148\u30921\u793e\u9078\u629e\u3057\u3066\u304f\u3060\u3055\u3044\u3002 \\n\\n\u63a8\u5968\u5bfe\u5fdc\uff1a\\n \u30a8\u30e9\u30fc\u3001\u8a18\u8f09\u6f0f\u308c\u3001\u305d\u306e\u4ed6\u306e\u4e0d\u5099\u306b\u5bfe\u3057\u3066\u3001\u4fee\u6b63\u65b9\u6cd5\u304a\u3088\u3073\u5bfe\u5fdc\u65b9\u91dd\u3092\u63a8\u5968\u3057\u307e\u3059\u3002\\\n          \\ \\n\\n\u78ba\u8a8d\u304a\u3088\u3073\u5224\u65ad\uff1a\\n BPO\u30b9\u30bf\u30c3\u30d5 / \u62c5\u5f53\u8005\u306f\u3001AI\u306e\u51fa\u529b\u5185\u5bb9\u3092\u78ba\u8a8d\u3057\u3001\u30c7\u30fc\u30bf\u3092\u4fee\u6b63\u3059\u308b\u304b\u3001\u307e\u305f\u306f\u696d\u52d9\u30e6\u30fc\u30b6\u30fc / \u30d9\u30f3\u30c0\u30fc\u3078\u901a\u77e5\u30e1\u30fc\u30eb\u3092\u9001\u4fe1\u3059\u308b\u304b\u3092\u5224\u65ad\u3057\u307e\u3059\u3002\\\n          \\ \\n\\n\u30e1\u30fc\u30eb\u6848\u4f5c\u6210\uff1a\\n \u691c\u51fa\u3055\u308c\u305f\u5185\u5bb9\u306b\u57fa\u3065\u304d\u3001\u696d\u52d9\u5229\u7528\u306b\u9069\u3057\u305f\u901a\u77e5\u30e1\u30fc\u30eb\u6848\u3092\u751f\u6210\u3057\u307e\u3059\u3002  \\n\\n \u8cc7\u6599\u3092\u30a2\u30c3\u30d7\u30ed\u30fc\u30c9\u3057\u3066\u304f\u3060\u3055\u3044\uff1a\u9032\u6357\u7ba1\u7406\u8868\"\n    value_type: object\n  - description: This variable stores user's preferred language, the default one is\n      None\n    id: 1527706c-6116-450d-a31b-12822812709f\n    name: preferred_lang\n    selector:\n    - conversation\n    - preferred_lang\n    value: ''\n    value_type: string\n  environment_variables: []\n  features:\n    file_upload:\n      allowed_file_extensions:\n      - .JPG\n      - .JPEG\n      - .PNG\n      - .GIF\n      - .WEBP\n      - .SVG\n      allowed_file_types:\n      - document\n      allowed_file_upload_methods:\n      - local_file\n      enabled: true\n      fileUploadConfig:\n        audio_file_size_limit: 50\n        batch_count_limit: 5\n        file_size_limit: 50\n        image_file_size_limit: 10\n        video_file_size_limit: 100\n        workflow_file_upload_limit: 10\n      image:\n        enabled: false\n        number_limits: 3\n        transfer_methods:\n        - local_file\n        - remote_url\n      number_limits: 1\n    opening_statement: 'Welcome to \u201cUnit Price Revision Agent\u201d.\n\n\n      Please select your Preferred language.\n\n\n      ***\n\n      \u300c\u5358\u4fa1\u6539\u5b9a\u30a8\u30fc\u30b8\u30a7\u30f3\u30c8\u300d\u3078\u3088\u3046\u3053\u305d\n\n\n      \u3054\u5e0c\u671b\u306e\u8a00\u8a9e\u3092\u9078\u629e\u3057\u3066\u304f\u3060\u3055\u3044\u3002\n\n      ***'\n    retriever_resource:\n      enabled: false\n    sensitive_word_avoidance:\n      enabled: false\n    speech_to_text:\n      enabled: false\n    suggested_questions:\n    - English\n    - \u65e5\u672c\u8a9e\n    suggested_questions_after_answer:\n      enabled: false\n    text_to_speech:\n      enabled: false\n      language: ''\n      voice: ''\n  graph:\n    edges:\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: code\n        targetType: answer\n      id: 1776057413585-source-1776057896250-target\n      selected: false\n      source: '1776057413585'\n      sourceHandle: source\n      target: '1776057896250'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInLoop: false\n        sourceType: start\n        targetType: if-else\n      id: 1775796563709-source-1775804011997-target\n      selected: false\n      source: '1775796563709'\n      sourceHandle: source\n      target: '1775804011997'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: if-else\n        targetType: code\n      id: 1775804011997-2ebab099-635c-4eae-ad45-2be7a7d26078-1776188847640-target\n      selected: false\n      source: '1775804011997'\n      sourceHandle: 2ebab099-635c-4eae-ad45-2be7a7d26078\n      target: '1776188847640'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: code\n        targetType: answer\n      id: 1776188847640-source-1776189352854-target\n      selected: false\n      source: '1776188847640'\n      sourceHandle: source\n      target: '1776189352854'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: if-else\n        targetType: answer\n      id: 1775804011997-false-1776335836167-target\n      selected: false\n      source: '1775804011997'\n      sourceHandle: 'false'\n      target: '1776335836167'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: answer\n        targetType: code\n      id: 1776057896250-source-1776335909058-target\n      selected: false\n      source: '1776057896250'\n      sourceHandle: source\n      target: '1776335909058'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: code\n        targetType: assigner\n      id: 1776335909058-source-1776335961015-target\n      selected: false\n      source: '1776335909058'\n      sourceHandle: source\n      target: '1776335961015'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: if-else\n        targetType: tool\n      id: 1775804011997-true-1777021956002-target\n      selected: false\n      source: '1775804011997'\n      sourceHandle: 'true'\n      target: '1777021956002'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: tool\n        targetType: code\n      id: 1777021956002-source-1777022031701-target\n      selected: false\n      source: '1777021956002'\n      sourceHandle: source\n      target: '1777022031701'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: code\n        targetType: if-else\n      id: 1777022031701-source-1777022146398-target\n      selected: false\n      source: '1777022031701'\n      sourceHandle: source\n      target: '1777022146398'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: if-else\n        targetType: answer\n      id: 1777022146398-false-1777022300038-target\n      selected: false\n      source: '1777022146398'\n      sourceHandle: 'false'\n      target: '1777022300038'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInLoop: false\n        sourceType: if-else\n        targetType: assigner\n      id: 1777022146398-true-1776153517859-target\n      selected: false\n      source: '1777022146398'\n      sourceHandle: 'true'\n      target: '1776153517859'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInLoop: false\n        sourceType: assigner\n        targetType: code\n      id: 1776153517859-source-1777022445744-target\n      selected: false\n      source: '1776153517859'\n      sourceHandle: source\n      target: '1777022445744'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: code\n        targetType: answer\n      id: 1777022445744-source-1777022598833-target\n      selected: false\n      source: '1777022445744'\n      sourceHandle: source\n      target: '1777022598833'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: if-else\n        targetType: tool\n      id: 1775804011997-628168fc-d129-4914-9c82-5f9b5f4b8c2b-1777452194414-target\n      selected: false\n      source: '1775804011997'\n      sourceHandle: 628168fc-d129-4914-9c82-5f9b5f4b8c2b\n      target: '1777452194414'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: tool\n        targetType: code\n      id: 1777452194414-source-1776057413585-target\n      selected: false\n      source: '1777452194414'\n      sourceHandle: source\n      target: '1776057413585'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInLoop: false\n        sourceType: tool\n        targetType: code\n      id: 1777021956002-fail-branch-1776326940664-target\n      selected: false\n      source: '1777021956002'\n      sourceHandle: fail-branch\n      target: '1776326940664'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInLoop: false\n        sourceType: code\n        targetType: code\n      id: 1776188847640-fail-branch-1776326940664-target\n      selected: false\n      source: '1776188847640'\n      sourceHandle: fail-branch\n      target: '1776326940664'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInLoop: false\n        sourceType: tool\n        targetType: code\n      id: 1777452194414-fail-branch-1776326940664-target\n      selected: false\n      source: '1777452194414'\n      sourceHandle: fail-branch\n      target: '1776326940664'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInLoop: false\n        sourceType: code\n        targetType: answer\n      id: 1776326940664-source-1776331413831-target\n      selected: false\n      source: '1776326940664'\n      sourceHandle: source\n      target: '1776331413831'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    nodes:\n    - data:\n        selected: false\n        title: User Input\n        type: start\n        variables: []\n      height: 53\n      id: '1775796563709'\n      position:\n        x: 61.279807562300334\n        y: 118.01613465764967\n      positionAbsolute:\n        x: 61.279807562300334\n        y: 118.01613465764967\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        cases:\n        - case_id: 'true'\n          conditions:\n          - comparison_operator: not empty\n            id: f36afb4e-ce99-451a-9d95-3b8349d428f8\n            value: ''\n            varType: string\n            variable_selector:\n            - sys\n            - query\n          - comparison_operator: empty\n            id: a7ecdd21-ff37-41a6-acc3-a9b4824331fc\n            value: None\n            varType: string\n            variable_selector:\n            - conversation\n            - preferred_lang\n          id: 'true'\n          logical_operator: and\n        - case_id: 2ebab099-635c-4eae-ad45-2be7a7d26078\n          conditions:\n          - comparison_operator: not empty\n            id: d23faeb0-3329-4254-84de-8cdae048b6b5\n            value: ''\n            varType: string\n            variable_selector:\n            - sys\n            - query\n          - comparison_operator: empty\n            id: 39c870d2-4b02-45e8-9024-712f0a0d7b52\n            value: ''\n            varType: array[file]\n            variable_selector:\n            - sys\n            - files\n          - comparison_operator: not empty\n            id: 07c71801-74b7-4323-bd87-50e122ceab88\n            value: ''\n            varType: string\n            variable_selector:\n            - conversation\n            - preferred_lang\n          id: 2ebab099-635c-4eae-ad45-2be7a7d26078\n          logical_operator: and\n        - case_id: 628168fc-d129-4914-9c82-5f9b5f4b8c2b\n          conditions:\n          - comparison_operator: not empty\n            id: 431110da-0e65-4b3d-8ec3-d95a588a35de\n            value: ''\n            varType: string\n            variable_selector:\n            - sys\n            - query\n          - comparison_operator: not empty\n            id: 2e8e17db-70e4-4da7-9da7-4744c96d35cb\n            value: ''\n            varType: array[file]\n            variable_selector:\n            - sys\n            - files\n          - comparison_operator: not empty\n            id: 27a9ccb3-e833-4f0f-9307-73006ff32bd7\n            value: ''\n            varType: string\n            variable_selector:\n            - conversation\n            - preferred_lang\n          id: 628168fc-d129-4914-9c82-5f9b5f4b8c2b\n          logical_operator: and\n        - case_id: 0e4390ee-b075-4261-9012-4c44af56cac5\n          conditions:\n          - comparison_operator: not empty\n            id: 1a532462-ac83-49ee-8cdb-11d2de5bdc41\n            value: ''\n            varType: string\n            variable_selector:\n            - sys\n            - query\n          - comparison_operator: \u2260\n            id: 9fba8580-5a84-4763-b366-4e55fc8e7bcb\n            value: '0'\n            varType: number\n            variable_selector:\n            - conversation\n            - progress_management_sheet\n          id: 0e4390ee-b075-4261-9012-4c44af56cac5\n          logical_operator: and\n        desc: This node handle input traffics coming from user across downstream node.\n        selected: false\n        title: Orchestrator\n        type: if-else\n      height: 469\n      id: '1775804011997'\n      position:\n        x: 373.4343196299668\n        y: 139.01613465764967\n      positionAbsolute:\n        x: 373.4343196299668\n        y: 139.01613465764967\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        code: \"def main(file_respnse: dict, static_data:dict, preferred_lang:str):\\n\\\n          \\    file_data = file_respnse[0]\\n    \\n    if file_data.get(\\\"is_valid\\\"\\\n          ) == \\\"true\\\":\\n        msg = static_data.get(\\\"document_received_msg\\\"\\\n          , {}).get(preferred_lang)\\n\\n        return{\\n            \\\"result\\\": msg,\\n\\\n          \\            \\\"file_counter\\\": 1\\n        }\\n    else:\\n        msg = file_data.get(\\\"\\\n          error\\\")\\n        return{\\n            \\\"result\\\": msg,\\n            \\\"\\\n          file_counter\\\":0\\n        }\"\n        code_language: python3\n        desc: 'This node takes three input : array of object from previous node, static\n          data and preferred language and check validation if file/s are valid then\n          return 1 as file counter else return 0 and the respective message.'\n        outputs:\n          file_counter:\n            children: null\n            type: number\n          result:\n            children: null\n            type: string\n        selected: true\n        title: Document received message\n        type: code\n        variables:\n        - value_selector:\n          - conversation\n          - static_data\n          value_type: object\n          variable: static_data\n        - value_selector:\n          - conversation\n          - preferred_lang\n          value_type: string\n          variable: preferred_lang\n        - value_selector:\n          - '1777452194414'\n          - json\n          value_type: array[object]\n          variable: file_respnse\n      height: 161\n      id: '1776057413585'\n      position:\n        x: 1112.4161607609847\n        y: 431.3745880206932\n      positionAbsolute:\n        x: 1112.4161607609847\n        y: 431.3745880206932\n      selected: true\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        answer: '{{#1776057413585.result#}}'\n        desc: This node displays document received message the user based on language\n          preference.\n        selected: false\n        title: Doc received output\n        type: answer\n        variables: []\n      height: 164\n      id: '1776057896250'\n      position:\n        x: 1389.6996629053294\n        y: 431.3745880206932\n      positionAbsolute:\n        x: 1389.6996629053294\n        y: 431.3745880206932\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        desc: This node updates user preferred language to the variable preferred_lang\n          as en or jp\n        items:\n        - input_type: variable\n          operation: over-write\n          value:\n          - '1777022031701'\n          - result\n          variable_selector:\n          - conversation\n          - preferred_lang\n          write_mode: over-write\n        selected: false\n        title: Update preferred language\n        type: assigner\n        version: '2'\n      height: 145\n      id: '1776153517859'\n      position:\n        x: 1944.3296427516207\n        y: -45.85731546941031\n      positionAbsolute:\n        x: 1944.3296427516207\n        y: -45.85731546941031\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        code: \"def main(static_data: dict, preferred_lang: str):\\n    \\n    # Access\\\n          \\ the nested object using the new structure\\n    msg = static_data.get(\\\"\\\n          file_missing_msg\\\", {}).get(preferred_lang)\\n\\n    return {\\n        \\\"\\\n          result\\\": msg\\n    }\"\n        code_language: python3\n        desc: This node handles missing input file from the user and request them\n          to upload to get started.\n        error_strategy: fail-branch\n        outputs:\n          result:\n            children: null\n            type: string\n        selected: false\n        title: Handling Missing file\n        type: code\n        variables:\n        - value_selector:\n          - conversation\n          - static_data\n          value_type: object\n          variable: static_data\n        - value_selector:\n          - conversation\n          - preferred_lang\n          value_type: string\n          variable: preferred_lang\n      height: 149\n      id: '1776188847640'\n      position:\n        x: 714.682302537459\n        y: 236.44968931280027\n      positionAbsolute:\n        x: 714.682302537459\n        y: 236.44968931280027\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        answer: '{{#1776188847640.result#}}'\n        desc: Thid node display file missing output to request the user to upload\n          the same\n        selected: false\n        title: file missing output\n        type: answer\n        variables: []\n      height: 148\n      id: '1776189352854'\n      position:\n        x: 1162.3532660277638\n        y: 229.39381595065174\n      positionAbsolute:\n        x: 1162.3532660277638\n        y: 229.39381595065174\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        code: \"\\ndef main(preferred_lang_error: str, missing_file_error: str,document_rcv_error:str,\\\n          \\ preferred_lang:str,static_data:dict):\\n\\n    # execute if handling preferred\\\n          \\ language code node failed.\\n    if preferred_lang_error:\\n        button_template\\\n          \\ = static_data.get(\\\"button_template\\\", \\\"\\\")\\n        lang_msg_data =\\\n          \\ static_data.get(\\\"fail_branch_language_msg\\\", {})\\n        message = lang_msg_data.get(\\\"\\\n          en_jp\\\", \\\"\\\")\\n        buttons_list = lang_msg_data.get(\\\"buttons\\\", [])\\n\\\n          \\n        formatted_buttons = []\\n        for idx, btn in enumerate(buttons_list,\\\n          \\ start=1):\\n            btn_html = button_template.format(\\n          \\\n          \\      index=idx,\\n                id=btn[\\\"id\\\"],\\n                label=btn[\\\"\\\n          label\\\"]\\n            )\\n            formatted_buttons.append(btn_html)\\n\\\n          \\n        final_output = f\\\"{message}\\\\n\\\\n\\\" + \\\"\\\\n\\\".join(formatted_buttons)\\n\\\n          \\n        return{\\n            \\\"result\\\": final_output\\n        }\\n\\n \\\n          \\   elif missing_file_error:\\n        if preferred_lang == \\\"en\\\":\\n   \\\n          \\         msg = \\\"A file is required for this process. Please upload it.\\\"\\\n          \\n        else:\\n            msg = \\\"\u3053\u306e\u51e6\u7406\u306b\u306f\u30d5\u30a1\u30a4\u30eb\u304c\u5fc5\u8981\u3067\u3059\u3002\u30a2\u30c3\u30d7\u30ed\u30fc\u30c9\u3057\u3066\u304f\u3060\u3055\u3044\u3002\\\"\\n \\\n          \\       return{\\n            \\\"result\\\": msg\\n        }\\n    elif document_rcv_error:\\n\\\n          \\        if preferred_lang == \\\"en\\\":\\n            msg = \\\"Could you please\\\n          \\ re-upload the document-Progress Management Sheet?\\\"\\n        else:\\n \\\n          \\           msg = \\\"\u9032\u6357\u7ba1\u7406\u30b7\u30fc\u30c8\u306e\u30c9\u30ad\u30e5\u30e1\u30f3\u30c8\u3092\u518d\u5ea6\u30a2\u30c3\u30d7\u30ed\u30fc\u30c9\u3057\u3066\u3044\u305f\u3060\u3051\u307e\u3059\u304b\uff1f\\\"\\n        return{\\n\\\n          \\            \\\"result\\\": msg\\n        }\\n    else:\\n        return{\\n  \\\n          \\          \\\"result\\\": \\\"All code node is working fine.\\\"\\n        }\"\n        code_language: python3\n        desc: This node handle errors in case of failure of connected code node and\n          return the respective message to downstream node.\n        outputs:\n          result:\n            children: null\n            type: string\n        selected: false\n        title: Global Error handler\n        type: code\n        variables:\n        - value_selector:\n          - '1777021956002'\n          - error_message\n          value_type: string\n          variable: preferred_lang_error\n        - value_selector:\n          - '1776188847640'\n          - error_message\n          value_type: string\n          variable: missing_file_error\n        - value_selector:\n          - '1777452194414'\n          - text\n          value_type: string\n          variable: document_rcv_error\n        - value_selector:\n          - conversation\n          - static_data\n          value_type: object\n          variable: static_data\n        - value_selector:\n          - conversation\n          - preferred_lang\n          value_type: string\n          variable: preferred_lang\n      height: 129\n      id: '1776326940664'\n      position:\n        x: 2285.502758533631\n        y: -307.93693388765735\n      positionAbsolute:\n        x: 2285.502758533631\n        y: -307.93693388765735\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        answer: '{{#1776326940664.result#}}'\n        desc: This node display message based on failed branch\n        selected: false\n        title: Message for different fail branch\n        type: answer\n        variables: []\n      height: 148\n      id: '1776331413831'\n      position:\n        x: 2598.502758533631\n        y: -307.93693388765735\n      positionAbsolute:\n        x: 2598.502758533631\n        y: -307.93693388765735\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        author: kumar_vi@itg.hitachi.co.jp\n        desc: ''\n        height: 88\n        selected: false\n        showAuthor: true\n        text: '{\"root\":{\"children\":[{\"children\":[{\"detail\":0,\"format\":0,\"mode\":\"normal\",\"style\":\"\",\"text\":\"This\n          code node captures global errors in case of failure of any connect node\n          with it and return the message associated with it.\",\"type\":\"text\",\"version\":1}],\"direction\":null,\"format\":\"\",\"indent\":0,\"type\":\"paragraph\",\"version\":1,\"textFormat\":0,\"textStyle\":\"\"}],\"direction\":null,\"format\":\"\",\"indent\":0,\"type\":\"root\",\"version\":1}}'\n        theme: blue\n        title: ''\n        type: ''\n        width: 469\n      height: 88\n      id: '1776334653462'\n      position:\n        x: 1995.533666592206\n        y: -454.86546201152464\n      positionAbsolute:\n        x: 1995.533666592206\n        y: -454.86546201152464\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom-note\n      width: 469\n    - data:\n        answer: Thank you, we received your query\n        desc: This is placeholder for input coming from user post file upload\n        selected: false\n        title: post file upload\n        type: answer\n        variables: []\n      height: 145\n      id: '1776335836167'\n      position:\n        x: 719.9759708830964\n        y: 666.9299753620836\n      positionAbsolute:\n        x: 719.9759708830964\n        y: 666.9299753620836\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        code: \"\\ndef main():\\n    return {\\n        \\\"result\\\": 1,\\n    }\\n\"\n        code_language: python3\n        desc: This node return 1 to update the variable file_upload\n        outputs:\n          result:\n            children: null\n            type: number\n        selected: false\n        title: return 1\n        type: code\n        variables: []\n      height: 97\n      id: '1776335909058'\n      position:\n        x: 1679.8729716248317\n        y: 431.3745880206932\n      positionAbsolute:\n        x: 1679.8729716248317\n        y: 431.3745880206932\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        desc: This node assign 1 to file_uploaded variable to maintain global records\n          that file has been successfully received.\n        items:\n        - input_type: variable\n          operation: over-write\n          value:\n          - '1776335909058'\n          - result\n          variable_selector:\n          - conversation\n          - progress_management_sheet\n          write_mode: over-write\n        selected: false\n        title: Assign 1 to file_uploaded\n        type: assigner\n        version: '2'\n      height: 145\n      id: '1776335961015'\n      position:\n        x: 1993.8079184438861\n        y: 426.9547300814935\n      positionAbsolute:\n        x: 1993.8079184438861\n        y: 426.9547300814935\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        desc: This workflow validate the user input if they have selected their preferred\n          language or not and return preferred language as key such \"en\" for English\n          and in case no language selected, request the user to choose language first.\n        error_strategy: fail-branch\n        is_team_authorization: true\n        output_schema: null\n        paramSchemas:\n        - auto_generate: null\n          default: null\n          form: llm\n          human_description:\n            en_US: this receives user's query to validate language preference\n            ja_JP: this receives user's query to validate language preference\n            pt_BR: this receives user's query to validate language preference\n            zh_Hans: this receives user's query to validate language preference\n          label:\n            en_US: User input\n            ja_JP: User input\n            pt_BR: User input\n            zh_Hans: User input\n          llm_description: this receives user's query to validate language preference\n          max: null\n          min: null\n          name: user_query\n          options: []\n          placeholder:\n            en_US: ''\n            ja_JP: ''\n            pt_BR: ''\n            zh_Hans: ''\n          precision: null\n          required: true\n          scope: null\n          template: null\n          type: string\n        params:\n          user_query: ''\n        provider_id: 7fb8ca4f-fc35-415e-94d5-48edc65fcf26\n        provider_name: COM_Bilingual_Workflow\n        provider_type: workflow\n        selected: false\n        title: COM_Bilingual_Workflow\n        tool_configurations: {}\n        tool_description: This workflow automate the language validation as per requirement\n          and return user's preferred language. Currently it supports English and\n          Japanese.\n        tool_label: COM_Bilingual_Workflow\n        tool_name: comBilingualWorkflow\n        tool_node_version: '2'\n        tool_parameters:\n          user_query:\n            type: mixed\n            value: '{{#sys.query#}}'\n        type: tool\n      height: 213\n      id: '1777021956002'\n      position:\n        x: 719.9759708830964\n        y: -15.113408246636872\n      positionAbsolute:\n        x: 719.9759708830964\n        y: -15.113408246636872\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        code: \"\\ndef main(lang_result:list):\\n    lang_obj = lang_result[0]\\n    return\\\n          \\ {\\n        \\\"result\\\": lang_obj.get(\\\"result\\\", \\\"\\\")\\n    }\"\n        code_language: python3\n        desc: This code node format response received from bilingual workflow so that\n          downstream node can use it to display respective message related to language\n          preference.\n        outputs:\n          result:\n            children: null\n            type: string\n        selected: false\n        title: code_format_response\n        type: code\n        variables:\n        - value_selector:\n          - '1777021956002'\n          - json\n          value_type: array[object]\n          variable: lang_result\n      height: 145\n      id: '1777022031701'\n      position:\n        x: 1203.7440079254611\n        y: -15.113408246636872\n      positionAbsolute:\n        x: 1203.7440079254611\n        y: -15.113408246636872\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        cases:\n        - case_id: 'true'\n          conditions:\n          - comparison_operator: is\n            id: 27a20c63-f9fc-4f0d-8654-8bde83ef0a9d\n            value: en\n            varType: string\n            variable_selector:\n            - '1777022031701'\n            - result\n          - comparison_operator: is\n            id: e4f5feae-f94d-4d9b-9564-b27b25f9bd84\n            value: jp\n            varType: string\n            variable_selector:\n            - '1777022031701'\n            - result\n          id: 'true'\n          logical_operator: or\n        desc: This node checks if the user has selected their preferred language if\n          yes it will return language code like \"en\" else prompt the user to select\n          language first.\n        selected: false\n        title: Yes/No\n        type: if-else\n      height: 227\n      id: '1777022146398'\n      position:\n        x: 1503.7440079254611\n        y: -15.113408246636872\n      positionAbsolute:\n        x: 1503.7440079254611\n        y: -15.113408246636872\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        answer: '{{#1777022031701.result#}}'\n        desc: ''\n        selected: false\n        title: Request Language\n        type: answer\n        variables: []\n      height: 104\n      id: '1777022300038'\n      position:\n        x: 1791.634947076113\n        y: 146.78730205736468\n      positionAbsolute:\n        x: 1791.634947076113\n        y: 146.78730205736468\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        code: \"\\ndef main(preferred_lang: str, static_data: dict):\\n    return {\\n\\\n          \\        \\\"result\\\": static_data.get(\\\"user_guide\\\",{}).get(preferred_lang)\\n\\\n          \\    }\"\n        code_language: python3\n        desc: This code node fetch user guide based on preferred language from static\n          data and pass to next node to display the same message.\n        outputs:\n          result:\n            children: null\n            type: string\n        selected: false\n        title: code_fetch_user_guide\n        type: code\n        variables:\n        - value_selector:\n          - conversation\n          - static_data\n          value_type: object\n          variable: static_data\n        - value_selector:\n          - conversation\n          - preferred_lang\n          value_type: string\n          variable: preferred_lang\n      height: 129\n      id: '1777022445744'\n      position:\n        x: 2248.3296427516207\n        y: -45.85731546941031\n      positionAbsolute:\n        x: 2248.3296427516207\n        y: -45.85731546941031\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        answer: '{{#1777022445744.result#}}'\n        desc: ''\n        selected: false\n        title: User guide output\n        type: answer\n        variables: []\n      height: 104\n      id: '1777022598833'\n      position:\n        x: 2552.3296427516207\n        y: -45.85731546941031\n      positionAbsolute:\n        x: 2552.3296427516207\n        y: -45.85731546941031\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        desc: This workflow validate the file input in terms of file size, extension\n          and return response in preferred language.\n        error_strategy: fail-branch\n        is_team_authorization: true\n        output_schema: null\n        paramSchemas:\n        - auto_generate: null\n          default: null\n          form: llm\n          human_description:\n            en_US: ''\n            ja_JP: ''\n            pt_BR: ''\n            zh_Hans: ''\n          label:\n            en_US: file_input\n            ja_JP: file_input\n            pt_BR: file_input\n            zh_Hans: file_input\n          llm_description: ''\n          max: null\n          min: null\n          name: file_input\n          options: []\n          placeholder:\n            en_US: ''\n            ja_JP: ''\n            pt_BR: ''\n            zh_Hans: ''\n          precision: null\n          required: true\n          scope: null\n          template: null\n          type: files\n        - auto_generate: null\n          default: null\n          form: llm\n          human_description:\n            en_US: ''\n            ja_JP: ''\n            pt_BR: ''\n            zh_Hans: ''\n          label:\n            en_US: file extension\n            ja_JP: file extension\n            pt_BR: file extension\n            zh_Hans: file extension\n          llm_description: ''\n          max: null\n          min: null\n          name: required_extension\n          options: []\n          placeholder:\n            en_US: ''\n            ja_JP: ''\n            pt_BR: ''\n            zh_Hans: ''\n          precision: null\n          required: true\n          scope: null\n          template: null\n          type: string\n        - auto_generate: null\n          default: null\n          form: llm\n          human_description:\n            en_US: ''\n            ja_JP: ''\n            pt_BR: ''\n            zh_Hans: ''\n          label:\n            en_US: file size\n            ja_JP: file size\n            pt_BR: file size\n            zh_Hans: file size\n          llm_description: ''\n          max: null\n          min: null\n          name: max_file_size\n          options: []\n          placeholder:\n            en_US: ''\n            ja_JP: ''\n            pt_BR: ''\n            zh_Hans: ''\n          precision: null\n          required: true\n          scope: null\n          template: null\n          type: number\n        - auto_generate: null\n          default: null\n          form: llm\n          human_description:\n            en_US: ''\n            ja_JP: ''\n            pt_BR: ''\n            zh_Hans: ''\n          label:\n            en_US: preferred_language\n            ja_JP: preferred_language\n            pt_BR: preferred_language\n            zh_Hans: preferred_language\n          llm_description: ''\n          max: null\n          min: null\n          name: preferred_language\n          options: []\n          placeholder:\n            en_US: ''\n            ja_JP: ''\n            pt_BR: ''\n            zh_Hans: ''\n          precision: null\n          required: true\n          scope: null\n          template: null\n          type: string\n        params:\n          file_input: ''\n          max_file_size: ''\n          preferred_language: ''\n          required_extension: ''\n        provider_id: 930076cb-f494-4f78-8d24-87495300afdc\n        provider_name: COM_File_Validator\n        provider_type: workflow\n        retry_config:\n          max_retries: 3\n          retry_enabled: false\n          retry_interval: 1000\n        selected: false\n        title: COM_File_Validator\n        tool_configurations: {}\n        tool_description: This workflow accepts file (single or multiple), extensions\n          (in case of more than one, use comma separated string), preferred language\n          and file size. It will validated as per the input parameters and returns\n          file metadata.\n        tool_label: COM_File_Validator\n        tool_name: comFileValidator\n        tool_node_version: '2'\n        tool_parameters:\n          file_input:\n            type: variable\n            value:\n            - sys\n            - files\n          max_file_size:\n            type: constant\n            value: 10\n          preferred_language:\n            type: mixed\n            value: '{{#conversation.preferred_lang#}}'\n          required_extension:\n            type: mixed\n            value: '{{#conversation.file_extension#}}'\n        type: tool\n      height: 149\n      id: '1777452194414'\n      position:\n        x: 714.682302537459\n        y: 431.3745880206932\n      positionAbsolute:\n        x: 714.682302537459\n        y: 431.3745880206932\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    viewport:\n      x: -101.47637760195087\n      y: 179.42881430422977\n      zoom: 0.6011420217845627\n"}
