dsl/Dify_Dsl_Github_Sync_Cron.yml
{"data": "app:\n  description: Standalone Python script that exports Dify DSL and commits it to GitHub.\n    Designed to run as a scheduled cron job \u2014 no web server, no HTTP endpoints. Uses\n    a static Bearer token for Dify Cloud authentication.\n  icon: \ud83d\udd50\n  icon_background: '#E0F2FE'\n  mode: workflow\n  name: Dify Dsl Github Sync Cron\n  use_icon_as_answer_icon: false\ndependencies:\n- current_identifier: null\n  type: marketplace\n  value:\n    marketplace_plugin_unique_identifier: langgenius/gemini:0.7.4@5faf411e694e0da130a337347a625a3812b1b7502a0183382d66d92c841bf05a\nkind: app\nversion: 0.3.1\nworkflow:\n  conversation_variables: []\n  environment_variables:\n  - description: Static Bearer token from cloud.dify.ai DevTools > Application > Local\n      Storage > access_token\n    id: env-dify-access-token\n    name: DIFY_ACCESS_TOKEN\n    selector:\n    - env\n    - DIFY_ACCESS_TOKEN\n    value: ''\n    value_type: secret\n  - description: Dify Cloud host URL\n    id: env-dify-host\n    name: DIFY_HOST\n    selector:\n    - env\n    - DIFY_HOST\n    value: http://172.30.116.165\n    value_type: string\n  - description: Dify application UUID whose DSL will be exported\n    id: env-dify-app-id\n    name: DIFY_APP_ID\n    selector:\n    - env\n    - DIFY_APP_ID\n    value: 06730af9-64ca-4962-99fd-65fb049ce05f\n    value_type: string\n  - description: Short app name used in commit messages\n    id: env-dify-app-name\n    name: DIFY_APP_NAME\n    selector:\n    - env\n    - DIFY_APP_NAME\n    value: Central_Logger\n    value_type: string\n  - description: GitHub Personal Access Token with repo scope\n    id: env-github-token\n    name: GITHUB_TOKEN\n    selector:\n    - env\n    - GITHUB_TOKEN\n    value: ''\n    value_type: secret\n  - description: GitHub repository owner or organisation\n    id: env-github-owner\n    name: GITHUB_OWNER\n    selector:\n    - env\n    - GITHUB_OWNER\n    value: sonam-gl\n    value_type: string\n  - description: GitHub repository name\n    id: env-github-repo\n    name: GITHUB_REPO\n    selector:\n    - env\n    - GITHUB_REPO\n    value: dify-dsl-sync\n    value_type: string\n  - description: Target branch for commits\n    id: env-github-branch\n    name: GITHUB_BRANCH\n    selector:\n    - env\n    - GITHUB_BRANCH\n    value: main\n    value_type: string\n  - description: Relative file path in the repository for the DSL YAML\n    id: env-github-file-path\n    name: GITHUB_FILE_PATH\n    selector:\n    - env\n    - GITHUB_FILE_PATH\n    value: dsl/central_logger.yml\n    value_type: string\n  features:\n    file_upload:\n      allowed_file_extensions: []\n      allowed_file_types: []\n      allowed_file_upload_methods: []\n      enabled: false\n      fileUploadConfig:\n        audio_file_size_limit: 50\n        batch_count_limit: 5\n        file_size_limit: 50\n        image_file_size_limit: 10\n        video_file_size_limit: 100\n        workflow_file_upload_limit: 10\n      image:\n        enabled: false\n        number_limits: 3\n        transfer_methods:\n        - local_file\n        - remote_url\n      number_limits: 3\n    opening_statement: ''\n    retriever_resource:\n      enabled: false\n    sensitive_word_avoidance:\n      enabled: false\n    speech_to_text:\n      enabled: false\n    suggested_questions: []\n    suggested_questions_after_answer:\n      enabled: false\n    text_to_speech:\n      enabled: false\n      language: ''\n      voice: ''\n  graph:\n    edges:\n    - data:\n        isInIteration: false\n        sourceType: start\n        targetType: code\n      id: e-start-cron\n      source: start\n      sourceHandle: source\n      target: cron_schedule\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        sourceType: code\n        targetType: llm\n      id: e-cron-config\n      source: cron_schedule\n      sourceHandle: source\n      target: generate_config\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        sourceType: llm\n        targetType: llm\n      id: e-config-dify\n      source: generate_config\n      sourceHandle: source\n      target: generate_dify_client\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        sourceType: llm\n        targetType: llm\n      id: e-dify-github\n      source: generate_dify_client\n      sourceHandle: source\n      target: generate_github_client\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        sourceType: llm\n        targetType: llm\n      id: e-github-sync\n      source: generate_github_client\n      sourceHandle: source\n      target: generate_sync_service\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        sourceType: llm\n        targetType: llm\n      id: e-sync-script\n      source: generate_sync_service\n      sourceHandle: source\n      target: generate_sync_script\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        sourceType: llm\n        targetType: code\n      id: e-script-assemble\n      source: generate_sync_script\n      sourceHandle: source\n      target: assemble_source_files\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        sourceType: code\n        targetType: code\n      id: e-assemble-compile\n      source: assemble_source_files\n      sourceHandle: source\n      target: compile_and_validate\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: code\n        targetType: code\n      id: compile_and_validate-source-1777469154572-target\n      source: compile_and_validate\n      sourceHandle: source\n      target: '1777469154572'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: code\n        targetType: end\n      id: 1777469154572-source-1777469531525-target\n      source: '1777469154572'\n      sourceHandle: source\n      target: '1777469531525'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    nodes:\n    - data:\n        desc: ''\n        selected: false\n        title: Start\n        type: start\n        variables: []\n      height: 53\n      id: start\n      position:\n        x: 80\n        y: 300\n      positionAbsolute:\n        x: 80\n        y: 300\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        code: \"import json\\n\\ndef main():\\n\\n\\t# \u2500\u2500 Cron schedule configuration \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\\n\\\n          \\t# Supports 1 or more executions per day.\\n\\t# Expressions follow standard\\\n          \\ 5-field cron syntax:\\n\\t#   minute  hour  day-of-month  month  day-of-week\\n\\\n          \\t#\\n\\t# Examples:\\n\\t#   \\\"0 2 * * *\\\"       \u2014 daily at 02:00 UTC\\n\\t#\\\n          \\   \\\"0 9,18 * * *\\\"    \u2014 twice daily at 09:00 and 18:00 UTC\\n\\t#   \\\"0\\\n          \\ */6 * * *\\\"     \u2014 every 6 hours\\n\\t#   \\\"0 8 * * 1-5\\\"     \u2014 weekdays\\\n          \\ at 08:00 UTC\\n\\t#   \\\"*/30 * * * *\\\"    \u2014 every 30 minutes\\n\\n\\tCRON_CONFIG\\\n          \\ = {\\n\\t\\t\\\"schedules\\\": [\\n\\t\\t\\t{\\\"expression\\\": \\\"0 2 * * *\\\",  \\\"label\\\"\\\n          : \\\"nightly_02_utc\\\"},\\n\\t\\t\\t{\\\"expression\\\": \\\"0 14 * * *\\\", \\\"label\\\"\\\n          : \\\"afternoon_14_utc\\\"},\\n\\t\\t],\\n\\t\\t\\\"timezone\\\": \\\"UTC\\\",\\n\\t\\t\\\"max_retries\\\"\\\n          : 3,\\n\\t\\t\\\"retry_delay_seconds\\\": 60,\\n\\t\\t\\\"timeout_seconds\\\": 120,\\n\\t\\\n          \\t\\\"notify_on_failure\\\": True,\\n\\t\\t\\\"skip_if_no_change\\\": True,\\n\\t}\\n\\n\\\n          \\tcron_config_json  = json.dumps(CRON_CONFIG, indent=2)\\n\\tschedule_count\\\n          \\    = len(CRON_CONFIG[\\\"schedules\\\"])\\n\\tschedule_labels   = \\\", \\\".join(s[\\\"\\\n          label\\\"] for s in CRON_CONFIG[\\\"schedules\\\"])\\n\\tschedule_exprs    = \\\"\\\n          , \\\".join(s[\\\"expression\\\"] for s in CRON_CONFIG[\\\"schedules\\\"])\\n\\t\\n\\t\\\n          return {\\n\\t\\t\\\"cron_config_json\\\": cron_config_json,\\n\\t\\t\\\"schedule_count\\\"\\\n          : schedule_count,\\n\\t\\t\\\"schedule_labels\\\": schedule_labels,\\n\\t\\t\\\"schedule_exprs\\\"\\\n          : schedule_exprs\\n    }\"\n        code_language: python3\n        desc: Defines the cron schedule configuration. Supports multiple expressions\n          per day. Outputs a structured JSON config block consumed by sync_script.py.\n        outputs:\n          cron_config_json:\n            children: null\n            type: string\n          schedule_count:\n            children: null\n            type: number\n          schedule_exprs:\n            children: null\n            type: string\n          schedule_labels:\n            children: null\n            type: string\n        selected: false\n        title: cron_schedule\n        type: code\n        variables: []\n      height: 129\n      id: cron_schedule\n      position:\n        x: 380\n        y: 300\n      positionAbsolute:\n        x: 380\n        y: 300\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        context:\n          enabled: false\n          variable_selector: []\n        desc: Emit config.py \u2014 env var loader, no HTTP/API_SECRET_KEY fields\n        model:\n          completion_params:\n            temperature: 0.2\n          mode: chat\n          name: gemini-2.5-pro\n          provider: langgenius/gemini/google\n        outputs:\n          text:\n            children: null\n            type: string\n        prompt_template:\n        - id: sys-config\n          role: system\n          text: You are a Python code generator. Output only a single ```python```\n            code block. No prose, no explanation, no markdown outside the fence.\n        - id: usr-config\n          role: user\n          text: \"Output config.py exactly as follows:\\n\\n```python\\nimport os\\nfrom\\\n            \\ dotenv import load_dotenv\\n\\nload_dotenv()\\n\\n\\nclass Config:\\n    DIFY_HOST:\\\n            \\ str          = os.getenv('DIFY_HOST', 'https://cloud.dify.ai')\\n   \\\n            \\ DIFY_ACCESS_TOKEN: str  = os.getenv('DIFY_ACCESS_TOKEN', '')\\n    DIFY_APP_ID:\\\n            \\ str        = os.getenv('DIFY_APP_ID', '')\\n    DIFY_APP_NAME: str  \\\n            \\    = os.getenv('DIFY_APP_NAME', 'app')\\n    GITHUB_TOKEN: str      \\\n            \\ = os.getenv('GITHUB_TOKEN', '')\\n    GITHUB_OWNER: str       = os.getenv('GITHUB_OWNER',\\\n            \\ '')\\n    GITHUB_REPO: str        = os.getenv('GITHUB_REPO', '')\\n  \\\n            \\  GITHUB_BRANCH: str      = os.getenv('GITHUB_BRANCH', 'main')\\n    GITHUB_FILE_PATH:\\\n            \\ str   = os.getenv('GITHUB_FILE_PATH', 'dsl/app.yml')\\n\\n    def validate(self)\\\n            \\ -> None:\\n        required = [\\n            'DIFY_HOST', 'DIFY_ACCESS_TOKEN',\\\n            \\ 'DIFY_APP_ID',\\n            'GITHUB_TOKEN', 'GITHUB_OWNER', 'GITHUB_REPO',\\n\\\n            \\        ]\\n        missing = [k for k in required if not getattr(self,\\\n            \\ k)]\\n        if missing:\\n            raise ValueError(f'Missing required\\\n            \\ env vars: {missing}')\\n\\n\\nconfig = Config()\\nconfig.validate()\\n```\"\n        selected: false\n        title: generate_config\n        type: llm\n        variables:\n        - value_selector:\n          - sys\n          - env\n          - env-dify-host\n          variable: DIFY_HOST\n        - value_selector:\n          - sys\n          - env\n          - env-dify-app-id\n          variable: DIFY_APP_ID\n        - value_selector:\n          - sys\n          - env\n          - env-dify-app-name\n          variable: DIFY_APP_NAME\n        - value_selector:\n          - sys\n          - env\n          - env-github-owner\n          variable: GITHUB_OWNER\n        - value_selector:\n          - sys\n          - env\n          - env-github-repo\n          variable: GITHUB_REPO\n        - value_selector:\n          - sys\n          - env\n          - env-github-branch\n          variable: GITHUB_BRANCH\n        - value_selector:\n          - sys\n          - env\n          - env-github-file-path\n          variable: GITHUB_FILE_PATH\n        vision:\n          enabled: false\n      height: 133\n      id: generate_config\n      position:\n        x: 680\n        y: 300\n      positionAbsolute:\n        x: 680\n        y: 300\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        context:\n          enabled: false\n          variable_selector: []\n        desc: Emit dify_client.py \u2014 static-token DSL exporter with 401 detection\n        model:\n          completion_params:\n            temperature: 0.2\n          mode: chat\n          name: gemini-2.5-pro\n          provider: langgenius/gemini/google\n        outputs:\n          text:\n            children: null\n            type: string\n        prompt_template:\n        - id: sys-dify\n          role: system\n          text: You are a Python code generator. Output only a single ```python```\n            code block. No prose, no explanation, no markdown outside the fence.\n        - id: usr-dify\n          role: user\n          text: \"Output dify_client.py exactly as follows:\\n\\n```python\\nimport httpx\\n\\\n            from config import config\\n\\n\\nclass TokenExpiredError(Exception):\\n \\\n            \\   \\\"\\\"\\\"Raised when Dify Cloud returns HTTP 401 \u2014 DIFY_ACCESS_TOKEN\\\n            \\ has expired.\\\"\\\"\\\"\\n    pass\\n\\n\\nclass DifyClient:\\n\\n    def _get_headers(self)\\\n            \\ -> dict:\\n        if not config.DIFY_ACCESS_TOKEN:\\n            raise\\\n            \\ ValueError(\\n                'DIFY_ACCESS_TOKEN is not set. Extract\\\n            \\ it from cloud.dify.ai '\\n                'DevTools > Application > Local\\\n            \\ Storage > access_token.'\\n            )\\n        return {\\n        \\\n            \\    'Authorization': f'Bearer {config.DIFY_ACCESS_TOKEN}',\\n        \\\n            \\    'Content-Type': 'application/json',\\n        }\\n\\n    async def export_dsl(self,\\\n            \\ app_id: str, include_secret: bool = False) -> str:\\n        url = f'{config.DIFY_HOST}/console/api/apps/{app_id}/export'\\n\\\n            \\        params = {'include_secret': str(include_secret).lower()}\\n  \\\n            \\      async with httpx.AsyncClient(timeout=30) as client:\\n         \\\n            \\   response = await client.get(url, headers=self._get_headers(), params=params)\\n\\\n            \\        if response.status_code == 401:\\n            raise TokenExpiredError(\\n\\\n            \\                'TOKEN_EXPIRED: update DIFY_ACCESS_TOKEN in .env from\\\n            \\ '\\n                'cloud.dify.ai DevTools > Application > Local Storage\\\n            \\ > access_token.'\\n            )\\n        response.raise_for_status()\\n\\\n            \\        content_type = response.headers.get('content-type', '')\\n   \\\n            \\     return response.json().get('data', response.text) if 'json' in content_type\\\n            \\ else response.text\\n\\n\\ndify_client = DifyClient()\\n```\"\n        selected: false\n        title: generate_dify_client\n        type: llm\n        variables:\n        - value_selector:\n          - sys\n          - env\n          - env-dify-host\n          variable: DIFY_HOST\n        vision:\n          enabled: false\n      height: 133\n      id: generate_dify_client\n      position:\n        x: 980\n        y: 300\n      positionAbsolute:\n        x: 980\n        y: 300\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        context:\n          enabled: false\n          variable_selector: []\n        desc: Emit github_client.py \u2014 SHA-aware file reader and commit pusher\n        model:\n          completion_params:\n            temperature: 0.2\n          mode: chat\n          name: gemini-2.5-pro\n          provider: langgenius/gemini/google\n        outputs:\n          text:\n            children: null\n            type: string\n        prompt_template:\n        - id: sys-gh\n          role: system\n          text: You are a Python code generator. Output only a single ```python```\n            code block. No prose, no explanation, no markdown outside the fence.\n        - id: usr-gh\n          role: user\n          text: \"Output github_client.py exactly as follows:\\n\\n```python\\nimport\\\n            \\ base64\\nimport httpx\\nfrom typing import Optional, Tuple\\nfrom config\\\n            \\ import config\\n\\n\\nclass GitHubClient:\\n\\n    def __init__(self) ->\\\n            \\ None:\\n        self.base_url = 'https://api.github.com'\\n        self.headers\\\n            \\ = {\\n            'Authorization': f'Bearer {config.GITHUB_TOKEN}',\\n\\\n            \\            'Accept': 'application/vnd.github+json',\\n            'X-GitHub-Api-Version':\\\n            \\ '2022-11-28',\\n        }\\n\\n    def _file_url(self, file_path: str)\\\n            \\ -> str:\\n        return (\\n            f'{self.base_url}/repos/'\\n \\\n            \\           f'{config.GITHUB_OWNER}/{config.GITHUB_REPO}/contents/{file_path}'\\n\\\n            \\        )\\n\\n    async def get_file(self, file_path: str) -> Tuple[Optional[str],\\\n            \\ Optional[str]]:\\n        async with httpx.AsyncClient(timeout=30) as\\\n            \\ client:\\n            response = await client.get(\\n                self._file_url(file_path),\\n\\\n            \\                headers=self.headers,\\n                params={'ref':\\\n            \\ config.GITHUB_BRANCH},\\n            )\\n        if response.status_code\\\n            \\ == 404:\\n            return None, None\\n        response.raise_for_status()\\n\\\n            \\        data = response.json()\\n        decoded = base64.b64decode(data['content'].replace('\\\\\\\n            n', '')).decode('utf-8')\\n        return data['sha'], decoded\\n\\n    async\\\n            \\ def github_commit_push(\\n        self,\\n        file_path: str,\\n  \\\n            \\      content: str,\\n        commit_message: str,\\n        sha: Optional[str]\\\n            \\ = None,\\n    ) -> str:\\n        payload = {\\n            'message':\\\n            \\ commit_message,\\n            'content': base64.b64encode(content.encode('utf-8')).decode('utf-8'),\\n\\\n            \\            'branch': config.GITHUB_BRANCH,\\n        }\\n        if sha:\\n\\\n            \\            payload['sha'] = sha\\n        async with httpx.AsyncClient(timeout=30)\\\n            \\ as client:\\n            response = await client.put(\\n             \\\n            \\   self._file_url(file_path),\\n                headers=self.headers,\\n\\\n            \\                json=payload,\\n            )\\n            response.raise_for_status()\\n\\\n            \\        return response.json()['commit']['html_url']\\n\\n\\ngithub_client\\\n            \\ = GitHubClient()\\n```\"\n        selected: false\n        title: generate_github_client\n        type: llm\n        variables:\n        - value_selector:\n          - sys\n          - env\n          - env-github-owner\n          variable: GITHUB_OWNER\n        - value_selector:\n          - sys\n          - env\n          - env-github-repo\n          variable: GITHUB_REPO\n        - value_selector:\n          - sys\n          - env\n          - env-github-branch\n          variable: GITHUB_BRANCH\n        vision:\n          enabled: false\n      height: 133\n      id: generate_github_client\n      position:\n        x: 1280\n        y: 300\n      positionAbsolute:\n        x: 1280\n        y: 300\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        context:\n          enabled: false\n          variable_selector: []\n        desc: Emit sync_service.py \u2014 diff-based change detection and conditional commit\n          orchestrator\n        model:\n          completion_params:\n            temperature: 0.2\n          mode: chat\n          name: gemini-2.5-pro\n          provider: langgenius/gemini/google\n        outputs:\n          text:\n            children: null\n            type: string\n        prompt_template:\n        - id: sys-sync\n          role: system\n          text: You are a Python code generator. Output only a single ```python```\n            code block. No prose, no explanation, no markdown outside the fence.\n        - id: usr-sync\n          role: user\n          text: \"Output sync_service.py exactly as follows:\\n\\n```python\\nimport difflib\\n\\\n            from datetime import datetime, timezone\\nfrom dataclasses import dataclass,\\\n            \\ field\\nfrom typing import Optional\\nfrom dify_client import dify_client,\\\n            \\ TokenExpiredError\\nfrom github_client import github_client\\nfrom config\\\n            \\ import config\\n\\n\\n@dataclass\\nclass SyncResult:\\n    status: str  \\\n            \\                     # committed | no_change | token_expired | error\\n\\\n            \\    committed: bool\\n    message: str\\n    commit_url: Optional[str]\\\n            \\         = None\\n    lines_changed: int                = 0\\n    token_refresh_required:\\\n            \\ bool      = False\\n\\n\\nclass SyncService:\\n\\n    def _commit_message(self,\\\n            \\ app_name: str, diff_lines: list, custom: str = None) -> str:\\n     \\\n            \\   if custom:\\n            return custom\\n        added   = sum(1 for\\\n            \\ l in diff_lines if l.startswith('+') and not l.startswith('+++'))\\n\\\n            \\        removed = sum(1 for l in diff_lines if l.startswith('-') and\\\n            \\ not l.startswith('---'))\\n        ts = datetime.now(timezone.utc).strftime('%Y-%m-%d\\\n            \\ %H:%M UTC')\\n        return f'chore: sync Dify DSL [{app_name}] +{added}/-{removed}\\\n            \\ ({ts})'\\n\\n    def _diff(self, current: str, new: str) -> tuple:\\n \\\n            \\       a = current.strip().splitlines()\\n        b = new.strip().splitlines()\\n\\\n            \\        lines = list(difflib.unified_diff(a, b, fromfile='current', tofile='new',\\\n            \\ lineterm=''))\\n        changed = sum(\\n            1 for l in lines\\n\\\n            \\            if l.startswith(('+', '-')) and not l.startswith(('+++',\\\n            \\ '---'))\\n        )\\n        return bool(lines), lines, changed\\n\\n \\\n            \\   async def run(\\n        self,\\n        app_id: str = None,\\n     \\\n            \\   file_path: str = None,\\n        commit_message: str = None,\\n    \\\n            \\    include_secret: bool = False,\\n    ) -> SyncResult:\\n        app_id\\\n            \\    = app_id    or config.DIFY_APP_ID\\n        file_path = file_path\\\n            \\ or config.GITHUB_FILE_PATH\\n\\n        try:\\n            new_dsl = await\\\n            \\ dify_client.export_dsl(app_id, include_secret)\\n        except TokenExpiredError\\\n            \\ as exc:\\n            return SyncResult(\\n                status='token_expired',\\\n            \\ committed=False,\\n                message=str(exc), token_refresh_required=True,\\n\\\n            \\            )\\n        except Exception as exc:\\n            return SyncResult(status='error',\\\n            \\ committed=False,\\n                              message=f'DSL export\\\n            \\ failed: {exc}')\\n\\n        try:\\n            sha, current_dsl = await\\\n            \\ github_client.get_file(file_path)\\n        except Exception as exc:\\n\\\n            \\            return SyncResult(status='error', committed=False,\\n    \\\n            \\                          message=f'GitHub read failed: {exc}')\\n\\n \\\n            \\       if current_dsl is not None:\\n            changed, diff_lines,\\\n            \\ n_changed = self._diff(current_dsl, new_dsl)\\n            if not changed:\\n\\\n            \\                return SyncResult(status='no_change', committed=False,\\n\\\n            \\                                  message='DSL unchanged \u2014 no commit\\\n            \\ required.',\\n                                  lines_changed=0)\\n  \\\n            \\      else:\\n            diff_lines, n_changed = [], new_dsl.count('\\\\\\\n            n') + 1\\n\\n        msg = self._commit_message(config.DIFY_APP_NAME, diff_lines,\\\n            \\ commit_message)\\n        try:\\n            url = await github_client.github_commit_push(file_path,\\\n            \\ new_dsl, msg, sha)\\n        except Exception as exc:\\n            return\\\n            \\ SyncResult(status='error', committed=False,\\n                      \\\n            \\        message=f'GitHub commit failed: {exc}')\\n\\n        return SyncResult(status='committed',\\\n            \\ committed=True,\\n                          message=msg, commit_url=url,\\\n            \\ lines_changed=n_changed)\\n\\n\\nsync_service = SyncService()\\n```\"\n        selected: true\n        title: generate_sync_service\n        type: llm\n        variables:\n        - value_selector:\n          - sys\n          - env\n          - env-dify-app-id\n          variable: DIFY_APP_ID\n        - value_selector:\n          - sys\n          - env\n          - env-dify-app-name\n          variable: DIFY_APP_NAME\n        - value_selector:\n          - sys\n          - env\n          - env-github-file-path\n          variable: GITHUB_FILE_PATH\n        vision:\n          enabled: false\n      height: 149\n      id: generate_sync_service\n      position:\n        x: 1580\n        y: 300\n      positionAbsolute:\n        x: 1580\n        y: 300\n      selected: true\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        context:\n          enabled: false\n          variable_selector: []\n        desc: Emit sync.py \u2014 asyncio entry point replacing all FastAPI endpoints\n        model:\n          completion_params:\n            temperature: 0.2\n          mode: chat\n          name: gemini-2.5-pro\n          provider: langgenius/gemini/google\n        outputs:\n          text:\n            children: null\n            type: string\n        prompt_template:\n        - id: sys-script\n          role: system\n          text: You are a Python code generator. Output only a single ```python```\n            code block. No prose, no explanation, no markdown outside the fence.\n        - id: usr-script\n          role: user\n          text: \"Output sync.py exactly as follows:\\n\\n```python\\n\\\"\\\"\\\"\\nsync.py\\\n            \\ \u2014 Dify DSL to GitHub sync script.\\n\\nDesigned to run as a standalone\\\n            \\ cron job. No web server required.\\n\\nCron schedule examples (add to\\\n            \\ crontab with: crontab -e):\\n    0 2 * * *       python /path/to/sync.py\\\n            \\          # daily at 02:00 UTC\\n    0 2,14 * * *    python /path/to/sync.py\\\n            \\          # twice daily\\n    0 */6 * * *     python /path/to/sync.py\\\n            \\          # every 6 hours\\n    0 8 * * 1-5     python /path/to/sync.py\\\n            \\          # weekdays at 08:00 UTC\\n\\nEnvironment variables (set in .env\\\n            \\ or as system env vars):\\n    DIFY_HOST            Dify Cloud URL (default:\\\n            \\ https://cloud.dify.ai)\\n    DIFY_ACCESS_TOKEN    Bearer token from browser\\\n            \\ DevTools Local Storage\\n    DIFY_APP_ID          UUID of the Dify app\\\n            \\ to export\\n    DIFY_APP_NAME        Short name used in commit messages\\n\\\n            \\    GITHUB_TOKEN         Personal Access Token with repo scope\\n    GITHUB_OWNER\\\n            \\         Repository owner or organisation\\n    GITHUB_REPO          Repository\\\n            \\ name\\n    GITHUB_BRANCH        Target branch (default: main)\\n    GITHUB_FILE_PATH\\\n            \\     Destination path in repo (default: dsl/app.yml)\\n\\nExit codes:\\n\\\n            \\    0  \u2014 committed or no_change (success)\\n    1  \u2014 error or token_expired\\\n            \\ (failure \u2014 cron will log to syslog)\\n\\\"\\\"\\\"\\n\\nimport asyncio\\nimport\\\n            \\ logging\\nimport sys\\nfrom datetime import datetime, timezone\\n\\nfrom\\\n            \\ sync_service import sync_service\\n\\nlogging.basicConfig(\\n    level=logging.INFO,\\n\\\n            \\    format='%(asctime)s  %(levelname)-8s  %(message)s',\\n    datefmt='%Y-%m-%d\\\n            \\ %H:%M:%S',\\n    handlers=[\\n        logging.StreamHandler(sys.stdout),\\n\\\n            \\    ],\\n)\\nlog = logging.getLogger(__name__)\\n\\n\\nasync def main() ->\\\n            \\ int:\\n    started_at = datetime.now(timezone.utc).isoformat()\\n    log.info('Dify\\\n            \\ DSL sync started \u2014 %s', started_at)\\n\\n    result = await sync_service.run()\\n\\\n            \\n    log.info('Status        : %s', result.status)\\n    log.info('Committed\\\n            \\     : %s', result.committed)\\n    log.info('Message       : %s', result.message)\\n\\\n            \\n    if result.committed:\\n        log.info('Commit URL    : %s', result.commit_url)\\n\\\n            \\        log.info('Lines changed : %d', result.lines_changed)\\n\\n    if\\\n            \\ result.status == 'token_expired':\\n        log.error(\\n            'ACTION\\\n            \\ REQUIRED: DIFY_ACCESS_TOKEN has expired.\\\\n'\\n            '  1. Go to\\\n            \\ https://cloud.dify.ai and log in.\\\\n'\\n            '  2. Open DevTools\\\n            \\ > Application > Local Storage > access_token.\\\\n'\\n            '  3.\\\n            \\ Copy the value and update DIFY_ACCESS_TOKEN in your .env file.\\\\n'\\n\\\n            \\            '  4. Re-run this script to verify.'\\n        )\\n       \\\n            \\ return 1\\n\\n    if result.status == 'error':\\n        log.error('Sync\\\n            \\ failed: %s', result.message)\\n        return 1\\n\\n    log.info('Sync\\\n            \\ complete.')\\n    return 0\\n\\n\\nif __name__ == '__main__':\\n    sys.exit(asyncio.run(main()))\\n\\\n            ```\"\n        selected: false\n        title: generate_sync_script\n        type: llm\n        variables: []\n        vision:\n          enabled: false\n      height: 133\n      id: generate_sync_script\n      position:\n        x: 1580\n        y: 477.6\n      positionAbsolute:\n        x: 1580\n        y: 477.6\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        code: \"import re\\nimport json\\n\\ndef main(CONFIG_PY: str, DIFY_CLIENT_PY:\\\n          \\ str, GITHUB_CLIENT_PY: str, SYNC_SERVICE_PY: str, SYNC_SCRIPT_PY: str):\\n\\\n          \\tdef extract_python(text: str, label: str) -> str:\\n\\t\\tm = re.search(r'```python\\\\\\\n          s*\\\\n([\\\\s\\\\S]*?)```', text)\\n\\t\\tsrc = m.group(1).rstrip() if m else text.strip()\\n\\\n          \\t\\tif not src:\\n\\t\\t\\traise ValueError(\\n\\t\\t\\t\\tf'[{label}] No Python\\\n          \\ source extracted \u2014 '\\n\\t\\t\\t\\t'LLM node returned no ```python``` code\\\n          \\ block.'\\n\\t\\t\\t)\\n\\t\\treturn src\\n\\n\\n\\tbundle = {\\n\\t\\t'config.py': \\\n          \\       extract_python(CONFIG_PY,        'config.py'),\\n\\t\\t'dify_client.py':\\\n          \\   extract_python(DIFY_CLIENT_PY,   'dify_client.py'),\\n\\t\\t'github_client.py':\\\n          \\ extract_python(GITHUB_CLIENT_PY, 'github_client.py'),\\n\\t\\t'sync_service.py':\\\n          \\  extract_python(SYNC_SERVICE_PY,  'sync_service.py'),\\n\\t\\t'sync.py':\\\n          \\          extract_python(SYNC_SCRIPT_PY,   'sync.py'),\\n\\t}\\n\\n\\treturn\\\n          \\ {\\n        \\\"files_bundle\\\": json.dumps(bundle, ensure_ascii=False),\\n\\\n          \\        \\\"file_count\\\": len(bundle),\\n        \\\"file_names\\\": ', '.join(bundle.keys())\\n\\\n          \\    }\"\n        code_language: python3\n        desc: Strips markdown fences from all 5 LLM outputs (models.py removed \u2014 replaced\n          by dataclass in sync_service.py) and serialises clean Python source into\n          a single JSON bundle.\n        outputs:\n          file_count:\n            children: null\n            type: number\n          file_names:\n            children: null\n            type: string\n          files_bundle:\n            children: null\n            type: string\n        selected: false\n        title: assemble_source_files\n        type: code\n        variables:\n        - value_selector:\n          - generate_config\n          - text\n          variable: CONFIG_PY\n        - value_selector:\n          - generate_dify_client\n          - text\n          variable: DIFY_CLIENT_PY\n        - value_selector:\n          - generate_github_client\n          - text\n          variable: GITHUB_CLIENT_PY\n        - value_selector:\n          - generate_sync_service\n          - text\n          variable: SYNC_SERVICE_PY\n        - value_selector:\n          - generate_sync_script\n          - text\n          variable: SYNC_SCRIPT_PY\n      height: 145\n      id: assemble_source_files\n      position:\n        x: 1584.56\n        y: 628.7999999999998\n      positionAbsolute:\n        x: 1584.56\n        y: 628.7999999999998\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        code: \"import ast\\nimport json\\nimport time\\n\\ndef main(FILES_BUNDLE: str):\\n\\\n          \\    # Parse the bundle from the previous node\\n    try:\\n        bundle\\\n          \\ = json.loads(FILES_BUNDLE)\\n    except Exception as e:\\n        return\\\n          \\ {\\\"overall_status\\\": \\\"FAIL\\\", \\\"compile_report\\\": f\\\"Failed to parse\\\n          \\ bundle: {str(e)}\\\", \\\"has_errors\\\": True}\\n\\n    # Configuration for quality\\\n          \\ checks\\n    WARN_BARE_EXCEPT = \\\"bare 'except:' \u2014 use 'except Exception:'\\\"\\\n          \\n    WARN_PRINT_STMT  = 'print() found \u2014 remove before production'\\n  \\\n          \\  WARN_TODO        = 'TODO/FIXME \u2014 resolve before deploying'\\n\\n    results\\\n          \\   = {}\\n    total_err = 0\\n    total_wrn = 0\\n\\n    for filename, source\\\n          \\ in bundle.items():\\n        entry = {\\n            'status': 'PASS', \\n\\\n          \\            'errors': [], \\n            'warnings': [],\\n            'lines':\\\n          \\ 0, \\n            'parse_ms': 0.0\\n        }\\n\\n        if not source or\\\n          \\ not source.strip():\\n            entry['errors'].append('Empty source\\\n          \\ code.')\\n            entry['status'] = 'FAIL'\\n            total_err +=\\\n          \\ 1\\n            results[filename] = entry\\n            continue\\n\\n   \\\n          \\     entry['lines'] = source.count('\\\\n') + 1\\n\\n        # Stage 1 \u2014 AST\\\n          \\ Syntax Parse (Safe in Sandbox - No disk writing)\\n        t0 = time.perf_counter()\\n\\\n          \\        try:\\n            tree = ast.parse(source, filename=filename)\\n\\\n          \\            entry['parse_ms'] = round((time.perf_counter() - t0) * 1000,\\\n          \\ 2)\\n        except SyntaxError as exc:\\n            entry['parse_ms']\\\n          \\ = round((time.perf_counter() - t0) * 1000, 2)\\n            entry['errors'].append(f'SyntaxError\\\n          \\ line {exc.lineno}: {exc.msg}')\\n            entry['status'] = 'FAIL'\\n\\\n          \\            total_err += 1\\n            results[filename] = entry\\n   \\\n          \\         continue\\n\\n        # Stage 2 \u2014 Quality Checks\\n        for node\\\n          \\ in ast.walk(tree):\\n            if isinstance(node, ast.ExceptHandler)\\\n          \\ and node.type is None:\\n                entry['warnings'].append(f'line\\\n          \\ {node.lineno}: {WARN_BARE_EXCEPT}')\\n            if (isinstance(node,\\\n          \\ ast.Call)\\n                    and isinstance(getattr(node, 'func', None),\\\n          \\ ast.Name)\\n                    and node.func.id == 'print'):\\n       \\\n          \\         entry['warnings'].append(f'line {node.lineno}: {WARN_PRINT_STMT}')\\n\\\n          \\        \\n        for i, line in enumerate(source.splitlines(), 1):\\n \\\n          \\           s = line.lstrip()\\n            if s.startswith('#') and any(kw\\\n          \\ in s.upper() for kw in ('TODO', 'FIXME')):\\n                entry['warnings'].append(f'line\\\n          \\ {i}: {WARN_TODO}')\\n        \\n        total_wrn += len(entry['warnings'])\\n\\\n          \\n        if entry['warnings'] and entry['status'] == 'PASS':\\n        \\\n          \\    entry['status'] = 'WARN'\\n\\n        results[filename] = entry\\n\\n \\\n          \\   # Generate Report Table\\n    overall  = 'PASS' if total_err == 0 else\\\n          \\ 'FAIL'\\n    pass_cnt = sum(1 for r in results.values() if r['status']\\\n          \\ != 'FAIL')\\n\\n    rows = [\\n        '\u2554\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2557',\\n\\\n          \\        '\u2551   CODE VALIDATION REPORT (SANDBOX)       \u2551',\\n        '\u255a\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u255d',\\n\\\n          \\        '',\\n        f'  Overall Status : {overall}',\\n        f'  Files\\\n          \\ Passed   : {pass_cnt}/{len(results)}',\\n        f'  Syntax Errors  : {total_err}',\\n\\\n          \\        f'  Code Warnings  : {total_wrn}',\\n        '',\\n        '\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500',\\n\\\n          \\    ]\\n    \\n    for fname, r in results.items():\\n        icon = '\u2713' if\\\n          \\ r['status'] == 'PASS' else ('\u26a0' if r['status'] == 'WARN' else '\u2717')\\n \\\n          \\       rows.append(\\n            f\\\"  {icon} {fname:<22} [{r['status']:<4}]\\\n          \\  \\\"\\n            f\\\"{r['lines']:>4} lines  \\\"\\n            f\\\"check {r['parse_ms']:>6.2f}ms\\\"\\\n          \\n        )\\n        for e in r['errors']:\\n            rows.append(f' \\\n          \\     ERROR   : {e}')\\n        for w in r['warnings']:\\n            rows.append(f'\\\n          \\      WARNING : {w}')\\n            \\n    rows += ['\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500',\\\n          \\ '']\\n    \\n    if overall == 'PASS':\\n        rows.append('  Validation\\\n          \\ passed successfully.')\\n    else:\\n        rows.append(f'  Fix the {total_err}\\\n          \\ syntax error(s) before pushing.')\\n\\n    return {\\n        \\\"compile_report\\\"\\\n          : '\\\\n'.join(rows),\\n        \\\"has_errors\\\": str(total_err > 0),\\n     \\\n          \\   \\\"has_warnings\\\": str(total_wrn > 0),\\n        \\\"overall_status\\\": overall\\n\\\n          \\    }\"\n        code_language: python3\n        desc: Runs each of the 5 files through ast.parse, ast.walk quality checks,\n          and py_compile bytecode. Emits a structured per-file compilation report.\n        outputs:\n          compile_report:\n            children: null\n            type: string\n          has_errors:\n            children: null\n            type: string\n          has_warnings:\n            children: null\n            type: string\n          overall_status:\n            children: null\n            type: string\n        selected: false\n        title: compile_and_validate\n        type: code\n        variables:\n        - value_selector:\n          - assemble_source_files\n          - files_bundle\n          variable: FILES_BUNDLE\n      height: 129\n      id: compile_and_validate\n      position:\n        x: 1593.1999999999996\n        y: 795.5999999999999\n      positionAbsolute:\n        x: 1593.1999999999996\n        y: 795.5999999999999\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        desc: ''\n        outputs:\n        - type: string\n          value_selector:\n          - cron_schedule\n          - cron_config_json\n          variable: cron_config\n        - type: string\n          value_selector:\n          - cron_schedule\n          - schedule_exprs\n          variable: cron_expressions\n        - type: string\n          value_selector:\n          - generate_config\n          - text\n          variable: config_py\n        - type: string\n          value_selector:\n          - generate_dify_client\n          - text\n          variable: dify_client_py\n        - type: string\n          value_selector:\n          - generate_github_client\n          - text\n          variable: github_client_py\n        - type: string\n          value_selector:\n          - generate_sync_service\n          - text\n          variable: sync_service_py\n        - type: string\n          value_selector:\n          - generate_sync_script\n          - text\n          variable: sync_script_py\n        - type: string\n          value_selector:\n          - assemble_source_files\n          - file_names\n          variable: assembled_file_names\n        - type: string\n          value_selector:\n          - compile_and_validate\n          - compile_report\n          variable: compile_report\n        - type: string\n          value_selector:\n          - compile_and_validate\n          - overall_status\n          variable: compile_status\n        - type: string\n          value_selector:\n          - compile_and_validate\n          - has_errors\n          variable: compile_has_errors\n        - type: string\n          value_selector:\n          - compile_and_validate\n          - has_warnings\n          variable: compile_has_warnings\n        selected: false\n        title: End\n        type: end\n      height: 390\n      id: end\n      position:\n        x: 1108.9127272727274\n        y: 573.9818181818181\n      positionAbsolute:\n        x: 1108.9127272727274\n        y: 573.9818181818181\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        code: \"import httpx\\nimport json\\nimport base64\\n\\ndef main(FILES_BUNDLE:\\\n          \\ str, GITHUB_TOKEN: str, GITHUB_OWNER: str, GITHUB_REPO: str):\\n    try:\\n\\\n          \\        bundle = json.loads(FILES_BUNDLE)\\n    except Exception as e:\\n\\\n          \\        return {\\\"result\\\": f\\\"Invalid bundle: {str(e)}\\\", \\\"success\\\"\\\n          : False}\\n\\n    headers = {\\n        \\\"Authorization\\\": f\\\"Bearer {GITHUB_TOKEN}\\\"\\\n          ,\\n        \\\"Accept\\\": \\\"application/vnd.github+json\\\"\\n    }\\n    \\n  \\\n          \\  results = []\\n    # Using a client with a longer timeout (60 seconds)\\\n          \\ to prevent handshake timeouts\\n    with httpx.Client(timeout=60.0) as\\\n          \\ client:\\n        for filename, content in bundle.items():\\n          \\\n          \\  url = f\\\"https://api.github.com/repos/{GITHUB_OWNER}/{GITHUB_REPO}/contents/{filename}\\\"\\\n          \\n            \\n            try:\\n                # 1. Check if file exists\\\n          \\ to get its SHA\\n                resp = client.get(url, headers=headers)\\n\\\n          \\                sha = resp.json().get(\\\"sha\\\") if resp.status_code == 200\\\n          \\ else None\\n                \\n                # 2. Push the file\\n    \\\n          \\            payload = {\\n                    \\\"message\\\": f\\\"sync: update\\\n          \\ {filename} via Dify\\\",\\n                    \\\"content\\\": base64.b64encode(content.encode(\\\"\\\n          utf-8\\\")).decode(\\\"utf-8\\\"),\\n                    \\\"branch\\\": \\\"main\\\"\\n\\\n          \\                }\\n                if sha:\\n                    payload[\\\"\\\n          sha\\\"] = sha\\n                    \\n                put_resp = client.put(url,\\\n          \\ headers=headers, json=payload)\\n                \\n                if put_resp.status_code\\\n          \\ in [200, 201]:\\n                    results.append(f\\\"\u2713 {filename} uploaded\\\"\\\n          )\\n                else:\\n                    results.append(f\\\"\u2717 {filename}\\\n          \\ failed: {put_resp.status_code}\\\")\\n            except httpx.ConnectTimeout:\\n\\\n          \\                results.append(f\\\"\u2717 {filename} timed out during connection\\\"\\\n          )\\n            except Exception as e:\\n                results.append(f\\\"\\\n          \u2717 {filename} error: {str(e)}\\\")\\n\\n    return {\\n        \\\"result\\\": \\\"\\\\\\\n          n\\\".join(results)\\n    }\"\n        code_language: python3\n        desc: ''\n        outputs:\n          result:\n            children: null\n            type: string\n        selected: false\n        title: GITHUB_PUSH\n        type: code\n        variables:\n        - value_selector:\n          - assemble_source_files\n          - files_bundle\n          value_type: string\n          variable: FILES_BUNDLE\n        - value_selector:\n          - env\n          - GITHUB_TOKEN\n          value_type: secret\n          variable: GITHUB_TOKEN\n        - value_selector:\n          - env\n          - GITHUB_REPO\n          value_type: string\n          variable: GITHUB_REPO\n        - value_selector:\n          - env\n          - GITHUB_OWNER\n          value_type: string\n          variable: GITHUB_OWNER\n      height: 53\n      id: '1777469154572'\n      position:\n        x: 1878.0036363636361\n        y: 795.5999999999999\n      positionAbsolute:\n        x: 1878.0036363636361\n        y: 795.5999999999999\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        desc: ''\n        outputs:\n        - value_selector:\n          - '1777469154572'\n          - result\n          value_type: string\n          variable: result\n        selected: false\n        title: End 2\n        type: end\n      height: 90\n      id: '1777469531525'\n      position:\n        x: 2182.0036363636364\n        y: 795.5999999999999\n      positionAbsolute:\n        x: 2182.0036363636364\n        y: 795.5999999999999\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    viewport:\n      x: -751.8445989176403\n      y: -114.41123994871339\n      zoom: 0.660768233815161\n"}
