dsl/Dify_Dsl_Github_Sync_Cron_UJ_Test_With_commitID__v9.yml
{"data": "app:\n  description: Standalone Python script that exports Dify DSL and commits it to GitHub.\n    Designed to run as a scheduled cron job \u2014 no web server, no HTTP endpoints. Uses\n    a static Bearer token for Dify Cloud authentication.\n  icon: \ud83d\udd50\n  icon_background: '#E0F2FE'\n  mode: workflow\n  name: Dify Dsl Github Sync Cron UJ Test With commitID - v9\n  use_icon_as_answer_icon: false\ndependencies: []\nkind: app\nversion: 0.3.1\nworkflow:\n  conversation_variables: []\n  environment_variables:\n  - description: ''\n    id: bfa3e977-6369-41cb-a4b0-52b6b94de7b6\n    name: DIFY_REFRESH_TOKEN\n    selector:\n    - env\n    - DIFY_REFRESH_TOKEN\n    value: ''\n    value_type: secret\n  - description: Static Bearer token from cloud.dify.ai DevTools > Application > Local\n      Storage > access_token\n    id: env-dify-access-token\n    name: DIFY_ACCESS_TOKEN\n    selector:\n    - env\n    - DIFY_ACCESS_TOKEN\n    value: ''\n    value_type: secret\n  - description: Dify Cloud host URL\n    id: env-dify-host\n    name: DIFY_HOST\n    selector:\n    - env\n    - DIFY_HOST\n    value: http://172.30.116.165\n    value_type: string\n  - description: GitHub Personal Access Token with repo scope\n    id: env-github-token\n    name: GITHUB_TOKEN\n    selector:\n    - env\n    - GITHUB_TOKEN\n    value: ''\n    value_type: secret\n  - description: GitHub repository owner or organisation\n    id: env-github-owner\n    name: GITHUB_OWNER\n    selector:\n    - env\n    - GITHUB_OWNER\n    value: urvashijawere-ops\n    value_type: string\n  - description: GitHub repository name\n    id: env-github-repo\n    name: GITHUB_REPO\n    selector:\n    - env\n    - GITHUB_REPO\n    value: dify-dsl-sync\n    value_type: string\n  - description: Target branch for commits\n    id: env-github-branch\n    name: GITHUB_BRANCH\n    selector:\n    - env\n    - GITHUB_BRANCH\n    value: main\n    value_type: string\n  features:\n    file_upload:\n      allowed_file_extensions: []\n      allowed_file_types: []\n      allowed_file_upload_methods: []\n      enabled: false\n      image:\n        enabled: false\n        number_limits: 3\n        transfer_methods:\n        - local_file\n        - remote_url\n      number_limits: 3\n    opening_statement: ''\n    retriever_resource:\n      enabled: false\n    sensitive_word_avoidance:\n      enabled: false\n    speech_to_text:\n      enabled: false\n    suggested_questions: []\n    suggested_questions_after_answer:\n      enabled: false\n    text_to_speech:\n      enabled: false\n      language: ''\n      voice: ''\n  graph:\n    edges:\n    - data:\n        isInIteration: false\n        sourceType: start\n        targetType: code\n      id: e-start-cron\n      source: start\n      sourceHandle: source\n      target: cron_schedule\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        sourceType: code\n        targetType: code\n      id: e-cron-bundle\n      source: cron_schedule\n      sourceHandle: source\n      target: bundle_source_files\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        sourceType: code\n        targetType: code\n      id: e-bundle-compile\n      source: bundle_source_files\n      sourceHandle: source\n      target: compile_and_validate\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: code\n        targetType: code\n      id: e-compile-export\n      source: compile_and_validate\n      sourceHandle: source\n      target: '1777541001585'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: code\n        targetType: iteration\n      id: 1777541001585-source-1777946437156-target\n      source: '1777541001585'\n      sourceHandle: source\n      target: '1777946437156'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInLoop: false\n        sourceType: iteration\n        targetType: end\n      id: 1777946437156-source-1777539540092-target\n      source: '1777946437156'\n      sourceHandle: source\n      target: '1777539540092'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: true\n        isInLoop: false\n        iteration_id: '1777946437156'\n        sourceType: iteration-start\n        targetType: code\n      id: 1777946437156start-source-1777953472507-target\n      source: 1777946437156start\n      sourceHandle: source\n      target: '1777953472507'\n      targetHandle: target\n      type: custom\n      zIndex: 1002\n    nodes:\n    - data:\n        desc: ''\n        selected: false\n        title: Start\n        type: start\n        variables: []\n      height: 54\n      id: start\n      position:\n        x: 80\n        y: 300\n      positionAbsolute:\n        x: 80\n        y: 300\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        code: \"import json\\n\\ndef main():\\n\\tCRON_CONFIG = {\\n\\t\\t\\\"schedules\\\": [\\n\\\n          \\t\\t\\t{\\\"expression\\\": \\\"0 2 * * *\\\",  \\\"label\\\": \\\"nightly_02_utc\\\"},\\n\\\n          \\t\\t\\t{\\\"expression\\\": \\\"0 14 * * *\\\", \\\"label\\\": \\\"afternoon_14_utc\\\"},\\n\\\n          \\t\\t],\\n\\t\\t\\\"timezone\\\": \\\"UTC\\\",\\n\\t\\t\\\"max_retries\\\": 3,\\n\\t\\t\\\"retry_delay_seconds\\\"\\\n          : 60,\\n\\t\\t\\\"timeout_seconds\\\": 120,\\n\\t\\t\\\"notify_on_failure\\\": True,\\n\\\n          \\t\\t\\\"skip_if_no_change\\\": True,\\n\\t}\\n\\tcron_config_json  = json.dumps(CRON_CONFIG,\\\n          \\ indent=2)\\n\\tschedule_count    = len(CRON_CONFIG[\\\"schedules\\\"])\\n\\tschedule_labels\\\n          \\   = \\\", \\\".join(s[\\\"label\\\"] for s in CRON_CONFIG[\\\"schedules\\\"])\\n\\t\\\n          schedule_exprs    = \\\", \\\".join(s[\\\"expression\\\"] for s in CRON_CONFIG[\\\"\\\n          schedules\\\"])\\n\\treturn {\\n\\t\\t\\\"cron_config_json\\\": cron_config_json,\\n\\\n          \\t\\t\\\"schedule_count\\\": schedule_count,\\n\\t\\t\\\"schedule_labels\\\": schedule_labels,\\n\\\n          \\t\\t\\\"schedule_exprs\\\": schedule_exprs\\n\\t}\"\n        code_language: python3\n        desc: Defines the cron schedule configuration. Outputs a structured JSON config\n          block.\n        outputs:\n          cron_config_json:\n            children: null\n            type: string\n          schedule_count:\n            children: null\n            type: number\n          schedule_exprs:\n            children: null\n            type: string\n          schedule_labels:\n            children: null\n            type: string\n        selected: false\n        title: cron_schedule\n        type: code\n        variables: []\n      height: 146\n      id: cron_schedule\n      position:\n        x: 380\n        y: 300\n      positionAbsolute:\n        x: 380\n        y: 300\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        code: \"import json\\n\\ndef main(DIFY_HOST: str, GITHUB_OWNER: str, GITHUB_REPO:\\\n          \\ str, GITHUB_BRANCH: str):\\n    # Env vars injected from Dify so os.getenv\\\n          \\ defaults in config.py\\n    # match whatever is set in the Dify environment\\\n          \\ variables panel.\\n\\n    config_py = (\\n        'import os\\\\n'\\n      \\\n          \\  'from dotenv import load_dotenv\\\\n'\\n        '\\\\n'\\n        'load_dotenv()\\\\\\\n          n'\\n        '\\\\n'\\n        '\\\\n'\\n        'class Config:\\\\n'\\n        f\\\"\\\n          \\    DIFY_HOST: str          = os.getenv('DIFY_HOST',          '{DIFY_HOST}')\\\\\\\n          n\\\"\\n        f\\\"    DIFY_ACCESS_TOKEN: str  = os.getenv('DIFY_ACCESS_TOKEN',\\\n          \\  '')\\\\n\\\"\\n        f\\\"    DIFY_APP_ID: str        = os.getenv('DIFY_APP_ID',\\\n          \\        '')\\\\n\\\"\\n        f\\\"    DIFY_APP_NAME: str      = os.getenv('DIFY_APP_NAME',\\\n          \\      'app')\\\\n\\\"\\n        f\\\"    GITHUB_TOKEN: str       = os.getenv('GITHUB_TOKEN',\\\n          \\       '')\\\\n\\\"\\n        f\\\"    GITHUB_OWNER: str       = os.getenv('GITHUB_OWNER',\\\n          \\       '{GITHUB_OWNER}')\\\\n\\\"\\n        f\\\"    GITHUB_REPO: str        =\\\n          \\ os.getenv('GITHUB_REPO',        '{GITHUB_REPO}')\\\\n\\\"\\n        f\\\"   \\\n          \\ GITHUB_BRANCH: str      = os.getenv('GITHUB_BRANCH',      '{GITHUB_BRANCH}')\\\\\\\n          n\\\"\\n        f\\\"    GITHUB_FILE_PATH: str   = os.getenv('GITHUB_FILE_PATH',\\\n          \\   'dsl/app.yml')\\\\n\\\"\\n        '\\\\n'\\n        '    def validate(self)\\\n          \\ -> None:\\\\n'\\n        \\\"        required = ['DIFY_HOST', 'DIFY_ACCESS_TOKEN',\\\n          \\ 'DIFY_APP_ID',\\\\n\\\"\\n        \\\"                    'GITHUB_TOKEN', 'GITHUB_OWNER',\\\n          \\ 'GITHUB_REPO']\\\\n\\\"\\n        '        missing = [k for k in required if\\\n          \\ not getattr(self, k)]\\\\n'\\n        \\\"        if missing:\\\\n\\\"\\n      \\\n          \\  \\\"            raise ValueError(f'Missing required env vars: {missing}')\\\\\\\n          n\\\"\\n        '\\\\n'\\n        '\\\\n'\\n        'config = Config()\\\\n'\\n    \\\n          \\    'config.validate()\\\\n'\\n    )\\n\\n    dify_client_py = (\\n        'import\\\n          \\ httpx\\\\n'\\n        'from config import config\\\\n'\\n        '\\\\n'\\n   \\\n          \\     '\\\\n'\\n        'class TokenExpiredError(Exception):\\\\n'\\n        '\\\n          \\    pass\\\\n'\\n        '\\\\n'\\n        '\\\\n'\\n        'class DifyClient:\\\\\\\n          n'\\n        '\\\\n'\\n        '    def _get_headers(self) -> dict:\\\\n'\\n  \\\n          \\      '        if not config.DIFY_ACCESS_TOKEN:\\\\n'\\n        \\\"       \\\n          \\     raise ValueError('DIFY_ACCESS_TOKEN is not set.')\\\\n\\\"\\n        '\\\n          \\        return {\\\\n'\\n        \\\"            'Authorization': f'Bearer {config.DIFY_ACCESS_TOKEN}',\\\\\\\n          n\\\"\\n        \\\"            'Content-Type': 'application/json',\\\\n\\\"\\n  \\\n          \\      '        }\\\\n'\\n        '\\\\n'\\n        '    async def export_dsl(self,\\\n          \\ app_id: str, include_secret: bool = False) -> str:\\\\n'\\n        \\\"   \\\n          \\     url = f'{config.DIFY_HOST}/console/api/apps/{app_id}/export'\\\\n\\\"\\n\\\n          \\        \\\"        params = {'include_secret': str(include_secret).lower()}\\\\\\\n          n\\\"\\n        '        async with httpx.AsyncClient(timeout=30) as client:\\\\\\\n          n'\\n        '            response = await client.get(url, headers=self._get_headers(),\\\n          \\ params=params)\\\\n'\\n        '        if response.status_code == 401:\\\\\\\n          n'\\n        \\\"            raise TokenExpiredError('TOKEN_EXPIRED: update\\\n          \\ DIFY_ACCESS_TOKEN in .env')\\\\n\\\"\\n        '        response.raise_for_status()\\\\\\\n          n'\\n        \\\"        content_type = response.headers.get('content-type',\\\n          \\ '')\\\\n\\\"\\n        \\\"        return response.json().get('data', response.text)\\\n          \\ if 'json' in content_type else response.text\\\\n\\\"\\n        '\\\\n'\\n   \\\n          \\     '\\\\n'\\n        'dify_client = DifyClient()\\\\n'\\n    )\\n\\n    github_client_py\\\n          \\ = (\\n        'import base64\\\\n'\\n        'import httpx\\\\n'\\n        'from\\\n          \\ typing import Optional, Tuple\\\\n'\\n        'from config import config\\\\\\\n          n'\\n        '\\\\n'\\n        '\\\\n'\\n        'class GitHubClient:\\\\n'\\n   \\\n          \\     '\\\\n'\\n        '    def __init__(self) -> None:\\\\n'\\n        \\\"  \\\n          \\      self.base_url = 'https://api.github.com'\\\\n\\\"\\n        '        self.headers\\\n          \\ = {\\\\n'\\n        \\\"            'Authorization': f'Bearer {config.GITHUB_TOKEN}',\\\\\\\n          n\\\"\\n        \\\"            'Accept': 'application/vnd.github+json',\\\\n\\\"\\\n          \\n        \\\"            'X-GitHub-Api-Version': '2022-11-28',\\\\n\\\"\\n   \\\n          \\     '        }\\\\n'\\n        '\\\\n'\\n        '    def _file_url(self, file_path:\\\n          \\ str) -> str:\\\\n'\\n        \\\"        return f'{self.base_url}/repos/{config.GITHUB_OWNER}/{config.GITHUB_REPO}/contents/{file_path}'\\\\\\\n          n\\\"\\n        '\\\\n'\\n        '    async def get_file(self, file_path: str)\\\n          \\ -> Tuple[Optional[str], Optional[str]]:\\\\n'\\n        '        async with\\\n          \\ httpx.AsyncClient(timeout=30) as client:\\\\n'\\n        '            response\\\n          \\ = await client.get(\\\\n'\\n        '                self._file_url(file_path),\\\\\\\n          n'\\n        '                headers=self.headers,\\\\n'\\n        \\\"     \\\n          \\           params={'ref': config.GITHUB_BRANCH},\\\\n\\\"\\n        '      \\\n          \\      )\\\\n'\\n        '        if response.status_code == 404:\\\\n'\\n   \\\n          \\     '            return None, None\\\\n'\\n        '        response.raise_for_status()\\\\\\\n          n'\\n        '        data = response.json()\\\\n'\\n        \\\"        decoded\\\n          \\ = base64.b64decode(data['content'].replace('\\\\\\\\n', '')).decode('utf-8')\\\\\\\n          n\\\"\\n        \\\"        return data['sha'], decoded\\\\n\\\"\\n        '\\\\n'\\n\\\n          \\        '    async def github_commit_push(\\\\n'\\n        '        self,\\\\\\\n          n'\\n        '        file_path: str,\\\\n'\\n        '        content: str,\\\\\\\n          n'\\n        '        commit_message: str,\\\\n'\\n        '        sha: Optional[str]\\\n          \\ = None,\\\\n'\\n        '    ) -> str:\\\\n'\\n        '        payload = {\\\\\\\n          n'\\n        \\\"            'message': commit_message,\\\\n\\\"\\n        \\\"  \\\n          \\          'content': base64.b64encode(content.encode('utf-8')).decode('utf-8'),\\\\\\\n          n\\\"\\n        \\\"            'branch': config.GITHUB_BRANCH,\\\\n\\\"\\n      \\\n          \\  '        }\\\\n'\\n        '        if sha:\\\\n'\\n        \\\"            payload['sha']\\\n          \\ = sha\\\\n\\\"\\n        '        async with httpx.AsyncClient(timeout=30)\\\n          \\ as client:\\\\n'\\n        '            response = await client.put(\\\\n'\\n\\\n          \\        '                self._file_url(file_path),\\\\n'\\n        '    \\\n          \\            headers=self.headers,\\\\n'\\n        '                json=payload,\\\\\\\n          n'\\n        '            )\\\\n'\\n        '            response.raise_for_status()\\\\\\\n          n'\\n        \\\"        return response.json()['commit']['html_url']\\\\n\\\"\\n\\\n          \\        '\\\\n'\\n        '\\\\n'\\n        'github_client = GitHubClient()\\\\\\\n          n'\\n    )\\n\\n    sync_service_py = (\\n        'import difflib\\\\n'\\n    \\\n          \\    'from datetime import datetime, timezone\\\\n'\\n        'from dataclasses\\\n          \\ import dataclass\\\\n'\\n        'from typing import Optional\\\\n'\\n     \\\n          \\   'from dify_client import dify_client, TokenExpiredError\\\\n'\\n      \\\n          \\  'from github_client import github_client\\\\n'\\n        'from config import\\\n          \\ config\\\\n'\\n        '\\\\n'\\n        '\\\\n'\\n        '@dataclass\\\\n'\\n  \\\n          \\      'class SyncResult:\\\\n'\\n        '    status: str\\\\n'\\n        ' \\\n          \\   committed: bool\\\\n'\\n        '    message: str\\\\n'\\n        '    commit_url:\\\n          \\ Optional[str]    = None\\\\n'\\n        '    lines_changed: int         \\\n          \\  = 0\\\\n'\\n        '    token_refresh_required: bool = False\\\\n'\\n    \\\n          \\    '\\\\n'\\n        '\\\\n'\\n        'class SyncService:\\\\n'\\n        '\\\\\\\n          n'\\n        '    def _commit_message(self, app_name: str, diff_lines: list,\\\n          \\ custom: str = None) -> str:\\\\n'\\n        '        if custom:\\\\n'\\n   \\\n          \\     '            return custom\\\\n'\\n        \\\"        added   = sum(1\\\n          \\ for l in diff_lines if l.startswith('+') and not l.startswith('+++'))\\\\\\\n          n\\\"\\n        \\\"        removed = sum(1 for l in diff_lines if l.startswith('-')\\\n          \\ and not l.startswith('---'))\\\\n\\\"\\n        \\\"        ts = datetime.now(timezone.utc).strftime('%Y-%m-%d\\\n          \\ %H:%M UTC')\\\\n\\\"\\n        \\\"        return f'chore: sync Dify DSL [{app_name}]\\\n          \\ +{added}/-{removed} ({ts})'\\\\n\\\"\\n        '\\\\n'\\n        '    def _diff(self,\\\n          \\ current: str, new: str) -> tuple:\\\\n'\\n        '        a = current.strip().splitlines()\\\\\\\n          n'\\n        '        b = new.strip().splitlines()\\\\n'\\n        \\\"      \\\n          \\  lines = list(difflib.unified_diff(a, b, fromfile='current', tofile='new',\\\n          \\ lineterm=''))\\\\n\\\"\\n        \\\"        changed = sum(1 for l in lines if\\\n          \\ l.startswith(('+', '-')) and not l.startswith(('+++', '---')))\\\\n\\\"\\n\\\n          \\        '        return bool(lines), lines, changed\\\\n'\\n        '\\\\n'\\n\\\n          \\        '    async def run(self, app_id: str = None, file_path: str = None,\\\\\\\n          n'\\n        '                  commit_message: str = None, include_secret:\\\n          \\ bool = False) -> SyncResult:\\\\n'\\n        '        app_id    = app_id\\\n          \\    or config.DIFY_APP_ID\\\\n'\\n        '        file_path = file_path or\\\n          \\ config.GITHUB_FILE_PATH\\\\n'\\n        '        try:\\\\n'\\n        '    \\\n          \\        new_dsl = await dify_client.export_dsl(app_id, include_secret)\\\\\\\n          n'\\n        '        except TokenExpiredError as exc:\\\\n'\\n        \\\"  \\\n          \\          return SyncResult(status='token_expired', committed=False, message=str(exc),\\\n          \\ token_refresh_required=True)\\\\n\\\"\\n        '        except Exception as\\\n          \\ exc:\\\\n'\\n        \\\"            return SyncResult(status='error', committed=False,\\\n          \\ message=f'DSL export failed: {exc}')\\\\n\\\"\\n        '        try:\\\\n'\\n\\\n          \\        '            sha, current_dsl = await github_client.get_file(file_path)\\\\\\\n          n'\\n        '        except Exception as exc:\\\\n'\\n        \\\"          \\\n          \\  return SyncResult(status='error', committed=False, message=f'GitHub read\\\n          \\ failed: {exc}')\\\\n\\\"\\n        '        if current_dsl is not None:\\\\n'\\n\\\n          \\        '            changed, diff_lines, n_changed = self._diff(current_dsl,\\\n          \\ new_dsl)\\\\n'\\n        '            if not changed:\\\\n'\\n        \\\"   \\\n          \\             return SyncResult(status='no_change', committed=False, message='DSL\\\n          \\ unchanged - no commit required.', lines_changed=0)\\\\n\\\"\\n        '   \\\n          \\     else:\\\\n'\\n        \\\"            diff_lines, n_changed = [], new_dsl.count('\\\\\\\n          \\\\n') + 1\\\\n\\\"\\n        '        msg = self._commit_message(config.DIFY_APP_NAME,\\\n          \\ diff_lines, commit_message)\\\\n'\\n        '        try:\\\\n'\\n        '\\\n          \\            url = await github_client.github_commit_push(file_path, new_dsl,\\\n          \\ msg, sha)\\\\n'\\n        '        except Exception as exc:\\\\n'\\n       \\\n          \\ \\\"            return SyncResult(status='error', committed=False, message=f'GitHub\\\n          \\ commit failed: {exc}')\\\\n\\\"\\n        \\\"        return SyncResult(status='committed',\\\n          \\ committed=True, message=msg, commit_url=url, lines_changed=n_changed)\\\\\\\n          n\\\"\\n        '\\\\n'\\n        '\\\\n'\\n        'sync_service = SyncService()\\\\\\\n          n'\\n    )\\n\\n    sync_py = (\\n        'import asyncio\\\\n'\\n        'import\\\n          \\ logging\\\\n'\\n        'import sys\\\\n'\\n        'from datetime import datetime,\\\n          \\ timezone\\\\n'\\n        'from sync_service import sync_service\\\\n'\\n   \\\n          \\     '\\\\n'\\n        'logging.basicConfig(\\\\n'\\n        '    level=logging.INFO,\\\\\\\n          n'\\n        \\\"    format='%(asctime)s  %(levelname)-8s  %(message)s',\\\\\\\n          n\\\"\\n        \\\"    datefmt='%Y-%m-%d %H:%M:%S',\\\\n\\\"\\n        '    handlers=[logging.StreamHandler(sys.stdout)],\\\\\\\n          n'\\n        ')\\\\n'\\n        'log = logging.getLogger(__name__)\\\\n'\\n   \\\n          \\     '\\\\n'\\n        '\\\\n'\\n        'async def main() -> int:\\\\n'\\n    \\\n          \\    '    started_at = datetime.now(timezone.utc).isoformat()\\\\n'\\n    \\\n          \\    \\\"    log.info('Dify DSL sync started - %s', started_at)\\\\n\\\"\\n   \\\n          \\     '    result = await sync_service.run()\\\\n'\\n        \\\"    log.info('Status\\\n          \\        : %s', result.status)\\\\n\\\"\\n        \\\"    log.info('Committed \\\n          \\    : %s', result.committed)\\\\n\\\"\\n        \\\"    log.info('Message    \\\n          \\   : %s', result.message)\\\\n\\\"\\n        '    if result.committed:\\\\n'\\n\\\n          \\        \\\"        log.info('Commit URL    : %s', result.commit_url)\\\\n\\\"\\\n          \\n        \\\"        log.info('Lines changed : %d', result.lines_changed)\\\\\\\n          n\\\"\\n        \\\"    if result.status == 'token_expired':\\\\n\\\"\\n        '\\\n          \\        log.error(\\\\n'\\n        \\\"            'ACTION REQUIRED: DIFY_ACCESS_TOKEN\\\n          \\ has expired.\\\\\\\\n'\\\\n\\\"\\n        \\\"            '  1. Go to https://cloud.dify.ai\\\n          \\ and log in.\\\\\\\\n'\\\\n\\\"\\n        \\\"            '  2. Open DevTools > Application\\\n          \\ > Local Storage > access_token.\\\\\\\\n'\\\\n\\\"\\n        \\\"            '  3.\\\n          \\ Copy value and update DIFY_ACCESS_TOKEN in your .env file.\\\\\\\\n'\\\\n\\\"\\n\\\n          \\        \\\"            '  4. Re-run this script to verify.'\\\\n\\\"\\n     \\\n          \\   '        )\\\\n'\\n        '        return 1\\\\n'\\n        \\\"    if result.status\\\n          \\ == 'error':\\\\n\\\"\\n        \\\"        log.error('Sync failed: %s', result.message)\\\\\\\n          n\\\"\\n        '        return 1\\\\n'\\n        \\\"    log.info('Sync complete.')\\\\\\\n          n\\\"\\n        '    return 0\\\\n'\\n        '\\\\n'\\n        '\\\\n'\\n        \\\"\\\n          if __name__ == '__main__':\\\\n\\\"\\n        '    sys.exit(asyncio.run(main()))\\\\\\\n          n'\\n    )\\n\\n    bundle = {\\n        'config.py':        config_py.strip(),\\n\\\n          \\        'dify_client.py':   dify_client_py.strip(),\\n        'github_client.py':\\\n          \\ github_client_py.strip(),\\n        'sync_service.py':  sync_service_py.strip(),\\n\\\n          \\        'sync.py':          sync_py.strip(),\\n    }\\n\\n    return {\\n \\\n          \\       'files_bundle': json.dumps(bundle, ensure_ascii=False),\\n      \\\n          \\  'file_count':   len(bundle),\\n        'file_names':   ', '.join(bundle.keys()),\\n\\\n          \\    }\\n\"\n        code_language: python3\n        desc: Replaces 5 LLM nodes + assemble_source_files. Receives DIFY_HOST, GITHUB_OWNER,\n          GITHUB_REPO, GITHUB_BRANCH from Dify env and bakes them as os.getenv defaults\n          in the generated config.py. Zero LLM calls, zero 503 risk.\n        outputs:\n          file_count:\n            children: null\n            type: number\n          file_names:\n            children: null\n            type: string\n          files_bundle:\n            children: null\n            type: string\n        selected: false\n        title: bundle_source_files\n        type: code\n        variables:\n        - value_selector:\n          - env\n          - DIFY_HOST\n          value_type: string\n          variable: DIFY_HOST\n        - value_selector:\n          - env\n          - GITHUB_OWNER\n          value_type: string\n          variable: GITHUB_OWNER\n        - value_selector:\n          - env\n          - GITHUB_REPO\n          value_type: string\n          variable: GITHUB_REPO\n        - value_selector:\n          - env\n          - GITHUB_BRANCH\n          value_type: string\n          variable: GITHUB_BRANCH\n      height: 162\n      id: bundle_source_files\n      position:\n        x: 680\n        y: 300\n      positionAbsolute:\n        x: 680\n        y: 300\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        code: \"import ast\\nimport json\\nimport time\\n\\ndef main(FILES_BUNDLE: str):\\n\\\n          \\tbundle = json.loads(FILES_BUNDLE)\\n\\tWARN_BARE_EXCEPT = \\\"bare 'except:'\\\n          \\ use 'except Exception:'\\\"\\n\\tWARN_PRINT_STMT  = 'print() found remove\\\n          \\ before production'\\n\\tWARN_TODO        = 'TODO/FIXME resolve before deploying'\\n\\\n          \\tresults = {}\\n\\ttotal_err = 0\\n\\ttotal_wrn = 0\\n\\tfor filename, source\\\n          \\ in bundle.items():\\n\\t\\tentry = {'status': 'PASS', 'errors': [], 'warnings':\\\n          \\ [], 'lines': 0, 'parse_ms': 0.0}\\n\\t\\tif not source or not source.strip():\\n\\\n          \\t\\t\\tentry['errors'].append('Empty source')\\n\\t\\t\\tentry['status'] = 'FAIL'\\n\\\n          \\t\\t\\ttotal_err += 1\\n\\t\\t\\tresults[filename] = entry\\n\\t\\t\\tcontinue\\n\\t\\\n          \\tentry['lines'] = source.count('\\\\n') + 1\\n\\t\\tt0 = time.perf_counter()\\n\\\n          \\t\\ttry:\\n\\t\\t\\ttree = ast.parse(source, filename=filename)\\n\\t\\t\\tentry['parse_ms']\\\n          \\ = round((time.perf_counter() - t0) * 1000, 2)\\n\\t\\texcept SyntaxError\\\n          \\ as exc:\\n\\t\\t\\tentry['parse_ms'] = round((time.perf_counter() - t0) *\\\n          \\ 1000, 2)\\n\\t\\t\\tentry['errors'].append(f'SyntaxError line {exc.lineno}:\\\n          \\ {exc.msg}')\\n\\t\\t\\tentry['status'] = 'FAIL'\\n\\t\\t\\ttotal_err += 1\\n\\t\\t\\\n          \\tresults[filename] = entry\\n\\t\\t\\tcontinue\\n\\t\\tfor node in ast.walk(tree):\\n\\\n          \\t\\t\\tif isinstance(node, ast.ExceptHandler) and node.type is None:\\n\\t\\t\\\n          \\t\\tentry['warnings'].append(f'line {node.lineno}: {WARN_BARE_EXCEPT}')\\n\\\n          \\t\\t\\tif (isinstance(node, ast.Call) and isinstance(getattr(node, 'func',\\\n          \\ None), ast.Name) and node.func.id == 'print'):\\n\\t\\t\\t\\tentry['warnings'].append(f'line\\\n          \\ {node.lineno}: {WARN_PRINT_STMT}')\\n\\t\\tfor i, line in enumerate(source.splitlines(),\\\n          \\ 1):\\n\\t\\t\\ts = line.lstrip()\\n\\t\\t\\tif s.startswith('#') and any(kw in\\\n          \\ s.upper() for kw in ('TODO', 'FIXME')):\\n\\t\\t\\t\\tentry['warnings'].append(f'line\\\n          \\ {i}: {WARN_TODO}')\\n\\t\\ttotal_wrn += len(entry['warnings'])\\n\\t\\tif entry['warnings']\\\n          \\ and entry['status'] == 'PASS':\\n\\t\\t\\tentry['status'] = 'WARN'\\n\\t\\tresults[filename]\\\n          \\ = entry\\n\\toverall  = 'PASS' if total_err == 0 else 'FAIL'\\n\\tpass_cnt\\\n          \\ = sum(1 for r in results.values() if r['status'] != 'FAIL')\\n\\trows =\\\n          \\ ['=== CODE COMPILATION REPORT ===', f'Overall: {overall}', f'Files: {pass_cnt}/{len(results)}\\\n          \\ passed', f'Errors: {total_err}', f'Warnings: {total_wrn}', '']\\n\\tfor\\\n          \\ fname, r in results.items():\\n\\t\\ticon = 'OK' if r['status'] == 'PASS'\\\n          \\ else ('WARN' if r['status'] == 'WARN' else 'FAIL')\\n\\t\\trows.append(f'\\\n          \\  [{icon}] {fname} - {r[\\\"lines\\\"]} lines, parse {r[\\\"parse_ms\\\"]}ms')\\n\\\n          \\t\\tfor e in r['errors']:\\n\\t\\t\\trows.append(f'    ERROR: {e}')\\n\\t\\tfor\\\n          \\ w in r['warnings']:\\n\\t\\t\\trows.append(f'    WARNING: {w}')\\n\\treturn\\\n          \\ {\\n\\t\\t'compile_report': '\\\\n'.join(rows),\\n\\t\\t'has_errors': str(total_err\\\n          \\ > 0),\\n\\t\\t'has_warnings': str(total_wrn > 0),\\n\\t\\t'overall_status':\\\n          \\ overall\\n\\t}\"\n        code_language: python3\n        desc: AST-parses all 5 bundled Python files. Catches syntax errors and quality\n          warnings. Now reads from bundle_source_files instead of assemble_source_files.\n        outputs:\n          compile_report:\n            children: null\n            type: string\n          has_errors:\n            children: null\n            type: string\n          has_warnings:\n            children: null\n            type: string\n          overall_status:\n            children: null\n            type: string\n        selected: false\n        title: compile_and_validate\n        type: code\n        variables:\n        - value_selector:\n          - bundle_source_files\n          - files_bundle\n          variable: FILES_BUNDLE\n      height: 130\n      id: compile_and_validate\n      position:\n        x: 980\n        y: 300\n      positionAbsolute:\n        x: 980\n        y: 300\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        code: \"import httpx\\nimport json\\n\\ndef main(DIFY_ACCESS_TOKEN: str, DIFY_HOST:\\\n          \\ str):\\n    host    = DIFY_HOST.rstrip('/')\\n    headers = {\\n        'Authorization':\\\n          \\ f'Bearer {DIFY_ACCESS_TOKEN}',\\n        'Content-Type':  'application/json'\\n\\\n          \\    }\\n\\n    all_apps   = []\\n    page       = 1\\n    page_size  = 50 \\\n          \\ # max allowed by Dify API\\n    has_more   = True\\n\\n    try:\\n       \\\n          \\ with httpx.Client(timeout=30.0) as client:\\n            while has_more:\\n\\\n          \\                url  = f'{host}/console/api/apps?page={page}&limit={page_size}'\\n\\\n          \\                resp = client.get(url, headers=headers)\\n             \\\n          \\   resp.raise_for_status()\\n                body     = resp.json()\\n  \\\n          \\              batch    = body.get('data', [])\\n                has_more\\\n          \\ = body.get('has_more', False)\\n                all_apps.extend(batch)\\n\\\n          \\                if not batch:\\n                    break\\n            \\\n          \\    page += 1\\n\\n        return {\\n            'apps_list':           \\\n          \\  all_apps,\\n            'total_apps_in_workspace': len(all_apps),\\n  \\\n          \\          'status': 'Success' if all_apps else 'No Apps Found'\\n      \\\n          \\  }\\n\\n    except Exception as e:\\n        error_detail = f' | Details:\\\n          \\ {e.response.text}' if hasattr(e, 'response') else ''\\n        return {\\n\\\n          \\            'apps_list':             [],\\n            'total_apps_in_workspace':\\\n          \\ 0,\\n            'status': f'Error: {str(e)}{error_detail}'\\n        }\\n\"\n        code_language: python3\n        desc: Paginates ALL apps from the Dify Console API (page_size=100, loops until\n          has_more=False). Handles workspaces with 100s of apps. Previously hardcoded\n          limit=5.\n        outputs:\n          apps_list:\n            children: null\n            type: array[object]\n          status:\n            children: null\n            type: string\n          total_apps_in_workspace:\n            children: null\n            type: number\n        selected: false\n        title: EXPORT_DSL_FILE\n        type: code\n        variables:\n        - value_selector:\n          - env\n          - DIFY_ACCESS_TOKEN\n          value_type: secret\n          variable: DIFY_ACCESS_TOKEN\n        - value_selector:\n          - env\n          - DIFY_HOST\n          value_type: string\n          variable: DIFY_HOST\n      height: 162\n      id: '1777541001585'\n      position:\n        x: 1280\n        y: 300\n      positionAbsolute:\n        x: 1280\n        y: 300\n      selected: true\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        desc: ''\n        error_handle_mode: continue-on-error\n        height: 210\n        is_parallel: true\n        iterator_input_type: array[object]\n        iterator_selector:\n        - '1777541001585'\n        - apps_list\n        output_selector:\n        - '1777953472507'\n        - result\n        output_type: array[string]\n        parallel_nums: 3\n        selected: false\n        start_node_id: 1777946437156start\n        title: Iteration\n        type: iteration\n        width: 359\n      height: 210\n      id: '1777946437156'\n      position:\n        x: 1580\n        y: 300\n      positionAbsolute:\n        x: 1580\n        y: 300\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 359\n      zIndex: 1\n    - data:\n        desc: ''\n        isInIteration: true\n        selected: false\n        title: ''\n        type: iteration-start\n      draggable: false\n      height: 48\n      id: 1777946437156start\n      parentId: '1777946437156'\n      position:\n        x: 24\n        y: 68\n      positionAbsolute:\n        x: 1604\n        y: 368\n      selectable: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom-iteration-start\n      width: 44\n      zIndex: 1002\n    - data:\n        code: \"import httpx\\nimport base64\\nimport time\\n\\ndef main(\\n    DIFY_ACCESS_TOKEN:\\\n          \\ str, DIFY_HOST: str,\\n    GITHUB_TOKEN: str, GITHUB_REPO: str,\\n    GITHUB_OWNER:\\\n          \\ str, GITHUB_BRANCH: str,\\n    app_id: dict, app_name: dict\\n):\\n    actual_id\\\n          \\   = app_id.get('id')\\n    actual_name = app_name.get('name')\\n\\n    dify_headers\\\n          \\   = {'Authorization': f'Bearer {DIFY_ACCESS_TOKEN}'}\\n    github_headers\\\n          \\ = {\\n        'Authorization': f'Bearer {GITHUB_TOKEN}',\\n        'Accept':\\\n          \\        'application/vnd.github+json',\\n        'X-GitHub-Api-Version':\\\n          \\ '2022-11-28'\\n    }\\n\\n    clean_name = ''.join(c for c in actual_name\\\n          \\ if c.isalnum() or c in (' ', '_')).strip().replace(' ', '_')\\n    file_path\\\n          \\  = f'dsl/{clean_name}.yml'\\n    github_url = f'https://api.github.com/repos/{GITHUB_OWNER}/{GITHUB_REPO}/contents/{file_path}'\\n\\\n          \\n    # \u2500\u2500 STEP A: Export DSL from Dify (separate timeout) \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\\n\\\n          \\    try:\\n        with httpx.Client(timeout=60.0) as dify_client:\\n   \\\n          \\         dify_url  = f'{DIFY_HOST}/console/api/apps/{actual_id}/export'\\n\\\n          \\            dify_resp = dify_client.get(dify_url, headers=dify_headers)\\n\\\n          \\            if dify_resp.status_code == 401:\\n                return {'result':\\\n          \\ {'app': actual_name, 'status': 'Error', 'commit_id': 'TOKEN_EXPIRED: refresh\\\n          \\ DIFY_ACCESS_TOKEN'}}\\n            dify_resp.raise_for_status()\\n     \\\n          \\       new_content = dify_resp.text\\n    except httpx.TimeoutException:\\n\\\n          \\        return {'result': {'app': actual_name, 'status': 'Error', 'commit_id':\\\n          \\ 'Dify export timeout (60s)'}}\\n    except Exception as e:\\n        return\\\n          \\ {'result': {'app': actual_name, 'status': 'Error', 'commit_id': f'Dify\\\n          \\ export error: {str(e)[:80]}'}}\\n\\n    # \u2500\u2500 STEP B: Check GitHub for existing\\\n          \\ SHA (separate timeout) \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\\n    def github_request_with_retry(method,\\\n          \\ url, headers, json_body=None, retries=3):\\n        for attempt in range(retries):\\n\\\n          \\            try:\\n                with httpx.Client(timeout=30.0) as gh_client:\\n\\\n          \\                    if method == 'GET':\\n                        resp =\\\n          \\ gh_client.get(url, headers=headers)\\n                    else:\\n     \\\n          \\                   resp = gh_client.put(url, headers=headers, json=json_body)\\n\\\n          \\                if resp.status_code == 429 or resp.status_code == 403:\\n\\\n          \\                    retry_after = int(resp.headers.get('Retry-After', 10))\\n\\\n          \\                    time.sleep(min(retry_after, 60))\\n                \\\n          \\    continue\\n                return resp\\n            except httpx.TimeoutException:\\n\\\n          \\                if attempt == retries - 1:\\n                    raise\\n\\\n          \\                time.sleep(5 * (attempt + 1))\\n        return None\\n\\n\\\n          \\    try:\\n        sha = None\\n        get_resp = github_request_with_retry('GET',\\\n          \\ github_url, github_headers)\\n        if get_resp is None:\\n          \\\n          \\  return {'result': {'app': actual_name, 'status': 'Error', 'commit_id':\\\n          \\ 'GitHub GET failed after retries'}}\\n\\n        if get_resp.status_code\\\n          \\ == 200:\\n            data       = get_resp.json()\\n            sha   \\\n          \\     = data['sha']\\n            remote_raw = base64.b64decode(data['content']).decode('utf-8')\\n\\\n          \\            if remote_raw.strip() == new_content.strip():\\n           \\\n          \\     return {'result': {'app': actual_name, 'status': 'Skipped', 'commit_id':\\\n          \\ 'N/A'}}\\n        elif get_resp.status_code not in (200, 404):\\n      \\\n          \\      return {'result': {'app': actual_name, 'status': 'Error', 'commit_id':\\\n          \\ f'GitHub GET {get_resp.status_code}'}}\\n\\n    except httpx.TimeoutException:\\n\\\n          \\        return {'result': {'app': actual_name, 'status': 'Error', 'commit_id':\\\n          \\ 'GitHub GET timeout (30s)'}}\\n    except Exception as e:\\n        return\\\n          \\ {'result': {'app': actual_name, 'status': 'Error', 'commit_id': f'GitHub\\\n          \\ GET error: {str(e)[:80]}'}}\\n\\n    # \u2500\u2500 STEP C: Push to GitHub \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\\n\\\n          \\    try:\\n        payload = {\\n            'message': f'sync: {actual_name}',\\n\\\n          \\            'content': base64.b64encode(new_content.encode('utf-8')).decode('utf-8'),\\n\\\n          \\            'branch':  GITHUB_BRANCH\\n        }\\n        if sha:\\n    \\\n          \\        payload['sha'] = sha\\n\\n        put_resp = github_request_with_retry('PUT',\\\n          \\ github_url, github_headers, json_body=payload)\\n        if put_resp is\\\n          \\ None:\\n            return {'result': {'app': actual_name, 'status': 'Error',\\\n          \\ 'commit_id': 'GitHub PUT failed after retries'}}\\n\\n        put_resp.raise_for_status()\\n\\\n          \\        new_sha = put_resp.json().get('commit', {}).get('sha', 'Unknown')[:7]\\n\\\n          \\        return {'result': {'app': actual_name, 'status': 'Success', 'commit_id':\\\n          \\ new_sha}}\\n\\n    except httpx.TimeoutException:\\n        return {'result':\\\n          \\ {'app': actual_name, 'status': 'Error', 'commit_id': 'GitHub PUT timeout\\\n          \\ (30s)'}}\\n    except Exception as e:\\n        return {'result': {'app':\\\n          \\ actual_name, 'status': 'Error', 'commit_id': f'GitHub PUT error: {str(e)[:80]}'}}\\n\"\n        code_language: python3\n        desc: Per-app sync with split timeouts (Dify=60s, GitHub=30s each). Retries\n          GitHub 429/403 with Retry-After backoff (up to 3 attempts). Explicit 401\n          detection for expired Dify token. Each step returns a clear error rather\n          than a single catch-all.\n        isInIteration: true\n        isInLoop: false\n        iteration_id: '1777946437156'\n        outputs:\n          result:\n            children: null\n            type: object\n        selected: false\n        title: FETCH_DSL_AND_GIT_PUSH\n        type: code\n        variables:\n        - value_selector:\n          - '1777946437156'\n          - item\n          value_type: object\n          variable: app_id\n        - value_selector:\n          - '1777946437156'\n          - item\n          value_type: object\n          variable: app_name\n        - value_selector:\n          - env\n          - DIFY_ACCESS_TOKEN\n          value_type: secret\n          variable: DIFY_ACCESS_TOKEN\n        - value_selector:\n          - env\n          - DIFY_HOST\n          value_type: string\n          variable: DIFY_HOST\n        - value_selector:\n          - env\n          - GITHUB_TOKEN\n          value_type: secret\n          variable: GITHUB_TOKEN\n        - value_selector:\n          - env\n          - GITHUB_REPO\n          value_type: string\n          variable: GITHUB_REPO\n        - value_selector:\n          - env\n          - GITHUB_OWNER\n          value_type: string\n          variable: GITHUB_OWNER\n        - value_selector:\n          - env\n          - GITHUB_BRANCH\n          value_type: string\n          variable: GITHUB_BRANCH\n      height: 54\n      id: '1777953472507'\n      parentId: '1777946437156'\n      position:\n        x: 94\n        y: 65\n      positionAbsolute:\n        x: 1674\n        y: 365\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n      zIndex: 1002\n    - data:\n        desc: ''\n        outputs:\n        - value_selector:\n          - '1777946437156'\n          - output\n          value_type: array[string]\n          variable: Result\n        selected: false\n        title: End\n        type: end\n      height: 90\n      id: '1777539540092'\n      position:\n        x: 2000\n        y: 300\n      positionAbsolute:\n        x: 2000\n        y: 300\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    viewport:\n      x: -323.70000000000005\n      y: -24.5\n      zoom: 0.6\n"}
