dsl/Doc_extractor.yml
{"data": "app:\n  description: ''\n  icon: \ud83e\udd16\n  icon_background: '#FFEAD5'\n  mode: advanced-chat\n  name: Doc extractor\n  use_icon_as_answer_icon: false\ndependencies:\n- current_identifier: null\n  type: marketplace\n  value:\n    marketplace_plugin_unique_identifier: langgenius/gemini:0.7.4@5faf411e694e0da130a337347a625a3812b1b7502a0183382d66d92c841bf05a\nkind: app\nversion: 0.3.1\nworkflow:\n  conversation_variables: []\n  environment_variables: []\n  features:\n    file_upload:\n      allowed_file_extensions:\n      - .PDF\n      - .DOCX\n      - .XLSX\n      - .XLS\n      - .CSV\n      - .TXT\n      allowed_file_types:\n      - document\n      - custom\n      allowed_file_upload_methods:\n      - remote_url\n      - local_file\n      enabled: false\n      fileUploadConfig:\n        audio_file_size_limit: 50\n        batch_count_limit: 5\n        file_size_limit: 50\n        image_file_size_limit: 10\n        video_file_size_limit: 100\n        workflow_file_upload_limit: 10\n      image:\n        enabled: false\n        number_limits: 3\n        transfer_methods:\n        - local_file\n        - remote_url\n      number_limits: 3\n    opening_statement: 'Welcome! \ud83d\udcc4 Upload a document using the file field above and\n      I will extract and display all its contents.\n\n\n      Supported: PDF, DOCX, DOC, XLSX, XLS, CSV, TXT'\n    retriever_resource:\n      enabled: true\n    sensitive_word_avoidance:\n      enabled: false\n    speech_to_text:\n      enabled: false\n    suggested_questions: []\n    suggested_questions_after_answer:\n      enabled: false\n    text_to_speech:\n      enabled: false\n      language: ''\n      voice: ''\n  graph:\n    edges:\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: start\n        targetType: document-extractor\n      id: 1776934775786-source-1776936534863-target\n      source: '1776934775786'\n      sourceHandle: source\n      target: '1776936534863'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: document-extractor\n        targetType: llm\n      id: 1776936534863-source-1776936552037-target\n      source: '1776936534863'\n      sourceHandle: source\n      target: '1776936552037'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: llm\n        targetType: answer\n      id: 1776936552037-source-1776936669046-target\n      source: '1776936552037'\n      sourceHandle: source\n      target: '1776936669046'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    nodes:\n    - data:\n        desc: ''\n        selected: false\n        title: Start\n        type: start\n        variables:\n        - allowed_file_extensions: []\n          allowed_file_types:\n          - image\n          - document\n          allowed_file_upload_methods:\n          - local_file\n          label: file_upload\n          max_length: 48\n          options: []\n          required: true\n          type: file\n          variable: file_upload\n      height: 89\n      id: '1776934775786'\n      position:\n        x: 80\n        y: 282\n      positionAbsolute:\n        x: 80\n        y: 282\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        desc: ''\n        is_array_file: false\n        selected: false\n        title: Doc Extractor\n        type: document-extractor\n        variable_selector:\n        - '1776934775786'\n        - file_upload\n      height: 94\n      id: '1776936534863'\n      position:\n        x: 384\n        y: 282\n      positionAbsolute:\n        x: 384\n        y: 282\n      selected: true\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        context:\n          enabled: false\n          variable_selector: []\n        desc: ''\n        model:\n          completion_params:\n            temperature: 0.7\n          mode: chat\n          name: gemini-2.5-pro\n          provider: langgenius/gemini/google\n        prompt_template:\n        - id: 38a0c0ff-a397-493f-9db2-1aac14ffd402\n          role: system\n          text: You are a document data extractor and expert. Read and save the data\n            from document {{#1776936534863.text#}}\n        - id: 343fa0ab-b358-4344-a686-d2de370ab362\n          role: user\n          text: '{{#sys.query#}}'\n        selected: false\n        title: LLM\n        type: llm\n        variables: []\n        vision:\n          enabled: false\n      height: 89\n      id: '1776936552037'\n      position:\n        x: 688\n        y: 282\n      positionAbsolute:\n        x: 688\n        y: 282\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        answer: '{{#1776936552037.text#}}'\n        desc: ''\n        selected: false\n        title: Answer\n        type: answer\n        variables: []\n      height: 103\n      id: '1776936669046'\n      position:\n        x: 992\n        y: 282\n      positionAbsolute:\n        x: 992\n        y: 282\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    viewport:\n      x: -206.30307169573234\n      y: 136.39884318296544\n      zoom: 0.7620724151698858\n"}
