dsl/DSL_Flowchart_Mapper_v2.yml
{"data": "app:\n  description: Transforms Dify DSL files into clean flowcharts for instant documentation\n    and logic verification\n  icon: \ud83e\udd16\n  icon_background: '#FFEAD5'\n  mode: workflow\n  name: DSL Flowchart Mapper_v2\n  use_icon_as_answer_icon: false\ndependencies:\n- current_identifier: null\n  type: marketplace\n  value:\n    marketplace_plugin_unique_identifier: langgenius/gemini:0.7.4@5faf411e694e0da130a337347a625a3812b1b7502a0183382d66d92c841bf05a\nkind: app\nversion: 0.3.1\nworkflow:\n  conversation_variables: []\n  environment_variables: []\n  features:\n    file_upload:\n      allowed_file_extensions:\n      - .JPG\n      - .JPEG\n      - .PNG\n      - .GIF\n      - .WEBP\n      - .SVG\n      allowed_file_types:\n      - image\n      allowed_file_upload_methods:\n      - local_file\n      - remote_url\n      enabled: false\n      fileUploadConfig:\n        audio_file_size_limit: 50\n        batch_count_limit: 5\n        file_size_limit: 50\n        image_file_size_limit: 10\n        video_file_size_limit: 100\n        workflow_file_upload_limit: 10\n      image:\n        enabled: false\n        number_limits: 3\n        transfer_methods:\n        - local_file\n        - remote_url\n      number_limits: 3\n    opening_statement: ''\n    retriever_resource:\n      enabled: true\n    sensitive_word_avoidance:\n      enabled: false\n    speech_to_text:\n      enabled: false\n    suggested_questions: []\n    suggested_questions_after_answer:\n      enabled: false\n    text_to_speech:\n      enabled: false\n      language: ''\n      voice: ''\n  graph:\n    edges:\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: start\n        targetType: http-request\n      id: 1777868375007-source-1777869471082-target\n      source: '1777868375007'\n      sourceHandle: source\n      target: '1777869471082'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: http-request\n        targetType: llm\n      id: 1777869471082--1777869507478-target\n      source: '1777869471082'\n      sourceHandle: source\n      target: '1777869507478'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: llm\n        targetType: llm\n      id: 1777869507478-source-1777959391205-target\n      source: '1777869507478'\n      sourceHandle: source\n      target: '1777959391205'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: llm\n        targetType: end\n      id: 1777959391205-source-1777870530304-target\n      source: '1777959391205'\n      sourceHandle: source\n      target: '1777870530304'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    nodes:\n    - data:\n        desc: This node serves as the entry point where the DSL File (with .yml extension)\n          gets uploaded\n        selected: false\n        title: Input DSF File\n        type: start\n        variables:\n        - allowed_file_extensions:\n          - .yml\n          allowed_file_types:\n          - custom\n          allowed_file_upload_methods:\n          - local_file\n          - remote_url\n          label: DSL_File\n          max_length: 48\n          options: []\n          required: true\n          type: file\n          variable: DSL_File\n      height: 149\n      id: '1777868375007'\n      position:\n        x: 80\n        y: 282\n      positionAbsolute:\n        x: 80\n        y: 282\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        authorization:\n          config: null\n          type: no-auth\n        body:\n          data: []\n          type: none\n        desc: Performs a GET request to the provided URL to retrieve the raw text\n          body of the DSL file\n        headers: ''\n        method: get\n        params: ''\n        retry_config:\n          max_retries: 3\n          retry_enabled: true\n          retry_interval: 100\n        selected: false\n        ssl_verify: true\n        timeout:\n          max_connect_timeout: 0\n          max_read_timeout: 0\n          max_write_timeout: 0\n        title: HTTP - Fetch DSL Content\n        type: http-request\n        url: '{{#1777868375007.DSL_File.url#}}'\n        variables: []\n      height: 185\n      id: '1777869471082'\n      position:\n        x: 384\n        y: 282\n      positionAbsolute:\n        x: 384\n        y: 282\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        context:\n          enabled: false\n          variable_selector: []\n        desc: ''\n        model:\n          completion_params:\n            temperature: 0.7\n          mode: chat\n          name: gemini-2.5-pro\n          provider: langgenius/gemini/google\n        prompt_template:\n        - id: d60f11dc-0e4e-49a7-a85b-eb68d3de1060\n          role: system\n          text: 'Role: You are a Technical Systems Analyst. Your task is to perform\n            a forensic extraction of a Dify DSL file to map its entire architecture.\n\n            Task: Parse the provided DSL and output a Structured Logic Manifest. You\n            must ensure 100% coverage of every node and edge.\n\n\n            Part 1: Node Catalog List every node found in the nodes array.\n\n            Format: [Internal_ID] | [Node_Title] | [Node_Type]\n\n            Part 2: Explicit Edge Mapping Map every connection from the edges array.\n            You must identify the specific logic branch.\n\n            Format: [Source_ID] --(Handle: [sourceHandle])--> [Target_ID]\n\n            Part 3: Functional Clusters Identify logical groupings (e.g., \"Step 1-9\n            Uploads\", \"Currency Conversion Logic\", \"Session 1 vs 2 branching\").\n\n\n            CRITICAL: Do not summarize. Provide the raw structural data needed to\n            rebuild this workflow visually. If there are 60 nodes, there must be 60\n            entries in Part 1.\n\n            DSL File - {{#1777869471082.body#}}'\n        - id: b4bba965-bc3b-46d2-80ac-aeaafa870d34\n          role: user\n          text: DSL File to be analysed {{#1777869471082.body#}}\n        - id: f9fd27a4-f094-48fd-a4a3-59798456e079\n          role: assistant\n          text: ''\n        selected: false\n        structured_output_enabled: true\n        title: LLM - DSL Logic Analyzer\n        type: llm\n        variables: []\n        vision:\n          configs:\n            detail: high\n            variable_selector:\n            - '1777869471082'\n            - files\n          enabled: false\n      height: 89\n      id: '1777869507478'\n      position:\n        x: 688\n        y: 282\n      positionAbsolute:\n        x: 688\n        y: 282\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        desc: ''\n        outputs:\n        - value_selector:\n          - '1777959391205'\n          - text\n          value_type: string\n          variable: text_1\n        selected: false\n        title: End\n        type: end\n      height: 90\n      id: '1777870530304'\n      position:\n        x: 1292\n        y: 282\n      positionAbsolute:\n        x: 1292\n        y: 282\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        context:\n          enabled: false\n          variable_selector: []\n        desc: ''\n        model:\n          completion_params:\n            temperature: 0.7\n          mode: chat\n          name: gemini-2.5-pro\n          provider: langgenius/gemini/google\n        prompt_template:\n        - id: 7f675171-5085-44dd-b258-3c9c0d929ddc\n          role: system\n          text: \"Goal: This LLM takes the \\\"Logic Manifest\\\" from Step 1 and turns\\\n            \\ it into a high-fidelity visual flowchart using Mermaid characters.\\n\\\n            \\nRole: You are a Systems Visualization Expert. Your task is to transform\\\n            \\ the provided Logic Manifest into a high-fidelity, comprehensive flowchart.\\n\\\n            \\nConditions: For Router/Condition nodes, label the paths (e.g., NodeA\\\n            \\ -->|Success| NodeB). \\nSubgraphs: Group nodes that belong to the same\\\n            \\ logical sub-flow or iteration if identifiable.\\n\\nOutput Format: Provide\\\n            \\ a brief \\\"Flow Summary\\\" (2-3 sentences). Provide the Mermaid code block\\\n            \\ starting with graph TD. \\nStrict Rule: Ensure the Mermaid syntax is\\\n            \\ valid. Do not use special characters (like quotes or brackets) inside\\\n            \\ node IDs unless escaped.\\n\\nINPUT FOR ALL THE NODES - {{#1777869507478.text#}}\"\n        - id: 74ea6af5-7fe3-4da7-805a-9f4c1d07fc0c\n          role: user\n          text: 'Nodes to be converted as flowchart: {{#1777869507478.text#}}'\n        selected: true\n        structured_output_enabled: true\n        title: LLM - Flowchart Architect\n        type: llm\n        variables: []\n        vision:\n          enabled: false\n      height: 89\n      id: '1777959391205'\n      position:\n        x: 992\n        y: 282\n      positionAbsolute:\n        x: 992\n        y: 282\n      selected: true\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    viewport:\n      x: -399.4724358959645\n      y: -49.16891788722438\n      zoom: 0.698519536018406\n"}
