dsl/DSL_Flowchart_Mapper.yml
{"data": "app:\n  description: Transforms Dify DSL files into clean flowcharts for instant documentation\n    and logic verification\n  icon: \ud83e\udd16\n  icon_background: '#FFEAD5'\n  mode: workflow\n  name: DSL Flowchart Mapper\n  use_icon_as_answer_icon: false\ndependencies:\n- current_identifier: null\n  type: marketplace\n  value:\n    marketplace_plugin_unique_identifier: langgenius/gemini:0.7.4@5faf411e694e0da130a337347a625a3812b1b7502a0183382d66d92c841bf05a\nkind: app\nversion: 0.3.1\nworkflow:\n  conversation_variables: []\n  environment_variables: []\n  features:\n    file_upload:\n      allowed_file_extensions:\n      - .JPG\n      - .JPEG\n      - .PNG\n      - .GIF\n      - .WEBP\n      - .SVG\n      allowed_file_types:\n      - image\n      allowed_file_upload_methods:\n      - local_file\n      - remote_url\n      enabled: false\n      fileUploadConfig:\n        audio_file_size_limit: 50\n        batch_count_limit: 5\n        file_size_limit: 50\n        image_file_size_limit: 10\n        video_file_size_limit: 100\n        workflow_file_upload_limit: 10\n      image:\n        enabled: false\n        number_limits: 3\n        transfer_methods:\n        - local_file\n        - remote_url\n      number_limits: 3\n    opening_statement: ''\n    retriever_resource:\n      enabled: true\n    sensitive_word_avoidance:\n      enabled: false\n    speech_to_text:\n      enabled: false\n    suggested_questions: []\n    suggested_questions_after_answer:\n      enabled: false\n    text_to_speech:\n      enabled: false\n      language: ''\n      voice: ''\n  graph:\n    edges:\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: start\n        targetType: http-request\n      id: 1777868375007-source-1777869471082-target\n      source: '1777868375007'\n      sourceHandle: source\n      target: '1777869471082'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: http-request\n        targetType: llm\n      id: 1777869471082--1777869507478-target\n      source: '1777869471082'\n      sourceHandle: source\n      target: '1777869507478'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: llm\n        targetType: end\n      id: 1777869507478--1777870530304-target\n      source: '1777869507478'\n      sourceHandle: source\n      target: '1777870530304'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    nodes:\n    - data:\n        desc: This node serves as the entry point where the DSL File (with .yml extension)\n          gets uploaded\n        selected: false\n        title: Input DSF File\n        type: start\n        variables:\n        - allowed_file_extensions:\n          - .yml\n          allowed_file_types:\n          - custom\n          allowed_file_upload_methods:\n          - local_file\n          - remote_url\n          label: DSL_File\n          max_length: 48\n          options: []\n          required: true\n          type: file\n          variable: DSL_File\n      height: 149\n      id: '1777868375007'\n      position:\n        x: 80\n        y: 282\n      positionAbsolute:\n        x: 80\n        y: 282\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        authorization:\n          config: null\n          type: no-auth\n        body:\n          data: []\n          type: none\n        desc: Performs a GET request to the provided URL to retrieve the raw text\n          body of the DSL file\n        headers: ''\n        method: get\n        params: ''\n        retry_config:\n          max_retries: 3\n          retry_enabled: true\n          retry_interval: 100\n        selected: false\n        ssl_verify: true\n        timeout:\n          max_connect_timeout: 0\n          max_read_timeout: 0\n          max_write_timeout: 0\n        title: HTTP - Fetch DSL Content\n        type: http-request\n        url: '{{#1777868375007.DSL_File.url#}}'\n        variables: []\n      height: 185\n      id: '1777869471082'\n      position:\n        x: 384\n        y: 282\n      positionAbsolute:\n        x: 384\n        y: 282\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        context:\n          enabled: false\n          variable_selector: []\n        desc: ''\n        model:\n          completion_params:\n            temperature: 0.7\n          mode: chat\n          name: gemini-2.5-pro\n          provider: langgenius/gemini/google\n        prompt_template:\n        - id: d60f11dc-0e4e-49a7-a85b-eb68d3de1060\n          role: system\n          text: \"Analyze the provided Dify DSL content (YML) and generate a comprehensive\\\n            \\ flow diagram using Mermaid syntax. \\n\\nAnalysis Requirements: Nodes:\\\n            \\ Identify every node. Use the title for display names. Node Types: Use\\\n            \\ [[Node Name]] for LLM nodes. Use {{Node Name}} for Condition/Router\\\n            \\ nodes. Use [(Node Name)] for Knowledge/Dataset nodes. Edges: Map all\\\n            \\ connections using -->. \\n\\nConditions: For Router/Condition nodes, label\\\n            \\ the paths (e.g., NodeA -->|Success| NodeB). \\nSubgraphs: Group nodes\\\n            \\ that belong to the same logical sub-flow or iteration if identifiable.\\n\\\n            \\nOutput Format: Provide a brief \\\"Flow Summary\\\" (2-3 sentences). Provide\\\n            \\ the Mermaid code block starting with graph TD. \\nStrict Rule: Ensure\\\n            \\ the Mermaid syntax is valid. Do not use special characters (like quotes\\\n            \\ or brackets) inside node IDs unless escaped.\"\n        - id: b4bba965-bc3b-46d2-80ac-aeaafa870d34\n          role: user\n          text: DSL File to be analysed {{#1777869471082.body#}}\n        - id: f9fd27a4-f094-48fd-a4a3-59798456e079\n          role: assistant\n          text: ''\n        selected: false\n        structured_output_enabled: true\n        title: LLM - DSL Logic Analyzer\n        type: llm\n        variables: []\n        vision:\n          configs:\n            detail: high\n            variable_selector:\n            - '1777869471082'\n            - files\n          enabled: false\n      height: 89\n      id: '1777869507478'\n      position:\n        x: 688\n        y: 282\n      positionAbsolute:\n        x: 688\n        y: 282\n      selected: true\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        desc: ''\n        outputs:\n        - value_selector:\n          - '1777869507478'\n          - text\n          value_type: string\n          variable: text\n        selected: false\n        title: End\n        type: end\n      height: 90\n      id: '1777870530304'\n      position:\n        x: 992\n        y: 282\n      positionAbsolute:\n        x: 992\n        y: 282\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    viewport:\n      x: 96\n      y: 44\n      zoom: 0.5\n"}
