dsl/Dummytest.yml
app:
  description: testing env
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: advanced-chat
  name: Dummy-test
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/gemini:0.7.4@5faf411e694e0da130a337347a625a3812b1b7502a0183382d66d92c841bf05a
kind: app
version: 0.3.1
workflow:
  conversation_variables:
  - description: ''
    id: 7f35626b-d29d-4c2d-a85e-37dca4bde908
    name: error_data
    selector:
    - conversation
    - error_data
    value:
      Automation Failure: "Verify processing results: \n 1. Download file and verify\
        \ contents. \n 2. If addition/deletion requested, check SPO registration application\
        \ form. \n 3. If not added, store in management batch or 'User Addition/Deletion\
        \ Application' folder and re-execute. Update the address field in the management\
        \ table."
      Checkbox Error: "Required fields are not checked. \n If a correction date is\
        \ entered for unchecked items, it is acceptable; share with buyer and manually\
        \ transfer data to management table and save the file. \n If both checkbox\
        \ and correction date are blank, request resubmission. Use the HTML draft\
        \ email 'Request for Resubmission of Confidential Information Management Confirmation\
        \ Form' and list deficiencies."
      Date Conflict: Users may mistakenly enter correction dates as the input date.
        If it is clear the user has confused the input date with the correction date,
        please accept the entry as is.
      Department Submission: Please submit one 'Confidential Information Management
        Confirmation Form' per company. If forms are submitted by department, please
        request that they be resubmitted as a single consolidated document covering
        the entire company.
      Formula Error: If an error occurs due to an incorrect formula in Question (2)
        of the FY2025 format, change the 'FALSE' in (2) to 'TRUE'. Have the client
        enter a checkmark (✓) or 'TRUE'. Power Automate will flag a checkmark as an
        error, so verify visually and transcribe into the management sheet.
      Inspection Request: "Follow procedure: \n 1. Coordinator confirms request. \n\
        \ 2. Coordinator places files in client’s SPO Request folder. \n 3. Indicate\
        \ request in Remarks (Column BN) of management table. \n 4. Move email to\
        \ 'Procurement_Reception' and share. \n 5. Notify when saved. Note: Log in\
        \ with 'Procurement_Reception' ID before uploading. Send Sample Email with\
        \ link to Attachment B3 and FAQ pdf."
      NDA Handling: This falls outside the scope of BPO. The buyer will need to coordinate
        directly with the business partner. Add a member of the Procurement Oversight
        Group to the CC and convey this to the buyer.
      NDA Protocol: Check the contract status with the Compliance Team. If no contract
        has been signed, they may be excluded from the scope; reconfirm with the buyer
        whether action is required.
      Save Error: "Manually store the file from the email body path. \n Locations:\
        \ Individual companies (Procurement Division Work Folder > 04_Confirmation\
        \ Document Storage), HISOL (Documents > 04_Confirmation Document Storage),\
        \ HSC (Documents > HSC Confidential Information Management > 04_Confirmation\
        \ Letter Storage). \n Naming: [Management Sheet No. (Column A)]_G&G_Confidential\
        \ Information Management Compliance Confirmation Letter.xlsx."
      Script Error: Failed in the Power Automate check section. Check the management
        sheet. If results are not reflected, download the file from the submission
        folder and store it in the '0000000001_For Management' folder. Open the file
        to verify contents. If a correction deadline is specified, share with the
        front-end buyer. Manually transcribe info into the management table and store
        the file.
      Security Verification: "Respond as follows: \n 1. Coordinator confirms request.\
        \ \n 2. Coordinator uploads 'Latest Version of Information Security Requirements\
        \ for Procurement Partners' to SPO Request Folder. \n 3. Move email to 'SPO\
        \ Request' folder and share. \n 4. Person in charge notifies upload completion.\
        \ Note: Use 'Procurement_Reception_Business ID' to upload."
      Submission Error: Check the submission folder for the relevant vendor. If the
        required .xlsx file is stored there, it is OK. If an error occurs even though
        the file is stored, download it and verify the matching code. If it is not
        the vendor’s matching code, request a resubmit in the correct format. If the
        file is missing, contact the client to resubmit in .xlsx format. If stored
        in PDF, manually transcribe and save per storage rules.
      Transcription Procedure: "\n 1. Transcribe contents: Unlock source columns N-AF\
        \ and copy to management table AS-BK. Enter '1' for completion flag. If source\
        \ is '✓', change to 'TRUE'. \n 2. Fill management table AP-AS: Client Response\
        \ Date, Response Incomplete (Yes/No), Transcription Date, Storage Date. \n\
        \ 3. Manually store file location/naming rules."
      Usage Error: In accordance with the client’s request, send 'Procedures for Inspecting
        Personally Owned PCs and Deleting Business Information.' Ensure the Confidentiality
        Management Confirmation Form is submitted only after deletion is complete.
        (2) must be submitted in its pre-deletion state; do not submit it appearing
        as if there were no initial issues.
      Visibility Issue: "\n STEP 1: Check Excel Update Status (Microsoft 365), Environment\
        \ (Windows Desktop version, not Online/Mac), and Display Settings (Options\
        \ > Object Display: All; Zoom 100%). \n STEP 2: If it fails, coordinator creates\
        \ a confirmation form for the version without checkboxes (G&G_Confidential\
        \ Information Management Confirmation Form_2025_listbox.xlsx) and notifies\
        \ the client."
      Write Failure: "Failed to copy files to the working folder. \n If via Power\
        \ Automate:Download the file from the submission folder and store it in the\
        \ '0000000001_Management' folder. \n If manual: Manually transcribe response\
        \ details into the management table and store the file Manually."
    value_type: object
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - document
      allowed_file_upload_methods:
      - local_file
      enabled: true
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 50
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 1
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: knowledge-retrieval
      id: 1775796563709-source-1777875075003-target
      source: '1775796563709'
      sourceHandle: source
      target: '1777875075003'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: 1777875075003-source-1777875091139-target
      source: '1777875075003'
      sourceHandle: source
      target: '1777875091139'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 1777875091139-source-1777875136427-target
      source: '1777875091139'
      sourceHandle: source
      target: '1777875136427'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: User Input
        type: start
        variables: []
      height: 53
      id: '1775796563709'
      position:
        x: 130.0327684700428
        y: 753.1792417918233
      positionAbsolute:
        x: 130.0327684700428
        y: 753.1792417918233
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        dataset_ids:
        - 37HU0qFSNKNJcJS1afRgR0snGen84dqIG20LjdqVEfGmoZqvxxJPu432BZJzby/h
        desc: ''
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: weighted_score
          reranking_model:
            model: ''
            provider: ''
          score_threshold: null
          top_k: 1
          weights:
            keyword_setting:
              keyword_weight: 0.3
            vector_setting:
              embedding_model_name: gemini-embedding-001
              embedding_provider_name: langgenius/gemini/google
              vector_weight: 0.7
        query_variable_selector:
        - '1775796563709'
        - sys.query
        retrieval_mode: multiple
        selected: false
        title: Knowledge Retrieval
        type: knowledge-retrieval
      height: 53
      id: '1777875075003'
      position:
        x: 434.0327684700428
        y: 753.1792417918233
      positionAbsolute:
        x: 434.0327684700428
        y: 753.1792417918233
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gemini-2.5-pro
          provider: langgenius/gemini/google
        prompt_template:
        - id: b5b3511e-9d9d-47a1-bcba-6d0310313841
          role: system
          text: 'Read the user query {{#sys.query#}}and context: {{#context#}}. And
            based on context provide the solution to the user.'
        selected: false
        title: LLM
        type: llm
        variables: []
        vision:
          enabled: false
      height: 89
      id: '1777875091139'
      position:
        x: 738.0327684700428
        y: 753.1792417918233
      positionAbsolute:
        x: 738.0327684700428
        y: 753.1792417918233
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '{{#1777875091139.text#}}'
        desc: ''
        selected: false
        title: Answer
        type: answer
        variables: []
      height: 104
      id: '1777875136427'
      position:
        x: 1042.0327684700428
        y: 753.1792417918233
      positionAbsolute:
        x: 1042.0327684700428
        y: 753.1792417918233
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: 59.21704254407541
      y: -314.0278207726619
      zoom: 0.7578582832552013
