dsl/excel_extractor_V3_WF.yml
{"data": "app:\n  description: extract required details from excel file.\n  icon: \ud83e\udd16\n  icon_background: '#FFEAD5'\n  mode: workflow\n  name: excel extractor V3 (WF)\n  use_icon_as_answer_icon: false\ndependencies:\n- current_identifier: null\n  type: marketplace\n  value:\n    marketplace_plugin_unique_identifier: langgenius/gemini:0.7.4@5faf411e694e0da130a337347a625a3812b1b7502a0183382d66d92c841bf05a\n- current_identifier: null\n  type: marketplace\n  value:\n    marketplace_plugin_unique_identifier: sawyer-shi/file_converter:0.0.2@2268454bf73a9aadbdb2c7576e1197ba1d479da1ce1950b48dafd3365d2f9615\nkind: app\nversion: 0.3.1\nworkflow:\n  conversation_variables: []\n  environment_variables:\n  - description: fall back message if sheet is not found\n    id: c86bb19d-5bc3-48f8-9aad-3695cc804df7\n    name: fall_back_message\n    selector:\n    - env\n    - fall_back_message\n    value: sheet not found\n    value_type: string\n  features:\n    file_upload:\n      allowed_file_extensions:\n      - .JPG\n      - .JPEG\n      - .PNG\n      - .GIF\n      - .WEBP\n      - .SVG\n      allowed_file_types:\n      - image\n      allowed_file_upload_methods:\n      - local_file\n      - remote_url\n      enabled: false\n      fileUploadConfig:\n        audio_file_size_limit: 50\n        batch_count_limit: 5\n        file_size_limit: 50\n        image_file_size_limit: 10\n        video_file_size_limit: 100\n        workflow_file_upload_limit: 10\n      image:\n        enabled: false\n        number_limits: 3\n        transfer_methods:\n        - local_file\n        - remote_url\n      number_limits: 3\n    opening_statement: ''\n    retriever_resource:\n      enabled: true\n    sensitive_word_avoidance:\n      enabled: false\n    speech_to_text:\n      enabled: false\n    suggested_questions: []\n    suggested_questions_after_answer:\n      enabled: false\n    text_to_speech:\n      enabled: false\n      language: ''\n      voice: ''\n  graph:\n    edges:\n    - data:\n        isInLoop: false\n        sourceType: list-operator\n        targetType: document-extractor\n      id: 1776155619214-source-1776158967276-target\n      selected: false\n      source: '1776155619214'\n      sourceHandle: source\n      target: '1776158967276'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: if-else\n        targetType: end\n      id: 1776247459644-true-1776247527015-target\n      source: '1776247459644'\n      sourceHandle: 'true'\n      target: '1776247527015'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInLoop: false\n        sourceType: if-else\n        targetType: tool\n      id: 1776247459644-false-1776161188600-target\n      source: '1776247459644'\n      sourceHandle: 'false'\n      target: '1776161188600'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: tool\n        targetType: code\n      id: 1776161188600-source-1776249025771-target\n      source: '1776161188600'\n      sourceHandle: source\n      target: '1776249025771'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: code\n        targetType: if-else\n      id: 1776249025771-source-1776249609583-target\n      source: '1776249025771'\n      sourceHandle: source\n      target: '1776249609583'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInLoop: false\n        sourceType: if-else\n        targetType: list-operator\n      id: 1776249609583-true-1776155619214-target\n      source: '1776249609583'\n      sourceHandle: 'true'\n      target: '1776155619214'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: if-else\n        targetType: end\n      id: 1776249609583-false-1776249687665-target\n      source: '1776249609583'\n      sourceHandle: 'false'\n      target: '1776249687665'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInLoop: false\n        sourceType: document-extractor\n        targetType: llm\n      id: 1776158967276-source-1776162110411-target\n      source: '1776158967276'\n      sourceHandle: source\n      target: '1776162110411'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: start\n        targetType: code\n      id: 1776117453924-source-1776285834699-target\n      source: '1776117453924'\n      sourceHandle: source\n      target: '1776285834699'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: code\n        targetType: code\n      id: 1776285834699-source-1777289909903-target\n      source: '1776285834699'\n      sourceHandle: source\n      target: '1777289909903'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInLoop: false\n        sourceType: code\n        targetType: if-else\n      id: 1777289909903-source-1776247459644-target\n      source: '1777289909903'\n      sourceHandle: source\n      target: '1776247459644'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: llm\n        targetType: code\n      id: 1776162110411-source-1777361376042-target\n      source: '1776162110411'\n      sourceHandle: source\n      target: '1777361376042'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: code\n        targetType: end\n      id: 1777361376042-source-1776117489427-target\n      source: '1777361376042'\n      sourceHandle: source\n      target: '1776117489427'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    nodes:\n    - data:\n        desc: ''\n        selected: true\n        title: Start\n        type: start\n        variables:\n        - allowed_file_extensions: []\n          allowed_file_types:\n          - document\n          allowed_file_upload_methods:\n          - local_file\n          - remote_url\n          label: xl_file\n          max_length: 5\n          options: []\n          required: true\n          type: file-list\n          variable: xl_file\n        - label: sheet_name\n          max_length: 256\n          options: []\n          required: true\n          type: text-input\n          variable: sheet_name\n        - label: list_of_column\n          max_length: 1000\n          options: []\n          required: true\n          type: paragraph\n          variable: list_of_column\n        - label: number_of_rows\n          max_length: 48\n          options: []\n          required: true\n          type: number\n          variable: number_of_rows\n        - label: lang\n          max_length: 48\n          options: []\n          required: true\n          type: text-input\n          variable: lang\n        - label: max_file_size\n          max_length: 48\n          options: []\n          required: true\n          type: number\n          variable: max_file_size\n      height: 219\n      id: '1776117453924'\n      position:\n        x: -876.6296724735505\n        y: -1264.9180836792034\n      positionAbsolute:\n        x: -876.6296724735505\n        y: -1264.9180836792034\n      selected: true\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        desc: ''\n        outputs:\n        - value_selector:\n          - '1777361376042'\n          - result\n          value_type: string\n          variable: text\n        - value_selector:\n          - '1777361376042'\n          - is_error\n          value_type: string\n          variable: error\n        selected: false\n        title: End\n        type: end\n      height: 116\n      id: '1776117489427'\n      position:\n        x: 2446.660110477635\n        y: -1153.4149228101176\n      positionAbsolute:\n        x: 2446.660110477635\n        y: -1153.4149228101176\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        desc: ''\n        extract_by:\n          enabled: false\n          serial: '2'\n        filter_by:\n          conditions:\n          - comparison_operator: is\n            key: name\n            value: '{{#1777289909903.new_filename#}}'\n          enabled: true\n        item_var_type: file\n        limit:\n          enabled: false\n          size: 10\n        order_by:\n          enabled: false\n          key: ''\n          value: asc\n        selected: false\n        title: List Operator\n        type: list-operator\n        var_type: array[file]\n        variable:\n        - '1776161188600'\n        - files\n      height: 94\n      id: '1776155619214'\n      position:\n        x: 1337.417720119142\n        y: -1153.4149228101176\n      positionAbsolute:\n        x: 1337.417720119142\n        y: -1153.4149228101176\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        desc: ''\n        is_array_file: true\n        selected: false\n        title: Doc Extractor\n        type: document-extractor\n        variable_selector:\n        - '1776155619214'\n        - result\n      height: 94\n      id: '1776158967276'\n      position:\n        x: 1615.8755959310827\n        y: -1153.4149228101176\n      positionAbsolute:\n        x: 1615.8755959310827\n        y: -1153.4149228101176\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        desc: ''\n        is_team_authorization: true\n        output_schema: null\n        paramSchemas:\n        - auto_generate: null\n          default: null\n          form: llm\n          human_description:\n            en_US: Upload the Excel file you want to convert to CSV format\n            ja_JP: Upload the Excel file you want to convert to CSV format\n            pt_BR: Upload the Excel file you want to convert to CSV format\n            zh_Hans: \u4e0a\u4f20\u60a8\u60f3\u8981\u8f6c\u6362\u4e3aCSV\u683c\u5f0f\u7684Excel\u6587\u4ef6\n          label:\n            en_US: Input Excel File\n            ja_JP: Input Excel File\n            pt_BR: Input Excel File\n            zh_Hans: \u8f93\u5165Excel\u6587\u4ef6\n          llm_description: ''\n          max: null\n          min: null\n          name: input_file\n          options: []\n          placeholder: null\n          precision: null\n          required: true\n          scope: null\n          template: null\n          type: file\n        params:\n          input_file: ''\n        provider_id: sawyer-shi/file_converter/file_converter\n        provider_name: sawyer-shi/file_converter/file_converter\n        provider_type: builtin\n        selected: false\n        title: Excel to CSV Converter\n        tool_configurations: {}\n        tool_description: Convert Excel (.xlsx, .xls) files to CSV format. Each worksheet\n          will be converted to a separate CSV file with automatic filename sanitization.\n        tool_label: Excel to CSV Converter\n        tool_name: excel_2_csv\n        tool_node_version: '2'\n        tool_parameters:\n          input_file:\n            type: variable\n            value:\n            - '1776117453924'\n            - xl_file\n        type: tool\n      height: 53\n      id: '1776161188600'\n      position:\n        x: 497.9322241082233\n        y: -1183.9253850568507\n      positionAbsolute:\n        x: 497.9322241082233\n        y: -1183.9253850568507\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        context:\n          enabled: true\n          variable_selector:\n          - '1776158967276'\n          - text\n        desc: ''\n        model:\n          completion_params:\n            temperature: 0.8\n          mode: chat\n          name: gemini-2.5-pro\n          provider: langgenius/gemini/google\n        prompt_template:\n        - id: 6c9a1efa-e4bf-4a4c-a2bd-676ba0b0e1b7\n          role: system\n          text: \"### ROLE\\nNote : strict Note: You are a Precise Data Extractor. Output\\\n            \\ only pure dictionary i will pass the output to python code and i will\\\n            \\ use eval() or dict() to convert into python dictionary i wll use it\\\n            \\ in code, nothing else.\\n\\n### INPUTS\\n- File Content: {{#context#}}\\n\\\n            - Columns to Extract: {{#1776117453924.list_of_column#}}\\n- Number of\\\n            \\ Rows: {{#1776117453924.number_of_rows#}}   (if not specified or empty,\\\n            \\ extract all)\\n\\n### EXTRACTION RULES\\n- Skip any row where ALL requested\\\n            \\ columns are empty or \\\"0\\\".\\n- Empty cells must be returned as \\\"\\\"\\\n            \\ (empty string). Never use \\\"N/A\\\", \\\"None\\\", or any text.\\n- Extract\\\n            \\ only the exact columns specified.\\n\\n### TASK\\nExtract the data and\\\n            \\ return it strictly in this dictionary format strictly Note: no backslash,\\\n            \\ no markdown, only key value pairs:\\nexample dictionary below i will\\\n            \\ pass this to python code directoy and i will use eval():\\n{ \\\"data\\\"\\\n            : [{\\\"Column Name 1\\\": \\\"value1\\\",\\\"Column Name 2\\\": \\\"value2\\\"}]}\\n\\n\\\n            ### CONSTRAINTS\\n- Return ONLY dictionary. No markdown, no code blocks,\\\n            \\ no explanations, no extra text. \\n- If no data is found or File Content\\\n            \\ is empty, return exactly: {\\\"error\\\": \\\"Data Not Found\\\"}\\n- Use exact\\\n            \\ column names as they appear in the header (case sensitive).\\n- Respect\\\n            \\ the Number of Rows if specified.\\n- if any column having date strcly\\\n            \\ the value should be date only, should not include time inside of it.\\n\\\n            Now extract the data.\"\n        - id: 31e06cf2-129b-4b4a-a955-717535d55d6f\n          role: user\n          text: you are an helpful assistant\n        selected: false\n        title: LLM\n        type: llm\n        variables: []\n        vision:\n          enabled: false\n      height: 89\n      id: '1776162110411'\n      position:\n        x: 1893.1839201816788\n        y: -1153.4149228101176\n      positionAbsolute:\n        x: 1893.1839201816788\n        y: -1153.4149228101176\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        cases:\n        - case_id: 'true'\n          conditions:\n          - comparison_operator: is\n            id: b62aed20-54aa-4815-8af5-433f893b5ded\n            value: 'false'\n            varType: string\n            variable_selector:\n            - '1777289909903'\n            - valid\n          id: 'true'\n          logical_operator: and\n        desc: ''\n        selected: false\n        title: IF/ELSE\n        type: if-else\n      height: 125\n      id: '1776247459644'\n      position:\n        x: -47.94828468105027\n        y: -1264.9180836792034\n      positionAbsolute:\n        x: -47.94828468105027\n        y: -1264.9180836792034\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        desc: ''\n        outputs:\n        - value_selector:\n          - '1777289909903'\n          - result\n          value_type: string\n          variable: result\n        - value_selector:\n          - '1777289909903'\n          - is_error\n          value_type: string\n          variable: is_error\n        selected: false\n        title: End 2\n        type: end\n      height: 116\n      id: '1776247527015'\n      position:\n        x: 229.25540837889287\n        y: -1312.4962697979392\n      positionAbsolute:\n        x: 229.25540837889287\n        y: -1312.4962697979392\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        code: \"def main(sheet_data: dict, new_filename: str,sheet_name: str, lang:\\\n          \\ str):\\n    # Ensure we are looking at the 'files' list\\n    # We check\\\n          \\ if arg1 is actually the list itself or the parent dict\\n    if isinstance(sheet_data,\\\n          \\ list):\\n        files_list = sheet_data\\n    else:\\n        files_list\\\n          \\ = sheet_data.get(\\\"files\\\", [])\\n    fall_back_message = sheet_name +\\\n          \\ (\\\" Not existed\\\" if lang.lower() == \\\"en\\\" else \\\" \u63d0\u4f9b\u3055\u308c\u305fExcel\u306b\u306f\u5b58\u5728\u3057\u307e\u305b\u3093\u3067\u3057\u305f\u3002\\\"\\\n          )\\n    target_filename = new_filename.strip()\\n    \\n    # Check if any\\\n          \\ file matches the target name\\n    # Added a .strip() to handle potential\\\n          \\ whitespace issues in filenames\\n    found_file = next(\\n        (f for\\\n          \\ f in files_list if isinstance(f, dict) and f.get(\\\"filename\\\") == target_filename),\\\n          \\ \\n        None\\n    )\\n\\n    file_exists = found_file is None\\n\\n    return\\\n          \\ {\\n        \\\"exists\\\": str(file_exists).lower(),\\n        \\\"found_filename\\\"\\\n          : found_file.get(\\\"filename\\\") if found_file else fall_back_message,\\n \\\n          \\       \\\"file_url\\\": str(found_file.get(\\\"url\\\")) if found_file else \\\"\\\n          None\\\",\\n        \\\"error\\\" : found_file.get(\\\"filename\\\") if found_file\\\n          \\ else fall_back_message,\\n        \\\"sheet_name\\\" : sheet_name\\n    }\"\n        code_language: python3\n        desc: ''\n        outputs:\n          error:\n            children: null\n            type: string\n          exists:\n            children: null\n            type: string\n          file_url:\n            children: null\n            type: string\n          found_filename:\n            children: null\n            type: string\n          sheet_name:\n            children: null\n            type: string\n        selected: false\n        title: sheet validator\n        type: code\n        variables:\n        - value_selector:\n          - '1776161188600'\n          - files\n          value_type: array[file]\n          variable: sheet_data\n        - value_selector:\n          - '1777289909903'\n          - new_filename\n          value_type: string\n          variable: new_filename\n        - value_selector:\n          - '1776117453924'\n          - sheet_name\n          value_type: string\n          variable: sheet_name\n        - value_selector:\n          - '1776117453924'\n          - lang\n          value_type: string\n          variable: lang\n      height: 53\n      id: '1776249025771'\n      position:\n        x: 776.9369972500203\n        y: -1183.9253850568507\n      positionAbsolute:\n        x: 776.9369972500203\n        y: -1183.9253850568507\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        cases:\n        - case_id: 'true'\n          conditions:\n          - comparison_operator: is\n            id: 1b6ed187-ef7f-4b87-8ac2-661d7bd63c7b\n            value: 'false'\n            varType: string\n            variable_selector:\n            - '1776249025771'\n            - exists\n          id: 'true'\n          logical_operator: and\n        desc: ''\n        selected: false\n        title: IF/ELSE 2\n        type: if-else\n      height: 125\n      id: '1776249609583'\n      position:\n        x: 1055.5013322235372\n        y: -1183.9253850568507\n      positionAbsolute:\n        x: 1055.5013322235372\n        y: -1183.9253850568507\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        desc: ''\n        outputs:\n        - value_selector:\n          - '1776249025771'\n          - error\n          value_type: string\n          variable: result\n        - value_selector:\n          - '1776249025771'\n          - exists\n          value_type: string\n          variable: is_error\n        selected: false\n        title: End 3\n        type: end\n      height: 116\n      id: '1776249687665'\n      position:\n        x: 1337.417720119142\n        y: -1031.0130410567906\n      positionAbsolute:\n        x: 1337.417720119142\n        y: -1031.0130410567906\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        code: \"def main():\\n    return {\\n        \\\"static_dict\\\": {\\n           \\\n          \\ \\\"upload_file_message\\\": {\\n                \\\"en\\\": \\\"File is Missing\\\"\\\n          ,\\n                \\\"jp\\\": \\\"\u30d5\u30a1\u30a4\u30eb\u304c\u898b\u3064\u304b\u308a\u307e\u305b\u3093\\\"\\n            },\\n          \\\n          \\  \\\"upload_file_size_error_message\\\": {\\n                \\\"en\\\": \\\"please\\\n          \\ provide a file less than 10mb\\\",\\n                \\\"jp\\\": \\\"10MB\u672a\u6e80\u306e\u30d5\u30a1\u30a4\u30eb\u3092\u63d0\u4f9b\u3057\u3066\u304f\u3060\u3055\u3044\\\"\\\n          \\n            },\\n            \\\"upload_file_type_error_message\\\": {\\n  \\\n          \\              \\\"en\\\": \\\"Please Provide Excel File\\\",\\n                \\\"\\\n          jp\\\": \\\"Excel\u30d5\u30a1\u30a4\u30eb\u3092\u63d0\u4f9b\u3057\u3066\u304f\u3060\u3055\u3044\\\"\\n            },\\n            \\\"upload_invalid_language_message\\\"\\\n          : {\\n                \\\"en\\\": \\\"Please select language en or jp. \u8a00\u8a9e\u306f en \u307e\u305f\u306f\\\n          \\ jp \u3092\u9078\u629e\u3057\u3066\u304f\u3060\u3055\u3044\\\",\\n                \\\"jp\\\": \\\"\u8a00\u8a9e\u306f en \u307e\u305f\u306f jp \u3092\u9078\u629e\u3057\u3066\u304f\u3060\u3055\u3044\\\"\\n\\\n          \\            },\\n            \\\"file_not_exist_message\\\": {\\n           \\\n          \\     \\\"en\\\": \\\"Not existed\\\",\\n                \\\"jp\\\": \\\"\u63d0\u4f9b\u3055\u308c\u305fExcel\u306b\u306f\u5b58\u5728\u3057\u307e\u305b\u3093\u3067\u3057\u305f\u3002\\\"\\\n          \\n            }\\n        }\\n    }\"\n        code_language: python3\n        desc: ''\n        outputs:\n          static_dict:\n            children: null\n            type: object\n        selected: false\n        title: static_data_variable\n        type: code\n        variables: []\n      height: 53\n      id: '1776285834699'\n      position:\n        x: -590.3908284291667\n        y: -1264.9180836792034\n      positionAbsolute:\n        x: -590.3908284291667\n        y: -1264.9180836792034\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        code: \"def main(xl_file: list, sheet_name: str, lang: str, static_data: dict,\\\n          \\ max_file_size: int) -> dict:\\n    # 1. Constants & Input Normalization\\n\\\n          \\    MAX_SIZE = max_file_size * 1024 * 1024\\n    lang = lang.lower().strip()\\n\\\n          \\    \\n    # Template for error responses to avoid repetition\\n    def error_res(msg,\\\n          \\ filename=None):\\n        return {\\n            \\\"valid\\\": \\\"false\\\",\\n\\\n          \\            \\\"result\\\": msg,\\n            \\\"new_filename\\\": \\\"None\\\",\\n\\\n          \\            \\\"file_name\\\": filename,\\n            \\\"is_error\\\":\\\"true\\\"\\\n          \\n        }\\n\\n    # 2. Language Validation\\n    # Use 'get' to safely check\\\n          \\ if the language exists in the static_data keys\\n    if lang not in static_data.get(\\\"\\\n          upload_invalid_language_message\\\", {}):\\n        # Fallback to English for\\\n          \\ the error message itself\\n        err = static_data[\\\"upload_invalid_language_message\\\"\\\n          ].get(\\\"en\\\", \\\"Invalid Language\\\")\\n        return error_res(err)\\n\\n \\\n          \\   # 3. File Presence Check\\n    if not xl_file:\\n        return error_res(static_data[\\\"\\\n          upload_file_message\\\"][lang])\\n\\n    file_obj = xl_file[0]\\n    # Use .get()\\\n          \\ with a single fallback chain\\n    original = file_obj.get(\\\"filename\\\"\\\n          ) or file_obj.get(\\\"name\\\") or \\\"unknown.xlsx\\\"\\n    \\n    # 4. File Type\\\n          \\ Validation\\n    # Sets provide O(1) lookup time\\n    if file_obj.get(\\\"\\\n          extension\\\", \\\"\\\").lower() not in {\\\".xlsx\\\", \\\".xls\\\"}:\\n        return\\\n          \\ error_res(static_data[\\\"upload_file_type_error_message\\\"][lang], original)\\n\\\n          \\n    # 5. File Size Validation\\n    if file_obj.get(\\\"size\\\", 0) > MAX_SIZE:\\n\\\n          \\        return error_res(static_data[\\\"upload_file_size_error_message\\\"\\\n          ][lang], original)\\n\\n    # 6. Success Logic\\n    # Optimized string splitting\\\n          \\ and naming\\n    base_name = original.rsplit(\\\".\\\", 1)[0]\\n    new_filename\\\n          \\ = f\\\"{base_name}_{sheet_name.strip()}.csv\\\"\\n\\n    return {\\n        \\\"\\\n          valid\\\": \\\"true\\\",\\n        \\\"result\\\": \\\"None\\\",\\n        \\\"new_filename\\\"\\\n          : new_filename,\\n        \\\"file_name\\\": original,\\n        \\\"is_error\\\"\\\n          : \\\"false\\\"\\n    }\"\n        code_language: python3\n        desc: ''\n        outputs:\n          file_name:\n            children: null\n            type: string\n          is_error:\n            children: null\n            type: string\n          new_filename:\n            children: null\n            type: string\n          result:\n            children: null\n            type: string\n          valid:\n            children: null\n            type: string\n        selected: false\n        title: File_name_extractor\n        type: code\n        variables:\n        - value_selector:\n          - '1776117453924'\n          - xl_file\n          value_type: array[file]\n          variable: xl_file\n        - value_selector:\n          - '1776117453924'\n          - sheet_name\n          value_type: string\n          variable: sheet_name\n        - value_selector:\n          - '1776117453924'\n          - lang\n          value_type: string\n          variable: lang\n        - value_selector:\n          - '1776285834699'\n          - static_dict\n          value_type: object\n          variable: static_data\n        - value_selector:\n          - '1776117453924'\n          - max_file_size\n          value_type: number\n          variable: max_file_size\n      height: 53\n      id: '1777289909903'\n      position:\n        x: -317.3736330047658\n        y: -1264.9180836792034\n      positionAbsolute:\n        x: -317.3736330047658\n        y: -1264.9180836792034\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        code: \"def main(extracted_file: str) -> dict:\\n    return {\\n        \\\"result\\\"\\\n          : str(extracted_file.replace('\\\"', \\\"\\\")),\\n        \\\"is_error\\\" : \\\"false\\\"\\\n          \\n    }\"\n        code_language: python3\n        desc: ''\n        outputs:\n          is_error:\n            children: null\n            type: string\n          result:\n            children: null\n            type: string\n        selected: false\n        title: string converter\n        type: code\n        variables:\n        - value_selector:\n          - '1776162110411'\n          - text\n          value_type: string\n          variable: extracted_file\n      height: 53\n      id: '1777361376042'\n      position:\n        x: 2170.449203537003\n        y: -1153.4149228101176\n      positionAbsolute:\n        x: 2170.449203537003\n        y: -1153.4149228101176\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    viewport:\n      x: 453.1270140553495\n      y: 699.7005220810033\n      zoom: 0.47830407904593725\n"}
