dsl/Export_file.yml
{"data": "app:\n  description: ''\n  icon: \ud83e\udd16\n  icon_background: '#FFEAD5'\n  mode: workflow\n  name: Export_file\n  use_icon_as_answer_icon: false\ndependencies: []\nkind: app\nversion: 0.3.1\nworkflow:\n  conversation_variables: []\n  environment_variables: []\n  features:\n    file_upload:\n      allowed_file_extensions:\n      - .JPG\n      - .JPEG\n      - .PNG\n      - .GIF\n      - .WEBP\n      - .SVG\n      allowed_file_types:\n      - image\n      allowed_file_upload_methods:\n      - local_file\n      - remote_url\n      enabled: false\n      fileUploadConfig:\n        audio_file_size_limit: 50\n        batch_count_limit: 5\n        file_size_limit: 50\n        image_file_size_limit: 10\n        video_file_size_limit: 100\n        workflow_file_upload_limit: 10\n      image:\n        enabled: false\n        number_limits: 3\n        transfer_methods:\n        - local_file\n        - remote_url\n      number_limits: 3\n    opening_statement: ''\n    retriever_resource:\n      enabled: true\n    sensitive_word_avoidance:\n      enabled: false\n    speech_to_text:\n      enabled: false\n    suggested_questions: []\n    suggested_questions_after_answer:\n      enabled: false\n    text_to_speech:\n      enabled: false\n      language: ''\n      voice: ''\n  graph:\n    edges:\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: start\n        targetType: code\n      id: 1777440360645-source-1777440364826-target\n      source: '1777440360645'\n      sourceHandle: source\n      target: '1777440364826'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInLoop: false\n        sourceType: code\n        targetType: end\n      id: 1777440364826-source-1777440727307-target\n      source: '1777440364826'\n      sourceHandle: source\n      target: '1777440727307'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    nodes:\n    - data:\n        desc: ''\n        selected: false\n        title: Start\n        type: start\n        variables: []\n      height: 53\n      id: '1777440360645'\n      position:\n        x: 80\n        y: 282\n      positionAbsolute:\n        x: 80\n        y: 282\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        code: \"import json\\n\\ndef main():\\n    CRON_CONFIG = {\\n        \\\"schedules\\\"\\\n          : [\\n            {\\\"expression\\\": \\\"0 2 * * *\\\", \\\"label\\\": \\\"nightly_02_utc\\\"\\\n          },\\n            {\\\"expression\\\": \\\"0 14 * * *\\\", \\\"label\\\": \\\"afternoon_14_utc\\\"\\\n          },\\n        ],\\n        \\\"timezone\\\": \\\"UTC\\\",\\n        \\\"max_retries\\\"\\\n          : 3,\\n        \\\"retry_delay_seconds\\\": 60,\\n        \\\"timeout_seconds\\\"\\\n          : 120,\\n        \\\"notify_on_failure\\\": True,\\n        \\\"skip_if_no_change\\\"\\\n          : True,\\n    }\\n\\n    cron_config_json = json.dumps(CRON_CONFIG, indent=2)\\n\\\n          \\    schedule_count = len(CRON_CONFIG[\\\"schedules\\\"])\\n    schedule_labels\\\n          \\ = \\\", \\\".join(s[\\\"label\\\"] for s in CRON_CONFIG[\\\"schedules\\\"])\\n    schedule_exprs\\\n          \\ = \\\", \\\".join(s[\\\"expression\\\"] for s in CRON_CONFIG[\\\"schedules\\\"])\\n\\\n          \\n    return {\\n        \\\"cron_config_json\\\": cron_config_json,\\n      \\\n          \\  \\\"schedule_count\\\": schedule_count,\\n        \\\"schedule_labels\\\": schedule_labels,\\n\\\n          \\        \\\"schedule_exprs\\\": schedule_exprs\\n    }\"\n        code_language: python3\n        desc: ''\n        outputs:\n          cron_config_json:\n            children: null\n            type: string\n          schedule_count:\n            children: null\n            type: number\n          schedule_exprs:\n            children: null\n            type: string\n          schedule_labels:\n            children: null\n            type: string\n        selected: false\n        title: Code\n        type: code\n        variables: []\n      height: 53\n      id: '1777440364826'\n      position:\n        x: 384\n        y: 282\n      positionAbsolute:\n        x: 384\n        y: 282\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        desc: ''\n        outputs:\n        - value_selector:\n          - '1777440364826'\n          - cron_config_json\n          value_type: string\n          variable: cron_config_json\n        - value_selector:\n          - '1777440364826'\n          - schedule_count\n          value_type: number\n          variable: schedule_count\n        selected: false\n        title: End\n        type: end\n      height: 116\n      id: '1777440727307'\n      position:\n        x: 790\n        y: 282\n      positionAbsolute:\n        x: 790\n        y: 282\n      selected: true\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    viewport:\n      x: -33\n      y: -122.5\n      zoom: 1\n"}
