dsl/extractheaderinfo.yml
{"data": "app:\n  description: Reads the Form 03 from Travel expense- and extracts the key header\n    data.\n  icon: \ud83e\udd16\n  icon_background: '#FFEAD5'\n  mode: workflow\n  name: extract-header-info\n  use_icon_as_answer_icon: false\ndependencies: []\nkind: app\nversion: 0.3.1\nworkflow:\n  conversation_variables: []\n  environment_variables: []\n  features:\n    file_upload:\n      allowed_file_extensions:\n      - .JPG\n      - .JPEG\n      - .PNG\n      - .GIF\n      - .WEBP\n      - .SVG\n      allowed_file_types:\n      - image\n      allowed_file_upload_methods:\n      - local_file\n      - remote_url\n      enabled: false\n      fileUploadConfig:\n        audio_file_size_limit: 50\n        batch_count_limit: 5\n        file_size_limit: 50\n        image_file_size_limit: 10\n        video_file_size_limit: 100\n        workflow_file_upload_limit: 10\n      image:\n        enabled: false\n        number_limits: 3\n        transfer_methods:\n        - local_file\n        - remote_url\n      number_limits: 3\n    opening_statement: ''\n    retriever_resource:\n      enabled: true\n    sensitive_word_avoidance:\n      enabled: false\n    speech_to_text:\n      enabled: false\n    suggested_questions: []\n    suggested_questions_after_answer:\n      enabled: false\n    text_to_speech:\n      enabled: false\n      language: ''\n      voice: ''\n  graph:\n    edges:\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: start\n        targetType: code\n      id: 1777889705719-source-1777889721608-target\n      source: '1777889705719'\n      sourceHandle: source\n      target: '1777889721608'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: code\n        targetType: end\n      id: 1777889721608--1777892319249-target\n      source: '1777889721608'\n      sourceHandle: source\n      target: '1777892319249'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    nodes:\n    - data:\n        desc: ''\n        selected: false\n        title: Start\n        type: start\n        variables: []\n      height: 53\n      id: '1777889705719'\n      position:\n        x: 80\n        y: 282\n      positionAbsolute:\n        x: 80\n        y: 282\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        code: \"import pandas as pd\\nimport io\\n\\ndef main(file: bytes) -> dict:\\n\\\n          \\    df = pd.read_excel(io.BytesIO(file), sheet_name=\\\"Form 3\\\", header=None)\\n\\\n          \\    \\n    date, supplier_name, supplier_code = \\\"\\\", \\\"\\\", \\\"\\\"\\n    \\n\\\n          \\    for idx, row in df.iterrows():\\n        row_str = row.astype(str).values\\n\\\n          \\        if \\\"Date\\\" in row_str:\\n            date = df.iloc[idx, 1]\\n \\\n          \\       if \\\"Supplier\\\" in row_str and \\\"Name\\\" in row_str:\\n          \\\n          \\  supplier_name = df.iloc[idx, 1]\\n        if \\\"Supplier Code\\\" in row_str:\\n\\\n          \\            supplier_code = df.iloc[idx, 1]\\n\\n    return {\\\"header_data\\\"\\\n          : {\\\"date\\\": date, \\\"supplier_name\\\": supplier_name, \\\"supplier_code\\\":\\\n          \\ supplier_code}}\"\n        code_language: python3\n        desc: ''\n        outputs:\n          header_data:\n            children: null\n            type: object\n        selected: false\n        title: Code\n        type: code\n        variables:\n        - value_selector:\n          - sys\n          - files\n          value_type: array[file]\n          variable: file\n      height: 53\n      id: '1777889721608'\n      position:\n        x: 384\n        y: 282\n      positionAbsolute:\n        x: 384\n        y: 282\n      selected: true\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        desc: ''\n        outputs:\n        - value_selector:\n          - '1777889721608'\n          - header_data\n          value_type: object\n          variable: result\n        selected: false\n        title: End\n        type: end\n      height: 90\n      id: '1777892319249'\n      position:\n        x: 688\n        y: 282\n      positionAbsolute:\n        x: 688\n        y: 282\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    viewport:\n      x: 64.73659127798737\n      y: 17.108956266325237\n      zoom: 0.9075191553171609\n"}
