dsl/Extract_Approved_Suppliers.yml
{"data": "app:\n  description: ''\n  icon: \ud83e\udd16\n  icon_background: '#FFEAD5'\n  mode: workflow\n  name: Extract_Approved_Suppliers\n  use_icon_as_answer_icon: false\ndependencies: []\nkind: app\nversion: 0.3.1\nworkflow:\n  conversation_variables: []\n  environment_variables: []\n  features:\n    file_upload:\n      allowed_file_extensions:\n      - .JPG\n      - .JPEG\n      - .PNG\n      - .GIF\n      - .WEBP\n      - .SVG\n      allowed_file_types:\n      - image\n      allowed_file_upload_methods:\n      - local_file\n      - remote_url\n      enabled: false\n      fileUploadConfig:\n        audio_file_size_limit: 50\n        batch_count_limit: 5\n        file_size_limit: 50\n        image_file_size_limit: 10\n        video_file_size_limit: 100\n        workflow_file_upload_limit: 10\n      image:\n        enabled: false\n        number_limits: 3\n        transfer_methods:\n        - local_file\n        - remote_url\n      number_limits: 3\n    opening_statement: ''\n    retriever_resource:\n      enabled: true\n    sensitive_word_avoidance:\n      enabled: false\n    speech_to_text:\n      enabled: false\n    suggested_questions: []\n    suggested_questions_after_answer:\n      enabled: false\n    text_to_speech:\n      enabled: false\n      language: ''\n      voice: ''\n  graph:\n    edges:\n    - data:\n        isInLoop: false\n        sourceType: start\n        targetType: code\n      id: 1777545549715-source-1777545670217-target\n      source: '1777545549715'\n      sourceHandle: source\n      target: '1777545670217'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: code\n        targetType: end\n      id: 1777545670217-source-1777548155872-target\n      source: '1777545670217'\n      sourceHandle: source\n      target: '1777548155872'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    nodes:\n    - data:\n        desc: ''\n        selected: false\n        title: Start\n        type: start\n        variables:\n        - allowed_file_extensions: []\n          allowed_file_types:\n          - document\n          allowed_file_upload_methods:\n          - local_file\n          - remote_url\n          label: pms_file\n          max_length: 5\n          options:\n          - ''\n          required: true\n          type: file-list\n          variable: pms_file\n      height: 89\n      id: '1777545549715'\n      position:\n        x: 67.14285714285717\n        y: 200.21428571428572\n      positionAbsolute:\n        x: 67.14285714285717\n        y: 200.21428571428572\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        code: \"import pandas as pd\\nimport io\\n\\ndef main(file_bytes: bytes) -> dict:\\n\\\n          \\    try:\\n        df_raw = pd.read_excel(io.BytesIO(file_bytes), sheet_name=0,\\\n          \\ header=None)\\n    except Exception as e:\\n        return {\\\"suppliers\\\"\\\n          : [], \\\"message\\\": f\\\"Error reading file: {str(e)}\\\"}\\n\\n    # ==================\\\n          \\ CONFIGURATION ==================\\n    # Fixed columns (index-display name)\\\n          \\ - adjust if there are any changes in PMS right now it will be always static\\n\\\n          \\    FIXED_COLUMNS = {\\n        2: \\\"Company Category\\\",\\n        4: \\\"\\\n          Supplier / Business Partner Name\\\",\\n        6: \\\"Buyer\\\",\\n        19:\\\n          \\ \\\"Supplier / Business Partner Quote Amount (K$)\\\",\\n        31: \\\"TBL\\\n          \\ Unit Price Level\\\",\\n        37: \\\"Comments on TBL Negotiation Status\\\"\\\n          \\n    }\\n    # Status columns (index-display name) \u2013 used only for filtering\\n\\\n          \\    STATUS_COLUMNS = {\\n        40: \\\"Quotation Calculation Sheet Form\\\n          \\ 2 Status\\\",\\n        42: \\\"Unit Price Revision Sheet (short form) Status\\\"\\\n          ,\\n        44: \\\"Business Travel & Various Allowance Quotation Sheet Status\\\"\\\n          ,\\n        46: \\\"Travel Expenses (general) Regulations Status\\\",\\n    }\\n\\\n          \\    # Approved values (case\u2011insensitive)\\n    APPROVED_VALUES = [\\\"\u683c\u7d0d\u6e08\\\"\\\n          , \\\"Approved\\\", \\\"Stored\\\", \\\"Registered\\\"]\\n    # ==================================================\\n\\\n          \\n    def is_approved(value):\\n        s = str(value).strip()\\n        if\\\n          \\ not s or s == 'nan':\\n            return False\\n        return s in APPROVED_VALUES\\\n          \\ or s.lower() in [v.lower() for v in APPROVED_VALUES]\\n\\n    # Extract\\\n          \\ fixed columns\\n    data = {}\\n    for idx, name in FIXED_COLUMNS.items():\\n\\\n          \\        if idx < df_raw.shape[1]:\\n            data[name] = df_raw[idx].values\\n\\\n          \\        else:\\n            data[name] = []\\n\\n    # Also extract status\\\n          \\ columns temporarily (for filtering)\\n    for idx, name in STATUS_COLUMNS.items():\\n\\\n          \\        if idx < df_raw.shape[1]:\\n            data[name] = df_raw[idx].values\\n\\\n          \\        else:\\n            data[name] = []\\n\\n    df = pd.DataFrame(data)\\n\\\n          \\n    # Remove header rows and empty supplier names\\n    header_phrases\\\n          \\ = [\\\"Supplier / Business Partner Name\\\", \\\"Supplier Name\\\", \\\"Business\\\n          \\ Partner Name\\\"]\\n    mask = df[\\\"Supplier / Business Partner Name\\\"].notna()\\n\\\n          \\    mask &= df[\\\"Supplier / Business Partner Name\\\"].astype(str).str.strip()\\\n          \\ != \\\"\\\"\\n    mask &= ~df[\\\"Supplier / Business Partner Name\\\"].astype(str).str.strip().isin(header_phrases)\\n\\\n          \\    df = df[mask].reset_index(drop=True)\\n\\n    # Filter: keep only suppliers\\\n          \\ with at least one approved status\\n    status_cols = list(STATUS_COLUMNS.values())\\n\\\n          \\    approved_rows = []\\n    for _, row in df.iterrows():\\n        approved_templates\\\n          \\ = []\\n        for col in status_cols:\\n            if col in row and is_approved(row[col]):\\n\\\n          \\                # Remove \\\" Status\\\" suffix for cleaner display\\n     \\\n          \\           template_name = col.replace(\\\" Status\\\", \\\"\\\")\\n           \\\n          \\     approved_templates.append(template_name)\\n        if approved_templates:\\n\\\n          \\            fixed_data = {k: row[k] for k in FIXED_COLUMNS.values()}\\n\\\n          \\            fixed_data[\\\"Approved Templates\\\"] = \\\", \\\".join(approved_templates)\\n\\\n          \\            approved_rows.append(fixed_data)\\n\\n    approved_df = pd.DataFrame(approved_rows)\\n\\\n          \\    suppliers = approved_df.to_dict(orient=\\\"records\\\")\\n\\n    return {\\n\\\n          \\        \\\"suppliers\\\": suppliers,\\n        \\\"message\\\": f\\\"Extracted {len(suppliers)}\\\n          \\ approved supplier(s).\\\"\\n    }\"\n        code_language: python3\n        desc: Code for PMS extraction\n        outputs:\n          message:\n            children: null\n            type: string\n          suppliers:\n            children: null\n            type: array[object]\n        selected: false\n        title: Code\n        type: code\n        variables:\n        - value_selector:\n          - '1777545549715'\n          - pms_file\n          value_type: string\n          variable: file_bytes\n        - value_selector: []\n          variable: ''\n      height: 81\n      id: '1777545670217'\n      position:\n        x: 404.2857142857144\n        y: 223.5\n      positionAbsolute:\n        x: 404.2857142857144\n        y: 223.5\n      selected: true\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        desc: ''\n        outputs:\n        - value_selector:\n          - '1777545670217'\n          - suppliers\n          value_type: array[string]\n          variable: suppliers\n        selected: false\n        title: End\n        type: end\n      height: 90\n      id: '1777548155872'\n      position:\n        x: 708.2857142857144\n        y: 223.5\n      positionAbsolute:\n        x: 708.2857142857144\n        y: 223.5\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    viewport:\n      x: 62.889346194002314\n      y: -3.861705662215769\n      zoom: 1.1530274241746006\n"}
