dsl/FI024__GLJAI869__Published__New.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: advanced-chat
  name: FI-024 - GLJAI-869 - Published - New
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/gemini:0.7.4@5faf411e694e0da130a337347a625a3812b1b7502a0183382d66d92c841bf05a
kind: app
version: 0.3.1
workflow:
  conversation_variables:
  - description: ''
    id: 3103c689-46c9-41dd-9210-c5f2f1102bb9
    name: conversion_file_2
    selector:
    - conversation
    - conversion_file_2
    value: ''
    value_type: string
  - description: ''
    id: e8992a3e-b589-46e7-b823-6a3c86f0738f
    name: conversion_file_1
    selector:
    - conversation
    - conversion_file_1
    value: ''
    value_type: string
  - description: ''
    id: 059185cb-7106-49fb-8be5-c0365ce1a5cd
    name: file_size
    selector:
    - conversation
    - file_size
    value: '0'
    value_type: string
  - description: ''
    id: 74a031d5-5e76-46c0-a638-746006e3ff19
    name: prompt_text
    selector:
    - conversation
    - prompt_text
    value:
      choose_session:
        en: 'Please choose the session from where you want to start with.


          1. <button type="button" data-message="1">Session 1</button>&emsp;&emsp;2.
          <button type="button" data-message="2">Session 2</button>'
        ja: '開始するセッションを選択してください。


          1. <button type="button" data-message="1">セッション 1</button>&emsp;&emsp;2.
          <button type="button" data-message="2">セッション 2</button>'
      currency_detected:
        en: 'Multiple currencies were detected in the BU documents.

          Please confirm if all figures should be converted from **USD** to **JPY**


          ***


          1. <button type="button" data-message="1">Yes</button>&emsp;&emsp;2. <button
          type="button" data-message="2">No</button>'
        ja: 'BU資料で複数の通貨が検出されました。

          すべての数値を **USD**から **JPY** に換算しますか？


          ***


          1. <button type="button" data-message="1">はい</button>&emsp;&emsp;2. <button
          type="button" data-message="2">いいえ</button>'
      enter_currency_rate:
        en: 'Please enter the **currency conversion rate** you would like to use to
          convert all figures from **USD to JPY** across the entire document.

          **Example:**

          If **1 USD = 150 JPY**, please enter **150**.'
        ja: 'USD から JPY に換算するために使用する **為替レート** を入力してください。

          **例:**

          **1 USD = 150 JPY** の場合は、**150** と入力してください。'
      file_uploaded_succesfully:
        en: 'File Uploaded Successfully!!


          **Number of files uploaded so far:**'
        ja: 'ファイルは正常にアップロードされました！


          **アップされたファイル数：**'
      invalid_currency:
        en: 'Invalid input. Please enter a numeric conversion rate with up to **6
          decimal places.**

          Example: **150** or **150.123456**'
        ja: '不正な入力値！数値の換算レートを**小数点以下最大6桁**までで入力してください。

          **例:**

          **150** または **150.123456**'
      llm_currency_conversion_error:
        en: 'Error occurred while uploading the file. Please re-upload the file.


          ***


          '
        ja: 'ファイルのアップロード中にエラーが発生しました。もう一度アップロードしてください。


          ***


          '
      llm_currency_detection_error:
        en: Error occurred while uploading the file. Please re-upload the file.
        ja: ファイルのアップロード中にエラーが発生しました。もう一度アップロードしてください。
      select_report_type:
        en: 'Your data has been successfully processed.


          Please select one of the following options:

          1. <button type="button" data-message="1">Generate Summary</button>

          2. <button type="button" data-message="2">View Number Table</button>

          3. <button type="button" data-message="3">Generate Key Questions</button>'
        ja: "データは正常に処理されました。 \n\n次のオプションのいずれかを選択してください。\n1. <button type=\"button\"\
          \ data-message=\"1\">サマリーの生成</button>\n2. <button type=\"button\" data-message=\"\
          2\">数値テーブルを参照</button>\n3. <button type=\"button\" data-message=\"3\">キー質問の生成</button>"
    value_type: object
  - description: ''
    id: 8c5652ec-8360-438f-b7e8-1548ea698d66
    name: extracted_prev_doc
    selector:
    - conversation
    - extracted_prev_doc
    value: ''
    value_type: string
  - description: ''
    id: 1e5295c5-6889-41a5-b7c2-ebdd6721a7fd
    name: extracted_doc
    selector:
    - conversation
    - extracted_doc
    value: ''
    value_type: string
  - description: ''
    id: 18b46089-1a6b-4381-a33b-bf697fdd9f67
    name: choose_option
    selector:
    - conversation
    - choose_option
    value: ''
    value_type: string
  - description: ''
    id: 3ced60eb-9639-4965-8ca2-01ff6a2fd5dc
    name: qualitative_quantitative_init
    selector:
    - conversation
    - qualitative_quantitative_init
    value: '0'
    value_type: string
  - description: ''
    id: c0b538d4-e26a-4153-8182-e4d478d8c487
    name: currency_detected
    selector:
    - conversation
    - currency_detected
    value: ''
    value_type: string
  - description: ''
    id: 0fa7fb8b-dcf0-40d8-a4ab-bb0b99c7a252
    name: resubmit_error_message
    selector:
    - conversation
    - resubmit_error_message
    value:
      '1':
        en: "Please upload the *`current month’s BU-A Hearing`* file in **PDF** format\
          \ only. \nWhile uploading, mention the month and year in the following format:\
          \ **MM/YYYY**\nFor example: **11/2025**"
        ja: '*`今月のBU-Aヒアリング`*ファイルは**PDF**形式のみでアップロードしてください。

          アップロードの際、月と年を次の形式で入力してください: **MM/YYYY**

          例: **11/2025**'
      '2':
        en: "Please upload the *`current month’s BU-Performance Variance Data`* file\
          \ in **EXCEL** format only. \nWhile uploading, mention the month and year\
          \ in the following format: **MM/YYYY**\nFor example: **11/2025**"
        ja: '*`今月の当月のBU業績差異データ`*ファイルは**EXCEL**形式のみでアップロードしてください。

          アップロードの際、月と年を次の形式で入力してください: **MM/YYYY**

          例: **11/2025**'
      '3':
        en: "Please upload the *`current month’s Number Table Data`* file in **EXCEL**\
          \ format only. \nWhile uploading, mention the month and year in the following\
          \ format: **MM/YYYY**\nFor example: **11/2025**"
        ja: '*`今月の数値テーブルデータ`*ファイルは**EXCEL**形式のみでアップロードしてください。

          アップロードの際、月と年を次の形式で入力してください: **MM/YYYY**

          例: **11/2025**'
      '4':
        en: "Please upload the *`previous month’s BU-A Hearing`* file in **PDF** format\
          \ only. \nWhile uploading, mention the month and year in the following format:\
          \ **MM/YYYY**\nFor example: **11/2025**"
        ja: '*`前月の数値テーブルデータ`*ファイルは**PDF**形式のみでアップロードしてください。

          アップロードの際、月と年を次の形式で入力してください: **MM/YYYY**

          例: **11/2025**'
      '5':
        en: 'All files uploaded successfully.


          Do you want to reupload all files?

          1. <button type="button" data-message="1">Yes</button>&emsp;&emsp;2. <button
          type="button" data-message="2">No</button>'
        ja: 'すべてのファイルのアップロードが完了しました。


          すべてのファイルを再アップロードしますか？

          1. <button type="button" data-message="1">はい</button>&emsp;&emsp;2. <button
          type="button" data-message="2">いいえ</button>'
    value_type: object
  - description: ''
    id: e66aadcf-0792-403f-a5e2-ef51f9332b37
    name: file_prev_bu_hearing_name
    selector:
    - conversation
    - file_prev_bu_hearing_name
    value: ''
    value_type: string
  - description: ''
    id: 90b0c82e-a3e1-4e66-85f7-40e7dd2f18ef
    name: file_number_table_name
    selector:
    - conversation
    - file_number_table_name
    value: ''
    value_type: string
  - description: ''
    id: fa83cb8a-03d0-45d9-bb69-61daf234d2f4
    name: file_performance_variance_name
    selector:
    - conversation
    - file_performance_variance_name
    value: ''
    value_type: string
  - description: ''
    id: f6bc0cda-b979-42d8-9271-9a04426932aa
    name: file_bu_hearing_name
    selector:
    - conversation
    - file_bu_hearing_name
    value: ''
    value_type: string
  - description: ''
    id: ad011688-f110-4c0e-a943-cf90ed49c491
    name: conversion_rate
    selector:
    - conversation
    - conversion_rate
    value: '0'
    value_type: string
  - description: ''
    id: 0c4c121f-bb88-4361-95d8-f1a9e201f7bb
    name: choose_language_first
    selector:
    - conversation
    - choose_language_first
    value: 'Sorry, I''m unable to response for this query. Please `Choose Language`
      To Start The Conversation.


      申し訳ございませんが、この質問にはお答えできません。会話を始めるには言語を選択してください。


      ***


      <button type="button" data-message="English">English</button> <button type="button"
      data-message="日本語">日本語</button>'
    value_type: string
  - description: ''
    id: 61fe55bd-c30e-497f-bbe5-414167af91e0
    name: choose_session_ja
    selector:
    - conversation
    - choose_session_ja
    value: '開始するセッションを選択してください。


      1. <button type="button" data-message="1">セッション 1</button>&emsp;&emsp;2. <button
      type="button" data-message="2">セッション 2</button>'
    value_type: string
  - description: ''
    id: 4b260ce1-7bdb-4670-97ba-0b7657c543d3
    name: choose_session_en
    selector:
    - conversation
    - choose_session_en
    value: 'Please choose the session from where you want to start with.


      1. <button type="button" data-message="1">Session 1</button>&emsp;&emsp;2. <button
      type="button" data-message="2">Session 2</button>'
    value_type: string
  - description: ''
    id: 32e135c6-35f8-4818-91ba-c7c739c41ad4
    name: reset_upload_message
    selector:
    - conversation
    - reset_upload_message
    value:
      '1':
        en: 'Please upload the *`current month’s BU-A Hearing`* file in **PDF** format.

          While uploading, mention the month and year in the following format: **MM/YYYY**

          For example: **11/2025**'
        ja: "当月のBU-AヒアリングファイルをPDF形式でアップロードしてください。  \nアップロードの際、月と年を次の形式で入力してください: MM/YYYY\
          \ \n例: 11/2025"
      '2':
        en: Thanks for choosing the `Session 2`.
        ja: セッション2をお選びいただきありがとうございます。
    value_type: object
  - description: ''
    id: 219d22d5-9df4-409c-9cba-6d73e302d9a8
    name: file_prev_bu_hearing
    selector:
    - conversation
    - file_prev_bu_hearing
    value: ''
    value_type: string
  - description: ''
    id: cac3f2f9-1e15-4491-96d1-dff65df9745c
    name: file_number_table
    selector:
    - conversation
    - file_number_table
    value: ''
    value_type: string
  - description: ''
    id: 44660743-c0b1-417f-991d-9b903f6cf571
    name: file_performance_variance
    selector:
    - conversation
    - file_performance_variance
    value: ''
    value_type: string
  - description: ''
    id: c52218d0-c2b6-4439-8ce6-4d8c8ae3d450
    name: file_bu_hearing
    selector:
    - conversation
    - file_bu_hearing
    value: ''
    value_type: string
  - description: ''
    id: 57f2cb7a-0736-42b6-a787-1c3b27305dbd
    name: session_config
    selector:
    - conversation
    - session_config
    value:
      '1':
        en: 'Thanks for choosing the `Session 1`.


          ***


          Please upload the *`current month’s BU-A Hearing`* file in **PDF** format.

          While uploading, mention the month and year in the following format: **MM/YYYY**

          For example: **11/2025**'
        ja: 'セッション1をお選びいただきありがとうございます。


          `今月のBU-Aヒアリング` ファイルは**PDF**形式のみでアップロードしてください。

          アップロードの際、月と年を次の形式で入力してください: **MM/YYYY**

          例: **11/2025**'
      '2':
        en: Thanks for choosing the `Session 2`.
        ja: セッション2をお選びいただきありがとうございます。
    value_type: object
  - description: ''
    id: a02167ad-dddf-4007-ba82-f367438eb14c
    name: user_guide
    selector:
    - conversation
    - user_guide
    value:
      en:
        btn_s1: Session 1
        btn_s2: Session 2
        result: English
        text: "Thanks for choosing your preferred language as `English`.\n\n***\n\n\
          Quick User Guide for Session 1 (**Pre-Hearing Preparation**):\n*Goal: Generate\
          \ the \"Analysis & BU Hearing questions\" (Summary, Data, & Questions).*\n\
          \n1. **Upload Documents with ease:**\n    * **BU Docs:** Current & Previous\
          \ month (Excel & PPT/PDF).\n    * **Financial Data:** Official **Hi-Tree**\
          \ export (Excel).\n    * **Reference:** Past Hearing MOM & Question List.\n\
          \n2. **Unify Currency:**\n    * Confirm the Agent's prompt to convert figures\
          \ (e.g., USD → JPY) using real-time rates.\n\n3. **Review Outputs:**\n \
          \   * **Qualitative Summary:** Summary in the required template, extracted\
          \ from the BU Documents.\n    * **Number Table:** Standardized financial\
          \ table compiled from Hi-Tree/BU performance Excel.\n    * **Draft Questions:**\
          \ Generated based on data gaps & historical patterns.\n\n***\n\nQuick User\
          \ Guide for Session 2 (**Post-Hearing Synthesis**):\n*Goal: Generate the\
          \ draft for Final Report in Minutes format (MOM).*\n\n1. **Upload Hearing\
          \ Data with BU performance inputs:**\n    * **Transcript:** Text file of\
          \ the hearing conversation.\n    * **BU Docs:** Current & Previous month\
          \ (Excel & PPT/PDF).\n    * **Financial Data:** Official **Hi-Tree** export\
          \ (Excel).\n    * **Reference:** Past Hearing MOM & Question List.\n   \
          \ * **Session 1 Outputs:** The Questions, Number Table, & Summary generated\
          \ previously.\n\n2. **Synthesize:**\n    * Agent extracts **Spoken Commitments**,\
          \ **Future Actions**, and **Verbal Clarifications**.\n\n3. **Finalize Report:**\n\
          \    * Review the **Final Report Draft** which merges financial tables with\
          \ transcript insights.\n    * Use the chat to request specific text edits\
          \ before closure.\n\n***\n\n**Now, please choose the session from where\
          \ you want to start with.**"
      ja:
        btn_s1: セッション 1
        btn_s2: セッション 2
        result: Japanese
        text: "希望言語として`日本語`を選択していただき、ありがとうございます。\n\n***\n\nセッション 1 クイックユーザーガイド (**事前準備：ヒアリング前**):\n\
          *目的：分析 & BUヒアリング質問を生成する。（サマリー、データ、質問）*\n\n1. **ドキュメントのアップロード:**\n    * **BU資料:**\
          \ 当月・前月分 (Excel & PPT/PDF)。\n    * **財務データ:** **Hi-Tree** エクスポート (Excel)。\n\
          \    * **参考資料:** 過去ヒアリング会議の議事録および質問リスト。\n\n2. **通貨の統一:**\n    * Agentのプロンプトを確認し、数値をリアルタイムレートで変換（例:\
          \ USD → JPY）します。\n\n3. **アウトプットの確認:**\n    * **定性サマリー:** BU資料から抽出し、特定テンプレートにまとめたサマリー。\n\
          \    * **数値表:** Hi-Tree/BU業績Excelから用意された財務表。\n    * **質問案:** データの不足や過去の履歴パターンに基づき生成。\n\
          \n***\n\nセッション 2 クイックユーザーガイド (**事後整理：ヒアリング後**):\n*目的：最終報告書（議事録形式）のドラフト版を生成する。*\n\
          \n1. **ヒアリングデータのアップロード:**\n    * **文字起こし:** ヒアリング会話のテキストファイル。\n    * **BU資料:**\
          \ 当月・前月分 (Excel & PPT/PDF)。\n    * **財務データ:** **Hi-Tree** エクスポート (Excel)。\n\
          \    * **参考資料:** 過去ヒアリングMOMおよび質問リスト。\n    * **セッション 1 のアウトプット:** 質問、数値表、サマリー。\n\
          \n2. **統合・整理:**\n    * Agentが発言内容から**口頭での約束事項、補足説明**、**今後のアクション**を抽出します。\n\
          \n3. **最終報告書の完成:**\n    * 財務表とトランスクリプトの洞察を統合した**ドラフト**を確認します。\n    * 最後に、テキスト修正がありましたらチャット機能を用いて依頼してください。\n\
          \n***\n\n**開始したいセッションを選択してください。**"
    value_type: object
  - description: ''
    id: 8c1e6a2b-9f19-4d67-9dc4-deaa0e144c31
    name: file_upload_success_message
    selector:
    - conversation
    - file_upload_success_message
    value:
      '1':
        en: 'Now, Please upload the *`current month''s BU Performance Variance Data`*
          file in **EXCEL** format.

          While uploading, mention the month and year in the following format: **MM/YYYY**

          For example: **11/2025**'
        ja: '次に*`当月のBU業績差異データ`*を**Excel**形式でアップロードしてください。

          アップロードの際、月と年を次の形式で入力してください: **MM/YYYY**

          例: **11/2025**'
      '2':
        en: 'Now, Please upload the *`current month''s Number Table Data`* in **Excel**
          format.

          While uploading, mention the month and year in the following format: **MM/YYYY**

          For example: **11/2025**'
        ja: '次に*`当月のBUテンプレートデータ`*を**Excel**形式でアップロードしてください。

          アップロードの際、月と年を次の形式で入力してください: **MM/YYYY**

          例: **11/2025**'
      '3':
        en: 'Now, Please upload the *`previous month''s BU Hearing Data`* in **PDF**
          format.

          While uploading, mention the month and year in the following format: **MM/YYYY**

          For example: **11/2025**'
        ja: '次に*`前月の*BUヒアリングデータ`*を**PDF**形式でアップロードしてください。

          アップロードの際、月と年を次の形式で入力してください: **MM/YYYY**

          例: **11/2025**'
      '4':
        en: 'All files uploaded successfully.


          Do you want to reupload all files?

          1. <button type="button" data-message="1">Yes</button>&emsp;&emsp;2. <button
          type="button" data-message="2">No</button>'
        ja: 'すべてのファイルのアップロードが完了しました。


          すべてのファイルを再アップロードしますか？

          1. <button type="button" data-message="1">はい</button>&emsp;&emsp;2. <button
          type="button" data-message="2">いいえ</button>'
    value_type: object
  - description: ''
    id: 432e0799-8f1f-443e-ab90-1d479071f496
    name: file_error_message
    selector:
    - conversation
    - file_error_message
    value:
      '1':
        file_size:
          en: "File size exceeds 10MB limit!!!\nPlease upload the *`current month’s\
            \ BU-A Hearing`* file in **PDF** format only. \nWhile uploading, mention\
            \ the month and year in the following format: **MM/YYYY**\nFor example:\
            \ **11/2025**"
          ja: 'ファイルサイズが10MBを超えています！！！

            *`今月のBU-Aヒアリング`*ファイルは**PDF**形式のみでアップロードしてください。

            アップロードの際、月と年を次の形式で入力してください: **MM/YYYY**

            例: **11/2025**'
          type: pdf
        file_type:
          en: 'Invalid Format!!!

            Please upload the *`current month’s BU-A Hearing`* file in **PDF** format
            only.

            While uploading, mention the month and year in the following format: **MM/YYYY**

            For example: **11/2025**'
          ja: '不正な形式！！！

            *`今月のBU-Aヒアリング`*ファイルは**PDF**形式のみでアップロードしてください。

            アップロードの際、月と年を次の形式で入力してください: **MM/YYYY**

            例: **11/2025**'
          type: pdf
        month_format:
          en: "Invalid Text!!!\nPlease upload the *`current month’s BU-A Hearing`*\
            \ file in **PDF** format only. \nWhile uploading, mention the month and\
            \ year in the following format: **MM/YYYY**\nFor example: **11/2025**"
          ja: '不正な月形式！！！

            *`今月のBU-Aヒアリング`*ファイルは**PDF**形式のみでアップロードしてください。

            アップロードの際、月と年を次の形式で入力してください: **MM/YYYY**

            例: **11/2025**'
          type: pdf
      '2':
        file_size:
          en: "File size exceeds 10MB limit!!!\nPlease upload the *`current month’s\
            \ BU-Performance Variance Data`* file in **EXCEL** format only. \nWhile\
            \ uploading, mention the month and year in the following format: **MM/YYYY**\n\
            For example: **11/2025**"
          ja: 'ファイルサイズが10MBを超えています！！！

            *`今月の当月のBU業績差異データ`*ファイルは**EXCEL**形式のみでアップロードしてください。

            アップロードの際、月と年を次の形式で入力してください: **MM/YYYY**

            例: **11/2025**'
          type: excel
        file_type:
          en: "Invalid Format!!!\nPlease upload the *`current month’s BU-Performance\
            \ Variance Data`* file in **EXCEL** format only. \nWhile uploading, mention\
            \ the month and year in the following format: **MM/YYYY**\nFor example:\
            \ **11/2025**"
          ja: '不正な形式！！！

            *`当月のBU業績差異データ`*ファイルは**EXCEL**形式のみでアップロードしてください。

            アップロードの際、月と年を次の形式で入力してください: **MM/YYYY**

            例: **11/2025**'
          type: excel
        month_format:
          en: "Invalid Text!!!\nPlease upload the *`current month’s BU-Performance\
            \ Variance Data`* file in **EXCEL** format only. \nWhile uploading, mention\
            \ the month and year in the following format: **MM/YYYY**\nFor example:\
            \ **11/2025**"
          ja: '不正な月形式！！！

            *`当月のBU業績差異データ`*ファイルは**EXCEL**形式のみでアップロードしてください。

            アップロードの際、月と年を次の形式で入力してください: **MM/YYYY**

            例: **11/2025**'
          type: excel
      '3':
        file_size:
          en: "File size exceeds 10MB limit!!!\nPlease upload the *`current month’s\
            \ Number Table Data`* file in **EXCEL** format only. \nWhile uploading,\
            \ mention the month and year in the following format: **MM/YYYY**\nFor\
            \ example: **11/2025**"
          ja: 'ファイルサイズが10MBを超えています！！！

            *`今月の数値テーブルデータ`*ファイルは**EXCEL**形式のみでアップロードしてください。

            アップロードの際、月と年を次の形式で入力してください: **MM/YYYY**

            例: **11/2025**'
          type: excel
        file_type:
          en: "Invalid Format!!!\nPlease upload the *`current month’s Number Table\
            \ Data`* file in **EXCEL** format only. \nWhile uploading, mention the\
            \ month and year in the following format: **MM/YYYY**\nFor example: **11/2025**"
          ja: '不正な形式！！！

            *`今月の数値テーブルデータ`*ファイルは**EXCEL**形式のみでアップロードしてください。

            アップロードの際、月と年を次の形式で入力してください: **MM/YYYY**

            例: **11/2025**'
          type: excel
        month_format:
          en: "Invalid Text!!!\nPlease upload the *`current month’s Number Table Data`*\
            \ file in **EXCEL** format only. \nWhile uploading, mention the month\
            \ and year in the following format: **MM/YYYY**\nFor example: **11/2025**"
          ja: '不正な形式！！！

            *`今月の数値テーブルデータ`*ファイルは**EXCEL**形式のみでアップロードしてください。

            アップロードの際、月と年を次の形式で入力してください: **MM/YYYY**

            例: **11/2025**'
          type: excel
      '4':
        file_size:
          en: "File size exceeds 10MB limit!!!\nPlease upload the *`previous month’s\
            \ BU-A Hearing`* file in **PDF** format only. \nWhile uploading, mention\
            \ the month and year in the following format: **MM/YYYY**\nFor example:\
            \ **11/2025**"
          ja: 'ファイルサイズが10MBを超えています！！！

            *`前月の数値テーブルデータ`*ファイルは**PDF**形式のみでアップロードしてください。

            アップロードの際、月と年を次の形式で入力してください: **MM/YYYY**

            例: **11/2025**'
          type: pdf
        file_type:
          en: "Invalid Format!!!\nPlease upload the *`previous month’s BU-A Hearing`*\
            \ file in **PDF** format only. \nWhile uploading, mention the month and\
            \ year in the following format: **MM/YYYY**\nFor example: **11/2025**"
          ja: '不正な形式！！！

            *`前月の数値テーブルデータ`*ファイルは**PDF**形式のみでアップロードしてください。

            アップロードの際、月と年を次の形式で入力してください: **MM/YYYY**

            例: **11/2025**'
          type: pdf
        month_format:
          en: "Invalid Text!!!\nPlease upload the *`current month’s BU-A Hearing`*\
            \ file in **PDF** format only. \nWhile uploading, mention the month and\
            \ year in the following format: **MM/YYYY**\nFor example: **11/2025**"
          ja: '不正な月形式！！！

            *`前月の数値テーブルデータ`*ファイルは**PDF**形式のみでアップロードしてください。

            アップロードの際、月と年を次の形式で入力してください: **MM/YYYY**

            例: **11/2025**'
          type: pdf
    value_type: object
  - description: ''
    id: bb96b3c6-cfd1-45a3-8192-28ffda911b7f
    name: upload_step
    selector:
    - conversation
    - upload_step
    value: '0'
    value_type: string
  - description: ''
    id: 57112dee-17e6-46be-b0a8-83c52d0fdedc
    name: selected_language
    selector:
    - conversation
    - selected_language
    value: ''
    value_type: string
  - description: ''
    id: 2690bf8e-eacf-4ee9-a5f7-8d268c5434b9
    name: selected_session
    selector:
    - conversation
    - selected_session
    value: ''
    value_type: string
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - document
      allowed_file_upload_methods:
      - local_file
      enabled: true
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 50
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 1
    opening_statement: 'Hi there, I am your BU performance hearing assistant.


      Please select your Preferred language.


      ***

      こんにちは。BU パフォーマンス聴覚アシスタントです。


      ご希望の言語を選択してください。

      ***'
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions:
    - English
    - 日本語
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: code
      id: 1770961019005-true-1770961638356-target
      selected: false
      source: '1770961019005'
      sourceHandle: 'true'
      target: '1770961638356'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: code
      id: 1770961019005-0f1ac98a-eba8-489b-bf1a-4c8634661bb2-1770961638356-target
      selected: false
      source: '1770961019005'
      sourceHandle: 0f1ac98a-eba8-489b-bf1a-4c8634661bb2
      target: '1770961638356'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: code
      id: 1770961019005-17701c18-6743-4349-8e46-a0343658e03d-1770961764200-target
      selected: false
      source: '1770961019005'
      sourceHandle: 17701c18-6743-4349-8e46-a0343658e03d
      target: '1770961764200'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: code
      id: 1770961019005-59048238-bb85-4fae-ac86-0c12dbd0830d-1770961764200-target
      selected: false
      source: '1770961019005'
      sourceHandle: 59048238-bb85-4fae-ac86-0c12dbd0830d
      target: '1770961764200'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: assigner
      id: 1770961638356-source-1770961899709-target
      selected: false
      source: '1770961638356'
      sourceHandle: source
      target: '1770961899709'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: assigner
      id: 1770961764200-source-1770961996414-target
      selected: false
      source: '1770961764200'
      sourceHandle: source
      target: '1770961996414'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: assigner
        targetType: answer
      id: 1770961996414-source-1770962030651-target
      selected: false
      source: '1770961996414'
      sourceHandle: source
      target: '1770962030651'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: answer
        targetType: assigner
      id: 1770962030651-source-1770962080077-target
      selected: false
      source: '1770962030651'
      sourceHandle: source
      target: '1770962080077'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: 1770961019005-false-1770962482069-target
      selected: false
      source: '1770961019005'
      sourceHandle: 'false'
      target: '1770962482069'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: assigner
        targetType: answer
      id: 1770961899709-source-answer-target
      selected: false
      source: '1770961899709'
      sourceHandle: source
      target: answer
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: code
      id: 1770961019005-a628f2d4-e8ed-443d-bd1b-7dd5814a4f41-1771490895856-target
      selected: false
      source: '1770961019005'
      sourceHandle: a628f2d4-e8ed-443d-bd1b-7dd5814a4f41
      target: '1771490895856'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: answer
      id: 1771490895856-source-1770963388580-target
      selected: false
      source: '1771490895856'
      sourceHandle: source
      target: '1770963388580'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: code
      id: 1770961019005-f6dd0c6d-b91d-4ab4-82d8-7daed3a7d91f-1771491738462-target
      selected: false
      source: '1770961019005'
      sourceHandle: f6dd0c6d-b91d-4ab4-82d8-7daed3a7d91f
      target: '1771491738462'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: if-else
      id: 1771491738462-source-1771491747321-target
      selected: false
      source: '1771491738462'
      sourceHandle: source
      target: '1771491747321'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: code
      id: 1770961019005-d9cda55a-2893-470e-9257-d87951aa1493-1771491738462-target
      selected: false
      source: '1770961019005'
      sourceHandle: d9cda55a-2893-470e-9257-d87951aa1493
      target: '1771491738462'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: code
      id: 1770961019005-5c1f1a47-e49f-46f4-a58e-0ec06130d6a3-1771491738462-target
      selected: false
      source: '1770961019005'
      sourceHandle: 5c1f1a47-e49f-46f4-a58e-0ec06130d6a3
      target: '1771491738462'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: code
      id: 1770961019005-b8cef663-35c6-41a3-922c-855a74c51580-1771491738462-target
      selected: false
      source: '1770961019005'
      sourceHandle: b8cef663-35c6-41a3-922c-855a74c51580
      target: '1771491738462'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: 1771491747321-false-17714919546840-target
      selected: false
      source: '1771491747321'
      sourceHandle: 'false'
      target: '17714919546840'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: code
      id: 1771491747321-09eae6cb-912c-45df-89b0-2105df00270a-17715003232610-target
      selected: false
      source: '1771491747321'
      sourceHandle: 09eae6cb-912c-45df-89b0-2105df00270a
      target: '17715003232610'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: if-else
      id: 17715003232610-source-1771401586624-target
      selected: false
      source: '17715003232610'
      sourceHandle: source
      target: '1771401586624'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: assigner
      id: 1771401586624-cde25911-a8e2-4650-8597-51a2a3bf65e7-17714034194010-target
      selected: false
      source: '1771401586624'
      sourceHandle: cde25911-a8e2-4650-8597-51a2a3bf65e7
      target: '17714034194010'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: assigner
      id: 1771401586624-810f57a9-4f1e-44dd-b066-a37d780eb56b-17714078066020-target
      selected: false
      source: '1771401586624'
      sourceHandle: 810f57a9-4f1e-44dd-b066-a37d780eb56b
      target: '17714078066020'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: 1771401586624-false-1771401685782-target
      selected: false
      source: '1771401586624'
      sourceHandle: 'false'
      target: '1771401685782'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: assigner
      id: 1770961019005-834e124c-59da-465c-ab9c-089886099008-17718284481690-target
      selected: false
      source: '1770961019005'
      sourceHandle: 834e124c-59da-465c-ab9c-089886099008
      target: '17718284481690'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: assigner
        targetType: code
      id: 17718284481690-source-1771828947423-target
      selected: false
      source: '17718284481690'
      sourceHandle: source
      target: '1771828947423'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: answer
      id: 1771828947423-source-1771508373780-target
      selected: false
      source: '1771828947423'
      sourceHandle: source
      target: '1771508373780'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: start
        targetType: if-else
      id: 1770961002414-source-1770961019005-target
      selected: false
      source: '1770961002414'
      sourceHandle: source
      target: '1770961019005'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: 1771401586624-4c5ae5bb-87c5-4176-85eb-b482d906a179-1771401685782-target
      selected: false
      source: '1771401586624'
      sourceHandle: 4c5ae5bb-87c5-4176-85eb-b482d906a179
      target: '1771401685782'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: assigner
      id: 1772021350416-true-1772021368754-target
      selected: false
      source: '1772021350416'
      sourceHandle: 'true'
      target: '1772021368754'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: if-else
      id: 1770961019005-5509f003-7e2c-477b-8313-3ae5c4c527ce-1772021799730-target
      selected: false
      source: '1770961019005'
      sourceHandle: 5509f003-7e2c-477b-8313-3ae5c4c527ce
      target: '1772021799730'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: assigner
      id: 1772021799730-false-1772021855867-target
      selected: false
      source: '1772021799730'
      sourceHandle: 'false'
      target: '1772021855867'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: answer
        targetType: assigner
      id: 1772022128510-source-17720222050930-target
      selected: false
      source: '1772022128510'
      sourceHandle: source
      target: '17720222050930'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: answer
        targetType: assigner
      id: 1771836083467-source-1772024542633-target
      selected: false
      source: '1771836083467'
      sourceHandle: source
      target: '1772024542633'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: code
      id: 1770961019005-c57686a8-c5af-4eb9-840b-654ffeface46-1772026444415-target
      selected: false
      source: '1770961019005'
      sourceHandle: c57686a8-c5af-4eb9-840b-654ffeface46
      target: '1772026444415'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: assigner
      id: 1772026444415-source-1772023663084-target
      selected: false
      source: '1772026444415'
      sourceHandle: source
      target: '1772023663084'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: assigner
        targetType: if-else
      id: 1772023663084-source-1772026835841-target
      selected: false
      source: '1772023663084'
      sourceHandle: source
      target: '1772026835841'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: answer
        targetType: assigner
      id: 1772021892781-source-1772026999589-target
      selected: false
      source: '1772021892781'
      sourceHandle: source
      target: '1772026999589'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: http-request
      id: 1772026835841-false-1772027983705-target
      selected: false
      source: '1772026835841'
      sourceHandle: 'false'
      target: '1772027983705'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: http-request
        targetType: llm
      id: 1772027983705-source-1772028083342-target
      selected: false
      source: '1772027983705'
      sourceHandle: source
      target: '1772028083342'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: assigner
      id: 1772028083342-source-1772084696521-target
      selected: false
      source: '1772028083342'
      sourceHandle: source
      target: '1772084696521'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: assigner
        targetType: llm
      id: 1772084696521-source-1772084739877-target
      selected: false
      source: '1772084696521'
      sourceHandle: source
      target: '1772084739877'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: assigner
      id: 1772084739877-source-1772084897574-target
      selected: false
      source: '1772084739877'
      sourceHandle: source
      target: '1772084897574'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: http-request
      id: 1772026835841-false-17720850835160-target
      selected: false
      source: '1772026835841'
      sourceHandle: 'false'
      target: '17720850835160'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: http-request
        targetType: llm
      id: 17720850835160-source-17720852962520-target
      selected: false
      source: '17720850835160'
      sourceHandle: source
      target: '17720852962520'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: assigner
      id: 17720852962520-source-17720853039660-target
      selected: false
      source: '17720852962520'
      sourceHandle: source
      target: '17720853039660'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: assigner
        targetType: llm
      id: 17720853039660-source-17720853150320-target
      selected: false
      source: '17720853039660'
      sourceHandle: source
      target: '17720853150320'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: assigner
      id: 17720853150320-source-17720853232300-target
      selected: false
      source: '17720853150320'
      sourceHandle: source
      target: '17720853232300'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: code
      id: 1770961019005-59c2967a-6440-4882-a345-441e41d532f0-1772087814845-target
      selected: false
      source: '1770961019005'
      sourceHandle: 59c2967a-6440-4882-a345-441e41d532f0
      target: '1772087814845'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: answer
      id: 1772087814845-source-1772022128510-target
      selected: false
      source: '1772087814845'
      sourceHandle: source
      target: '1772022128510'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: code
      id: 1772021799730-true-1772088040396-target
      selected: false
      source: '1772021799730'
      sourceHandle: 'true'
      target: '1772088040396'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: answer
      id: 1772088040396-source-1771836083467-target
      selected: false
      source: '1772088040396'
      sourceHandle: source
      target: '1771836083467'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: code
      id: 1772026835841-true-1772088300997-target
      selected: false
      source: '1772026835841'
      sourceHandle: 'true'
      target: '1772088300997'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: answer
      id: 1772088300997-source-1772026880126-target
      selected: false
      source: '1772088300997'
      sourceHandle: source
      target: '1772026880126'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: answer
      id: 1772088460750-source-1772021892781-target
      selected: false
      source: '1772088460750'
      sourceHandle: source
      target: '1772021892781'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: code
      id: 1770961019005-c7952be7-a500-4942-b867-0669d0bb5068-1772088460750-target
      selected: false
      source: '1770961019005'
      sourceHandle: c7952be7-a500-4942-b867-0669d0bb5068
      target: '1772088460750'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: assigner
        targetType: code
      id: 1772021855867-source-1772088460750-target
      selected: false
      source: '1772021855867'
      sourceHandle: source
      target: '1772088460750'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: code
      id: 1772021350416-false-1772089624663-target
      selected: false
      source: '1772021350416'
      sourceHandle: 'false'
      target: '1772089624663'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: answer
      id: 1772089624663-source-1771401719495-target
      selected: false
      source: '1772089624663'
      sourceHandle: source
      target: '1771401719495'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: assigner
        targetType: code
      id: 1772021368754-source-1772089624663-target
      selected: false
      source: '1772021368754'
      sourceHandle: source
      target: '1772089624663'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: assigner
        targetType: code
      id: 17714034194010-source-1772089624663-target
      selected: false
      source: '17714034194010'
      sourceHandle: source
      target: '1772089624663'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: assigner
        targetType: code
      id: 17714078066020-source-1772089624663-target
      selected: false
      source: '17714078066020'
      sourceHandle: source
      target: '1772089624663'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: 1770961019005-a2302dea-b9dd-433b-96e5-ffb321ac6c3e-1772098093064-target
      selected: false
      source: '1770961019005'
      sourceHandle: a2302dea-b9dd-433b-96e5-ffb321ac6c3e
      target: '1772098093064'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1771401586624-true-17721040077580-target
      selected: false
      source: '1771401586624'
      sourceHandle: 'true'
      target: '17721040077580'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: assigner
      id: 17721040077580-source-1771401641682-target
      selected: false
      source: '17721040077580'
      sourceHandle: source
      target: '1771401641682'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1771401586624-803ef967-b25d-4e50-8b4c-1879ba6d6165-17721040681320-target
      selected: false
      source: '1771401586624'
      sourceHandle: 803ef967-b25d-4e50-8b4c-1879ba6d6165
      target: '17721040681320'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: assigner
      id: 17721040681320-source-17714084762600-target
      selected: false
      source: '17721040681320'
      sourceHandle: source
      target: '17714084762600'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: assigner
        targetType: if-else
      id: 1771401641682-source-1772021350416-target
      selected: false
      source: '1771401641682'
      sourceHandle: source
      target: '1772021350416'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: assigner
        targetType: if-else
      id: 17714084762600-source-17721041436510-target
      selected: false
      source: '17714084762600'
      sourceHandle: source
      target: '17721041436510'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: assigner
      id: 17721041436510-true-17721041645510-target
      selected: false
      source: '17721041436510'
      sourceHandle: 'true'
      target: '17721041645510'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: assigner
        targetType: code
      id: 17721041645510-source-1772089624663-target
      selected: false
      source: '17721041645510'
      sourceHandle: source
      target: '1772089624663'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: code
      id: 17721041436510-false-1772089624663-target
      selected: false
      source: '17721041436510'
      sourceHandle: 'false'
      target: '1772089624663'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: answer
        targetType: code
      id: 1772173610661-source-1772173854291-target
      selected: false
      source: '1772173610661'
      sourceHandle: source
      target: '1772173854291'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: answer
      id: 1772173854291-source-1772173884570-target
      selected: false
      source: '1772173854291'
      sourceHandle: source
      target: '1772173884570'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: assigner
        targetType: if-else
      id: 17720853232300-source-1772174453680-target
      selected: false
      source: '17720853232300'
      sourceHandle: source
      target: '1772174453680'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: assigner
        targetType: if-else
      id: 1772084897574-source-1772174453680-target
      selected: false
      source: '1772084897574'
      sourceHandle: source
      target: '1772174453680'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: code
      id: 1772174453680-true-1772088460750-target
      selected: false
      source: '1772174453680'
      sourceHandle: 'true'
      target: '1772088460750'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: code
      id: 1770961019005-b0432e17-bfc3-4fb7-b09d-63ce79156765-1772175354132-target
      selected: false
      source: '1770961019005'
      sourceHandle: b0432e17-bfc3-4fb7-b09d-63ce79156765
      target: '1772175354132'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: answer
      id: 1772175354132-source-17721756820220-target
      selected: false
      source: '1772175354132'
      sourceHandle: source
      target: '17721756820220'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: code
      id: 17721040681320-fail-branch-1772176005300-target
      selected: false
      source: '17721040681320'
      sourceHandle: fail-branch
      target: '1772176005300'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: answer
      id: 1772176005300-source-1772173491077-target
      selected: false
      source: '1772176005300'
      sourceHandle: source
      target: '1772173491077'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: code
      id: 17721040077580-fail-branch-1772176005300-target
      selected: false
      source: '17721040077580'
      sourceHandle: fail-branch
      target: '1772176005300'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: http-request
        targetType: code
      id: 17720850835160-fail-branch-1772176227336-target
      selected: false
      source: '17720850835160'
      sourceHandle: fail-branch
      target: '1772176227336'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: answer
      id: 1772176227336-source-1772173610661-target
      selected: false
      source: '1772176227336'
      sourceHandle: source
      target: '1772173610661'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: code
      id: 17720852962520-fail-branch-1772176227336-target
      selected: false
      source: '17720852962520'
      sourceHandle: fail-branch
      target: '1772176227336'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: http-request
        targetType: code
      id: 1772027983705-fail-branch-1772176227336-target
      source: '1772027983705'
      sourceHandle: fail-branch
      target: '1772176227336'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: code
      id: 1772028083342-fail-branch-1772176227336-target
      source: '1772028083342'
      sourceHandle: fail-branch
      target: '1772176227336'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: code
      id: 1772084739877-fail-branch-1772176227336-target
      source: '1772084739877'
      sourceHandle: fail-branch
      target: '1772176227336'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: code
      id: 17720853150320-fail-branch-1772176227336-target
      source: '17720853150320'
      sourceHandle: fail-branch
      target: '1772176227336'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: code
      id: 1772174453680-false-1772176227336-target
      source: '1772174453680'
      sourceHandle: 'false'
      target: '1772176227336'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: if-else
      id: 1770961019005-868bcdb2-a9b9-4bf7-bf5e-e206c52902ec-1772021799730-target
      source: '1770961019005'
      sourceHandle: 868bcdb2-a9b9-4bf7-bf5e-e206c52902ec
      target: '1772021799730'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: if-else
      id: 1770961019005-495d55f1-85ed-4bcc-bb4e-b2497fc00b6d-1772191454212-target
      source: '1770961019005'
      sourceHandle: 495d55f1-85ed-4bcc-bb4e-b2497fc00b6d
      target: '1772191454212'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: 1772191454212-8fefc4d2-a4a7-4c21-a3d3-f9d408784c1e-1772188281880-target
      source: '1772191454212'
      sourceHandle: 8fefc4d2-a4a7-4c21-a3d3-f9d408784c1e
      target: '1772188281880'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: 1772191454212-d97e0011-0f13-49ce-8af6-599eb86a2139-17721882747850-target
      source: '1772191454212'
      sourceHandle: d97e0011-0f13-49ce-8af6-599eb86a2139
      target: '17721882747850'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: 1772191454212-true-1772188218605-target
      source: '1772191454212'
      sourceHandle: 'true'
      target: '1772188218605'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: 1772191454212-false-17721917350720-target
      source: '1772191454212'
      sourceHandle: 'false'
      target: '17721917350720'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: Start
        type: start
        variables: []
      height: 54
      id: '1770961002414'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '{{#1770961638356.message#}}'
        desc: Sends the localized message and interactive buttons to the user interface,
          allowing them to see the instructions and select a session in their preferred
          language.
        selected: false
        title: Show User Guide
        type: answer
        variables: []
      height: 196
      id: answer
      position:
        x: 2057
        y: 104
      positionAbsolute:
        x: 2057
        y: 104
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: 11bc3b2d-2c75-4fb8-a77a-708fdc810e2d
            value: English
            varType: string
            variable_selector:
            - sys
            - query
          - comparison_operator: empty
            id: 0774e84a-06c9-4e8a-9936-1e404aaec43e
            value: ''
            varType: string
            variable_selector:
            - conversation
            - selected_language
          - comparison_operator: empty
            id: ba5789e1-538f-411a-a388-a821ea104b1d
            value: ''
            varType: string
            variable_selector:
            - conversation
            - selected_session
          id: 'true'
          logical_operator: and
        - case_id: 0f1ac98a-eba8-489b-bf1a-4c8634661bb2
          conditions:
          - comparison_operator: is
            id: 010dc0a9-31c7-4c1f-90c6-ba4b6aacec06
            value: 日本語
            varType: string
            variable_selector:
            - sys
            - query
          - comparison_operator: empty
            id: 5ef3f82a-cc0d-426f-b94f-d131941d2af6
            value: ''
            varType: string
            variable_selector:
            - conversation
            - selected_language
          - comparison_operator: empty
            id: 2080da2b-86bb-4281-bb04-0d76d2a0c0ca
            value: ''
            varType: string
            variable_selector:
            - conversation
            - selected_session
          id: 0f1ac98a-eba8-489b-bf1a-4c8634661bb2
          logical_operator: and
        - case_id: 17701c18-6743-4349-8e46-a0343658e03d
          conditions:
          - comparison_operator: is
            id: cbd17c0a-c58e-49e6-b3be-62ebb2d1dd63
            value: '1'
            varType: string
            variable_selector:
            - sys
            - query
          - comparison_operator: not empty
            id: 7648a6cb-44d4-453f-a9ad-1c603132c673
            value: ''
            varType: string
            variable_selector:
            - conversation
            - selected_language
          - comparison_operator: empty
            id: bc5d2bb2-dd92-4be9-a6de-fff54c09e2c7
            value: ''
            varType: string
            variable_selector:
            - conversation
            - selected_session
          id: 17701c18-6743-4349-8e46-a0343658e03d
          logical_operator: and
        - case_id: 59048238-bb85-4fae-ac86-0c12dbd0830d
          conditions:
          - comparison_operator: is
            id: f9e3d27e-ca15-4a5c-aac2-11b039b99f36
            value: '2'
            varType: string
            variable_selector:
            - sys
            - query
          - comparison_operator: not empty
            id: 3358a2b6-f527-46cf-b624-48bbf29c7789
            value: ''
            varType: string
            variable_selector:
            - conversation
            - selected_language
          - comparison_operator: empty
            id: 5914e5f9-87e0-4889-a313-281680fb0712
            value: ''
            varType: string
            variable_selector:
            - conversation
            - selected_session
          id: 59048238-bb85-4fae-ac86-0c12dbd0830d
          logical_operator: and
        - case_id: f6dd0c6d-b91d-4ab4-82d8-7daed3a7d91f
          conditions:
          - comparison_operator: not empty
            id: 5253d5e6-c3cf-4bd0-a506-3c363b4ac67e
            value: ''
            varType: string
            variable_selector:
            - conversation
            - selected_session
          - comparison_operator: not empty
            id: f0f0577f-cbd9-462f-b06d-3b4efd5750c6
            value: ''
            varType: string
            variable_selector:
            - conversation
            - selected_language
          - comparison_operator: is
            id: 8a80bb3c-4294-4efb-88ee-345dda517156
            value: '1'
            varType: string
            variable_selector:
            - conversation
            - upload_step
          - comparison_operator: not empty
            id: 341dfa8d-f7a8-48fc-96c9-d42f2d547287
            value: ''
            varType: array[file]
            variable_selector:
            - sys
            - files
          id: f6dd0c6d-b91d-4ab4-82d8-7daed3a7d91f
          logical_operator: and
        - case_id: d9cda55a-2893-470e-9257-d87951aa1493
          conditions:
          - comparison_operator: not empty
            id: 5d275e8a-9695-49db-a6f9-b9cdadca829e
            value: ''
            varType: string
            variable_selector:
            - conversation
            - selected_session
          - comparison_operator: not empty
            id: 42f9017f-43ff-4dc2-ab61-55f78a2d331c
            value: ''
            varType: string
            variable_selector:
            - conversation
            - selected_language
          - comparison_operator: is
            id: 3458d838-1422-49dd-8f81-fc23b0433df4
            value: '2'
            varType: string
            variable_selector:
            - conversation
            - upload_step
          - comparison_operator: not empty
            id: c2e7203c-1802-463e-8281-800ba78a783a
            value: ''
            varType: array[file]
            variable_selector:
            - sys
            - files
          id: d9cda55a-2893-470e-9257-d87951aa1493
          logical_operator: and
        - case_id: 5c1f1a47-e49f-46f4-a58e-0ec06130d6a3
          conditions:
          - comparison_operator: not empty
            id: 9df5ff72-9ee2-484c-8cd4-73aa0ea32d60
            value: ''
            varType: string
            variable_selector:
            - conversation
            - selected_session
          - comparison_operator: not empty
            id: 115411c5-8c5b-4871-8fb3-a165df88dd90
            value: ''
            varType: string
            variable_selector:
            - conversation
            - selected_language
          - comparison_operator: is
            id: 8a73a0f2-da9e-4d39-a2a7-a372ef3457a5
            value: '3'
            varType: string
            variable_selector:
            - conversation
            - upload_step
          - comparison_operator: not empty
            id: f4bf51e0-2d5d-4206-aada-6d162e00f837
            value: ''
            varType: array[file]
            variable_selector:
            - sys
            - files
          id: 5c1f1a47-e49f-46f4-a58e-0ec06130d6a3
          logical_operator: and
        - case_id: b8cef663-35c6-41a3-922c-855a74c51580
          conditions:
          - comparison_operator: not empty
            id: 0dc7911e-dd4f-4c81-a0f9-15eef79ed056
            value: ''
            varType: string
            variable_selector:
            - conversation
            - selected_session
          - comparison_operator: not empty
            id: 4c089663-75f0-4f56-9f61-5594197eee2e
            value: ''
            varType: string
            variable_selector:
            - conversation
            - selected_language
          - comparison_operator: is
            id: f812a3bc-dfe5-4b37-b9be-15aa343e05f8
            value: '4'
            varType: string
            variable_selector:
            - conversation
            - upload_step
          - comparison_operator: not empty
            id: 02626e18-0401-4d58-a502-7ac1cd05276d
            value: ''
            varType: array[file]
            variable_selector:
            - sys
            - files
          id: b8cef663-35c6-41a3-922c-855a74c51580
          logical_operator: and
        - case_id: 834e124c-59da-465c-ab9c-089886099008
          conditions:
          - comparison_operator: not empty
            id: df7be8b3-cc28-44ac-827e-fb600ba7cbb3
            value: ''
            varType: string
            variable_selector:
            - conversation
            - selected_session
          - comparison_operator: not empty
            id: b8dcee05-68f0-4539-b11d-cd2e6439253a
            value: ''
            varType: string
            variable_selector:
            - conversation
            - selected_language
          - comparison_operator: is
            id: 557d353f-3542-4913-b0ea-faf12e36f811
            value: '5'
            varType: string
            variable_selector:
            - conversation
            - upload_step
          - comparison_operator: is
            id: 4d3e07ea-3637-494a-88db-0fb7ae28e608
            value: '1'
            varType: string
            variable_selector:
            - sys
            - query
          id: 834e124c-59da-465c-ab9c-089886099008
          logical_operator: and
        - case_id: 5509f003-7e2c-477b-8313-3ae5c4c527ce
          conditions:
          - comparison_operator: not empty
            id: 9bb3e078-7b4d-4c36-981c-561a309642b2
            value: ''
            varType: string
            variable_selector:
            - conversation
            - selected_session
          - comparison_operator: not empty
            id: fee37c7c-6295-48e1-b0f4-491357ff8ac4
            value: ''
            varType: string
            variable_selector:
            - conversation
            - selected_language
          - comparison_operator: is
            id: eb0519a6-c462-41d9-8ea2-dec32273f798
            value: '5'
            varType: string
            variable_selector:
            - conversation
            - upload_step
          - comparison_operator: is
            id: 129c9105-eb4a-4510-8473-6ead3c3634d6
            value: '2'
            varType: string
            variable_selector:
            - sys
            - query
          id: 5509f003-7e2c-477b-8313-3ae5c4c527ce
          logical_operator: and
        - case_id: 59c2967a-6440-4882-a345-441e41d532f0
          conditions:
          - comparison_operator: not empty
            id: 1567f288-52e8-4fce-9b2a-cb94e395c2b4
            value: ''
            varType: string
            variable_selector:
            - conversation
            - selected_session
          - comparison_operator: not empty
            id: 184677a7-cdd7-4a0b-9c53-74988dc547fb
            value: ''
            varType: string
            variable_selector:
            - conversation
            - selected_language
          - comparison_operator: is
            id: 719ffb21-7289-4b7c-8a35-c22b64c368cb
            value: '2'
            varType: string
            variable_selector:
            - conversation
            - qualitative_quantitative_init
          - comparison_operator: is
            id: 81729e1e-1e31-436b-9daa-3792efea4707
            value: '1'
            varType: string
            variable_selector:
            - conversation
            - currency_detected
          - comparison_operator: is
            id: a3b4123c-e596-48bb-910b-4c6d34daaf74
            value: '1'
            varType: string
            variable_selector:
            - sys
            - query
          id: 59c2967a-6440-4882-a345-441e41d532f0
          logical_operator: and
        - case_id: c57686a8-c5af-4eb9-840b-654ffeface46
          conditions:
          - comparison_operator: not empty
            id: ca37da0a-3283-4921-93a8-b2b3224176b5
            value: ''
            varType: string
            variable_selector:
            - conversation
            - selected_session
          - comparison_operator: not empty
            id: a516d610-a5c7-44e6-ba43-eb62e12467c1
            value: ''
            varType: string
            variable_selector:
            - conversation
            - selected_language
          - comparison_operator: is
            id: 052e9f95-55e8-4250-b86e-bd66608e7a6a
            value: '3'
            varType: string
            variable_selector:
            - conversation
            - qualitative_quantitative_init
          - comparison_operator: is
            id: 57221666-890c-4ce1-8d58-ffda49b7c0ee
            value: '1'
            varType: string
            variable_selector:
            - conversation
            - currency_detected
          - comparison_operator: not empty
            id: c51647df-9bda-4619-a213-cc238c4148b6
            value: ''
            varType: string
            variable_selector:
            - sys
            - query
          id: c57686a8-c5af-4eb9-840b-654ffeface46
          logical_operator: and
        - case_id: c7952be7-a500-4942-b867-0669d0bb5068
          conditions:
          - comparison_operator: not empty
            id: a7099055-1507-4751-a224-5b2d37eb8f0c
            value: ''
            varType: string
            variable_selector:
            - conversation
            - selected_session
          - comparison_operator: not empty
            id: 5a8b2306-cd77-4603-a732-c05d9449f099
            value: ''
            varType: string
            variable_selector:
            - conversation
            - selected_language
          - comparison_operator: is
            id: 8e4ce6cb-bde4-4dec-a019-bfc82697bab3
            value: '2'
            varType: string
            variable_selector:
            - conversation
            - qualitative_quantitative_init
          - comparison_operator: is
            id: 75de537d-6aac-47f6-b1df-d40094b669b3
            value: '2'
            varType: string
            variable_selector:
            - sys
            - query
          id: c7952be7-a500-4942-b867-0669d0bb5068
          logical_operator: and
        - case_id: 868bcdb2-a9b9-4bf7-bf5e-e206c52902ec
          conditions:
          - comparison_operator: not empty
            id: caa878a3-c2cb-4bd6-a21e-5ccdca5b9181
            value: ''
            varType: string
            variable_selector:
            - conversation
            - selected_session
          - comparison_operator: not empty
            id: 51e94fc0-c4ea-4d5e-9c08-9ea96ddd949e
            value: ''
            varType: string
            variable_selector:
            - conversation
            - selected_language
          - comparison_operator: is
            id: c3067840-1f88-4007-bca3-c5cc6de7c301
            value: '2'
            varType: string
            variable_selector:
            - conversation
            - qualitative_quantitative_init
          - comparison_operator: is not
            id: 5fb52f2e-98ad-4880-b840-f41e2dfd0a74
            value: '1'
            varType: string
            variable_selector:
            - sys
            - query
          - comparison_operator: is not
            id: bb8758ab-dd4d-43f8-a54e-90b2344ff57a
            value: '2'
            varType: string
            variable_selector:
            - sys
            - query
          id: 868bcdb2-a9b9-4bf7-bf5e-e206c52902ec
          logical_operator: and
        - case_id: 495d55f1-85ed-4bcc-bb4e-b2497fc00b6d
          conditions:
          - comparison_operator: not empty
            id: f3a8b3db-2ea3-4c4b-8aef-1e3168159185
            value: ''
            varType: string
            variable_selector:
            - conversation
            - selected_session
          - comparison_operator: not empty
            id: 1c713485-ea3f-49fe-b7da-bd8b1a0d65db
            value: ''
            varType: string
            variable_selector:
            - conversation
            - selected_language
          - comparison_operator: is
            id: 162110ff-9cfc-4e9d-90ba-e203dc70b300
            value: '1'
            varType: string
            variable_selector:
            - conversation
            - choose_option
          id: 495d55f1-85ed-4bcc-bb4e-b2497fc00b6d
          logical_operator: and
        - case_id: a2302dea-b9dd-433b-96e5-ffb321ac6c3e
          conditions:
          - comparison_operator: not empty
            id: e7d0e9d9-390d-42ef-8839-61de06fee977
            value: ''
            varType: string
            variable_selector:
            - conversation
            - selected_session
          - comparison_operator: not empty
            id: 784d6fa5-5ed1-4dc6-a98a-28f988bc6136
            value: ''
            varType: string
            variable_selector:
            - conversation
            - selected_language
          - comparison_operator: not empty
            id: ff52ab02-bece-4120-99e8-ac60aad636fc
            value: ''
            varType: string
            variable_selector:
            - conversation
            - choose_option
          id: a2302dea-b9dd-433b-96e5-ffb321ac6c3e
          logical_operator: and
        - case_id: b0432e17-bfc3-4fb7-b09d-63ce79156765
          conditions:
          - comparison_operator: not empty
            id: d26a78b8-a109-4dea-ae64-5f53e85188ec
            value: ''
            varType: string
            variable_selector:
            - conversation
            - selected_language
          - comparison_operator: empty
            id: 6bdfaaa1-03b4-4a6c-81ea-1db0322abd1d
            value: ''
            varType: string
            variable_selector:
            - conversation
            - selected_session
          - comparison_operator: not empty
            id: 059f6a31-1a7b-4623-a8fe-82d1fb252301
            value: ''
            varType: string
            variable_selector:
            - sys
            - query
          id: b0432e17-bfc3-4fb7-b09d-63ce79156765
          logical_operator: and
        - case_id: a628f2d4-e8ed-443d-bd1b-7dd5814a4f41
          conditions:
          - comparison_operator: not empty
            id: 602d7c97-70f8-4fb4-bad5-6836f7703d2e
            value: ''
            varType: string
            variable_selector:
            - conversation
            - selected_language
          - comparison_operator: not empty
            id: 80a38b7a-2264-41db-b325-70b88385a9f3
            value: ''
            varType: string
            variable_selector:
            - conversation
            - selected_session
          - comparison_operator: not empty
            id: 89d90d73-cc7a-4bb1-9954-f2a28ccdb782
            value: ''
            varType: string
            variable_selector:
            - sys
            - query
          id: a628f2d4-e8ed-443d-bd1b-7dd5814a4f41
          logical_operator: and
        desc: ''
        selected: false
        title: IF/ELSE
        type: if-else
      height: 2216
      id: '1770961019005'
      position:
        x: 1014.5631236584372
        y: 282
      positionAbsolute:
        x: 1014.5631236584372
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "def main(select_language: str, selected_language: str, user_guide:\
          \ dict):\n    lang_key = \"ja\" if select_language.lower() == \"日本語\" else\
          \ \"en\"\n\n    content = user_guide.get(lang_key, user_guide[\"en\"])\n\
          \n    btn_s1 = f'1. <button type=\"button\" data-message=\"1\">{content[\"\
          btn_s1\"]}</button>'\n    btn_s2 = f'2. <button type=\"button\" data-message=\"\
          2\">{content[\"btn_s2\"]}</button>'\n\n    final_message = f\"{content['text']}\\\
          n\\n{btn_s1}&emsp;&emsp;{btn_s2}\\n\\n\"\n\n    return {\n        \"selected_language\"\
          : lang_key,\n        \"result\": content[\"result\"],\n        \"message\"\
          : final_message\n    }"
        code_language: python3
        desc: Sets the workflow language to English or Japanese, retrieves localized
          content from the user_guide, and generates a formatted message with interactive
          buttons for session selection.
        outputs:
          message:
            children: null
            type: string
          result:
            children: null
            type: string
          selected_language:
            children: null
            type: string
        selected: false
        title: Choose Language
        type: code
        variables:
        - value_selector:
          - sys
          - query
          value_type: string
          variable: select_language
        - value_selector:
          - conversation
          - selected_language
          value_type: string
          variable: selected_language
        - value_selector:
          - conversation
          - user_guide
          value_type: object
          variable: user_guide
      height: 146
      id: '1770961638356'
      position:
        x: 1419
        y: 104
      positionAbsolute:
        x: 1419
        y: 104
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "def main(select_session: str, lang: str, session_config: dict):\n \
          \   session_data = session_config.get(select_session)\n    \n    if not\
          \ session_data:\n        return {\n            \"selected_session\": select_session,\n\
          \            \"message\": \"Error: Session not found.\"\n        }\n   \
          \ \n    message = session_data.get(lang, \"Error: Language content not found.\"\
          )\n\n    return {\n        \"selected_session\": select_session,\n     \
          \   \"message\": message\n    }"
        code_language: python3
        desc: Retrieves localized session content by mapping the user's button selection
          (1 or 2) against the session configuration and the previously selected language.
        outputs:
          message:
            children: null
            type: string
          selected_session:
            children: null
            type: string
        selected: false
        title: Choose Session
        type: code
        variables:
        - value_selector:
          - sys
          - query
          value_type: string
          variable: select_session
        - value_selector:
          - conversation
          - selected_language
          value_type: string
          variable: lang
        - value_selector:
          - conversation
          - session_config
          value_type: object
          variable: session_config
      height: 130
      id: '1770961764200'
      position:
        x: 1419
        y: 356.95640567746943
      positionAbsolute:
        x: 1419
        y: 356.95640567746943
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: Updates the global selected_language variable with the output from the
          Choose Language node to maintain the user's preference throughout the session.
        items:
        - input_type: variable
          operation: over-write
          value:
          - '1770961638356'
          - selected_language
          variable_selector:
          - conversation
          - selected_language
          write_mode: over-write
        selected: false
        title: Update Language
        type: assigner
        version: '2'
      height: 178
      id: '1770961899709'
      position:
        x: 1737.5963788289578
        y: 104
      positionAbsolute:
        x: 1737.5963788289578
        y: 104
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: Saves the user's session choice to the global selected_session variable,
          marking the session selection as complete and providing context for the
          rest of the flow.
        items:
        - input_type: variable
          operation: over-write
          value:
          - '1770961764200'
          - selected_session
          variable_selector:
          - conversation
          - selected_session
          write_mode: over-write
        selected: false
        title: Update Session
        type: assigner
        version: '2'
      height: 178
      id: '1770961996414'
      position:
        x: 1737.5963788289578
        y: 356.95640567746943
      positionAbsolute:
        x: 1737.5963788289578
        y: 356.95640567746943
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '{{#1770961764200.message#}}'
        desc: Outputs the final localized session content to the user, displaying
          the specific guide or information requested during the session selection
          step.
        selected: false
        title: Ask User To Upload Files
        type: answer
        variables: []
      height: 180
      id: '1770962030651'
      position:
        x: 2057
        y: 356.95640567746943
      positionAbsolute:
        x: 2057
        y: 356.95640567746943
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: Initializes the upload sequence by setting the upload_step variable
          to 1, signaling the start of the data collection phase.
        items:
        - input_type: constant
          operation: set
          value: '1'
          variable_selector:
          - conversation
          - upload_step
          write_mode: over-write
        selected: false
        title: upload_step = 1 (start)
        type: assigner
        version: '2'
      height: 162
      id: '1770962080077'
      position:
        x: 2376.4490308160575
        y: 356.95640567746943
      positionAbsolute:
        x: 2376.4490308160575
        y: 356.95640567746943
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '{{#conversation.choose_language_first#}}'
        desc: ''
        selected: false
        title: Please Choose Language
        type: answer
        variables: []
      height: 105
      id: '1770962482069'
      position:
        x: 1419
        y: 3231.0574825508415
      positionAbsolute:
        x: 1419
        y: 3231.0574825508415
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '{{#1771490895856.result#}}'
        desc: ''
        selected: false
        title: Not Allowed Result
        type: answer
        variables: []
      height: 104
      id: '1770963388580'
      position:
        x: 1737.5963788289578
        y: 3166.4701206881996
      positionAbsolute:
        x: 1737.5963788289578
        y: 3166.4701206881996
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: 16047162-d510-4e0d-91ab-155ea088e4c6
            value: 'true'
            varType: string
            variable_selector:
            - '17715003232610'
            - is_valid
          - comparison_operator: is
            id: df4563c3-9afe-4eda-8184-c8fb77dd7f49
            value: '1'
            varType: string
            variable_selector:
            - conversation
            - upload_step
          id: 'true'
          logical_operator: and
        - case_id: cde25911-a8e2-4650-8597-51a2a3bf65e7
          conditions:
          - comparison_operator: is
            id: b23d80da-b97f-46af-9072-043445d645b0
            value: 'true'
            varType: string
            variable_selector:
            - '17715003232610'
            - is_valid
          - comparison_operator: is
            id: e1fe871a-88f8-4b56-ac81-96d9ee004f85
            value: '2'
            varType: string
            variable_selector:
            - conversation
            - upload_step
          id: cde25911-a8e2-4650-8597-51a2a3bf65e7
          logical_operator: and
        - case_id: 810f57a9-4f1e-44dd-b066-a37d780eb56b
          conditions:
          - comparison_operator: is
            id: d6382729-6af9-4e21-89e1-2985471c6006
            value: 'true'
            varType: string
            variable_selector:
            - '17715003232610'
            - is_valid
          - comparison_operator: is
            id: 3ad7cc9d-7f43-4fdc-a464-8fdd174a265b
            value: '3'
            varType: string
            variable_selector:
            - conversation
            - upload_step
          id: 810f57a9-4f1e-44dd-b066-a37d780eb56b
          logical_operator: and
        - case_id: 803ef967-b25d-4e50-8b4c-1879ba6d6165
          conditions:
          - comparison_operator: is
            id: ce367bdf-4aa0-419b-945b-1a0999f51e5a
            value: 'true'
            varType: string
            variable_selector:
            - '17715003232610'
            - is_valid
          - comparison_operator: is
            id: 4bffa590-2938-49fd-a4c2-fe0a49218363
            value: '4'
            varType: string
            variable_selector:
            - conversation
            - upload_step
          id: 803ef967-b25d-4e50-8b4c-1879ba6d6165
          logical_operator: and
        - case_id: 4c5ae5bb-87c5-4176-85eb-b482d906a179
          conditions:
          - comparison_operator: is
            id: 6bb140bc-0e68-4a49-adde-3127818b0d81
            value: 'false'
            varType: string
            variable_selector:
            - '17715003232610'
            - is_valid
          id: 4c5ae5bb-87c5-4176-85eb-b482d906a179
          logical_operator: and
        desc: Determines the next phase of the workflow by checking if the current
          file upload is valid and identifying which step (1-4) was just completed
          to trigger the appropriate state update.
        selected: false
        title: IF/ELSE
        type: if-else
      height: 514
      id: '1771401586624'
      position:
        x: 2376.4490308160575
        y: 567.9872226485688
      positionAbsolute:
        x: 2376.4490308160575
        y: 567.9872226485688
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: 'Saves the validated Excel metadata into the variable file_bu_hearing.

          Increments the upload_step variable from 1 to 2.

          Marks the "Current Month’s BU-A Hearing" task as complete and signals the
          workflow to start requesting the next document.

          '
        items:
        - input_type: constant
          operation: set
          value: '2'
          variable_selector:
          - conversation
          - upload_step
          write_mode: over-write
        - input_type: variable
          operation: over-write
          value:
          - '17715003232610'
          - file_url
          variable_selector:
          - conversation
          - file_bu_hearing
          write_mode: over-write
        - input_type: variable
          operation: over-write
          value:
          - '17715003232610'
          - file_name
          variable_selector:
          - conversation
          - file_bu_hearing_name
          write_mode: over-write
        - input_type: variable
          operation: over-write
          value:
          - '17715003232610'
          - file_size
          variable_selector:
          - conversation
          - file_size
          write_mode: over-write
        selected: false
        title: upload_step = 2 (PDF)
        type: assigner
        version: '2'
      height: 304
      id: '1771401641682'
      position:
        x: 2915.8010819142764
        y: 205.82965491375597
      positionAbsolute:
        x: 2915.8010819142764
        y: 205.82965491375597
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '{{#17715003232610.message#}}'
        desc: Informs the user of specific file-related errors, such as incorrect
          extensions or multiple file uploads, and prompts them to try again with
          the correct document.
        selected: false
        title: File Upload Error
        type: answer
        variables: []
      height: 180
      id: '1771401685782'
      position:
        x: 4343.662763016205
        y: 1009.9022094077818
      positionAbsolute:
        x: 4343.662763016205
        y: 1009.9022094077818
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '{{#1772089624663.result#}}

          {{#conversation.file_bu_hearing_name#}}

          {{#conversation.file_performance_variance_name#}}

          {{#conversation.file_number_table_name#}}

          {{#conversation.file_prev_bu_hearing_name#}}


          ***


          {{#17715003232610.message#}}

          '
        desc: Displays a success confirmation to the user, showing the name of the
          uploaded file and the localized success message before proceeding to the
          next upload requirement.
        selected: false
        title: Files Uploaded Succesfully
        type: answer
        variables: []
      height: 290
      id: '1771401719495'
      position:
        x: 4024.9142576461654
        y: 780.7006101254688
      positionAbsolute:
        x: 4024.9142576461654
        y: 780.7006101254688
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: 'Saves the validated Excel metadata into the variable file_performance_variance.

          Increments the upload_step variable to 3.

          Marks the "BU-Performance Variance Data" task as complete.'
        items:
        - input_type: constant
          operation: set
          value: '3'
          variable_selector:
          - conversation
          - upload_step
          write_mode: over-write
        - input_type: variable
          operation: over-write
          value:
          - '17715003232610'
          - file_url
          variable_selector:
          - conversation
          - file_performance_variance
          write_mode: over-write
        - input_type: variable
          operation: over-write
          value:
          - '17715003232610'
          - file_name
          variable_selector:
          - conversation
          - file_performance_variance_name
          write_mode: over-write
        - input_type: variable
          operation: over-write
          value:
          - '17715003232610'
          - file_size
          variable_selector:
          - conversation
          - file_size
          write_mode: over-write
        selected: false
        title: upload_step = 3 (Excel)
        type: assigner
        version: '2'
      height: 272
      id: '17714034194010'
      position:
        x: 2915.8010819142764
        y: 534.6894227406468
      positionAbsolute:
        x: 2915.8010819142764
        y: 534.6894227406468
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: 'Saves the validated metadata into the variable file_number_table.

          Increments the upload_step variable to 4.

          Marks the "Number Table Data" task as complete.

          '
        items:
        - input_type: constant
          operation: set
          value: '4'
          variable_selector:
          - conversation
          - upload_step
          write_mode: over-write
        - input_type: variable
          operation: over-write
          value:
          - '17715003232610'
          - file_url
          variable_selector:
          - conversation
          - file_number_table
          write_mode: over-write
        - input_type: variable
          operation: over-write
          value:
          - '17715003232610'
          - file_name
          variable_selector:
          - conversation
          - file_number_table_name
          write_mode: over-write
        - input_type: variable
          operation: over-write
          value:
          - '17715003232610'
          - file_size
          variable_selector:
          - conversation
          - file_size
          write_mode: over-write
        selected: false
        title: upload_step = 4 (Excel)
        type: assigner
        version: '2'
      height: 272
      id: '17714078066020'
      position:
        x: 2915.8010819142764
        y: 835.4041385456262
      positionAbsolute:
        x: 2915.8010819142764
        y: 835.4041385456262
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: 'Saves the final validated file into file_prev_bu_hearing.

          Sets the upload_step variable to 5.

          Marks the "Previous Month’s BU-A Hearing" task as complete and signals that
          all four required documents have been successfully collected.

          Message to reupload Yes/ No'
        items:
        - input_type: constant
          operation: set
          value: '5'
          variable_selector:
          - conversation
          - upload_step
          write_mode: over-write
        - input_type: variable
          operation: over-write
          value:
          - '17715003232610'
          - file_url
          variable_selector:
          - conversation
          - file_prev_bu_hearing
          write_mode: over-write
        - input_type: variable
          operation: over-write
          value:
          - '17715003232610'
          - file_name
          variable_selector:
          - conversation
          - file_prev_bu_hearing_name
          write_mode: over-write
        - input_type: variable
          operation: over-write
          value:
          - '17715003232610'
          - file_size
          variable_selector:
          - conversation
          - file_size
          write_mode: over-write
        selected: false
        title: upload_step = 5 (PDF)
        type: assigner
        version: '2'
      height: 304
      id: '17714084762600'
      position:
        x: 2915.8010819142764
        y: 1134.9947517108556
      positionAbsolute:
        x: 2915.8010819142764
        y: 1134.9947517108556
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "def main(step: str, file_error_message: dict, selected_language: str)\
          \ -> dict:\n    if step in file_error_message:\n        msg = file_error_message[step].get(selected_language,\
          \ file_error_message[step].get(\"en\"))\n    else:\n        msg = \"Not\
          \ Allowed.\"\n\n    return {\n        \"result\": msg\n    }"
        code_language: python3
        desc: ''
        outputs:
          result:
            children: null
            type: string
        selected: false
        title: Not Allowed
        type: code
        variables:
        - value_selector:
          - conversation
          - upload_step
          value_type: string
          variable: step
        - value_selector:
          - conversation
          - selected_language
          value_type: string
          variable: selected_language
        - value_selector:
          - conversation
          - resubmit_error_message
          value_type: object
          variable: file_error_message
      height: 54
      id: '1771490895856'
      position:
        x: 1419
        y: 3166.4701206881996
      positionAbsolute:
        x: 1419
        y: 3166.4701206881996
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "import re\nimport json\n\ndef main(inputs: str, current_step: str,\
          \ file_error_message: object, selected_language: str):\n    pattern = r\"\
          ^(0[1-9]|1[0-2])\\/\\d{4}$\"\n    is_valid = bool(re.match(pattern, str(inputs).strip()))\n\
          \    \n    step_rule = file_error_message[current_step]\n    month_format_rule\
          \ = step_rule.get(\"month_format\", {})\n    \n    error_val = month_format_rule.get(selected_language,\
          \ \"Invalid text format.\")\n    error_text = error_val if isinstance(error_val,\
          \ str) else str(error_val.get(\"error\", error_val))\n\n    return {\n \
          \       \"is_valid\": str(is_valid).lower(),\n        \"step\": str(current_step),\n\
          \        \"error_message\": str(error_text)\n    }"
        code_language: python3
        desc: Validates that the user's input follows the MM/YYYY format and retrieves
          the appropriate localized error message from the configuration for the current
          upload step.
        outputs:
          error_message:
            children: null
            type: string
          is_valid:
            children: null
            type: string
          step:
            children: null
            type: string
        selected: false
        title: Validate Date Format
        type: code
        variables:
        - value_selector:
          - sys
          - query
          value_type: string
          variable: inputs
        - value_selector:
          - conversation
          - upload_step
          value_type: string
          variable: current_step
        - value_selector:
          - conversation
          - file_error_message
          value_type: string
          variable: file_error_message
        - value_selector:
          - conversation
          - selected_language
          value_type: string
          variable: selected_language
      height: 146
      id: '1771491738462'
      position:
        x: 1439.6029817035383
        y: 895.7367472344013
      positionAbsolute:
        x: 1439.6029817035383
        y: 895.7367472344013
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        cases:
        - case_id: 09eae6cb-912c-45df-89b0-2105df00270a
          conditions:
          - comparison_operator: is
            id: 4bf3b887-913e-4d78-8951-bf670c5df900
            value: 'true'
            varType: string
            variable_selector:
            - '1771491738462'
            - is_valid
          id: 09eae6cb-912c-45df-89b0-2105df00270a
          logical_operator: and
        desc: 'Evaluates the validation results from the code node: routes the user
          to the next step if the input is correct, or triggers an error response
          if the format is invalid'
        selected: false
        title: IF/ELSE
        type: if-else
      height: 202
      id: '1771491747321'
      position:
        x: 1737.5963788289578
        y: 696.4215937219822
      positionAbsolute:
        x: 1737.5963788289578
        y: 696.4215937219822
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '{{#1771491738462.error_message#}}'
        desc: If validation fails, the workflow routes the user back to an Answer
          node that displays the specific error_message retrieved from the configuration.
        selected: false
        title: MM/YYYY Error
        type: answer
        variables: []
      height: 180
      id: '17714919546840'
      position:
        x: 2057
        y: 895.7367472344013
      positionAbsolute:
        x: 2057
        y: 895.7367472344013
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "def main(files: list, current_step: str, lang: str, file_error_message:\
          \ dict, file_upload_success_message: dict, file_size_param: str) -> dict:\n\
          \    output = {\n        \"is_valid\": \"false\",\n        \"message\":\
          \ \"\", \n        \"is_pdf\": \"false\",\n        \"is_excel\": \"false\"\
          ,\n        \"file_id\": \"\",\n        \"file_name\": \"\",\n        \"\
          file_url\": \"\",\n        \"mime_type\": \"\",\n        \"file_size\":\
          \ 0,\n        \"step\": str(current_step)\n    }\n\n    MAX_SIZE = 10 *\
          \ 1024 * 1024  # 10MB in bytes\n\n    # --- 1. Handle the incoming file_size_param\
          \ ---\n    try:\n        previous_total_size = int(file_size_param) if file_size_param\
          \ and str(file_size_param).isdigit() else 0\n    except ValueError:\n  \
          \      previous_total_size = 0\n\n    if not files or len(files) != 1:\n\
          \        output[\"message\"] = \"Please upload exactly one file.\" if lang\
          \ == \"en\" else \"ファイルを1つだけアップロードしてください。\"\n        return output\n\n \
          \   file = files[0]\n    file_id = str(file.get(\"related_id\") or file.get(\"\
          id\") or \"\")\n    file_name = str(file.get(\"filename\") or file.get(\"\
          name\") or \"\")\n    file_url = str(file.get(\"url\") or file.get(\"remote_url\"\
          ) or \"\")\n    mime_type = str(file.get(\"mime_type\", \"\")).lower()\n\
          \    current_file_size = file.get(\"size\", 0)\n    \n    # --- 2. Calculate\
          \ New Total ---\n    new_total_size = previous_total_size + current_file_size\n\
          \    \n    ext = (file.get(\"extension\") or \"\").lower()\n    if not ext\
          \ and \".\" in file_name:\n        ext = \".\" + file_name.split(\".\")[-1].lower()\n\
          \n    if current_step not in file_error_message:\n        output[\"message\"\
          ] = f\"Invalid step: {current_step}\"\n        return output\n\n    step_rule\
          \ = file_error_message[current_step]\n    type_rule = step_rule.get(\"file_type\"\
          , {})\n    size_rule = step_rule.get(\"file_size\", {})\n    expected_type\
          \ = type_rule.get(\"type\", \"\").lower()\n    \n    # Validation Logic\n\
          \    is_pdf = (expected_type == \"pdf\" and (ext == \".pdf\" or \"pdf\"\
          \ in mime_type))\n    is_excel = (expected_type == \"excel\" and (ext in\
          \ [\".xlsx\", \".xls\"] or \"spreadsheet\" in mime_type or \"excel\" in\
          \ mime_type))\n    \n    # --- 3. Validate against the NEW total ---\n \
          \   is_size_valid = new_total_size <= MAX_SIZE\n    \n    # Success Case\n\
          \    if (is_pdf or is_excel) and is_size_valid and current_file_size > 0:\n\
          \        success_data = file_upload_success_message.get(current_step, {})\n\
          \        raw_msg = success_data.get(lang, \"Upload successful\")\n     \
          \   output[\"message\"] = raw_msg if isinstance(raw_msg, str) else str(raw_msg.get(\"\
          message\", raw_msg))\n        output[\"is_valid\"] = \"true\"\n        output[\"\
          is_pdf\"] = \"true\" if is_pdf else \"false\"\n        output[\"is_excel\"\
          ] = \"true\" if is_excel else \"false\"\n        output[\"file_id\"] = file_id\n\
          \        output[\"file_name\"] = file_name\n        output[\"file_url\"\
          ] = file_url\n        output[\"mime_type\"] = mime_type\n        output[\"\
          file_size\"] = str(new_total_size)\n        \n    # Size Error Case\n  \
          \  elif not is_size_valid:\n        error_val = size_rule.get(lang, \"Total\
          \ file size exceeds 10MB limit.\")\n        output[\"message\"] = error_val\
          \ if isinstance(error_val, str) else str(error_val.get(\"error\", error_val))\n\
          \        output[\"file_size\"] = str(previous_total_size)\n        \n  \
          \  # Type/Format or Empty File Error Case\n    else:\n        error_val\
          \ = type_rule.get(lang, \"Invalid file format.\")\n        output[\"message\"\
          ] = error_val if isinstance(error_val, str) else str(error_val.get(\"error\"\
          , error_val))\n        output[\"file_size\"] = str(previous_total_size)\n\
          \n    return output"
        code_language: python3
        desc: Performs deep validation on uploaded files by checking the count, extension,
          and mime-type against the step-specific configuration (PDF or Excel), returning
          localized success or error messages.
        outputs:
          file_id:
            children: null
            type: string
          file_name:
            children: null
            type: string
          file_size:
            children: null
            type: string
          file_url:
            children: null
            type: string
          is_excel:
            children: null
            type: string
          is_pdf:
            children: null
            type: string
          is_valid:
            children: null
            type: string
          message:
            children: null
            type: string
          mime_type:
            children: null
            type: string
          step:
            children: null
            type: string
        selected: false
        title: Upload File & Validate
        type: code
        variables:
        - value_selector:
          - sys
          - files
          value_type: array[file]
          variable: files
        - value_selector:
          - conversation
          - upload_step
          value_type: string
          variable: current_step
        - value_selector:
          - conversation
          - file_error_message
          value_type: object
          variable: file_error_message
        - value_selector:
          - conversation
          - file_upload_success_message
          value_type: object
          variable: file_upload_success_message
        - value_selector:
          - conversation
          - selected_language
          value_type: string
          variable: lang
        - value_selector:
          - conversation
          - file_size
          value_type: string
          variable: file_size_param
      height: 146
      id: '17715003232610'
      position:
        x: 2057
        y: 567.9872226485688
      positionAbsolute:
        x: 2057
        y: 567.9872226485688
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '{{#1771828947423.message#}}'
        desc: Sends the reset instructions to the user, prompting them to start the
          upload process again.
        selected: false
        title: Message to reupload
        type: answer
        variables: []
      height: 164
      id: '1771508373780'
      position:
        x: 2057
        y: 1153.2234138336491
      positionAbsolute:
        x: 2057
        y: 1153.2234138336491
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: Clears all previously stored file variables and resets the upload_step
          counter, allowing the user to start the upload process over.
        items:
        - input_type: constant
          operation: set
          value: '1'
          variable_selector:
          - conversation
          - upload_step
          write_mode: over-write
        - input_type: variable
          operation: clear
          value: ''
          variable_selector:
          - conversation
          - file_prev_bu_hearing
          write_mode: over-write
        - input_type: variable
          operation: clear
          value: ''
          variable_selector:
          - conversation
          - file_number_table
          write_mode: over-write
        - input_type: variable
          operation: clear
          value: ''
          variable_selector:
          - conversation
          - file_performance_variance
          write_mode: over-write
        - input_type: variable
          operation: clear
          value: ''
          variable_selector:
          - conversation
          - file_bu_hearing
          write_mode: over-write
        - input_type: variable
          operation: clear
          value: ''
          variable_selector:
          - conversation
          - file_bu_hearing_name
          write_mode: over-write
        - input_type: variable
          operation: clear
          value: ''
          variable_selector:
          - conversation
          - file_performance_variance_name
          write_mode: over-write
        - input_type: variable
          operation: clear
          value: ''
          variable_selector:
          - conversation
          - file_number_table_name
          write_mode: over-write
        - input_type: variable
          operation: clear
          value: ''
          variable_selector:
          - conversation
          - file_prev_bu_hearing_name
          write_mode: over-write
        - input_type: variable
          operation: clear
          value: ''
          variable_selector:
          - conversation
          - file_size
          write_mode: over-write
        - input_type: variable
          operation: clear
          value: ''
          variable_selector:
          - conversation
          - currency_detected
          write_mode: over-write
        selected: false
        title: upload_step = RESET
        type: assigner
        version: '2'
      height: 422
      id: '17718284481690'
      position:
        x: 1419
        y: 1153.2234138336491
      positionAbsolute:
        x: 1419
        y: 1153.2234138336491
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "def main(selected_session: str, selected_lang: str, reset_upload_message:\
          \ dict):\n    data = reset_upload_message.get(selected_session)\n    \n\
          \    if not data:\n        return {\n            \"message\": \"Error: Session\
          \ not found.\"\n        }\n    \n    message = data.get(selected_lang, \"\
          Error: Language content not found.\")\n\n    return {\n        \"message\"\
          : message\n    }"
        code_language: python3
        desc: It prepares the message output that re-explains the required file format
          (MM/YYYY) and document type to ensure the user can restart correctly.
        outputs:
          message:
            children: null
            type: string
        selected: false
        title: Reset File Upload
        type: code
        variables:
        - value_selector:
          - conversation
          - selected_language
          value_type: string
          variable: selected_lang
        - value_selector:
          - conversation
          - selected_session
          value_type: string
          variable: selected_session
        - value_selector:
          - conversation
          - reset_upload_message
          value_type: object
          variable: reset_upload_message
      height: 130
      id: '1771828947423'
      position:
        x: 1737.5963788289578
        y: 1153.2234138336491
      positionAbsolute:
        x: 1737.5963788289578
        y: 1153.2234138336491
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '{{#1772088040396.result#}}'
        desc: ''
        selected: false
        title: Currency Detected
        type: answer
        variables: []
      height: 104
      id: '1771836083467'
      position:
        x: 2057
        y: 1645.3287364302091
      positionAbsolute:
        x: 2057
        y: 1645.3287364302091
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: contains
            id: 7f80ecea-a1fc-4c26-8003-82bf63117430
            value: FOUND
            varType: string
            variable_selector:
            - '17721040077580'
            - text
          id: 'true'
          logical_operator: and
        desc: ''
        selected: false
        title: IF/ELSE Currency Detected
        type: if-else
      height: 126
      id: '1772021350416'
      position:
        x: 3193.7230687070924
        y: 477.86927621194536
      positionAbsolute:
        x: 3193.7230687070924
        y: 477.86927621194536
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        items:
        - input_type: constant
          operation: set
          value: '1'
          variable_selector:
          - conversation
          - currency_detected
          write_mode: over-write
        selected: false
        title: Currency Detected (True)
        type: assigner
        version: '2'
      height: 86
      id: '1772021368754'
      position:
        x: 3470.169092265335
        y: 477.86927621194536
      positionAbsolute:
        x: 3470.169092265335
        y: 477.86927621194536
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: 32f8449a-e2be-46d6-bbb6-d6b83ecd6669
            value: '1'
            varType: string
            variable_selector:
            - conversation
            - currency_detected
          id: 'true'
          logical_operator: and
        desc: Check Currency Conversion Require or Not
        selected: false
        title: Check Currency Conversion Require or Not
        type: if-else
      height: 170
      id: '1772021799730'
      position:
        x: 1419
        y: 1613.3746715504217
      positionAbsolute:
        x: 1419
        y: 1613.3746715504217
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: Not Detected / Give Report Options (1)
        items:
        - input_type: constant
          operation: set
          value: '1'
          variable_selector:
          - conversation
          - qualitative_quantitative_init
          write_mode: over-write
        selected: false
        title: Not Detected / Give Report Options
        type: assigner
        version: '2'
      height: 114
      id: '1772021855867'
      position:
        x: 1737.5963788289578
        y: 1858.67894978997
      positionAbsolute:
        x: 1737.5963788289578
        y: 1858.67894978997
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '{{#1772088460750.result#}}'
        desc: ''
        selected: false
        title: Select Report Type
        type: answer
        variables: []
      height: 104
      id: '1772021892781'
      position:
        x: 5219.434717645633
        y: 1876.5118037804223
      positionAbsolute:
        x: 5219.434717645633
        y: 1876.5118037804223
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '{{#1772087814845.result#}}'
        desc: ''
        selected: false
        title: Enter Currency Rate
        type: answer
        variables: []
      height: 104
      id: '1772022128510'
      position:
        x: 1737.5963788289578
        y: 2171.6784347029397
      positionAbsolute:
        x: 1737.5963788289578
        y: 2171.6784347029397
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: (3) Have Currency Rate, Now Convert The Bu Hearing Doc (3)
        items:
        - input_type: constant
          operation: set
          value: '3'
          variable_selector:
          - conversation
          - qualitative_quantitative_init
          write_mode: over-write
        selected: false
        title: Start Converting Doc
        type: assigner
        version: '2'
      height: 130
      id: '17720222050930'
      position:
        x: 2057
        y: 2171.6784347029397
      positionAbsolute:
        x: 2057
        y: 2171.6784347029397
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        items:
        - input_type: variable
          operation: over-write
          value:
          - sys
          - query
          variable_selector:
          - conversation
          - conversion_rate
          write_mode: over-write
        selected: false
        title: Save Currency Rate
        type: assigner
        version: '2'
      height: 86
      id: '1772023663084'
      position:
        x: 1746.0053432710072
        y: 2420.811327044107
      positionAbsolute:
        x: 1746.0053432710072
        y: 2420.811327044107
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: 'Detected / User Choice Enable (2)

          Freeze Upload Step (6)'
        items:
        - input_type: constant
          operation: set
          value: '2'
          variable_selector:
          - conversation
          - qualitative_quantitative_init
          write_mode: over-write
        - input_type: constant
          operation: set
          value: '6'
          variable_selector:
          - conversation
          - upload_step
          write_mode: over-write
        selected: false
        title: User Choice Enable
        type: assigner
        version: '2'
      height: 156
      id: '1772024542633'
      position:
        x: 2376.4490308160575
        y: 1645.3287364302091
      positionAbsolute:
        x: 2376.4490308160575
        y: 1645.3287364302091
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "import re\n\ndef main(query: str) -> dict:\n    clean = str(query).strip()\n\
          \n    # basic numeric check (max 6 decimals)\n    if not re.fullmatch(r\"\
          \\d+(\\.\\d{1,6})?\", clean):\n        return {\"result\": \"false\"}\n\n\
          \    val = float(clean)\n\n    if 0 < val < 300:\n        return {\"result\"\
          : clean}\n\n    return {\"result\": \"false\"}"
        code_language: python3
        desc: ''
        outputs:
          result:
            children: null
            type: string
        selected: false
        title: Validate Currency Rate
        type: code
        variables:
        - value_selector:
          - sys
          - query
          value_type: string
          variable: query
      height: 54
      id: '1772026444415'
      position:
        x: 1419
        y: 2365.3121617265815
      positionAbsolute:
        x: 1419
        y: 2365.3121617265815
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: d6514713-2cca-4e2c-9b28-df9d4a51272f
            value: 'false'
            varType: string
            variable_selector:
            - '1772026444415'
            - result
          id: 'true'
          logical_operator: and
        desc: IF Invalid (Err) Else Convert Doc
        selected: false
        title: IF Invalid (Err) Else Convert Doc
        type: if-else
      height: 154
      id: '1772026835841'
      position:
        x: 2057
        y: 2365.3121617265815
      positionAbsolute:
        x: 2057
        y: 2365.3121617265815
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '{{#1772088300997.result#}}'
        desc: ''
        selected: false
        title: Invalid Conversion Rate
        type: answer
        variables: []
      height: 104
      id: '1772026880126'
      position:
        x: 2915.8010819142764
        y: 2365.3121617265815
      positionAbsolute:
        x: 2915.8010819142764
        y: 2365.3121617265815
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: Init Report Creation / Stop Detection and Conversion
        items:
        - input_type: constant
          operation: set
          value: '1'
          variable_selector:
          - conversation
          - choose_option
          write_mode: over-write
        - input_type: constant
          operation: set
          value: '4'
          variable_selector:
          - conversation
          - qualitative_quantitative_init
          write_mode: over-write
        - input_type: constant
          operation: set
          value: '6'
          variable_selector:
          - conversation
          - upload_step
          write_mode: over-write
        selected: false
        title: Init Report Creation / Stop Detection and Conversion
        type: assigner
        version: '2'
      height: 182
      id: '1772026999589'
      position:
        x: 5542.608349348697
        y: 1876.5118037804223
      positionAbsolute:
        x: 5542.608349348697
        y: 1876.5118037804223
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: []
          type: none
        desc: ''
        error_strategy: fail-branch
        headers: ''
        method: get
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: Convert BU Hearing MOM
        type: http-request
        url: '{{#conversation.file_bu_hearing#}}'
        variables: []
      height: 163
      id: '1772027983705'
      position:
        x: 2915.8010819142764
        y: 2515.4140833018328
      positionAbsolute:
        x: 2915.8010819142764
        y: 2515.4140833018328
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        error_strategy: fail-branch
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gemini-2.5-pro
          provider: langgenius/gemini/google
        prompt_template:
        - id: 68c7a2e2-1af9-41ea-8bd9-d5ee78f5a4a2
          role: system
          text: 'Data Source: {{#1772027983705.files#}}

            Role: You are a highly precise Document-to-Text Parser. Your objective
            is to extract all written prose and tabular data from the provided document
            while enforcing a strict, absolute blackout on all visual and graph-based
            content.

            Core Directives:

            Sequential Extraction: Process the document page-by-page. Use the markdown
            header ## Page [X] to separate them.

            Zero Text Loss for Prose: Transcribe all paragraphs, headings, lists,
            and standard prose exactly as written.

            STRICT Table & Visual Blackout: You must completely ignore the following
            elements:

            Tables: If you encounter a data table or grid, skip it entirely. Do not
            transcribe it, do not summarize it, and do not include any of its data
            points in the output.

            Visuals: Ignore all images, photographs, icons, diagrams, and graphs (including
            waterfall, bar, pie, or line graphs).

            Ignore Embedded Graph Text (Crucial): If a page consists entirely or primarily
            of a visual graph or chart, you must skip the entire page. Do NOT transcribe
            the axis labels, legends, data points, or floating text associated with
            the graph, even if your OCR/source data provides them as readable text.

            No Placeholders: Do not include phrases like "[Image omitted]" or "[Graph
            skipped]". If a page is skipped, simply do not output that page number.

            Quality Check: Before providing the output, verify that no fragmented
            text, floating numbers, or labels from skipped graphs have slipped into
            the output, and ensure that no statistical data from valid tables was
            dropped.

            '
        selected: false
        title: Extract BU Hearing Data
        type: llm
        variables: []
        vision:
          configs:
            detail: high
            variable_selector:
            - '1772027983705'
            - files
          enabled: true
      height: 126
      id: '1772028083342'
      position:
        x: 3227.358925548851
        y: 2515.4140833018328
      positionAbsolute:
        x: 3227.358925548851
        y: 2515.4140833018328
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        items:
        - input_type: variable
          operation: over-write
          value:
          - '1772028083342'
          - text
          variable_selector:
          - conversation
          - extracted_doc
          write_mode: over-write
        selected: false
        title: Save BU Hearing Data
        type: assigner
        version: '2'
      height: 86
      id: '1772084696521'
      position:
        x: 3540.8043916330275
        y: 2515.4140833018328
      positionAbsolute:
        x: 3540.8043916330275
        y: 2515.4140833018328
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        error_strategy: fail-branch
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gemini-2.5-pro
          provider: langgenius/gemini/google
        prompt_template:
        - id: ccf25708-5dfd-4347-a3e1-43f8d99e1bc5
          role: system
          text: 'Role: You are a high-precision data processing engine. Your task
            is string-replacement and currency calculation only.


            Data Source: {{#conversation.extracted_doc#}}


            Objective: Scan the provided document {{#conversation.extracted_doc#}}
            for US Dollars (USD/$) and replace them with Japanese Yen (JPY/¥) use
            {{#conversation.conversion_rate#}}for all the conversion.

            Mandatory Workflow:


            Input Validation (Critical): If the Data Source is empty, null, or contains
            no text, output: [NO_TEXT_TO_PROCESS]. Do not attempt to replicate or
            calculate.


            Literal Replication: You must perform a character-for-character replication
            of the original text.

            The "No-Change" Rule: * Do NOT summarize.

            Do NOT fix grammar or typos in the original text.

            Do NOT omit headers, footers, or citations.

            Do NOT change the layout or paragraph structure.


            The Conversion Rule: When you find a USD value, calculate the JYP equivalent
            using the rate provided in {{#conversation.conversion_rate#}}. Replace
            the USD text with the JYP result.

            Example: "The cost was $10.25 USD" becomes "The cost was ¥1,500 JYP" (assuming
            the rate).


            Verification Step: After generating the response, perform a "self-audit"
            to ensure the word count and structure match the original perfectly.'
        - id: 7a2a1020-0965-4e42-bb6a-6ddd4161eb7e
          role: user
          text: '{{#conversation.extracted_doc#}}

            {{#conversation.conversion_rate#}}'
        selected: false
        title: Convert BU Hearing
        type: llm
        variables: []
        vision:
          enabled: false
      height: 126
      id: '1772084739877'
      position:
        x: 3851.277672644724
        y: 2515.4140833018328
      positionAbsolute:
        x: 3851.277672644724
        y: 2515.4140833018328
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        items:
        - input_type: variable
          operation: over-write
          value:
          - '1772084739877'
          - text
          variable_selector:
          - conversation
          - extracted_doc
          write_mode: over-write
        - input_type: constant
          operation: set
          value: '1'
          variable_selector:
          - conversation
          - conversion_file_1
          write_mode: over-write
        selected: false
        title: Save BU Hearing (converted)
        type: assigner
        version: '2'
      height: 112
      id: '1772084897574'
      position:
        x: 4156.094099329023
        y: 2515.4140833018328
      positionAbsolute:
        x: 4156.094099329023
        y: 2515.4140833018328
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: []
          type: none
        desc: ''
        error_strategy: fail-branch
        headers: ''
        method: get
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: Convert Prev BU Hearing MOM
        type: http-request
        url: '{{#conversation.file_prev_bu_hearing#}}'
        variables: []
      height: 163
      id: '17720850835160'
      position:
        x: 2915.8010819142764
        y: 2713.0557087703296
      positionAbsolute:
        x: 2915.8010819142764
        y: 2713.0557087703296
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        error_strategy: fail-branch
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gemini-2.5-pro
          provider: langgenius/gemini/google
        prompt_template:
        - id: 68c7a2e2-1af9-41ea-8bd9-d5ee78f5a4a2
          role: system
          text: 'Data Source: {{#17720850835160.files#}}

            Role: You are a highly precise Document-to-Text Parser. Your objective
            is to extract all written prose and tabular data from the provided document
            while enforcing a strict, absolute blackout on all visual and graph-based
            content.

            Core Directives:

            Sequential Extraction: Process the document page-by-page. Use the markdown
            header ## Page [X] to separate them.

            Zero Text Loss for Prose: Transcribe all paragraphs, headings, lists,
            and standard prose exactly as written.

            STRICT Table & Visual Blackout: You must completely ignore the following
            elements:

            Tables: If you encounter a data table or grid, skip it entirely. Do not
            transcribe it, do not summarize it, and do not include any of its data
            points in the output.

            Visuals: Ignore all images, photographs, icons, diagrams, and graphs (including
            waterfall, bar, pie, or line graphs).

            Ignore Embedded Graph Text (Crucial): If a page consists entirely or primarily
            of a visual graph or chart, you must skip the entire page. Do NOT transcribe
            the axis labels, legends, data points, or floating text associated with
            the graph, even if your OCR/source data provides them as readable text.

            No Placeholders: Do not include phrases like "[Image omitted]" or "[Graph
            skipped]". If a page is skipped, simply do not output that page number.


            ## System Guardrail (Prevents ''NoneType'' Error)

            - **Critical**: If a page or the entire document contains ONLY skipped
            elements (tables/graphs) and no valid prose, do not return a null or empty
            response.

            - **Output instead**: "STATUS: No valid prose identified on this page/document."
            - This ensures the workflow receives a "String" object rather than "None,"
            preventing the ''object is not iterable'' crash.


            Quality Check: Before providing the output, verify that no fragmented
            text, floating numbers, or labels from skipped graphs have slipped into
            the output, and ensure that no statistical data from valid tables was
            dropped.

            '
        selected: false
        title: Extract Prev BU Hearing Data
        type: llm
        variables: []
        vision:
          configs:
            detail: high
            variable_selector:
            - '17720850835160'
            - files
          enabled: true
      height: 126
      id: '17720852962520'
      position:
        x: 3227.358925548851
        y: 2713.0557087703296
      positionAbsolute:
        x: 3227.358925548851
        y: 2713.0557087703296
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        items:
        - input_type: variable
          operation: over-write
          value:
          - '17720852962520'
          - text
          variable_selector:
          - conversation
          - extracted_prev_doc
          write_mode: over-write
        selected: false
        title: Save Prev BU Hearing Data
        type: assigner
        version: '2'
      height: 86
      id: '17720853039660'
      position:
        x: 3540.8043916330275
        y: 2713.0557087703296
      positionAbsolute:
        x: 3540.8043916330275
        y: 2713.0557087703296
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        error_strategy: fail-branch
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gemini-2.5-pro
          provider: langgenius/gemini/google
        prompt_template:
        - id: ccf25708-5dfd-4347-a3e1-43f8d99e1bc5
          role: system
          text: 'Role: You are a high-precision data processing engine. Your task
            is string-replacement and currency calculation only.


            Data Source: {{#conversation.extracted_doc#}}


            Objective: Scan the provided document {{#conversation.extracted_doc#}}
            for US Dollars (USD/$) and replace them with Japanese Yen (JPY/¥) use
            {{#conversation.conversion_rate#}}for all the conversion.

            Mandatory Workflow:


            Input Validation (Critical): If the Data Source is empty, null, or contains
            no text, output: [NO_TEXT_TO_PROCESS]. Do not attempt to replicate or
            calculate.



            Literal Replication: You must perform a character-for-character replication
            of the original text.

            The "No-Change" Rule: * Do NOT summarize.

            Do NOT fix grammar or typos in the original text.

            Do NOT omit headers, footers, or citations.

            Do NOT change the layout or paragraph structure.


            The Conversion Rule: When you find a USD value, calculate the JYP equivalent
            using the rate provided in {{#conversation.conversion_rate#}}. Replace
            the USD text with the JYP result.

            Example: "The cost was $10.25 USD" becomes "The cost was ¥1,500 JYP" (assuming
            the rate).


            Verification Step: After generating the response, perform a "self-audit"
            to ensure the word count and structure match the original perfectly.'
        - id: 7a2a1020-0965-4e42-bb6a-6ddd4161eb7e
          role: user
          text: '{{#conversation.extracted_doc#}}

            {{#conversation.conversion_rate#}}'
        selected: false
        title: Convert Prev BU Hearing
        type: llm
        variables: []
        vision:
          enabled: false
      height: 126
      id: '17720853150320'
      position:
        x: 3851.277672644724
        y: 2713.0557087703296
      positionAbsolute:
        x: 3851.277672644724
        y: 2713.0557087703296
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        items:
        - input_type: variable
          operation: over-write
          value:
          - '17720853150320'
          - text
          variable_selector:
          - conversation
          - extracted_prev_doc
          write_mode: over-write
        - input_type: constant
          operation: set
          value: '1'
          variable_selector:
          - conversation
          - conversion_file_2
          write_mode: over-write
        selected: false
        title: Save Prev BU Hearing (converted)
        type: assigner
        version: '2'
      height: 112
      id: '17720853232300'
      position:
        x: 4156.094099329023
        y: 2713.0557087703296
      positionAbsolute:
        x: 4156.094099329023
        y: 2713.0557087703296
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "def main(prompt_text: dict, lang: str) -> dict:\n    target_lang =\
          \ lang if lang in ['en', 'ja'] else 'en'\n   \n    target_key = \"enter_currency_rate\"\
          \ \n    \n    nested_data = prompt_text.get(target_key, {})\n    result_text\
          \ = nested_data.get(target_lang, \"Key or Language not found\")\n    \n\
          \    return {\n        \"result\": result_text\n    }"
        code_language: python3
        desc: ''
        outputs:
          result:
            children: null
            type: string
        selected: false
        title: Prompt Text
        type: code
        variables:
        - value_selector:
          - conversation
          - prompt_text
          value_type: object
          variable: prompt_text
        - value_selector:
          - conversation
          - selected_language
          value_type: string
          variable: lang
      height: 54
      id: '1772087814845'
      position:
        x: 1419
        y: 2171.6784347029397
      positionAbsolute:
        x: 1419
        y: 2171.6784347029397
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "def main(prompt_text: dict, lang: str) -> dict:\n    target_lang =\
          \ lang if lang in ['en', 'ja'] else 'en'\n   \n    target_key = \"currency_detected\"\
          \ \n    \n    nested_data = prompt_text.get(target_key, {})\n    result_text\
          \ = nested_data.get(target_lang, \"Key or Language not found\")\n    \n\
          \    return {\n        \"result\": result_text\n    }"
        code_language: python3
        desc: ''
        outputs:
          result:
            children: null
            type: string
        selected: false
        title: Detected / Ask to Convert
        type: code
        variables:
        - value_selector:
          - conversation
          - prompt_text
          value_type: object
          variable: prompt_text
        - value_selector:
          - conversation
          - selected_language
          value_type: string
          variable: lang
      height: 54
      id: '1772088040396'
      position:
        x: 1737.5963788289578
        y: 1645.3287364302091
      positionAbsolute:
        x: 1737.5963788289578
        y: 1645.3287364302091
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "def main(prompt_text: dict, lang: str) -> dict:\n    target_lang =\
          \ lang if lang in ['en', 'ja'] else 'en'\n   \n    target_key = \"invalid_currency\"\
          \ \n    \n    nested_data = prompt_text.get(target_key, {})\n    result_text\
          \ = nested_data.get(target_lang, \"Key or Language not found\")\n    \n\
          \    return {\n        \"result\": result_text\n    }"
        code_language: python3
        desc: ''
        outputs:
          result:
            children: null
            type: string
        selected: false
        title: Prompt Text
        type: code
        variables:
        - value_selector:
          - conversation
          - prompt_text
          value_type: object
          variable: prompt_text
        - value_selector:
          - conversation
          - selected_language
          value_type: string
          variable: lang
      height: 54
      id: '1772088300997'
      position:
        x: 2376.4490308160575
        y: 2365.3121617265815
      positionAbsolute:
        x: 2376.4490308160575
        y: 2365.3121617265815
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "def main(prompt_text: dict, lang: str) -> dict:\n    target_lang =\
          \ lang if lang in ['en', 'ja'] else 'en'\n   \n    target_key = \"select_report_type\"\
          \ \n    \n    nested_data = prompt_text.get(target_key, {})\n    result_text\
          \ = nested_data.get(target_lang, \"Key or Language not found\")\n    \n\
          \    return {\n        \"result\": result_text\n    }"
        code_language: python3
        desc: ''
        outputs:
          result:
            children: null
            type: string
        selected: false
        title: Prompt Text
        type: code
        variables:
        - value_selector:
          - conversation
          - prompt_text
          value_type: object
          variable: prompt_text
        - value_selector:
          - conversation
          - selected_language
          value_type: string
          variable: lang
      height: 54
      id: '1772088460750'
      position:
        x: 4911.020773674212
        y: 1876.5118037804223
      positionAbsolute:
        x: 4911.020773674212
        y: 1876.5118037804223
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "def main(prompt_text: dict, lang: str) -> dict:\n    target_lang =\
          \ lang if lang in ['en', 'ja'] else 'en'\n   \n    target_key = \"file_uploaded_succesfully\"\
          \ \n    \n    nested_data = prompt_text.get(target_key, {})\n    result_text\
          \ = nested_data.get(target_lang, \"Key or Language not found\")\n    \n\
          \    return {\n        \"result\": result_text\n    }"
        code_language: python3
        desc: ''
        outputs:
          result:
            children: null
            type: string
        selected: false
        title: Prompt Text
        type: code
        variables:
        - value_selector:
          - conversation
          - prompt_text
          value_type: object
          variable: prompt_text
        - value_selector:
          - conversation
          - selected_language
          value_type: string
          variable: lang
      height: 54
      id: '1772089624663'
      position:
        x: 3767.01900207341
        y: 780.7006101254688
      positionAbsolute:
        x: 3767.01900207341
        y: 780.7006101254688
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: Work In Progress, Please Choose New Chat To Continue
        desc: ''
        selected: false
        title: Work In Progress
        type: answer
        variables: []
      height: 118
      id: '1772098093064'
      position:
        x: 1419
        y: 2851.6179829026396
      positionAbsolute:
        x: 1419
        y: 2851.6179829026396
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        error_strategy: fail-branch
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gemini-2.5-pro
          provider: langgenius/gemini/google
        prompt_template:
        - id: 7537901a-b2e1-4aff-9aee-e30c570ac821
          role: system
          text: 'Role: High-Precision USD Detection Sensor.

            Objective: Scan the provided document exclusively for explicit text-based
            United States Dollar (USD/$/US$) occurrences.

            Strict Extraction Rules:


            Include: Only numbers explicitly and physically preceded or followed by
            "USD", "US$", "Dollar(s)", or the symbol "$" (e.g., $500, 500 USD, 100
            Million Dollars).


            Exclude Tables & Charts: Ignore all numerical values found inside tables,
            grids, or visual charts, even if the table specifies a unit at the top.

            Exclude ALL Table Content: Ignore all text and numbers located within
            any table, including "Remarks", "Notes", or "Bullet points" inside a grid.


            Exclude Standalone Numbers: Ignore years (e.g., 2024, 2025), quantities,
            or percentages that do not have a currency identifier attached to the
            number itself.:


            ## Error Handling & Null Results

            If the document is empty or contains NO valid USD matches according to
            the rules, DO NOT return a null value. - Instead, output: "RESULT: No
            valid USD occurrences found outside of tables."


            Output Format:

            Evidence: For every USD found, output exactly: FOUND: Page: [Page Number]
            - [Snippet of the sentence containing the currency].


            Summary Table: At the end of the report, provide a table listing:

            | Page: [Page Number] | Count: [Total Count of USD occurrences found on
            this page] | (Ensure each page is on a new line).'
        selected: false
        title: Detect Currency in BU PDF
        type: llm
        variables: []
        vision:
          configs:
            detail: high
            variable_selector:
            - sys
            - files
          enabled: true
      height: 126
      id: '17721040077580'
      position:
        x: 2646.6390248349885
        y: 477.86927621194536
      positionAbsolute:
        x: 2646.6390248349885
        y: 477.86927621194536
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        error_strategy: fail-branch
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gemini-2.5-pro
          provider: langgenius/gemini/google
        prompt_template:
        - id: 7537901a-b2e1-4aff-9aee-e30c570ac821
          role: system
          text: 'Role: High-Precision USD Detection Sensor.

            Objective: Scan the provided document exclusively for explicit text-based
            United States Dollar (USD/$/US$) occurrences.

            Strict Extraction Rules:


            Include: Only numbers explicitly and physically preceded or followed by
            "USD", "US$", "Dollar(s)", or the symbol "$" (e.g., $500, 500 USD, 100
            Million Dollars).


            Exclude Tables & Charts: Ignore all numerical values found inside tables,
            grids, or visual charts, even if the table specifies a unit at the top.

            Exclude ALL Table Content: Ignore all text and numbers located within
            any table, including "Remarks", "Notes", or "Bullet points" inside a grid.


            Exclude Standalone Numbers: Ignore years (e.g., 2024, 2025), quantities,
            or percentages that do not have a currency identifier attached to the
            number itself.:


            ## Error Handling & Null Results

            If the document is empty or contains NO valid USD matches according to
            the rules, DO NOT return a null value. - Instead, output: "RESULT: No
            valid USD occurrences found outside of tables."


            Output Format:

            Evidence: For every USD found, output exactly: FOUND: Page: [Page Number]
            - [Snippet of the sentence containing the currency].


            Summary Table: At the end of the report, provide a table listing:

            | Page: [Page Number] | Count: [Total Count of USD occurrences found on
            this page] | (Ensure each page is on a new line).'
        selected: false
        title: Detect Currency in Prev BU PDF
        type: llm
        variables: []
        vision:
          configs:
            detail: high
            variable_selector:
            - sys
            - files
          enabled: true
      height: 126
      id: '17721040681320'
      position:
        x: 2640.9821703517846
        y: 1054.1286662201878
      positionAbsolute:
        x: 2640.9821703517846
        y: 1054.1286662201878
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: contains
            id: 7f80ecea-a1fc-4c26-8003-82bf63117430
            value: FOUND
            varType: string
            variable_selector:
            - '17721040681320'
            - text
          id: 'true'
          logical_operator: and
        desc: ''
        selected: false
        title: IF/ELSE Currency Detected
        type: if-else
      height: 126
      id: '17721041436510'
      position:
        x: 3193.7230687070924
        y: 1054.1286662201878
      positionAbsolute:
        x: 3193.7230687070924
        y: 1054.1286662201878
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        items:
        - input_type: constant
          operation: set
          value: '1'
          variable_selector:
          - conversation
          - currency_detected
          write_mode: over-write
        selected: false
        title: Currency Detected (True)
        type: assigner
        version: '2'
      height: 86
      id: '17721041645510'
      position:
        x: 3470.169092265335
        y: 1054.1286662201878
      positionAbsolute:
        x: 3470.169092265335
        y: 1054.1286662201878
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '{{#1772176005300.result#}}'
        desc: ''
        selected: false
        title: Error
        type: answer
        variables: []
      height: 104
      id: '1772173491077'
      position:
        x: 3193.7230687070924
        y: 1412.1286662201878
      positionAbsolute:
        x: 3193.7230687070924
        y: 1412.1286662201878
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '{{#1772176227336.result#}}'
        desc: ''
        selected: false
        title: Error
        type: answer
        variables: []
      height: 104
      id: '1772173610661'
      position:
        x: 3851.277672644724
        y: 3034.2759986576802
      positionAbsolute:
        x: 3851.277672644724
        y: 3034.2759986576802
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "def main(prompt_text: dict, lang: str) -> dict:\n    target_lang =\
          \ lang if lang in ['en', 'ja'] else 'en'\n   \n    target_key = \"enter_currency_rate\"\
          \ \n    \n    nested_data = prompt_text.get(target_key, {})\n    result_text\
          \ = nested_data.get(target_lang, \"Key or Language not found\")\n    \n\
          \    return {\n        \"result\": result_text\n    }"
        code_language: python3
        desc: ''
        outputs:
          result:
            children: null
            type: string
        selected: false
        title: Prompt Text
        type: code
        variables:
        - value_selector:
          - conversation
          - selected_language
          value_type: string
          variable: lang
        - value_selector:
          - conversation
          - prompt_text
          value_type: object
          variable: prompt_text
      height: 54
      id: '1772173854291'
      position:
        x: 4156.094099329023
        y: 3034.2759986576802
      positionAbsolute:
        x: 4156.094099329023
        y: 3034.2759986576802
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '{{#1772173854291.result#}}'
        desc: ''
        selected: false
        title: Prompt Re-Enter Rate
        type: answer
        variables: []
      height: 104
      id: '1772173884570'
      position:
        x: 4505.755749964996
        y: 3034.2759986576802
      positionAbsolute:
        x: 4505.755749964996
        y: 3034.2759986576802
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: contains
            id: 257c5f43-e359-4cfc-92f9-99f71a652b26
            value: '1'
            varType: string
            variable_selector:
            - conversation
            - conversion_file_1
          - comparison_operator: contains
            id: f5ff01f1-4990-4295-a623-917f68730572
            value: '1'
            varType: string
            variable_selector:
            - conversation
            - conversion_file_2
          id: 'true'
          logical_operator: and
        desc: ''
        selected: false
        title: IF/ELSE 9
        type: if-else
      height: 152
      id: '1772174453680'
      position:
        x: 4515.205632909173
        y: 2633.9854530034254
      positionAbsolute:
        x: 4515.205632909173
        y: 2633.9854530034254
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "def main(prompt_text: dict, lang: str) -> dict:\n    target_lang =\
          \ lang if lang in ['en', 'ja'] else 'en'\n   \n    target_key = \"choose_session\"\
          \ \n    \n    nested_data = prompt_text.get(target_key, {})\n    result_text\
          \ = nested_data.get(target_lang, \"Key or Language not found\")\n    \n\
          \    return {\n        \"result\": result_text\n    }"
        code_language: python3
        desc: ''
        outputs:
          result:
            children: null
            type: string
        selected: false
        title: 'Prompt Text '
        type: code
        variables:
        - value_selector:
          - conversation
          - selected_language
          value_type: string
          variable: lang
        - value_selector:
          - conversation
          - prompt_text
          value_type: object
          variable: prompt_text
      height: 54
      id: '1772175354132'
      position:
        x: 1419
        y: 3082.469516329204
      positionAbsolute:
        x: 1419
        y: 3082.469516329204
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '{{#1772175354132.result#}}'
        desc: ''
        selected: false
        title: Please Choose Session
        type: answer
        variables: []
      height: 104
      id: '17721756820220'
      position:
        x: 1737.5963788289578
        y: 3047.114175809178
      positionAbsolute:
        x: 1737.5963788289578
        y: 3047.114175809178
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "def main(prompt_text: dict, lang: str) -> dict:\n    target_lang =\
          \ lang if lang in ['en', 'ja'] else 'en'\n   \n    target_key = \"llm_currency_detection_error\"\
          \ \n    \n    nested_data = prompt_text.get(target_key, {})\n    result_text\
          \ = nested_data.get(target_lang, \"Key or Language not found\")\n    \n\
          \    return {\n        \"result\": result_text\n    }"
        code_language: python3
        desc: ''
        outputs:
          result:
            children: null
            type: string
        selected: false
        title: LLM ERROR
        type: code
        variables:
        - value_selector:
          - conversation
          - prompt_text
          value_type: object
          variable: prompt_text
        - value_selector:
          - conversation
          - selected_language
          value_type: string
          variable: lang
      height: 54
      id: '1772176005300'
      position:
        x: 2915.8010819142764
        y: 1464.4537803612081
      positionAbsolute:
        x: 2915.8010819142764
        y: 1464.4537803612081
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "def main(prompt_text: dict, lang: str) -> dict:\n    target_lang =\
          \ lang if lang in ['en', 'ja'] else 'en'\n   \n    target_key = \"llm_currency_conversion_error\"\
          \ \n    \n    nested_data = prompt_text.get(target_key, {})\n    result_text\
          \ = nested_data.get(target_lang, \"Key or Language not found\")\n    \n\
          \    return {\n        \"result\": result_text\n    }"
        code_language: python3
        desc: ''
        outputs:
          result:
            children: null
            type: string
        selected: false
        title: LLM Error
        type: code
        variables:
        - value_selector:
          - conversation
          - prompt_text
          value_type: object
          variable: prompt_text
        - value_selector:
          - conversation
          - selected_language
          value_type: string
          variable: lang
      height: 54
      id: '1772176227336'
      position:
        x: 3540.8043916330275
        y: 3034.2759986576802
      positionAbsolute:
        x: 3540.8043916330275
        y: 3034.2759986576802
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: Work In Progress, Please Choose New Chat To Continue
        desc: ''
        selected: false
        title: Answer 18
        type: answer
        variables: []
      height: 118
      id: '1772188218605'
      position:
        x: 2057
        y: 2577.769732047398
      positionAbsolute:
        x: 2057
        y: 2577.769732047398
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: Work In Progress, Please Choose New Chat To Continue
        desc: ''
        selected: false
        title: Answer 18 (1)
        type: answer
        variables: []
      height: 118
      id: '17721882747850'
      position:
        x: 2057
        y: 2697.9135725072333
      positionAbsolute:
        x: 2057
        y: 2697.9135725072333
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: Work In Progress, Please Choose New Chat To Continue
        desc: ''
        selected: false
        title: Answer 20
        type: answer
        variables: []
      height: 118
      id: '1772188281880'
      position:
        x: 1746.0053432710072
        y: 2730.9841440998716
      positionAbsolute:
        x: 1746.0053432710072
        y: 2730.9841440998716
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: f94b9ca3-a485-432d-9d3d-6a7776880d6f
            value: '1'
            varType: string
            variable_selector:
            - sys
            - query
          id: 'true'
          logical_operator: and
        - case_id: d97e0011-0f13-49ce-8af6-599eb86a2139
          conditions:
          - comparison_operator: is
            id: 65286a55-3bf3-418f-b3c5-bdaae75b044c
            value: '2'
            varType: string
            variable_selector:
            - sys
            - query
          logical_operator: and
        - case_id: 8fefc4d2-a4a7-4c21-a3d3-f9d408784c1e
          conditions:
          - comparison_operator: is
            id: 23854d5a-dbbf-4092-8b90-40ea88dc49ee
            value: '3'
            varType: string
            variable_selector:
            - sys
            - query
          logical_operator: and
        desc: ''
        selected: false
        title: IF/ELSE 9
        type: if-else
      height: 222
      id: '1772191454212'
      position:
        x: 1419
        y: 2602.2907046069777
      positionAbsolute:
        x: 1419
        y: 2602.2907046069777
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: Work In Progress, Please Choose New Chat To Continue
        desc: ''
        selected: false
        title: Answer 20 (1)
        type: answer
        variables: []
      height: 118
      id: '17721917350720'
      position:
        x: 2057
        y: 2817.2125985398034
      positionAbsolute:
        x: 2057
        y: 2817.2125985398034
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: -796.8976674190258
      y: -1208.7441229570907
      zoom: 0.5992235921180096
