dsl/File_Reader_Tool.yml
{"data": "app:\n  description: 'Multi-format file reader. PDF, OCR images, Excel, TXT, DOC/DOCX, CSV.\n    English and Japanese. File validation: empty, zip disguised, compressed formats\n    blocked.'\n  icon: \ud83e\udd16\n  icon_background: '#FFEAD5'\n  mode: workflow\n  name: File Reader Tool\n  use_icon_as_answer_icon: false\ndependencies:\n- current_identifier: null\n  type: marketplace\n  value:\n    marketplace_plugin_unique_identifier: langgenius/gemini:0.7.4@5faf411e694e0da130a337347a625a3812b1b7502a0183382d66d92c841bf05a\nkind: app\nversion: 0.3.1\nworkflow:\n  conversation_variables: []\n  environment_variables: []\n  features:\n    file_upload:\n      allowed_file_extensions:\n      - .JPG\n      - .JPEG\n      - .PNG\n      - .GIF\n      - .WEBP\n      - .SVG\n      allowed_file_types:\n      - image\n      allowed_file_upload_methods:\n      - local_file\n      - remote_url\n      enabled: false\n      fileUploadConfig:\n        audio_file_size_limit: 50\n        batch_count_limit: 5\n        file_size_limit: 50\n        image_file_size_limit: 10\n        video_file_size_limit: 100\n        workflow_file_upload_limit: 10\n      image:\n        enabled: false\n        number_limits: 3\n        transfer_methods:\n        - local_file\n        - remote_url\n      number_limits: 3\n    opening_statement: ''\n    retriever_resource:\n      enabled: true\n    sensitive_word_avoidance:\n      enabled: false\n    speech_to_text:\n      enabled: false\n    suggested_questions: []\n    suggested_questions_after_answer:\n      enabled: false\n    text_to_speech:\n      enabled: false\n      language: ''\n      voice: ''\n  graph:\n    edges:\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: code\n        targetType: if-else\n      id: e-detect-route\n      source: '1776006990907'\n      sourceHandle: source\n      target: '1776007103329'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: if-else\n        targetType: llm\n      id: e-route-pdf\n      source: '1776007103329'\n      sourceHandle: 'true'\n      target: '1776007289790'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInLoop: false\n        sourceType: if-else\n        targetType: llm\n      id: e-route-ocr\n      source: '1776007103329'\n      sourceHandle: a62a50de-36b5-4a82-8409-84da0959e7a2\n      target: '17760073854930'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInLoop: false\n        sourceType: if-else\n        targetType: code\n      id: e-route-zip-error\n      source: '1776007103329'\n      sourceHandle: b3c4d5e6-1234-5678-abcd-ef0123456789\n      target: '1776007607703'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInLoop: false\n        sourceType: if-else\n        targetType: code\n      id: e-route-empty-error\n      source: '1776007103329'\n      sourceHandle: a1b2c3d4-5678-90ab-cdef-012345678901\n      target: '1776007607703'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: if-else\n        targetType: code\n      id: e-route-error\n      source: '1776007103329'\n      sourceHandle: 'false'\n      target: '1776007607703'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: llm\n        targetType: code\n      id: e-pdf-formatter\n      source: '1776007289790'\n      sourceHandle: source\n      target: '1776007699730'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInLoop: false\n        sourceType: llm\n        targetType: code\n      id: e-ocr-formatter\n      source: '17760073854930'\n      sourceHandle: source\n      target: '1776007699730'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInLoop: false\n        sourceType: code\n        targetType: code\n      id: e-error-formatter\n      source: '1776007607703'\n      sourceHandle: source\n      target: '1776007699730'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: code\n        targetType: end\n      id: e-formatter-end\n      source: '1776007699730'\n      sourceHandle: source\n      target: '1776008679232'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInLoop: false\n        sourceType: if-else\n        targetType: code\n      id: e-route-exe-error\n      source: '1776007103329'\n      sourceHandle: d4e5f6a7-1234-5678-abcd-ef0123456789\n      target: '1776007607703'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInLoop: false\n        sourceType: if-else\n        targetType: document-extractor\n      id: e-route-doc-extractor\n      source: '1776007103329'\n      sourceHandle: c5d6e7f8-1234-5678-abcd-ef0123456789\n      target: node-doc-extractor-doc\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInLoop: false\n        sourceType: document-extractor\n        targetType: code\n      id: e-extractor-normalize\n      source: node-doc-extractor-doc\n      sourceHandle: source\n      target: node-doc-normalize\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInLoop: false\n        sourceType: code\n        targetType: llm\n      id: e-normalize-process-doc\n      source: node-doc-normalize\n      sourceHandle: source\n      target: node-process-document\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInLoop: false\n        sourceType: llm\n        targetType: code\n      id: e-doc-formatter\n      source: node-process-document\n      sourceHandle: source\n      target: '1776007699730'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInLoop: false\n        sourceType: if-else\n        targetType: code\n      id: e-route-word-error\n      source: '1776007103329'\n      sourceHandle: e5f6a7b8-1234-5678-abcd-ef0123456789\n      target: '1776007607703'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInLoop: false\n        sourceType: if-else\n        targetType: code\n      id: e-route-size-error\n      source: '1776007103329'\n      sourceHandle: f6a7b8c9-1234-5678-abcd-ef0123456789\n      target: '1776007607703'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: start\n        targetType: code\n      id: e-start-detect\n      selected: false\n      source: '1776006764107'\n      sourceHandle: source\n      target: '1776006990907'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInLoop: false\n        sourceType: if-else\n        targetType: code\n      id: e-route-excel\n      source: '1776007103329'\n      sourceHandle: 07e60910-cd79-4478-99ba-506a1e97e376\n      target: node-excel-unified\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInLoop: false\n        sourceType: code\n        targetType: llm\n      id: e-excel-unified-llm\n      source: node-excel-unified\n      sourceHandle: source\n      target: node-excel-llm\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInLoop: false\n        sourceType: llm\n        targetType: code\n      id: e-excel-llm-formatter\n      source: node-excel-llm\n      sourceHandle: source\n      target: '1776007699730'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInLoop: false\n        sourceType: if-else\n        targetType: code\n      id: e-route-word-doc\n      source: '1776007103329'\n      sourceHandle: b1c2d3e4-abcd-4321-fedc-ba9876543210\n      target: node-word-extract\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInLoop: false\n        sourceType: code\n        targetType: llm\n      id: e-word-extract-process\n      source: node-word-extract\n      sourceHandle: source\n      target: node-process-word\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInLoop: false\n        sourceType: llm\n        targetType: code\n      id: e-word-process-formatter\n      source: node-process-word\n      sourceHandle: source\n      target: '1776007699730'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    nodes:\n    - data:\n        desc: Upload one file \u2014 PDF, image (JPG/PNG), or Excel (XLSX). ZIP not allowed.\n        selected: false\n        title: Start\n        type: start\n        variables:\n        - allowed_file_extensions: []\n          allowed_file_types:\n          - document\n          - image\n          allowed_file_upload_methods:\n          - local_file\n          label: select_file\n          max_length: 1\n          options: []\n          required: true\n          type: file-list\n          variable: select_file\n      height: 149\n      id: '1776006764107'\n      position:\n        x: 80\n        y: 282\n      positionAbsolute:\n        x: 80\n        y: 282\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        code: \"import urllib.request\\n\\ndef main(inputs):\\n    if not inputs or not\\\n          \\ isinstance(inputs, list):\\n        return {\\\"result\\\": \\\"empty\\\"}\\n\\n\\\n          \\    file = inputs[0]\\n    if not file:\\n        return {\\\"result\\\": \\\"\\\n          empty\\\"}\\n\\n    file_name = (file.get(\\\"filename\\\") or file.get(\\\"name\\\"\\\n          ) or \\\"\\\").strip()\\n    mime      = (file.get(\\\"mime_type\\\") or file.get(\\\"\\\n          type\\\") or \\\"\\\").lower().strip()\\n\\n    # \u2500\u2500 VALIDATION 1: Empty file \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\\n\\\n          \\    if not file_name:\\n        return {\\\"result\\\": \\\"empty\\\"}\\n\\n    size\\\n          \\ = file.get(\\\"size\\\") or file.get(\\\"file_size\\\") or 0\\n    try:\\n     \\\n          \\   size = int(size)\\n    except (TypeError, ValueError):\\n        size\\\n          \\ = 0\\n    if size == 0 and file.get(\\\"size\\\") is not None:\\n        return\\\n          \\ {\\\"result\\\": \\\"empty\\\"}\\n\\n    name_lower = file_name.lower()\\n\\n    #\\\n          \\ \u2500\u2500 VALIDATION 2: Magic byte check (catches renamed ZIPs) \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\\n \\\n          \\   # Fetches first 16 bytes via HTTP Range header and checks file\\n   \\\n          \\ # signatures. A ZIP renamed to .png still starts with PK\\\\x03\\\\x04.\\n\\\n          \\    # XLSX/DOCX are ZIP-based office formats \u2014 intentionally exempt.\\n\\\n          \\    # Gracefully skips if network is unavailable (Dify Cloud sandbox).\\n\\\n          \\    ALLOWED_ZIP_EXT = (\\n        \\\".xlsx\\\", \\\".xls\\\", \\\".docx\\\", \\\".doc\\\"\\\n          ,\\n        \\\".odt\\\", \\\".pptx\\\", \\\".ppt\\\", \\\".odp\\\", \\\".ods\\\"\\n    )\\n  \\\n          \\  if not any(name_lower.endswith(e) for e in ALLOWED_ZIP_EXT):\\n      \\\n          \\  file_url = (\\n            file.get(\\\"url\\\") or file.get(\\\"remote_url\\\"\\\n          ) or file.get(\\\"path\\\") or \\\"\\\"\\n        ).strip()\\n        if file_url:\\n\\\n          \\            try:\\n                req = urllib.request.Request(\\n     \\\n          \\               file_url,\\n                    headers={\\\"Range\\\": \\\"bytes=0-15\\\"\\\n          }\\n                )\\n                with urllib.request.urlopen(req, timeout=5)\\\n          \\ as resp:\\n                    header = resp.read(16)\\n\\n             \\\n          \\   MAGIC = [\\n                    b\\\"PK\\\\x03\\\\x04\\\",          # ZIP (also\\\n          \\ XLSX/DOCX \u2014 exempt above)\\n                    b\\\"PK\\\\x05\\\\x06\\\",    \\\n          \\      # Empty ZIP\\n                    b\\\"PK\\\\x07\\\\x08\\\",          # Spanned\\\n          \\ ZIP\\n                    b\\\"Rar!\\\\x1a\\\\x07\\\",        # RAR v4\\n      \\\n          \\              b\\\"Rar!\\\\x1a\\\\x07\\\\x01\\\",   # RAR v5\\n                  \\\n          \\  b\\\"7z\\\\xbc\\\\xaf\\\\x27\\\\x1c\\\",# 7-Zip\\n                    b\\\"\\\\x1f\\\\x8b\\\"\\\n          ,            # GZip\\n                    b\\\"BZh\\\",                   # BZip2\\n\\\n          \\                    b\\\"\\\\xfd7zXZ\\\\x00\\\",        # XZ\\n                \\\n          \\    b\\\"MSCF\\\",                  # CAB\\n                    b\\\"\\\\x04\\\\x22\\\\\\\n          x4d\\\\x18\\\",  # LZ4\\n                    b\\\"\\\\x28\\\\xb5\\\\x2f\\\\xfd\\\",  # Zstandard\\n\\\n          \\                ]\\n                for sig in MAGIC:\\n                \\\n          \\    if header[:len(sig)] == sig:\\n                        return {\\\"result\\\"\\\n          : \\\"zip_blocked\\\"}\\n            except Exception:\\n                pass\\\n          \\  # Network blocked \u2014 continue to other checks\\n\\n    # \u2500\u2500 VALIDATION 3:\\\n          \\ Executable files blocked \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\\n    BLOCKED_EXE = (\\n\\\n          \\        \\\".exe\\\", \\\".msi\\\", \\\".bat\\\", \\\".cmd\\\", \\\".com\\\", \\\".pif\\\", \\\"\\\n          .scr\\\",\\n        \\\".ps1\\\", \\\".psm1\\\", \\\".psd1\\\", \\\".vbs\\\", \\\".vbe\\\", \\\"\\\n          .wsf\\\", \\\".wsh\\\", \\\".js\\\", \\\".jse\\\",\\n        \\\".sh\\\", \\\".bash\\\", \\\".zsh\\\"\\\n          , \\\".fish\\\", \\\".ksh\\\", \\\".csh\\\",\\n        \\\".app\\\", \\\".dmg\\\", \\\".pkg\\\",\\\n          \\ \\\".mpkg\\\", \\\".ipa\\\",\\n        \\\".apk\\\", \\\".aab\\\", \\\".xapk\\\",\\n       \\\n          \\ \\\".bin\\\", \\\".run\\\", \\\".out\\\", \\\".elf\\\",\\n        \\\".dll\\\", \\\".so\\\", \\\"\\\n          .dylib\\\", \\\".sys\\\", \\\".drv\\\",\\n        \\\".class\\\", \\\".jar\\\", \\\".war\\\", \\\"\\\n          .ear\\\",\\n        \\\".pyc\\\", \\\".pyo\\\", \\\".pyd\\\",\\n        \\\".rb\\\", \\\".pl\\\"\\\n          , \\\".php\\\", \\\".asp\\\", \\\".aspx\\\", \\\".cgi\\\",\\n        \\\".reg\\\", \\\".lnk\\\",\\\n          \\ \\\".url\\\",\\n    )\\n    if any(name_lower.endswith(e) for e in BLOCKED_EXE):\\n\\\n          \\        return {\\\"result\\\": \\\"exe_blocked\\\"}\\n\\n    BLOCKED_EXE_MIMES =\\\n          \\ (\\n        \\\"application/x-msdownload\\\", \\\"application/x-msdos-program\\\"\\\n          ,\\n        \\\"application/x-ms-dos-executable\\\", \\\"application/x-executable\\\"\\\n          ,\\n        \\\"application/x-elf\\\", \\\"application/x-mach-binary\\\",\\n     \\\n          \\   \\\"application/x-dosexec\\\", \\\"application/x-sh\\\",\\n        \\\"application/x-bat\\\"\\\n          , \\\"application/x-msi\\\",\\n    )\\n    if any(mime.startswith(m) for m in\\\n          \\ BLOCKED_EXE_MIMES):\\n        return {\\\"result\\\": \\\"exe_blocked\\\"}\\n\\n\\\n          \\    # \u2500\u2500 VALIDATION 4: ZIP / archive by MIME \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\\n\\\n          \\    BLOCKED_MIMES = (\\n        \\\"application/zip\\\", \\\"application/x-zip\\\"\\\n          ,\\n        \\\"application/x-zip-compressed\\\", \\\"application/x-rar-compressed\\\"\\\n          ,\\n        \\\"application/x-rar\\\", \\\"application/vnd.rar\\\",\\n        \\\"application/x-7z-compressed\\\"\\\n          , \\\"application/x-tar\\\",\\n        \\\"application/gzip\\\", \\\"application/x-gzip\\\"\\\n          ,\\n        \\\"application/x-bzip2\\\", \\\"application/x-bzip\\\",\\n        \\\"\\\n          application/x-xz\\\", \\\"application/x-lzip\\\",\\n        \\\"application/x-lzma\\\"\\\n          , \\\"application/x-compress\\\",\\n        \\\"application/x-compressed\\\", \\\"\\\n          application/x-apple-diskimage\\\",\\n    )\\n    if any(mime.startswith(m) for\\\n          \\ m in BLOCKED_MIMES):\\n        return {\\\"result\\\": \\\"zip_blocked\\\"}\\n\\n\\\n          \\    # \u2500\u2500 VALIDATION 5: ZIP / archive by extension \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\\n\\\n          \\    BLOCKED_EXT = (\\n        \\\".zip\\\", \\\".rar\\\", \\\".tar\\\", \\\".gz\\\", \\\"\\\n          .tgz\\\", \\\".tar.gz\\\",\\n        \\\".7z\\\", \\\".bz2\\\", \\\".xz\\\", \\\".lz\\\", \\\".lzma\\\"\\\n          , \\\".z\\\", \\\".cab\\\", \\\".iso\\\",\\n    )\\n    if any(name_lower.endswith(e)\\\n          \\ for e in BLOCKED_EXT):\\n        return {\\\"result\\\": \\\"zip_blocked\\\"}\\n\\\n          \\n    # \u2500\u2500 VALIDATION 6: File type detection + size limits \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\\n\\\n          \\    MB = 1024 * 1024\\n    SIZE_LIMITS = {\\n        \\\"pdf\\\":      15 * MB,\\n\\\n          \\        \\\"image\\\":    15 * MB,\\n        \\\"excel\\\":    15 * MB,\\n      \\\n          \\  \\\"document\\\": 15 * MB,\\n        \\\"word_doc\\\": 15 * MB,\\n    }\\n\\n   \\\n          \\ if name_lower.endswith(\\\".pdf\\\"):\\n        file_type = \\\"pdf\\\"\\n    elif\\\n          \\ name_lower.endswith((\\\".jpg\\\", \\\".jpeg\\\", \\\".png\\\", \\\".gif\\\", \\\".webp\\\"\\\n          ,\\n                               \\\".bmp\\\", \\\".tiff\\\", \\\".tif\\\", \\\".svg\\\"\\\n          )):\\n        file_type = \\\"image\\\"\\n    elif name_lower.endswith((\\\".xlsx\\\"\\\n          , \\\".xls\\\")):\\n        file_type = \\\"excel\\\"\\n    elif name_lower.endswith((\\\"\\\n          .doc\\\", \\\".docx\\\")):\\n        file_type = \\\"word_doc\\\"\\n    elif name_lower.endswith((\\\"\\\n          .txt\\\", \\\".csv\\\", \\\".htm\\\", \\\".html\\\",\\n                               \\\"\\\n          .md\\\", \\\".rtf\\\", \\\".odt\\\")):\\n        file_type = \\\"document\\\"\\n    else:\\n\\\n          \\        return {\\\"result\\\": \\\"unsupported\\\"}\\n\\n    if size > 0 and file_type\\\n          \\ in SIZE_LIMITS and size > SIZE_LIMITS[file_type]:\\n        size_mb  =\\\n          \\ round(size / MB, 1)\\n        limit_mb = SIZE_LIMITS[file_type] // MB\\n\\\n          \\        return {\\\"result\\\": f\\\"size_exceeded|{file_type}|{size_mb}|{limit_mb}\\\"\\\n          }\\n\\n    return {\\\"result\\\": file_type}\\n\"\n        code_language: python3\n        desc: 'Single node: magic byte check + all file validation + type detection.\n          Returns pdf | image | excel | document | zip_blocked (archive by magic bytes,\n          MIME, or extension) | exe_blocked | word_unsupported | empty | size_exceeded|type|mb|limit\n          | unsupported.'\n        outputs:\n          result:\n            children: null\n            type: string\n        selected: false\n        title: Detect File Type\n        type: code\n        variables:\n        - value_selector:\n          - '1776006764107'\n          - select_file\n          value_type: array[file]\n          variable: inputs\n      height: 193\n      id: '1776006990907'\n      position:\n        x: 383\n        y: 282\n      positionAbsolute:\n        x: 383\n        y: 282\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        cases:\n        - case_id: 'true'\n          conditions:\n          - comparison_operator: contains\n            id: cond-pdf\n            value: pdf\n            varType: string\n            variable_selector:\n            - '1776006990907'\n            - result\n          id: 'true'\n          logical_operator: and\n        - case_id: a62a50de-36b5-4a82-8409-84da0959e7a2\n          conditions:\n          - comparison_operator: contains\n            id: cond-image\n            value: image\n            varType: string\n            variable_selector:\n            - '1776006990907'\n            - result\n          id: a62a50de-36b5-4a82-8409-84da0959e7a2\n          logical_operator: and\n        - case_id: 07e60910-cd79-4478-99ba-506a1e97e376\n          conditions:\n          - comparison_operator: contains\n            id: cond-excel\n            value: excel\n            varType: string\n            variable_selector:\n            - '1776006990907'\n            - result\n          id: 07e60910-cd79-4478-99ba-506a1e97e376\n          logical_operator: and\n        - case_id: b3c4d5e6-1234-5678-abcd-ef0123456789\n          conditions:\n          - comparison_operator: contains\n            id: cond-zip\n            value: zip_blocked\n            varType: string\n            variable_selector:\n            - '1776006990907'\n            - result\n          id: b3c4d5e6-1234-5678-abcd-ef0123456789\n          logical_operator: and\n        - case_id: a1b2c3d4-5678-90ab-cdef-012345678901\n          conditions:\n          - comparison_operator: contains\n            id: cond-empty\n            value: empty\n            varType: string\n            variable_selector:\n            - '1776006990907'\n            - result\n          id: a1b2c3d4-5678-90ab-cdef-012345678901\n          logical_operator: and\n        - case_id: c5d6e7f8-1234-5678-abcd-ef0123456789\n          conditions:\n          - comparison_operator: contains\n            id: cond-document\n            value: document\n            varType: string\n            variable_selector:\n            - '1776006990907'\n            - result\n          id: c5d6e7f8-1234-5678-abcd-ef0123456789\n          logical_operator: and\n        - case_id: d4e5f6a7-1234-5678-abcd-ef0123456789\n          conditions:\n          - comparison_operator: contains\n            id: cond-exe\n            value: exe_blocked\n            varType: string\n            variable_selector:\n            - '1776006990907'\n            - result\n          id: d4e5f6a7-1234-5678-abcd-ef0123456789\n          logical_operator: and\n        - case_id: e5f6a7b8-1234-5678-abcd-ef0123456789\n          conditions:\n          - comparison_operator: contains\n            id: cond-word-unsupported\n            value: word_unsupported\n            varType: string\n            variable_selector:\n            - '1776006990907'\n            - result\n          id: e5f6a7b8-1234-5678-abcd-ef0123456789\n          logical_operator: and\n        - case_id: f6a7b8c9-1234-5678-abcd-ef0123456789\n          conditions:\n          - comparison_operator: contains\n            id: cond-size-exceeded\n            value: size_exceeded\n            varType: string\n            variable_selector:\n            - '1776006990907'\n            - result\n          id: f6a7b8c9-1234-5678-abcd-ef0123456789\n          logical_operator: and\n        - case_id: b1c2d3e4-abcd-4321-fedc-ba9876543210\n          conditions:\n          - comparison_operator: contains\n            id: cond-word-doc\n            value: word_doc\n            varType: string\n            variable_selector:\n            - '1776006990907'\n            - result\n          id: b1c2d3e4-abcd-4321-fedc-ba9876543210\n          logical_operator: and\n        desc: Routes to PDF / OCR / Excel / Document / Error. exe_blocked, zip_blocked,\n          and empty all route to Error node.\n        selected: false\n        title: Route By Type\n        type: if-else\n      height: 617\n      id: '1776007103329'\n      position:\n        x: 661\n        y: 282\n      positionAbsolute:\n        x: 661\n        y: 282\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        context:\n          enabled: false\n          variable_selector: []\n        desc: Extracts text + tables + image insights from any PDF. English and Japanese\n          with kanji/kana accuracy. Vision disabled.\n        model:\n          completion_params:\n            temperature: 0.1\n          mode: chat\n          name: gemini-2.5-pro\n          provider: langgenius/gemini/google\n        prompt_template:\n        - id: pdf-prompt-v4\n          role: system\n          text: \"PDF: {{#1776006764107.select_file#}}\\n\\nTASK: Extract everything.\\\n            \\ Return 1 JSON object. No fences. No prose.\\n\\nRULES:\\n- text: all text\\\n            \\ verbatim, original line breaks kept\\n- language: preserve text in its\\\n            \\ ORIGINAL language \u2014 do NOT translate\\n- language_detected: scan ALL\\\n            \\ visible text. Set \\\"ja\\\" ONLY if Japanese script (hiragana \u3072, katakana\\\n            \\ \u30a2, kanji \u6f22) is clearly and intentionally present as the primary written\\\n            \\ language. Set \\\"en\\\" for everything else including English, mixed, numeric-only,\\\n            \\ symbol-only, or unrecognised content. Never guess \\\"ja\\\".\\n- ja accuracy:\\\n            \\ preserve \u6f22\u5b57 (kanji) \u3072\u3089\u304c\u306a (hiragana) \u30ab\u30bf\u30ab\u30ca (katakana) \u53e5\u8aad\u70b9 exactly; never\\\n            \\ romanize; use full-width chars as printed\\n- tables: every table/grid\\\n            \\ found; [] if none\\n- images: every image/photo/chart/logo/illustration\\\n            \\ found; [] if none\\n\\nFOR EACH IMAGE:\\n- index: 1-based integer\\n- page:\\\n            \\ page number\\n- type: photo|illustration|chart|diagram|logo|screenshot|infographic|other\\n\\\n            - caption: exact caption near image, or \\\"\\\"\\n- description: what is literally\\\n            \\ visible, 2 sentences\\n- subject: e.g. \\\"Bahubali character \u2013 Amarendra\\\n            \\ Bahubali\\\" or \\\"Bar chart \u2013 Q3 revenue\\\"\\n- identity: name, origin (film/brand/place),\\\n            \\ type (fictional_character/real_person/brand/landmark/other)\\n- insights:\\\n            \\ 3-4 sentences \u2014 character: role/actor/traits/impact; logo: founding/industry/HQ;\\\n            \\ landmark: location/history; chart: what data shows\\n- portrayed_by:\\\n            \\ actor/creator name, or \\\"\\\"\\n- text_in_image: all text visible inside\\\n            \\ the image, or \\\"\\\"\\n- sentiment: positive|negative|neutral|dramatic|inspirational|informational\\n\\\n            - tags: array of 3-5 keywords\\n\\nOUTPUT SCHEMA (no extras):\\n{\\n  \\\"source_type\\\"\\\n            : \\\"pdf\\\",\\n  \\\"language_detected\\\": \\\"en\\\",\\n  \\\"text\\\": \\\"\\\",\\n  \\\"\\\n            tables\\\": [\\n    { \\\"title\\\": \\\"\\\", \\\"headers\\\": [\\\"c1\\\",\\\"c2\\\"], \\\"rows\\\"\\\n            : [[\\\"v1\\\",\\\"v2\\\"]] }\\n  ],\\n  \\\"images\\\": [\\n    {\\n      \\\"index\\\":\\\n            \\ 1,\\n      \\\"page\\\": 1,\\n      \\\"type\\\": \\\"\\\",\\n      \\\"caption\\\": \\\"\\\n            \\\",\\n      \\\"description\\\": \\\"\\\",\\n      \\\"subject\\\": \\\"\\\",\\n      \\\"\\\n            identity\\\": { \\\"name\\\": \\\"\\\", \\\"origin\\\": \\\"\\\", \\\"type\\\": \\\"\\\" },\\n  \\\n            \\    \\\"insights\\\": \\\"\\\",\\n      \\\"portrayed_by\\\": \\\"\\\",\\n      \\\"text_in_image\\\"\\\n            : \\\"\\\",\\n      \\\"sentiment\\\": \\\"\\\",\\n      \\\"tags\\\": []\\n    }\\n  ]\\n\\\n            }\\n\"\n        selected: false\n        title: Process PDF\n        type: llm\n        variables: []\n        vision:\n          enabled: false\n      height: 165\n      id: '1776007289790'\n      position:\n        x: 984\n        y: 45\n      positionAbsolute:\n        x: 984\n        y: 45\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        context:\n          enabled: false\n          variable_selector: []\n        desc: OCR + visual analysis. English and Japanese with kanji/kana accuracy.\n          Vision disabled.\n        model:\n          completion_params:\n            temperature: 0.1\n          mode: chat\n          name: gemini-2.5-pro\n          provider: langgenius/gemini/google\n        prompt_template:\n        - id: ocr-prompt-v4\n          role: system\n          text: \"IMAGE: {{#1776006764107.select_file#}}\\n\\nTASK: OCR all text. Analyse\\\n            \\ all visuals. Return 1 JSON object. No fences. No prose.\\n\\nRULES:\\n\\\n            - text: all printed/handwritten text verbatim, original layout kept; blank\\\n            \\ fields as \\\"___\\\"\\n- language: preserve text in its ORIGINAL language\\\n            \\ \u2014 do NOT translate\\n- language_detected: scan ALL visible text. Set\\\n            \\ \\\"ja\\\" ONLY if Japanese script (hiragana \u3072, katakana \u30a2, kanji \u6f22) is\\\n            \\ clearly and intentionally present as the primary written language. Set\\\n            \\ \\\"en\\\" for everything else including English, mixed, numeric-only, symbol-only,\\\n            \\ or unrecognised content. Never guess \\\"ja\\\".\\n- ja accuracy: preserve\\\n            \\ \u6f22\u5b57 (kanji) \u3072\u3089\u304c\u306a (hiragana) \u30ab\u30bf\u30ab\u30ca (katakana) \u53e5\u8aad\u70b9 exactly; never romanize;\\\n            \\ distinguish similar kanji carefully (e.g. \u571f/\u58eb \u5df1/\u5df2/\u5df3); use full-width\\\n            \\ chars as printed\\n- tables: every table/grid detected; [] if none\\n\\\n            - visual_analysis: always include image-level metadata + subjects array\\n\\\n            \\nFOR subjects \u2014 one entry per distinct person/character/logo/landmark/object:\\n\\\n            - index: 1-based integer\\n- type: person_real|person_fictional|logo|landmark|chart|object|artwork|other\\n\\\n            - description: what is literally visible, 2 sentences\\n- subject: e.g.\\\n            \\ \\\"Bahubali character \u2013 Devasena\\\" or \\\"Logo \u2013 Amazon India\\\"\\n- identity:\\\n            \\ name, origin (film/brand/city), type (fictional_character/real_person/brand/landmark/other)\\n\\\n            - insights: 3-4 sentences \u2014 character: role/actor/traits/impact; brand:\\\n            \\ founding/industry/HQ; landmark: location/history; person: profession/achievements\\n\\\n            - portrayed_by: actor/creator, or \\\"\\\"\\n- sentiment: positive|negative|neutral|dramatic|inspirational|informational|celebratory|formal\\n\\\n            - tags: array of 3-5 keywords\\n\\nOUTPUT SCHEMA (no extras):\\n{\\n  \\\"source_type\\\"\\\n            : \\\"image\\\",\\n  \\\"language_detected\\\": \\\"en\\\",\\n  \\\"text\\\": \\\"\\\",\\n  \\\"\\\n            tables\\\": [\\n    { \\\"title\\\": \\\"\\\", \\\"headers\\\": [\\\"c1\\\",\\\"c2\\\"], \\\"rows\\\"\\\n            : [[\\\"v1\\\",\\\"v2\\\"]] }\\n  ],\\n  \\\"visual_analysis\\\": {\\n    \\\"image_type\\\"\\\n            : \\\"document|photograph|illustration|screenshot|artwork|infographic|mixed\\\"\\\n            ,\\n    \\\"document_category\\\": \\\"invoice|receipt|form|certificate|id_card|letter|report|poster|advertisement|other\\\"\\\n            ,\\n    \\\"language\\\": \\\"\\\",\\n    \\\"quality\\\": \\\"excellent|good|fair|poor\\\"\\\n            ,\\n    \\\"orientation\\\": \\\"portrait|landscape|square\\\",\\n    \\\"subjects\\\"\\\n            : [\\n      {\\n        \\\"index\\\": 1,\\n        \\\"type\\\": \\\"\\\",\\n       \\\n            \\ \\\"description\\\": \\\"\\\",\\n        \\\"subject\\\": \\\"\\\",\\n        \\\"identity\\\"\\\n            : { \\\"name\\\": \\\"\\\", \\\"origin\\\": \\\"\\\", \\\"type\\\": \\\"\\\" },\\n        \\\"insights\\\"\\\n            : \\\"\\\",\\n        \\\"portrayed_by\\\": \\\"\\\",\\n        \\\"sentiment\\\": \\\"\\\"\\\n            ,\\n        \\\"tags\\\": []\\n      }\\n    ]\\n  }\\n}\\n\"\n        selected: false\n        title: Process OCR\n        type: llm\n        variables: []\n        vision:\n          enabled: false\n      height: 149\n      id: '17760073854930'\n      position:\n        x: 984\n        y: 241\n      positionAbsolute:\n        x: 984\n        y: 241\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        code: \"import json\\n\\ndef main(file_type: str = \\\"\\\") -> dict:\\n    ALLOWED\\\n          \\ = (\\n        \\\"Supported file types and limits (max 15 MB per file):\\\"\\\n          \\n        \\\"\\\\n\\\"\\n        \\\"\\\\n  PDF          : .pdf\\\"\\n        \\\"\\\\n \\\n          \\ Images       : .jpg  .jpeg  .png  .gif  .webp  .bmp  .tiff  .svg\\\"\\n \\\n          \\       \\\"\\\\n  Excel        : .xlsx  .xls         (up to 2,000 rows/sheet\\\n          \\ rendered)\\\"\\n        \\\"\\\\n  Word         : .doc  .docx         (up to\\\n          \\ 200,000 characters extracted)\\\"\\n        \\\"\\\\n  Plain text   : .txt  .md\\\n          \\  .rtf  .odt\\\"\\n        \\\"\\\\n  Web / data   : .html  .htm  .csv  (up to\\\n          \\ 200,000 characters extracted)\\\"\\n        \\\"\\\\n\\\"\\n        \\\"\\\\nBlocked:\\\n          \\ .zip .rar .tar .gz .7z and all archives\\\"\\n        \\\"\\\\nBlocked: .exe\\\n          \\ .msi .bat .sh .ps1 .dll and all executables\\\"\\n    )\\n\\n    ft = (file_type\\\n          \\ or \\\"\\\").strip()\\n\\n    # size_exceeded carries payload: \\\"size_exceeded|type|actual_mb|limit_mb\\\"\\\n          \\n    if ft.startswith(\\\"size_exceeded\\\"):\\n        parts    = ft.split(\\\"\\\n          |\\\")\\n        ftype    = parts[1] if len(parts) > 1 else \\\"file\\\"\\n    \\\n          \\    actual   = parts[2] if len(parts) > 2 else \\\"?\\\"\\n        limit   \\\n          \\ = parts[3] if len(parts) > 3 else \\\"?\\\"\\n        msg = (\\n           \\\n          \\ f\\\"File too large: {actual} MB uploaded, maximum for {ftype} is {limit}\\\n          \\ MB.\\\\n\\\\n\\\"\\n            \\\"The Dify platform enforces a 15 MB upload limit\\\n          \\ for all file types.\\\\n\\\\n\\\"\\n            \\\"Tips to reduce file size:\\\\\\\n          n\\\"\\n            \\\"  PDF     : Compress or split using any PDF editor (e.g.\\\n          \\ ilovepdf.com).\\\\n\\\"\\n            \\\"  Image   : Compress using TinyPNG,\\\n          \\ Squoosh, or imagemagick.\\\\n\\\"\\n            \\\"  Excel   : Remove unused\\\n          \\ sheets, rows, or embedded images.\\\\n\\\"\\n            \\\"  Word    : Remove\\\n          \\ embedded images or split into smaller documents.\\\\n\\\"\\n            \\\"\\\n          \\  Document: Trim content or split into multiple files.\\\\n\\\\n\\\"\\n      \\\n          \\      f\\\"{ALLOWED}\\\"\\n        )\\n        return {\\\"result\\\": json.dumps({\\n\\\n          \\            \\\"source_type\\\": \\\"unknown\\\", \\\"success\\\": False,\\n       \\\n          \\     \\\"error_message\\\": msg, \\\"data\\\": {}\\n        })}\\n\\n    messages\\\n          \\ = {\\n        \\\"empty\\\": (\\n            \\\"The uploaded file is empty or\\\n          \\ has no readable content.\\\\n\\\\n\\\"\\n            f\\\"Allowed formats:\\\\n{ALLOWED}\\\"\\\n          \\n        ),\\n        \\\"zip_disguised\\\": (\\n            \\\"File rejected.\\\n          \\ A compressed archive was detected inside this file.\\\\n\\\\n\\\"\\n        \\\n          \\    \\\"The file content signature (magic bytes PK/Rar!/7z etc.) identifies\\\n          \\ \\\"\\n            \\\"this as a ZIP or archive file, even though it was uploaded\\\n          \\ with a \\\"\\n            \\\"different extension (.png, .jpg, .pdf, .txt etc.).\\\\\\\n          n\\\\n\\\"\\n            \\\"Renaming a compressed file does not change its content.\\\n          \\ \\\"\\n            \\\"Please upload the original uncompressed file.\\\\n\\\\n\\\"\\\n          \\n            f\\\"Allowed formats:\\\\n{ALLOWED}\\\"\\n        ),\\n        \\\"\\\n          zip_blocked\\\": (\\n            \\\"Compressed and archive files are not allowed.\\\n          \\ \\\"\\n            \\\"Blocked: .zip .rar .tar .gz .7z .bz2 .xz .cab .iso and\\\n          \\ all variants.\\\\n\\\\n\\\"\\n            f\\\"Allowed formats:\\\\n{ALLOWED}\\\"\\n\\\n          \\        ),\\n        \\\"exe_blocked\\\": (\\n            \\\"Executable and script\\\n          \\ files are not allowed. \\\"\\n            \\\"Blocked: .exe .msi .bat .cmd\\\n          \\ .sh .ps1 .vbs .app .apk \\\"\\n            \\\".dll .so .class .pyc .php .rb\\\n          \\ .pl .lnk and all others.\\\\n\\\\n\\\"\\n            f\\\"Allowed formats:\\\\n{ALLOWED}\\\"\\\n          \\n        ),\\n        \\\"word_unsupported\\\": (\\n            \\\".doc and .docx\\\n          \\ are supported \u2014 please re-upload your file.\\\\n\\\\n\\\"\\n            \\\"If\\\n          \\ the error persists, convert to .txt or .html as a fallback:\\\\n\\\"\\n   \\\n          \\         \\\"  1. Save as .txt  (File > Save As > Plain Text)\\\\n\\\"\\n    \\\n          \\        \\\"  2. Save as .html (File > Save As > Web Page)\\\\n\\\\n\\\"\\n    \\\n          \\        f\\\"Supported document formats:\\\\n{ALLOWED}\\\"\\n        ),\\n    \\\n          \\    \\\"unsupported\\\": (\\n            \\\"Unsupported file format.\\\\n\\\\n\\\"\\n\\\n          \\            f\\\"{ALLOWED}\\\\n\\\\n\\\"\\n            \\\"If your file is not listed\\\n          \\ above, consider converting it:\\\\n\\\"\\n            \\\"  Word processor files\\\n          \\ (.pages, .odf, .wps) \u2192 save as .docx or .txt\\\\n\\\"\\n            \\\"  Presentations\\\n          \\ (.pptx, .key)               \u2192 export as PDF\\\\n\\\"\\n            \\\"  Spreadsheets\\\n          \\ (.ods, .numbers)             \u2192 export as .xlsx or .csv\\\\n\\\"\\n        \\\n          \\    \\\"  E-books (.epub, .mobi)                    \u2192 convert to .txt or\\\n          \\ PDF\\\\n\\\"\\n            \\\"  Data files (.json, .xml)                  \u2192\\\n          \\ rename to .txt\\\"\\n        ),\\n    }\\n\\n    msg = messages.get(ft, messages[\\\"\\\n          unsupported\\\"])\\n    return {\\\"result\\\": json.dumps({\\n        \\\"source_type\\\"\\\n          : \\\"unknown\\\", \\\"success\\\": False,\\n        \\\"error_message\\\": msg, \\\"data\\\"\\\n          : {}\\n    })}\\n\"\n        code_language: python3\n        desc: 'Dynamic error messages for: empty, zip_blocked, exe_blocked, unsupported.\n          Lists all allowed formats (PDF, images, Excel, TXT, DOC/DOCX, CSV, HTM/HTML).\n          Lists all blocked categories (archives, executables).'\n        outputs:\n          result:\n            children: null\n            type: string\n        selected: false\n        title: 'Error: Invalid File'\n        type: code\n        variables:\n        - value_selector:\n          - '1776006990907'\n          - result\n          value_type: string\n          variable: file_type\n      height: 161\n      id: '1776007607703'\n      position:\n        x: 997.2808261846812\n        y: 704.7419849534729\n      positionAbsolute:\n        x: 997.2808261846812\n        y: 704.7419849534729\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        code: \"import json, re\\n\\ndef strip_fences(raw):\\n    return re.sub(r\\\"```[a-zA-Z]*\\\\\\\n          s*|\\\\s*```\\\", \\\"\\\", raw).strip()\\n\\ndef parse_json(raw):\\n    try:\\n   \\\n          \\     return json.loads(strip_fences(raw)), \\\"\\\"\\n    except json.JSONDecodeError\\\n          \\ as e:\\n        return {}, f\\\"JSON parse failed: {e}\\\"\\n\\ndef section(title):\\n\\\n          \\    return f\\\"\\\\n{'\u2500' * 60}\\\\n  {title}\\\\n{'\u2500' * 60}\\\"\\n\\ndef fmt_table(table):\\n\\\n          \\    headers = table.get(\\\"headers\\\") or []\\n    rows    = table.get(\\\"\\\n          rows\\\")    or []\\n    title   = (table.get(\\\"title\\\")  or \\\"\\\").strip()\\n\\\n          \\    if not headers:\\n        return \\\"  (empty table)\\\"\\n    col_w = [\\n\\\n          \\        max(len(str(h)), max((len(str(r[i])) for r in rows if i < len(r)),\\\n          \\ default=0))\\n        for i, h in enumerate(headers)\\n    ]\\n    def fmt_row(cells):\\n\\\n          \\        return \\\"| \\\" + \\\" | \\\".join(\\n            str(cells[i]).ljust(col_w[i])\\\n          \\ if i < len(cells) else \\\" \\\" * col_w[i]\\n            for i in range(len(headers))\\n\\\n          \\        ) + \\\" |\\\"\\n    sep   = \\\"+\\\" + \\\"+\\\".join(\\\"-\\\" * (w + 2) for\\\n          \\ w in col_w) + \\\"+\\\"\\n    block = []\\n    if title:\\n        block.append(f\\\"\\\n          \\  Table: {title}\\\")\\n    block += [sep, fmt_row(headers), sep]\\n    for\\\n          \\ row in rows:\\n        block.append(fmt_row(row))\\n    block.append(sep)\\n\\\n          \\    return \\\"\\\\n\\\".join(block)\\n\\ndef render_image_entry(img, idx_label):\\n\\\n          \\    lines    = []\\n    identity = img.get(\\\"identity\\\") or {}\\n    lines.append(f\\\"\\\n          \\\\n  {idx_label}\\\")\\n    if img.get(\\\"subject\\\"):        lines.append(f\\\"\\\n          \\    Subject      : {img['subject']}\\\")\\n    if img.get(\\\"description\\\"\\\n          ):    lines.append(f\\\"    Description  : {img['description']}\\\")\\n    if\\\n          \\ identity.get(\\\"name\\\"):      lines.append(f\\\"    Name         : {identity['name']}\\\"\\\n          )\\n    if identity.get(\\\"origin\\\"):    lines.append(f\\\"    Origin      \\\n          \\ : {identity['origin']}\\\")\\n    if identity.get(\\\"type\\\"):      lines.append(f\\\"\\\n          \\    Identity Type: {identity['type']}\\\")\\n    if img.get(\\\"portrayed_by\\\"\\\n          ):   lines.append(f\\\"    Portrayed By : {img['portrayed_by']}\\\")\\n    if\\\n          \\ img.get(\\\"insights\\\"):\\n        lines.append(\\\"    Insights     :\\\")\\n\\\n          \\        for s in img[\\\"insights\\\"].split(\\\". \\\"):\\n            s = s.strip()\\n\\\n          \\            if s:\\n                lines.append(f\\\"      \\\\u2022 {s}{'.'\\\n          \\ if not s.endswith('.') else ''}\\\")\\n    if img.get(\\\"caption\\\"):     \\\n          \\   lines.append(f\\\"    Caption      : {img['caption']}\\\")\\n    if img.get(\\\"\\\n          text_in_image\\\"):  lines.append(f\\\"    Text Inside  : {img['text_in_image']}\\\"\\\n          )\\n    if img.get(\\\"sentiment\\\"):      lines.append(f\\\"    Sentiment   \\\n          \\ : {img['sentiment']}\\\")\\n    tags = img.get(\\\"tags\\\") or []\\n    if tags:\\\n          \\                      lines.append(f\\\"    Tags         : {', '.join(tags)}\\\"\\\n          )\\n    return lines\\n\\ndef format_pdf(data):\\n    lines = []\\n    lines.append(section(\\\"\\\n          EXTRACTED TEXT\\\"))\\n    text = (data.get(\\\"text\\\") or \\\"\\\").strip()\\n  \\\n          \\  lines.append(text if text else \\\"  (no text found)\\\")\\n    tables = data.get(\\\"\\\n          tables\\\") or []\\n    lines.append(section(f\\\"TABLES  ({len(tables)} found)\\\"\\\n          ))\\n    if not tables:\\n        lines.append(\\\"  (no tables found)\\\")\\n\\\n          \\    else:\\n        for i, t in enumerate(tables, 1):\\n            lines.append(f\\\"\\\n          \\\\n  [Table {i}]\\\")\\n            lines.append(fmt_table(t))\\n    images\\\n          \\ = data.get(\\\"images\\\") or []\\n    lines.append(section(f\\\"IMAGES IN PDF\\\n          \\  ({len(images)} found)\\\"))\\n    if not images:\\n        lines.append(\\\"\\\n          \\  (no images found)\\\")\\n    else:\\n        for img in images:\\n       \\\n          \\     label = (\\n                f\\\"\\\\u25b8 Image #{img.get('index','')}\\\n          \\ \\\"\\n                f\\\"| Page {img.get('page','')} \\\"\\n              \\\n          \\  f\\\"| {img.get('type','').upper()}\\\"\\n            )\\n            lines.extend(render_image_entry(img,\\\n          \\ label))\\n    return \\\"\\\\n\\\".join(lines)\\n\\ndef format_image(data):\\n \\\n          \\   lines = []\\n    lines.append(section(\\\"EXTRACTED TEXT  (OCR)\\\"))\\n \\\n          \\   text = (data.get(\\\"text\\\") or \\\"\\\").strip()\\n    lines.append(text if\\\n          \\ text else \\\"  (no text found)\\\")\\n    tables = data.get(\\\"tables\\\") or\\\n          \\ []\\n    lines.append(section(f\\\"TABLES  ({len(tables)} found)\\\"))\\n  \\\n          \\  if not tables:\\n        lines.append(\\\"  (no tables found)\\\")\\n    else:\\n\\\n          \\        for i, t in enumerate(tables, 1):\\n            lines.append(f\\\"\\\n          \\\\n  [Table {i}]\\\")\\n            lines.append(fmt_table(t))\\n    va = data.get(\\\"\\\n          visual_analysis\\\") or {}\\n    lines.append(section(\\\"VISUAL ANALYSIS\\\"))\\n\\\n          \\    if not va:\\n        lines.append(\\\"  (no visual analysis)\\\")\\n    else:\\n\\\n          \\        lines.append(f\\\"  Image Type        : {va.get('image_type','')}\\\"\\\n          )\\n        lines.append(f\\\"  Document Category : {va.get('document_category','')}\\\"\\\n          )\\n        lines.append(f\\\"  Language          : {va.get('language','')}\\\"\\\n          )\\n        lines.append(f\\\"  Image Quality     : {va.get('quality','')}\\\"\\\n          )\\n        lines.append(f\\\"  Orientation       : {va.get('orientation','')}\\\"\\\n          )\\n        subjects = va.get(\\\"subjects\\\") or []\\n        lines.append(f\\\"\\\n          \\\\n  Subjects Found: {len(subjects)}\\\")\\n        for sub in subjects:\\n\\\n          \\            label = (\\n                f\\\"\\\\u25b8 Subject #{sub.get('index','')}\\\n          \\ \\\"\\n                f\\\"| {sub.get('type','').upper()}\\\"\\n            )\\n\\\n          \\            lines.extend(render_image_entry(sub, label))\\n    return \\\"\\\n          \\\\n\\\".join(lines)\\n\\ndef format_excel(raw, vision_raw=\\\"\\\"):\\n    lines\\\n          \\ = []\\n    parsed, err = parse_json(raw)\\n    if err or not parsed.get(\\\"\\\n          success\\\", False):\\n        msg = parsed.get(\\\"error_message\\\", err) if\\\n          \\ not err else err\\n        lines.append(section(\\\"EXCEL ERROR\\\"))\\n   \\\n          \\     lines.append(f\\\"  {msg}\\\")\\n        return \\\"\\\\n\\\".join(lines)\\n \\\n          \\   data        = parsed.get(\\\"data\\\", {})\\n    sheets      = data.get(\\\"\\\n          sheets\\\", {})\\n    sheet_names = data.get(\\\"sheet_names\\\", list(sheets.keys()))\\n\\\n          \\    sheet_count = data.get(\\\"sheet_count\\\", len(sheets))\\n    lines.append(section(f\\\"\\\n          EXCEL DATA  ({sheet_count} sheet{'s' if sheet_count != 1 else ''})\\\"))\\n\\\n          \\    lines.append(f\\\"  Sheet Names : {', '.join(sheet_names)}\\\")\\n    for\\\n          \\ sheet_name, sheet_data in sheets.items():\\n        # Support both old\\\n          \\ format (list of dicts) and new large-file format (dict with metadata)\\n\\\n          \\        if isinstance(sheet_data, dict) and \\\"records\\\" in sheet_data:\\n\\\n          \\            records    = sheet_data.get(\\\"records\\\", [])\\n            total_rows\\\n          \\ = sheet_data.get(\\\"total_rows\\\", len(records))\\n            truncated\\\n          \\  = sheet_data.get(\\\"truncated\\\", False)\\n            trunc_note = sheet_data.get(\\\"\\\n          truncation_note\\\", \\\"\\\")\\n        else:\\n            records    = sheet_data\\\n          \\ if isinstance(sheet_data, list) else []\\n            total_rows = len(records)\\n\\\n          \\            truncated  = False\\n            trunc_note = \\\"\\\"\\n       \\\n          \\ lines.append(f\\\"\\\\n  {'=' * 50}\\\")\\n        lines.append(f\\\"  Sheet: {sheet_name}\\\n          \\  (Total rows: {total_rows} | Loaded: {len(records)})\\\")\\n        if truncated:\\n\\\n          \\            lines.append(f\\\"  [LARGE FILE] {trunc_note}\\\")\\n        lines.append(f\\\"\\\n          \\  {'=' * 50}\\\")\\n        if not records:\\n            lines.append(\\\" \\\n          \\ (empty sheet)\\\")\\n            continue\\n        headers  = list(records[0].keys())\\n\\\n          \\        row_data = [[str(r.get(h, \\\"\\\")) for h in headers] for r in records]\\n\\\n          \\        fake_t   = {\\\"title\\\": \\\"\\\", \\\"headers\\\": headers, \\\"rows\\\": row_data}\\n\\\n          \\        for tline in fmt_table(fake_t).splitlines():\\n            lines.append(\\\"\\\n          \\  \\\" + tline)\\n        lines.append(f\\\"\\\\n  Columns: {len(headers)}  |\\\n          \\  Rows loaded: {len(records)}  |  Total rows: {total_rows}\\\")\\n       \\\n          \\ lines.append(f\\\"  Column names: {', '.join(headers)}\\\")\\n    if vision_raw:\\n\\\n          \\        vdata, verr = parse_json(vision_raw)\\n        if not verr:\\n  \\\n          \\          images = vdata.get(\\\"images\\\") or []\\n            lines.append(section(f\\\"\\\n          EMBEDDED IMAGES IN EXCEL  ({len(images)} found)\\\"))\\n            if not\\\n          \\ images:\\n                lines.append(\\\"  (no embedded images found)\\\"\\\n          )\\n            else:\\n                for img in images:\\n             \\\n          \\       label = (\\n                        f\\\"\\\\u25b8 Image #{img.get('index','')}\\\n          \\ \\\"\\n                        f\\\"| Sheet: {img.get('sheet','')} \\\"\\n   \\\n          \\                     f\\\"| {(img.get('chart_type') or img.get('type') or\\\n          \\ '').upper()}\\\"\\n                    )\\n                    lines.append(f\\\"\\\n          \\\\n  {label}\\\")\\n                    if img.get('title'):\\n            \\\n          \\            lines.append(f\\\"    Title        : {img['title']}\\\")\\n    \\\n          \\                if img.get('description'):\\n                        lines.append(f\\\"\\\n          \\    Description  : {img['description']}\\\")\\n                    if img.get('data_summary'):\\n\\\n          \\                        lines.append(f\\\"    Data Insight : {img['data_summary']}\\\"\\\n          )\\n                    axes = img.get('axes') or {}\\n                  \\\n          \\  if axes.get('x_label') or axes.get('y_label'):\\n                    \\\n          \\    lines.append(f\\\"    Axes         : X={axes.get('x_label','')}  Y={axes.get('y_label','')}\\\"\\\n          )\\n                    series = img.get('series') or []\\n              \\\n          \\      if series:\\n                        lines.append(f\\\"    Series  \\\n          \\     : {', '.join(str(s) for s in series)}\\\")\\n                    if img.get('sentiment'):\\n\\\n          \\                        lines.append(f\\\"    Sentiment    : {img['sentiment']}\\\"\\\n          )\\n                    tags = img.get('tags') or []\\n                  \\\n          \\  if tags:\\n                        lines.append(f\\\"    Tags         :\\\n          \\ {', '.join(str(t) for t in tags)}\\\")\\n    return \\\"\\\\n\\\".join(lines)\\n\\\n          \\n\\ndef format_document(data):\\n    lines = []\\n    doc_type   = (data.get(\\\"\\\n          doc_type\\\")   or \\\"\\\").upper()\\n    word_count = data.get(\\\"word_count\\\"\\\n          ,   0)\\n    summary    = (data.get(\\\"summary\\\")    or \\\"\\\").strip()\\n  \\\n          \\  lines.append(section(\\\"DOCUMENT INFO\\\"))\\n    lines.append(f\\\"  Document\\\n          \\ Type : {doc_type if doc_type else '(unknown)'}\\\")\\n    lines.append(f\\\"\\\n          \\  Word Count    : {word_count}\\\")\\n    extraction_error = (data.get('extraction_error')\\\n          \\ or '').strip()\\n    if extraction_error:\\n        lines.append(section('EXTRACTION\\\n          \\ ERROR'))\\n        lines.append(f'  {extraction_error}')\\n        return\\\n          \\ '\\\\n'.join(lines)\\n    if summary:\\n        lines.append(f\\\"  Summary\\\n          \\       : {summary}\\\")\\n    lines.append(section(\\\"EXTRACTED TEXT\\\"))\\n\\\n          \\    text = (data.get(\\\"text\\\") or \\\"\\\").strip()\\n    lines.append(text\\\n          \\ if text else \\\"  (no text found)\\\")\\n    tables = data.get(\\\"tables\\\"\\\n          ) or []\\n    lines.append(section(f\\\"TABLES  ({len(tables)} found)\\\"))\\n\\\n          \\    if not tables:\\n        lines.append(\\\"  (no tables found)\\\")\\n   \\\n          \\ else:\\n        for i, t in enumerate(tables, 1):\\n            lines.append(f\\\"\\\n          \\\\n  [Table {i}]\\\")\\n            lines.append(fmt_table(t))\\n    return\\\n          \\ \\\"\\\\n\\\".join(lines)\\n\\ndef format_word(data):\\n    lines = []\\n    doc_type\\\n          \\   = (data.get(\\\"doc_type\\\")   or \\\"\\\").upper()\\n    word_count = data.get(\\\"\\\n          word_count\\\",   0)\\n    summary    = (data.get(\\\"summary\\\")    or \\\"\\\").strip()\\n\\\n          \\    lines.append(section(\\\"DOCUMENT INFO\\\"))\\n    lines.append(f\\\"  Document\\\n          \\ Type : {doc_type if doc_type else '(unknown)'}\\\")\\n    lines.append(f\\\"\\\n          \\  Word Count    : {word_count}\\\")\\n    if summary:\\n        lines.append(f\\\"\\\n          \\  Summary       : {summary}\\\")\\n    lines.append(section(\\\"EXTRACTED TEXT\\\"\\\n          ))\\n    text = (data.get(\\\"text\\\") or \\\"\\\").strip()\\n    lines.append(text\\\n          \\ if text else \\\"  (no text found)\\\")\\n    tables = data.get(\\\"tables\\\"\\\n          ) or []\\n    lines.append(section(f\\\"TABLES  ({len(tables)} found)\\\"))\\n\\\n          \\    if not tables:\\n        lines.append(\\\"  (no tables found)\\\")\\n   \\\n          \\ else:\\n        for i, t in enumerate(tables, 1):\\n            lines.append(f\\\"\\\n          \\\\n  [Table {i}]\\\")\\n            lines.append(fmt_table(t))\\n    images\\\n          \\ = data.get(\\\"images\\\") or []\\n    lines.append(section(f\\\"IMAGES IN DOCUMENT\\\n          \\  ({len(images)} found)\\\"))\\n    if not images:\\n        lines.append(\\\"\\\n          \\  (no images found)\\\")\\n    else:\\n        for img in images:\\n       \\\n          \\     label = (\\n                f\\\"\\\\u25b8 Image #{img.get('index','')}\\\n          \\ \\\"\\n                f\\\"| {img.get('type','').upper()}\\\"\\n            )\\n\\\n          \\            lines.extend(render_image_entry(img, label))\\n    return \\\"\\\n          \\\\n\\\".join(lines)\\n\\n\\ndef format_error(msg):\\n    lines = [section(\\\"ERROR\\\"\\\n          )]\\n    lines.append(f\\\"  {msg}\\\")\\n    return \\\"\\\\n\\\".join(lines)\\n\\ndef\\\n          \\ main(\\n    pdf_raw:          str = \\\"\\\",\\n    ocr_raw:          str =\\\n          \\ \\\"\\\",\\n    excel_text                = \\\"\\\",\\n    excel_vision_raw: str\\\n          \\ = \\\"\\\",\\n    doc_raw:          str = \\\"\\\",\\n    word_raw:         str\\\n          \\ = \\\"\\\",\\n    error_raw:        str = \\\"\\\"\\n) -> dict:\\n\\n    pdf_raw \\\n          \\         = (pdf_raw          or \\\"\\\").strip()\\n    ocr_raw          = (ocr_raw\\\n          \\          or \\\"\\\").strip()\\n    excel_vision_raw = (excel_vision_raw or\\\n          \\ \\\"\\\").strip()\\n    error_raw        = (error_raw        or \\\"\\\").strip()\\n\\\n          \\    doc_raw          = (doc_raw          or \\\"\\\").strip()\\n    word_raw\\\n          \\         = (word_raw         or \\\"\\\").strip()\\n\\n    # excel_text may arrive\\\n          \\ as list from Document Extractor\\n    if isinstance(excel_text, list):\\n\\\n          \\        excel_text = \\\"\\\\n\\\".join(str(i) for i in excel_text if i)\\n  \\\n          \\  excel_text = str(excel_text or \\\"\\\").strip()\\n\\n    DIV = \\\"=\\\" * 60\\n\\\n          \\n    try:\\n        # \u2500\u2500 Error branch \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\\n\\\n          \\        if error_raw:\\n            parsed, _ = parse_json(error_raw)\\n\\\n          \\            msg     = parsed.get(\\\"error_message\\\", error_raw) or error_raw\\n\\\n          \\            body    = format_error(msg)\\n            source  = \\\"ERROR\\\"\\\n          \\n            lang    = \\\"\\\"\\n            success = False\\n\\n        # \u2500\u2500\\\n          \\ Excel branch \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\\n       \\\n          \\ elif excel_text:\\n            body    = format_excel(excel_text, excel_vision_raw)\\n\\\n          \\            source  = \\\"EXCEL\\\"\\n            parsed, _ = parse_json(excel_text)\\n\\\n          \\            success = parsed.get(\\\"success\\\", True)\\n            lang \\\n          \\   = \\\"\\\"\\n\\n        # \u2500\u2500 PDF branch \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\\n\\\n          \\        elif pdf_raw:\\n            parsed, err = parse_json(pdf_raw)\\n\\\n          \\            if err:\\n                body = format_error(\\n           \\\n          \\         f\\\"Could not parse PDF response.\\\\n  {err}\\\\n\\\\n  Raw preview:\\\\\\\n          n  {pdf_raw[:400]}\\\"\\n                )\\n                success = False\\n\\\n          \\                lang    = \\\"\\\"\\n            else:\\n                body\\\n          \\    = format_pdf(parsed)\\n                success = True\\n            \\\n          \\    lang    = parsed.get(\\\"language_detected\\\", \\\"\\\")\\n            source\\\n          \\ = \\\"PDF\\\"\\n\\n        # \u2500\u2500 OCR / Image branch \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\\n\\\n          \\        elif ocr_raw:\\n            parsed, err = parse_json(ocr_raw)\\n\\\n          \\            if err:\\n                body = format_error(\\n           \\\n          \\         f\\\"Could not parse OCR response.\\\\n  {err}\\\\n\\\\n  Raw preview:\\\\\\\n          n  {ocr_raw[:400]}\\\"\\n                )\\n                success = False\\n\\\n          \\                lang    = \\\"\\\"\\n            else:\\n                body\\\n          \\    = format_image(parsed)\\n                success = True\\n          \\\n          \\      lang    = parsed.get(\\\"language_detected\\\", \\\"\\\")\\n            source\\\n          \\ = \\\"IMAGE\\\"\\n\\n        # \u2500\u2500 Document branch (txt/doc/docx/csv) \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\\n\\\n          \\        elif doc_raw:\\n            parsed, err = parse_json(doc_raw)\\n\\\n          \\            if err:\\n                body = format_error(\\n           \\\n          \\         f\\\"Could not parse document response.\\\\n  {err}\\\\n\\\\n  Raw preview:\\\\\\\n          n  {doc_raw[:400]}\\\"\\n                )\\n                success = False\\n\\\n          \\                lang    = \\\"\\\"\\n            else:\\n                body\\\n          \\    = format_document(parsed)\\n                success = True\\n       \\\n          \\         lang    = parsed.get(\\\"language_detected\\\", \\\"\\\")\\n          \\\n          \\  source = \\\"DOCUMENT\\\"\\n\\n        # \u2500\u2500 Word document branch (.doc / .docx)\\\n          \\ \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\\n        elif word_raw:\\n            parsed,\\\n          \\ err = parse_json(word_raw)\\n            if err:\\n                body\\\n          \\ = format_error(\\n                    f\\\"Could not parse Word document\\\n          \\ response.\\\\n  {err}\\\\n\\\\n  Raw preview:\\\\n  {word_raw[:400]}\\\"\\n     \\\n          \\           )\\n                success = False\\n                lang   \\\n          \\ = \\\"\\\"\\n            else:\\n                body    = format_word(parsed)\\n\\\n          \\                success = True\\n                lang    = parsed.get(\\\"\\\n          language_detected\\\", \\\"\\\")\\n            source = \\\"WORD\\\"\\n\\n        # \u2500\u2500\\\n          \\ Nothing arrived \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\\n       \\\n          \\ else:\\n            body    = format_error(\\n                \\\"No data\\\n          \\ received. Verify all branch edges are connected to this Formatter node.\\\"\\\n          \\n            )\\n            source  = \\\"UNKNOWN\\\"\\n            success\\\n          \\ = False\\n            lang    = \\\"\\\"\\n\\n        status      = \\\"SUCCESS\\\"\\\n          \\ if success else \\\"FAILED\\\"\\n        lang_map    = {\\\"en\\\": \\\"English\\\"\\\n          , \\\"ja\\\": \\\"Japanese\\\"}\\n        lang_label  = lang_map.get(lang.lower(),\\\n          \\ lang.upper()) if lang else \\\"\\\"\\n        lang_suffix = f\\\"  |  Language:\\\n          \\ {lang_label}\\\" if lang_label else \\\"\\\"\\n\\n        result = \\\"\\\\n\\\".join([\\n\\\n          \\            DIV,\\n            f\\\"  FILE READER  |  Source: {source}  |\\\n          \\  Status: {status}{lang_suffix}\\\",\\n            DIV,\\n            body,\\n\\\n          \\            \\\"\\\",\\n            DIV\\n        ])\\n        return {\\\"result\\\"\\\n          : result}\\n\\n    except Exception as e:\\n        return {\\\"result\\\": \\\"\\\\\\\n          n\\\".join([\\n            DIV,\\n            \\\"  FILE READER  |  FORMATTER\\\n          \\ ERROR\\\",\\n            DIV,\\n            format_error(str(e))\\n       \\\n          \\ ])}\\n\"\n        code_language: python3\n        desc: 'Single formatter \u2014 PDF, OCR, Excel, Document (txt/doc/docx/csv), Error.\n          NEW: doc_raw variable for document branch. Language shown as English/Japanese\n          in header.'\n        outputs:\n          result:\n            children: null\n            type: string\n        selected: false\n        title: Formatter\n        type: code\n        variables:\n        - value_selector:\n          - '1776007289790'\n          - text\n          value_type: string\n          variable: pdf_raw\n        - value_selector:\n          - '17760073854930'\n          - text\n          value_type: string\n          variable: ocr_raw\n        - value_selector:\n          - node-excel-unified\n          - excel_data\n          value_type: string\n          variable: excel_text\n        - value_selector:\n          - node-excel-llm\n          - text\n          value_type: string\n          variable: excel_vision_raw\n        - value_selector:\n          - '1776007607703'\n          - result\n          value_type: string\n          variable: error_raw\n        - value_selector:\n          - node-process-document\n          - text\n          value_type: string\n          variable: doc_raw\n        - value_selector:\n          - node-process-word\n          - text\n          value_type: string\n          variable: word_raw\n      height: 145\n      id: '1776007699730'\n      position:\n        x: 1500\n        y: 307\n      positionAbsolute:\n        x: 1500\n        y: 307\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        desc: Final output. result is a fully formatted descriptive report. Contains\n          source type, status, language, extracted content, and insights.\n        outputs:\n        - value_selector:\n          - '1776007699730'\n          - result\n          value_type: string\n          variable: result\n        selected: false\n        title: End\n        type: end\n      height: 166\n      id: '1776008679232'\n      position:\n        x: 1800\n        y: 289\n      positionAbsolute:\n        x: 1800\n        y: 289\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        desc: Extracts text from TXT, CSV, HTML, HTM, MD, RTF, ODT natively on Dify\n          Cloud. No external API needed for these formats.\n        selected: false\n        title: Extract Document Content\n        type: document-extractor\n        variable_selector:\n        - '1776006764107'\n        - select_file\n      height: 170\n      id: node-doc-extractor-doc\n      position:\n        x: 984\n        y: 870\n      positionAbsolute:\n        x: 984\n        y: 870\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        code: \"import json\\n\\nMAX_CHARS = 200_000  # ~50K tokens \u2014 well within Gemini\\\n          \\ 2.5 Pro context\\n\\ndef main(raw_text=\\\"\\\") -> dict:\\n    # Document Extractor\\\n          \\ outputs array[string] \u2014 join to single string\\n    if isinstance(raw_text,\\\n          \\ list):\\n        raw_text = \\\"\\\\n\\\".join(str(i) for i in raw_text if i)\\n\\\n          \\n    content = str(raw_text or \\\"\\\").strip()\\n\\n    if not content:\\n \\\n          \\       content = \\\"[EMPTY: No readable text could be extracted from this\\\n          \\ file.]\\\"\\n        return {\\\"content\\\": content}\\n\\n    total_chars = len(content)\\n\\\n          \\n    if total_chars > MAX_CHARS:\\n        # Trim to limit, try to cut at\\\n          \\ a clean line boundary\\n        trimmed = content[:MAX_CHARS]\\n       \\\n          \\ last_nl = trimmed.rfind(\\\"\\\\n\\\")\\n        if last_nl > MAX_CHARS * 0.9:\\\n          \\   # only snap to line if close to limit\\n            trimmed = trimmed[:last_nl]\\n\\\n          \\        omitted = total_chars - len(trimmed)\\n        content = (\\n   \\\n          \\         trimmed +\\n            f\\\"\\\\n\\\\n[TRUNCATED: File too large to\\\n          \\ process in full. \\\"\\n            f\\\"Showing first {len(trimmed):,} of\\\n          \\ {total_chars:,} characters. \\\"\\n            f\\\"{omitted:,} characters\\\n          \\ omitted. \\\"\\n            f\\\"Split the file into smaller parts to process\\\n          \\ the full content.]\\\"\\n        )\\n\\n    return {\\\"content\\\": content}\\n\"\n        code_language: python3\n        desc: Normalises Document Extractor output. Joins array[string] to single\n          string. Guarantees non-empty content so LLM never receives empty input.\n        outputs:\n          content:\n            children: null\n            type: string\n        selected: false\n        title: Normalize Document\n        type: code\n        variables:\n        - value_selector:\n          - node-doc-extractor-doc\n          - text\n          value_type: string\n          variable: raw_text\n      height: 129\n      id: node-doc-normalize\n      position:\n        x: 1200\n        y: 870\n      positionAbsolute:\n        x: 1200\n        y: 870\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        context:\n          enabled: true\n          variable_selector:\n          - node-doc-normalize\n          - content\n        desc: Processes extracted document text. Receives actual text via doc_content\n          variable. System + user turns \u2014 Gemini requires non-empty contents[]. Temperature\n          0.1.\n        model:\n          completion_params:\n            temperature: 0.1\n          mode: chat\n          name: gemini-2.5-pro\n          provider: langgenius/gemini/google\n        prompt_template:\n        - id: doc-system-v7\n          role: system\n          text: You are a document extraction engine. Return ONLY JSON. No fences.\n            No prose.\n        - id: doc-user-v7\n          role: user\n          text: 'DOCUMENT CONTENT:\n\n            {{#context#}}\n\n\n            TASK: Analyse DOCUMENT CONTENT above only. Return 1 JSON object.\n\n\n            RULES:\n\n            - text: copy ALL content verbatim from DOCUMENT CONTENT; do NOT invent\n\n            - do NOT translate\n\n            - language_detected: scan text. Set \"ja\" ONLY if Japanese script (hiragana\n            \u3072, katakana \u30a2, kanji \u6f22) is clearly the primary language. Set \"en\" for\n            everything else. Never guess \"ja\".\n\n            - ja accuracy: preserve \u6f22\u5b57 \u3072\u3089\u304c\u306a \u30ab\u30bf\u30ab\u30ca \u53e5\u8aad\u70b9 exactly; never romanize\n\n            - doc_type: report|letter|article|form|data|spreadsheet|webpage|notes|other\n\n            - word_count: count words in DOCUMENT CONTENT\n\n            - summary: 2-3 sentences in English about DOCUMENT CONTENT\n\n            - tables: every table/grid in DOCUMENT CONTENT; [] if none\n\n            - CSV: headers = first row; all rows \u2192 table format\n\n            - HTML: visible text only, strip tags\n\n            - Word (.doc/.docx): extract all text verbatim; preserve heading hierarchy\n            (Heading 1 / Heading 2 \u2026) as section markers; extract all tables; preserve\n            numbered and bulleted lists; ignore headers/footers/watermarks\n\n\n            OUTPUT SCHEMA (no extras):\n\n            {\"source_type\":\"document\",\"language_detected\":\"en\",\"doc_type\":\"\",\"word_count\":0,\"summary\":\"\",\"text\":\"\",\"tables\":[]}'\n        selected: false\n        title: Process Document\n        type: llm\n        variables:\n        - value_selector:\n          - node-doc-normalize\n          - content\n          variable: doc_content\n        vision:\n          enabled: false\n      height: 181\n      id: node-process-document\n      position:\n        x: 1550.7958964877648\n        y: 850.3102951523795\n      positionAbsolute:\n        x: 1550.7958964877648\n        y: 850.3102951523795\n      selected: true\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        code: \"\\nimport zipfile, io, json, base64\\nimport xml.etree.ElementTree as\\\n          \\ ET\\nimport urllib.request\\n\\n# \u2500\u2500 Namespaces \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\\n\\\n          NS_SS  = \\\"http://schemas.openxmlformats.org/spreadsheetml/2006/main\\\"\\n\\\n          NS_R   = \\\"http://schemas.openxmlformats.org/officeDocument/2006/relationships\\\"\\\n          \\nNS_XDR = \\\"http://schemas.openxmlformats.org/drawingml/2006/spreadsheetDrawing\\\"\\\n          \\nNS_A   = \\\"http://schemas.openxmlformats.org/drawingml/2006/main\\\"\\nNS_C\\\n          \\   = \\\"http://schemas.openxmlformats.org/drawingml/2006/chart\\\"\\n\\nMAX_ROWS\\\n          \\      = 2000   # rows per sheet for table rendering\\nMAX_CSV_ROWS  = 200\\\n          \\    # rows per sheet sent to the LLM\\n\\n\\ndef _resolve(base_dir, target):\\n\\\n          \\    import posixpath\\n    # Absolute path (leading '/') \u2014 strip slash,\\\n          \\ use as-is\\n    # e.g. '/xl/worksheets/sheet1.xml' -> 'xl/worksheets/sheet1.xml'\\n\\\n          \\    if target.startswith('/'):\\n        return target.lstrip('/')\\n   \\\n          \\ # Relative path \u2014 join with base_dir\\n    # e.g. 'worksheets/sheet1.xml'\\\n          \\ (Google Sheets) -> 'xl/worksheets/sheet1.xml'\\n    # e.g. '../media/image.png'\\\n          \\   (drawing rels)   -> 'xl/media/image.png'\\n    return posixpath.normpath(posixpath.join(base_dir,\\\n          \\ target))\\n\\n\\ndef _col_idx(col_str):\\n    \\\"\\\"\\\"'A'\u21920, 'B'\u21921, 'Z'\u219225,\\\n          \\ 'AA'\u219226 \u2026\\\"\\\"\\\"\\n    n = 0\\n    for ch in col_str.upper():\\n        n\\\n          \\ = n * 26 + (ord(ch) - 64)\\n    return n - 1\\n\\n\\ndef _col_letter(idx):\\n\\\n          \\    \\\"\\\"\\\"0\u2192'A', 1\u2192'B', 25\u2192'Z', 26\u2192'AA' \u2026 (inverse of _col_idx)\\\"\\\"\\\"\\n\\\n          \\    label = ''\\n    n = idx + 1\\n    while n:\\n        n, rem = divmod(n\\\n          \\ - 1, 26)\\n        label = chr(65 + rem) + label\\n    return label\\n\\n\\n\\\n          def _shared_strings(zf, names):\\n    ss = []\\n    if 'xl/sharedStrings.xml'\\\n          \\ in names:\\n        for si in ET.parse(zf.open('xl/sharedStrings.xml')).getroot()\\\n          \\ \\\\\\n                     .findall(f'.//{{{NS_SS}}}si'):\\n            ss.append(''.join(t.text\\\n          \\ or '' for t in si.findall(f'.//{{{NS_SS}}}t')))\\n    return ss\\n\\n\\ndef\\\n          \\ _sheet_info(zf, names):\\n    \\\"\\\"\\\"Return [(sheet_name, ws_path), \u2026] in\\\n          \\ workbook order.\\\"\\\"\\\"\\n    wb_rels = {}\\n    if 'xl/_rels/workbook.xml.rels'\\\n          \\ in names:\\n        for rel in ET.parse(zf.open('xl/_rels/workbook.xml.rels')).getroot():\\n\\\n          \\            wb_rels[rel.get('Id', '')] = _resolve('xl', rel.get('Target',\\\n          \\ ''))\\n    info = []\\n    if 'xl/workbook.xml' in names:\\n        for s\\\n          \\ in ET.parse(zf.open('xl/workbook.xml')).getroot() \\\\\\n               \\\n          \\     .findall(f'.//{{{NS_SS}}}sheet'):\\n            path = wb_rels.get(s.get(f'{{{NS_R}}}id',\\\n          \\ ''), '')\\n            if path:\\n                info.append((s.get('name',\\\n          \\ 'Sheet'), path))\\n    return info\\n\\n\\ndef _extract_cell_data(zf, names,\\\n          \\ shared, sheet_info):\\n    \\\"\\\"\\\"\\n    Parse every worksheet and return:\\n\\\n          \\      processed_sheets  \u2013 dict matching the Process Excel node JSON schema\\n\\\n          \\      csv_map           \u2013 dict sheet_name \u2192 CSV text (for LLM context)\\n\\\n          \\    \\\"\\\"\\\"\\n    processed, csv_map = {}, {}\\n\\n    for sname, ws_path in\\\n          \\ sheet_info:\\n        if ws_path not in names:\\n            continue\\n\\\n          \\        root = ET.parse(zf.open(ws_path)).getroot()\\n\\n        row_map\\\n          \\ = {}\\n        for row_el in root.findall(f'.//{{{NS_SS}}}row'):\\n    \\\n          \\        rnum  = int(row_el.get('r', 0))\\n            cells = {}\\n     \\\n          \\       for c in row_el.findall(f'{{{NS_SS}}}c'):\\n                ref =\\\n          \\ c.get('r', '')\\n                col = _col_idx(''.join(ch for ch in ref\\\n          \\ if ch.isalpha()))\\n                ct  = c.get('t', '')\\n            \\\n          \\    val = ''\\n\\n                if ct == 'inlineStr':\\n               \\\n          \\     # Inline string: value in <is><t>\u2026</t></is>, not <v>\\n           \\\n          \\         is_el = c.find(f'{{{NS_SS}}}is')\\n                    if is_el\\\n          \\ is not None:\\n                        val = ''.join(\\n               \\\n          \\             t.text or ''\\n                            for t in is_el.findall(f'.//{{{NS_SS}}}t')\\n\\\n          \\                        )\\n                else:\\n                    v\\\n          \\ = c.find(f'{{{NS_SS}}}v')\\n                    if v is not None:\\n   \\\n          \\                     raw = v.text or ''\\n                        if ct\\\n          \\ == 's':\\n                            # shared string \u2014 some writers emit\\\n          \\ '0.0' not '0'\\n                            try:\\n                    \\\n          \\            val = shared[int(float(raw))]\\n                           \\\n          \\ except (ValueError, IndexError):\\n                                val\\\n          \\ = raw\\n                        elif ct == 'b':\\n                     \\\n          \\       val = 'TRUE' if raw == '1' else 'FALSE'\\n                      \\\n          \\  else:\\n                            # number, formula result (str), error\\\n          \\ (e)\\n                            val = raw\\n\\n                # Only store\\\n          \\ non-empty values \u2014 prevents blank cells\\n                # from masking\\\n          \\ real header values in hdr_row lookup\\n                if val.strip():\\n\\\n          \\                    cells[col] = val.strip()\\n\\n            if cells:\\n\\\n          \\                row_map[rnum] = cells\\n\\n        if not row_map:\\n    \\\n          \\        processed[sname] = {\\n                'records': [], 'total_rows':\\\n          \\ 0, 'loaded_rows': 0,\\n                'truncated': False, 'truncation_note':\\\n          \\ '',\\n            }\\n            csv_map[sname] = ''\\n            continue\\n\\\n          \\n        all_cols    = sorted({c for row in row_map.values() for c in row})\\n\\\n          \\        sorted_rows = sorted(row_map.keys())\\n        hdr_row     = row_map[sorted_rows[0]]\\n\\\n          \\        headers     = [\\n            str(hdr_row.get(c, '')).strip() or\\\n          \\ _col_letter(c)\\n            for c in all_cols\\n        ]\\n\\n        records,\\\n          \\ csv_lines = [], [','.join(f'\\\"{h}\\\"' for h in headers)]\\n        for rn\\\n          \\ in sorted_rows[1:]:\\n            rc = row_map[rn]\\n            if not\\\n          \\ any(str(rc.get(c, '')).strip() for c in all_cols):\\n                continue\\n\\\n          \\            rec = {headers[i]: str(rc.get(c, '')).strip()\\n           \\\n          \\        for i, c in enumerate(all_cols)}\\n            records.append(rec)\\n\\\n          \\            csv_lines.append(','.join(f'\\\"{rec.get(h, \\\"\\\")}\\\"' for h in\\\n          \\ headers))\\n\\n        total   = len(records)\\n        trunc   = total >\\\n          \\ MAX_ROWS\\n        preview = records[:MAX_ROWS]\\n\\n        processed[sname]\\\n          \\ = {\\n            'records':         preview,\\n            'total_rows':\\\n          \\      total,\\n            'loaded_rows':     len(preview),\\n          \\\n          \\  'truncated':       trunc,\\n            'truncation_note': (\\n       \\\n          \\         f'Large file: showing first {MAX_ROWS} of {total} rows. '\\n  \\\n          \\              f'{total - MAX_ROWS} rows omitted.'\\n            ) if trunc\\\n          \\ else '',\\n        }\\n        csv_map[sname] = '\\\\n'.join(csv_lines)\\n\\n\\\n          \\    return processed, csv_map\\n\\n\\nCHART_LABEL = {\\n    'barChart': 'Bar',\\\n          \\ 'bar3DChart': 'Bar 3D',\\n    'lineChart': 'Line', 'line3DChart': 'Line\\\n          \\ 3D',\\n    'pieChart': 'Pie', 'pie3DChart': 'Pie 3D', 'doughnutChart':\\\n          \\ 'Doughnut',\\n    'scatterChart': 'Scatter', 'bubbleChart': 'Bubble',\\n\\\n          \\    'areaChart': 'Area', 'area3DChart': 'Area 3D',\\n    'radarChart': 'Radar',\\\n          \\ 'stockChart': 'Stock', 'surfaceChart': 'Surface',\\n}\\n\\n\\ndef _parse_chart(zf,\\\n          \\ chart_path):\\n    \\\"\\\"\\\"Return structured chart metadata dict from chart\\\n          \\ XML.\\\"\\\"\\\"\\n    root = ET.fromstring(zf.read(chart_path))\\n    C, A =\\\n          \\ f'{{{NS_C}}}', f'{{{NS_A}}}'\\n\\n    # Type\\n    chart_type = 'Other'\\n\\\n          \\    for tag, label in CHART_LABEL.items():\\n        if root.find(f'.//{C}{tag}')\\\n          \\ is not None:\\n            chart_type = label\\n            break\\n\\n  \\\n          \\  # Title\\n    title = ''\\n    t_el = root.find(f'.//{C}title')\\n    if\\\n          \\ t_el is not None:\\n        parts = t_el.findall(f'.//{A}t') or t_el.findall(f'.//{C}v')\\n\\\n          \\        title = ''.join(p.text or '' for p in parts).strip()\\n\\n    # Axis\\\n          \\ labels\\n    x_label, y_label = '', ''\\n    for ax_tag, side in [('catAx',\\\n          \\ 'x'), ('valAx', 'y'), ('dateAx', 'x')]:\\n        for ax in root.findall(f'.//{C}{ax_tag}'):\\n\\\n          \\            ax_t = ax.find(f'.//{C}title')\\n            if ax_t is not\\\n          \\ None:\\n                parts = ax_t.findall(f'.//{A}t') or ax_t.findall(f'.//{C}v')\\n\\\n          \\                lbl = ''.join(p.text or '' for p in parts).strip()\\n  \\\n          \\              if side == 'x' and not x_label:\\n                    x_label\\\n          \\ = lbl\\n                elif side == 'y' and not y_label:\\n           \\\n          \\         y_label = lbl\\n\\n    # Series: name + up to 10 values + categories\\n\\\n          \\    series = []\\n    for ser in root.findall(f'.//{C}ser'):\\n        tx\\\n          \\    = ser.find(f'.//{C}tx')\\n        sname = ''\\n        if tx is not None:\\n\\\n          \\            parts = tx.findall(f'.//{A}t') or tx.findall(f'.//{C}v')\\n\\\n          \\            sname = ''.join(p.text or '' for p in parts).strip()\\n    \\\n          \\    vals = [v.text for v in ser.findall(f'.//{C}val//{C}v')  if v.text][:10]\\n\\\n          \\        cats = [v.text for v in ser.findall(f'.//{C}cat//{C}v')  if v.text][:10]\\n\\\n          \\        series.append({'name': sname, 'values': vals, 'categories': cats})\\n\\\n          \\n    return {\\n        'chart_type': chart_type,\\n        'title':    \\\n          \\  title,\\n        'x_label':    x_label,\\n        'y_label':    y_label,\\n\\\n          \\        'series':     series,\\n    }\\n\\n\\ndef _extract_visuals(zf, names,\\\n          \\ sheet_info):\\n    \\\"\\\"\\\"\\n    Discover all charts and raster images embedded\\\n          \\ in the workbook.\\n    Charts are fully parsed from their XML (type, title,\\\n          \\ axes, series + values).\\n    Raster images: metadata only (name, sheet,\\\n          \\ format, size).\\n    Returns (charts_list, images_list) \u2014 1-based index,\\\n          \\ ordered by sheet.\\n    \\\"\\\"\\\"\\n    charts, images = [], []\\n    chart_idx,\\\n          \\ image_idx = 1, 1\\n\\n    # Build worksheet rels mapping once\\n    for sname,\\\n          \\ ws_path in sheet_info:\\n        if ws_path not in names:\\n           \\\n          \\ continue\\n        ws_rels_path = ws_path.replace(\\n            'xl/worksheets/',\\\n          \\ 'xl/worksheets/_rels/') + '.rels'\\n        if ws_rels_path not in names:\\n\\\n          \\            continue\\n\\n        draw_paths   = []\\n        direct_chart\\\n          \\ = []   # chart sheets linked directly from worksheet\\n        for rel\\\n          \\ in ET.parse(zf.open(ws_rels_path)).getroot():\\n            typ = rel.get('Type',\\\n          \\ '').lower()\\n            tgt = _resolve('xl/worksheets', rel.get('Target',\\\n          \\ ''))\\n            if 'drawing' in typ and tgt in names:\\n            \\\n          \\    draw_paths.append(tgt)\\n            elif 'chart' in typ and tgt in\\\n          \\ names:\\n                direct_chart.append(tgt)\\n\\n        # Direct chart\\\n          \\ references (rare but valid)\\n        for chart_path in direct_chart:\\n\\\n          \\            meta = _parse_chart(zf, chart_path)\\n            charts.append({\\n\\\n          \\                'index': chart_idx, 'name': f'Chart {chart_idx}',\\n   \\\n          \\             'sheet': sname, **meta,\\n            })\\n            chart_idx\\\n          \\ += 1\\n\\n        for draw_path in draw_paths:\\n            draw_rels =\\\n          \\ draw_path.replace(\\n                'xl/drawings/', 'xl/drawings/_rels/')\\\n          \\ + '.rels'\\n            rid_to_media, rid_to_chart = {}, {}\\n         \\\n          \\   if draw_rels in names:\\n                for rel in ET.parse(zf.open(draw_rels)).getroot():\\n\\\n          \\                    typ = rel.get('Type', '').lower()\\n               \\\n          \\     tgt = _resolve('xl/drawings', rel.get('Target', ''))\\n           \\\n          \\         if 'image' in typ:\\n                        rid_to_media[rel.get('Id',\\\n          \\ '')] = tgt\\n                    elif 'chart' in typ and tgt in names:\\n\\\n          \\                        rid_to_chart[rel.get('Id', '')] = tgt\\n\\n     \\\n          \\       d_root = ET.parse(zf.open(draw_path)).getroot()\\n\\n            for\\\n          \\ tag in ['oneCellAnchor', 'twoCellAnchor', 'absoluteAnchor']:\\n       \\\n          \\         for anchor in d_root.findall(f'{{{NS_XDR}}}{tag}'):\\n\\n      \\\n          \\              # \u2500\u2500 Charts via graphicFrame \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\\n\\\n          \\                    for gf in anchor.findall(f'.//{{{NS_XDR}}}graphicFrame'):\\n\\\n          \\                        # Correct lookup: c:chart element carries r:id\\n\\\n          \\                        chart_el = gf.find(f'.//{{{NS_C}}}chart')\\n   \\\n          \\                     if chart_el is not None:\\n                       \\\n          \\     rid = chart_el.get(f'{{{NS_R}}}id', '')\\n                        \\\n          \\    if rid and rid in rid_to_chart:\\n                                meta\\\n          \\  = _parse_chart(zf, rid_to_chart[rid])\\n                             \\\n          \\   nv    = gf.find(\\n                                    f'{{{NS_XDR}}}nvGraphicFramePr'\\n\\\n          \\                                    f'/{{{NS_XDR}}}cNvPr')\\n          \\\n          \\                      cname = (nv.get('name', '') if nv is not None\\n \\\n          \\                                        else '') or f'Chart {chart_idx}'\\n\\\n          \\                                charts.append({\\n                     \\\n          \\               'index': chart_idx, 'name': cname,\\n                   \\\n          \\                 'sheet': sname, **meta,\\n                            \\\n          \\    })\\n                                chart_idx += 1\\n\\n            \\\n          \\        # \u2500\u2500 Raster images via pic \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\\n    \\\n          \\                for pic in anchor.findall(f'.//{{{NS_XDR}}}pic'):\\n   \\\n          \\                     nv    = pic.find(f'{{{NS_XDR}}}nvPicPr')\\n       \\\n          \\                 cnvpr = nv.find(f'{{{NS_XDR}}}cNvPr') if nv is not None\\\n          \\ else None\\n                        pname = (cnvpr.get('name', '') if cnvpr\\\n          \\ is not None\\n                                 else '') or f'Image {image_idx}'\\n\\\n          \\                        bf    = pic.find(f'{{{NS_XDR}}}blipFill')\\n   \\\n          \\                     blip  = bf.find(f'{{{NS_A}}}blip') if bf is not None\\\n          \\ else None\\n                        embed = blip.get(f'{{{NS_R}}}embed',\\\n          \\ '') if blip is not None else ''\\n                        media = rid_to_media.get(embed,\\\n          \\ '')\\n                        if media and media in names:\\n          \\\n          \\                  raw = zf.read(media)\\n                            ext\\\n          \\ = media.rsplit('.', 1)[-1].lower()\\n                            mime =\\\n          \\ {\\n                                'png': 'image/png', 'jpg': 'image/jpeg',\\n\\\n          \\                                'jpeg': 'image/jpeg', 'gif': 'image/gif',\\n\\\n          \\                                'bmp': 'image/bmp', 'tiff': 'image/tiff',\\n\\\n          \\                                'tif': 'image/tiff', 'webp': 'image/webp',\\n\\\n          \\                            }.get(ext, 'image/png')\\n                 \\\n          \\           images.append({\\n                                'index':  \\\n          \\     image_idx,\\n                                'name':        pname,\\n\\\n          \\                                'sheet':       sname,\\n               \\\n          \\                 'format':      ext,\\n                                'mime_type':\\\n          \\   mime,\\n                                'size_bytes':  len(raw),\\n  \\\n          \\                              'base64_data': base64.b64encode(raw).decode(),\\n\\\n          \\                            })\\n                            image_idx +=\\\n          \\ 1\\n\\n    return charts, images\\n\\n\\ndef _build_visual_content(fname, sheet_names,\\\n          \\ csv_map, charts, images):\\n    \\\"\\\"\\\"\\n    Build the rich structured text\\\n          \\ block that the LLM node will receive.\\n    Includes: spreadsheet CSV data\\\n          \\ + full chart XML metadata + image info.\\n    The LLM uses this to produce\\\n          \\ accurate, data-driven descriptions.\\n    \\\"\\\"\\\"\\n    SEP = '=' * 60\\n\\\n          \\    lines = [\\n        f'EXCEL FILE: {fname}',\\n        f'SHEETS: {\\\",\\\n          \\ \\\".join(sheet_names)}',\\n        '',\\n        SEP,\\n        'SPREADSHEET\\\n          \\ DATA (CSV \u2014 actual cell values per sheet):',\\n        SEP,\\n    ]\\n\\n\\\n          \\    for sname, csv_text in csv_map.items():\\n        if not csv_text.strip():\\n\\\n          \\            lines.append(f'\\\\n[Sheet: {sname}] \u2014 empty')\\n            continue\\n\\\n          \\        csv_rows = csv_text.split('\\\\n')\\n        lines.append(f'\\\\n[Sheet:\\\n          \\ {sname}]')\\n        for row in csv_rows[:MAX_CSV_ROWS]:\\n            lines.append(row)\\n\\\n          \\        if len(csv_rows) > MAX_CSV_ROWS:\\n            lines.append(f'\u2026\\\n          \\ ({len(csv_rows) - MAX_CSV_ROWS} more rows omitted)')\\n\\n    if charts:\\n\\\n          \\        lines += ['', SEP, f'EMBEDDED CHARTS ({len(charts)} found):', SEP]\\n\\\n          \\        for ch in charts:\\n            lines.append(f'\\\\nChart {ch[\\\"index\\\"\\\n          ]}: {ch[\\\"name\\\"]}')\\n            lines.append(f'  Sheet      : {ch[\\\"sheet\\\"\\\n          ]}')\\n            lines.append(f'  Type       : {ch[\\\"chart_type\\\"]}')\\n\\\n          \\            if ch.get('title'):\\n                lines.append(f'  Title\\\n          \\      : {ch[\\\"title\\\"]}')\\n            if ch.get('x_label'):\\n        \\\n          \\        lines.append(f'  X Axis     : {ch[\\\"x_label\\\"]}')\\n           \\\n          \\ if ch.get('y_label'):\\n                lines.append(f'  Y Axis     : {ch[\\\"\\\n          y_label\\\"]}')\\n            for s in ch.get('series', []):\\n            \\\n          \\    sn   = s.get('name', '(unnamed)')\\n                vals = ', '.join(s.get('values',\\\n          \\ []))\\n                cats = ', '.join(s.get('categories', []))\\n    \\\n          \\            row  = f'  Series     : {sn}'\\n                if vals:\\n \\\n          \\                   row += f'  |  values: {vals}'\\n                if cats:\\n\\\n          \\                    row += f'  |  categories: {cats}'\\n               \\\n          \\ lines.append(row)\\n\\n    if images:\\n        lines += ['', SEP, f'EMBEDDED\\\n          \\ RASTER IMAGES ({len(images)} found):', SEP]\\n        for img in images:\\n\\\n          \\            lines.append(f'\\\\nImage {img[\\\"index\\\"]}: {img[\\\"name\\\"]}')\\n\\\n          \\            lines.append(f'  Sheet      : {img[\\\"sheet\\\"]}')\\n        \\\n          \\    lines.append(f'  Format     : {img[\\\"format\\\"].upper()}')\\n       \\\n          \\     lines.append(f'  MIME Type  : {img[\\\"mime_type\\\"]}')\\n           \\\n          \\ lines.append(f'  Size       : {img[\\\"size_bytes\\\"]:,} bytes')\\n      \\\n          \\      lines.append(f'  Base64     : {img[\\\"base64_data\\\"]}')\\n\\n    return\\\n          \\ '\\\\n'.join(lines)\\n\\n\\ndef main(select_file) -> dict:\\n    EMPTY_IMAGES\\\n          \\ = json.dumps({\\n        'source_type': 'excel_images', 'image_count':\\\n          \\ 0, 'images': [],\\n    })\\n\\n    def _err(msg):\\n        return {\\n   \\\n          \\         'excel_data': json.dumps({\\n                'source_type': 'excel',\\\n          \\ 'success': False,\\n                'error_message': msg,\\n           \\\n          \\     'data': {'sheets': {}, 'sheet_names': [], 'sheet_count': 0},\\n   \\\n          \\         }),\\n            'visual_content': '',\\n            'note': msg,\\n\\\n          \\        }\\n\\n    file_list = select_file if isinstance(select_file, list)\\\n          \\ else [select_file]\\n    if not file_list:\\n        return _err('No file\\\n          \\ received.')\\n\\n    f        = file_list[0]\\n    file_url = (f.get('url')\\\n          \\ or f.get('remote_url') or f.get('path') or '').strip()\\n    fname    =\\\n          \\ (f.get('filename') or f.get('name') or 'workbook.xlsx').strip()\\n    if\\\n          \\ not file_url:\\n        return _err('File URL not accessible.')\\n\\n   \\\n          \\ # \u2500\u2500 Fetch the entire XLSX as binary \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\\n\\\n          \\    try:\\n        req = urllib.request.Request(file_url)\\n        with\\\n          \\ urllib.request.urlopen(req, timeout=30) as r:\\n            xlsx_bytes\\\n          \\ = r.read()\\n    except Exception as e:\\n        return _err(f'Could not\\\n          \\ fetch file: {e}')\\n\\n    # \u2500\u2500 Parse the XLSX ZIP in memory \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\\n\\\n          \\    try:\\n        with zipfile.ZipFile(io.BytesIO(xlsx_bytes)) as zf:\\n\\\n          \\            names      = set(zf.namelist())\\n            shared     = _shared_strings(zf,\\\n          \\ names)\\n            sinfo      = _sheet_info(zf, names)\\n            proc,\\\n          \\ cmap = _extract_cell_data(zf, names, shared, sinfo)\\n            charts,\\\n          \\ imgs = _extract_visuals(zf, names, sinfo)\\n    except Exception as e:\\n\\\n          \\        return _err(f'XLSX parsing failed: {e}')\\n\\n    sheet_names = [s[0]\\\n          \\ for s in sinfo]\\n\\n    # \u2500\u2500 Output 1: structured table data for the Formatter\\\n          \\ \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\\n    excel_data = json.dumps({\\n        'source_type':\\\n          \\ 'excel', 'success': True, 'error_message': '',\\n        'data': {\\n  \\\n          \\          'sheets':      proc,\\n            'sheet_names': sheet_names,\\n\\\n          \\            'sheet_count': len(sheet_names),\\n        },\\n    }, ensure_ascii=False)\\n\\\n          \\n    # \u2500\u2500 Output 2: rich text for the LLM node \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\\n\\\n          \\    visual_content = _build_visual_content(fname, sheet_names, cmap, charts,\\\n          \\ imgs)\\n\\n    total_visuals = len(charts) + len(imgs)\\n    return {\\n \\\n          \\       'excel_data':      excel_data,\\n        'visual_content':  visual_content,\\n\\\n          \\        'note': (\\n            f'Extracted {len(sheet_names)} sheet(s),\\\n          \\ '\\n            f'{len(charts)} chart(s), {len(imgs)} image(s).'\\n    \\\n          \\        + ('' if total_visuals else ' No embedded visuals found.')\\n  \\\n          \\      ),\\n    }\\n\"\n        code_language: python3\n        desc: 'Reads the XLSX binary once. Extracts cell data (XML parsing), chart\n          metadata (XML: type, title, axes, series, data values), and raster images\n          with COMPLETE metadata including base64-encoded binary data. visual_content\n          contains the full image binary so the downstream LLM node has everything\n          needed for visual analysis.'\n        outputs:\n          excel_data:\n            children: null\n            type: string\n          note:\n            children: null\n            type: string\n          visual_content:\n            children: null\n            type: string\n        selected: false\n        title: Process Excel (Unified)\n        type: code\n        variables:\n        - value_selector:\n          - '1776006764107'\n          - select_file\n          value_type: array[file]\n          variable: select_file\n      height: 209\n      id: node-excel-unified\n      position:\n        x: 984\n        y: 457\n      positionAbsolute:\n        x: 984\n        y: 457\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        context:\n          enabled: true\n          variable_selector:\n          - node-excel-unified\n          - visual_content\n        desc: 'Processes the complete Excel content using the configured Gemini model.\n          Receives full spreadsheet data + chart XML metadata + image info via visual_content\n          variable. Produces excel_images JSON for the Formatter. Mirrors OCR node\n          pattern: single system prompt, vision disabled, no API key needed \u2014 uses\n          platform-configured model credentials.'\n        model:\n          completion_params:\n            temperature: 0.1\n          mode: chat\n          name: gemini-2.5-pro\n          provider: langgenius/gemini/google\n        prompt_template:\n        - id: excel-llm-system-v1\n          role: system\n          text: ''\n        - id: 6a22ae27-ae3f-46a5-bac0-a0055cea2699\n          role: user\n          text: 'EXCEL CONTENT:\n\n            {{#context#}}\n\n\n            TASK: Analyse the complete Excel content above. Return 1 JSON object.\n            No fences. No prose.\n\n\n            You have the full spreadsheet data (CSV), chart metadata extracted from\n            XML (type, title, axes, series names, and actual data values), and raster\n            image info.\n\n\n            RULES:\n\n            - For each CHART: use the exact chart_type, title, axis labels, series\n            names, and data values from the metadata above. Write a precise, data-driven\n            description. Never invent data \u2014 only use what is in the metadata.\n\n            - For each RASTER IMAGE: describe based on its name, sheet context, and\n            format. Be clear if visual pixel content is unavailable.\n\n            - If no charts or images exist, return image_count:0 with an empty images\n            array.\n\n            - language_detected: scan all text labels in the metadata. Set \"ja\" ONLY\n            if Japanese script is clearly present as the primary language. Set \"en\"\n            for everything else.\n\n\n            For EACH chart or image:\n\n            - index: 1-based integer, charts first then images\n\n            - name: from metadata\n\n            - sheet: from metadata\n\n            - chart_type: bar|line|pie|scatter|area|table|photo|illustration|other\n\n            - title: exact title from metadata, or \"\"\n\n            - description: 2-3 sentences \u2014 what this chart/image shows and how it\n            relates to the spreadsheet data\n\n            - data_summary: key insight from the actual data values (2 sentences)\n\n            - axes: {\"x_label\":\"\",\"y_label\":\"\"} if chart else {}\n\n            - series: array of series names from metadata, else []\n\n            - language_detected: \"en\" or \"ja\" only\n\n            - sentiment: positive|negative|neutral|informational\n\n            - tags: 3-5 keyword tags\n\n\n            OUTPUT SCHEMA (no extras):\n\n            {\"source_type\":\"excel_images\",\"image_count\":0,\"images\":[{\"index\":1,\"name\":\"\",\"sheet\":\"\",\"chart_type\":\"\",\"title\":\"\",\"description\":\"\",\"data_summary\":\"\",\"axes\":{},\"series\":[],\"language_detected\":\"en\",\"sentiment\":\"\",\"tags\":[]}]}'\n        selected: false\n        title: Analyse Excel Content\n        type: llm\n        variables:\n        - value_selector:\n          - node-excel-unified\n          - visual_content\n          value_type: string\n          variable: visual_content\n        vision:\n          enabled: false\n      height: 261\n      id: node-excel-llm\n      position:\n        x: 1300\n        y: 457\n      positionAbsolute:\n        x: 1300\n        y: 457\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        code: \"\\nimport zipfile, io, base64\\nimport xml.etree.ElementTree as ET\\n\\\n          import urllib.request\\n\\nNS_W   = 'http://schemas.openxmlformats.org/wordprocessingml/2006/main'\\n\\\n          NS_R   = 'http://schemas.openxmlformats.org/officeDocument/2006/relationships'\\n\\\n          NS_A   = 'http://schemas.openxmlformats.org/drawingml/2006/main'\\nNS_WP\\\n          \\  = 'http://schemas.openxmlformats.org/drawingml/2006/wordprocessingDrawing'\\n\\\n          \\nMAX_CHARS      = 200_000   # text budget (~50 K tokens)\\nMAX_IMAGES  \\\n          \\   = 10        # cap to keep visual_content manageable\\nMAX_IMG_B     \\\n          \\ = 4_000_000 # skip individual images larger than 4 MB raw\\nMAX_B64_BUDGET\\\n          \\ = 250_000   # total base64 chars across ALL images\\n                 \\\n          \\          # Dify caps output variables at 320 000 chars;\\n            \\\n          \\               # 250 K leaves ~70 K for text, headers, and metadata\\n\\n\\\n          \\ndef _w(tag):  return f'{{{NS_W}}}{tag}'\\ndef _r(tag):  return f'{{{NS_R}}}{tag}'\\n\\\n          def _a(tag):  return f'{{{NS_A}}}{tag}'\\n\\n\\n# \u2500\u2500 Text extraction \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\\n\\\n          \\ndef _para_text(para_el):\\n    \\\"\\\"\\\"Collect visible text from a <w:p>,\\\n          \\ skipping deleted runs.\\\"\\\"\\\"\\n    parts = []\\n    for run in para_el.findall(f'.//{_w(\\\"\\\n          r\\\")}'):\\n        if run.find(f'.//{_w(\\\"delText\\\")}') is not None:\\n  \\\n          \\          continue\\n        for t in run.findall(_w('t')):\\n          \\\n          \\  parts.append(t.text or '')\\n    return ''.join(parts)\\n\\n\\ndef _extract_text_and_tables(body):\\n\\\n          \\    \\\"\\\"\\\"\\n    Walk <w:body> and return (text_lines list, tables list).\\n\\\n          \\    Preserves heading hierarchy, bullet points, and table structure.\\n\\\n          \\    \\\"\\\"\\\"\\n    lines, tables = [], []\\n\\n    for elem in body:\\n     \\\n          \\   local = elem.tag.split('}')[-1] if '}' in elem.tag else elem.tag\\n\\n\\\n          \\        if local == 'p':\\n            pPr   = elem.find(_w('pPr'))\\n  \\\n          \\          style = ''\\n            numPr = None\\n            if pPr is not\\\n          \\ None:\\n                ps = pPr.find(_w('pStyle'))\\n                if\\\n          \\ ps is not None:\\n                    style = ps.get(_w('val'), '') or\\\n          \\ ''\\n                numPr = pPr.find(_w('numPr'))\\n\\n            text\\\n          \\ = _para_text(elem).strip()\\n            if not text:\\n               \\\n          \\ continue\\n\\n            slo = style.lower()\\n            if slo in ('heading1',\\\n          \\ 'title') or slo == 'heading 1':\\n                lines.append(f'\\\\n# {text}')\\n\\\n          \\            elif slo in ('heading2', 'heading 2'):\\n                lines.append(f'\\\\\\\n          n## {text}')\\n            elif slo in ('heading3', 'heading 3'):\\n     \\\n          \\           lines.append(f'\\\\n### {text}')\\n            elif slo.startswith('heading'):\\n\\\n          \\                lines.append(f'\\\\n#### {text}')\\n            elif numPr\\\n          \\ is not None:\\n                lines.append(f'  \\\\u2022 {text}')\\n    \\\n          \\        else:\\n                lines.append(text)\\n\\n        elif local\\\n          \\ == 'tbl':\\n            tbl_rows = []\\n            for tr in elem.findall(f'.//{_w(\\\"\\\n          tr\\\")}'):\\n                cells = []\\n                for tc in tr.findall(_w('tc')):\\n\\\n          \\                    cell_text = ' '.join(\\n                        _para_text(p).strip()\\n\\\n          \\                        for p in tc.findall(_w('p'))\\n                \\\n          \\        if _para_text(p).strip()\\n                    )\\n             \\\n          \\       cells.append(cell_text)\\n                if any(cells):\\n      \\\n          \\              tbl_rows.append(cells)\\n\\n            if tbl_rows:\\n    \\\n          \\            lines.append('\\\\n[TABLE]')\\n                for i, row in enumerate(tbl_rows):\\n\\\n          \\                    lines.append('  ' + ' | '.join(row))\\n            \\\n          \\        if i == 0:\\n                        lines.append('  ' + '-' * max(40,\\\n          \\ len(' | '.join(row))))\\n                tables.append(tbl_rows)\\n\\n  \\\n          \\  return lines, tables\\n\\n\\n# \u2500\u2500 Image extraction \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\\n\\\n          \\ndef _extract_images(zf, names):\\n    \\\"\\\"\\\"\\n    Extract embedded images\\\n          \\ from DOCX.\\n    Returns list of dicts: index, ext, mime, size_bytes, base64.\\n\\\n          \\    Skips vector formats (wmf/emf) and tiny placeholder images (<500 B).\\n\\\n          \\    \\\"\\\"\\\"\\n    SUPPORTED_MIME = {\\n        'png': 'image/png',  'jpg':\\\n          \\ 'image/jpeg', 'jpeg': 'image/jpeg',\\n        'gif': 'image/gif',  'bmp':\\\n          \\ 'image/bmp',  'tiff': 'image/tiff',\\n        'tif': 'image/tiff', 'webp':\\\n          \\ 'image/webp',\\n    }\\n\\n    # Build rid \u2192 media path from document relationships\\n\\\n          \\    rid_to_path = {}\\n    rels_path = 'word/_rels/document.xml.rels'\\n\\\n          \\    if rels_path in names:\\n        for rel in ET.parse(zf.open(rels_path)).getroot():\\n\\\n          \\            if 'image' in rel.get('Type', '').lower():\\n              \\\n          \\  tgt = rel.get('Target', '')\\n                # Target is relative to\\\n          \\ word/ directory\\n                full = f'word/{tgt}' if not tgt.startswith('/')\\\n          \\ else tgt.lstrip('/')\\n                rid_to_path[rel.get('Id', '')] =\\\n          \\ full\\n\\n    images = []\\n    seen   = set()  # deduplicate by path\\n\\n\\\n          \\    for rid, path in rid_to_path.items():\\n        if path in seen or path\\\n          \\ not in names:\\n            continue\\n        seen.add(path)\\n\\n      \\\n          \\  ext  = path.rsplit('.', 1)[-1].lower() if '.' in path else ''\\n     \\\n          \\   mime = SUPPORTED_MIME.get(ext)\\n        if not mime:\\n            continue\\\n          \\   # skip wmf, emf, svg, etc.\\n\\n        raw = zf.read(path)\\n        if\\\n          \\ len(raw) < 500:\\n            continue   # skip tiny placeholder icons\\n\\\n          \\        if len(raw) > MAX_IMG_B:\\n            continue   # skip very large\\\n          \\ images to stay within context limits\\n\\n        images.append({\\n    \\\n          \\        'index':      len(images) + 1,\\n            'ext':        ext,\\n\\\n          \\            'mime':       mime,\\n            'size_bytes': len(raw),\\n\\\n          \\            'base64':     base64.b64encode(raw).decode(),\\n        })\\n\\\n          \\n        if len(images) >= MAX_IMAGES:\\n            break\\n\\n    return\\\n          \\ images\\n\\n\\n# \u2500\u2500 visual_content builder \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\\n\\\n          \\ndef _build_visual_content(fname, text_lines, images):\\n    \\\"\\\"\\\"\\n  \\\n          \\  Assemble the structured text block passed to the LLM node.\\n    Mirrors\\\n          \\ the Excel unified node's _build_visual_content pattern.\\n    \\\"\\\"\\\"\\n\\\n          \\    SEP = '=' * 60\\n    content_text = '\\\\n'.join(text_lines).strip()\\n\\\n          \\n    # Trim text portion to budget\\n    if len(content_text) > MAX_CHARS:\\n\\\n          \\        trimmed = content_text[:MAX_CHARS]\\n        last_nl = trimmed.rfind('\\\\\\\n          n')\\n        if last_nl > MAX_CHARS * 0.9:\\n            trimmed = trimmed[:last_nl]\\n\\\n          \\        omitted      = len(content_text) - len(trimmed)\\n        content_text\\\n          \\ = (\\n            trimmed +\\n            f'\\\\n\\\\n[TRUNCATED: Showing first\\\n          \\ {len(trimmed):,} of '\\n            f'{len(content_text):,} chars. {omitted:,}\\\n          \\ chars omitted.]'\\n        )\\n\\n    lines = [\\n        f'WORD DOCUMENT:\\\n          \\ {fname}',\\n        '',\\n        SEP,\\n        'DOCUMENT TEXT (verbatim,\\\n          \\ heading markers preserved):',\\n        SEP,\\n        content_text,\\n \\\n          \\   ]\\n\\n    if images:\\n        lines += ['', SEP, f'EMBEDDED IMAGES ({len(images)}\\\n          \\ found):', SEP]\\n        b64_used = 0   # running total of base64 chars\\\n          \\ emitted\\n        for img in images:\\n            b64      = img['base64']\\n\\\n          \\            b64_len  = len(b64)\\n            lines.append(f'\\\\nImage {img[\\\"\\\n          index\\\"]}:')\\n            lines.append(f'  Format     : {img[\\\"ext\\\"].upper()}')\\n\\\n          \\            lines.append(f'  MIME Type  : {img[\\\"mime\\\"]}')\\n         \\\n          \\   lines.append(f'  Size       : {img[\\\"size_bytes\\\"]:,} bytes')\\n    \\\n          \\        if b64_used + b64_len <= MAX_B64_BUDGET:\\n                # Fits\\\n          \\ within budget \u2014 include full base64\\n                lines.append(f' \\\n          \\ Base64     : {b64}')\\n                b64_used += b64_len\\n          \\\n          \\  else:\\n                # Would exceed budget \u2014 include metadata only\\n\\\n          \\                remaining = MAX_B64_BUDGET - b64_used\\n               \\\n          \\ lines.append(\\n                    f'  Base64     : [OMITTED \u2014 this image\\\n          \\ ({b64_len:,} chars) '\\n                    f'would exceed the {MAX_B64_BUDGET:,}-char\\\n          \\ base64 budget '\\n                    f'(used so far: {b64_used:,}, remaining:\\\n          \\ {remaining:,}). '\\n                    f'Image metadata preserved but\\\n          \\ visual analysis unavailable.]'\\n                )\\n\\n    # \u2500\u2500 Hard cap:\\\n          \\ guarantee visual_content never exceeds Dify's 320 K limit \u2500\u2500\\n    DIFY_VAR_LIMIT\\\n          \\ = 310_000   # 10 K below Dify's 320 000-char cap\\n    result = '\\\\n'.join(lines)\\n\\\n          \\    if len(result) > DIFY_VAR_LIMIT:\\n        result = (\\n            result[:DIFY_VAR_LIMIT]\\\n          \\ +\\n            f'\\\\n\\\\n[HARD CAP: visual_content truncated at {DIFY_VAR_LIMIT:,}\\\n          \\ chars '\\n            f'to stay within Dify 320,000-char variable limit.]'\\n\\\n          \\        )\\n    return result\\n\\n\\n# \u2500\u2500 Main \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\\n\\\n          \\ndef main(select_file) -> dict:\\n    file_list = select_file if isinstance(select_file,\\\n          \\ list) else [select_file]\\n    if not file_list:\\n        return {'visual_content':\\\n          \\ '[EMPTY: No file received.]',\\n                'images_found': 0, 'note':\\\n          \\ 'No file received.'}\\n\\n    f        = file_list[0]\\n    file_url = (f.get('url')\\\n          \\ or f.get('remote_url') or f.get('path') or '').strip()\\n    fname    =\\\n          \\ (f.get('filename') or f.get('name') or 'document.docx').strip()\\n\\n  \\\n          \\  if not file_url:\\n        return {'visual_content': '[ERROR: File URL\\\n          \\ not accessible.]',\\n                'images_found': 0, 'note': 'File URL\\\n          \\ not accessible.'}\\n\\n    # Fetch file bytes\\n    try:\\n        req = urllib.request.Request(file_url)\\n\\\n          \\        with urllib.request.urlopen(req, timeout=30) as r:\\n          \\\n          \\  file_bytes = r.read()\\n    except Exception as e:\\n        return {'visual_content':\\\n          \\ f'[ERROR: Could not fetch file: {e}]',\\n                'images_found':\\\n          \\ 0, 'note': str(e)}\\n\\n    # Validate ZIP / detect legacy .doc\\n    try:\\n\\\n          \\        zf = zipfile.ZipFile(io.BytesIO(file_bytes), 'r')\\n    except zipfile.BadZipFile:\\n\\\n          \\        msg = (\\n            '[DOC FORMAT NOTICE: Legacy .doc binary format\\\n          \\ cannot be processed '\\n            'directly.\\\\nPlease re-save as .docx\\\n          \\ in Microsoft Word or LibreOffice '\\n            '(File \\\\u2192 Save As\\\n          \\ \\\\u2192 Word Document / .docx), then re-upload.]'\\n        )\\n       \\\n          \\ return {'visual_content': msg, 'images_found': 0,\\n                'note':\\\n          \\ 'Legacy .doc \u2014 conversion required.'}\\n\\n    with zf:\\n        names =\\\n          \\ set(zf.namelist())\\n\\n        if 'word/document.xml' not in names:\\n \\\n          \\           return {'visual_content': '[ERROR: word/document.xml not found\\\n          \\ \u2014 corrupt DOCX?]',\\n                    'images_found': 0, 'note': 'word/document.xml\\\n          \\ missing.'}\\n\\n        try:\\n            root = ET.fromstring(zf.read('word/document.xml'))\\n\\\n          \\        except ET.ParseError as e:\\n            return {'visual_content':\\\n          \\ f'[ERROR: Failed to parse document XML: {e}]',\\n                    'images_found':\\\n          \\ 0, 'note': str(e)}\\n\\n        body = root.find(_w('body'))\\n        if\\\n          \\ body is None:\\n            return {'visual_content': '[ERROR: No <w:body>\\\n          \\ element found.]',\\n                    'images_found': 0, 'note': 'No\\\n          \\ body element.'}\\n\\n        text_lines, _ = _extract_text_and_tables(body)\\n\\\n          \\        images        = _extract_images(zf, names)\\n\\n    visual_content\\\n          \\ = _build_visual_content(fname, text_lines, images)\\n\\n    return {\\n \\\n          \\       'visual_content': visual_content,\\n        'images_found':   len(images),\\n\\\n          \\        'note': (\\n            f'Extracted text + {len(images)} image(s)\\\n          \\ from {fname}.'\\n            + (f' ({MAX_IMAGES} image cap applied.)' if\\\n          \\ len(images) == MAX_IMAGES else '')\\n        ),\\n    }\\n\"\n        code_language: python3\n        desc: 'Reads DOCX binary directly (zipfile + xml.etree.ElementTree). Extracts:\n          text with heading hierarchy, bullet points, tables (word/document.xml) +\n          embedded images (word/media/ via word/_rels/document.xml.rels). Builds visual_content\n          combining document text and image base64 data \u2014 identical pattern to the\n          Excel unified node. Legacy .doc returns a conversion notice. Max 10 images,\n          each up to 4 MB raw.'\n        outputs:\n          images_found:\n            children: null\n            type: number\n          note:\n            children: null\n            type: string\n          visual_content:\n            children: null\n            type: string\n        selected: false\n        title: Extract Word Document\n        type: code\n        variables:\n        - value_selector:\n          - '1776006764107'\n          - select_file\n          value_type: array[file]\n          variable: select_file\n      height: 241\n      id: node-word-extract\n      position:\n        x: 984\n        y: 1100\n      positionAbsolute:\n        x: 984\n        y: 1100\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        context:\n          enabled: true\n          variable_selector:\n          - node-word-extract\n          - visual_content\n        desc: 'Analyses the full Word document: text, tables, and embedded images.\n          Receives visual_content (document text + image base64) from Extract Word\n          Document. Uses Gemini 2.5 Pro to produce JSON matching the PDF output schema\n          \u2014 with text, tables, and per-image analysis. No API key needed \u2014 uses platform-configured\n          model credentials.'\n        model:\n          completion_params:\n            temperature: 0.1\n          mode: chat\n          name: gemini-2.5-pro\n          provider: langgenius/gemini/google\n        prompt_template:\n        - id: word-llm-system-v2\n          role: system\n          text: You are a document extraction engine. Return ONLY JSON. No fences.\n            No prose.\n        - id: word-llm-user-v2\n          role: user\n          text: 'WORD DOCUMENT CONTENT:\n\n            {{#context#}}\n\n\n            TASK: Analyse the complete Word document above \u2014 text, tables, and every\n            embedded image.\n\n            Return 1 JSON object. No fences. No prose.\n\n\n            RULES:\n\n            - text: copy ALL document text verbatim from DOCUMENT TEXT section; do\n            NOT invent\n\n            - do NOT translate; preserve original language exactly\n\n            - language_detected: Set \"ja\" ONLY if Japanese script is clearly the primary\n            language. Set \"en\" for everything else. Never guess \"ja\".\n\n            - ja accuracy: preserve \u6f22\u5b57 \u3072\u3089\u304c\u306a \u30ab\u30bf\u30ab\u30ca \u53e5\u8aad\u70b9 exactly; never romanize\n\n            - doc_type: report|letter|article|form|data|spreadsheet|webpage|notes|other\n\n            - word_count: count words in the document text\n\n            - summary: 2-3 sentences in English summarising the document\n\n            - tables: every table found in DOCUMENT TEXT; [] if none\n\n            - images: every image in EMBEDDED IMAGES section; [] if none found\n\n\n            FOR EACH IMAGE \u2014 analyse using its Base64 field:\n\n            - index: from image list (1-based)\n\n            - type: photo|illustration|chart|diagram|logo|screenshot|infographic|other\n\n            - caption: any caption or label visible near the image, or \"\"\n\n            - description: what is literally visible in the image, 2 sentences\n\n            - subject: e.g. \"Bar chart \u2014 Q3 revenue\" or \"Logo \u2014 Acme Corp\" or \"Portrait\n            \u2014 person in suit\"\n\n            - identity: name, origin (company/film/place), type (fictional_character|real_person|brand|landmark|other)\n\n            - insights: 3-4 sentences \u2014 chart: what data shows and key trend; logo:\n            company background; photo: context and significance\n\n            - portrayed_by: actor/creator name if relevant, or \"\"\n\n            - text_in_image: all text visible inside the image, or \"\"\n\n            - sentiment: positive|negative|neutral|dramatic|inspirational|informational\n\n            - tags: array of 3-5 keywords\n\n\n            OUTPUT SCHEMA (no extras):\n\n            {\"source_type\":\"word\",\"language_detected\":\"en\",\"doc_type\":\"\",\"word_count\":0,\"summary\":\"\",\"text\":\"\",\"tables\":[{\"title\":\"\",\"headers\":[\"c1\",\"c2\"],\"rows\":[[\"v1\",\"v2\"]]}],\"images\":[{\"index\":1,\"type\":\"\",\"caption\":\"\",\"description\":\"\",\"subject\":\"\",\"identity\":{\"name\":\"\",\"origin\":\"\",\"type\":\"\"},\"insights\":\"\",\"portrayed_by\":\"\",\"text_in_image\":\"\",\"sentiment\":\"\",\"tags\":[]}]}'\n        selected: false\n        title: Process Word Document\n        type: llm\n        variables:\n        - value_selector:\n          - node-word-extract\n          - visual_content\n          value_type: string\n          variable: visual_content\n        vision:\n          enabled: false\n      height: 245\n      id: node-process-word\n      position:\n        x: 1300\n        y: 1100\n      positionAbsolute:\n        x: 1300\n        y: 1100\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    viewport:\n      x: 84.71148816049742\n      y: 48.07200845198855\n      zoom: 0.5998409865799393\n"}
