dsl/file_Validator.yml
{"data": "app:\n  description: \"File must be in PDF, Excel, DOC/DOCX, CSV. \\n\"\n  icon: \ud83e\udd16\n  icon_background: '#FFEAD5'\n  mode: advanced-chat\n  name: file_Validator\n  use_icon_as_answer_icon: false\ndependencies:\n- current_identifier: null\n  type: marketplace\n  value:\n    marketplace_plugin_unique_identifier: langgenius/gemini:0.7.4@5faf411e694e0da130a337347a625a3812b1b7502a0183382d66d92c841bf05a\n- current_identifier: null\n  type: marketplace\n  value:\n    marketplace_plugin_unique_identifier: sawyer-shi/file_converter:0.0.2@2268454bf73a9aadbdb2c7576e1197ba1d479da1ce1950b48dafd3365d2f9615\nkind: app\nversion: 0.3.1\nworkflow:\n  conversation_variables: []\n  environment_variables: []\n  features:\n    file_upload:\n      allowed_file_extensions:\n      - .JPG\n      - .JPEG\n      - .PNG\n      - .GIF\n      - .WEBP\n      - .SVG\n      allowed_file_types:\n      - image\n      allowed_file_upload_methods:\n      - local_file\n      - remote_url\n      enabled: false\n      fileUploadConfig:\n        audio_file_size_limit: 50\n        batch_count_limit: 5\n        file_size_limit: 50\n        image_file_size_limit: 10\n        video_file_size_limit: 100\n        workflow_file_upload_limit: 10\n      image:\n        enabled: false\n        number_limits: 3\n        transfer_methods:\n        - local_file\n        - remote_url\n      number_limits: 3\n    opening_statement: ''\n    retriever_resource:\n      enabled: true\n    sensitive_word_avoidance:\n      enabled: false\n    speech_to_text:\n      enabled: false\n    suggested_questions: []\n    suggested_questions_after_answer:\n      enabled: false\n    text_to_speech:\n      enabled: false\n      language: ''\n      voice: ''\n  graph:\n    edges:\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: start\n        targetType: code\n      id: 1777288883815-source-1777289109504-target\n      source: '1777288883815'\n      sourceHandle: source\n      target: '1777289109504'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: code\n        targetType: if-else\n      id: 1777289109504-source-1777367629957-target\n      source: '1777289109504'\n      sourceHandle: source\n      target: '1777367629957'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: if-else\n        targetType: answer\n      id: 1777367629957-false-1777368172558-target\n      source: '1777367629957'\n      sourceHandle: 'false'\n      target: '1777368172558'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: llm\n        targetType: code\n      id: 1777368197254-source-1777368614837-target\n      source: '1777368197254'\n      sourceHandle: source\n      target: '1777368614837'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: code\n        targetType: answer\n      id: 1777368614837-source-1777368807915-target\n      source: '1777368614837'\n      sourceHandle: source\n      target: '1777368807915'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: if-else\n        targetType: document-extractor\n      id: 1777367629957-true-1777369260160-target\n      source: '1777367629957'\n      sourceHandle: 'true'\n      target: '1777369260160'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: document-extractor\n        targetType: llm\n      id: 1777369260160-source-1777368197254-target\n      source: '1777369260160'\n      sourceHandle: source\n      target: '1777368197254'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: if-else\n        targetType: tool\n      id: 1777367629957-11ff9852-ca5c-4cd9-9eb4-e057bb837a26-1777381459590-target\n      source: '1777367629957'\n      sourceHandle: 11ff9852-ca5c-4cd9-9eb4-e057bb837a26\n      target: '1777381459590'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: tool\n        targetType: document-extractor\n      id: 1777381459590-source-1777381604761-target\n      source: '1777381459590'\n      sourceHandle: source\n      target: '1777381604761'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: document-extractor\n        targetType: llm\n      id: 1777381604761-source-1777381691184-target\n      source: '1777381604761'\n      sourceHandle: source\n      target: '1777381691184'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: llm\n        targetType: code\n      id: 1777381691184-source-1777382156267-target\n      source: '1777381691184'\n      sourceHandle: source\n      target: '1777382156267'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: code\n        targetType: answer\n      id: 1777382156267-source-1777382228267-target\n      source: '1777382156267'\n      sourceHandle: source\n      target: '1777382228267'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: llm\n        targetType: answer\n      id: 1777382774623-source-1777383135188-target\n      source: '1777382774623'\n      sourceHandle: source\n      target: '1777383135188'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: if-else\n        targetType: document-extractor\n      id: 1777367629957-e5f08930-709d-40c1-a1c5-3d2906e3e1d0-1777383252962-target\n      source: '1777367629957'\n      sourceHandle: e5f08930-709d-40c1-a1c5-3d2906e3e1d0\n      target: '1777383252962'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: document-extractor\n        targetType: llm\n      id: 1777383252962-source-1777382774623-target\n      source: '1777383252962'\n      sourceHandle: source\n      target: '1777382774623'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    nodes:\n    - data:\n        desc: ''\n        selected: false\n        title: Start\n        type: start\n        variables:\n        - allowed_file_extensions: []\n          allowed_file_types:\n          - document\n          allowed_file_upload_methods:\n          - local_file\n          label: select_file\n          max_length: 5\n          options: []\n          required: true\n          type: file-list\n          variable: select_file\n      height: 89\n      id: '1777288883815'\n      position:\n        x: 80\n        y: 282\n      positionAbsolute:\n        x: 80\n        y: 282\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        code: \"import urllib.request\\n\\ndef main(inputs):\\n    if not inputs or not\\\n          \\ isinstance(inputs, list):\\n        return {\\\"result\\\": \\\"empty\\\"}\\n\\n\\\n          \\    file = inputs[0]\\n    if not file:\\n        return {\\\"result\\\": \\\"\\\n          empty\\\"}\\n\\n    file_name = (file.get(\\\"filename\\\") or file.get(\\\"name\\\"\\\n          ) or \\\"\\\").strip()\\n    mime      = (file.get(\\\"mime_type\\\") or file.get(\\\"\\\n          type\\\") or \\\"\\\").lower().strip()\\n    name_lower = file_name.lower()\\n\\n\\\n          \\    if not file_name:\\n        return {\\\"result\\\": \\\"empty\\\"}\\n\\n    #\\\n          \\ 1. Size calculation\\n    size = file.get(\\\"size\\\") or file.get(\\\"file_size\\\"\\\n          ) or 0\\n    try:\\n        size = int(size)\\n    except (TypeError, ValueError):\\n\\\n          \\        size = 0\\n    \\n    MB = 1024 * 1024\\n    LIMIT = 15 * MB \\n  \\\n          \\  # 2. Magic Byte Check (Strict Security)\\n    # Tries to see if the file\\\n          \\ is actually a hidden ZIP/Archive\\n    file_url = (file.get(\\\"url\\\") or\\\n          \\ file.get(\\\"remote_url\\\") or file.get(\\\"path\\\") or \\\"\\\").strip()\\n    if\\\n          \\ file_url:\\n        try:\\n            req = urllib.request.Request(file_url,\\\n          \\ headers={\\\"Range\\\": \\\"bytes=0-15\\\"})\\n            with urllib.request.urlopen(req,\\\n          \\ timeout=5) as resp:\\n                header = resp.read(16)\\n        \\\n          \\    \\n            is_office_doc = name_lower.endswith((\\\".docx\\\", \\\".xlsx\\\"\\\n          ))\\n            \\n            if is_zip_signature and not is_office_doc:\\n\\\n          \\                return {\\\"result\\\": \\\"zip_blocked\\\"}\\n        except:\\n\\\n          \\            pass \\n\\n    # 3. Specific Allowed Types Filtering\\n    file_type\\\n          \\ = None\\n\\n    if name_lower.endswith(\\\".pdf\\\"):\\n        file_type = \\\"\\\n          pdf\\\" \\n    elif name_lower.endswith((\\\".xlsx\\\", \\\".xls\\\")):\\n        file_type\\\n          \\ = \\\"excel\\\"\\n    elif name_lower.endswith((\\\".doc\\\", \\\".docx\\\")):\\n  \\\n          \\      file_type = \\\"word\\\"\\n    elif name_lower.endswith(\\\".csv\\\"):\\n \\\n          \\       file_type = \\\"csv\\\"\\n    elif name_lower.endswith(\\\".txt\\\"):\\n \\\n          \\       file_type = \\\"text\\\"\\n    else:\\n       \\n        return {\\\"result\\\"\\\n          : \\\"unsupported\\\"}\\n\\n    # 4. Size Limit Check\\n    if size > LIMIT:\\n\\\n          \\        size_mb = round(size / MB, 1)\\n        return {\\\"result\\\": f\\\"\\\n          size_exceeded|{file_type}|{size_mb}|15\\\"}\\n\\n    return {\\\"result\\\": file_type}\"\n        code_language: python3\n        desc: 'this  node will check the file type '\n        outputs:\n          result:\n            children: null\n            type: string\n        selected: true\n        title: Validation logic\n        type: code\n        variables:\n        - value_selector:\n          - '1777288883815'\n          - select_file\n          value_type: array[file]\n          variable: inputs\n      height: 81\n      id: '1777289109504'\n      position:\n        x: 380\n        y: 282\n      positionAbsolute:\n        x: 380\n        y: 282\n      selected: true\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        cases:\n        - case_id: 'true'\n          conditions:\n          - comparison_operator: contains\n            id: a5998896-02ba-441b-a050-116837a7a56b\n            value: pdf\n            varType: string\n            variable_selector:\n            - '1777289109504'\n            - result\n          id: 'true'\n          logical_operator: and\n        - case_id: 11ff9852-ca5c-4cd9-9eb4-e057bb837a26\n          conditions:\n          - comparison_operator: contains\n            id: e5e670aa-25b0-4a7e-8d15-b2ec2625ef1e\n            value: csv\n            varType: string\n            variable_selector:\n            - '1777289109504'\n            - result\n          - comparison_operator: contains\n            id: d59cff2e-7890-4cd7-8dd2-9da41991871c\n            value: xlsx\n            varType: string\n            variable_selector:\n            - '1777289109504'\n            - result\n          - comparison_operator: contains\n            id: 282b1adb-ed33-4e0e-a736-5585b6ba2af9\n            value: excel\n            varType: string\n            variable_selector:\n            - '1777289109504'\n            - result\n          id: 11ff9852-ca5c-4cd9-9eb4-e057bb837a26\n          logical_operator: or\n        - case_id: e5f08930-709d-40c1-a1c5-3d2906e3e1d0\n          conditions:\n          - comparison_operator: contains\n            id: 0ab53b96-5283-4b0a-ab1b-02517199db30\n            value: doc\n            varType: string\n            variable_selector:\n            - '1777289109504'\n            - result\n          - comparison_operator: contains\n            id: 87a08bea-814f-4137-9d92-8729189ef95e\n            value: word\n            varType: string\n            variable_selector:\n            - '1777289109504'\n            - result\n          id: e5f08930-709d-40c1-a1c5-3d2906e3e1d0\n          logical_operator: or\n        desc: ''\n        selected: false\n        title: IF/ELSE\n        type: if-else\n      height: 299\n      id: '1777367629957'\n      position:\n        x: 684.9235956819932\n        y: 282\n      positionAbsolute:\n        x: 684.9235956819932\n        y: 282\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        answer: Sorry, this file format is not supported. Please upload a PDF, Excel,\n          or Word file.\n        desc: ''\n        selected: false\n        title: Answer 2\n        type: answer\n        variables: []\n      height: 133\n      id: '1777368172558'\n      position:\n        x: 1007.3525479818738\n        y: 649.8919709984568\n      positionAbsolute:\n        x: 1007.3525479818738\n        y: 649.8919709984568\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        context:\n          enabled: true\n          variable_selector:\n          - '1777369260160'\n          - text\n        desc: Extract travel categories, rules, and amounts from this text. Focus\n          on Articles and Appendices. Output in JSON format\n        model:\n          completion_params:\n            temperature: 0.7\n          mode: chat\n          name: gemini-2.5-pro\n          provider: langgenius/gemini/google\n        prompt_config:\n          jinja2_variables: []\n        prompt_template:\n        - edition_type: basic\n          id: 0c65c556-eada-410d-a157-c903e43268a7\n          jinja2_text: \"Extract data from this text: {{{{ text }}}}\\r\\n{{ text }}\\r\\\n            \\n\\r\\n### ROLE\\r\\nYou are a highly precise Data Extraction Specialist.\\\n            \\ Your task is to convert unstructured business policy text into a structured\\\n            \\ JSON format suitable for Excel/CSV conversion.\\r\\n\\r\\n### OBJECTIVE\\r\\\n            \\nExtract all financial rates, categories, and conditions from the provided\\\n            \\ document text. Focus especially on \\\"Appendices\\\" or \\\"Tables\\\" mentioned\\\n            \\ in the text.\\r\\n\\r\\n### EXTRACTION RULES\\r\\n1. **Entity Identification**:\\\n            \\ Identify who the rate applies to (e.g., Executive, Officer, Staff).\\r\\\n            \\n2. **Category Mapping**: Categorize the expense (e.g., Transportation,\\\n            \\ Lodging, Per Diem).\\r\\n3. **Value Standardization**: \\r\\n   - Extract\\\n            \\ numerical values only for the 'Amount' field.\\r\\n   - Capture the currency\\\n            \\ separately (e.g., JPY, Yen).\\r\\n4. **Condition Capture**: Clearly state\\\n            \\ the rule/condition for the rate (e.g., \\\"Distance > 40km\\\", \\\"Overnight\\\n            \\ stay\\\", \\\"Long-term > 11 days\\\").\\r\\n5. **No Data Loss**: Ensure every\\\n            \\ row from every table (Appendix 1 to 4) is captured as a separate object\\\n            \\ in the list.\\r\\n\\r\\n### OUTPUT FORMAT\\r\\nReturn ONLY a valid JSON array\\\n            \\ of objects. Do not include any conversational text or markdown blocks.\\r\\\n            \\n\\r\\n### JSON SCHEMA EXAMPLE\\r\\n[\\r\\n  {\\r\\n    \\\"category\\\": \\\"Transportation\\\"\\\n            ,\\r\\n    \\\"item\\\": \\\"Train/Shinkansen\\\",\\r\\n    \\\"role\\\": \\\"Officer\\\"\\\n            ,\\r\\n    \\\"condition\\\": \\\"Flat rate equivalent to Green Car\\\",\\r\\n   \\\n            \\ \\\"amount\\\": null,\\r\\n    \\\"currency\\\": \\\"JPY\\\"\\r\\n  },\\r\\n  {\\r\\n  \\\n            \\  \\\"category\\\": \\\"Lodging\\\",\\r\\n    \\\"item\\\": \\\"Hotel stay\\\",\\r\\n   \\\n            \\ \\\"role\\\": \\\"Staff\\\",\\r\\n    \\\"condition\\\": \\\"Per night\\\",\\r\\n    \\\"\\\n            amount\\\": 10000,\\r\\n    \\\"currency\\\": \\\"JPY\\\"\\r\\n  }\\r\\n]\"\n          role: system\n          text: You are a document extraction engine. Return ONLY JSON. No fences.\n            No prose.\n        - id: 9f68452b-a39d-4767-a67c-add2098d4b78\n          role: user\n          text: \"Extract data from this text: {{{#1777369260160.text#}}}}\\n\\n\\n###\\\n            \\ ROLE\\nYou are a Policy Data Engineer. Your task is to transform unstructured\\\n            \\ policy text into a highly structured, nested JSON format.\\n\\n### EXTRACTION\\\n            \\ GUIDELINES\\n1. **Precision**: Extract exact values for currency and\\\n            \\ timeframes (e.g., \\\"5 business days\\\", \\\"20,000 yen\\\").\\n2. **Standardization**:\\\n            \\ Convert dates to YYYY-MM-DD format.\\n3. **Completeness**: Ensure all\\\n            \\ Appendices (1-4) are captured within the 'appendices' nested object.\\n\\\n            4. **Logic Mapping**: Map Article rules to their respective categories\\\n            \\ (Transportation, Lodging, Procedures).\\n\\n### JSON OUTPUT SCHEMA\\nReturn\\\n            \\ ONLY a JSON object with the following structure:\\n{\\n  \\\"company_name\\\"\\\n            : \\\"Name of the company\\\",\\n  \\\"policy_name\\\": \\\"Official title of the\\\n            \\ policy\\\",\\n  \\\"effective_date\\\": \\\"YYYY-MM-DD\\\",\\n  \\\"definitions\\\"\\\n            : {\\n    \\\"place_of_employment\\\": \\\"Definition from text\\\",\\n    \\\"business_trip\\\"\\\n            : { \\\"same_day\\\": \\\"Rule\\\", \\\"overnight\\\": \\\"Rule\\\" },\\n    \\\"travel_expenses\\\"\\\n            : [\\\"Item1\\\", \\\"Item2\\\"]\\n  },\\n  \\\"expenses\\\": {\\n    \\\"transportation\\\"\\\n            : { \\\"rule\\\": \\\"General rule\\\", \\\"car_travel\\\": \\\"Auto rule\\\" },\\n   \\\n            \\ \\\"lodging\\\": { \\\"rule\\\": \\\"Hotel rule\\\" },\\n    \\\"per_diem\\\": { \\\"same_day\\\"\\\n            : \\\"Link to appendix\\\", \\\"overnight\\\": \\\"Link to appendix\\\" }\\n  },\\n\\\n            \\  \\\"special_cases\\\": { \\\"long_term_travel\\\": \\\"\\\", \\\"other_expenses\\\"\\\n            : \\\"\\\", \\\"overtime\\\": \\\"\\\" },\\n  \\\"procedures\\\": { \\\"pre_travel\\\": \\\"\\\"\\\n            , \\\"advance_payment\\\": \\\"\\\", \\\"post_travel\\\": \\\"\\\", \\\"settlement\\\": \\\"\\\n            \\\" },\\n  \\\"compliance\\\": { \\\"receipts_required\\\": \\\"Yes/No condition\\\"\\\n            \\ },\\n  \\\"holiday_rules\\\": { \\\"with_work\\\": \\\"\\\", \\\"without_work\\\": \\\"\\\n            \\\" },\\n  \\\"appendices\\\": {\\n    \\\"transportation\\\": { \\\"officers\\\": \\\"\\\n            \\\", \\\"staff\\\": \\\"\\\" },\\n    \\\"lodging\\\": { \\\"executive\\\": \\\"\\\", \\\"staff\\\"\\\n            : \\\"\\\" },\\n    \\\"per_diem_same_day\\\": { \\\"40_100_km\\\": { \\\"executive\\\"\\\n            : \\\"\\\", \\\"staff\\\": \\\"\\\" }, \\\"100_km_plus\\\": { \\\"executive\\\": \\\"\\\", \\\"\\\n            staff\\\": \\\"\\\" } },\\n    \\\"per_diem_overnight\\\": { \\\"executive\\\": \\\"\\\"\\\n            , \\\"staff\\\": \\\"\\\" }\\n  },\\n  \\\"revision_history\\\": [ { \\\"date\\\": \\\"\\\"\\\n            , \\\"change\\\": \\\"\\\" } ]\\n}\\n\\n### CONSTRAINT\\n- Do not add any preamble\\\n            \\ or conversational text.\\n- Do not use markdown code blocks like ```json.\\\n            \\ Return raw JSON string.\"\n        selected: false\n        title: Semantic Extraction.\n        type: llm\n        variables: []\n        vision:\n          enabled: false\n      height: 165\n      id: '1777368197254'\n      position:\n        x: 1320.8763345332968\n        y: 101.28028537676693\n      positionAbsolute:\n        x: 1320.8763345332968\n        y: 101.28028537676693\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        code: \"import csv\\nimport io\\nimport json\\n\\ndef main(arg1):\\n    result =\\\n          \\ {\\\"csv_text\\\": \\\"\\\", \\\"status\\\": \\\"Error\\\"}\\n    \\n    try:\\n        #\\\n          \\ \\U0001F539 1. Clean input completely (STRONG CLEANING)\\n        raw_text\\\n          \\ = str(arg1).strip()\\n\\n        start = raw_text.find(\\\"{\\\")\\n        end\\\n          \\ = raw_text.rfind(\\\"}\\\")\\n\\n        if start == -1 or end == -1:\\n    \\\n          \\        raise ValueError(\\\"Valid JSON not found in input\\\")\\n\\n       \\\n          \\ raw_text = raw_text[start:end+1]\\n\\n        # \\U0001F539 2. Parse JSON\\n\\\n          \\        data = json.loads(raw_text)\\n\\n        # \\U0001F539 3. Normalize\\\n          \\ to list\\n        if isinstance(data, dict):\\n            data = [data]\\n\\\n          \\n        if not isinstance(data, list) or len(data) == 0:\\n           \\\n          \\ result[\\\"status\\\"] = \\\"No valid data found\\\"\\n            return result\\n\\\n          \\n        # \\U0001F539 4. Flatten JSON (IMPROVED)\\n        def flatten_json(y,\\\n          \\ prefix=''):\\n            out = {}\\n            for k, v in y.items():\\n\\\n          \\                new_key = f\\\"{prefix}{k}\\\" if prefix == '' else f\\\"{prefix}.{k}\\\"\\\n          \\n                \\n                if isinstance(v, dict):\\n          \\\n          \\          out.update(flatten_json(v, new_key))\\n                \\n    \\\n          \\            elif isinstance(v, list):\\n                    # \u2705 Handle list\\\n          \\ of dicts (like revision_history)\\n                    if all(isinstance(i,\\\n          \\ dict) for i in v):\\n                        out[new_key] = \\\"; \\\".join(\\n\\\n          \\                            [\\\", \\\".join(f\\\"{k}:{val}\\\" for k, val in i.items())\\\n          \\ for i in v]\\n                        )\\n                    else:\\n  \\\n          \\                      out[new_key] = \\\", \\\".join([str(i) for i in v])\\n\\\n          \\                \\n                else:\\n                    out[new_key]\\\n          \\ = v\\n            \\n            return out\\n\\n        flat_data = [flatten_json(item)\\\n          \\ for item in data]\\n\\n        # \\U0001F539 5. Create headers\\n        headers\\\n          \\ = set()\\n        for item in flat_data:\\n            headers.update(item.keys())\\n\\\n          \\        headers = list(headers)\\n\\n        # \\U0001F539 6. Generate CSV\\n\\\n          \\        output = io.StringIO()\\n        writer = csv.DictWriter(output,\\\n          \\ fieldnames=headers)\\n        writer.writeheader()\\n\\n        for row in\\\n          \\ flat_data:\\n            writer.writerow({k: str(row.get(k, \\\"\\\")) for\\\n          \\ k in headers})\\n\\n        result[\\\"csv_text\\\"] = output.getvalue()\\n \\\n          \\       result[\\\"status\\\"] = \\\"Success\\\"\\n\\n    except Exception as e:\\n\\\n          \\        result[\\\"status\\\"] = f\\\"Error: {str(e)}\\\"\\n        result[\\\"csv_text\\\"\\\n          ] = f\\\"Failed to parse JSON. Error: {str(e)}\\\"\\n\\n    return result\"\n        code_language: python3\n        desc: ''\n        outputs:\n          csv_text:\n            children: null\n            type: string\n          status:\n            children: null\n            type: string\n        selected: false\n        title: Code 3\n        type: code\n        variables:\n        - value_selector:\n          - '1777368197254'\n          - text\n          value_type: string\n          variable: arg1\n      height: 53\n      id: '1777368614837'\n      position:\n        x: 1630.0996379130736\n        y: 101.28028537676693\n      positionAbsolute:\n        x: 1630.0996379130736\n        y: 101.28028537676693\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        answer: '{{#1777368614837.csv_text#}}'\n        desc: ''\n        selected: false\n        title: Answer 3\n        type: answer\n        variables: []\n      height: 103\n      id: '1777368807915'\n      position:\n        x: 1999.1587647734382\n        y: 101.28028537676693\n      positionAbsolute:\n        x: 1999.1587647734382\n        y: 101.28028537676693\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        desc: ''\n        is_array_file: true\n        selected: false\n        title: Doc Extractor\n        type: document-extractor\n        variable_selector:\n        - '1777288883815'\n        - select_file\n      height: 94\n      id: '1777369260160'\n      position:\n        x: 1026.0996379130736\n        y: 101.28028537676693\n      positionAbsolute:\n        x: 1026.0996379130736\n        y: 101.28028537676693\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        desc: ''\n        is_team_authorization: true\n        output_schema: null\n        paramSchemas:\n        - auto_generate: null\n          default: null\n          form: llm\n          human_description:\n            en_US: Upload the Excel file you want to convert to CSV format\n            ja_JP: Upload the Excel file you want to convert to CSV format\n            pt_BR: Upload the Excel file you want to convert to CSV format\n            zh_Hans: \u4e0a\u4f20\u60a8\u60f3\u8981\u8f6c\u6362\u4e3aCSV\u683c\u5f0f\u7684Excel\u6587\u4ef6\n          label:\n            en_US: Input Excel File\n            ja_JP: Input Excel File\n            pt_BR: Input Excel File\n            zh_Hans: \u8f93\u5165Excel\u6587\u4ef6\n          llm_description: ''\n          max: null\n          min: null\n          name: input_file\n          options: []\n          placeholder: null\n          precision: null\n          required: true\n          scope: null\n          template: null\n          type: file\n        params:\n          input_file: ''\n        provider_id: sawyer-shi/file_converter/file_converter\n        provider_name: sawyer-shi/file_converter/file_converter\n        provider_type: builtin\n        selected: false\n        title: Excel to CSV Converter\n        tool_configurations: {}\n        tool_description: Convert Excel (.xlsx, .xls) files to CSV format. Each worksheet\n          will be converted to a separate CSV file with automatic filename sanitization.\n        tool_label: Excel to CSV Converter\n        tool_name: excel_2_csv\n        tool_node_version: '2'\n        tool_parameters:\n          input_file:\n            type: variable\n            value:\n            - '1777288883815'\n            - select_file\n        type: tool\n      height: 53\n      id: '1777381459590'\n      position:\n        x: 1037.3977228777276\n        y: 327.94574077894777\n      positionAbsolute:\n        x: 1037.3977228777276\n        y: 327.94574077894777\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        desc: ''\n        is_array_file: true\n        selected: false\n        title: 'Doc Extractor '\n        type: document-extractor\n        variable_selector:\n        - '1777381459590'\n        - files\n      height: 94\n      id: '1777381604761'\n      position:\n        x: 1356.5066920940144\n        y: 327.94574077894777\n      positionAbsolute:\n        x: 1356.5066920940144\n        y: 327.94574077894777\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        context:\n          enabled: true\n          variable_selector:\n          - '1777381604761'\n          - text\n        desc: For excel, csv, xlsx need to update for this\n        model:\n          completion_params:\n            temperature: 0.7\n          mode: chat\n          name: gemini-2.5-pro\n          provider: langgenius/gemini/google\n        prompt_template:\n        - id: 0c14b976-c542-4567-a0a8-4ac502d46c18\n          role: system\n          text: \"{{#context#}}\\n{{#1777381459590.text#}}\\n### ROLE\\nStrict Note: You\\\n            \\ are a Precise Data Extractor for Tabular Data. Your output must be a\\\n            \\ PURE Python-executable dictionary string. No markdown, no backticks,\\\n            \\ no preamble.\\n\\n### INPUTS\\n- Cleaned File Content: {{{#1777381604761.text#}}}}\\n\\\n            - Headers to Map: Category, Item, Role, Condition, Amount, Currency\\n\\n\\\n            ### EXTRACTION RULES\\n1. **Sanitization**: Remove any empty rows or summary\\\n            \\ rows (like totals).\\n2. **Standardization**: Use the provided \\\"Headers\\\n            \\ to Map\\\" as keys for the dictionary.\\n3. **Empty Values**: If a cell\\\n            \\ is empty or null, return \\\"\\\". Never use \\\"N/A\\\" or \\\"None\\\".\\n4. **Data\\\n            \\ Types**: Keep amounts as numbers if possible, otherwise strings.\\n\\n\\\n            ### TASK\\nExtract the data and return it STRICTLY in this dictionary format.\\\n            \\ I will pass this directly to a Python eval() function. \\nExpected Format:\\n\\\n            {\\\"data\\\": [{\\\"Category\\\": \\\"value\\\", \\\"Item\\\": \\\"value\\\", \\\"Role\\\": \\\"\\\n            value\\\", \\\"Condition\\\": \\\"value\\\", \\\"Amount\\\": 100, \\\"Currency\\\": \\\"JPY\\\"\\\n            }]}\\n\\n### CONSTRAINTS\\n- Return ONLY the dictionary. \\n- DO NOT use ```json\\\n            \\ or ```python markdown blocks.\\n- DO NOT include any explanations or\\\n            \\ \\\"Here is your data\\\".\\n- If the content is empty, return: {\\\"error\\\"\\\n            : \\\"No Tabular Data Found\\\"}\\n\\nNow, process the Cleaned File Content\\\n            \\ and generate the dictionary.\"\n        - id: 9b92518f-abfb-4ed2-a0f0-888e0ccdf02f\n          role: user\n          text: you are an helpful assistant\n        selected: false\n        title: 'Semantic Extraction '\n        type: llm\n        variables: []\n        vision:\n          enabled: false\n      height: 133\n      id: '1777381691184'\n      position:\n        x: 1679.3929036143732\n        y: 327.94574077894777\n      positionAbsolute:\n        x: 1679.3929036143732\n        y: 327.94574077894777\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        code: \"def main(extracted_data: str) -> dict:\\n    try:\\n       \\n       \\\n          \\ clean_text = extracted_data.replace(\\\"\\\\\\\\\\\", \\\"\\\")\\n        \\n      \\\n          \\  \\n        clean_text = clean_text.replace(\\\"```json\\\", \\\"\\\").replace(\\\"\\\n          ```\\\", \\\"\\\").strip()\\n        \\n        return {\\n            \\\"result\\\"\\\n          : clean_text\\n        }\\n    except Exception as e:\\n        return {\\n\\\n          \\            \\\"result\\\": f\\\"Error during conversion: {str(e)}\\\"\\n      \\\n          \\  }\"\n        code_language: python3\n        desc: ''\n        outputs:\n          result:\n            children: null\n            type: string\n        selected: false\n        title: Code 4\n        type: code\n        variables:\n        - value_selector:\n          - '1777381691184'\n          - text\n          value_type: string\n          variable: extracted_data\n      height: 53\n      id: '1777382156267'\n      position:\n        x: 2013.6108420469468\n        y: 327.94574077894777\n      positionAbsolute:\n        x: 2013.6108420469468\n        y: 327.94574077894777\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        answer: '{{#1777382156267.result#}}'\n        desc: ''\n        selected: false\n        title: Answer 4\n        type: answer\n        variables: []\n      height: 103\n      id: '1777382228267'\n      position:\n        x: 2317.610842046947\n        y: 327.94574077894777\n      positionAbsolute:\n        x: 2317.610842046947\n        y: 327.94574077894777\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        context:\n          enabled: true\n          variable_selector:\n          - '1777383252962'\n          - text\n        desc: ''\n        model:\n          completion_params:\n            temperature: 0.7\n          mode: chat\n          name: gemini-2.5-pro\n          provider: langgenius/gemini/google\n        prompt_template:\n        - id: ea5bc2cd-26fc-4cf4-9c23-57784a6286ef\n          role: system\n          text: \"{{#context#}}\\n{{#1777288883815.select_file#}}\\n\\n### ROLE\\nYou are\\\n            \\ an Intelligent Document Structuring Engine.\\n\\nYour job is to analyze\\\n            \\ ANY document (PDF, Word, CSV, or unstructured text) and convert it into\\\n            \\ a structured JSON format.\\n\\nReturn a PURE Python-executable dictionary\\\n            \\ string.\\nNo markdown, no backticks, no explanation.\\n\\n---\\n\\n### INPUT\\n\\\n            Document Content:\\n{{#1777383252962.text#}}\\n\\n---\\n\\n### CORE OBJECTIVE\\n\\\n            1. Understand the document type automatically (policy, invoice, report,\\\n            \\ tabular data, etc.)\\n2. Extract meaningful structured data\\n3. Organize\\\n            \\ it into logical sections\\n4. Preserve important relationships (hierarchy,\\\n            \\ categories, values)\\n\\n---\\n\\n### EXTRACTION RULES\\n1. Do NOT rely on\\\n            \\ fixed headers \u2014 use semantic understanding.\\n2. Normalize similar terms:\\n\\\n            \\   - \\\"Company Name\\\", \\\"Organization\\\" \u2192 company_name\\n   - \\\"Date\\\"\\\n            , \\\"Effective From\\\" \u2192 date/effective_date\\n3. If data is tabular \u2192 convert\\\n            \\ into list of objects.\\n4. If data is document/policy \u2192 use nested structure.\\n\\\n            5. If value not found \u2192 return \\\"\\\" (empty string)\\n6. NEVER return error\\\n            \\ unless document is completely empty.\\n7. Do NOT hallucinate unknown\\\n            \\ values.\\n\\n---\\n\\n### OUTPUT FORMAT (Adaptive JSON)\\n\\n### OUTPUT GUIDELINES\\n\\\n            - Fill only relevant fields\\n- Add new keys if needed (dynamic structure\\\n            \\ allowed)\\n- Keep hierarchy clean and readable\\n- Tables \u2192 always list\\\n            \\ of dictionaries\\n- Avoid unnecessary nesting\\n\\n---\\n\\n### CONSTRAINTS\\n\\\n            - Return ONLY the dictionary\\n- No markdown (```), no explanation\\n- Output\\\n            \\ must be directly usable in Python eval()\\n- Even if partial data \u2192 return\\\n            \\ structured output (do NOT return error)\\n\\n---\\n\\nNow analyze the document\\\n            \\ and generate structured JSON.\"\n        - id: aa1727d1-28e2-4f5c-a743-c0b6be8360a9\n          role: user\n          text: you are an helpful assistant\n        selected: false\n        title: Semantic Extraction.\n        type: llm\n        variables: []\n        vision:\n          enabled: false\n      height: 89\n      id: '1777382774623'\n      position:\n        x: 1442.9219230404003\n        y: 503.0528852126628\n      positionAbsolute:\n        x: 1442.9219230404003\n        y: 503.0528852126628\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        answer: '{{#1777382774623.text#}}'\n        desc: ''\n        selected: false\n        title: Answer 4\n        type: answer\n        variables: []\n      height: 103\n      id: '1777383135188'\n      position:\n        x: 1746.9219230404003\n        y: 503.0528852126628\n      positionAbsolute:\n        x: 1746.9219230404003\n        y: 503.0528852126628\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        desc: ''\n        is_array_file: true\n        selected: false\n        title: Doc Extractor 3\n        type: document-extractor\n        variable_selector:\n        - '1777288883815'\n        - select_file\n      height: 94\n      id: '1777383252962'\n      position:\n        x: 1142.9219230404003\n        y: 503.0528852126628\n      positionAbsolute:\n        x: 1142.9219230404003\n        y: 503.0528852126628\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    viewport:\n      x: 216.63868077303994\n      y: -115.84742789440645\n      zoom: 0.7236346187201885\n"}
