dsl/File_Reader_Chat.yml
{"data": "app:\n  description: Chat interface for the File Reader Tool. Calls the published File Reader\n    Tool workflow via its API. Set FILE_READER_API_KEY in Environment Variables after\n    importing.\n  icon: \ud83d\udcc2\n  icon_background: '#E8F4FD'\n  mode: advanced-chat\n  name: File Reader Chat\n  use_icon_as_answer_icon: false\ndependencies: []\nkind: app\nversion: 0.3.1\nworkflow:\n  conversation_variables: []\n  environment_variables:\n  - description: 'API key for the File Reader Tool. Get it from: File Reader Tool\n      \u2192 \u22ef \u2192 API \u2192 API Key.'\n    id: env-api-key\n    name: FILE_READER_API_KEY\n    selector:\n    - env\n    - FILE_READER_API_KEY\n    value: ''\n    value_type: secret\n  features:\n    file_upload:\n      allowed_file_extensions: []\n      allowed_file_types:\n      - document\n      - image\n      allowed_file_upload_methods:\n      - local_file\n      enabled: true\n      image:\n        enabled: false\n        number_limits: 3\n        transfer_methods:\n        - local_file\n        - remote_url\n      number_limits: 1\n    opening_statement: 'Hi! I''m your File Reader assistant.\n\n\n      Upload a file and ask me anything about it \u2014 I''ll analyse it and answer your\n      questions.\n\n\n      **Supported:** PDF \u00b7 Images \u00b7 Excel \u00b7 Word \u00b7 TXT \u00b7 CSV \u00b7 HTML  *(max 15 MB)*'\n    retriever_resource:\n      enabled: false\n    sensitive_word_avoidance:\n      enabled: false\n    speech_to_text:\n      enabled: false\n    suggested_questions:\n    - What is this file about?\n    - Summarise the key findings.\n    - List all tables in this document.\n    - Describe the charts in this Excel file.\n    suggested_questions_after_answer:\n      enabled: true\n    text_to_speech:\n      enabled: false\n      language: ''\n      voice: ''\n  graph:\n    edges:\n    - data:\n        isInLoop: false\n        sourceType: start\n        targetType: code\n      id: e-start-extract\n      source: node-start\n      sourceHandle: source\n      target: node-extract\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInLoop: false\n        sourceType: code\n        targetType: if-else\n      id: e-extract-check\n      source: node-extract\n      sourceHandle: source\n      target: node-has-file\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInLoop: false\n        sourceType: if-else\n        targetType: http-request\n      id: e-check-http\n      source: node-has-file\n      sourceHandle: has-file\n      target: node-http\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInLoop: false\n        sourceType: if-else\n        targetType: answer\n      id: e-check-nofile\n      source: node-has-file\n      sourceHandle: 'false'\n      target: node-answer-nofile\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInLoop: false\n        sourceType: http-request\n        targetType: code\n      id: e-http-parse\n      source: node-http\n      sourceHandle: source\n      target: node-parse\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInLoop: false\n        sourceType: code\n        targetType: answer\n      id: e-parse-answer\n      source: node-parse\n      sourceHandle: source\n      target: node-answer\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    nodes:\n    - data:\n        desc: Chatflow entry. sys.files holds the uploaded file, sys.query the user\n          message.\n        selected: false\n        title: Start\n        type: start\n        variables: []\n      height: 113\n      id: node-start\n      position:\n        x: 30\n        y: 282\n      positionAbsolute:\n        x: 30\n        y: 282\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 243\n    - data:\n        code: \"def main(sys_files) -> dict:\\n    \\\"\\\"\\\"\\n    Pull upload_file_id and\\\n          \\ file_type from sys.files.\\n    Dify stores the upload_file_id in the related_id\\\n          \\ field.\\n    \\\"\\\"\\\"\\n    file_list = sys_files if isinstance(sys_files,\\\n          \\ list) else [sys_files]\\n    if not file_list or not file_list[0]:\\n  \\\n          \\      return {\\\"upload_file_id\\\": \\\"\\\", \\\"file_type\\\": \\\"document\\\",\\n\\\n          \\                \\\"has_file\\\": False, \\\"filename\\\": \\\"\\\"}\\n\\n    f = file_list[0]\\n\\\n          \\    upload_file_id = (\\n        f.get(\\\"related_id\\\") or\\n        f.get(\\\"\\\n          id\\\")         or\\n        f.get(\\\"upload_file_id\\\") or \\\"\\\"\\n    )\\n   \\\n          \\ return {\\n        \\\"upload_file_id\\\": str(upload_file_id).strip(),\\n \\\n          \\       \\\"file_type\\\":      f.get(\\\"type\\\") or \\\"document\\\",\\n        \\\"\\\n          has_file\\\":       str(bool(upload_file_id)),\\n        \\\"filename\\\":    \\\n          \\   f.get(\\\"filename\\\") or f.get(\\\"name\\\") or \\\"\\\",\\n    }\\n\"\n        code_language: python3\n        desc: Extracts upload_file_id (related_id) and file_type from sys.files.\n        outputs:\n          file_type:\n            children: null\n            type: string\n          filename:\n            children: null\n            type: string\n          has_file:\n            children: null\n            type: string\n          upload_file_id:\n            children: null\n            type: string\n        selected: false\n        title: Extract File Info\n        type: code\n        variables:\n        - value_selector:\n          - sys\n          - files\n          value_type: array[file]\n          variable: sys_files\n      height: 97\n      id: node-extract\n      position:\n        x: 330\n        y: 282\n      positionAbsolute:\n        x: 330\n        y: 282\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 243\n    - data:\n        cases:\n        - case_id: has-file\n          conditions:\n          - comparison_operator: is\n            id: cond-has-file\n            value: 'True'\n            varType: string\n            variable_selector:\n            - node-extract\n            - has_file\n          id: has-file\n          logical_operator: and\n        desc: Routes to API call if file present, otherwise shows help.\n        selected: false\n        title: File Attached?\n        type: if-else\n      height: 169\n      id: node-has-file\n      position:\n        x: 630\n        y: 282\n      positionAbsolute:\n        x: 630\n        y: 282\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 243\n    - data:\n        authorization:\n          config:\n            token: '{{env.FILE_READER_API_KEY}}'\n            type: bearer\n          type: custom\n        body:\n          data:\n          - id: key-value-47\n            key: ''\n            type: text\n            value: ''\n          type: form-data\n        desc: 'Calls POST /v1/workflows/run on the published File Reader Tool. Passes\n          the file by upload_file_id (no file-list restriction). Authorization: FILE_READER_API_KEY\n          environment variable.'\n        headers: 'Authorization:Bearer {app-LHoG55NYweMw0PgzaHvtXcis}\n\n          Content-Type:application/json'\n        method: POST\n        params: ''\n        retry_config:\n          max_retries: 3\n          retry_enabled: true\n          retry_interval: 100\n        selected: false\n        ssl_verify: false\n        timeout:\n          max_connect_timeout: 30\n          max_read_timeout: 120\n          max_write_timeout: 30\n        title: Call File Reader Tool\n        type: http-request\n        url: http://172.30.116.165/v1/workflows/run\n        variables:\n        - value_selector:\n          - node-extract\n          - upload_file_id\n          variable: upload_file_id\n        - value_selector:\n          - node-extract\n          - file_type\n          variable: file_type\n      height: 246\n      id: node-http\n      position:\n        x: 924.4068585015084\n        y: 282\n      positionAbsolute:\n        x: 924.4068585015084\n        y: 282\n      selected: true\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 243\n    - data:\n        code: \"import json\\n\\ndef main(response_body: str = \\\"\\\", status_code: int\\\n          \\ = 200) -> dict:\\n    \\\"\\\"\\\"\\n    Parse the /v1/workflows/run JSON response.\\n\\\n          \\    Success: { \\\"data\\\": { \\\"status\\\": \\\"succeeded\\\", \\\"outputs\\\": { \\\"\\\n          result\\\": \\\"...\\\" } } }\\n    Error  : { \\\"code\\\": \\\"...\\\", \\\"message\\\":\\\n          \\ \\\"...\\\" }\\n    \\\"\\\"\\\"\\n    if status_code not in (200, 201):\\n       \\\n          \\ try:\\n            err = json.loads(response_body)\\n            msg = err.get(\\\"\\\n          message\\\") or response_body[:300]\\n        except Exception:\\n         \\\n          \\   msg = response_body[:300]\\n        return {\\\"result\\\": f\\\"API error\\\n          \\ {status_code}: {msg}\\\"}\\n\\n    try:\\n        resp = json.loads(response_body)\\n\\\n          \\    except Exception as e:\\n        return {\\\"result\\\": f\\\"Could not parse\\\n          \\ response: {e}\\\\n\\\\n{response_body[:400]}\\\"}\\n\\n    data    = resp.get(\\\"\\\n          data\\\", {})\\n    status  = data.get(\\\"status\\\", \\\"\\\")\\n    outputs = data.get(\\\"\\\n          outputs\\\", {})\\n\\n    if status == \\\"failed\\\":\\n        return {\\\"result\\\"\\\n          : f\\\"Workflow failed: {data.get('error', 'Unknown error')}\\\"}\\n\\n    result\\\n          \\ = outputs.get(\\\"result\\\", \\\"\\\")\\n    if not result:\\n        return {\\\"\\\n          result\\\": f\\\"No result returned.\\\\n\\\\n{response_body[:600]}\\\"}\\n\\n    return\\\n          \\ {\\\"result\\\": result}\\n\"\n        code_language: python3\n        desc: Parses the API JSON response and extracts data.outputs.result.\n        outputs:\n          result:\n            children: null\n            type: string\n        selected: false\n        title: Parse Response\n        type: code\n        variables:\n        - value_selector:\n          - node-http\n          - body\n          value_type: string\n          variable: response_body\n        - value_selector:\n          - node-http\n          - status_code\n          value_type: number\n          variable: status_code\n      height: 97\n      id: node-parse\n      position:\n        x: 1230\n        y: 282\n      positionAbsolute:\n        x: 1230\n        y: 282\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 243\n    - data:\n        answer: '{{result}}'\n        desc: Returns the File Reader Tool analysis to the user.\n        selected: false\n        title: Answer\n        type: answer\n        variables:\n        - value_selector:\n          - node-parse\n          - result\n          value_type: string\n          variable: result\n      height: 145\n      id: node-answer\n      position:\n        x: 1530\n        y: 282\n      positionAbsolute:\n        x: 1530\n        y: 282\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 243\n    - data:\n        answer: 'Please upload a file to get started.\n\n\n          **Supported formats (max 15 MB):**\n\n          - **PDF** \u2014 text, tables, embedded images\n\n          - **Images** \u2014 JPG, PNG, GIF, WEBP, BMP, TIFF, SVG\n\n          - **Excel** \u2014 XLSX, XLS\n\n          - **Word** \u2014 DOC, DOCX\n\n          - **Plain text** \u2014 TXT, MD, RTF, ODT\n\n          - **Web / data** \u2014 HTML, HTM, CSV'\n        desc: Shown when no file is attached.\n        selected: false\n        title: Ask for File\n        type: answer\n        variables: []\n      height: 241\n      id: node-answer-nofile\n      position:\n        x: 930\n        y: 520\n      positionAbsolute:\n        x: 930\n        y: 520\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 243\n    viewport:\n      x: -122.43124120767266\n      y: -43.821904934505426\n      zoom: 0.7196513464791757\n"}
