dsl/HBIL017_UC2.yml
app:
  description: This chatflow helps customers check equipment inspection schedules
    and estimated downtime by retrieving data from GMS as well as helps to retrieve
    inspection results by fetching data through Report Table, using the branch code
    and customer number through multistep interaction.
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: advanced-chat
  name: HBIL017_UC2
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: bowenliang123/md_exporter:2.2.0@9f39c2c2c1cd09180e2cc053090adc9886019483f502727467f136712b8b9639
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/gemini:0.7.4@5faf411e694e0da130a337347a625a3812b1b7502a0183382d66d92c841bf05a
kind: app
version: 0.3.1
workflow:
  conversation_variables:
  - description: Stores the building name for a combination of branch code and customer
      number from the Kokyaku Table.
    id: c6d08bb6-f451-45ba-9ff6-9e5f48b96de0
    name: building_name
    selector:
    - conversation
    - building_name
    value: ''
    value_type: string
  - description: ''
    id: bd38628e-0ada-4fa3-b428-b615a9493bd5
    name: option_selected
    selector:
    - conversation
    - option_selected
    value: ''
    value_type: string
  - description: ''
    id: 3d81110b-3c3a-4b9f-a9ab-8125785358c4
    name: inspection_date_result
    selector:
    - conversation
    - inspection_date_result
    value: []
    value_type: array[string]
  - description: ''
    id: ad1b3ce1-a217-4fa6-a5fd-2c75064502cc
    name: customer_number_current
    selector:
    - conversation
    - customer_number_current
    value: '"00000"'
    value_type: string
  - description: ''
    id: 21792c70-d206-45fd-b64d-4b4824675fd3
    name: branch_code_current
    selector:
    - conversation
    - branch_code_current
    value: '"00"'
    value_type: string
  - description: ''
    id: d28db020-c39e-436f-94c6-2c80abe15175
    name: language
    selector:
    - conversation
    - language
    value: Japanese
    value_type: string
  - description: ''
    id: 49d150a0-4392-4f8d-a40c-a0ecc4574aa3
    name: current_step
    selector:
    - conversation
    - current_step
    value: 0
    value_type: integer
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 50
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: 'お客様情報を確認するため、支社コードを入力してください :'
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 1762432179399-source-answer-target
      selected: false
      source: '1762432179399'
      sourceHandle: source
      target: answer
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: knowledge-retrieval
      id: 1763980185123-source-1762426287743-target
      selected: false
      source: '1763980185123'
      sourceHandle: source
      target: '1762426287743'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: code
      id: 1764074257669-source-1764237455296-target
      selected: false
      source: '1764074257669'
      sourceHandle: source
      target: '1764237455296'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: if-else
      id: 1763726302338-false-1764684190674-target
      selected: false
      source: '1763726302338'
      sourceHandle: 'false'
      target: '1764684190674'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: assigner
      id: 1763726302338-true-1765261075109-target
      selected: false
      source: '1763726302338'
      sourceHandle: 'true'
      target: '1765261075109'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: code
      id: 1762243242271-source-1765446223701-target
      selected: false
      source: '1762243242271'
      sourceHandle: source
      target: '1765446223701'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: code
      id: 1765446223701-source-1765447295919-target
      selected: false
      source: '1765446223701'
      sourceHandle: source
      target: '1765447295919'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: assigner
      id: 1765447295919-source-1764847483796-target
      selected: false
      source: '1765447295919'
      sourceHandle: source
      target: '1764847483796'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: assigner
        targetType: if-else
      id: 1764847483796-source-1763726302338-target
      selected: false
      source: '1764847483796'
      sourceHandle: source
      target: '1763726302338'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: template-transform
        targetType: answer
      id: 1767009355117-source-1767009446935-target
      selected: false
      source: '1767009355117'
      sourceHandle: source
      target: '1767009446935'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: assigner
      id: 1767001424701-false-1767010110928-target
      selected: false
      source: '1767001424701'
      sourceHandle: 'false'
      target: '1767010110928'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: assigner
      id: 1767768663621-true-1767769038446-target
      selected: false
      source: '1767768663621'
      sourceHandle: 'true'
      target: '1767769038446'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: assigner
        targetType: template-transform
      id: 1767769038446-source-1767009355117-target
      selected: false
      source: '1767769038446'
      sourceHandle: source
      target: '1767009355117'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: code
      id: 1764237455296-source-1765184768359-target
      selected: false
      source: '1764237455296'
      sourceHandle: source
      target: '1765184768359'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: if-else
      id: 1765184768359-source-1767768663621-target
      selected: false
      source: '1765184768359'
      sourceHandle: source
      target: '1767768663621'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: if-else
      id: 1767001424701-true-1767772971481-target
      selected: false
      source: '1767001424701'
      sourceHandle: 'true'
      target: '1767772971481'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: code
      id: 1767772971481-true-1763980185123-target
      selected: false
      source: '1767772971481'
      sourceHandle: 'true'
      target: '1763980185123'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1765184925259-true-1762432179399-target
      selected: false
      source: '1765184925259'
      sourceHandle: 'true'
      target: '1762432179399'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: assigner
      id: 17678500805720-source-1767865616403-target
      selected: false
      source: '17678500805720'
      sourceHandle: source
      target: '1767865616403'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: assigner
        targetType: if-else
      id: 1767865616403-source-1765184925259-target
      selected: false
      source: '1767865616403'
      sourceHandle: source
      target: '1765184925259'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: knowledge-retrieval
      id: 1767946689753-source-1767947504394-target
      selected: false
      source: '1767946689753'
      sourceHandle: source
      target: '1767947504394'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: code
      id: 17679557554340-source-17679567286580-target
      selected: false
      source: '17679557554340'
      sourceHandle: source
      target: '17679567286580'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 17679679913960-source-17679680027120-target
      selected: false
      source: '17679679913960'
      sourceHandle: source
      target: '17679680027120'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: if-else
      id: 1767001424701-f12e842b-abba-4ac7-b97e-40bc590d8a45-17682010756360-target
      selected: false
      source: '1767001424701'
      sourceHandle: f12e842b-abba-4ac7-b97e-40bc590d8a45
      target: '17682010756360'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: assigner
        targetType: answer
      id: 17682032247030-source-1768201126356-target
      selected: false
      source: '17682032247030'
      sourceHandle: source
      target: '1768201126356'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: assigner
      id: 17682010756360-true-17682032247030-target
      selected: false
      source: '17682010756360'
      sourceHandle: 'true'
      target: '17682032247030'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: code
      id: 1767947504394-source-17679557554340-target
      selected: false
      source: '1767947504394'
      sourceHandle: source
      target: '17679557554340'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: code
      id: 1768212707505-true-1767946689753-target
      selected: false
      source: '1768212707505'
      sourceHandle: 'true'
      target: '1767946689753'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: code
      id: 1768211570966-source-1768387673605-target
      selected: false
      source: '1768211570966'
      sourceHandle: source
      target: '1768387673605'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: if-else
      id: 1768387673605-source-1768212707505-target
      selected: false
      source: '1768387673605'
      sourceHandle: source
      target: '1768212707505'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1768412892468'
        sourceType: iteration-start
        targetType: code
      id: 1768412892468start-source-1768414065721-target
      selected: false
      source: 1768412892468start
      sourceHandle: source
      target: '1768414065721'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1768412892468'
        sourceType: code
        targetType: tool
      id: 1768414065721-source-1768412970709-target
      selected: false
      source: '1768414065721'
      sourceHandle: source
      target: '1768412970709'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: template-transform
      id: 1765184925259-false-1768568299342-target
      selected: false
      source: '1765184925259'
      sourceHandle: 'false'
      target: '1768568299342'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: template-transform
        targetType: answer
      id: 1768568299342-source-1767865846725-target
      selected: false
      source: '1768568299342'
      sourceHandle: source
      target: '1767865846725'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: iteration
        targetType: llm
      id: 1768412892468-source-17679679913960-target
      selected: false
      source: '1768412892468'
      sourceHandle: source
      target: '17679679913960'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: code
      id: 17679567286580-source-17679646511050-target
      selected: false
      source: '17679567286580'
      sourceHandle: source
      target: '17679646511050'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: code
      id: 17682010756360-false-17689108864380-target
      selected: false
      source: '17682010756360'
      sourceHandle: 'false'
      target: '17689108864380'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: assigner
      id: 17689108864380-source-17689109795860-target
      selected: false
      source: '17689108864380'
      sourceHandle: source
      target: '17689109795860'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: assigner
        targetType: if-else
      id: 17689109795860-source-17689161516560-target
      selected: false
      source: '17689109795860'
      sourceHandle: source
      target: '17689161516560'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 17689161516560-true-1768211570966-target
      selected: false
      source: '17689161516560'
      sourceHandle: 'true'
      target: '1768211570966'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: template-transform
      id: 17689161516560-false-17689161871780-target
      selected: false
      source: '17689161516560'
      sourceHandle: 'false'
      target: '17689161871780'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: template-transform
        targetType: answer
      id: 17689161871780-source-17689162675130-target
      selected: false
      source: '17689161871780'
      sourceHandle: source
      target: '17689162675130'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: if-else
      id: 17679646511050-source-1768899815986-target
      selected: false
      source: '17679646511050'
      sourceHandle: source
      target: '1768899815986'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: assigner
      id: 1768899815986-true-17689905479150-target
      selected: false
      source: '1768899815986'
      sourceHandle: 'true'
      target: '17689905479150'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: assigner
        targetType: iteration
      id: 17689905479150-source-1768412892468-target
      selected: false
      source: '17689905479150'
      sourceHandle: source
      target: '1768412892468'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: assigner
      id: 1769024041258-source-17690238498820-target
      selected: false
      source: '1769024041258'
      sourceHandle: source
      target: '17690238498820'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: code
      id: 1768212707505-false-1769024041258-target
      selected: false
      source: '1768212707505'
      sourceHandle: 'false'
      target: '1769024041258'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: assigner
        targetType: answer
      id: 17690238498820-source-1768218902888-target
      selected: false
      source: '17690238498820'
      sourceHandle: source
      target: '1768218902888'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: code
      id: 1769155077062-source-17678500805720-target
      selected: false
      source: '1769155077062'
      sourceHandle: source
      target: '17678500805720'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1767772971481-false-1769155077062-target
      selected: false
      source: '1767772971481'
      sourceHandle: 'false'
      target: '1769155077062'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: if-else
      id: 1769520574387-source-1769520770301-target
      source: '1769520574387'
      sourceHandle: source
      target: '1769520770301'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: code
      id: 1769163996583-source-1769520919238-target
      source: '1769163996583'
      sourceHandle: source
      target: '1769520919238'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: if-else
      id: 1769520919238-source-1767001424701-target
      source: '1769520919238'
      sourceHandle: source
      target: '1767001424701'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: code
      id: 1769520770301-true-1769520919238-target
      source: '1769520770301'
      sourceHandle: 'true'
      target: '1769520919238'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1769520770301-false-1769163996583-target
      source: '1769520770301'
      sourceHandle: 'false'
      target: '1769163996583'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: if-else
      id: 1768899815986-false-1770118438200-target
      source: '1768899815986'
      sourceHandle: 'false'
      target: '1770118438200'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: assigner
      id: 1770118438200-false-17679678129120-target
      source: '1770118438200'
      sourceHandle: 'false'
      target: '17679678129120'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: assigner
      id: 1770118438200-true-17701185044470-target
      source: '1770118438200'
      sourceHandle: 'true'
      target: '17701185044470'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: assigner
        targetType: answer
      id: 1767010110928-source-1767004588803-target
      source: '1767010110928'
      sourceHandle: source
      target: '1767004588803'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: 1764684190674-true-1767001390897-target
      source: '1764684190674'
      sourceHandle: 'true'
      target: '1767001390897'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: if-else
      id: 1764684190674-05237308-a57e-4fa9-9522-662883552ece-1770883708865-target
      source: '1764684190674'
      sourceHandle: 05237308-a57e-4fa9-9522-662883552ece
      target: '1770883708865'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: code
      id: 1770883708865-false-1769520574387-target
      source: '1770883708865'
      sourceHandle: 'false'
      target: '1769520574387'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: code
      id: 1770883708865-true-1770883776278-target
      source: '1770883708865'
      sourceHandle: 'true'
      target: '1770883776278'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: knowledge-retrieval
      id: 1770883776278-source-1770883864645-target
      source: '1770883776278'
      sourceHandle: source
      target: '1770883864645'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: code
      id: 1770883864645-source-1770883957426-target
      source: '1770883864645'
      sourceHandle: source
      target: '1770883957426'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: assigner
      id: 1770883957426-source-1770884081797-target
      source: '1770883957426'
      sourceHandle: source
      target: '1770884081797'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: assigner
        targetType: if-else
      id: 1770884081797-source-1770884123112-target
      source: '1770884081797'
      sourceHandle: source
      target: '1770884123112'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: code
      id: 1770884123112-false-1769520574387-target
      source: '1770884123112'
      sourceHandle: 'false'
      target: '1769520574387'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: template-transform
      id: 1770884123112-true-1770884174047-target
      selected: false
      source: '1770884123112'
      sourceHandle: 'true'
      target: '1770884174047'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: template-transform
        targetType: assigner
      id: 1770884174047-source-1770884250697-target
      source: '1770884174047'
      sourceHandle: source
      target: '1770884250697'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: assigner
        targetType: answer
      id: 1770884250697-source-1770884290494-target
      source: '1770884250697'
      sourceHandle: source
      target: '1770884290494'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: code
      id: 1762426287743-source-1764074257669-target
      source: '1762426287743'
      sourceHandle: source
      target: '1764074257669'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: assigner
        targetType: template-transform
      id: 1765188251729-source-1770885012113-target
      source: '1765188251729'
      sourceHandle: source
      target: '1770885012113'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: template-transform
        targetType: answer
      id: 1770885012113-source-1765188223000-target
      source: '1770885012113'
      sourceHandle: source
      target: '1765188223000'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: assigner
        targetType: template-transform
      id: 17701185044470-source-1770885454940-target
      source: '17701185044470'
      sourceHandle: source
      target: '1770885454940'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: assigner
        targetType: template-transform
      id: 17679678129120-source-1770885454940-target
      source: '17679678129120'
      sourceHandle: source
      target: '1770885454940'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: template-transform
        targetType: answer
      id: 1770885454940-source-17689036642080-target
      source: '1770885454940'
      sourceHandle: source
      target: '17689036642080'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: assigner
      id: 1767768663621-false-1765188251729-target
      source: '1767768663621'
      sourceHandle: 'false'
      target: '1765188251729'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: template-transform
      id: 1764684190674-false-1771324566782-target
      source: '1764684190674'
      sourceHandle: 'false'
      target: '1771324566782'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: template-transform
        targetType: answer
      id: 1771324566782-source-1763554472879-target
      source: '1771324566782'
      sourceHandle: source
      target: '1763554472879'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: assigner
        targetType: answer
      id: 1765261075109-source-1763726898918-target
      source: '1765261075109'
      sourceHandle: source
      target: '1763726898918'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: Entry point for gathering input from the user.
        selected: false
        title: Start
        type: start
        variables: []
      height: 97
      id: '1762243242271'
      position:
        x: -1979.2572288705585
        y: 338.37168608778734
      positionAbsolute:
        x: -1979.2572288705585
        y: 338.37168608778734
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        answer: '{{#1762432179399.text#}}'
        desc: This final output node displays the Inspection Data response generated
          by the Button 1 Data Retriever and ends the chatflow for this branch.
        selected: false
        title: Inspection Schedule Presenter
        type: answer
        variables: []
      height: 179
      id: answer
      position:
        x: 3890.924325167701
        y: 50.677609088994416
      positionAbsolute:
        x: 3890.924325167701
        y: 50.677609088994416
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        dataset_ids:
        - 89c/HSACvJ9v9CfFxDduylzrUvqQuK18lHVodPH/Jz/HB55VJj+1LmIoMft4fa8p
        desc: Extracts inspection details
        multiple_retrieval_config:
          reranking_enable: true
          reranking_mode: weighted_score
          reranking_model:
            model: ''
            provider: ''
          score_threshold: null
          top_k: 10
          weights:
            keyword_setting:
              keyword_weight: 0.3
            vector_setting:
              embedding_model_name: gemini-embedding-001
              embedding_provider_name: langgenius/gemini/google
              vector_weight: 0.7
        query_variable_selector:
        - '1763980185123'
        - okyakusamabango
        retrieval_mode: multiple
        selected: false
        title: GMS Schedule Retrieval
        type: knowledge-retrieval
      height: 119
      id: '1762426287743'
      position:
        x: 2733.694986471489
        y: -191.64008975657737
      positionAbsolute:
        x: 2733.694986471489
        y: -191.64008975657737
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        context:
          enabled: true
          variable_selector:
          - '17678500805720'
          - filtered_result
        desc: This node takes the raw inspection data, converts it into a fixed JSON
          format, formats all date and time fields, and adds an interactive feedback
          prompt with language-specific HTML buttons.
        model:
          completion_params:
            temperature: 0
            thinking_level: Low
          mode: chat
          name: gemini-3-pro-preview
          provider: langgenius/gemini/google
        prompt_template:
        - id: 2aa80cc9-b0e8-427f-98a8-7f910932ed75
          role: system
          text: 'You are a highly restricted internal Inspection Data retrieval expert.


            Analyze ONLY the provided CONTEXT.


            DO NOT use external tools, web search, assumptions, or prior knowledge.


            INPUT CONTEXT

            Inspection Data:{{#context#}}

            Output MUST ONLY be in Japanese.


            OUTPUT FIELDS

            Result array {{#17678500805720.filtered_result#}} may contain multiple
            records. Map each record into"点検詳細".

            If OUTPUT_LANGUAGE = "Japanese":

            支店コード → Branch Code

            顧客番号 → Customer Number

            ビル名 → Building Name

            設備名称 → Equipment Name

            点検日 → Inspection Date

            点検開始 → Inspection Start

            点検終了 → Inspection End

            Date/Time Formatting (CRITICAL):

            点検日 → "2025年11月13日（木）" (Japanese) or "November 13, 2025 (Thu)" (English)

            点検開始 / 点検終了 → "02時00分" (Japanese) or "02:00" (24h, no AM/PM)

            OUTPUT FORMAT (STRICT)

            Output ONLY valid JSON. No extra text.

            One top-level object with key: "点検詳細"

            Value: array of objects (one per record, all required fields).

            Use double quotes for keys/strings.


            Proper commas/brackets. No trailing commas.


            Consistent date/time formatting.


            Example (single record):

            {

            "点検詳細":[

            {

            "支店コード":"12",

            "顧客番号":"10004",

            "ビル名":"ダイヤモンドゲート",

            "設備名称":"1",

            "点検日":"2025年11月12日（水）",

            "点検開始":"時刻未定",

            "点検終了":"時刻未定"

            }

            ]

            }


            OUTPUT RULES

            Begin response with ZERO-WIDTH NON-JOINER (U+200C) before{.

            Output required JSON only.

            After closing}, output exactly ONE ZERO-WIDTH SPACE (U+200B).

            Immediately append:

            <hr/>お客さまの疑問は解決しましたか？

            <div style="display:flex; flex-direction: column; gap:10px;">

            <button data-message="解決した" data-variant="primary"> 解決した</button>

            <button data-message="解決しなかった" data-variant="primary"> 解決しなかった</button>

            </div>

            Response must contain ONLY:

            (1) U+200C

            (2) JSON

            (3) U+200B

            (4) HTML snippet

            STRICTLY NO markdown, explanations, comments, translations, or extra text.'
        - id: 8da7b97f-16e8-4c46-9b70-6684c9d45df9
          role: user
          text: '{{#17678500805720.filtered_result#}}'
        selected: false
        structured_output_enabled: true
        title: Button 1 Data Retriever
        type: llm
        variables: []
        vision:
          enabled: false
      height: 181
      id: '1762432179399'
      position:
        x: 3567.8580714543223
        y: 5.391072654665805
      positionAbsolute:
        x: 3567.8580714543223
        y: 5.391072654665805
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        answer: '{{#1771324566782.output#}}'
        desc: This final output node displays the formatted text received from the
          previous Generic Responder LLM node and serves as the end point of the flow.
        selected: false
        title: Generic Answer
        type: answer
        variables: []
      height: 179
      id: '1763554472879'
      position:
        x: 534.961433947346
        y: 1302.3647080064873
      positionAbsolute:
        x: 534.961433947346
        y: 1302.3647080064873
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: '='
            id: 35a612e0-76ef-464b-9bd7-388b6dad54b3
            value: '1'
            varType: number
            variable_selector:
            - '1765446223701'
            - is_final
          id: 'true'
          logical_operator: and
        desc: This node checks whether data collection is complete using the is_final
          flag from the State Parser. If is_final is 1, the flow moves to the finalization
          path; otherwise, it continues the conversation loop.
        selected: false
        title: Final State Router
        type: if-else
      height: 233
      id: '1763726302338'
      position:
        x: -681.0043427078438
        y: 288.17527700303134
      positionAbsolute:
        x: -681.0043427078438
        y: 288.17527700303134
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        answer: 支店コードを入力して、顧客情報を確認してください。
        desc: Final output node that ends the flow and displays the generated conversational
          text after storing feedback.
        selected: false
        title: Final Conversation Closer
        type: answer
        variables: []
      height: 193
      id: '1763726898918'
      position:
        x: 1424.2788458955724
        y: -758.6653850280029
      positionAbsolute:
        x: 1424.2788458955724
        y: -758.6653850280029
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        code: "def main(customer_number: str,branch_code: str) -> dict:\n    \n  \
          \  # Map the flow variable (customer_number) to the KB variable (KANRI_NO)\n\
          \    kanri_no_value = str(customer_number).strip()\n    jigyou_unique_cd\
          \ = branch_code\n    \n    # Return the mapped variable with the new name\n\
          \    return {\n        \"KANRI_NO\": kanri_no_value,\n        \"JIGYOU_UNIQUE_CD\"\
          : jigyou_unique_cd,\n        \"okyakusamabango\": kanri_no_value,\n    \
          \    \"shishacode\": jigyou_unique_cd\n    }"
        code_language: python3
        desc: This node uses the extracted customer_number and branch_code to populate
          the required Japanese-named fields (KANRI_NO, JIGYOU_UNIQUE_CD, etc.). It
          formats the data properly so it can be used by the knowledge base or in
          later processing steps.
        outputs:
          JIGYOU_UNIQUE_CD:
            children: null
            type: string
          KANRI_NO:
            children: null
            type: string
          okyakusamabango:
            children: null
            type: string
          shishacode:
            children: null
            type: string
        selected: false
        title: Function Node
        type: code
        variables:
        - value_selector:
          - '1765447295919'
          - customer_number
          value_type: string
          variable: customer_number
        - value_selector:
          - '1765447295919'
          - branch_code
          value_type: string
          variable: branch_code
      height: 177
      id: '1763980185123'
      position:
        x: 2357.859988242728
        y: -160.2408907505942
      positionAbsolute:
        x: 2357.859988242728
        y: -160.2408907505942
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        code: "import re\nimport json\n\ndef main(aggregated_context) -> dict:\n \
          \   \n    def parse_content_to_dict(content_str):\n        data = {}\n \
          \       pairs = re.findall(r'(\\b[^:]+):\\s*([^;]+);', content_str)\n  \
          \      for key, value in pairs:\n            key = key.strip()\n       \
          \     value = value.strip()\n            if len(key) > 50:\n           \
          \     continue\n            if not value or value.lower() == 'nan':\n  \
          \              data[key] = None\n            elif value.replace('.', '',\
          \ 1).isdigit():\n                try:\n                    data[key] = float(value)\
          \ if '.' in value else int(value)\n                except ValueError:\n\
          \                    data[key] = value\n            else:\n            \
          \    data[key] = value\n        return data\n\n    records = []\n\n    if\
          \ isinstance(aggregated_context, list):\n        for item in aggregated_context:\n\
          \            if isinstance(item, dict) and \"content\" in item and isinstance(item[\"\
          content\"], str):\n                records.append(item[\"content\"])\n \
          \   elif isinstance(aggregated_context, dict) and \"content\" in aggregated_context:\n\
          \        records.append(aggregated_context[\"content\"])\n    elif isinstance(aggregated_context,\
          \ str):\n        records.append(aggregated_context)\n\n    gms_records_strings\
          \ = [\n        json.dumps(parse_content_to_dict(record), ensure_ascii=False)\n\
          \        for record in records\n    ]\n\n    return {\n        \"gms_records\"\
          : gms_records_strings\n    }"
        code_language: python3
        desc: This node uses regex to extract key-value pairs from the text and converts
          them into two JSON arrays, providing structured GMS Schedule and Customer
          Data for further processing.
        outputs:
          gms_records:
            children: null
            type: array[string]
        selected: false
        title: Button1 Structured Context Extractor
        type: code
        variables:
        - value_selector:
          - '1762426287743'
          - result
          value_type: array[object]
          variable: aggregated_context
      height: 145
      id: '1764074257669'
      position:
        x: 3091.037955858405
        y: -207.0728701017344
      positionAbsolute:
        x: 3091.037955858405
        y: -207.0728701017344
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        code: "import json\nfrom datetime import datetime\n\n# --- Utility Functions\
          \ ---\n\ndef format_work_date(date_str):\n    if not date_str:\n       \
          \ return \"N/A\"\n    try:\n        dt = datetime.strptime(date_str, \"\
          %m/%d/%Y\")\n        return dt.strftime(\"%B %d, %Y (%A)\")\n    except:\n\
          \        return date_str\n\ndef format_time(dt_str):\n    if not dt_str\
          \ or dt_str in [\"N/A\", None, \"\"]:\n        return \"N/A\"\n    try:\n\
          \        if dt_str.endswith(\"+00\"):\n            dt_str = dt_str + \"\
          :00\"\n        dt_str = dt_str.replace(\"Z\", \"+00:00\")\n        dt =\
          \ datetime.fromisoformat(dt_str)\n        try:\n            return dt.strftime(\"\
          %-I:%M %p\")   # Linux/macOS\n        except ValueError:\n            return\
          \ dt.strftime(\"%#I:%M %p\")  # Windows\n    except:\n        return \"\
          N/A\"\n\n# --- MAIN FUNCTION (CUSTOM TOOL SIGNATURE) ---\n\ndef main(building_name,\
          \ gms_records, kanri_no, jigyou_cd):\n    try:\n        if not building_name:\n\
          \            building_name = \"\"\n        if not gms_records:\n       \
          \     gms_records = []\n\n        gms = [json.loads(g) for g in gms_records]\n\
          \n        kanri_no = str(kanri_no).strip()\n        jigyou_cd = str(jigyou_cd).strip()\n\
          \        \n        # Mapping for Model Code to Japanese Text\n        model_code_map\
          \ = {\n            \"1\": \"エレベーター\",\n            \"2\": \"エスカレーター\",\n\
          \            \"3\": \"空調設備\",\n            \"4\": \"ビル管理設備\"\n        }\n\
          \        \n        # Get current date for comparison\n        today = datetime.now().date()\n\
          \n        # --- Match GMS data (FILTERED BY FUTURE DATE) ---\n        matching_gms\
          \ = []\n        for g in gms:\n            try:\n                # Safely\
          \ handle customer number conversion\n                g_kanri = str(int(float(g.get(\"\
          okyakusamabango\", 0))))\n            except:\n                g_kanri =\
          \ \"\"\n                \n            is_id_match = g_kanri == kanri_no\n\
          \            is_branch_match = str(g.get(\"shishacode\", \"\")).strip()\
          \ == jigyou_cd\n            \n            if is_id_match and is_branch_match:\n\
          \                work_date_str = g.get(\"scheduledworkdate\")\n        \
          \        if work_date_str:\n                    try:\n                 \
          \       work_date = datetime.strptime(work_date_str, \"%m/%d/%Y\").date()\n\
          \                        if work_date >= today:\n                      \
          \      matching_gms.append(g)\n                    except:\n           \
          \             continue\n\n        combined_matches = []\n\n        # Combine\
          \ logic\n        if building_name and matching_gms:\n                for\
          \ gm in matching_gms:\n                    combined_matches.append({\n \
          \                       \"kanri_no\": kanri_no,\n                      \
          \  \"jigyou_cd\": jigyou_cd,\n                        \"BUIL_NAME\": building_name,\n\
          \                        # \"BUIL_ADD\": cust.get(\"BUIL_ADD\"),\n     \
          \                   \"scheduledworkdate\": gm.get(\"scheduledworkdate\"\
          ),\n                        \"begindatetime\": gm.get(\"begindatetime\"\
          ),\n                        \"enddatetime\": gm.get(\"enddatetime\"),\n\
          \                        \"goki\": gm.get(\"goki\"),\n                 \
          \       \"modelcode\": str(gm.get(\"modelcode\", \"\"))\n              \
          \      })\n        # elif building_name:\n        #         combined_matches.append({\n\
          \        #             \"kanri_no\": kanri_no,\n        #             \"\
          jigyou_cd\": jigyou_cd,\n        #             \"BUIL_NAME\": building_name,\n\
          \        #             # \"BUIL_ADD\": cust.get(\"BUIL_ADD\"),\n       \
          \ #             \"scheduledworkdate\": None,\n        #             \"begindatetime\"\
          : None,\n        #             \"enddatetime\": None,\n        #       \
          \      \"goki\": None,\n        #             \"modelcode\": None\n    \
          \    #         })\n        # elif matching_gms:\n        #     for gm in\
          \ matching_gms:\n        #         combined_matches.append({\n        #\
          \             \"kanri_no\": kanri_no,\n        #             \"jigyou_cd\"\
          : jigyou_cd,\n        #             \"BUIL_NAME\": None,\n        #    \
          \         # \"BUIL_ADD\": None,\n        #             \"scheduledworkdate\"\
          : gm.get(\"scheduledworkdate\"),\n        #             \"begindatetime\"\
          : gm.get(\"begindatetime\"),\n        #             \"enddatetime\": gm.get(\"\
          enddatetime\"),\n        #             \"goki\": gm.get(\"goki\"),\n   \
          \     #             \"modelcode\": str(gm.get(\"modelcode\", \"\"))\n  \
          \      #         })\n\n        # --- Convert to result strings and gather\
          \ Equipment List ---\n        result_strings = []\n        equipment_list\
          \ = []\n        \n        for item in combined_matches:\n            s_date\
          \ = item.get('scheduledworkdate')\n            start_time = format_time(item.get('begindatetime'))\n\
          \            end_time = format_time(item.get('enddatetime'))\n\n       \
          \     # Equipment Name Logic\n            m_code = item.get('modelcode')\n\
          \            model_text = model_code_map.get(m_code, \"\")\n           \
          \ goki_val = item.get('goki') or \"\"\n\n            # Special case: Building\
          \ Management Equipment (modelcode == \"4\")\n            if m_code == \"\
          4\":\n                equipment_display = \"ビル管理設備\"\n\n            elif\
          \ model_text and goki_val:\n                equipment_display = f\"{model_text}\
          \ {goki_val}号機\"\n\n            elif model_text:\n                equipment_display\
          \ = model_text\n\n            else:\n                equipment_display =\
          \ \"N/A\"\n\n\n            # Add to consolidated equipment list if not already\
          \ present\n            if equipment_display != \"N/A\" and equipment_display\
          \ not in equipment_list:\n                equipment_list.append(equipment_display)\n\
          \n            if start_time == \"N/A\":\n                start_time = \"\
          The inspection time has not been determined\"\n            if end_time ==\
          \ \"N/A\":\n                end_time = \"The inspection time has not been\
          \ determined\"\n\n            if not s_date:\n                insp_date_display\
          \ = \"No upcoming inspections scheduled.\"\n            else:\n        \
          \        insp_date_display = format_work_date(s_date)\n\n            block\
          \ = (\n                f\"Branch Code: {item.get('jigyou_cd')}\\n\"\n  \
          \              f\"Customer Number: {item.get('kanri_no')}\\n\"\n       \
          \         f\"Building Name: {item.get('BUIL_NAME') or 'N/A'}\\n\"\n    \
          \            f\"Equipment Name: {equipment_display}\\n\"\n             \
          \   f\"Inspection Date: {insp_date_display}\\n\"\n                f\"Inspection\
          \ Start Time: {start_time}\\n\"\n                f\"Inspection End Time:\
          \ {end_time}\"\n            )\n            result_strings.append(block)\n\
          \n        if not result_strings:\n            result_strings = [\"No future\
          \ inspection records found.\"]\n\n        matching_gms_str = [json.dumps(x,\
          \ ensure_ascii=False) for x in matching_gms]\n\n        return {\n     \
          \       \"result\": result_strings,\n            \"equipment_list\": equipment_list,\
          \ # Returns list like [\"エレベーター 1号機\", \"エスカレーター 2号機\"]\n            # \"\
          matching_customers\": matching_customers_str,\n            \"matching_gms\"\
          : matching_gms_str\n        }\n\n    except Exception as e:\n        return\
          \ {\n            \"result\": [f\"Error: {str(e)}\"],\n            \"equipment_list\"\
          : [],\n            # \"matching_customers\": [],\n            \"matching_gms\"\
          : [],\n        }"
        code_language: python3
        desc: This node retrieves and cross-checks customer and GMS records using
          kanri_no and jigyou_cd, formats dates, and outputs structured inspection
          details for display.
        outputs:
          equipment_list:
            children: null
            type: array[string]
          matching_gms:
            children: null
            type: array[string]
          result:
            children: null
            type: array[string]
        selected: false
        title: Button 1 Data Formatter
        type: code
        variables:
        - value_selector:
          - '1764074257669'
          - gms_records
          value_type: array[string]
          variable: gms_records
        - value_selector:
          - '1765447295919'
          - branch_code
          value_type: string
          variable: jigyou_cd
        - value_selector:
          - '1765447295919'
          - customer_number
          value_type: string
          variable: kanri_no
        - value_selector:
          - conversation
          - building_name
          value_type: string
          variable: building_name
      height: 145
      id: '1764237455296'
      position:
        x: 3495.1007664869926
        y: -230.34305292114882
      positionAbsolute:
        x: 3495.1007664869926
        y: -230.34305292114882
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: '='
            id: f5aa084c-cb19-4545-8277-3279650d2937
            value: '0'
            varType: number
            variable_selector:
            - '1765446223701'
            - is_final
          - comparison_operator: '='
            id: fb5856eb-5783-4291-862f-0c952e9d6cde
            value: '3'
            varType: number
            variable_selector:
            - '1765447295919'
            - step
          id: 'true'
          logical_operator: and
        - case_id: 05237308-a57e-4fa9-9522-662883552ece
          conditions:
          - comparison_operator: '='
            id: 44ffa350-1ba9-4f76-9d87-c334a48c1232
            value: '4'
            varType: number
            variable_selector:
            - '1765447295919'
            - step
          - comparison_operator: '='
            id: a5cc6430-22ab-4e40-9eae-fd8348e8e852
            value: '5'
            varType: number
            variable_selector:
            - '1765447295919'
            - step
          id: 05237308-a57e-4fa9-9522-662883552ece
          logical_operator: or
        desc: 'This node validates two conditions (AND logic) before moving to Step
          3:

          1. is_final must be 0

          2. step must be 3'
        selected: false
        title: Conditional Step Router
        type: if-else
      height: 301
      id: '1764684190674'
      position:
        x: -318.6765157246987
        y: 382.8805214573333
      positionAbsolute:
        x: -318.6765157246987
        y: 382.8805214573333
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: This node's primary function is to update the value of the current_step,
          branch_code_current and customer_number_current variables.
        items:
        - input_type: variable
          operation: over-write
          value:
          - '1765447295919'
          - step
          variable_selector:
          - conversation
          - current_step
          write_mode: over-write
        - input_type: variable
          operation: over-write
          value:
          - '1765446223701'
          - branch_code_current
          variable_selector:
          - conversation
          - branch_code_current
          write_mode: over-write
        - input_type: variable
          operation: over-write
          value:
          - '1765446223701'
          - customer_number_current
          variable_selector:
          - conversation
          - customer_number_current
          write_mode: over-write
        selected: false
        title: Variable Assigner
        type: assigner
        version: '2'
      height: 213
      id: '1764847483796'
      position:
        x: -1051.6400988502578
        y: 403.5496310804681
      positionAbsolute:
        x: -1051.6400988502578
        y: 403.5496310804681
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        code: "import json\n\ndef main(\n    matching_gms: list,   \n) -> dict:\n\
          \    \n    # Initialize default state (assuming success if no errors are\
          \ found)\n    error_message_out = \"\"\n    is_validation_success = True\
          \  # Python boolean\n    next_step = 4  # Default: Success/Finalization\
          \ step\n    \n    \n        \n   \n    # Failure 1: Schedule Data Not Found\n\
          \    if not matching_gms: \n        error_message_out = \"The inspection\
          \ date has not been determined.\"\n        is_validation_success = False\n\
          \        next_step = 5  # Reset to Step 5 (Rating Step)\n        \n    #\
          \ --- 2. SUCCESS (Default) ---\n    # If no errors are triggered, is_validation_success\
          \ remains True and next_step remains 3\n    \n    return {\n        \"error_message\"\
          : error_message_out, \n        \"is_validation_success\": str(is_validation_success).lower(),\
          \ \n        \"next_step\": next_step\n    }"
        code_language: python3
        desc: This node validates Branch Code and Customer Number against the knowledge
          base, checks for rating errors, and directs the flow to success (next_step
          = 3) or resets to Step 1 with an error if data is missing or mismatched.
        outputs:
          error_message:
            children: null
            type: string
          is_validation_success:
            children: null
            type: string
          next_step:
            children: null
            type: number
        selected: false
        title: Button 1 Validation Router
        type: code
        variables:
        - value_selector:
          - '1764237455296'
          - matching_gms
          value_type: array[string]
          variable: matching_gms
      height: 177
      id: '1765184768359'
      position:
        x: 3883.2716385499366
        y: -238.86859346378748
      positionAbsolute:
        x: 3883.2716385499366
        y: -238.86859346378748
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: contains
            id: 97384286-855d-4d16-a7f7-7276753fa0da
            value: 'true'
            varType: string
            variable_selector:
            - '17678500805720'
            - is_validation_success
          id: 'true'
          logical_operator: and
        desc: This node checks the is_validation_success flag. If it’s true, the flow
          continues normally (IF path). If it’s false, the flow moves to the error-handling
          path (ELSE).
        selected: false
        title: Button 1 Rating Validator
        type: if-else
      height: 217
      id: '1765184925259'
      position:
        x: 3210.1739649584656
        y: 58.12811648742604
      positionAbsolute:
        x: 3210.1739649584656
        y: 58.12811648742604
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        answer: '{{#1770885012113.output#}}'
        desc: This node presents the final message generated after validation, whether
          it’s a success message or an error that needs a user rating.
        selected: false
        title: Button 1 Error Presenter
        type: answer
        variables: []
      height: 179
      id: '1765188223000'
      position:
        x: 5636.863569367694
        y: -83.38210924577027
      positionAbsolute:
        x: 5636.863569367694
        y: -83.38210924577027
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: This node's primary function is to update the value of the current_step
          variable, preparing the state for the next turn in the agent's workflow.
        items:
        - input_type: variable
          operation: over-write
          value:
          - '1765184768359'
          - next_step
          variable_selector:
          - conversation
          - current_step
          write_mode: over-write
        - input_type: constant
          operation: set
          value: 点検日時を知りたい
          variable_selector:
          - conversation
          - option_selected
          write_mode: over-write
        selected: false
        title: Button 1 Step Assigner 1
        type: assigner
        version: '2'
      height: 187
      id: '1765188251729'
      position:
        x: 4738.861787283882
        y: -67.87637256083812
      positionAbsolute:
        x: 4738.861787283882
        y: -67.87637256083812
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: This node's primary function is to update the value of the current_step
          variable after an action has been completed.
        items:
        - input_type: variable
          operation: over-write
          value:
          - '1765447295919'
          - step
          variable_selector:
          - conversation
          - current_step
          write_mode: over-write
        - input_type: variable
          operation: clear
          value: ''
          variable_selector:
          - conversation
          - option_selected
          write_mode: over-write
        - input_type: variable
          operation: clear
          value: ''
          variable_selector:
          - conversation
          - building_name
          write_mode: over-write
        selected: false
        title: Final Step Assigner
        type: assigner
        version: '2'
      height: 213
      id: '1765261075109'
      position:
        x: 944.3537013305217
        y: -693.1473412336328
      positionAbsolute:
        x: 944.3537013305217
        y: -693.1473412336328
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        code: "import json\nimport re\n\n# --- Utility Functions (unchanged) ---\n\
          \ndef normalize_branch_code_input(text):\n    if not isinstance(text, str):\n\
          \        return \"\"\n    \n    # Reject input immediately if it contains\
          \ decimal points or commas (as per original prompt)\n    if re.search(r'[.,]',\
          \ text):\n        return \"\"\n        \n    # Normalize full-width to half-width\
          \ numbers/hyphen\n    text = text.translate(str.maketrans('０１２３４５６７８９－','0123456789-'))\n\
          \n    \n    # Remove all internal spaces (as added in your previous version)\n\
          \    text = text.replace(' ', '').replace('  ', '')\n    \n    # Final check:\
          \ After normalization, the branch code must ONLY contain digits (0-9).\n\
          \    # If any remaining hyphen or other character exists, reject the input.\n\
          \    if re.search(r'[^\\d]', text):\n        return \"\" \n        \n  \
          \  return text.strip()\n\ndef normalize_customer_num_input(text):\n    if\
          \ not isinstance(text, str):\n        return \"\"\n        \n    # Reject\
          \ input immediately if it contains decimal points or commas\n    if re.search(r'[.,]',\
          \ text):\n        return \"\"\n        \n    # Normalize full-width to half-width\
          \ numbers/hyphen\n    text = text.translate(str.maketrans('０１２３４５６７８９－','0123456789-'))\n\
          \n    text = text.replace(' ', '').replace('　', '').replace('-', '').strip()\n\
          \    \n    if re.search(r'[^\\d]', text):\n        # This catches Japanese\
          \ text, emojis, etc. -> INVALID\n        return \"\"\n    #After normalization\
          \ and cleaning, the customer number must ONLY contain digits.\n    if re.search(r'[^\\\
          d]', text):\n        return \"\"\n        \n    return text.strip()\n\n\n\
          \ndef get_language_text(key, lang):\n    \"\"\"Simple function to handle\
          \ language-specific messages.\"\"\"\n    MESSAGES = {\n        \"branch_prompt\"\
          : {\n            \"English\": \"Please enter your 2-digit branch code:\\\
          nExample: 11\",\n            \"Japanese\": \"支店コード（2桁の数字）を入力してください。\\n例:\
          \ 11\"\n        },\n        \"branch_error\": {\n            \"English\"\
          : \"Invalid branch code. Please enter a 2-digit number: \\nExample: 11\"\
          ,\n            \"Japanese\": \"支店コードが無効です。2桁の数字を入力してください。\\n例: 11\"\n  \
          \      },\n        \"customer_prompt\": {\n            \"English\": \"Please\
          \ enter your customer number:\",\n            \"Japanese\": \"顧客番号を入力してください。\"\
          \n        },\n        \"customer_error\": {\n            \"English\": \"\
          Invalid customer number. Please enter a 5-digit number:\\nExample: 10001\"\
          ,\n            \"Japanese\": \"顧客番号が無効です。5桁の数字を入力してください。\\n例: 10001\"\n\
          \        },\n        \"rating_prompt\": {\n            \"English\": \"Please\
          \ provide a final rating.\",\n            \"Japanese\": \"最後に、評価を入力してください。\"\
          \n        },\n        \"rating_error\": {\n            \"English\": \"Your\
          \ rating input was invalid. Please provide your rating as either **Resolved**\
          \ or **Not Resolved**\",\n            \"Japanese\": \"入力された評価が無効です。評価は「Resolved（解決済み）」または「Not\
          \ Resolved（未解決）」のいずれかで入力してください\"\n        },\n        \"rating_submit\"\
          : {\n            \"English\": \"Your rating is submitted successfully.\"\
          ,\n            \"Japanese\": \"評価は正常に送信されました。\"\n        },\n\t\t\n\t\t\"\
          option_error\": {\n            \"English\": \"Your option input was invalid.\
          \ Please provide choose or type correct option\",\n            \"Japanese\"\
          : \"入力された選択肢は無効です。正しい選択肢を選択するか、正しく入力してください。\"\n        },\n        \"option_submit\"\
          : {\n            \"English\": \"You have selected correct option.\",\n \
          \           \"Japanese\": \"正しい選択をしました。\"\n        },\n        \"unknown_state_error\"\
          : {\n            \"English\": \"Unknown process state. Please restart by\
          \ entering your 2-digit branch code:\\nExample: 11\",\n            \"Japanese\"\
          : \"処理状態が不明です。支店コード（2桁の数字）を入力して再開してください。\\n例: 11\"\n        }\n    }\n \
          \   lang_key = \"Japanese\" if lang.lower() in [\"japanese\", \"ja\"] else\
          \ \"English\"\n    return MESSAGES.get(key, {}).get(lang_key)\n\n# --------------------------------------------------------------------------\n\
          # --- CORE LOGIC FUNCTION ---\n# --------------------------------------------------------------------------\n\
          \ndef process_state(\n    current_step: int, \n    user_input: str, \n \
          \   language: str,\n    branch_code_current: str,\n    customer_number_current:\
          \ str\n):\n    \"\"\"\n    Handles state transition, validation, and output\
          \ generation.\n    \"\"\"\n    # --- FIX: Initialize updated variables to\
          \ the incoming current state ---\n    updated_branch_code = branch_code_current\n\
          \    updated_customer_number = customer_number_current\n    \n    output_message\
          \ = \"\"\n    state_update = {}\n    is_final = 0\n\t\n\t# --- Step 1 (Branch\
          \ Code) ---\n    if current_step in [1, 6, 0]:\n        new_branch_code\
          \ = normalize_branch_code_input(user_input)\n\n        if re.fullmatch(r'\\\
          d{2}', new_branch_code):\n            output_message = get_language_text(\"\
          customer_prompt\", language)\n\n            # Success: Store new branch_code,\
          \ move to step 2\n            state_update = {\n                \"branch_code\"\
          : new_branch_code,\n                \"customer_number\": None,\n       \
          \         \"rating\": None,\n\t\t\t\t\"option\": None,\n               \
          \ \"step\": 2\n            }\n            # Update the local variable for\
          \ final return\n            updated_branch_code = new_branch_code\n    \
          \        updated_customer_number = None # Ensure customer number is reset\
          \ if starting over\n            is_final = 0\n\n        else:\n        \
          \    output_message = get_language_text(\"branch_error\", language)\n  \
          \          \n            # Failure: Clear everything, reset to step 1\n\
          \            state_update = {\n                \"branch_code\": None,\n\
          \                \"customer_number\": None,\n                \"rating\"\
          : None,\n\t\t\t\t\"option\": None,\n                \"step\": 1\n      \
          \      }\n            # The 'updated' variables for final return should\
          \ reflect the reset\n            updated_branch_code = None\n          \
          \  updated_customer_number = None\n            is_final = 0\n    \n\n  \
          \  # --- Step 2 (Customer No) ---\n    elif current_step == 2:\n       \
          \ new_customer_number = normalize_customer_num_input(user_input)\n     \
          \   \n        if re.fullmatch(r'\\d{5}', new_customer_number):\n       \
          \     output_message = get_language_text(\"rating_prompt\", language)\n\n\
          \            # Success: Store new customer_number, keep branch_code, move\
          \ to step 3\n            state_update = {\n                \"branch_code\"\
          : branch_code_current,\n                \"customer_number\": new_customer_number,\n\
          \                \"rating\": None,\n\t\t\t\t\"option\": None,\n        \
          \        \"step\": 3\n            }\n            # Update the local variable\
          \ for final return\n            updated_customer_number = new_customer_number\n\
          \            is_final = 0\n\n        else:\n            output_message =\
          \ get_language_text(\"customer_error\", language)\n\n            # Failure:\
          \ Retain previous branch_code, clear customer_number, stay on step 2\n \
          \           state_update = {\n                \"branch_code\": branch_code_current,\n\
          \                \"customer_number\": None,\n                \"rating\"\
          : None,\n\t\t\t\t\"option\": None,\n                \"step\": 2\n      \
          \      }\n            # Update the local variable for final return\n   \
          \         updated_customer_number = None\n            is_final = 0\n\t\n\
          \t# --- Step 3 (Option details) ---\n    elif current_step == 3:\n     \
          \   option_text = user_input.lower().strip()\n        \n        # if option_text\
          \ in [\"点検日時を知りたい\", \"点検結果を知りたい\", \"点検日時を変更したい\", \"点検/故障の対応を依頼をしたい\"\
          , \"見積書を送付してほしい\", \"契約書を送付してほしい\"]:\n        # option_value = user_input.strip()\n\
          \        \n            \n        output_message = output_message = get_language_text(\"\
          option_submit\", language)\n            \n        state_update = {\n   \
          \             \"branch_code\": branch_code_current,\n                \"\
          customer_number\": customer_number_current,\n                \"rating\"\
          : None,\n\t\t\t\t# \"option\": option_value,\n                \"option\"\
          :option_text,\n                \"step\": 4\n            }\n            #\
          \ The 'updated' variables for final return should reflect the reset\n  \
          \      updated_branch_code = None\n        updated_customer_number = None\n\
          \        is_final = 0 \n\n\n        # else:\n        #     output_message\
          \ = get_language_text(\"option_error\", language)\n        #     # Retain\
          \ previous values on failure (which are already in updated_X_code)\n   \
          \     #     state_update = {\n        #         \"branch_code\": branch_code_current,\n\
          \        #         \"customer_number\": customer_number_current,\n     \
          \   #         \"rating\": None,\n\t\t# \t\t\"option\": None,\n        #\
          \         \"step\": 3\n        #     }\n        #     is_final = 0\n   \
          \ # --- Step 4 (Equipment) ---\n    elif current_step == 4:\n        input_lower\
          \ = user_input.lower().strip()\n        \n        if input_lower:\n    \
          \        equipment_value = user_input.strip()\n            \n          \
          \  output_message = \"\"\n            \n            # Reset state variables\
          \ to null\n            state_update = {\n                \"branch_code\"\
          : branch_code_current,\n                \"customer_number\": customer_number_current,\n\
          \                \"rating\": None,\n\t\t\t\t\"option\": None,\n        \
          \        \"step\": 5\n            }\n            # The 'updated' variables\
          \ for final return should reflect the reset\n            updated_branch_code\
          \ = None\n            updated_customer_number = None\n            is_final\
          \ = 0 \n\n        else:\n            output_message = get_language_text(\"\
          rating_error\", language)\n            # Retain previous values on failure\
          \ (which are already in updated_X_code)\n            state_update = {\n\
          \                \"branch_code\": branch_code_current,\n               \
          \ \"customer_number\": customer_number_current,\n                \"rating\"\
          : None,\n\t\t\t\t\"option\": None,\n                \"step\": 4\n      \
          \      }\n            is_final = 0\n\t\n\t# --- Step 5 (Rating) ---\n  \
          \  elif current_step == 5:\n        input_lower = user_input.lower().strip()\n\
          \        \n        if input_lower in [\"resolved\", \"not resolved\", \"\
          解決した\", \"解決しなかった\"]:\n            rating_value = user_input.strip()\n \
          \           branch_code = branch_code_current or \"00\"\n            customer_number\
          \ = customer_number_current or \"00000\"\n            \n            output_message\
          \ = output_message = get_language_text(\"rating_submit\", language)\n  \
          \          \n            # Reset state variables to null\n            state_update\
          \ = {\n                \"branch_code\": None,\n                \"customer_number\"\
          : None,\n                \"rating\": None,\n\t\t\t\t\"option\": None,\n\
          \                \"step\": 6\n            }\n            # The 'updated'\
          \ variables for final return should reflect the reset\n            updated_branch_code\
          \ = None\n            updated_customer_number = None\n            is_final\
          \ = 1 \n\n        else:\n            output_message = get_language_text(\"\
          rating_error\", language)\n            # Retain previous values on failure\
          \ (which are already in updated_X_code)\n            state_update = {\n\
          \                \"branch_code\": branch_code_current,\n               \
          \ \"customer_number\": customer_number_current,\n                \"rating\"\
          : None,\n\t\t\t\t\"option\": None,\n                \"step\": 4\n      \
          \      }\n            is_final = 0\n\t\t\t\n    # --- Fallback Logic ---\n\
          \    else:\n        output_message = get_language_text(\"unknown_state_error\"\
          , language)\n        state_update = {\n            \"branch_code\": None,\n\
          \            \"customer_number\": None,\n            \"rating\": None,\n\
          \t\t\t\"option\": None,\n\t\t\t\"option\": None,\n            \"step\":\
          \ 1\n        }\n        # The 'updated' variables for final return should\
          \ reflect the reset\n        updated_branch_code = None\n        updated_customer_number\
          \ = None\n        is_final = 0\n\n    final_state_json = f\"STATE_UPDATE:\
          \ {json.dumps(state_update)}\"\n\n    # The local variables are now guaranteed\
          \ to have a value (None or a collected code)\n    return {\n        \"output_message\"\
          : output_message,\n        \"state_json\": final_state_json,\n        \"\
          is_final\": is_final,\n        \"branch_code_current\": updated_branch_code,\n\
          \        \"customer_number_current\": updated_customer_number\n    }\n\n\
          # --------------------------------------------------------------------------\n\
          # --- ENTRY POINT (main) (unchanged) ---\n# --------------------------------------------------------------------------\n\
          \ndef main(\n    current_step: int, \n    user_input: str, \n    language:\
          \ str,\n    branch_code_current: str = None, \n    customer_number_current:\
          \ str = None\n):\n    try:\n        current_step = int(current_step)\n \
          \   except:\n        current_step = 1\n\n    return process_state(\n   \
          \     current_step, \n        user_input, \n        language,\n        branch_code_current,\n\
          \        customer_number_current\n    )"
        code_language: python3
        desc: The node processes the user's input based solely on the current current_step
          value (0,1, 2, or 3) and the desired language, using these variable to identify
          the current step and decide the next state and response text.
        outputs:
          branch_code_current:
            children: null
            type: string
          customer_number_current:
            children: null
            type: string
          is_final:
            children: null
            type: number
          output_message:
            children: null
            type: string
          state_json:
            children: null
            type: string
        selected: false
        title: State Manager
        type: code
        variables:
        - value_selector:
          - conversation
          - current_step
          value_type: number
          variable: current_step
        - value_selector:
          - sys
          - query
          value_type: string
          variable: user_input
        - value_selector:
          - conversation
          - language
          value_type: string
          variable: language
        - value_selector:
          - conversation
          - branch_code_current
          value_type: number
          variable: branch_code_current
        - value_selector:
          - conversation
          - customer_number_current
          value_type: number
          variable: customer_number_current
      height: 161
      id: '1765446223701'
      position:
        x: -1665.2933817566372
        y: 403.5496310804681
      positionAbsolute:
        x: -1665.2933817566372
        y: 403.5496310804681
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        code: "import json\n\ndef main(response_text: str, state_json: str) -> dict:\n\
          \    # Remove STATE_UPDATE: prefix and load JSON safely\n    clean_state\
          \ = state_json.replace(\"STATE_UPDATE:\", \"\").strip()\n    state_dict\
          \ = json.loads(clean_state)\n\n    # Extract values from state\n    branch_code_out\
          \ = state_dict.get(\"branch_code\")\n    customer_number_out = state_dict.get(\"\
          customer_number\")\n    rating_out = state_dict.get(\"rating\")\n    step_num\
          \ = state_dict.get(\"step\")\n    \n    # Extract the 'option' and convert\
          \ to Japanese text\n    option_text = state_dict.get(\"option\")\n\n   \
          \ # Return final structured output\n    return {\n        \"response_text\"\
          : response_text,\n        \"branch_code\": branch_code_out,\n        \"\
          customer_number\": customer_number_out,\n        \"rating\": rating_out,\n\
          \        \"step\": step_num,\n        \"option_text\": option_text\n   \
          \ }"
        code_language: python3
        desc: This node extracts the response text and the next state , and returns
          the key values Branch Code, Customer Number, and Rating along with the updated
          step number.
        outputs:
          branch_code:
            children: null
            type: string
          customer_number:
            children: null
            type: string
          option_text:
            children: null
            type: string
          rating:
            children: null
            type: string
          response_text:
            children: null
            type: string
          step:
            children: null
            type: number
        selected: false
        title: State Parser
        type: code
        variables:
        - value_selector:
          - '1765446223701'
          - output_message
          value_type: string
          variable: response_text
        - value_selector:
          - '1765446223701'
          - state_json
          value_type: string
          variable: state_json
      height: 145
      id: '1765447295919'
      position:
        x: -1369.896757228718
        y: 296.6667859777648
      positionAbsolute:
        x: -1369.896757228718
        y: 296.6667859777648
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        answer: "よくあるご質問からお選びいただくか、ご質問の内容を直接ご入力ください\n入力例：一昨年と昨年の点検結果を知りたい\n\n<hr/>\n\
          <div style=\"display:flex; flex-direction: column; gap:10px;\">\n  <button\
          \ data-message=\"点検日時を知りたい\" data-variant=\"primary\">点検日時を知りたい</button>\n\
          \  <button data-message=\"点検結果を知りたい\" data-variant=\"primary\">点検結果を知りたい</button>\n\
          \  <button data-message=\"点検日時を変更したい\" data-variant=\"primary\">点検日時を変更したい</button>\n\
          \  <button data-message=\"点検・故障の対応を依頼したい\" data-variant=\"primary\">点検・故障の対応を依頼したい</button>\n\
          \  <button data-message=\"見積書を送付してほしい\" data-variant=\"primary\">見積書を送付してほしい</button>\n\
          \  <button data-message=\"契約書を送付してほしい\" data-variant=\"primary\">契約書を送付してほしい</button>\n\
          </div>"
        desc: This node displays the output from the Menu Options Generator node.
        selected: false
        title: Menu Options Presenter
        type: answer
        variables: []
      height: 513
      id: '1767001390897'
      position:
        x: 1083.774875502223
        y: -367.7226251913922
      positionAbsolute:
        x: 1083.774875502223
        y: -367.7226251913922
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: contains
            id: 37dd2b8c-0dd3-4152-bfe9-b0fed0bde159
            value: 点検日時を知りたい
            varType: string
            variable_selector:
            - conversation
            - option_selected
          - comparison_operator: is
            id: f1b6afb3-2412-42b0-9825-c7187cd0e13c
            value: 点検日時を知りたい
            varType: string
            variable_selector:
            - '1769520919238'
            - input_value
          id: 'true'
          logical_operator: or
        - case_id: f12e842b-abba-4ac7-b97e-40bc590d8a45
          conditions:
          - comparison_operator: contains
            id: ad34cffe-248a-42ab-bf34-2ee52c7166ef
            value: 点検結果を知りたい
            varType: string
            variable_selector:
            - conversation
            - option_selected
          - comparison_operator: is
            id: a183a4b6-fe47-47f6-8dbc-c9f61a6fb90d
            value: 点検結果を知りたい
            varType: string
            variable_selector:
            - '1769520919238'
            - input_value
          id: f12e842b-abba-4ac7-b97e-40bc590d8a45
          logical_operator: or
        desc: This node routes the flow based on the selected menu option by checking
          whether option_selected or input_value contains a specific predefined option
          text. It supports both button-based selections and normalized free-text
          inputs to direct execution to the corresponding intent branch.
        selected: false
        title: Options Router
        type: if-else
      height: 365
      id: '1767001424701'
      position:
        x: 1544.3537013305217
        y: 611.5187742191179
      positionAbsolute:
        x: 1544.3537013305217
        y: 611.5187742191179
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        answer: "ご入力いただいた内容は正しくありません。お手数ですが、以下の選択肢から選んでいただくか、改めてご質問内容を入力してください。\n\n\
          <hr/>\n<div style=\"display:flex; flex-direction: column; gap:10px;\">\n\
          \  <button data-message=\"点検日時を知りたい\" data-variant=\"primary\">点検日時を知りたい</button>\n\
          \  <button data-message=\"点検結果を知りたい\" data-variant=\"primary\">点検結果を知りたい</button>\n\
          \  <button data-message=\"点検日時を変更したい\" data-variant=\"primary\">点検日時を変更したい</button>\n\
          \  <button data-message=\"点検・故障の対応を依頼したい\" data-variant=\"primary\">点検・故障の対応を依頼したい</button>\n\
          \  <button data-message=\"見積書を送付してほしい\" data-variant=\"primary\">見積書を送付してほしい</button>\n\
          \  <button data-message=\"契約書を送付してほしい\" data-variant=\"primary\">契約書を送付してほしい</button>\n\
          </div>"
        desc: This node is used to display the output of the previous node Invalid
          Options Responder.
        selected: false
        title: Invalid Selection Answer
        type: answer
        variables: []
      height: 529
      id: '1767004588803'
      position:
        x: 2444.531569108975
        y: 1187.6656273320527
      positionAbsolute:
        x: 2444.531569108975
        y: 1187.6656273320527
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: This node displays a list of equipment for the user to select or enter
          manually, so they can check the inspection date.
        selected: false
        template: "点検日時を確認したい対象の設備をお選びいただくか、直接ご入力ください。\r\n\r\n<hr/>\r\n<div style=\"\
          display:flex; flex-direction: column; gap:10px;\">\r\n  {% for item in list_data\
          \ %}\r\n  <button data-message=\"{{ item }}\" data-variant=\"primary\">{{\
          \ item }}</button>\r\n  {% endfor %}\r\n</div>"
        title: Equipment List Template
        type: template-transform
        variables:
        - value_selector:
          - '1764237455296'
          - equipment_list
          value_type: array[string]
          variable: list_data
      height: 113
      id: '1767009355117'
      position:
        x: 4960.03495571185
        y: -323.9857632056162
      positionAbsolute:
        x: 4960.03495571185
        y: -323.9857632056162
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        answer: '{{#1767009355117.output#}}'
        desc: This node is used to display the output of the Equipment List Template
          node.
        selected: false
        title: Equipment List Presenter
        type: answer
        variables: []
      height: 147
      id: '1767009446935'
      position:
        x: 5300.64437155373
        y: -353.6709483908014
      positionAbsolute:
        x: 5300.64437155373
        y: -353.6709483908014
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: This node is used to set the current_step as 3.
        items:
        - input_type: constant
          operation: set
          value: 3
          variable_selector:
          - conversation
          - current_step
          write_mode: over-write
        selected: false
        title: 'Variable Assigner '
        type: assigner
        version: '2'
      height: 129
      id: '1767010110928'
      position:
        x: 1940.7137441660004
        y: 968.6178907542297
      positionAbsolute:
        x: 1940.7137441660004
        y: 968.6178907542297
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: not empty
            id: 4715bd0e-35a5-475e-8970-c491c44646f9
            value: ''
            varType: array[string]
            variable_selector:
            - '1764237455296'
            - equipment_list
          - comparison_operator: contains
            id: 48cf0c0c-f2e3-472e-8dbd-116c41760644
            value: 'true'
            varType: string
            variable_selector:
            - '1765184768359'
            - is_validation_success
          id: 'true'
          logical_operator: and
        desc: This node checks that a normalized equipment list is present and validation
          succeeded, then routes the workflow based on whether a valid equipment selection
          was provided.
        selected: false
        title: Equipment List Validator
        type: if-else
      height: 243
      id: '1767768663621'
      position:
        x: 4210.56540615111
        y: -238.86859346378748
      positionAbsolute:
        x: 4210.56540615111
        y: -238.86859346378748
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: This node assigns the formatted inspection date results to the workflow
          state and sets the selected option, preparing normalized customer-related
          data for the next processing step.
        items:
        - input_type: variable
          operation: over-write
          value:
          - '1764237455296'
          - result
          variable_selector:
          - conversation
          - inspection_date_result
          write_mode: over-write
        - input_type: constant
          operation: set
          value: 点検日時を知りたい
          variable_selector:
          - conversation
          - option_selected
          write_mode: over-write
        selected: false
        title: GMS&Customer List Assigner
        type: assigner
        version: '2'
      height: 203
      id: '1767769038446'
      position:
        x: 4588.664585341479
        y: -342.11126112096457
      positionAbsolute:
        x: 4588.664585341479
        y: -342.11126112096457
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: empty
            id: 81c77083-6122-46c0-85db-25247ff330d2
            value: 点検日時を知りたい
            varType: string
            variable_selector:
            - conversation
            - option_selected
          id: 'true'
          logical_operator: and
        desc: This node checks whether option_selected is empty, indicating that no
          menu button selection was made. It is typically used to detect and handle
          cases where the user provided free-text input instead of selecting a button
          option.
        selected: false
        title: Button 1 Option Selected
        type: if-else
      height: 249
      id: '1767772971481'
      position:
        x: 1957.11881700428
        y: -31.027559153738025
      positionAbsolute:
        x: 1957.11881700428
        y: -31.027559153738025
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        code: "import json\n\ndef main(\n    response_text: str,\n    result: list,\n\
          \    user_input: str\n) -> dict:\n    \n    # Initialize default state\n\
          \    error_message_out = \"\"\n    is_validation_success = True\n    next_step\
          \ = 5 \n    filtered_result = []\n    equipment_list = []\n    \n    # Standard\
          \ Error Phrases\n    JAPANESE_EQUIPMENT_ERROR_PHRASE = \"選択された設備が無効です。\"\
          \n    ENGLISH_EQUIPMENT_ERROR_PHRASE = \"the selected equipment is invalid\"\
          \n    \n    clean_user_input = user_input.strip()\n    response_lower =\
          \ response_text.lower()\n\n    # 1. Japanese (Input text example)\n    JAPANESE_RATING_ERROR_PHRASE\
          \ = \"入力された評価が無効です。\" \n    # 2. English (From the System Prompt example:\
          \ \"Your rating input was invalid.\")\n    ENGLISH_RATING_ERROR_PHRASE =\
          \ \"your rating input was invalid\"\n    \n    # Convert response_text to\
          \ lowercase for a case-insensitive English check\n    response_lower = response_text.lower()\n\
          \    \n\n    # --- 1. EXTRACT EQUIPMENT NAMES & VALIDATE ---\n    for block\
          \ in result:\n        # Extract Equipment Name for the output list (used\
          \ for buttons)\n        # Assuming format: \"Equipment Name: [Name]\\n\"\
          \n        for line in block.split('\\n'):\n            if line.startswith(\"\
          Equipment Name:\"):\n                name = line.replace(\"Equipment Name:\"\
          , \"\").strip()\n                if name not in equipment_list and name\
          \ != \"N/A\":\n                    equipment_list.append(name)\n\n     \
          \   # Check if the specific Equipment Name matches the user_input\n    \
          \    if f\"Equipment Name: {clean_user_input}\" in block:\n            filtered_result.append(block)\n\
          \    \n    # --- 2. TRIGGER ERROR LOGIC ---\n    # --- 1. CRITICAL CHECK:\
          \ Rating Input Error (Highest Priority) ---\n    # Check for either the\
          \ Japanese or the English error phrase\n    if JAPANESE_RATING_ERROR_PHRASE\
          \ in response_text or ENGLISH_RATING_ERROR_PHRASE in response_lower:\n \
          \       error_message_out = \"RATING_ERROR_TRIGGER\"\n        is_validation_success\
          \ = False\n        next_step = 5  # Stay on Step 5 (Rating step)\n\n   \
          \ elif not filtered_result or (JAPANESE_EQUIPMENT_ERROR_PHRASE in response_text\
          \ or ENGLISH_EQUIPMENT_ERROR_PHRASE in response_lower):\n        error_message_out\
          \ = JAPANESE_EQUIPMENT_ERROR_PHRASE\n        is_validation_success = False\n\
          \        next_step = 4  # Stay on the selection step\n\n    # Final list\
          \ logic: if successful, only show the one; if failed, show all options\n\
          \    final_output_list = filtered_result if is_validation_success else result\n\
          \n    return {\n        \"error_message\": error_message_out, \n       \
          \ \"is_validation_success\": str(is_validation_success).lower(), \n    \
          \    \"next_step\": next_step,\n        \"filtered_result\": final_output_list,\n\
          \        \"equipment_list\": equipment_list  # This returns the array of\
          \ names for your buttons\n    }"
        code_language: python3
        desc: This node validates the user’s equipment selection and rating input,
          filters the equipment list for display, and determines the next step or
          error message
        outputs:
          equipment_list:
            children: null
            type: array[string]
          error_message:
            children: null
            type: string
          filtered_result:
            children: null
            type: array[string]
          is_validation_success:
            children: null
            type: string
          next_step:
            children: null
            type: number
        selected: false
        title: Button 1 Rating Validation Router
        type: code
        variables:
        - value_selector:
          - '1765447295919'
          - response_text
          value_type: string
          variable: response_text
        - value_selector:
          - conversation
          - inspection_date_result
          value_type: array[string]
          variable: result
        - value_selector:
          - '1769155077062'
          - text
          value_type: string
          variable: user_input
      height: 145
      id: '17678500805720'
      position:
        x: 2556.651015580965
        y: 102.94470219877957
      positionAbsolute:
        x: 2556.651015580965
        y: 102.94470219877957
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: This node updates the current_step variable by overwriting it with the
          value of next_step from the Rating Validation Router and synchronizes the
          workflow state to ensure the conversation proceeds to the correct step.
        items:
        - input_type: variable
          operation: over-write
          value:
          - '17678500805720'
          - next_step
          variable_selector:
          - conversation
          - current_step
          write_mode: over-write
        selected: false
        title: Button 1 Step Variable Assigner
        type: assigner
        version: '2'
      height: 193
      id: '1767865616403'
      position:
        x: 2871.0449490020146
        y: 111.62092161485361
      positionAbsolute:
        x: 2871.0449490020146
        y: 111.62092161485361
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        answer: '{{#1768568299342.output#}}'
        desc: This node displays the output from the Button 1 Rating Error Response
          node.
        selected: false
        title: Button1 Rating Message Presenter
        type: answer
        variables: []
      height: 147
      id: '1767865846725'
      position:
        x: 3873.374334891611
        y: 275.52208348610014
      positionAbsolute:
        x: 3873.374334891611
        y: 275.52208348610014
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        code: "def main(customernumber: str, officecode: str) -> dict:\n    \n   \
          \ # Clean and map values from the Report table KB\n    customer_number_value\
          \ = str(customernumber).strip()\n    office_code_value = str(officecode).strip()\n\
          \    \n    # Return mapped variables\n    return {\n        \"CUSTOMER_NUMBER\"\
          : customer_number_value,\n        \"OFFICE_CODE\": office_code_value\n \
          \   }\n"
        code_language: python3
        desc: This node cleans and normalizes the customer number and office code
          inputs, then returns them as standardized output variables for downstream
          use.
        outputs:
          CUSTOMER_NUMBER:
            children: null
            type: string
          OFFICE_CODE:
            children: null
            type: string
        selected: false
        title: Customer & Officecode Mapper
        type: code
        variables:
        - value_selector:
          - '1765447295919'
          - customer_number
          value_type: string
          variable: customernumber
        - value_selector:
          - '1765447295919'
          - branch_code
          value_type: string
          variable: officecode
      height: 145
      id: '1767946689753'
      position:
        x: 3873.374334891611
        y: 449.18952551920074
      positionAbsolute:
        x: 3873.374334891611
        y: 449.18952551920074
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        dataset_ids:
        - eqo9gDk1jhwxXj16IxQiW55cWRvkTS7IlznLyzuJXykl1vszF/6QFhtXkms7/VsT
        desc: Extracts report details.
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: weighted_score
          reranking_model:
            model: ''
            provider: ''
          score_threshold: null
          top_k: 10
          weights:
            keyword_setting:
              keyword_weight: 0.3
            vector_setting:
              embedding_model_name: embedding-001
              embedding_provider_name: langgenius/gemini/google
              vector_weight: 0.7
        query_variable_selector:
        - '1767946689753'
        - CUSTOMER_NUMBER
        retrieval_mode: multiple
        selected: false
        title: Report Retreival
        type: knowledge-retrieval
      height: 119
      id: '1767947504394'
      position:
        x: 4161.171587846662
        y: 375.71796649694096
      positionAbsolute:
        x: 4161.171587846662
        y: 375.71796649694096
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        code: "import json\n\ndef main(report_data) -> dict:\n    if not report_data:\n\
          \        return {\n            \"report_records\": []\n        }\n\n   \
          \ # Ensure list\n    if not isinstance(report_data, list):\n        report_data\
          \ = [report_data]\n\n    normalized_records = []\n\n    for item in report_data:\n\
          \        # Case 1: {\"content\": {...}}\n        if isinstance(item, dict)\
          \ and isinstance(item.get(\"content\"), dict):\n            normalized_records.append(item[\"\
          content\"])\n\n        # Case 2: {\"data\": {...}}\n        elif isinstance(item,\
          \ dict) and isinstance(item.get(\"data\"), dict):\n            normalized_records.append(item[\"\
          data\"])\n\n        # Case 3: already a row object\n        elif isinstance(item,\
          \ dict):\n            normalized_records.append(item)\n\n    # Convert to\
          \ JSON strings (Array[String] for downstream)\n    report_records_strings\
          \ = [\n        json.dumps(r, ensure_ascii=False)\n        for r in normalized_records\n\
          \    ]\n\n    return {\n        \"report_records\": report_records_strings\n\
          \    }\n"
        code_language: python3
        desc: This node uses regex to extract key-value pairs from the text and converts
          them into a JSON array, providing structured Report records for further
          processing.
        outputs:
          report_records:
            children: null
            type: array[string]
        selected: false
        title: 'Button 2 Structured Context Extractor '
        type: code
        variables:
        - value_selector:
          - '1767947504394'
          - result
          value_type: array[object]
          variable: report_data
      height: 145
      id: '17679557554340'
      position:
        x: 4451.117468973534
        y: 432.49236350122226
      positionAbsolute:
        x: 4451.117468973534
        y: 432.49236350122226
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        code: "import json\nimport re\nfrom datetime import datetime\nfrom calendar\
          \ import monthrange\n\n# ------------------ CONFIGURATION ------------------\n\
          \nBASE_URL = \"https://your-server-domain.com/files\"\n\nREPORT_CATEGORY_MAP\
          \ = {\n    \"1\": \"メンテナンスレポート\",\n    \"2\": \"ヘリオスレポート\",\n    \"3\":\
          \ \"点検レポート\"\n}\n\nPRODUCT_SERVICE_CATEGORY_MAP = {\n    \"1\": \"エレベーター\"\
          ,\n    \"2\": \"エスカレーター\",\n    \"3\": \"空調設備\",\n    \"4\": \"ビル管理設備\"\n\
          }\n\n# ------------------ NORMALIZATION ------------------\n\ndef normalize_str(v):\n\
          \    if v is None:\n        return \"\"\n    s = str(v).strip().replace(\"\
          \\u3000\", \"\")\n    return \"\" if s.lower() == \"nan\" else s\n\ndef\
          \ normalize_key(k):\n    return normalize_str(k).lower().replace(\"_\",\
          \ \"\").replace(\" \", \"\")\n\ndef parse_content(content_str):\n    data\
          \ = {}\n    if not content_str:\n        return data\n    for k, v in re.findall(r'([^:;]+):\\\
          s*([^;]+);', content_str):\n        data[normalize_key(k)] = normalize_str(v)\n\
          \    return data\n\n# ------------------ DATE HELPERS ------------------\n\
          \ndef parse_record_date(date_str):\n    if not date_str:\n        return\
          \ None\n\n    for f in (\"%m/%d/%Y\", \"%Y-%m-%d\", \"%Y/%m/%d\",\n    \
          \          \"%d/%m/%Y\", \"%Y年%m月%d日\"):\n        try:\n            return\
          \ datetime.strptime(str(date_str).strip(), f)\n        except:\n       \
          \     continue\n    return None\n\ndef format_work_month(date_str):\n  \
          \  dt = parse_record_date(date_str)\n    return \"N/A\" if not dt else dt.strftime(\"\
          %Y/%m\")\n\n# ------------------ DATE FILTER LOGIC ------------------\n\n\
          def is_date_in_scope(rec_dt, scope, formatted_date,\n                  \
          \   start_date, end_date, discrete_dates):\n\n    if not rec_dt:\n     \
          \   return False\n\n    # ------------------ RANGE ------------------\n\
          \    if scope == \"RANGE\":\n\n        # YEAR RANGE\n        if \"/\" not\
          \ in start_date and \"/\" not in end_date:\n            try:\n         \
          \       return int(start_date) <= rec_dt.year <= int(end_date)\n       \
          \     except:\n                return False\n\n        # MONTH RANGE\n \
          \       try:\n            s_month, s_year = map(int, start_date.split(\"\
          /\"))\n            e_month, e_year = map(int, end_date.split(\"/\"))\n \
          \       except:\n            return False\n\n        start_dt = datetime(s_year,\
          \ s_month, 1)\n        last_day = monthrange(e_year, e_month)[1]\n     \
          \   end_dt = datetime(e_year, e_month, last_day, 23, 59, 59)\n\n       \
          \ return start_dt <= rec_dt <= end_dt\n\n    # ------------------ MULTI\
          \ (Exact Discrete OR) ------------------\n    if scope == \"MULTI\":\n \
          \       for d in discrete_dates or []:\n\n            # Year-only\n    \
          \        if \"/\" not in d:\n                try:\n                    if\
          \ rec_dt.year == int(d):\n                        return True\n        \
          \        except:\n                    continue\n\n            # Month/year\n\
          \            else:\n                try:\n                    m, y = d.split(\"\
          /\")\n                    if rec_dt.month == int(m) and rec_dt.year == int(y):\n\
          \                        return True\n                except:\n        \
          \            continue\n\n        return False\n\n    # ------------------\
          \ YEAR ------------------\n    if scope == \"YEAR\":\n        try:\n   \
          \         return rec_dt.year == int(formatted_date)\n        except:\n \
          \           return False\n\n    # ------------------ MONTH ------------------\n\
          \    if scope == \"MONTH\":\n        try:\n            m, y = formatted_date.split(\"\
          /\")\n            return rec_dt.month == int(m) and rec_dt.year == int(y)\n\
          \        except:\n            return False\n\n    # ------------------ LATEST\
          \ ------------------\n    if scope == \"LATEST\":\n        return True\n\
          \n    return True\n\n# ------------------ LATEST GROUPING ------------------\n\
          \ndef select_latest_per_group(records):\n    latest = {}\n\n    for r in\
          \ records:\n        dt = parse_record_date(r.get(\"workenddate\"))\n\n \
          \       key = (\n            r.get(\"customernumber\"),\n            r.get(\"\
          officecode\"),\n            r.get(\"productservicecategory\"),\n       \
          \     r.get(\"reportcategory\")\n        )\n\n        if key not in latest:\n\
          \            latest[key] = (dt, r)\n        else:\n            prev_dt =\
          \ latest[key][0]\n            if dt and (not prev_dt or dt > prev_dt):\n\
          \                latest[key] = (dt, r)\n\n    return [v[1] for v in latest.values()]\n\
          \n# ------------------ MAIN ------------------\n\ndef main(report_records,\
          \ customer_number, office_code, query_input):\n\n    target_cust = normalize_str(customer_number)\n\
          \    target_office = normalize_str(office_code)\n\n    try:\n        params\
          \ = query_input if isinstance(query_input, dict) else json.loads(str(query_input))\n\
          \    except:\n        params = {}\n\n    target_equip_codes = set(map(str,\
          \ params.get(\"equipment_codes\", [])))\n    target_report_codes = set(map(str,\
          \ params.get(\"report_type_codes\", [])))\n\n    formatted_date = params.get(\"\
          formatted_date\", \"\")\n    start_date = params.get(\"start_date\", \"\"\
          )\n    end_date = params.get(\"end_date\", \"\")\n    scope = params.get(\"\
          date_scope\", \"LATEST\")\n    discrete_dates = params.get(\"discrete_dates\"\
          , [])\n\n    parsed_reports = []\n    kb_customers = set()\n\n    for rec\
          \ in report_records or []:\n        try:\n            obj = json.loads(rec)\
          \ if isinstance(rec, str) else rec\n\n            full = {normalize_key(k):\
          \ normalize_str(v)\n                    for k, v in obj.items()}\n\n   \
          \         full.update(parse_content(obj.get(\"content\", \"\")))\n     \
          \       full[\"_raw\"] = obj\n\n            parsed_reports.append(full)\n\
          \n            if full.get(\"customernumber\"):\n                kb_customers.add(full.get(\"\
          customernumber\"))\n\n        except:\n            continue\n\n    # ------------------\
          \ PRIORITY 1: CUSTOMER ------------------\n\n    if target_cust not in kb_customers:\n\
          \        return {\n            \"result\": [],\n            \"pdf_list\"\
          : [],\n            \"matching_reports\": [],\n            \"count\": 0,\n\
          \            \"customer_number_present\": \"false\",\n            \"office_code_present\"\
          : \"false\",\n            \"equipment_present\": \"false\",\n          \
          \  \"report_present\": \"false\"\n        }\n\n    cust_filtered = [\n \
          \       r for r in parsed_reports\n        if r.get(\"customernumber\")\
          \ == target_cust\n    ]\n\n    # ------------------ PRIORITY 2: BRANCH ------------------\n\
          \n    office_filtered = [\n        r for r in cust_filtered\n        if\
          \ r.get(\"officecode\") == target_office\n    ]\n\n    if not office_filtered:\n\
          \        return {\n            \"result\": [],\n            \"pdf_list\"\
          : [],\n            \"matching_reports\": [],\n            \"count\": 0,\n\
          \            \"customer_number_present\": \"true\",\n            \"office_code_present\"\
          : \"false\",\n            \"equipment_present\": \"false\",\n          \
          \  \"report_present\": \"false\"\n        }\n\n    # ------------------\
          \ PRIORITY 3: EQUIPMENT + REPORT ------------------\n\n    er_filtered =\
          \ [\n        r for r in office_filtered\n        if (not target_equip_codes\
          \ or\n            r.get(\"productservicecategory\") in target_equip_codes)\n\
          \        and\n        (not target_report_codes or\n            r.get(\"\
          reportcategory\") in target_report_codes)\n    ]\n\n    # ------------------\
          \ DATE FILTERING ------------------\n\n    if scope == \"LATEST\":\n   \
          \     scoped = select_latest_per_group(er_filtered)\n\n    else:\n     \
          \   scoped = [\n            r for r in er_filtered\n            if is_date_in_scope(\n\
          \                parse_record_date(r.get(\"workenddate\")),\n          \
          \      scope,\n                formatted_date,\n                start_date,\n\
          \                end_date,\n                discrete_dates\n           \
          \ )\n        ]\n\n        # For single month/year we still return latest\
          \ per group\n        if scope in [\"YEAR\", \"MONTH\"]:\n            scoped\
          \ = select_latest_per_group(scoped)\n\n    if not scoped:\n        return\
          \ {\n            \"result\": [],\n            \"pdf_list\": [],\n      \
          \      \"matching_reports\": [],\n            \"count\": 0,\n          \
          \  \"customer_number_present\": \"true\",\n            \"office_code_present\"\
          : \"true\",\n            \"equipment_present\": \"true\",\n            \"\
          report_present\": \"false\"\n        }\n\n    # ------------------ SUCCESS\
          \ RESPONSE ------------------\n\n    result_strings = []\n    pdf_list =\
          \ []\n\n    for r in scoped:\n\n        w_month = format_work_month(r.get(\"\
          workenddate\"))\n\n        fname = (\n            r.get(\"reportfilename\"\
          )\n            or f\"report_{r.get('customernumber')}_{w_month.replace('/',\
          \ '')}.pdf\"\n        )\n\n        result_strings.append(\n            f\"\
          支社コード: {r.get('officecode')}\\n\"\n            f\"お客さま番号: {r.get('customernumber')}\\\
          n\"\n            f\"ビル名: {r.get('fncdecryptaes256','')}\\n\"\n         \
          \   f\"作業月: {w_month}\\n\"\n            f\"レポート種類: {REPORT_CATEGORY_MAP.get(r.get('reportcategory'),'Unknown')}\\\
          n\"\n            f\"製品・サービス分類: {PRODUCT_SERVICE_CATEGORY_MAP.get(r.get('productservicecategory'),'Unknown')}\\\
          n\"\n            f\"ファイル名: {fname}\\n\"\n        )\n\n        pdf_list.append({\n\
          \            \"filename\": fname,\n            \"content\": fname\n    \
          \    })\n\n    return {\n        \"result\": result_strings,\n        \"\
          pdf_list\": pdf_list,\n        \"matching_reports\": [\n            json.dumps(r[\"\
          _raw\"], ensure_ascii=False)\n            for r in scoped\n        ],\n\
          \        \"count\": len(scoped),\n        \"customer_number_present\": \"\
          true\",\n        \"office_code_present\": \"true\",\n        \"equipment_present\"\
          : \"true\",\n        \"report_present\": \"true\"\n    }\n"
        code_language: python3
        desc: This node filters report records by customer number, officecode, equipment
          type, report type, and date scope; detects future-date requests; selects
          the latest applicable reports; and returns formatted report details, PDFs,
          match counts, and presence flags for downstream logic.
        outputs:
          count:
            children: null
            type: number
          customer_number_present:
            children: null
            type: string
          equipment_present:
            children: null
            type: string
          matching_reports:
            children: null
            type: array[string]
          office_code_present:
            children: null
            type: string
          pdf_list:
            children: null
            type: array[object]
          report_present:
            children: null
            type: string
          result:
            children: null
            type: array[string]
        selected: false
        title: 'Button 2 Data Formatter '
        type: code
        variables:
        - value_selector:
          - '17679557554340'
          - report_records
          value_type: array[string]
          variable: report_records
        - value_selector:
          - '1765447295919'
          - branch_code
          value_type: string
          variable: office_code
        - value_selector:
          - '1765447295919'
          - customer_number
          value_type: string
          variable: customer_number
        - value_selector:
          - '1768387673605'
          - result
          value_type: string
          variable: query_input
      height: 193
      id: '17679567286580'
      position:
        x: 4732.203448144466
        y: 308.84438662616617
      positionAbsolute:
        x: 4732.203448144466
        y: 308.84438662616617
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        code: "import json\n\ndef main(\n    customer_number_present: str,\n    office_code_present:\
          \ str,\n    matching_reports: list,\n    equipment_present: str,\n    report_present:\
          \ str\n) -> dict:\n\n    error_message_out = \"\"\n    is_validation_success\
          \ = True\n    next_step = 5\n\n    # Normalize flags\n    customer_flag\
          \ = customer_number_present.lower() == \"true\"\n    office_flag = office_code_present.lower()\
          \ == \"true\"\n    equipment_flag = equipment_present.lower() == \"true\"\
          \n    report_flag = report_present.lower() == \"true\"\n    has_matching\
          \ = bool(matching_reports)\n\n    \n\n    # --------------------------------------------------\n\
          \    # 1. CUSTOMER NUMBER NOT FOUND IN KB\n    # --------------------------------------------------\n\
          \    if customer_flag is False:\n        return {\n            \"error_message\"\
          : (\n                \"There is no applicable customer number. \"\n    \
          \            \"\\nPlease enter your branch code to confirm your customer\
          \ information:\"\n            ),\n            \"is_validation_success\"\
          : \"false\",\n            \"next_step\": 1\n        }\n\n    # --------------------------------------------------\n\
          \    # 2. CUSTOMER FOUND BUT OFFICE CODE NOT FOUND\n    # --------------------------------------------------\n\
          \    if customer_flag is True and office_flag is False:\n        return\
          \ {\n            \"error_message\": (\n                \"There is no branch\
          \ code that corresponds to the target customer number. \"\n            \
          \    \"\\nPlease enter your branch code to confirm your customer information:\"\
          \n            ),\n            \"is_validation_success\": \"false\",\n  \
          \          \"next_step\": 1\n        }\n\n    # --------------------------------------------------\n\
          \    \n    # --------------------------------------------------\n    # 3.\
          \ CUSTOMER + OFFICE PRESENT BUT NO MATCHING REPORTS\n    # (INCLUDING FUTURE\
          \ CASE)\n    # --------------------------------------------------\n    if\
          \ (\n    customer_flag\n    and office_flag\n    and not has_matching\n\
          ):\n        return {\n            \"error_message\": (\n               \
          \ \"There are no records corresponding to the selected equipment, \"\n \
          \               \"report type, or their combination. \"\n              \
          \  \"Please provide new information.\"\n            ),\n            \"is_validation_success\"\
          : \"false\",\n            \"next_step\": 5\n        }\n\n    # --------------------------------------------------\n\
          \    # 4. SUCCESS\n    # --------------------------------------------------\n\
          \    return {\n        \"error_message\": \"\",\n        \"is_validation_success\"\
          : \"true\",\n        \"next_step\": next_step\n    }"
        code_language: python3
        desc: This node validates Office Code and Customer Number against the knowledge
          base, checks for rating errors, and directs the flow to success (next_step
          = 5) or resets to Step 1 with an error if data is missing or mismatched.
        outputs:
          error_message:
            children: null
            type: string
          is_validation_success:
            children: null
            type: string
          next_step:
            children: null
            type: number
        selected: false
        title: 'Button 2 Validation Router '
        type: code
        variables:
        - value_selector:
          - '17679567286580'
          - customer_number_present
          value_type: string
          variable: customer_number_present
        - value_selector:
          - '17679567286580'
          - office_code_present
          value_type: string
          variable: office_code_present
        - value_selector:
          - '17679567286580'
          - matching_reports
          value_type: array[string]
          variable: matching_reports
        - value_selector:
          - '17679567286580'
          - equipment_present
          value_type: string
          variable: equipment_present
        - value_selector:
          - '17679567286580'
          - report_present
          value_type: string
          variable: report_present
      height: 177
      id: '17679646511050'
      position:
        x: 5026.987069180441
        y: 366.04099234166097
      positionAbsolute:
        x: 5026.987069180441
        y: 366.04099234166097
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: This node updates the workflow’s current_step using the next_step from
          the validation router and clears the selected option to prepare for the
          next user interaction.
        items:
        - input_type: variable
          operation: over-write
          value:
          - '17679646511050'
          - next_step
          variable_selector:
          - conversation
          - current_step
          write_mode: over-write
        - input_type: variable
          operation: clear
          value: ''
          variable_selector:
          - conversation
          - option_selected
          write_mode: over-write
        selected: false
        title: Button 2 Step Assigner 2
        type: assigner
        version: '2'
      height: 203
      id: '17679678129120'
      position:
        x: 6011.147956277456
        y: 779.2168079695642
      positionAbsolute:
        x: 6011.147956277456
        y: 779.2168079695642
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        context:
          enabled: true
          variable_selector:
          - '17679567286580'
          - result
        desc: This node takes the raw inspection data, converts it into a fixed JSON
          format, formats all date and time fields, and adds an interactive feedback
          prompt with language-specific HTML buttons.
        model:
          completion_params:
            temperature: 0
            thinking_level: Minimal
          mode: chat
          name: gemini-3-flash-preview
          provider: langgenius/gemini/google
        prompt_template:
        - id: 2aa80cc9-b0e8-427f-98a8-7f910932ed75
          role: system
          text: 'You are a highly restricted internal Inspection Data Retrieval Expert.

            You must analyze ONLY the provided CONTEXT and give OUTPUT without errors
            using the rules below.

            You MUST NOT use external tools, web search, assumptions, or prior knowledge.


            #### INPUT CONTEXT

            The input for analysis (Inspection Data) is:

            {{#context#}}


            CRITICAL LANGUAGE RULE

            Output MUST ONLY be in Japanese always


            OUTPUT FIELD MAPPING

            Each record in the context must be mapped into  "点検結果はこちらになります" using
            the rules below.


            Japanese Keys

            支社コード

            お客さま番号

            ビル名

            作業月

            レポート種類

            製品・サービス分類


            DATE FORMATTING (MANDATORY)

            Work Month / 作業月 must be converted to YYYY/MM

            Example: 11/20/2026 → 2026/11


            AGGREGATION RULE (CRITICAL – MUST FOLLOW)

            When MULTIPLE records share the SAME Work Month:

            Output ONLY ONE object

            Merge values as follows:

            Report Type / レポート種類 → comma-separated (unique values only)

            Product/Service Category / 製品・サービス分類 → comma-separated (unique values
            only)

            All other fields (Branch Code / 支社コード, Customer Number / お客さま番号, Building
            Name / ビル名, Work Month / 作業月) must use the shared value

            When Work Month differs:

            Output separate objects, one per Work Month


            OUTPUT STRUCTURE (STRICT)

            Top-level JSON key:

            Japanese: "点検結果はこちらになります"

            Rules:

            Output ONLY valid JSON

            Use double quotes for all keys and values

            No extra text, no explanations, no Markdown

            Preserve exact key names


            EXAMPLES (REFERENCE ONLY – FORMAT MUST MATCH)

            OUTPUT_LANGUAGE === Japanese（同一作業月を統合）

            {

            "点検結果はこちらになります": [

            {

            "支社コード": "11",

            "お客さま番号": "10001",

            "ビル名": "ダイヤモンドゲート",

            "作業月": "2025/11",

            "レポート種類": "点検レポート, メンテナンスレポート",

            "製品・サービス分類": "空調設備, エレベーター"

            }

            ]

            }


            STRICT PROHIBITIONS

            Do NOT output Markdown

            Do NOT add explanations

            Do NOT invent or translate keys

            Do NOT output duplicate values in comma-separated fields

            Do NOT output multiple objects for the same Work Month


            **FINAL OUTPUT ENVELOPE RULE (MANDATORY)**

            1. The response MUST begin with a ZERO-WIDTH NON-JOINER (U+200C) before
            `{`.

            2. Output the valid JSON object.

            3. After the closing `}`, output exactly ONE ZERO-WIDTH SPACE (U+200B).

            4. STOP immediately. Do NOT output any HTML or further text.



            OUTPUT MUST CONTAIN ONLY:

            U+200C

            The JSON object

            U+200B

            The HTML snippet

            Nothing else.'
        - id: 8da7b97f-16e8-4c46-9b70-6684c9d45df9
          role: user
          text: '{{#sys.query#}}'
        selected: false
        structured_output_enabled: true
        title: Final Result Formatter
        type: llm
        variables: []
        vision:
          enabled: false
      height: 181
      id: '17679679913960'
      position:
        x: 6729.433058120139
        y: 333.5609629338777
      positionAbsolute:
        x: 6729.433058120139
        y: 333.5609629338777
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        answer: "{{#17679679913960.text#}}\n{{#1768412892468.output#}}\n\n\n<hr/>お客さまの疑問は解決しましたか？\n\
          \   <div style=\"display:flex; flex-direction: column; gap:10px;\">\n  \
          \ <button data-message=\"解決した\" data-variant=\"primary\"> 解決した</button>\n\
          \   <button data-message=\"解決しなかった\" data-variant=\"primary\"> 解決しなかった</button>\n\
          \   </div>\n\n\n"
        desc: This node displays the final response content and prompts the user for
          feedback with “resolved / not resolved” action buttons to capture the outcome
          of the interaction.
        selected: false
        title: Button 2 Answer
        type: answer
        variables: []
      height: 341
      id: '17679680027120'
      position:
        x: 7146.389325359088
        y: 333.5609629338777
      positionAbsolute:
        x: 7146.389325359088
        y: 333.5609629338777
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: empty
            id: 81c77083-6122-46c0-85db-25247ff330d2
            value: 点検日時を知りたい
            varType: string
            variable_selector:
            - conversation
            - option_selected
          id: 'true'
          logical_operator: and
        desc: This node checks whether option_selected is empty, indicating that no
          menu button selection was made. It is typically used to detect and handle
          cases where the user provided free-text input instead of selecting a button
          option.
        selected: false
        title: Button 2 Option Selected
        type: if-else
      height: 249
      id: '17682010756360'
      position:
        x: 1932.8355214482178
        y: 470.57922005885007
      positionAbsolute:
        x: 1932.8355214482178
        y: 470.57922005885007
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        answer: 'いつ実施した点検結果(レポート)が必要ですか？

          入力例：  昨年の空調設備の点検結果を知りたい'
        desc: This node collects clarifying information needed to retrieve the correct
          inspection results.
        selected: false
        title: Inspection Query
        type: answer
        variables: []
      height: 193
      id: '1768201126356'
      position:
        x: 2771.58210636089
        y: 403.5496310804681
      positionAbsolute:
        x: 2771.58210636089
        y: 403.5496310804681
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: 'This node sets the option_selected variable to a specific predefined
          menu option value(Button1).

          It is used to explicitly assign or override the selected option for downstream
          processing and routing.'
        items:
        - input_type: constant
          operation: set
          value: 点検結果を知りたい
          variable_selector:
          - conversation
          - option_selected
          write_mode: over-write
        selected: false
        title: Query Assigner
        type: assigner
        version: '2'
      height: 193
      id: '17682032247030'
      position:
        x: 2421.1852546762593
        y: 403.5496310804681
      positionAbsolute:
        x: 2421.1852546762593
        y: 403.5496310804681
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        context:
          enabled: true
          variable_selector:
          - sys
          - query
        desc: This node validates user's query and extracts required inspection context
          (date, report type, or equipment), rejects invalid queries, and, when valid,
          outputs normalized inspection date, equipment codes, and report type codes
          in a strict JSON format.
        model:
          completion_params:
            temperature: 0
            thinking_level: Medium
          mode: chat
          name: gemini-3-flash-preview
          provider: langgenius/gemini/google
        prompt_template:
        - id: e2305b4c-bb31-4bac-a085-a6b0694751f1
          role: system
          text: 'You are a deterministic Inspection Intent Extraction Engine.

            Your task is to analyze the user input: {{#context#}}

            and extract structured filtering intent for inspection data retrieval.

            The input will be written in Japanese (Kanji, Hiragana, Katakana) and
            may include numbers and limited English date expressions.

            Date handling must extract the exact text the user provides without modification.

            You must follow ALL rules exactly.

            You must NOT:

            Infer beyond defined mappings

            Invent synonyms

            Perform date calculations

            Translate meaning

            Add explanations

            Add extra text

            Modify output structure

            Add fields

            Store memory

            PROCESSING STEPS (MANDATORY)

            Step 1 — Detect equipment keywords

            Step 2 — Detect specific report type keywords

            Step 3 — Detect generic report trigger words

            Step 4 — Detect date expressions

            Step 5 — Domain validation

            Step 6 — Output structured JSON

            SECTION 1 — EQUIPMENT TYPE (FILTER CATEGORY)

            Match exact substrings only.

            Code 1:

            エレベーター

            Code 2:

            エスカレーター

            Code 3:

            空調設備

            エアコン

            Code 4:

            ビル管理設備

            ビル管理

            Rules:

            If multiple appear → return unique codes sorted ascending.

            If none appear → return [1,2,3,4].

            Do NOT infer beyond listed keywords.

            SECTION 2 — SPECIFIC REPORT TYPE (FILTER CATEGORY)

            Exact substring match OR defined containment rule only.

            Code 1:

            メンテナンス

            整備

            整備報告書

            Code 2:

            ヘリオス

            Code 3:

            点検報告書

            点検レポート

            検査報告書

            検査レポート

            CONTAINMENT RULE (STRICT, NOT SEMANTIC):

            If BOTH substrings appear anywhere in input:

            点検 AND 報告書 → include Code 3

            検査 AND 報告書 → include Code 3

            Rules:

            If one or more specific report keywords detected → return matching unique
            codes sorted ascending.

            If none appear → evaluate generic trigger words (Section 3).

            Do NOT infer beyond explicitly listed substrings.

            Do NOT perform linguistic normalization.

            SECTION 3 — GENERIC REPORT TRIGGER (NOT A FILTER)

            These words indicate a request for reports but do NOT define report type:

            レポート

            報告

            報告書

            Rules:

            If ONLY generic report words appear (and no specific report type detected)
            → return [1,2,3]

            If neither specific nor generic report words appear → return [1,2,3]

            If specific report types are detected → ignore generic words completely

            SECTION 4 — INSPECTION DATE

            Any substring that looks like a date or relative time in the user input
            must be returned exactly as written.

            SPECIAL LATEST-TYPE RULE:

            If the input contains any of the following expressions:

            前回

            最新

            直近

            今回

            or related expressions like

            最近の

            最新 etc.


            → return "null" instead of the original substring.

            This includes:

            Absolute dates (Western or Japanese format, e.g., YYYY, YYYY-MM, YYYY-MM-DD,
            YYYY年, YYYY年MM月DD日, etc.)

            Date ranges (Western or Japanese format, e.g., YYYY-YYYY, YYYY年〜YYYY年,
            from YYYY, YYYY to YYYY, etc.)

            Relative expressions (exact text match only, e.g., last month, last year,
            X months ago, X years ago, 先月, 昨年, ○ヶ月前, ○年前, before, after, later, etc.)

            Rules:

            If detected → return the exact substring as written in input.

            If multiple date expressions appear → return the full continuous substring
            representing the range if applicable; otherwise return the first matched
            date substring.

            If none detected → return null.

            Do NOT calculate, normalize, or convert formats.

            SECTION 5 — DOMAIN VALIDATION RULE (KB SAFETY)

            This system only supports inspection-related reports.

            ALLOWED DOMAIN TERMS (inspection scope):

            Equipment terms listed in Section 1

            Specific report terms listed in Section 2

            Generic report triggers listed in Section 3

            Inspection-related modifiers: 点検, 検査, 整備, メンテナンス, ヘリオス

            Validation logic:

            Date-only queries are VALID.

            If a noun directly modifies: 報告, 報告書, レポート and that modifier is NOT included
            in:

            Equipment keywords

            Specific report keywords

            Allowed inspection-related modifiers listed above → INVALID.

            If the query contains a domain-specific term unrelated to inspection (例:
            税務, 会計, 人事, 給与, 契約, etc.) modifying report-related words → INVALID.

            If equipment or valid report types are detected AND no unrelated domain
            modifiers are present → VALID.

            If none of the following are detected: Equipment keyword, Specific report
            type keyword, Generic report trigger word, Date expression → INVALID.

            SECTION 6 — OUTPUT FORMAT

            If INVALID:

            {

            "valid": false,

            "reason": "User query does not match inspection-related intent."

            }

            If VALID:

            {

            "valid": true,

            "inspection_date": "<exact text or null>",

            "equipment_codes": [numbers],

            "report_type_codes": [numbers]

            }

            STRICT OUTPUT RULES

            Output ONLY valid JSON.

            No markdown.

            No explanation.

            No commentary.

            No extra text before or after JSON.

            Arrays must contain integers only.

            Codes must be unique.

            Codes must be sorted ascending.

            Field order must be exactly: valid, inspection_date, equipment_codes,
            report_type_codes'
        - id: efd61aaf-438d-4eb2-8075-322f8b87f82f
          role: user
          text: '{{#sys.query#}}'
        selected: false
        title: INSPECTION QUERY INPUT
        type: llm
        variables: []
        vision:
          enabled: false
      height: 213
      id: '1768211570966'
      position:
        x: 3008.8301954796934
        y: 617.4067472307834
      positionAbsolute:
        x: 3008.8301954796934
        y: 617.4067472307834
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: contains
            id: 47191a69-97b1-4b04-a61b-66fae706712e
            value: '"valid": true'
            varType: string
            variable_selector:
            - '1768211570966'
            - text
          id: 'true'
          logical_operator: and
        desc: This node checks whether the output from Inspection Query Input node
          is valid or not.
        selected: false
        title: Query Input Validator
        type: if-else
      height: 185
      id: '1768212707505'
      position:
        x: 3548.9088961891493
        y: 478.6459266418225
      positionAbsolute:
        x: 3548.9088961891493
        y: 478.6459266418225
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        answer: '正しい入力を提供してください。

          例：昨年の空調設備の検査報告書の点検結果を知りたい


          '
        desc: This node displays the message for scenarios when invalid query input
          is entered for inspection results.
        selected: false
        title: Invalid Input Message
        type: answer
        variables: []
      height: 193
      id: '1768218902888'
      position:
        x: 4415.914269292509
        y: 702.1047836155512
      positionAbsolute:
        x: 4415.914269292509
        y: 702.1047836155512
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        code: "import json\nimport re\nfrom datetime import datetime, timedelta\n\n\
          def main(input_json):\n\n    # -----------------------------------\n   \
          \ # Parse Input\n    # -----------------------------------\n    try:\n \
          \       result = json.loads(input_json) if isinstance(input_json, str) else\
          \ input_json\n    except:\n        return {\"error\": \"Invalid JSON input\"\
          }\n\n    raw_date_str = str(result.get(\"inspection_date\", \"\") or \"\"\
          )\n    now = datetime.now()\n\n    # -----------------------------------\n\
          \    # Initialize Outputs\n    # -----------------------------------\n \
          \   scope = \"LATEST\"\n    formatted_date = \"\"\n    start_date = \"\"\
          \n    end_date = \"\"\n    discrete_dates = []\n\n    collected_years =\
          \ []\n    collected_months = []\n    collected_ranges = []\n\n# =====================================================\n\
          # 1. RELATIVE DATE DETECTION (Highest Priority)\n# =====================================================\n\
          \n    relative_year = None\n    relative_month_offset = None\n    \n   \
          \ # ------------------------\n    # Year Keywords\n    # ------------------------\n\
          \    \n    if \"今年\" in raw_date_str:\n        relative_year = now.year\n\
          \    \n    elif \"昨年\" in raw_date_str or \"去年\" in raw_date_str:\n    \
          \    relative_year = now.year - 1\n    \n    elif \"一昨年\" in raw_date_str:\n\
          \        relative_year = now.year - 2\n    \n    \n    # ------------------------\n\
          \    # X年前  (e.g., 3年前)\n    # ------------------------\n    \n    year_ago_match\
          \ = re.search(r\"(\\d+)年前\", raw_date_str)\n    if year_ago_match:\n   \
          \     years_ago = int(year_ago_match.group(1))\n        relative_year =\
          \ now.year - years_ago\n    \n    \n    # ------------------------\n   \
          \ # Month Keywords\n    # ------------------------\n    \n    if \"今月\"\
          \ in raw_date_str:\n        relative_month_offset = 0\n    \n    elif \"\
          先月\" in raw_date_str:\n        relative_month_offset = -1\n    \n    elif\
          \ \"先々月\" in raw_date_str:\n        relative_month_offset = -2\n    \n \
          \   elif \"再来月\" in raw_date_str:\n        relative_month_offset = 1\n \
          \   \n    \n    # ------------------------\n    # Xヶ月前 (e.g., 3ヶ月前)\n  \
          \  # ------------------------\n    \n    months_ago_match = re.search(r\"\
          (\\d+)ヶ月前\", raw_date_str)\n    if months_ago_match:\n        relative_month_offset\
          \ = -int(months_ago_match.group(1))\n    \n    \n    # =====================================================\n\
          \    # APPLY RELATIVE CALCULATION\n    # =====================================================\n\
          \    \n    # If month offset exists → calculate full year/month properly\n\
          \    if relative_month_offset is not None:\n    \n        base_date = now.replace(day=1)\n\
          \        calculated_date = base_date + timedelta(days=relative_month_offset\
          \ * 30)\n    \n        scope = \"MONTH\"\n        formatted_date = calculated_date.strftime(\"\
          %m/%Y\")\n    \n    # If relative year exists\n    elif relative_year is\
          \ not None:\n    \n        # Check if month also specified (例: 去年の11月)\n\
          \        month_match = re.search(r\"(\\d{1,2})月\", raw_date_str)\n    \n\
          \        if month_match:\n            month = int(month_match.group(1))\n\
          \            scope = \"MONTH\"\n            formatted_date = f\"{month:02d}/{relative_year}\"\
          \n        else:\n            scope = \"YEAR\"\n            formatted_date\
          \ = str(relative_year)\n    \n    \n    # If detected → return immediately\n\
          \    if scope != \"LATEST\":\n        result.update({\n            \"formatted_date\"\
          : formatted_date,\n            \"start_date\": \"\",\n            \"end_date\"\
          : \"\",\n            \"date_scope\": scope,\n            \"discrete_dates\"\
          : []\n        })\n    \n        return {\"result\": json.dumps(result, ensure_ascii=False)}\n\
          \n\n\n    # =====================================================\n    #\
          \ 2. YEAR RANGE\n    # e.g., 2022年から2024年まで\n    # =====================================================\n\
          \    for match in re.finditer(\n        r\"(\\d{4})年?\\s*(?:から|〜|～|-|ー|to)\\\
          s*(\\d{4})年?\",\n        raw_date_str\n    ):\n        collected_ranges.append((\"\
          YEAR_RANGE\",\n                                 int(match.group(1)),\n \
          \                                int(match.group(2))))\n\n    # =====================================================\n\
          \    # 3. MONTH RANGE\n    # e.g., 2024年1月から3月\n    # =====================================================\n\
          \    for match in re.finditer(\n        r\"(\\d{4})年\\s*(\\d{1,2})月\\s*(?:から|〜|～|-|ー|to)\\\
          s*(\\d{1,2})月\",\n        raw_date_str\n    ):\n        collected_ranges.append((\"\
          MONTH_RANGE\",\n                                 int(match.group(1)),\n\
          \                                 int(match.group(2)),\n               \
          \                  int(match.group(3))))\n\n    # =====================================================\n\
          \    # 4. YEAR + MONTH\n    # e.g., 2024年3月\n    # =====================================================\n\
          \    for match in re.finditer(\n        r\"(\\d{4})年\\s*(\\d{1,2})月\",\n\
          \        raw_date_str\n    ):\n        collected_months.append(\n      \
          \      (int(match.group(1)), int(match.group(2)))\n        )\n\n    # =====================================================\n\
          \    # 5. STANDALONE YEARS (NO \\b)\n    # =====================================================\n\
          \    for match in re.finditer(r\"(\\d{4})年?\", raw_date_str):\n        collected_years.append(int(match.group(1)))\n\
          \n    # Remove duplicate years caused by month captures\n    if collected_months:\n\
          \        years_from_months = [y for y, _ in collected_months]\n        collected_years\
          \ = [y for y in collected_years if y not in years_from_months]\n\n    #\
          \ Remove duplicate years\n    collected_years = list(set(collected_years))\n\
          \n    # =====================================================\n    # DECISION\
          \ LOGIC\n    # =====================================================\n\n\
          \    # ---- RANGE has priority over MULTI ----\n    if collected_ranges:\n\
          \n        r = collected_ranges[0]\n\n        if r[0] == \"YEAR_RANGE\":\n\
          \            scope = \"RANGE\"\n            start_date = str(r[1])\n   \
          \         end_date = str(r[2])\n\n        elif r[0] == \"MONTH_RANGE\":\n\
          \            scope = \"RANGE\"\n            year = r[1]\n            start_date\
          \ = f\"{r[2]:02d}/{year}\"\n            end_date = f\"{r[3]:02d}/{year}\"\
          \n\n    # ---- MULTIPLE MONTHS (Exact) ----\n    elif len(collected_months)\
          \ > 1:\n        scope = \"MULTI\"\n        discrete_dates = [\n        \
          \    f\"{m:02d}/{y}\" for y, m in collected_months\n        ]\n\n    # ----\
          \ SINGLE MONTH ----\n    elif len(collected_months) == 1:\n        scope\
          \ = \"MONTH\"\n        y, m = collected_months[0]\n        formatted_date\
          \ = f\"{m:02d}/{y}\"\n\n    # ---- MULTIPLE YEARS (Exact) ----\n    elif\
          \ len(collected_years) > 1:\n        scope = \"MULTI\"\n        discrete_dates\
          \ = sorted([str(y) for y in collected_years])\n\n    # ---- SINGLE YEAR\
          \ ----\n    elif len(collected_years) == 1:\n        scope = \"YEAR\"\n\
          \        formatted_date = str(collected_years[0])\n\n    # ---- NO DATE\
          \ → LATEST ----\n    else:\n        scope = \"LATEST\"\n\n    # =====================================================\n\
          \    # FINAL OUTPUT\n    # =====================================================\n\
          \n    result.update({\n        \"formatted_date\": formatted_date,\n   \
          \     \"start_date\": start_date,\n        \"end_date\": end_date,\n   \
          \     \"date_scope\": scope,\n        \"discrete_dates\": discrete_dates\n\
          \    })\n\n    return {\"result\": json.dumps(result, ensure_ascii=False)}"
        code_language: python3
        desc: This node parses a free-text inspection date input and normalizes it
          into a structured format, identifying whether it represents a specific month,
          year, date range, latest, or a relative time period, and outputs standardized
          date fields and scope.
        outputs:
          result:
            children: null
            type: string
        selected: false
        title: Inspection Date Extractor
        type: code
        variables:
        - value_selector:
          - '1768211570966'
          - text
          value_type: string
          variable: input_json
      height: 177
      id: '1768387673605'
      position:
        x: 3271.0679967892943
        y: 478.6459266418225
      positionAbsolute:
        x: 3271.0679967892943
        y: 478.6459266418225
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: ''
        error_handle_mode: terminated
        height: 198.58388539353666
        is_parallel: false
        iterator_input_type: array[object]
        iterator_selector:
        - '17679567286580'
        - pdf_list
        output_selector:
        - '1768412970709'
        - files
        output_type: array[file]
        parallel_nums: 10
        selected: false
        start_node_id: 1768412892468start
        title: Iteration
        type: iteration
        width: 688
      height: 199
      id: '1768412892468'
      position:
        x: 5954.448791869997
        y: 333.5609629338777
      positionAbsolute:
        x: 5954.448791869997
        y: 333.5609629338777
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 688
      zIndex: 1
    - data:
        desc: ''
        isInIteration: true
        selected: false
        title: ''
        type: iteration-start
      draggable: false
      height: 48
      id: 1768412892468start
      parentId: '1768412892468'
      position:
        x: 24
        y: 68
      positionAbsolute:
        x: 5978.448791869997
        y: 401.5609629338777
      selectable: false
      sourcePosition: right
      targetPosition: left
      type: custom-iteration-start
      width: 44
      zIndex: 1002
    - data:
        desc: Converts provided markdown content into a PDF file and outputs it using
          the specified filename for download.
        isInIteration: true
        isInLoop: false
        is_team_authorization: true
        iteration_id: '1768412892468'
        output_schema: null
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Markdown text
            ja_JP: Markdown text
            pt_BR: Markdown text
            zh_Hans: Markdown格式文本
          label:
            en_US: Markdown text
            ja_JP: Markdown text
            pt_BR: Markdown text
            zh_Hans: Markdown格式文本
          llm_description: ''
          max: null
          min: null
          name: md_text
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Optional custom output file name, and the filename suffix is not
              required.
            ja_JP: Optional custom output file name, and the filename suffix is not
              required.
            pt_BR: Optional custom output file name, and the filename suffix is not
              required.
            zh_Hans: 可选的自定义输出文件名，后缀名无需指定
          label:
            en_US: Output Filename
            ja_JP: Output Filename
            pt_BR: Output Filename
            zh_Hans: 输出文件名
          llm_description: ''
          max: null
          min: null
          name: output_filename
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        params:
          md_text: ''
          output_filename: ''
        provider_id: bowenliang123/md_exporter/md_exporter
        provider_name: bowenliang123/md_exporter/md_exporter
        provider_type: builtin
        selected: false
        title: Markdown to PDF file
        tool_configurations: {}
        tool_description: Generate PDF file from Markdown text
        tool_label: Markdown to PDF file
        tool_name: md_to_pdf
        tool_node_version: '2'
        tool_parameters:
          md_text:
            type: mixed
            value: '{{#1768414065721.content#}}'
          output_filename:
            type: mixed
            value: '{{#1768414065721.filename#}}'
        type: tool
      height: 113
      id: '1768412970709'
      parentId: '1768412892468'
      position:
        x: 428
        y: 65
      positionAbsolute:
        x: 6382.448791869997
        y: 398.5609629338777
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
      zIndex: 1002
    - data:
        code: "def main(item):\n    return {\n        \"filename\": item.get(\"filename\"\
          ),\n        \"content\": item.get(\"content\")\n    }\n"
        code_language: python3
        desc: Extracts and returns the filename and content fields from a PDF item
          for downstream processing or display.
        isInIteration: true
        isInLoop: false
        iteration_id: '1768412892468'
        outputs:
          content:
            children: null
            type: string
          filename:
            children: null
            type: string
        selected: false
        title: Filename and Content Extractor
        type: code
        variables:
        - value_selector:
          - '1768412892468'
          - item
          value_type: object
          variable: item
      height: 113
      id: '1768414065721'
      parentId: '1768412892468'
      position:
        x: 127.2884535981957
        y: 65.58388539353666
      positionAbsolute:
        x: 6081.737245468193
        y: 399.14484832741437
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
      zIndex: 1002
    - data:
        desc: 'This node displays a feedback or error prompt to the user. If error_msg
          equals "RATING_ERROR_TRIGGER", it specifically asks the user to provide
          a valid rating (“解決した” or “解決しなかった”). Otherwise, it shows a generic error
          message and presents a list of selectable options (list_data) for the user
          to choose from. '
        selected: false
        template: "{% if error_msg == \"RATING_ERROR_TRIGGER\" %}\r\n     評価の入力が無効です。「解決した」または「解決しなかった」のいずれかで評価を入力してください。\r\
          \n   <hr/>お客さまの疑問は解決しましたか？\r\n   \r\n   <div style=\"display:flex; flex-direction:\
          \ column; gap:10px;\">\r\n   <button data-message=\"解決した\" data-variant=\"\
          primary\"> 解決した</button>\r\n   <button data-message=\"解決しなかった\" data-variant=\"\
          primary\"> 解決しなかった</button>\r\n   </div>\r\n\r\n{% else %}\r\n  ご入力いただいた内容は正しくありません。お手数ですが、以下の選択肢から選んでいただくか、改めてご質問内容を入力してください。\r\
          \n\r\n<hr/>\r\n<div style=\"display:flex; flex-direction: column; gap:10px;\"\
          >\r\n  {% for item in list_data %}\r\n  <button data-message=\"{{ item }}\"\
          \ data-variant=\"primary\">{{ item }}</button>\r\n  {% endfor %}\r\n</div>\r\
          \n{% endif %}"
        title: Button 1 Rating Error Response
        type: template-transform
        variables:
        - value_selector:
          - '17678500805720'
          - equipment_list
          value_type: array[string]
          variable: list_data
        - value_selector:
          - '17678500805720'
          - error_message
          value_type: string
          variable: error_msg
      height: 209
      id: '1768568299342'
      position:
        x: 3556.2220385215282
        y: 224.97244084626197
      positionAbsolute:
        x: 3556.2220385215282
        y: 224.97244084626197
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: not empty
            id: ccad929d-c4bf-4c84-a9c4-7bbd88d93e83
            value: ''
            varType: array[string]
            variable_selector:
            - '17679567286580'
            - matching_reports
          - comparison_operator: contains
            id: c9ff505a-2317-4307-ad5b-b4fea012caf1
            value: 'true'
            varType: string
            variable_selector:
            - '17679646511050'
            - is_validation_success
          id: 'true'
          logical_operator: and
        desc: This node checks whether report results exist and validation succeeded,
          and routes the workflow accordingly based on the presence of matching reports
          and a successful validation flag.
        selected: false
        title: Report Validator
        type: if-else
      height: 243
      id: '1768899815986'
      position:
        x: 5316.521356957534
        y: 260.75843375528956
      positionAbsolute:
        x: 5316.521356957534
        y: 260.75843375528956
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        answer: '{{#1770885454940.output#}}'
        desc: This node presents the final message generated after validation, whether
          it’s a success message or an error that needs a user rating.
        selected: false
        title: 'Button 2 Error Presenter '
        type: answer
        variables: []
      height: 179
      id: '17689036642080'
      position:
        x: 6606.512279043282
        y: 631.5341473691681
      positionAbsolute:
        x: 6606.512279043282
        y: 631.5341473691681
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        code: "import json\n\ndef main(\n    response_text: str,\n) -> dict:\n   \
          \ \n    # Initialize default state\n    error_message_out = \"\"\n    is_validation_success\
          \ = True\n    next_step = 6 \n\n    # 1. Japanese (Input text example)\n\
          \    JAPANESE_RATING_ERROR_PHRASE = \"入力された評価が無効です。\" \n    # 2. English\
          \ (From the System Prompt example: \"Your rating input was invalid.\")\n\
          \    ENGLISH_RATING_ERROR_PHRASE = \"your rating input was invalid\"\n \
          \   \n    # Convert response_text to lowercase for a case-insensitive English\
          \ check\n    response_lower = response_text.lower()\n    \n\n    \n    #\
          \ --- 1. CRITICAL CHECK: Rating Input Error (Highest Priority) ---\n   \
          \ # Check for either the Japanese or the English error phrase\n    if JAPANESE_RATING_ERROR_PHRASE\
          \ in response_text or ENGLISH_RATING_ERROR_PHRASE in response_lower:\n \
          \       error_message_out = \"RATING_ERROR_TRIGGER\"\n        is_validation_success\
          \ = False\n        next_step = 5  # Stay on Step 5 (Rating step)\n\n\n \
          \   return {\n        \"error_message\": error_message_out, \n        \"\
          is_validation_success\": str(is_validation_success).lower(), \n        \"\
          next_step\": next_step\n    }"
        code_language: python3
        desc: This node validates Branch Code and Customer Number against the knowledge
          base, checks for rating errors, and directs the flow to success (next_step
          = 5) or resets to Step 1 with an error if data is missing or mismatched.
        outputs:
          error_message:
            children: null
            type: string
          is_validation_success:
            children: null
            type: string
          next_step:
            children: null
            type: number
        selected: false
        title: 'Button 2 Rating Validation Router '
        type: code
        variables:
        - value_selector:
          - '1765447295919'
          - response_text
          value_type: string
          variable: response_text
      height: 177
      id: '17689108864380'
      position:
        x: 2202.170489843787
        y: 743.7309903103885
      positionAbsolute:
        x: 2202.170489843787
        y: 743.7309903103885
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: This node updates the current_step variable by overwriting it with the
          value of next_step from the Rating Validation Router and synchronizes the
          workflow state to ensure the conversation proceeds to the correct step.
        items:
        - input_type: variable
          operation: over-write
          value:
          - '17689108864380'
          - next_step
          variable_selector:
          - conversation
          - current_step
          write_mode: over-write
        selected: false
        title: 'Button 2 Step Variable Assigner '
        type: assigner
        version: '2'
      height: 193
      id: '17689109795860'
      position:
        x: 2467.63977171675
        y: 799.8097012234257
      positionAbsolute:
        x: 2467.63977171675
        y: 799.8097012234257
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: contains
            id: 97384286-855d-4d16-a7f7-7276753fa0da
            value: 'true'
            varType: string
            variable_selector:
            - '17689108864380'
            - is_validation_success
          id: 'true'
          logical_operator: and
        desc: This node checks the is_validation_success flag. If it’s true, the flow
          continues normally (IF path). If it’s false, the flow moves to the error-handling
          path (ELSE).
        selected: false
        title: Button 2 Rating Validator
        type: if-else
      height: 217
      id: '17689161516560'
      position:
        x: 2733.694986471489
        y: 789.0512776715439
      positionAbsolute:
        x: 2733.694986471489
        y: 789.0512776715439
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: 'This node displays a feedback or error prompt to the user. If error_msg
          equals "RATING_ERROR_TRIGGER", it specifically asks the user to provide
          a valid rating (“解決した” or “解決しなかった”). Otherwise, it shows a generic error
          message and presents a list of selectable options (list_data) for the user
          to choose from. '
        selected: false
        template: "{% if error_msg == \"RATING_ERROR_TRIGGER\" %}\r\n     評価の入力が無効です。「解決した」または「解決しなかった」のいずれかで評価を入力してください。\r\
          \n   <hr/>お客さまの疑問は解決しましたか？\r\n   \r\n   <div style=\"display:flex; flex-direction:\
          \ column; gap:10px;\">\r\n   <button data-message=\"解決した\" data-variant=\"\
          primary\"> 解決した</button>\r\n   <button data-message=\"解決しなかった\" data-variant=\"\
          primary\"> 解決しなかった</button>\r\n   </div>\r\n\r\n{% else %}\r\n  ご入力いただいた内容は正しくありません。お手数ですが、以下の選択肢から選んでいただくか、改めてご質問内容を入力してください。\r\
          \n\r\n<hr/>\r\n<div style=\"display:flex; flex-direction: column; gap:10px;\"\
          >\r\n  {% for item in list_data %}\r\n  <button data-message=\"{{ item }}\"\
          \ data-variant=\"primary\">{{ item }}</button>\r\n  {% endfor %}\r\n</div>\r\
          \n{% endif %}"
        title: Button 2 Rating Error Response
        type: template-transform
        variables:
        - value_selector:
          - '17689108864380'
          - error_message
          value_type: string
          variable: error_msg
      height: 209
      id: '17689161871780'
      position:
        x: 3113.8080287118637
        y: 901.790810932622
      positionAbsolute:
        x: 3113.8080287118637
        y: 901.790810932622
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        answer: '{{#17689161871780.output#}}'
        desc: This node is used to display the error message for invalid rating input/
        selected: false
        title: 'Button 2 Rating Message Presenter '
        type: answer
        variables: []
      height: 147
      id: '17689162675130'
      position:
        x: 3469.6657946852724
        y: 851.128216272113
      positionAbsolute:
        x: 3469.6657946852724
        y: 851.128216272113
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: This node overwrites the workflow’s current_step with the next_step
          determined by the validation router, advancing the flow according to validation
          outcomes.
        items:
        - input_type: variable
          operation: over-write
          value:
          - '17679646511050'
          - next_step
          variable_selector:
          - conversation
          - current_step
          write_mode: over-write
        selected: false
        title: Step Updater
        type: assigner
        version: '2'
      height: 177
      id: '17689905479150'
      position:
        x: 5642.273345320147
        y: 267.38669755360905
      positionAbsolute:
        x: 5642.273345320147
        y: 267.38669755360905
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: This node maps the next_step value from the button handler to the workflow’s
          current_step, updating the flow state to move to the designated next step.
        items:
        - input_type: variable
          operation: over-write
          value:
          - '1769024041258'
          - next_step
          variable_selector:
          - conversation
          - current_step
          write_mode: over-write
        selected: false
        title: 'Button 2 Next Step Assigner '
        type: assigner
        version: '2'
      height: 177
      id: '17690238498820'
      position:
        x: 4104.820358437226
        y: 702.1047836155512
      positionAbsolute:
        x: 4104.820358437226
        y: 702.1047836155512
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        code: "\ndef main() -> int:\n    return {\n        \"next_step\": 4,\n   \
          \ }\n"
        code_language: python3
        desc: This node returns a fixed control value (next_step = 4) to direct the
          workflow to the next predefined step.
        outputs:
          next_step:
            children: null
            type: number
        selected: false
        title: Next Step Handler
        type: code
        variables: []
      height: 113
      id: '1769024041258'
      position:
        x: 3825.5004301197737
        y: 639.16753819439
      positionAbsolute:
        x: 3825.5004301197737
        y: 639.16753819439
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        context:
          enabled: true
          variable_selector:
          - sys
          - query
        desc: This normalizes free-text equipment input into a strict, canonical Japanese
          equipment name with an optional unit number (号機), ensuring exact string
          matching with UI buttons and the Knowledge Base.
        model:
          completion_params:
            temperature: 0
            thinking_level: High
          mode: chat
          name: gemini-3-pro-preview
          provider: langgenius/gemini/google
        prompt_template:
        - id: 01e421f6-83c2-478c-8421-4f445512bbb1
          role: system
          text: 'You are a Japanese Equipment & Unit Normalization Agent.

            Your task is to normalize the user’s equipment selection input {{#context#}}
            so that it exactly matches the equipment + unit format used by the UI
            buttons and the Knowledge Base (KB).

            The normalized output will be passed unchanged to a downstream validation
            router that performs strict string matching.

            ==============================

            TARGET OUTPUT FORMAT (MANDATORY)

            When a unit number is present, always output exactly:

            <設備名> <番号>号機

            Examples:

            エレベーター 3号機

            エスカレーター 1号機

            空調設備 2号機

            If no unit number is explicitly mentioned, output only the equipment name:

            エレベーター

            空調設備

            ==============================

            LANGUAGE & NORMALIZATION RULES

            The user input may be written in:

            Kanji

            Hiragana

            Katakana

            English

            Romaji

            Any combination of the above

            You MUST normalize everything into standard Japanese equipment names.

            Canonical equipment names:

            elevator / lift / エレベータ / エレベータ― / エレベータァ → エレベーター

            escalator / エスカレータ → エスカレーター

            AC / air conditioner / エアコン / 空調 → 空調設備

            building management / BMS / ビル管理 → ビル管理設備

            ==============================

            UNIT (号機) HANDLING — CRITICAL

            If the user mentions a unit number in any form, you MUST convert it to:

            <番号>号機

            Recognize ALL of the following as unit indicators:

            号機

            ユニット

            号機番号

            番号


            番 / 番号

            Kanji numerals (一, 二, 三, 四, 五, etc.)

            Rules:

            Always use Arabic numerals (1, 2, 3…)

            Never spell numbers in words

            Always append 号機 when a number exists

            Examples:

            エレベーター三号機 → エレベーター 3号機

            elevator unit 3 → エレベーター 3号機

            goki 3 elevator → エレベーター 3号機

            エスカレーター 1番 → エスカレーター 1号機

            ==============================

            TEXT CLEANING RULES

            Remove all polite, descriptive, or irrelevant phrases, including but not
            limited to:

            教えてください

            確認したい

            見たい

            知りたい

            の / を / が / は (unless required for meaning)

            点検

            結果

            レポート

            報告書

            These words are NOT equipment identifiers and must not appear in the output.

            ==============================

            MULTIPLE EQUIPMENT HANDLING

            If multiple equipments or units are mentioned: invalid case return (No
            equipment found)

            Example1: ビル管理設備エレベーター 2号機

            Example 2: エレベーター 2号機エレベーター 3号機

            Example 3: エレベーター 2号機ビル管理設備

            ==============================

            OUTPUT CONSTRAINTS (ABSOLUTE)

            Output ONLY one single line

            Output ONLY the normalized equipment string

            No JSON

            No explanations

            No extra spaces

            No punctuation before or after

            No emojis

            No Markdown

            ==============================

            EXAMPLES

            Input:

            エレベーター 3号機

            Output:

            エレベーター 3号機

            Input:

            エレベーターの3号機を確認したいです

            Output:

            エレベーター 3号機

            Input:

            エレベータ 3

            Output:

            エレベーター 3号機

            Input:

            空調設備の結果を見たい

            Output:

            空調設備

            Input:

            エスカレーター三号機

            Output:

            エスカレーター 3号機

            ==============================

            If user gives something invalid then return (No equipment found)

            FINAL RULE

            Return ONLY the normalized equipment string, exactly matching the format
            used by the UI buttons and the Knowledge Base.'
        - id: af2b0fcb-d7b2-48aa-ac6d-3a480d00847b
          role: user
          text: '{{#sys.query#}}'
        selected: false
        title: Japanese Language Handler
        type: llm
        variables: []
        vision:
          enabled: false
      height: 197
      id: '1769155077062'
      position:
        x: 2254.840242297094
        y: 132.2900312379885
      positionAbsolute:
        x: 2254.840242297094
        y: 132.2900312379885
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        context:
          enabled: true
          variable_selector:
          - '1765447295919'
          - option_text
        desc: This node analyzes free-text user input (Japanese, English, or mixed)
          and normalizes it to a single predefined menu option by intent. It returns
          the exact matching Japanese button text when the intent is clear and unambiguous;
          otherwise, it returns an empty string.
        model:
          completion_params:
            temperature: 0
            thinking_level: High
          mode: chat
          name: gemini-3-pro-preview
          provider: langgenius/gemini/google
        prompt_template:
        - id: 256f571b-d6f4-4f84-85db-dd0276bc9226
          role: system
          text: "You are a normalization and intent-matching engine.\nYour task:\n\
            - Analyze the user's input text: {{#context#}}\n- The input may be in\
            \ Japanese, or any mixture of Japanese scripts.\n- The input may be free\
            \ text or may exactly match a button label.\n- Determine whether the input\
            \ semantically matches EXACTLY ONE of the predefined menu options below.\n\
            \nIf it matches:\n- Output ONLY the EXACT Japanese button text listed\
            \ below.\n\nIf it does NOT clearly and unambiguously match exactly one\
            \ option:\n- Output an empty string.\n\nIMPORTANT OUTPUT RULES:\n- Output\
            \ ONLY one line.\n- Output ONLY the exact button text listed below OR\
            \ an empty string.\n- Do NOT add explanations, prefixes, suffixes, punctuation,\
            \ or whitespace.\n- Do NOT repeat or echo the user input.\n- Do NOT translate\
            \ into new wording.\n- Do NOT return multiple options.\n- Do NOT guess\
            \ when intent is unclear.\n\nPredefined Menu Options (OUTPUT MUST MATCH\
            \ EXACTLY ONE OF THESE STRINGS):\n\n1. 点検日時を知りたい\n2. 点検結果を知りたい\n3. 点検日時を変更したい\n\
            4. 点検/故障の対応を依頼をしたい\n5. 見積書を送付してほしい\n6. 契約書を送付してほしい\n\nMatching Guidelines:\n\
            - Treat synonyms, paraphrases, and polite variations as matches.\n- Ignore\
            \ tense, politeness, particles, and filler words.\n- Focus strictly on\
            \ the user's core intent.\n- If multiple intents appear or intent is ambiguous,\
            \ return an empty string.\n- If the input is unrelated to these options,\
            \ return an empty string.\n\nIntent Mapping Examples (FOR UNDERSTANDING\
            \ ONLY — DO NOT OUTPUT THESE):\n\n\"点検結果を教えてください\" → 点検結果を知りたい\n\"点検はいつですか\"\
            \ → 点検日時を知りたい\n\"点検の日程を変更したい\" → 点検日時を変更したい\n\"故障対応をお願いしたい\" → 点検/故障の対応を依頼をしたい\n\
            \"見積が欲しい\" → 見積書を送付してほしい\n\"契約書をください\" → 契約書を送付してほしい\n\nInvalid output\
            \ cases:\nIf the input contains multiple buttons text in any combination\
            \ with any or no separator, it is invalid\nExample \"点検日時を知りたい 点検結果を知りたい\"\
            \ \nThis input should return EMPTY STRING as it is combination of multiple\
            \ intents.\n\nIf the input does NOT clearly correspond to exactly one\
            \ menu option:\n→ Output an empty string."
        - id: 99e36b32-1922-4181-8359-bc127bad6f30
          role: user
          text: '{{#1765447295919.option_text#}}'
        selected: false
        title: Option text handler
        type: llm
        variables: []
        vision:
          enabled: false
      height: 229
      id: '1769163996583'
      position:
        x: 938.7526972151913
        y: 950.7530536382368
      positionAbsolute:
        x: 938.7526972151913
        y: 950.7530536382368
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        code: "def main(user_input: str) -> dict:\n    # The list of valid options\
          \ from your initial selection menu\n    valid_options = [\n        \"点検日時を知りたい\"\
          , \n        \"点検結果を知りたい\", \n        \"点検日時を変更したい\", \n        \"点検・故障の対応を依頼したい\"\
          , \n        \"見積書を送付してほしい\", \n        \"契約書を送付してほしい\"\n    ]\n    \n  \
          \  # Strip whitespace to ensure a clean comparison\n    cleaned_input =\
          \ user_input.strip() if user_input else \"\"\n    \n    if cleaned_input\
          \ in valid_options:\n        # If the input matches one of the menu options\n\
          \        return {\n            \"is_valid_option\": \"True\",\n        \
          \    \"input_value\": cleaned_input\n        }\n    else:\n        # If\
          \ the input is not in the list (Triggering an error state)\n        return\
          \ {\n            \"is_valid_option\": \"False\",\n            \"input_value\"\
          : cleaned_input\n        }"
        code_language: python3
        desc: 'This node validates the user’s input against a predefined list of menu
          options.

          It trims whitespace, checks whether the input exactly matches one of the
          allowed options, and returns whether the input is valid along with the cleaned
          input value.'
        outputs:
          input_value:
            children: null
            type: string
          is_valid_option:
            children: null
            type: string
        selected: false
        title: OPTION SELECTOR
        type: code
        variables:
        - value_selector:
          - '1765447295919'
          - option_text
          value_type: string
          variable: user_input
      height: 193
      id: '1769520574387'
      position:
        x: 285.3244431531582
        y: 709.5363462373994
      positionAbsolute:
        x: 285.3244431531582
        y: 709.5363462373994
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: contains
            id: b6644cfa-78da-4385-866a-70ab79ebb9c7
            value: 'True'
            varType: string
            variable_selector:
            - '1769520574387'
            - is_valid_option
          - comparison_operator: not empty
            id: 0bd3c676-6fe2-413a-b94f-4485f9330ac7
            value: ''
            varType: string
            variable_selector:
            - conversation
            - option_selected
          id: 'true'
          logical_operator: or
        desc: This node checks whether the previous node marked the input as valid
          (is_valid_option contains "True") and ensures that an option_selected value
          is present. The node proceeds only when the input is either valid or non-empty.
        selected: false
        title: OPTION VALIDATOR
        type: if-else
      height: 259
      id: '1769520770301'
      position:
        x: 559.7797806420332
        y: 819.1841454949157
      positionAbsolute:
        x: 559.7797806420332
        y: 819.1841454949157
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        code: "\ndef main(user_input: str, llm_output: str) -> dict:\n\n    # Determine\
          \ which source to use; prioritize user_input, fallback to llm_output\n \
          \   raw_text = llm_output if llm_output and llm_output.strip() else user_input.strip()\n\
          \    \n    # Clean the text for comparison\n    cleaned_text = raw_text.strip()\
          \ if raw_text else \"\"\n    return {\n        \"input_value\": cleaned_text,\n\
          \    }"
        code_language: python3
        desc: This node selects the effective input text by prioritizing a non-empty
          llm_output and falling back to user_input when necessary. It trims whitespace
          and outputs the final cleaned text as input_value for downstream processing.
        outputs:
          input_value:
            children: null
            type: string
        selected: false
        title: INPUT SEGREGATOR
        type: code
        variables:
        - value_selector:
          - '1769520574387'
          - input_value
          value_type: string
          variable: user_input
        - value_selector:
          - '1769163996583'
          - text
          value_type: string
          variable: llm_output
      height: 161
      id: '1769520919238'
      position:
        x: 1244.3537013305217
        y: 709.5363462373994
      positionAbsolute:
        x: 1244.3537013305217
        y: 709.5363462373994
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: contains
            id: 1dfab1dc-8f54-4d34-9557-8ff295377300
            value: no records
            varType: string
            variable_selector:
            - '17679646511050'
            - error_message
          id: 'true'
          logical_operator: or
        desc: This node routes the flow based on whether the error_message from the
          Button 2 Validation Router node contains the phrase "future" OR "no records".
        selected: false
        title: Rating Output Segregator
        type: if-else
      height: 217
      id: '1770118438200'
      position:
        x: 5613.978073691001
        y: 597.6631982241332
      positionAbsolute:
        x: 5613.978073691001
        y: 597.6631982241332
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: This node updates the workflow’s current_step using the next_step from
          the validation router and clears the selected option to prepare for the
          next user interaction.
        items:
        - input_type: variable
          operation: over-write
          value:
          - '17679646511050'
          - next_step
          variable_selector:
          - conversation
          - current_step
          write_mode: over-write
        selected: false
        title: Button 2 Step Assigner 1
        type: assigner
        version: '2'
      height: 177
      id: '17701185044470'
      position:
        x: 5986.9000291877555
        y: 571.646242438604
      positionAbsolute:
        x: 5986.9000291877555
        y: 571.646242438604
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: empty
            id: d1747792-0f45-49e5-b8a7-81d6d1589768
            value: ''
            varType: string
            variable_selector:
            - conversation
            - building_name
          id: 'true'
          logical_operator: and
        desc: This node validates whether the variable building_name is empty or not.
        selected: false
        title: Building Name Validator
        type: if-else
      height: 169
      id: '1770883708865'
      position:
        x: 2.4599854198783078
        y: 522.1168573414074
      positionAbsolute:
        x: 2.4599854198783078
        y: 522.1168573414074
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        code: "def main(customer_no: str, branch_code: str) -> dict:\n    query =\
          \ f\"KANRI_NO: {customer_no};JIGYOU_UNIQUE_CD: {branch_code}\"\n    return\
          \ {\n        \"query\": query\n    }\n"
        code_language: python3
        desc: This node constructs a formatted query string using customer_no and
          branch_code, combining them into a single query value for downstream lookup
          or validation.
        outputs:
          query:
            children: null
            type: string
        selected: false
        title: Generate Query
        type: code
        variables:
        - value_selector:
          - conversation
          - customer_number_current
          value_type: string
          variable: customer_no
        - value_selector:
          - conversation
          - branch_code_current
          value_type: string
          variable: branch_code
      height: 145
      id: '1770883776278'
      position:
        x: 346.45354841805965
        y: 388.8526770845822
      positionAbsolute:
        x: 346.45354841805965
        y: 388.8526770845822
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        dataset_ids:
        - 01sxClv54TIbzdkn4fT46wILGwRd+h7WPbB3u/kp4eziBmHXzZgSg+8MN7bNqn8V
        desc: Extracts Building Name from KB.
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: weighted_score
          reranking_model:
            model: ''
            provider: ''
          score_threshold: null
          top_k: 10
          weights:
            keyword_setting:
              keyword_weight: 1
            vector_setting:
              embedding_model_name: gemini-embedding-001
              embedding_provider_name: langgenius/gemini/google
              vector_weight: 0
        query_variable_selector:
        - '1770883776278'
        - query
        retrieval_mode: multiple
        selected: false
        title: Building Name Retrieval
        type: knowledge-retrieval
      height: 119
      id: '1770883864645'
      position:
        x: 650.4535484180597
        y: 388.8526770845822
      positionAbsolute:
        x: 650.4535484180597
        y: 388.8526770845822
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        code: "def main(customer_data: list[dict], customer_no: str, branch_code:\
          \ str) -> dict:\n    building_name = \"\"\n    branch_match_found = \"False\"\
          \n    customer_match_found = \"False\"\n    combination_found = \"False\"\
          \n\n    for data in customer_data:\n        field_data = {}\n        content\
          \ = data.get(\"content\", \"\")\n\n        for field in content.split(\"\
          ;\"):\n            if '=' in field:\n                key, value = field.split('=',\
          \ 1)\n            elif ':' in field:\n                key, value = field.split(':',\
          \ 1)\n            else:\n                continue\n            field_data[key.strip()]\
          \ = value.strip()\n        \n        current_branch = field_data.get(\"\
          JIGYOU_UNIQUE_CD\", \"\")\n        current_customer = field_data.get(\"\
          KANRI_NO\", \"\")\n\n        if current_branch == branch_code:\n       \
          \     branch_match_found = \"True\"\n        if current_customer == customer_no:\n\
          \            customer_match_found = \"True\"\n\n        if current_branch\
          \ == branch_code and current_customer == customer_no:\n            building_name\
          \ = field_data.get(\"BUIL_NAME\", \"\")\n            combination_found =\
          \ \"True\"\n            break\n\n    # Determine specific error message\
          \ using String comparisons\n    error_message = \"\"\n    \n    # Corrected\
          \ check: In Python, \"False\" (string) is Truthy, \n    # so we must explicitly\
          \ check for the value \"False\".\n    if combination_found == \"False\"\
          :\n        if branch_match_found == \"False\" and customer_match_found ==\
          \ \"False\":\n            error_message = \"BOTH_FIELDS_MISSING\"\n    \
          \    elif branch_match_found == \"False\":\n            error_message =\
          \ \"BRANCH_CODE_NOT_FOUND\"\n        elif customer_match_found == \"False\"\
          :\n            error_message = \"CUSTOMER_NO_NOT_FOUND\"\n        else:\n\
          \            error_message = \"COMBINATION_NOT_IN_LIST\"\n\n    return {\n\
          \        \"building_name\": building_name,\n        \"is_found\": combination_found,\
          \ \n        \"error_message\": error_message\n    }"
        code_language: python3
        desc: 'This node validates the provided customer_no and branch_code against
          the customer_data list, checks whether each value exists individually and
          as a matching pair, and retrieves the corresponding building_name when a
          valid combination is found.

          '
        outputs:
          building_name:
            children: null
            type: string
          error_message:
            children: null
            type: string
          is_found:
            children: null
            type: string
        selected: false
        title: Building Name Extractor
        type: code
        variables:
        - value_selector:
          - '1770883864645'
          - result
          value_type: array[object]
          variable: customer_data
        - value_selector:
          - conversation
          - customer_number_current
          value_type: string
          variable: customer_no
        - value_selector:
          - conversation
          - branch_code_current
          value_type: string
          variable: branch_code
      height: 177
      id: '1770883957426'
      position:
        x: 954.4535484180597
        y: 388.8526770845822
      positionAbsolute:
        x: 954.4535484180597
        y: 388.8526770845822
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: This node sets the building_name variable by overwriting it with the
          value extracted from the Building Name Extractor node, ensuring the validated
          building name is stored for downstream use.
        items:
        - input_type: variable
          operation: over-write
          value:
          - '1770883957426'
          - building_name
          variable_selector:
          - conversation
          - building_name
          write_mode: over-write
        selected: false
        title: Building Name Assigner
        type: assigner
        version: '2'
      height: 193
      id: '1770884081797'
      position:
        x: 1258.4535484180597
        y: 388.8526770845822
      positionAbsolute:
        x: 1258.4535484180597
        y: 388.8526770845822
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: contains
            id: 80fd3f1f-b9d2-4e06-8f50-ed445558349c
            value: 'False'
            varType: string
            variable_selector:
            - '1770883957426'
            - is_found
          id: 'true'
          logical_operator: and
        desc: This node validates whether Building Name is found or not.
        selected: false
        title: Customer Validation Router
        type: if-else
      height: 169
      id: '1770884123112'
      position:
        x: 1562.4535484180597
        y: 388.8526770845822
      positionAbsolute:
        x: 1562.4535484180597
        y: 388.8526770845822
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: 'This node checks the error_msg value and displays the appropriate customer-related
          error message.

          '
        selected: false
        template: "{% if error_msg == \"CUSTOMER_NO_NOT_FOUND\" or error_msg == \"\
          BOTH_FIELDS_MISSING\"  or error_msg == \"COMBINATION_NOT_IN_LIST\" %}\r\n\
          \    対象のお客様番号がありません。\r\n    お客様情報を確認するため、支社コードを入力してください:\r\n{% else %}\r\
          \n    対象のお客様番号に該当する支社コードがありません。\r\n    お客様情報を確認するため、支社コードを入力してください:\r\n\
          {% endif %}"
        title: Customer Validator
        type: template-transform
        variables:
        - value_selector:
          - '1770883957426'
          - error_message
          value_type: string
          variable: error_msg
      height: 113
      id: '1770884174047'
      position:
        x: 545.2891945122876
        y: 215.22154950934083
      positionAbsolute:
        x: 545.2891945122876
        y: 215.22154950934083
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: This node sets the current_step variable to 1.
        items:
        - input_type: constant
          operation: set
          value: 1
          variable_selector:
          - conversation
          - current_step
          write_mode: over-write
        selected: false
        title: Step Assigner
        type: assigner
        version: '2'
      height: 129
      id: '1770884250697'
      position:
        x: 849.2891945122876
        y: 215.22154950934083
      positionAbsolute:
        x: 849.2891945122876
        y: 215.22154950934083
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        answer: '{{#1770884174047.output#}}'
        desc: This node displays the output of the Customer Validator node.
        selected: false
        title: Customer Error Presenter
        type: answer
        variables: []
      height: 147
      id: '1770884290494'
      position:
        x: 1153.2891945122876
        y: 215.22154950934083
      positionAbsolute:
        x: 1153.2891945122876
        y: 215.22154950934083
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: This node verifies whether schedule_found_list is empty. If no scheduled
          inspections are found, it displays a message to the user along with the
          evaluation buttons.
        selected: false
        template: "{% if not schedule_found_list %}\r\n点検予定のある設備はございません\r\n\r\nお客さまの疑問は解決しましたか？\r\
          \n<div style=\"display:flex; flex-direction: column; gap:10px;\">\r\n  <button\
          \ data-message=\"解決した\" data-variant=\"primary\">解決した</button>\r\n  <button\
          \ data-message=\"解決しなかった\" data-variant=\"primary\">解決しなかった</button>\r\n\
          </div>\r\n{% endif %}"
        title: Button 1 Error Message Handler
        type: template-transform
        variables:
        - value_selector:
          - '1764237455296'
          - matching_gms
          value_type: array[string]
          variable: schedule_found_list
      height: 145
      id: '1770885012113'
      position:
        x: 5180.701682888199
        y: -54.09238300040644
      positionAbsolute:
        x: 5180.701682888199
        y: -54.09238300040644
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: This node takes the error message from validation router and display
          the required message to the user and shows an additional evaluation buttons
          when no records are available.
        selected: false
        template: "{% if \"no applicable customer number\" in error_message %}\r\n\
          対象のお客様番号がありません。\r\nお客様情報を確認するため、支社コードを入力してください:\r\n\r\n{% elif \"no branch\
          \ code\" in error_message %}\r\n対象のお客様番号に該当する支社コードがありません。\r\nお客様情報を確認するため、支社コードを入力してください:\r\
          \n\r\n{% elif \"no records corresponding\" in error_message %}\r\n選択された設備、レポート種別、またはその組み合わせに該当する記録がありません。\r\
          \n<hr/>お客さまの疑問は解決しましたか？\r\n<div style=\"display:flex; flex-direction: column;\
          \ gap:10px;\">\r\n  <button data-message=\"解決した\" data-variant=\"primary\"\
          >解決した</button>\r\n  <button data-message=\"解決しなかった\" data-variant=\"primary\"\
          >解決しなかった</button>\r\n</div>\r\n{% endif %}"
        title: Button 2 Error Message Handler
        type: template-transform
        variables:
        - value_selector:
          - '17679646511050'
          - error_message
          value_type: string
          variable: error_message
      height: 145
      id: '1770885454940'
      position:
        x: 6307.477469131774
        y: 639.16753819439
      positionAbsolute:
        x: 6307.477469131774
        y: 639.16753819439
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: This node reviews the structured output from the State Manager and applies
          conditional logic to generate a clean, user-friendly message whether it's
          a question, an error, or final data based on the current workflow state.
        selected: false
        template: "{% if current_step == 2  and \"顧客番号を入力してください。\" in context%}\r\n\
          \r\n顧客番号を入力してください。\r\n入力例：00001\r\n\r\n{% elif current_step == 1   and \"\
          支店コードが無効です。2桁の数字を入力してください。\\n例: 11\" in context%}\r\n\r\n支店コードが無効です。2桁の数字を入力してください。\\\
          n例: 11\r\n\r\n{% elif current_step == 2  and \"顧客番号が無効です。5桁の数字を入力してください。\\\
          n例: 10001\" in context%}\r\n顧客番号が無効です。5桁の数字を入力してください。\r\n例: 10001\r\n\r\n\
          {% endif %}"
        title: Generic Responser
        type: template-transform
        variables:
        - value_selector:
          - conversation
          - current_step
          value_type: number
          variable: current_step
        - value_selector:
          - '1765447295919'
          - response_text
          value_type: string
          variable: context
      height: 161
      id: '1771324566782'
      position:
        x: 53.0457830924646
        y: 1142.029781246753
      positionAbsolute:
        x: 53.0457830924646
        y: 1142.029781246753
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    viewport:
      x: -1095.6176730004988
      y: 419.5347668092591
      zoom: 0.2928025453047025
