dsl/HR_ReportLine_v4.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: advanced-chat
  name: HR Report-Line v4
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/gemini:0.7.4@5faf411e694e0da130a337347a625a3812b1b7502a0183382d66d92c841bf05a
kind: app
version: 0.3.1
workflow:
  conversation_variables:
  - description: ''
    id: 00b42b24-1e79-460a-ad3b-a337d9140586
    name: user_info_v2
    selector:
    - conversation
    - user_info_v2
    value: ''
    value_type: string
  - description: ''
    id: ac7b8d23-7ae7-442d-8514-9ef423e413f4
    name: registration_form
    selector:
    - conversation
    - registration_form
    value: ''
    value_type: string
  - description: ''
    id: 395aa99b-c5ab-496d-bd0f-d59fa0ab6e98
    name: date_confirmation
    selector:
    - conversation
    - date_confirmation
    value: ''
    value_type: string
  - description: ''
    id: 1880abe3-aac9-41fa-87a8-616b5ad7638d
    name: system_prompt
    selector:
    - conversation
    - system_prompt
    value: ''
    value_type: string
  - description: ''
    id: db5c2736-0e7c-4038-b7d0-cba5652beb56
    name: default_language
    selector:
    - conversation
    - default_language
    value: English
    value_type: string
  - description: ''
    id: 33d006d2-df62-4214-8e34-4723d0602c3e
    name: manager_ldap
    selector:
    - conversation
    - manager_ldap
    value: 0
    value_type: integer
  - description: ''
    id: c47f1f77-bc27-4d20-a6aa-353940d8f655
    name: date
    selector:
    - conversation
    - date
    value: None
    value_type: string
  - description: ''
    id: f5c92435-6c5c-406e-ab81-8a8076100632
    name: current_manager
    selector:
    - conversation
    - current_manager
    value: ''
    value_type: string
  - description: ''
    id: 784918ca-8044-4eef-806e-da18d03d1a51
    name: current_data
    selector:
    - conversation
    - current_data
    value: ''
    value_type: string
  - description: ''
    id: c9dc88a1-314d-4ccd-9148-6b981a09f813
    name: transferee_ids
    selector:
    - conversation
    - transferee_ids
    value: []
    value_type: array[number]
  - description: ''
    id: 08c0067d-24c0-4288-bb3f-a4f8fb5aad97
    name: user_info
    selector:
    - conversation
    - user_info
    value: []
    value_type: array[string]
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 50
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: "Hi,\n      Welcome to the Report Line Change Assistant. Please\
      \ select your preferred language for our conversation.\n\nこんにちは! \nレポートライン変更アシスタントへようこそ。\n\
      会話にご利用の言語を選択してください。"
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions:
    - English
    - 日本語
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: question-classifier
        targetType: llm
      id: 1772536222440-2-1772537005890-target
      selected: false
      source: '1772536222440'
      sourceHandle: '2'
      target: '1772537005890'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: question-classifier
        targetType: code
      id: 1772536222440-1-1773056094185-target
      selected: false
      source: '1772536222440'
      sourceHandle: '1'
      target: '1773056094185'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: if-else
      id: 1773056094185-source-1773058458782-target
      selected: false
      source: '1773056094185'
      sourceHandle: source
      target: '1773058458782'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: 1773058458782-true-1773058477418-target
      selected: false
      source: '1773058458782'
      sourceHandle: 'true'
      target: '1773058477418'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: assigner
      id: 1773058458782-false-1773058171268-target
      selected: false
      source: '1773058458782'
      sourceHandle: 'false'
      target: '1773058171268'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 1772537005890-source-1773086606642-target
      selected: false
      source: '1772537005890'
      sourceHandle: source
      target: '1773086606642'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: if-else
      id: 1772088532495-source-1773120152167-target
      selected: false
      source: '1772088532495'
      sourceHandle: source
      target: '1773120152167'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: question-classifier
      id: 1773120152167-false-1772536222440-target
      selected: false
      source: '1773120152167'
      sourceHandle: 'false'
      target: '1772536222440'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: 1773120152167-d9146085-cfd9-4722-b566-f60cb5826c2b-1773316828205-target
      selected: false
      source: '1773120152167'
      sourceHandle: d9146085-cfd9-4722-b566-f60cb5826c2b
      target: '1773316828205'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: 1773120152167-587047b0-3aed-450b-8584-cace1529a13e-1773316956704-target
      selected: false
      source: '1773120152167'
      sourceHandle: 587047b0-3aed-450b-8584-cace1529a13e
      target: '1773316956704'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: assigner
        targetType: answer
      id: 1773347932828-source-1773315983011-target
      selected: false
      source: '1773347932828'
      sourceHandle: source
      target: '1773315983011'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: assigner
      id: 1773347946071-source-1773347932828-target
      selected: false
      source: '1773347946071'
      sourceHandle: source
      target: '1773347932828'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: assigner
        targetType: answer
      id: 1773348029517-source-1773316015014-target
      selected: false
      source: '1773348029517'
      sourceHandle: source
      target: '1773316015014'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: assigner
      id: 1773348042081-source-1773348029517-target
      selected: false
      source: '1773348042081'
      sourceHandle: source
      target: '1773348029517'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: code
      id: 1773120152167-71acaf60-2996-4214-a6a3-01c74fda36b2-1773347946071-target
      selected: false
      source: '1773120152167'
      sourceHandle: 71acaf60-2996-4214-a6a3-01c74fda36b2
      target: '1773347946071'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: code
      id: 1773120152167-4e60ac93-15b7-4675-b9c2-7c9d688ff137-1773348042081-target
      selected: false
      source: '1773120152167'
      sourceHandle: 4e60ac93-15b7-4675-b9c2-7c9d688ff137
      target: '1773348042081'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: question-classifier
        targetType: if-else
      id: 1772536222440-1773084412804-1773385416802-target
      source: '1772536222440'
      sourceHandle: '1773084412804'
      target: '1773385416802'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: 1773385416802-true-1773084442753-target
      source: '1773385416802'
      sourceHandle: 'true'
      target: '1773084442753'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: 1773385416802-false-1773385435181-target
      source: '1773385416802'
      sourceHandle: 'false'
      target: '1773385435181'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: tool
      id: 1773120152167-3c97f110-4366-4e28-8286-5938b9f3ba5a-1773386949074-target
      source: '1773120152167'
      sourceHandle: 3c97f110-4366-4e28-8286-5938b9f3ba5a
      target: '1773386949074'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: tool
        targetType: code
      id: 1773387315445-source-1772532942904-target
      source: '1773387315445'
      sourceHandle: source
      target: '1772532942904'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: tool
        targetType: code
      id: 1773386949074-source-1773387351196-target
      source: '1773386949074'
      sourceHandle: source
      target: '1773387351196'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: if-else
      id: 1773387351196-source-1773389157884-target
      source: '1773387351196'
      sourceHandle: source
      target: '1773389157884'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: assigner
      id: 1773389157884-true-1773389178403-target
      source: '1773389157884'
      sourceHandle: 'true'
      target: '1773389178403'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1773389157884-false-1773389351724-target
      source: '1773389157884'
      sourceHandle: 'false'
      target: '1773389351724'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 1773389351724-source-1773387336044-target
      source: '1773389351724'
      sourceHandle: source
      target: '1773387336044'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1773389157884-true-1773389351724-target
      source: '1773389157884'
      sourceHandle: 'true'
      target: '1773389351724'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: llm
      id: 1772532942904-source-1773389968314-target
      source: '1772532942904'
      sourceHandle: source
      target: '1773389968314'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 1773389968314-source-1773390572640-target
      source: '1773389968314'
      sourceHandle: source
      target: '1773390572640'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: assigner
      id: 1772532942904-source-1773638608899-target
      source: '1772532942904'
      sourceHandle: source
      target: '1773638608899'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: tool
      id: 1773120152167-true-1773648951875-target
      source: '1773120152167'
      sourceHandle: 'true'
      target: '1773648951875'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: tool
        targetType: code
      id: 1773648951875-source-1773649005708-target
      source: '1773648951875'
      sourceHandle: source
      target: '1773649005708'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: answer
      id: 1773649005708-source-1773649042907-target
      source: '1773649005708'
      sourceHandle: source
      target: '1773649042907'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: if-else
      id: 1773649005708-source-1773649391171-target
      source: '1773649005708'
      sourceHandle: source
      target: '1773649391171'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: assigner
      id: 1773649391171-true-1773120448630-target
      source: '1773649391171'
      sourceHandle: 'true'
      target: '1773120448630'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: code
      id: 1773058458782-false-1774001644446-target
      source: '1773058458782'
      sourceHandle: 'false'
      target: '1774001644446'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: if-else
      id: 1774001644446-source-1774002388305-target
      source: '1774001644446'
      sourceHandle: source
      target: '1774002388305'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: tool
      id: 1774002388305-true-1773387315445-target
      source: '1774002388305'
      sourceHandle: 'true'
      target: '1773387315445'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: 1774002388305-false-1774002434702-target
      source: '1774002388305'
      sourceHandle: 'false'
      target: '1774002434702'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: Start
        type: start
        variables: []
      height: 53
      id: '1772088532495'
      position:
        x: 30
        y: 791
      positionAbsolute:
        x: 30
        y: 791
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "\ndef main(arg1: list) -> dict:\n    return {\n        \"arr_str\"\
          : [str(arg1)]\n    }\n\n    \n"
        code_language: python3
        desc: ''
        outputs:
          arr_str:
            children: null
            type: array[string]
        selected: false
        title: HiNext response formatting
        type: code
        variables:
        - value_selector:
          - '1773387315445'
          - json
          value_type: array[object]
          variable: arg1
      height: 53
      id: '1772532942904'
      position:
        x: 5731
        y: 1105.5
      positionAbsolute:
        x: 5731
        y: 1105.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        classes:
        - id: '1'
          name: 'if its employee code that contains numeric of length 7 digits. Eg
            : 12345678 or string like undefined'
        - id: '2'
          name: 'generic chat message like : ok you can proceed.'
        - id: '1773084412804'
          name: if user confirms to register
        desc: This node classify the user input as Employee LDAP or general chat messages.
        instructions: ''
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          window:
            enabled: true
            size: 75
        model:
          completion_params:
            temperature: 0.5
          mode: chat
          name: gemini-2.5-flash
          provider: langgenius/gemini/google
        query_variable_selector:
        - '1772088532495'
        - sys.query
        selected: true
        title: Orchestrator
        topics: []
        type: question-classifier
        vision:
          enabled: false
      height: 317
      id: '1772536222440'
      position:
        x: 2793
        y: 815
      positionAbsolute:
        x: 2793
        y: 815
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        memory:
          query_prompt_template: '{{#sys.query#}}

            preferred language : {{#conversation.default_language#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 50
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gemini-2.5-pro
          provider: langgenius/gemini/google
        prompt_template:
        - id: 64e11bd7-86f3-428a-8ac1-7408a497f5b6
          role: system
          text: 'user_query {{#sys.query#}}

            employee_details_if_available: {{#conversation.user_info#}}

            {{#conversation.system_prompt#}}

            details of employee:  {{#context#}}


            Always response in user preferred language:{{#conversation.default_language#}}

            '
        selected: false
        title: HR Agent
        type: llm
        variables: []
        vision:
          enabled: false
      height: 89
      id: '1772537005890'
      position:
        x: 3127
        y: 909
      positionAbsolute:
        x: 3127
        y: 909
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "import re\n\ndef main(user_input: str, transferee_ids: list, language:\
          \ str):\n    # Define response templates\n    messages = {\n        'english':\
          \ {\n            'undefined': \"Please enter a transferee ID\",\n      \
          \      'single_input': \"please enter each transferee at once\",\n     \
          \       'invalid_id': \"user id is invalid, please enter valid 8 digit ldap\"\
          ,\n            'exists': \"user already existed\",\n            'success':\
          \ \"Success\"\n        },\n        'japanese': {\n            'undefined':\
          \ \"譲受人IDを入力してください\",\n            'single_input': \"各譲受人を一度に入力してください\"\
          ,\n            'invalid_id': \"ユーザーIDが無効です。有効な8桁のLDAPを入力してください\",\n    \
          \        'exists': \"ユーザーは既に存在します\",\n            'success': \"成功\"\n  \
          \      }\n    }\n\n    # Normalize language input\n    lang = language.lower()\
          \ if language.lower() in messages else 'english'\n    msg = messages[lang]\n\
          \n    # --- NEW CHECK STARTS HERE ---\n    # Check if the input contains\
          \ \"undefined\" before doing regex work\n    if 'undefined' in user_input.lower():\n\
          \        return {\n            \"id\": -1,\n            \"result\": msg['undefined']\n\
          \        }\n    # --- NEW CHECK ENDS HERE ---\n\n    extracted = re.findall(r'\\\
          d+', user_input)\n    \n    if len(extracted) != 1:\n        return {\n\
          \            \"result\": msg['single_input'], \n            \"id\": -1\n\
          \        }\n\n    user_id = extracted[0]\n    \n    # Note: Logic check\
          \ for 7 vs 8 digits\n    if len(user_id) != 7:\n        return {\n     \
          \       \"result\": msg['invalid_id'], \n            \"id\": -1\n      \
          \  }\n\n    user_id_int = int(user_id)\n    if user_id_int in transferee_ids:\n\
          \        return {\n            \"result\": msg['exists'],\n            \"\
          id\": -1\n        }\n\n    return {\n        \"result\": msg['success'],\n\
          \        \"id\": user_id_int\n    }"
        code_language: python3
        desc: ''
        outputs:
          id:
            children: null
            type: number
          result:
            children: null
            type: string
        selected: false
        title: Employee LDAP extractor.
        type: code
        variables:
        - value_selector:
          - sys
          - query
          value_type: string
          variable: user_input
        - value_selector:
          - conversation
          - transferee_ids
          value_type: array[number]
          variable: transferee_ids
        - value_selector:
          - conversation
          - default_language
          value_type: string
          variable: language
      height: 53
      id: '1773056094185'
      position:
        x: 3127
        y: 1081.5
      positionAbsolute:
        x: 3127
        y: 1081.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: This node append employee LDAP in the list
        items:
        - input_type: variable
          operation: append
          value:
          - '1773056094185'
          - id
          variable_selector:
          - conversation
          - transferee_ids
          write_mode: over-write
        selected: false
        title: Append Employee LDAP
        type: assigner
        version: '2'
      height: 129
      id: '1773058171268'
      position:
        x: 4463
        y: 918.5
      positionAbsolute:
        x: 4463
        y: 918.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: '='
            id: 919db810-2eb1-4c73-be80-1d2e370db8c6
            value: '-1'
            varType: number
            variable_selector:
            - '1773056094185'
            - id
          id: 'true'
          logical_operator: and
        desc: ''
        selected: false
        title: IF/ELSE
        type: if-else
      height: 125
      id: '1773058458782'
      position:
        x: 3461
        y: 1065.5
      positionAbsolute:
        x: 3461
        y: 1065.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '{{#1773056094185.result#}}'
        desc: ''
        selected: false
        title: Employee LDAP Extractor Output
        type: answer
        variables: []
      height: 103
      id: '1773058477418'
      position:
        x: 4129
        y: 936
      positionAbsolute:
        x: 4129
        y: 936
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: congratulations  registration done successfully
        desc: ''
        selected: false
        title: Confirmation-eng
        type: answer
        variables: []
      height: 117
      id: '1773084442753'
      position:
        x: 3795
        y: 1218
      positionAbsolute:
        x: 3795
        y: 1218
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '{{#1772537005890.text#}}'
        desc: ''
        selected: false
        title: Generic chat output
        type: answer
        variables: []
      height: 103
      id: '1773086606642'
      position:
        x: 3461
        y: 921.5
      positionAbsolute:
        x: 3461
        y: 921.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        cases:
        - case_id: 71acaf60-2996-4214-a6a3-01c74fda36b2
          conditions:
          - comparison_operator: is
            id: 3995b446-a235-4f1c-baad-a537208da2d3
            value: English
            varType: string
            variable_selector:
            - sys
            - query
          - comparison_operator: '='
            id: 5748df6e-ad78-469e-8fd1-542dc51e9836
            value: '0'
            varType: number
            variable_selector:
            - sys
            - dialogue_count
          id: 71acaf60-2996-4214-a6a3-01c74fda36b2
          logical_operator: and
        - case_id: 4e60ac93-15b7-4675-b9c2-7c9d688ff137
          conditions:
          - comparison_operator: is
            id: f069f164-1e35-435e-b500-9d0f9120abc7
            value: 日本語
            varType: string
            variable_selector:
            - sys
            - query
          - comparison_operator: '='
            id: 63680faf-dbaa-48f0-bf7b-0abeeb273a69
            value: '0'
            varType: number
            variable_selector:
            - sys
            - dialogue_count
          id: 4e60ac93-15b7-4675-b9c2-7c9d688ff137
          logical_operator: and
        - case_id: d9146085-cfd9-4722-b566-f60cb5826c2b
          conditions:
          - comparison_operator: is
            id: f2b26b21-9fdd-4a89-b7c9-551a7d4b3a7c
            value: English
            varType: string
            variable_selector:
            - sys
            - query
          - comparison_operator: '>'
            id: 10fb306c-fb17-4ab3-b9ab-af00bfbbeca0
            value: '0'
            varType: number
            variable_selector:
            - sys
            - dialogue_count
          id: d9146085-cfd9-4722-b566-f60cb5826c2b
          logical_operator: and
        - case_id: 587047b0-3aed-450b-8584-cace1529a13e
          conditions:
          - comparison_operator: is
            id: 99df59f9-14f3-4c76-ae00-bcf646cca003
            value: 日本語
            varType: string
            variable_selector:
            - sys
            - query
          - comparison_operator: '>'
            id: 16835625-b97d-4b64-a477-58e9ff28a80a
            value: '0'
            varType: number
            variable_selector:
            - sys
            - dialogue_count
          id: 587047b0-3aed-450b-8584-cace1529a13e
          logical_operator: and
        - case_id: 'true'
          conditions:
          - comparison_operator: not empty
            id: 6e28af2b-0b6b-4ab1-945e-09d2e8a4eced
            value: ''
            varType: string
            variable_selector:
            - sys
            - query
          - comparison_operator: is
            id: cc02ba31-9327-4136-a7ee-49e9e79a43a1
            value: None
            varType: string
            variable_selector:
            - conversation
            - date
          id: 'true'
          logical_operator: and
        - case_id: 3c97f110-4366-4e28-8286-5938b9f3ba5a
          conditions:
          - comparison_operator: not empty
            id: 04e300b4-2ab6-4988-86b3-7b7c12bfdb25
            value: ''
            varType: string
            variable_selector:
            - sys
            - query
          - comparison_operator: '='
            id: 3d690320-8396-4739-afd4-ba1544926b20
            value: '0'
            varType: number
            variable_selector:
            - conversation
            - manager_ldap
          id: 3c97f110-4366-4e28-8286-5938b9f3ba5a
          logical_operator: and
        desc: ''
        selected: false
        title: DATE vs LDAP
        type: if-else
      height: 521
      id: '1773120152167'
      position:
        x: 364
        y: 791
      positionAbsolute:
        x: 364
        y: 791
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        items:
        - input_type: variable
          operation: over-write
          value:
          - '1773649005708'
          - date
          variable_selector:
          - conversation
          - date
          write_mode: over-write
        selected: false
        title: assign date
        type: assigner
        version: '2'
      height: 85
      id: '1773120448630'
      position:
        x: 3127
        y: 429
      positionAbsolute:
        x: 3127
        y: 429
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: 'Your preferred language is now English.


          Start inputting report line changes (non-salaried employees). When is the
          transfer date?

          '
        desc: ''
        selected: false
        title: Greetings-Eng
        type: answer
        variables: []
      height: 149
      id: '1773315983011'
      position:
        x: 1457
        y: 274.5
      positionAbsolute:
        x: 1457
        y: 274.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: 'ご希望の言語が日本語に設定されました。


          レポートライン変更（非月俸者）入力を開始します。

          異動日はいつですか？'
        desc: ''
        selected: false
        title: Greetings-Jap
        type: answer
        variables: []
      height: 149
      id: '1773316015014'
      position:
        x: 1791
        y: 457.5
      positionAbsolute:
        x: 1791
        y: 457.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: Language settings cannot be changed during an active conversation.
          Please continue in the current language or start a new chat to switch.
        desc: ''
        selected: false
        title: Mid-process-language-warning-eng
        type: answer
        variables: []
      height: 149
      id: '1773316828205'
      position:
        x: 1457
        y: 646.5
      positionAbsolute:
        x: 1457
        y: 646.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: 「申し訳ございませんが、会話の途中で言語を変更することはできません。現在の言語で続けていただくか、新しいチャットを開始してください。」
        desc: ''
        selected: false
        title: Mid-process-language-warning-jap
        type: answer
        variables: []
      height: 149
      id: '1773316956704'
      position:
        x: 1791
        y: 646.5
      positionAbsolute:
        x: 1791
        y: 646.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        items:
        - input_type: variable
          operation: over-write
          value:
          - '1773347946071'
          - result
          variable_selector:
          - conversation
          - system_prompt
          write_mode: over-write
        - input_type: variable
          operation: over-write
          value:
          - '1773347946071'
          - date_confirmation
          variable_selector:
          - conversation
          - date_confirmation
          write_mode: over-write
        - input_type: variable
          operation: over-write
          value:
          - sys
          - query
          variable_selector:
          - conversation
          - default_language
          write_mode: over-write
        selected: false
        title: Variable Assigner 7
        type: assigner
        version: '2'
      height: 137
      id: '1773347932828'
      position:
        x: 1123
        y: 274.5
      positionAbsolute:
        x: 1123
        y: 274.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "\ndef main() -> dict:\n    return {\n        \"result\": \"\"\"# ROLE\
          \ \nYou are the Hitachi HR Reporting Line Change Assistant (AI Agent). Your\
          \ goal is to assist DSS Managers and General Affairs in registering reporting\
          \ line changes for non-salaried employees in HiNext.\n\n# BUSINESS LOGIC\
          \ & CONSTRAINTS\n- Target Audience: Non-salaried employees only. Validate\
          \ status via employee master data.\n- Access Control: Verify manager authority;\
          \ out-of-scope changes (e.g., department head changing a section manager)\
          \ are not permitted.\n- Blackout Periods: If the current date is within\
          \ a General Affairs bulk registration period, inform the user that changes\
          \ are currently disabled.\n- Validation: Reject past or non-existent dates.\
          \ If invalid, say: \"This is a past date. Please enter a valid date.\"\n\
          \n# CONVERSATIONAL STRINGS\n- GREETING: \"Hi, Welcome to the Report Line\
          \ Change Assistant. Please select your preferred language for our conversation\"\
          \n- INITIATION: \"Start inputting report line changes (non-salaried employees).\
          \ When is the transfer date?\"\n- SVO_QUERY: \"What is your new supervisory\
          \ organization? Please enter your LDAP. Is it okay if I transfer to [Org\
          \ Name]?\"\n- TRANSFEREE_QUERY: \"Who are you transferring? Enter your employee's\
          \ LDAP\"\n- MULTI_ADD: \"Are there any other people you'd like to transfer?\
          \ Please enter your employee LDAP\"\n- MULTI_SVO: \"There are multiple transfer\
          \ destination organizations. 1. [Org A] 2. [Org B]. Which one would you\
          \ like?\"\n- CONFLICT: \"Transferee [Name] cannot be registered because\
          \ he belongs to multiple organizations. Please contact HR.\"\n- REVIEW_SUMMARY:\
          \ \"The registration details are as follows. Transfer Date: [Date], Transferred\
          \ Organization: [Org], Transferee: [List]\"\n- CONFIRM_ASK: \"Are you sure\
          \ you want to register?\"\n- PROCESSING: \"Processing request-for-Organization\
          \ [Org]. Checking transferee records... Processing your request.\"\n- SUCCESS:\
          \ \"Thank you for your confirmation, Registration Done\"\n\n# PROCEDURAL\
          \ STEPS\n1. Initiation: Greet and immediately verify if the system is in\
          \ a Blackout period.\n2. Data Collection: Collect SVO and Transferee LDAPs.\
          \ Validate that the employee is \"Non-Salaried.\"\n3. Review & Edit: Display\
          \ the summary. If the user says \"No,\" ask \"Where do you want to fix it?\"\
          \ and allow targeted editing of the Date, SVO, or Transferee list.\n4. Execution:\
          \ Upon \"OK,\" register via HiNext API, update the registration file, and\
          \ send confirmation emails to the New Manager, Old Manager, and General\
          \ Affairs.\"\"\",\n\"date_confirmation\":\"What is your new supervisory\
          \ organization? Please enter your LDAP.\"\n    }\n"
        code_language: python3
        desc: ''
        outputs:
          date_confirmation:
            children: null
            type: string
          result:
            children: null
            type: string
        selected: false
        title: eng_lang_var_update
        type: code
        variables: []
      height: 53
      id: '1773347946071'
      position:
        x: 789
        y: 274.5
      positionAbsolute:
        x: 789
        y: 274.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        items:
        - input_type: variable
          operation: over-write
          value:
          - '1773348042081'
          - result
          variable_selector:
          - conversation
          - system_prompt
          write_mode: over-write
        - input_type: variable
          operation: over-write
          value:
          - '1773348042081'
          - date_confirmation
          variable_selector:
          - conversation
          - date_confirmation
          write_mode: over-write
        - input_type: variable
          operation: over-write
          value:
          - sys
          - query
          variable_selector:
          - conversation
          - default_language
          write_mode: over-write
        selected: false
        title: Variable Assigner 8
        type: assigner
        version: '2'
      height: 137
      id: '1773348029517'
      position:
        x: 1457
        y: 463.5
      positionAbsolute:
        x: 1457
        y: 463.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "\ndef main() -> dict:\n    return {\n        \"result\": \"\"\"# ROLE\
          \ \nYou are the Hitachi HR Reporting Line Change Assistant (AI Agent). Internal\
          \ logic is English; user-facing interaction is strictly Japanese using the\
          \ strings provided.\n\n# BUSINESS LOGIC & CONSTRAINTS\n- Target: 非月給者 (Non-salaried\
          \ employees).\n- Validation: 過去の日付は不可 (No past dates).\n- Access Control:\
          \ 権限外の操作は拒否し、ユーザーに通知する。\n- Conflict Rule: 複数組織所属者はボット経由での登録不可。\n\n# CONVERSATIONAL\
          \ STRINGS (JAPANESE)\n- GREETING: \"こんにちは! レポートライン変更アシスタントへようこそ。会話にご利用の言語を選択してください。\"\
          \n- INITIATION: \"レポートライン変更(非月給者)入力を開始します。異動日はいつですか?\"\n- SVO_QUERY: \"\
          異動先の監督組織はどこですか? ご自身のLDAPを入れてください。異動先組織はAAAAAAAAでいいですか?\"\n- TRANSFEREE_QUERY:\
          \ \"誰を異動させますか? 従業員のLDAPを入れてください\"\n- MULTI_ADD: \"他に異動させる人はいますか? 従業員のLDAPを入れてください。\"\
          \n- MULTI_SVO: \"異動先組織が複数存在します。1. [Org A] 2. [Org B] どちらにしますか?\"\n- CONFLICT:\
          \ \"異動者は複数組織に属しているため登録できません。HRに連絡してください。\"\n- REVIEW_SUMMARY: \"登録内容は以下の通りです。\
          \ 異動日:[Date] 異動先組織:[Org] 異動者:[List]\"\n- CONFIRM_ASK: \"登録してよろしいですか?\"\n\
          - PROCESSING: \"処理中\"\n- SUCCESS: \"ご確認ありがとうございます。登録が完了になりました!\"\n\n# PROCEDURAL\
          \ STEPS\n1. Initiation: 挨拶後、一括登録期間（ブラックアウト）を確認する。\n2. Review/Fix: ユーザーが確認画面で「いいえ」を選択した場合、「どこを修正しますか?」と尋ね、項目の再入力を許可する。\n\
          3. System Action: 最終確認後、HiNext APIを実行し、登録リストを更新。新旧マネージャーおよび人事総務にメールを送信する。\"\
          \"\",\n\"date_confirmation\":\"異動先の監督組織はどこですか？ご自身のLDAPを入れてください。\"\n    }\n"
        code_language: python3
        desc: ''
        outputs:
          date_confirmation:
            children: null
            type: string
          result:
            children: null
            type: string
        selected: false
        title: jap_lang_var_update
        type: code
        variables: []
      height: 53
      id: '1773348042081'
      position:
        x: 1123
        y: 499.5
      positionAbsolute:
        x: 1123
        y: 499.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: 43d97207-5937-42d3-b7b9-d7ce6abcd8e6
            value: English
            varType: string
            variable_selector:
            - conversation
            - default_language
          id: 'true'
          logical_operator: and
        desc: ''
        selected: false
        title: Confirmation eng-jap
        type: if-else
      height: 125
      id: '1773385416802'
      position:
        x: 3127
        y: 1342.5
      positionAbsolute:
        x: 3127
        y: 1342.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: おめでとうございます。登録は正常に完了しました。
        desc: ''
        selected: false
        title: Confirmation-jap
        type: answer
        variables: []
      height: 117
      id: '1773385435181'
      position:
        x: 4129
        y: 1368.5
      positionAbsolute:
        x: 4129
        y: 1368.5
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: To check the manager ldap
        is_team_authorization: true
        output_schema: null
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: ''
            ja_JP: ''
            pt_BR: ''
            zh_Hans: ''
          label:
            en_US: EMP_LDAP
            ja_JP: EMP_LDAP
            pt_BR: EMP_LDAP
            zh_Hans: EMP_LDAP
          llm_description: ''
          max: null
          min: null
          name: EMP_LDAP
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: ''
            ja_JP: ''
            pt_BR: ''
            zh_Hans: ''
          label:
            en_US: manager_ldap
            ja_JP: manager_ldap
            pt_BR: manager_ldap
            zh_Hans: manager_ldap
          llm_description: ''
          max: null
          min: null
          name: manager_ldap
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        params:
          EMP_LDAP: ''
          manager_ldap: ''
        provider_id: hinext_mcp_mock_v2
        provider_name: hinext_mcp_mock_v2
        provider_type: mcp
        selected: false
        title: HR-006-FetchData
        tool_configurations: {}
        tool_description: This workflow is used to fetch the details using the manager
          ID
        tool_label: HR-006-FetchData
        tool_name: HR-006-FetchData
        tool_node_version: '2'
        tool_parameters:
          EMP_LDAP:
            type: mixed
            value: null
          manager_ldap:
            type: mixed
            value: '{{#sys.query#}}'
        type: tool
      height: 113
      id: '1773386949074'
      position:
        x: 2459
        y: 544
      positionAbsolute:
        x: 2459
        y: 544
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        is_team_authorization: true
        output_schema: null
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: ''
            ja_JP: ''
            pt_BR: ''
            zh_Hans: ''
          label:
            en_US: EMP_LDAP
            ja_JP: EMP_LDAP
            pt_BR: EMP_LDAP
            zh_Hans: EMP_LDAP
          llm_description: ''
          max: null
          min: null
          name: EMP_LDAP
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: ''
            ja_JP: ''
            pt_BR: ''
            zh_Hans: ''
          label:
            en_US: manager_ldap
            ja_JP: manager_ldap
            pt_BR: manager_ldap
            zh_Hans: manager_ldap
          llm_description: ''
          max: null
          min: null
          name: manager_ldap
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        params:
          EMP_LDAP: ''
          manager_ldap: ''
        provider_id: hinext_mcp_mock_v2
        provider_name: hinext_mcp_mock_v2
        provider_type: mcp
        selected: false
        title: HR-006-FetchData
        tool_configurations: {}
        tool_description: This workflow is used to fetch the details using the manager
          ID
        tool_label: HR-006-FetchData
        tool_name: HR-006-FetchData
        tool_node_version: '2'
        tool_parameters:
          EMP_LDAP:
            type: mixed
            value: '{{#1774001644446.result#}}'
          manager_ldap:
            type: mixed
            value: null
        type: tool
      height: 85
      id: '1773387315445'
      position:
        x: 5612.596184588822
        y: 879.5386142290229
      positionAbsolute:
        x: 5612.596184588822
        y: 879.5386142290229
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '{{#1773389351724.text#}}'
        desc: ''
        selected: false
        title: managers ldap output
        type: answer
        variables: []
      height: 103
      id: '1773387336044'
      position:
        x: 4463
        y: 594
      positionAbsolute:
        x: 4463
        y: 594
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "def main(manager_data: list,query:str ) -> dict:\n    # 1. Access the\
          \ first element of the list\n    first_item = manager_data[0]\n    \n  \
          \  # 2. Access the 'result' dictionary\n    result_obj = first_item[\"result\"\
          ]\n    \n    # 3. Extract the specific values\n    exists_status = result_obj[\"\
          exists\"]\n    message_text = result_obj[\"message\"]\n     \n    if exists_status\
          \ == True:\n        return {\n            \"result\": message_text,\n  \
          \          \"status\": int(query)\n        }\n    else:\n        return{\n\
          \            \"result\" :message_text,\n            \"status\": -1\n   \
          \     }"
        code_language: python3
        desc: ''
        outputs:
          result:
            children: null
            type: string
          status:
            children: null
            type: number
        selected: false
        title: Manager response parser
        type: code
        variables:
        - value_selector:
          - '1773386949074'
          - json
          value_type: array[object]
          variable: manager_data
        - value_selector:
          - sys
          - query
          value_type: string
          variable: query
      height: 53
      id: '1773387351196'
      position:
        x: 2793
        y: 610
      positionAbsolute:
        x: 2793
        y: 610
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: ≠
            id: a71bc0f5-7293-4ff7-a6df-4a2d99789d1c
            value: '-1'
            varType: number
            variable_selector:
            - '1773387351196'
            - status
          id: 'true'
          logical_operator: and
        desc: ''
        selected: false
        title: IF/ELSE 7
        type: if-else
      height: 125
      id: '1773389157884'
      position:
        x: 3127
        y: 554
      positionAbsolute:
        x: 3127
        y: 554
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        items:
        - input_type: variable
          operation: over-write
          value:
          - '1773387351196'
          - status
          variable_selector:
          - conversation
          - manager_ldap
          write_mode: over-write
        selected: false
        title: Variable Assigner 6
        type: assigner
        version: '2'
      height: 85
      id: '1773389178403'
      position:
        x: 3795
        y: 461.5
      positionAbsolute:
        x: 3795
        y: 461.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        memory:
          query_prompt_template: '{{#sys.query#}}

            {{#1773387351196.result#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 50
        model:
          completion_params:
            temperature: 0.2
          mode: chat
          name: gemini-2.5-pro
          provider: langgenius/gemini/google
        prompt_template:
        - id: 76eda54b-f37f-4837-8b56-05f20a591361
          role: system
          text: "Return same result you recieve {{#1773387351196.result#}}  as it\
            \ is in the user preferred language {{#conversation.default_language#}}\n\
            \nand say \n\nenglish : Who are you transferring? Enter your employee's\
            \ LDAP.\njapanese : 誰を異動させますか？\n従業員のLDAPを入れてください。\n\nbased on {{#conversation.default_language#}}\
            \ language."
        selected: false
        title: manager ldap
        type: llm
        variables: []
        vision:
          enabled: false
      height: 89
      id: '1773389351724'
      position:
        x: 4129
        y: 594
      positionAbsolute:
        x: 4129
        y: 594
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#1772532942904.arr_str#}}

            {{#conversation.user_info#}}

            {{#conversation.default_language#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 50
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gemini-2.5-pro
          provider: langgenius/gemini/google
        prompt_template:
        - id: da97c7b3-563c-4423-836f-9290829d60af
          role: system
          text: "You are expert in reader API data returned from HiNext API. It returns\
            \ data of transferee and based on it you make decision as follow based\
            \ on count of `Current Organization`\n\nRule 1:\nif an employee belongs\
            \ to single organization return the result like:\n# Expected Output\n\"\
            Name\": \"A1\",\n\"Reporting Manager\": \"2000001\",\n\"Current Organization\"\
            : \"Hitachi 2\",\n\"SVO ID\": \"223456\",\nTransferee data successfully\
            \ retrieved. Would you like to add another transferee or confirm to register?\n\
            \n<div style=\"display: flex; flex-direction: column; gap: 12px; width:\
            \ 100%; max-width: 500px;\">\n  \n  <form style=\"display: flex; gap:\
            \ 8px; width: 100%; margin: 0;\">\n    <input \n      type=\"text\" \n\
            \      name=\"answer\" \n      placeholder=\"Enter Transferee Id\" \n\
            \      style=\"flex-grow: 1; padding: 8px; border: 1px solid #ccc; border-radius:\
            \ 4px; min-width: 0;\"\n    /> \n    <button \n      type=\"button\"\n\
            \      data-variant=\"primary\" \n      data-message-template=\"{answer}\"\
            \n      style=\"white-space: nowrap; padding: 8px 16px;\"\n    >\n   \
            \   Add Another\n    </button> \n  </form>\n  <button data-message=\"\
            Confirm\" data-variant=\"primary\">Confirm & Register</button>\n\n\n</div>\n\
            \n\nRule 2: if Current Organization has more than one then ask the user\
            \ to connect with HR\n\"Name\": \"A1\",\n\"Reporting Manager\": \"2000001\"\
            ,\n\"Current Organization\": \"Hitachi 2\", \"Hitachi 3\"\n\"SVO ID\"\
            : \"223456\", \"223457\"\nThis belongs to multiple organisation. Please\
            \ connect with HR department\"\n\n\n\n# You must show all the previous\
            \ records in the same manner\n#Edge cases, if the user enter two transferee\
            \ and one has single current organization and other has more than one\
            \ current organization, then request the user to proceed with transferee\
            \ having single and contact HR for those having mutliple organization.\
            \ Always be polite and talk less.\n\n## Always response in preferred language{{#conversation.default_language#}}\
            \ (do not change data recieved from API)\n"
        selected: false
        title: Employee LDAP
        type: llm
        variables: []
        vision:
          enabled: false
      height: 89
      id: '1773389968314'
      position:
        x: 6065
        y: 1105.5
      positionAbsolute:
        x: 6065
        y: 1105.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '{{#1773389968314.text#}}'
        desc: ''
        selected: false
        title: Employee ldap output
        type: answer
        variables: []
      height: 103
      id: '1773390572640'
      position:
        x: 6399
        y: 1105.5
      positionAbsolute:
        x: 6399
        y: 1105.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        items:
        - input_type: variable
          operation: append
          value:
          - '1773056094185'
          - result
          variable_selector:
          - conversation
          - user_info
          write_mode: over-write
        selected: false
        title: Variable Assigner 6
        type: assigner
        version: '2'
      height: 85
      id: '1773638608899'
      position:
        x: 6065
        y: 1234.5
      positionAbsolute:
        x: 6065
        y: 1234.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        is_team_authorization: true
        output_schema: null
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: ''
            ja_JP: ''
            pt_BR: ''
            zh_Hans: ''
          label:
            en_US: date_text
            ja_JP: date_text
            pt_BR: date_text
            zh_Hans: date_text
          llm_description: ''
          max: null
          min: null
          name: date_text
          options: []
          placeholder:
            en_US: ''
            ja_JP: ''
            pt_BR: ''
            zh_Hans: ''
          precision: null
          required: true
          scope: null
          template: null
          type: string
        params:
          date_text: ''
        provider_id: fab33873-9586-4422-8181-d2a9cce02d7b
        provider_name: date_validator_HR006
        provider_type: workflow
        selected: false
        title: date_validator_HR006
        tool_configurations: {}
        tool_description: used to validate date
        tool_label: date_validator_HR006
        tool_name: date_validator
        tool_node_version: '2'
        tool_parameters:
          date_text:
            type: mixed
            value: '{{#sys.query#}}'
          default_lang:
            type: mixed
            value: '{{#conversation.default_language#}}'
        type: tool
      height: 53
      id: '1773648951875'
      position:
        x: 2125
        y: 274.5
      positionAbsolute:
        x: 2125
        y: 274.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "\ndef main(date_res:list) -> dict:\n    date_data = date_res[0]\n \
          \   return {\n        \"state\": date_data[\"state\"],\n        \"date\"\
          : date_data[\"date\"],\n        \"text\": date_data[\"text\"]\n        \n\
          \    }\n"
        code_language: python3
        desc: ''
        outputs:
          date:
            children: null
            type: string
          state:
            children: null
            type: string
          text:
            children: null
            type: string
        selected: false
        title: date output format
        type: code
        variables:
        - value_selector:
          - '1773648951875'
          - json
          value_type: array[object]
          variable: date_res
      height: 53
      id: '1773649005708'
      position:
        x: 2459
        y: 274.5
      positionAbsolute:
        x: 2459
        y: 274.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '{{#1773649005708.text#}}'
        desc: ''
        selected: false
        title: date output
        type: answer
        variables: []
      height: 103
      id: '1773649042907'
      position:
        x: 2793
        y: 285
      positionAbsolute:
        x: 2793
        y: 285
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: 540bd7a7-455d-423b-859e-58dfa2e9bec4
            value: PASS
            varType: string
            variable_selector:
            - '1773649005708'
            - state
          id: 'true'
          logical_operator: and
        desc: ''
        selected: false
        title: udpate date
        type: if-else
      height: 125
      id: '1773649391171'
      position:
        x: 2793
        y: 429
      positionAbsolute:
        x: 2793
        y: 429
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "import re\n\ndef main(arg1: str) -> dict:\n    # Handle empty input\n\
          \    if not arg1 or not isinstance(arg1, str):\n        return {\n     \
          \       \"result\": \"Please enter a valid Transferee Id\",\n          \
          \  \"is_valid\": \"false\"\n        }\n\n    # 1. Strip the \"answer:\"\
          \ or \"id:\" prefix if present\n    # This splits by colon and takes the\
          \ last part\n    clean_input = arg1.split(':')[-1].strip()\n\n    # 2. Split\
          \ by whitespace to see how many IDs were entered\n    # This catches \"\
          100001 100002\"\n    id_list = clean_input.split()\n\n    # 3. Validation\
          \ Logic\n    if len(id_list) > 1:\n        return {\n            \"result\"\
          : \"Please enter one Transferee Id\",\n            \"is_valid\": \"false\"\
          \n        }\n    \n    if len(id_list) == 0:\n        return {\n       \
          \     \"result\": \"Please enter a Transferee Id\",\n            \"is_valid\"\
          : \"false\"\n        }\n\n    # 4. Final Clean Output\n    # This returns\
          \ just the first (and only) ID found\n    return {\n        \"result\":\
          \ id_list[0],\n        \"is_valid\": \"true\"\n    }"
        code_language: python3
        desc: This is used to extract the transferee id from the add another button.
        outputs:
          is_valid:
            children: null
            type: string
          result:
            children: null
            type: string
        selected: false
        title: TranfereeId Extractor
        type: code
        variables:
        - value_selector:
          - sys
          - query
          value_type: string
          variable: arg1
      height: 97
      id: '1774001644446'
      position:
        x: 4797
        y: 1105.5
      positionAbsolute:
        x: 4797
        y: 1105.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: contains
            id: 7faa97e9-117b-48bf-bf9d-b47b7ede4213
            value: 'true'
            varType: string
            variable_selector:
            - '1774001644446'
            - is_valid
          id: 'true'
          logical_operator: and
        desc: ''
        selected: false
        title: IF/ELSE 6
        type: if-else
      height: 125
      id: '1774002388305'
      position:
        x: 5312.596184588822
        y: 879.5386142290229
      positionAbsolute:
        x: 5312.596184588822
        y: 879.5386142290229
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '{{#1774001644446.result#}}'
        desc: ''
        selected: false
        title: Answer 12
        type: answer
        variables: []
      height: 103
      id: '1774002434702'
      position:
        x: 5430.168643782896
        y: 1204.6235171628284
      positionAbsolute:
        x: 5430.168643782896
        y: 1204.6235171628284
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: -800.9328032327776
      y: 73.09117372083307
      zoom: 0.25
