dsl/Logger_Test1.yml
{"data": "app:\n  description: ''\n  icon: \ud83e\udd16\n  icon_background: '#FFEAD5'\n  mode: workflow\n  name: Logger_Test1\n  use_icon_as_answer_icon: false\ndependencies: []\nkind: app\nversion: 0.3.1\nworkflow:\n  conversation_variables: []\n  environment_variables: []\n  features:\n    file_upload:\n      allowed_file_extensions:\n      - .JPG\n      - .JPEG\n      - .PNG\n      - .GIF\n      - .WEBP\n      - .SVG\n      allowed_file_types:\n      - image\n      allowed_file_upload_methods:\n      - local_file\n      - remote_url\n      enabled: false\n      fileUploadConfig:\n        audio_file_size_limit: 50\n        batch_count_limit: 5\n        file_size_limit: 50\n        image_file_size_limit: 10\n        video_file_size_limit: 100\n        workflow_file_upload_limit: 10\n      image:\n        enabled: false\n        number_limits: 3\n        transfer_methods:\n        - local_file\n        - remote_url\n      number_limits: 3\n    opening_statement: ''\n    retriever_resource:\n      enabled: true\n    sensitive_word_avoidance:\n      enabled: false\n    speech_to_text:\n      enabled: false\n    suggested_questions: []\n    suggested_questions_after_answer:\n      enabled: false\n    text_to_speech:\n      enabled: false\n      language: ''\n      voice: ''\n  graph:\n    edges:\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: start\n        targetType: http-request\n      id: 1777289486857-source-1777289654259-target\n      source: '1777289486857'\n      sourceHandle: source\n      target: '1777289654259'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: http-request\n        targetType: end\n      id: 1777289654259-source-1777289916722-target\n      source: '1777289654259'\n      sourceHandle: source\n      target: '1777289916722'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    nodes:\n    - data:\n        desc: ''\n        selected: false\n        title: Start\n        type: start\n        variables:\n        - label: log_level\n          max_length: 48\n          options:\n          - INFO\n          - DEBUG\n          - WARN\n          - ERROR\n          required: true\n          type: select\n          variable: log_level\n        - label: mode\n          max_length: 48\n          options:\n          - Verbose\n          - Summary\n          required: true\n          type: select\n          variable: mode\n        - label: test_message\n          max_length: 48\n          options: []\n          required: true\n          type: text-input\n          variable: test_message\n      height: 141\n      id: '1777289486857'\n      position:\n        x: 80\n        y: 282\n      positionAbsolute:\n        x: 80\n        y: 282\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        authorization:\n          config: null\n          type: no-auth\n        body:\n          data:\n          - id: key-value-114\n            key: ''\n            type: text\n            value: \"{\\n    \\\"inputs\\\": {\\n        \\\"app_id\\\": \\\"{{#sys.app_id#}}\\\"\\\n              ,\\n        \\\"id\\\": \\\"{{#sys.workflow_id#}}\\\",\\n         \\\"log_level\\\"\\\n              : \\\"{{#1777289486857.log_level#}}\\\",\\n        \\\"log_message\\\": \\\"Testing\\\n              \\ scenario: {{#1777289486857.test_message#}}\\\",\\n        \\\"verbose_payload\\\"\\\n              : \\\"This is not a JSON object, just a raw string.{{#1777289486857.log_level#}}\\\"\\\n              ,\\n        \\\"mode\\\": \\\"{{#1777289486857.mode#}}\\\",\\n        \\\"response_mode\\\"\\\n              : \\\"blocking\\\", \\n        \\\"user\\\": \\\"{{#sys.user_id#}}\\\"\\n    },\\n\\\n              \\    \\\"response_mode\\\": \\\"blocking\\\",\\n    \\\"user\\\": \\\"{{#sys.user_id#}}\\\"\\\n              \\n}\"\n          type: json\n        desc: ''\n        headers: 'Authorization:Bearer app-eKGy7KsXWd0HNPkJrXgfeMTY\n\n          Content-Type:application/json'\n        method: post\n        params: ''\n        retry_config:\n          max_retries: 3\n          retry_enabled: true\n          retry_interval: 100\n        selected: true\n        ssl_verify: true\n        timeout:\n          max_connect_timeout: 0\n          max_read_timeout: 0\n          max_write_timeout: 0\n        title: HTTP Request\n        type: http-request\n        url: http://172.30.116.165/v1/workflows/run\n        variables: []\n      height: 139\n      id: '1777289654259'\n      position:\n        x: 384\n        y: 282\n      positionAbsolute:\n        x: 384\n        y: 282\n      selected: true\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        desc: ''\n        outputs:\n        - value_selector:\n          - '1777289654259'\n          - body\n          value_type: string\n          variable: result\n        selected: false\n        title: End\n        type: end\n      height: 90\n      id: '1777289916722'\n      position:\n        x: 688\n        y: 282\n      positionAbsolute:\n        x: 688\n        y: 282\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    viewport:\n      x: -42.96518318829692\n      y: -87.74890728712722\n      zoom: 0.8876113372695023\n"}
