dsl/ocr_test_workfolow_ashish.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: ocr_test_workfolow_ashish
  use_icon_as_answer_icon: false
dependencies: []
kind: app
version: 0.3.1
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - remote_url
      - local_file
      enabled: true
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 50
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: tool
      id: 1777023891519-source-1777289001619-target
      source: '1777023891519'
      sourceHandle: source
      target: '1777289001619'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: tool
        targetType: end
      id: 1777289001619-source-1777023972720-target
      source: '1777289001619'
      sourceHandle: source
      target: '1777023972720'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: Start
        type: start
        variables:
        - allowed_file_extensions: []
          allowed_file_types:
          - image
          - document
          allowed_file_upload_methods:
          - local_file
          - remote_url
          label: input_doc
          max_length: 48
          options: []
          required: true
          type: file
          variable: input_doc
      height: 89
      id: '1777023891519'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1777289001619'
          - text
          value_type: string
          variable: summary
        selected: false
        title: End
        type: end
      height: 90
      id: '1777023972720'
      position:
        x: 686
        y: 282
      positionAbsolute:
        x: 686
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: ''
        is_team_authorization: true
        output_schema: null
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Upload file
            ja_JP: Upload file
            pt_BR: Upload file
            zh_Hans: Upload file
          label:
            en_US: select_file
            ja_JP: select_file
            pt_BR: select_file
            zh_Hans: select_file
          llm_description: Upload file
          max: null
          min: null
          name: select_file
          options: []
          placeholder:
            en_US: ''
            ja_JP: ''
            pt_BR: ''
            zh_Hans: ''
          precision: null
          required: true
          scope: null
          template: null
          type: files
        params:
          select_file: ''
        provider_id: 2a48d915-5f63-4cae-bf06-298eb218edc6
        provider_name: OCR Summarizer
        provider_type: workflow
        selected: false
        title: OCR Summarizer
        tool_configurations: {}
        tool_description: 'Multi-format file reader. PDF, OCR images, Excel, TXT,
          DOC/DOCX, CSV. English and Japanese. File validation: empty, zip disguised,
          compressed formats blocked.'
        tool_label: OCR Summarizer
        tool_name: ocr_wf
        tool_node_version: '2'
        tool_parameters:
          select_file:
            type: variable
            value:
            - '1777023891519'
            - input_doc
        type: tool
      height: 53
      id: '1777289001619'
      position:
        x: 383
        y: 282
      positionAbsolute:
        x: 383
        y: 282
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    viewport:
      x: 506.6092851983689
      y: 245.995469739736
      zoom: 1.0810519619457504
