dsl/PC_Inspection_FAQ_WF.yml
{"data": "app:\n  description: This workflow address user query related to PC inspection. It takes\n    in error and retrieve the instruction from 04_annual inspection file and also\n    provide solution related to FAQ. This workflow is design for D-11 use-case.\n  icon: \ud83e\udd16\n  icon_background: '#FFEAD5'\n  mode: workflow\n  name: PC_Inspection_FAQ_WF\n  use_icon_as_answer_icon: false\ndependencies:\n- current_identifier: null\n  type: marketplace\n  value:\n    marketplace_plugin_unique_identifier: langgenius/gemini:0.7.4@5faf411e694e0da130a337347a625a3812b1b7502a0183382d66d92c841bf05a\nkind: app\nversion: 0.3.1\nworkflow:\n  conversation_variables: []\n  environment_variables: []\n  features:\n    file_upload:\n      allowed_file_extensions:\n      - .JPG\n      - .JPEG\n      - .PNG\n      - .GIF\n      - .WEBP\n      - .SVG\n      allowed_file_types:\n      - image\n      allowed_file_upload_methods:\n      - local_file\n      - remote_url\n      enabled: false\n      fileUploadConfig:\n        audio_file_size_limit: 50\n        batch_count_limit: 5\n        file_size_limit: 50\n        image_file_size_limit: 10\n        video_file_size_limit: 100\n        workflow_file_upload_limit: 10\n      image:\n        enabled: false\n        number_limits: 3\n        transfer_methods:\n        - local_file\n        - remote_url\n      number_limits: 3\n    opening_statement: ''\n    retriever_resource:\n      enabled: true\n    sensitive_word_avoidance:\n      enabled: false\n    speech_to_text:\n      enabled: false\n    suggested_questions: []\n    suggested_questions_after_answer:\n      enabled: false\n    text_to_speech:\n      enabled: false\n      language: ''\n      voice: ''\n  graph:\n    edges:\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: start\n        targetType: if-else\n      id: 1777870378982-source-1777870417080-target\n      source: '1777870378982'\n      sourceHandle: source\n      target: '1777870417080'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: if-else\n        targetType: knowledge-retrieval\n      id: 1777870417080-true-1777870568152-target\n      source: '1777870417080'\n      sourceHandle: 'true'\n      target: '1777870568152'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: knowledge-retrieval\n        targetType: llm\n      id: 1777870568152-source-1777870635632-target\n      source: '1777870568152'\n      sourceHandle: source\n      target: '1777870635632'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: if-else\n        targetType: knowledge-retrieval\n      id: 1777870417080-false-1777871350853-target\n      source: '1777870417080'\n      sourceHandle: 'false'\n      target: '1777871350853'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: knowledge-retrieval\n        targetType: llm\n      id: 1777871350853-source-1777873381510-target\n      source: '1777871350853'\n      sourceHandle: source\n      target: '1777873381510'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInLoop: false\n        sourceType: llm\n        targetType: end\n      id: 1777870635632-source-1777871329518-target\n      source: '1777870635632'\n      sourceHandle: source\n      target: '1777871329518'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: llm\n        targetType: end\n      id: 1777873381510-source-1777873877290-target\n      source: '1777873381510'\n      sourceHandle: source\n      target: '1777873877290'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    nodes:\n    - data:\n        desc: ''\n        selected: false\n        title: Start\n        type: start\n        variables:\n        - label: user_input\n          max_length: 1000\n          options: []\n          required: true\n          type: paragraph\n          variable: user_input\n        - label: is_follow_up\n          max_length: 48\n          options: []\n          required: true\n          type: text-input\n          variable: is_follow_up\n        - label: preferred_lang\n          max_length: 48\n          options: []\n          required: true\n          type: text-input\n          variable: preferred_lang\n        - label: error_history\n          max_length: 10000000\n          options: []\n          required: false\n          type: paragraph\n          variable: error_history\n      height: 167\n      id: '1777870378982'\n      position:\n        x: 64\n        y: 206\n      positionAbsolute:\n        x: 64\n        y: 206\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        cases:\n        - case_id: 'true'\n          conditions:\n          - comparison_operator: not empty\n            id: 17d26753-41f8-41ea-b957-b227b7b34ebb\n            value: ''\n            varType: string\n            variable_selector:\n            - '1777870378982'\n            - user_input\n          - comparison_operator: is\n            id: f4e29674-4189-4b8b-86e7-321184c34fe8\n            value: 'NO'\n            varType: string\n            variable_selector:\n            - '1777870378982'\n            - is_follow_up\n          id: 'true'\n          logical_operator: and\n        desc: This node routes the user query to either LLM_error node or LLM_FAQ\n          node based on nature of query.\n        selected: false\n        title: Error Vs FAQ.\n        type: if-else\n      height: 211\n      id: '1777870417080'\n      position:\n        x: 484.5402235180188\n        y: 206\n      positionAbsolute:\n        x: 484.5402235180188\n        y: 206\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        dataset_ids:\n        - qtEcYSr1aR9FY4d07YeAHxcceY0FgspBr9l6jPld0KqdimLWa6jPxrPp1ETD/+hU\n        desc: This KB stores 04_inspection data which contains error and corresponding\n          solutions.\n        metadata_filtering_mode: disabled\n        multiple_retrieval_config:\n          reranking_enable: false\n          reranking_mode: weighted_score\n          reranking_model:\n            model: ''\n            provider: ''\n          score_threshold: null\n          top_k: 1\n          weights:\n            keyword_setting:\n              keyword_weight: 0.3\n            vector_setting:\n              embedding_model_name: gemini-embedding-001\n              embedding_provider_name: langgenius/gemini/google\n              vector_weight: 0.7\n        query_variable_selector:\n        - '1777870378982'\n        - user_input\n        retrieval_mode: multiple\n        selected: false\n        title: KB_04_Inspection\n        type: knowledge-retrieval\n      height: 151\n      id: '1777870568152'\n      position:\n        x: 901.740779729105\n        y: 85.79180788874811\n      positionAbsolute:\n        x: 901.740779729105\n        y: 85.79180788874811\n      selected: true\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        context:\n          enabled: true\n          variable_selector:\n          - '1777870568152'\n          - result\n        desc: This node receives the user input as error and take the context from\n          the Error_kb  and response in professional tone.\n        model:\n          completion_params:\n            temperature: 0.7\n          mode: chat\n          name: gemini-2.5-pro\n          provider: langgenius/gemini/google\n        prompt_template:\n        - id: 73e53282-031c-44a4-9f48-ddc140686466\n          role: system\n          text: 'You are a PC Inspection Support Specialist. Provide professional\n            technical assistance using the provided Solutions KB (for errors). Your\n            soul purpose is to provide solution related to error from user.\n\n\n            # context : {{#context#}}\n\n\n            ## Guidelines:\n\n            - Deliver clear, actionable, and professional solutions. Use numbered\n            lists for multi-step instructions.\n\n            - Strictly limited to PC Inspection topics based on context if available.\n            Do not add any general information. Avoids any other topics and request\n            the user to ask PC error related queries only.\n\n            - Use only the provided context. Do not add any extra information.\n\n            - Smartly Analyse the follow up question if query is not related to context,\n            Respond in professional tone : I am only authorized to assist with queries\n            related to PC Inspection. Please let me know if you have a question regarding\n            that process\n\n\n            ## Always response in user preferred language: {{#1777870378982.preferred_lang#}}\n            {en: English, jp: \u65e5\u672c\u8a9e}\n\n\n            # Ask user in the end in the preferred language : {{#1777870378982.preferred_lang#}}\n\n            - Do you want to rectify the errors manually or Draft an email for the\n            client.'\n        - id: 177bb0aa-8358-4486-a779-fff3d963d333\n          role: user\n          text: '{{#1777870378982.user_input#}}'\n        selected: false\n        title: LLM_ERROR\n        type: llm\n        variables: []\n        vision:\n          enabled: false\n      height: 165\n      id: '1777870635632'\n      position:\n        x: 1242.9337916738693\n        y: 85.79180788874811\n      positionAbsolute:\n        x: 1242.9337916738693\n        y: 85.79180788874811\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        desc: ''\n        outputs:\n        - value_selector:\n          - '1777870635632'\n          - text\n          value_type: string\n          variable: text\n        selected: false\n        title: Display Error solution\n        type: end\n      height: 90\n      id: '1777871329518'\n      position:\n        x: 1566.6786216354672\n        y: 85.79180788874811\n      positionAbsolute:\n        x: 1566.6786216354672\n        y: 85.79180788874811\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        dataset_ids:\n        - HkM14QiO9/6Sg8fiHmb9K8QpEhkODWf6WkiDui2A/Sn0bKZPBFJZtk0fGuEa8xeP\n        desc: This KB stores 07_FAQ data which contains Frequently Asked Questions\n          and corresponding solutions.\n        multiple_retrieval_config:\n          reranking_enable: true\n          reranking_mode: weighted_score\n          top_k: 4\n          weights:\n            keyword_setting:\n              keyword_weight: 0.3\n            vector_setting:\n              embedding_model_name: gemini-embedding-001\n              embedding_provider_name: langgenius/gemini/google\n              vector_weight: 0.7\n        query_variable_selector:\n        - '1777870378982'\n        - user_input\n        retrieval_mode: multiple\n        selected: false\n        title: KB_FAQ\n        type: knowledge-retrieval\n      height: 151\n      id: '1777871350853'\n      position:\n        x: 901.740779729105\n        y: 355.4798754388261\n      positionAbsolute:\n        x: 901.740779729105\n        y: 355.4798754388261\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        context:\n          enabled: true\n          variable_selector:\n          - '1777871350853'\n          - result\n        desc: This node receives the user input as FAQ and take the context from the\n          FAQ-KB and response in professional tone.\n        model:\n          completion_params:\n            temperature: 0.7\n          mode: chat\n          name: gemini-2.5-pro\n          provider: langgenius/gemini/google\n        prompt_template:\n        - id: 8073fb00-8cb6-4388-93be-2e5322582cdc\n          role: system\n          text: 'You are a PC Inspection Support Specialist. Provide professional\n            technical assistance using the provided FAQ KB (for FAQs). Your soul purpose\n            is to provide solution to FAQs asked by user based on context data only.\n\n\n            # context : {{#context#}}\n\n\n            ## Guidelines:\n\n            - Deliver clear, actionable, and professional solutions. Use numbered\n            lists for multi-step instructions.\n\n            - Strictly limited to PC Inspection topics based on context if available.\n            Do not add any general information. Avoids any other topics and request\n            the user to ask PC error related queries only.\n\n            - Use only the provided context. Do not add any extra information.\n\n            - Smartly Analyse the follow up question if query is not related to context,\n            Respond in professional tone : I am only authorized to assist with queries\n            related to PC Inspection. Please let me know if you have a question regarding\n            that process.\n\n\n            ## Always response in user preferred language: {{#1777870378982.preferred_lang#}}{en:\n            English, jp: \u65e5\u672c\u8a9e}\n\n\n            # Ask user in the end in the preferred language : {{#1777870378982.preferred_lang#}}\n\n            - Do you want to rectify the errors manually or Draft an email for the\n            client.'\n        - id: abbdf325-98d0-4501-9c66-4633c64b9626\n          role: user\n          text: 'user input : {{#1777870378982.user_input#}}\n\n            error history : {{#1777870378982.error_history#}}'\n        selected: false\n        title: LLM_FAQ\n        type: llm\n        variables: []\n        vision:\n          enabled: false\n      height: 149\n      id: '1777873381510'\n      position:\n        x: 1249.760574323489\n        y: 355.4798754388261\n      positionAbsolute:\n        x: 1249.760574323489\n        y: 355.4798754388261\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        desc: ''\n        outputs:\n        - value_selector:\n          - '1777873381510'\n          - text\n          value_type: string\n          variable: text\n        selected: false\n        title: Display FAQ output\n        type: end\n      height: 90\n      id: '1777873877290'\n      position:\n        x: 1602.2635044518215\n        y: 355.4798754388261\n      positionAbsolute:\n        x: 1602.2635044518215\n        y: 355.4798754388261\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    viewport:\n      x: 36.801727461674545\n      y: 186.43118818377184\n      zoom: 0.5000000000000013\n"}
