dsl/POC_QA_Validation_Agent.yml
{"data": "app:\n  description: ''\n  icon: \ud83e\udd16\n  icon_background: '#FFEAD5'\n  mode: advanced-chat\n  name: POC_QA_Validation_Agent\n  use_icon_as_answer_icon: false\ndependencies:\n- current_identifier: null\n  type: marketplace\n  value:\n    marketplace_plugin_unique_identifier: langgenius/gemini:0.7.4@5faf411e694e0da130a337347a625a3812b1b7502a0183382d66d92c841bf05a\nkind: app\nversion: 0.3.1\nworkflow:\n  conversation_variables: []\n  environment_variables: []\n  features:\n    file_upload:\n      allowed_file_extensions:\n      - .JPG\n      - .JPEG\n      - .PNG\n      - .GIF\n      - .WEBP\n      - .SVG\n      allowed_file_types:\n      - image\n      allowed_file_upload_methods:\n      - local_file\n      - remote_url\n      enabled: false\n      fileUploadConfig:\n        audio_file_size_limit: 50\n        batch_count_limit: 5\n        file_size_limit: 50\n        image_file_size_limit: 10\n        video_file_size_limit: 100\n        workflow_file_upload_limit: 10\n      image:\n        enabled: false\n        number_limits: 3\n        transfer_methods:\n        - local_file\n        - remote_url\n      number_limits: 3\n    opening_statement: ''\n    retriever_resource:\n      enabled: true\n    sensitive_word_avoidance:\n      enabled: false\n    speech_to_text:\n      enabled: false\n    suggested_questions: []\n    suggested_questions_after_answer:\n      enabled: false\n    text_to_speech:\n      enabled: false\n      language: ''\n      voice: ''\n  graph:\n    edges:\n    - data:\n        sourceType: llm\n        targetType: answer\n      id: llm-answer\n      selected: false\n      source: llm\n      sourceHandle: source\n      target: answer\n      targetHandle: target\n      type: custom\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: start\n        targetType: http-request\n      id: 1777018662155-source-1777018754675-target\n      selected: false\n      source: '1777018662155'\n      sourceHandle: source\n      target: '1777018754675'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInLoop: false\n        sourceType: http-request\n        targetType: llm\n      id: 1777018754675-source-llm-target\n      source: '1777018754675'\n      sourceHandle: source\n      target: llm\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    nodes:\n    - data:\n        desc: ''\n        selected: false\n        title: Start\n        type: start\n        variables:\n        - allowed_file_extensions:\n          - .yml\n          allowed_file_types:\n          - custom\n          allowed_file_upload_methods:\n          - local_file\n          - remote_url\n          label: Input_DSL_File\n          max_length: 48\n          options: []\n          required: true\n          type: file\n          variable: Input_DSL_File\n        - label: Please start\n          max_length: 24\n          options: []\n          required: true\n          type: text-input\n          variable: Hello_Text\n      height: 115\n      id: '1777018662155'\n      position:\n        x: 80\n        y: 282\n      positionAbsolute:\n        x: 80\n        y: 282\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        context:\n          enabled: false\n          variable_selector: []\n        desc: ''\n        model:\n          completion_params:\n            temperature: 0.7\n          mode: chat\n          name: gemini-2.5-pro\n          provider: langgenius/gemini/google\n        prompt_template:\n        - id: dfe33a3d-515e-4f8d-b431-4badef6e08a3\n          role: system\n          text: 'You are a senior QA automation expert analyzing a Dify DSL workflow.\n\n\n            STRICT INSTRUCTIONS:\n\n            - The DSL file is the ONLY source of truth\n\n            - Do NOT infer, assume, or generate any data not present\n\n            - You MUST evaluate ALL nodes \u2014 do not stop early\n\n            - Ensure COMPLETE coverage of all input and file upload nodes\n\n\n            TASK:\n\n\n            1. USER INPUT VALIDATION\n\n            Check for:\n\n            - Required fields\n\n            - Data types\n\n            - Length constraints\n\n            - Format validation\n\n            --------------------------------------------------\n\n            2. FILE UPLOAD VALIDATION\n\n            Check for each input node where file upload is applied:\n\n            - Number of files allowed\n\n            - Allowed file types\n\n            - Single file size limit\n\n            - Total upload size limit\n\n\n            --------------------------------------------------\n\n            3. MULTILINGUAL LITERAL VALIDATION (ENGLISH + JAPANESE)\n\n\n            Check all user-facing text (prompts, messages, labels, responses):\n\n\n            - Identify literals in English\n\n            - Verify if corresponding Japanese translation exists\n\n            - Identify literals in Japanese\n\n            - Verify if corresponding English translation exists\n\n\n            Flag:\n\n            - Missing translations\n\n            - Partial translations\n\n            - Hardcoded single-language text\n\n\n            --------------------------------------------------\n\n\n            4. ERROR HANDLING VALIDATION\n\n\n            Check across ALL nodes:\n\n\n            - Whether error scenarios are handled (API failure, invalid input, empty\n            response, etc.)\n\n            - Presence of fallback paths or error branches\n\n            - User-friendly error messages defined\n\n            - Generic vs specific error messaging\n\n\n            --------------------------------------------------\n\n\n            5. PROMPT INJECTION & INPUT SECURITY VALIDATION\n\n\n            Analyze how user inputs are used in prompts and workflows:\n\n\n            Check for:\n\n            - Direct insertion of user input into prompts without sanitization\n\n            - Lack of input filtering or validation before LLM usage\n\n            - Absence of system-level guardrails or instructions\n\n            - Susceptibility to prompt injection (e.g., \"ignore previous instructions\",\n            \"act as system\", etc.)\n\n            - Unsafe variable interpolation in prompts\n\n            - No separation between system instructions and user input\n\n\n            Flag:\n\n            - Unsafe prompt construction\n\n            - Missing sanitization\n\n            - Lack of guardrails\n\n            - Potential injection vectors\n\n\n            OUTPUT:\n\n            Provide Five separate tables:\n\n\n            --------------------------------------------------\n\n            TABLE 1: USER INPUT VALIDATION\n\n\n            | Node Name | Input Variable | Required | Data Type | Length Constraints\n            | Format Validation | Missing Validation | Risk Level |\n\n\n            --------------------------------------------------\n\n            TABLE 2: FILE UPLOAD VALIDATION\n\n\n            | Node Name | File Variable | Max Files | File Types | Single File Size\n            | Total Size Limit | Missing Validation | Risk Level |\n\n\n            --------------------------------------------------\n\n            --------------------------------------------------\n\n            TABLE 3: MULTILINGUAL VALIDATION\n\n\n            | Node Name | Text/Field | English Present | Japanese Present | Missing\n            Translation | Risk Level |\n\n\n            --------------------------------------------------\n\n            TABLE 4: ERROR HANDLING VALIDATION\n\n\n            | Node Name | Error Scenario Covered | Error Message Defined | Fallback\n            Present | Missing Handling | Risk Level |\n\n\n            --------------------------------------------------\n\n            TABLE 5: PROMPT INJECTION & SECURITY\n\n\n            | Node Name | User Input Used in Prompt | Sanitization Present | Guardrails\n            Present | Injection Risk | Missing Protection | Risk Level |\n\n\n            --------------------------------------------------\n\n\n\n            RISK LOGIC:\n\n            - High \u2192 No validation present\n\n            - Medium \u2192 Partial validation\n\n            - Low \u2192 Sufficient validation\n\n\n            IMPORTANT:\n\n            - If any field is not explicitly defined \u2192 write \"Not Defined\"\n\n            - Keep output crisp, no explanations outside tables'\n        - id: 78cf8172-9cf1-496b-b4df-ce28933ff65c\n          role: user\n          text: 'input data : {{#1777018754675.files#}}'\n        selected: false\n        title: LLM\n        type: llm\n        variables: []\n        vision:\n          configs:\n            detail: high\n            variable_selector:\n            - sys\n            - files\n          enabled: true\n      height: 89\n      id: llm\n      position:\n        x: 672.7229251262244\n        y: 301\n      positionAbsolute:\n        x: 672.7229251262244\n        y: 301\n      selected: true\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        answer: '{{#llm.text#}}'\n        desc: ''\n        selected: false\n        title: Answer\n        type: answer\n        variables: []\n      height: 104\n      id: answer\n      position:\n        x: 1053\n        y: 309\n      positionAbsolute:\n        x: 1053\n        y: 309\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        authorization:\n          config: null\n          type: no-auth\n        body:\n          data: []\n          type: none\n        desc: ''\n        headers: ''\n        method: get\n        params: ''\n        retry_config:\n          max_retries: 3\n          retry_enabled: true\n          retry_interval: 100\n        selected: false\n        ssl_verify: true\n        timeout:\n          max_connect_timeout: 0\n          max_read_timeout: 0\n          max_write_timeout: 0\n        title: HTTP Request\n        type: http-request\n        url: '{{#1777018662155.Input_DSL_File.url#}}'\n        variables: []\n      height: 125\n      id: '1777018754675'\n      position:\n        x: 355\n        y: 289\n      positionAbsolute:\n        x: 355\n        y: 289\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        context:\n          enabled: false\n          variable_selector: []\n        desc: ''\n        model:\n          completion_params:\n            temperature: 0.7\n          mode: chat\n          name: gemini-2.5-pro\n          provider: langgenius/gemini/google\n        prompt_template:\n        - id: 1f896bce-bd37-4eb3-b9ba-a72d68fe6527\n          role: system\n          text: 'You are a senior QA automation expert analyzing a Dify DSL ({{#1777018754675.body#}})/\n            workflow.\n\n\n            STRICT INSTRUCTIONS:\n\n            - The DSL file is the ONLY source of truth\n\n            - Do NOT infer, assume, or generate any data not present\n\n            - You MUST evaluate ALL nodes \u2014 do not stop early\n\n            - Ensure COMPLETE coverage of all input and file upload nodes\n\n\n            TASK:\n\n\n            1. USER INPUT VALIDATION\n\n            Check for:\n\n            - Required fields\n\n            - Data types\n\n            - Length constraints\n\n            - Format validation\n\n            --------------------------------------------------\n\n            2. FILE UPLOAD VALIDATION\n\n            Check for each input node where file upload is applied:\n\n            - Number of files allowed\n\n            - Allowed file types\n\n            - Single file size limit\n\n            - Total upload size limit\n\n\n            --------------------------------------------------\n\n            3. MULTILINGUAL LITERAL VALIDATION (ENGLISH + JAPANESE)\n\n\n            Check all user-facing text (prompts, messages, labels, responses):\n\n\n            - Identify literals in English\n\n            - Verify if corresponding Japanese translation exists\n\n            - Identify literals in Japanese\n\n            - Verify if corresponding English translation exists\n\n\n            Flag:\n\n            - Missing translations\n\n            - Partial translations\n\n            - Hardcoded single-language text\n\n\n            --------------------------------------------------\n\n\n            4. ERROR HANDLING VALIDATION\n\n\n            Check across ALL nodes:\n\n\n            - Whether error scenarios are handled (API failure, invalid input, empty\n            response, etc.)\n\n            - Presence of fallback paths or error branches\n\n            - User-friendly error messages defined\n\n            - Generic vs specific error messaging\n\n\n            --------------------------------------------------\n\n\n            5. PROMPT INJECTION & INPUT SECURITY VALIDATION\n\n\n            Analyze how user inputs are used in prompts and workflows:\n\n\n            Check for:\n\n            - Direct insertion of user input into prompts without sanitization\n\n            - Lack of input filtering or validation before LLM usage\n\n            - Absence of system-level guardrails or instructions\n\n            - Susceptibility to prompt injection (e.g., \"ignore previous instructions\",\n            \"act as system\", etc.)\n\n            - Unsafe variable interpolation in prompts\n\n            - No separation between system instructions and user input\n\n\n            Flag:\n\n            - Unsafe prompt construction\n\n            - Missing sanitization\n\n            - Lack of guardrails\n\n            - Potential injection vectors\n\n\n            OUTPUT:\n\n            Provide Five separate tables:\n\n\n            --------------------------------------------------\n\n            TABLE 1: USER INPUT VALIDATION\n\n\n            | Node Name | Input Variable | Required | Data Type | Length Constraints\n            | Format Validation | Missing Validation | Risk Level |\n\n\n            --------------------------------------------------\n\n            TABLE 2: FILE UPLOAD VALIDATION\n\n\n            | Node Name | File Variable | Max Files | File Types | Single File Size\n            | Total Size Limit | Missing Validation | Risk Level |\n\n\n            --------------------------------------------------\n\n            --------------------------------------------------\n\n            TABLE 3: MULTILINGUAL VALIDATION\n\n\n            | Node Name | Text/Field | English Present | Japanese Present | Missing\n            Translation | Risk Level |\n\n\n            --------------------------------------------------\n\n            TABLE 4: ERROR HANDLING VALIDATION\n\n\n            | Node Name | Error Scenario Covered | Error Message Defined | Fallback\n            Present | Missing Handling | Risk Level |\n\n\n            --------------------------------------------------\n\n            TABLE 5: PROMPT INJECTION & SECURITY\n\n\n            | Node Name | User Input Used in Prompt | Sanitization Present | Guardrails\n            Present | Injection Risk | Missing Protection | Risk Level |\n\n\n            --------------------------------------------------\n\n\n\n            RISK LOGIC:\n\n            - High \u2192 No validation present\n\n            - Medium \u2192 Partial validation\n\n            - Low \u2192 Sufficient validation\n\n\n            IMPORTANT:\n\n            - If any field is not explicitly defined \u2192 write \"Not Defined\"\n\n            - Keep output crisp, no explanations outside tables'\n        selected: true\n        title: LLM 2\n        type: llm\n        variables: []\n        vision:\n          configs:\n            detail: high\n            variable_selector:\n            - sys\n            - files\n          enabled: true\n      height: 89\n      id: '1777370343446'\n      position:\n        x: 702.9440340940826\n        y: 621.4849747829584\n      positionAbsolute:\n        x: 702.9440340940826\n        y: 621.4849747829584\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    viewport:\n      x: -14.820166178877685\n      y: 18.35233265978448\n      zoom: 0.7629481332559978\n"}
