dsl/POC_QA_Validation_Agent.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: advanced-chat
  name: POC_QA_Validation_Agent
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/gemini:0.7.4@5faf411e694e0da130a337347a625a3812b1b7502a0183382d66d92c841bf05a
kind: app
version: 0.3.1
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 50
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        sourceType: llm
        targetType: answer
      id: llm-answer
      selected: false
      source: llm
      sourceHandle: source
      target: answer
      targetHandle: target
      type: custom
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: http-request
      id: 1777018662155-source-1777018754675-target
      selected: false
      source: '1777018662155'
      sourceHandle: source
      target: '1777018754675'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: http-request
        targetType: llm
      id: 1777018754675-source-llm-target
      source: '1777018754675'
      sourceHandle: source
      target: llm
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: Start
        type: start
        variables:
        - allowed_file_extensions:
          - .yml
          allowed_file_types:
          - custom
          allowed_file_upload_methods:
          - local_file
          - remote_url
          label: Input_DSL_File
          max_length: 48
          options: []
          required: true
          type: file
          variable: Input_DSL_File
        - label: Please start
          max_length: 24
          options: []
          required: true
          type: text-input
          variable: Hello_Text
      height: 115
      id: '1777018662155'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gemini-2.5-pro
          provider: langgenius/gemini/google
        prompt_template:
        - id: dfe33a3d-515e-4f8d-b431-4badef6e08a3
          role: system
          text: 'You are a senior QA automation expert analyzing a Dify DSL workflow.


            STRICT INSTRUCTIONS:

            - The DSL file is the ONLY source of truth

            - Do NOT infer, assume, or generate any data not present

            - You MUST evaluate ALL nodes — do not stop early

            - Ensure COMPLETE coverage of all input and file upload nodes


            TASK:


            1. USER INPUT VALIDATION

            Check for:

            - Required fields

            - Data types

            - Length constraints

            - Format validation

            --------------------------------------------------

            2. FILE UPLOAD VALIDATION

            Check for each input node where file upload is applied:

            - Number of files allowed

            - Allowed file types

            - Single file size limit

            - Total upload size limit


            --------------------------------------------------

            3. MULTILINGUAL LITERAL VALIDATION (ENGLISH + JAPANESE)


            Check all user-facing text (prompts, messages, labels, responses):


            - Identify literals in English

            - Verify if corresponding Japanese translation exists

            - Identify literals in Japanese

            - Verify if corresponding English translation exists


            Flag:

            - Missing translations

            - Partial translations

            - Hardcoded single-language text


            --------------------------------------------------


            4. ERROR HANDLING VALIDATION


            Check across ALL nodes:


            - Whether error scenarios are handled (API failure, invalid input, empty
            response, etc.)

            - Presence of fallback paths or error branches

            - User-friendly error messages defined

            - Generic vs specific error messaging


            --------------------------------------------------


            5. PROMPT INJECTION & INPUT SECURITY VALIDATION


            Analyze how user inputs are used in prompts and workflows:


            Check for:

            - Direct insertion of user input into prompts without sanitization

            - Lack of input filtering or validation before LLM usage

            - Absence of system-level guardrails or instructions

            - Susceptibility to prompt injection (e.g., "ignore previous instructions",
            "act as system", etc.)

            - Unsafe variable interpolation in prompts

            - No separation between system instructions and user input


            Flag:

            - Unsafe prompt construction

            - Missing sanitization

            - Lack of guardrails

            - Potential injection vectors


            OUTPUT:

            Provide Five separate tables:


            --------------------------------------------------

            TABLE 1: USER INPUT VALIDATION


            | Node Name | Input Variable | Required | Data Type | Length Constraints
            | Format Validation | Missing Validation | Risk Level |


            --------------------------------------------------

            TABLE 2: FILE UPLOAD VALIDATION


            | Node Name | File Variable | Max Files | File Types | Single File Size
            | Total Size Limit | Missing Validation | Risk Level |


            --------------------------------------------------

            --------------------------------------------------

            TABLE 3: MULTILINGUAL VALIDATION


            | Node Name | Text/Field | English Present | Japanese Present | Missing
            Translation | Risk Level |


            --------------------------------------------------

            TABLE 4: ERROR HANDLING VALIDATION


            | Node Name | Error Scenario Covered | Error Message Defined | Fallback
            Present | Missing Handling | Risk Level |


            --------------------------------------------------

            TABLE 5: PROMPT INJECTION & SECURITY


            | Node Name | User Input Used in Prompt | Sanitization Present | Guardrails
            Present | Injection Risk | Missing Protection | Risk Level |


            --------------------------------------------------



            RISK LOGIC:

            - High → No validation present

            - Medium → Partial validation

            - Low → Sufficient validation


            IMPORTANT:

            - If any field is not explicitly defined → write "Not Defined"

            - Keep output crisp, no explanations outside tables'
        - id: 78cf8172-9cf1-496b-b4df-ce28933ff65c
          role: user
          text: 'input data : {{#1777018754675.files#}}'
        selected: false
        title: LLM
        type: llm
        variables: []
        vision:
          configs:
            detail: high
            variable_selector:
            - sys
            - files
          enabled: true
      height: 89
      id: llm
      position:
        x: 672.7229251262244
        y: 301
      positionAbsolute:
        x: 672.7229251262244
        y: 301
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '{{#llm.text#}}'
        desc: ''
        selected: false
        title: Answer
        type: answer
        variables: []
      height: 104
      id: answer
      position:
        x: 1053
        y: 309
      positionAbsolute:
        x: 1053
        y: 309
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: []
          type: none
        desc: ''
        headers: ''
        method: get
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: HTTP Request
        type: http-request
        url: '{{#1777018662155.Input_DSL_File.url#}}'
        variables: []
      height: 125
      id: '1777018754675'
      position:
        x: 355
        y: 289
      positionAbsolute:
        x: 355
        y: 289
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gemini-2.5-pro
          provider: langgenius/gemini/google
        prompt_template:
        - id: 1f896bce-bd37-4eb3-b9ba-a72d68fe6527
          role: system
          text: 'You are a senior QA automation expert analyzing a Dify DSL ({{#1777018754675.body#}})/
            workflow.


            STRICT INSTRUCTIONS:

            - The DSL file is the ONLY source of truth

            - Do NOT infer, assume, or generate any data not present

            - You MUST evaluate ALL nodes — do not stop early

            - Ensure COMPLETE coverage of all input and file upload nodes


            TASK:


            1. USER INPUT VALIDATION

            Check for:

            - Required fields

            - Data types

            - Length constraints

            - Format validation

            --------------------------------------------------

            2. FILE UPLOAD VALIDATION

            Check for each input node where file upload is applied:

            - Number of files allowed

            - Allowed file types

            - Single file size limit

            - Total upload size limit


            --------------------------------------------------

            3. MULTILINGUAL LITERAL VALIDATION (ENGLISH + JAPANESE)


            Check all user-facing text (prompts, messages, labels, responses):


            - Identify literals in English

            - Verify if corresponding Japanese translation exists

            - Identify literals in Japanese

            - Verify if corresponding English translation exists


            Flag:

            - Missing translations

            - Partial translations

            - Hardcoded single-language text


            --------------------------------------------------


            4. ERROR HANDLING VALIDATION


            Check across ALL nodes:


            - Whether error scenarios are handled (API failure, invalid input, empty
            response, etc.)

            - Presence of fallback paths or error branches

            - User-friendly error messages defined

            - Generic vs specific error messaging


            --------------------------------------------------


            5. PROMPT INJECTION & INPUT SECURITY VALIDATION


            Analyze how user inputs are used in prompts and workflows:


            Check for:

            - Direct insertion of user input into prompts without sanitization

            - Lack of input filtering or validation before LLM usage

            - Absence of system-level guardrails or instructions

            - Susceptibility to prompt injection (e.g., "ignore previous instructions",
            "act as system", etc.)

            - Unsafe variable interpolation in prompts

            - No separation between system instructions and user input


            Flag:

            - Unsafe prompt construction

            - Missing sanitization

            - Lack of guardrails

            - Potential injection vectors


            OUTPUT:

            Provide Five separate tables:


            --------------------------------------------------

            TABLE 1: USER INPUT VALIDATION


            | Node Name | Input Variable | Required | Data Type | Length Constraints
            | Format Validation | Missing Validation | Risk Level |


            --------------------------------------------------

            TABLE 2: FILE UPLOAD VALIDATION


            | Node Name | File Variable | Max Files | File Types | Single File Size
            | Total Size Limit | Missing Validation | Risk Level |


            --------------------------------------------------

            --------------------------------------------------

            TABLE 3: MULTILINGUAL VALIDATION


            | Node Name | Text/Field | English Present | Japanese Present | Missing
            Translation | Risk Level |


            --------------------------------------------------

            TABLE 4: ERROR HANDLING VALIDATION


            | Node Name | Error Scenario Covered | Error Message Defined | Fallback
            Present | Missing Handling | Risk Level |


            --------------------------------------------------

            TABLE 5: PROMPT INJECTION & SECURITY


            | Node Name | User Input Used in Prompt | Sanitization Present | Guardrails
            Present | Injection Risk | Missing Protection | Risk Level |


            --------------------------------------------------



            RISK LOGIC:

            - High → No validation present

            - Medium → Partial validation

            - Low → Sufficient validation


            IMPORTANT:

            - If any field is not explicitly defined → write "Not Defined"

            - Keep output crisp, no explanations outside tables'
        selected: true
        title: LLM 2
        type: llm
        variables: []
        vision:
          configs:
            detail: high
            variable_selector:
            - sys
            - files
          enabled: true
      height: 89
      id: '1777370343446'
      position:
        x: 702.9440340940826
        y: 621.4849747829584
      positionAbsolute:
        x: 702.9440340940826
        y: 621.4849747829584
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: -14.820166178877685
      y: 18.35233265978448
      zoom: 0.7629481332559978
