dsl/POC_FlowChart_Simplification.yml
{"data": "app:\n  description: ''\n  icon: \ud83e\udd16\n  icon_background: '#FFEAD5'\n  mode: advanced-chat\n  name: POC_FlowChart_Simplification\n  use_icon_as_answer_icon: false\ndependencies:\n- current_identifier: null\n  type: marketplace\n  value:\n    marketplace_plugin_unique_identifier: langgenius/gemini:0.7.4@5faf411e694e0da130a337347a625a3812b1b7502a0183382d66d92c841bf05a\nkind: app\nversion: 0.3.1\nworkflow:\n  conversation_variables: []\n  environment_variables: []\n  features:\n    file_upload:\n      allowed_file_extensions:\n      - .JPG\n      - .JPEG\n      - .PNG\n      - .GIF\n      - .WEBP\n      - .SVG\n      allowed_file_types:\n      - image\n      allowed_file_upload_methods:\n      - local_file\n      - remote_url\n      enabled: false\n      fileUploadConfig:\n        audio_file_size_limit: 50\n        batch_count_limit: 5\n        file_size_limit: 50\n        image_file_size_limit: 10\n        video_file_size_limit: 100\n        workflow_file_upload_limit: 10\n      image:\n        enabled: false\n        number_limits: 3\n        transfer_methods:\n        - local_file\n        - remote_url\n      number_limits: 3\n    opening_statement: ''\n    retriever_resource:\n      enabled: true\n    sensitive_word_avoidance:\n      enabled: false\n    speech_to_text:\n      enabled: false\n    suggested_questions: []\n    suggested_questions_after_answer:\n      enabled: false\n    text_to_speech:\n      enabled: false\n      language: ''\n      voice: ''\n  graph:\n    edges:\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: start\n        targetType: http-request\n      id: 1777546319595-source-1777621051812-target\n      source: '1777546319595'\n      sourceHandle: source\n      target: '1777621051812'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInLoop: false\n        sourceType: http-request\n        targetType: llm\n      id: 1777621051812-source-llm-target\n      source: '1777621051812'\n      sourceHandle: source\n      target: llm\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: llm\n        targetType: llm\n      id: llm-source-1777877117408-target\n      source: llm\n      sourceHandle: source\n      target: '1777877117408'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: llm\n        targetType: answer\n      id: 1777877117408-source-answer-target\n      source: '1777877117408'\n      sourceHandle: source\n      target: answer\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    nodes:\n    - data:\n        desc: ''\n        selected: false\n        title: Start\n        type: start\n        variables:\n        - allowed_file_extensions:\n          - .yml\n          allowed_file_types:\n          - custom\n          allowed_file_upload_methods:\n          - local_file\n          - remote_url\n          label: Input_DSL\n          max_length: 48\n          options: []\n          required: true\n          type: file\n          variable: Input_DSL\n      height: 89\n      id: '1777546319595'\n      position:\n        x: 80\n        y: 282\n      positionAbsolute:\n        x: 80\n        y: 282\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        context:\n          enabled: false\n          variable_selector: []\n        desc: ''\n        memory:\n          query_prompt_template: ''\n          role_prefix:\n            assistant: ''\n            user: ''\n          window:\n            enabled: false\n            size: 10\n        model:\n          completion_params:\n            temperature: 0.7\n          mode: chat\n          name: gemini-2.5-pro\n          provider: langgenius/gemini/google\n        prompt_template:\n        - id: 3a1570aa-4229-4b94-adcd-29a3e449e773\n          role: system\n          text: \"**Role: You are an expert Dify Workflow Architect and Systems Designer\\\n            \\ specializing in DSL (Domain Specific Language) parsing and ASCII visualization.\\n\\\n            **Task: Transform the provided Dify DSL file into a high-fidelity ASCII\\\n            \\ flowchart. Use only the nodes and edges defined in the provided DSL.\\\n            \\ Do not invent steps or skip nodes.\\n**CRITICAL: Do not use internal\\\n            \\ knowledge to create a sample DSL. If the Input data variable is empty\\\n            \\ or contains non-DSL text, respond with \\\"Error: No DSL data provided.\\\"\\\n            \\ Do not generate a placeholder workflow.\\nConstraints:\\n**Source of Truth:\\\n            \\ Use only the nodes and edges (or connections) defined in the provided\\\n            \\ DSL. Do not invent steps, skip nodes, or assume external integrations\\\n            \\ not listed in the file.\\n***Formatting: * Use a box structure with broken\\\n            \\ corners: text \u250c\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2510 | \u25cf Node Name | \u2514\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2518\\n\\\n            Use | and v for vertical flow and --> for horizontal flow.\\nIf a node\\\n            \\ has multiple outputs (branching logic), represent the split clearly.\\n\\\n            Icons: Use simple bullet symbols (\u25cf, \u25cb) or emojis (\u2705, \u274c) to represent\\\n            \\ node status or types as depicted in the reference logic.\\nConnectors:\\\n            \\ Use | for vertical lines and the specific \u25bc (down-pointing triangle)\\\n            \\ for arrowheads.\\nBranching: For If/Else logic, use a horizontal split\\\n            \\ line \u250c\u2500\u2500\u2500\u2500\u2500\u2500\u2534\u2500\u2500\u2500\u2500\u2500\u2500\u2510 followed by vertical paths.\\n\\n**Strict Accuracy:\\\n            \\ Ensure the flow strictly follows the source_node to target_node mapping\\\n            \\ found in the DSL's edge list.\\n**No Dependencies: Do not use Mermaid.js,\\\n            \\ PlantUML, or any external rendering code. Use standard character symbols\\\n            \\ only.\\n***Output: Provide a clean, \\\"beautified\\\" ASCII diagram followed\\\n            \\ by a brief legend if the node titles are truncated for space. \\n\\nYour\\\n            \\ Dify DSL file here : {{#1777621051812.body#}}\"\n        - id: 9aeb7947-3deb-444a-8ccf-d10fe87741bb\n          role: user\n          text: 'Input data : {{#1777621051812.body#}}'\n        selected: false\n        title: LLM\n        type: llm\n        variables: []\n        vision:\n          enabled: false\n      height: 89\n      id: llm\n      position:\n        x: 733.7757443705087\n        y: 265.67598877337593\n      positionAbsolute:\n        x: 733.7757443705087\n        y: 265.67598877337593\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        answer: '***\n\n\n          {{#1777877117408.text#}}'\n        desc: ''\n        selected: false\n        title: Answer\n        type: answer\n        variables: []\n      height: 104\n      id: answer\n      position:\n        x: 1365.8378214409229\n        y: 253.44296693380664\n      positionAbsolute:\n        x: 1365.8378214409229\n        y: 253.44296693380664\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        authorization:\n          config: null\n          type: no-auth\n        body:\n          data: []\n          type: none\n        desc: ''\n        headers: ''\n        method: get\n        params: ''\n        retry_config:\n          max_retries: 3\n          retry_enabled: true\n          retry_interval: 100\n        selected: true\n        ssl_verify: true\n        timeout:\n          max_connect_timeout: 0\n          max_read_timeout: 0\n          max_write_timeout: 0\n        title: HTTP Request\n        type: http-request\n        url: '{{#1777546319595.Input_DSL.url#}}'\n        variables: []\n      height: 125\n      id: '1777621051812'\n      position:\n        x: 418.7902575198016\n        y: 271.3907427566704\n      positionAbsolute:\n        x: 418.7902575198016\n        y: 271.3907427566704\n      selected: true\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        context:\n          enabled: false\n          variable_selector: []\n        desc: ''\n        model:\n          completion_params:\n            temperature: 0.7\n          mode: chat\n          name: gemini-2.5-pro\n          provider: langgenius/gemini/google\n        prompt_template:\n        - id: af6011fb-e01b-4500-a2f3-380f7b4d5cd2\n          role: system\n          text: \"**Role: You are a UX-focused Process Simplification Expert. Your\\\n            \\ specialty is translating technical workflows into simple, easy-to-understand\\\n            \\ visuals for non-technical audiences.**\\n\\n**Task:**\\nConvert the provided\\\n            \\ ASCII flowchart into a simplified version that a non-technical person\\\n            \\ can easily understand.\\n\\n**Input:**\\nA detailed ASCII flowchart containing\\\n            \\ system-level nodes, technical labels, and possibly complex branching.\\n\\\n            \\n**Instructions:**\\n- Preserve the overall logical flow, but simplify\\\n            \\ node names into plain English.\\n- Remove technical jargon (e.g., \\\"\\\n            HTTP Request\\\", \\\"LLM\\\", \\\"API Call\\\") and replace with user-friendly\\\n            \\ descriptions (e.g., \\\"Send request\\\", \\\"Process data\\\", \\\"Generate response\\\"\\\n            ).\\n- Combine steps where possible to reduce complexity.\\n- Keep only\\\n            \\ essential decision points and major steps.\\n- Limit the flow to high-level\\\n            \\ stages (ideally 5\u20138 steps total).\\n- For decision nodes, use simple\\\n            \\ language like:\\n  - \\\"Is input valid?\\\"\\n  - \\\"Did it succeed?\\\"\\n-\\\n            \\ Maintain a clean ASCII structure using boxes and arrows.\\n\\n**Formatting\\\n            \\ Rules:**\\n- Use simple boxes:\\n  \u250c\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2510\\n  | Step Name  \\\n            \\   |\\n  \u2514\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2518\\n- Use:\\n  - \u2193 or \u25bc for vertical flow\\n  -\\\n            \\ --> for horizontal flow\\n- Keep layout clean and readable (avoid dense\\\n            \\ branching where possible)\\n\\n**Tone:**\\n- Clear, simple, and business-friendly\\n\\\n            - Avoid technical terminology\\n- Think: explaining to a stakeholder or\\\n            \\ client\\n\\n**Output:**\\n- A simplified ASCII flowchart\\n- Optional: 1\u20132\\\n            \\ sentence summary explaining what the process does in plain English\\n\\\n            \\n**CRITICAL:**\\n- Do NOT invent new steps\\n- Do NOT change the logic\\n\\\n            - Only simplify and summarize what already exists\"\n        - id: d17a7798-7c42-4b4b-ad05-aaa79d45e25e\n          role: user\n          text: DSL data\u00a0{{#llm.text#}}\n        selected: false\n        title: LLM 2\n        type: llm\n        variables: []\n        vision:\n          enabled: false\n      height: 89\n      id: '1777877117408'\n      position:\n        x: 1065.8378214409229\n        y: 253.44296693380664\n      positionAbsolute:\n        x: 1065.8378214409229\n        y: 253.44296693380664\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    viewport:\n      x: 95.073108385213\n      y: -8.601966449110023\n      zoom: 0.5695624058125983\n"}
