dsl/SATY_Dify_Handson.yml
{"data": "app:\n  description: Handson Dify practise\n  icon: \ud83e\udd16\n  icon_background: '#FFEAD5'\n  mode: advanced-chat\n  name: SATY_Dify_Handson\n  use_icon_as_answer_icon: false\ndependencies:\n- current_identifier: null\n  type: marketplace\n  value:\n    marketplace_plugin_unique_identifier: langgenius/gemini:0.7.4@5faf411e694e0da130a337347a625a3812b1b7502a0183382d66d92c841bf05a\nkind: app\nversion: 0.3.1\nworkflow:\n  conversation_variables: []\n  environment_variables: []\n  features:\n    file_upload:\n      allowed_file_extensions:\n      - .JPG\n      - .JPEG\n      - .PNG\n      - .GIF\n      - .WEBP\n      - .SVG\n      allowed_file_types:\n      - image\n      - document\n      allowed_file_upload_methods:\n      - remote_url\n      - local_file\n      enabled: true\n      fileUploadConfig:\n        audio_file_size_limit: 50\n        batch_count_limit: 5\n        file_size_limit: 50\n        image_file_size_limit: 10\n        video_file_size_limit: 100\n        workflow_file_upload_limit: 10\n      image:\n        enabled: false\n        number_limits: 3\n        transfer_methods:\n        - local_file\n        - remote_url\n      number_limits: 3\n    opening_statement: ''\n    retriever_resource:\n      enabled: true\n    sensitive_word_avoidance:\n      enabled: false\n    speech_to_text:\n      enabled: false\n    suggested_questions: []\n    suggested_questions_after_answer:\n      enabled: false\n    text_to_speech:\n      enabled: false\n      language: ''\n      voice: ''\n  graph:\n    edges:\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: llm\n        targetType: answer\n      id: 1777299607671--1777299627617-target\n      source: '1777299607671'\n      sourceHandle: source\n      target: '1777299627617'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: list-operator\n        targetType: document-extractor\n      id: 1777300801569--1777300842504-target\n      source: '1777300801569'\n      sourceHandle: source\n      target: '1777300842504'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInLoop: false\n        sourceType: document-extractor\n        targetType: llm\n      id: 1777300842504-source-1777299607671-target\n      source: '1777300842504'\n      sourceHandle: source\n      target: '1777299607671'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: start\n        targetType: if-else\n      id: 1777297635132-source-1777377663242-target\n      source: '1777297635132'\n      sourceHandle: source\n      target: '1777377663242'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInLoop: false\n        sourceType: if-else\n        targetType: list-operator\n      id: 1777377663242-true-1777300801569-target\n      source: '1777377663242'\n      sourceHandle: 'true'\n      target: '1777300801569'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: if-else\n        targetType: answer\n      id: 1777377663242-false-1777377739889-target\n      source: '1777377663242'\n      sourceHandle: 'false'\n      target: '1777377739889'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    nodes:\n    - data:\n        desc: ''\n        selected: false\n        title: Start\n        type: start\n        variables: []\n      height: 53\n      id: '1777297635132'\n      position:\n        x: 80\n        y: 282\n      positionAbsolute:\n        x: 80\n        y: 282\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        context:\n          enabled: false\n          variable_selector: []\n        desc: ''\n        model:\n          completion_params:\n            temperature: 0.7\n          mode: chat\n          name: gemini-2.5-pro\n          provider: langgenius/gemini/google\n        prompt_template:\n        - id: 78fe9c5c-6615-4867-8ac2-785f1bafb4ec\n          role: system\n          text: 'Summarize the document in 50 words\n\n            {{#1777300842504.text#}}'\n        - id: 820f622d-e88b-4d23-b8bb-2d5309b4765f\n          role: user\n          text: '{{#1777300842504.text#}}\n\n            {{#sys.query#}}\n\n            {{#sys.files#}}'\n        selected: false\n        title: LLM\n        type: llm\n        variables: []\n        vision:\n          enabled: false\n      height: 89\n      id: '1777299607671'\n      position:\n        x: 1287\n        y: 297\n      positionAbsolute:\n        x: 1287\n        y: 297\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        answer: '{{#1777299607671.text#}}\n\n\n          <button type=\"button\" data-message=\"Selected English Language\">English</button>'\n        desc: ''\n        selected: false\n        title: Answer\n        type: answer\n        variables: []\n      height: 135\n      id: '1777299627617'\n      position:\n        x: 1583\n        y: 297\n      positionAbsolute:\n        x: 1583\n        y: 297\n      selected: true\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        desc: ''\n        extract_by:\n          enabled: false\n          serial: '1'\n        filter_by:\n          conditions:\n          - comparison_operator: contains\n            key: name\n            value: /\n          enabled: false\n        item_var_type: file\n        limit:\n          enabled: false\n          size: 10\n        order_by:\n          enabled: false\n          key: ''\n          value: asc\n        selected: false\n        title: List Operator\n        type: list-operator\n        var_type: array[file]\n        variable:\n        - sys\n        - files\n      height: 94\n      id: '1777300801569'\n      position:\n        x: 683\n        y: 414\n      positionAbsolute:\n        x: 683\n        y: 414\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        desc: ''\n        is_array_file: true\n        selected: false\n        title: Doc Extractor 2\n        type: document-extractor\n        variable_selector:\n        - '1777300801569'\n        - result\n      height: 94\n      id: '1777300842504'\n      position:\n        x: 986\n        y: 414\n      positionAbsolute:\n        x: 986\n        y: 414\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        cases:\n        - case_id: 'true'\n          conditions:\n          - comparison_operator: is not\n            id: b7466dd9-0783-4a34-8182-1f8ea2698385\n            value: Selected English Language\n            varType: string\n            variable_selector:\n            - sys\n            - query\n          id: 'true'\n          logical_operator: and\n        desc: ''\n        selected: false\n        title: IF/ELSE\n        type: if-else\n      height: 125\n      id: '1777377663242'\n      position:\n        x: 383\n        y: 414\n      positionAbsolute:\n        x: 383\n        y: 414\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        answer: '{{#sys.query#}}'\n        desc: ''\n        selected: false\n        title: Answer 2\n        type: answer\n        variables: []\n      height: 103\n      id: '1777377739889'\n      position:\n        x: 683\n        y: 547\n      positionAbsolute:\n        x: 683\n        y: 547\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    viewport:\n      x: -81.2857919048904\n      y: 232.048467796304\n      zoom: 0.49815501986707056\n"}
