dsl/SATY_Dify_Handson.yml
app:
  description: Handson Dify practise
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: advanced-chat
  name: SATY_Dify_Handson
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/gemini:0.7.4@5faf411e694e0da130a337347a625a3812b1b7502a0183382d66d92c841bf05a
kind: app
version: 0.3.1
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      - document
      allowed_file_upload_methods:
      - remote_url
      - local_file
      enabled: true
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 50
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 1777299607671--1777299627617-target
      source: '1777299607671'
      sourceHandle: source
      target: '1777299627617'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: list-operator
        targetType: document-extractor
      id: 1777300801569--1777300842504-target
      source: '1777300801569'
      sourceHandle: source
      target: '1777300842504'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: document-extractor
        targetType: llm
      id: 1777300842504-source-1777299607671-target
      source: '1777300842504'
      sourceHandle: source
      target: '1777299607671'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: if-else
      id: 1777297635132-source-1777377663242-target
      source: '1777297635132'
      sourceHandle: source
      target: '1777377663242'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: list-operator
      id: 1777377663242-true-1777300801569-target
      source: '1777377663242'
      sourceHandle: 'true'
      target: '1777300801569'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: 1777377663242-false-1777377739889-target
      source: '1777377663242'
      sourceHandle: 'false'
      target: '1777377739889'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: Start
        type: start
        variables: []
      height: 53
      id: '1777297635132'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gemini-2.5-pro
          provider: langgenius/gemini/google
        prompt_template:
        - id: 78fe9c5c-6615-4867-8ac2-785f1bafb4ec
          role: system
          text: 'Summarize the document in 50 words

            {{#1777300842504.text#}}'
        - id: 820f622d-e88b-4d23-b8bb-2d5309b4765f
          role: user
          text: '{{#1777300842504.text#}}

            {{#sys.query#}}

            {{#sys.files#}}'
        selected: false
        title: LLM
        type: llm
        variables: []
        vision:
          enabled: false
      height: 89
      id: '1777299607671'
      position:
        x: 1287
        y: 297
      positionAbsolute:
        x: 1287
        y: 297
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '{{#1777299607671.text#}}


          <button type="button" data-message="Selected English Language">English</button>'
        desc: ''
        selected: false
        title: Answer
        type: answer
        variables: []
      height: 135
      id: '1777299627617'
      position:
        x: 1583
        y: 297
      positionAbsolute:
        x: 1583
        y: 297
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        extract_by:
          enabled: false
          serial: '1'
        filter_by:
          conditions:
          - comparison_operator: contains
            key: name
            value: /
          enabled: false
        item_var_type: file
        limit:
          enabled: false
          size: 10
        order_by:
          enabled: false
          key: ''
          value: asc
        selected: false
        title: List Operator
        type: list-operator
        var_type: array[file]
        variable:
        - sys
        - files
      height: 94
      id: '1777300801569'
      position:
        x: 683
        y: 414
      positionAbsolute:
        x: 683
        y: 414
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        is_array_file: true
        selected: false
        title: Doc Extractor 2
        type: document-extractor
        variable_selector:
        - '1777300801569'
        - result
      height: 94
      id: '1777300842504'
      position:
        x: 986
        y: 414
      positionAbsolute:
        x: 986
        y: 414
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is not
            id: b7466dd9-0783-4a34-8182-1f8ea2698385
            value: Selected English Language
            varType: string
            variable_selector:
            - sys
            - query
          id: 'true'
          logical_operator: and
        desc: ''
        selected: false
        title: IF/ELSE
        type: if-else
      height: 125
      id: '1777377663242'
      position:
        x: 383
        y: 414
      positionAbsolute:
        x: 383
        y: 414
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '{{#sys.query#}}'
        desc: ''
        selected: false
        title: Answer 2
        type: answer
        variables: []
      height: 103
      id: '1777377739889'
      position:
        x: 683
        y: 547
      positionAbsolute:
        x: 683
        y: 547
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: -81.2857919048904
      y: 232.048467796304
      zoom: 0.49815501986707056
