dsl/Smart_Voyager__1Test_Itinerary_Orchestrator.yml
app:
  description: Sub-Workflow D of The Smart Voyager platform. Generates a detailed,
    day-by-day  itinerary with Morning/Afternoon/Evening/Night slots. Maps landmarks
    to  dining based on proximity and travel profile (Family, Kids, Solo, etc.).
  icon: 🗓
  icon_background: '#E0F2F1'
  mode: workflow
  name: Smart Voyager — 1Test_Itinerary Orchestrator
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/gemini:0.7.4@5faf411e694e0da130a337347a625a3812b1b7502a0183382d66d92c841bf05a
kind: app
version: 0.3.1
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 50
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        sourceType: start
        targetType: knowledge-retrieval
      id: edge-start-to-culture
      source: start
      sourceHandle: source
      target: culture_retrieval
      targetHandle: target
      type: custom
    - data:
        sourceType: start
        targetType: knowledge-retrieval
      id: edge-start-to-culinary
      source: start
      sourceHandle: source
      target: culinary_retrieval
      targetHandle: target
      type: custom
    - data:
        sourceType: knowledge-retrieval
        targetType: code
      id: edge-culture-to-scheduler
      source: culture_retrieval
      sourceHandle: source
      target: itinerary_scheduler
      targetHandle: target
      type: custom
    - data:
        sourceType: knowledge-retrieval
        targetType: code
      id: edge-culinary-to-scheduler
      source: culinary_retrieval
      sourceHandle: source
      target: itinerary_scheduler
      targetHandle: target
      type: custom
    - data:
        sourceType: code
        targetType: llm
      id: edge-scheduler-to-formatter
      source: itinerary_scheduler
      sourceHandle: source
      target: itinerary_formatter
      targetHandle: target
      type: custom
    - data:
        isInLoop: false
        sourceType: code
        targetType: code
      id: itinerary_scheduler-source-1777031754486-target
      source: itinerary_scheduler
      sourceHandle: source
      target: '1777031754486'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: end
      id: 1777031754486-source-1777031938898-target
      source: '1777031754486'
      sourceHandle: source
      target: '1777031938898'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: Start
        type: start
        variables:
        - label: Destination (City)
          required: true
          type: text-input
          variable: destination
        - label: Duration (Days)
          required: true
          type: number
          variable: num_days
        - label: Travel Profile
          options:
          - Family
          - Kids
          - Luxury
          - Solo
          - Adventure
          - Cultural
          - Romantic
          required: true
          type: select
          variable: profile
        - label: Arrival Time
          required: false
          type: text-input
          variable: arrival_time
        - label: Departure Time
          required: false
          type: text-input
          variable: departure_time
        - label: Origin City (Departure Airport)
          max_length: 100
          required: true
          type: text-input
          variable: origin
      height: 219
      id: start
      position:
        x: 80
        y: 300
      positionAbsolute:
        x: 80
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        dataset_configs:
          datasets:
          - dataset:
              enabled: true
              id: 281af393-1bd8-4fa5-81eb-f964577a93b8
          reranking_enable: false
          retrieval_model: multiple
          score_threshold_enabled: false
          top_k: 12
        dataset_ids:
        - id1cBXi/gAhO+kDAy1RojyKs0S57xhwhcokjoVlAGAfmRgoj3aVcqhLMAMK0G4Gu
        multiple_retrieval_config:
          reranking_enable: true
          reranking_mode: weighted_score
          top_k: 4
          weights:
            keyword_setting:
              keyword_weight: 0.3
            vector_setting:
              embedding_model_name: gemini-embedding-001
              embedding_provider_name: langgenius/gemini/google
              vector_weight: 0.7
        query_variable_selector:
        - start
        - destination
        retrieval_mode: multiple
        selected: false
        single_retrieval_config:
          model:
            completion_params: {}
            mode: chat
            name: ''
            provider: ''
        title: Sights & Landmarks
        type: knowledge-retrieval
      height: 91
      id: culture_retrieval
      position:
        x: 430
        y: 150
      positionAbsolute:
        x: 430
        y: 150
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        dataset_configs:
          datasets:
          - dataset:
              enabled: true
              id: 016efdb2-f2e9-477a-95b4-f2b706483a61
          reranking_enable: false
          retrieval_model: multiple
          score_threshold_enabled: false
          top_k: 15
        dataset_ids:
        - qjt0Ra9YQQpL78kAO6vTn8s0xEWqDHTksx0ALfxD3hcQQeK3Vl78iMFq8awGm8sO
        multiple_retrieval_config:
          reranking_enable: true
          reranking_mode: weighted_score
          top_k: 4
          weights:
            keyword_setting:
              keyword_weight: 0
            vector_setting:
              embedding_model_name: gemini-embedding-001
              embedding_provider_name: langgenius/gemini/google
              vector_weight: 1
        query_variable_selector:
        - start
        - destination
        retrieval_mode: multiple
        selected: false
        single_retrieval_config:
          model:
            completion_params: {}
            mode: chat
            name: ''
            provider: ''
        title: Dining & Gastronomy
        type: knowledge-retrieval
      height: 91
      id: culinary_retrieval
      position:
        x: 430
        y: 450
      positionAbsolute:
        x: 430
        y: 450
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "import json\n\nBREAKFAST_SIGNALS = [\n    'bakery', 'pastry', 'breakfast',\
          \ 'boulangerie', 'cafe', 'brunch',\n    'croissant', 'espresso', 'patisserie',\
          \ 'pasticceria', 'coffee',\n]\nLUNCH_SIGNALS = [\n    'lunch', 'market',\
          \ 'bistro', 'snack', 'sandwich', 'casual',\n    'street food', 'midday',\
          \ 'brasserie', 'open sandwich', 'milk bar',\n    'beer hall', 'cicchetti',\
          \ 'tapas', 'pintxos',\n]\n\nNEARBY_CITIES = {\n    \"paris\": [\n      \
          \  {\"city\": \"Monaco\",  \"country\": \"Monaco\",  \"city_country\": \"\
          Monaco, Monaco\",\n         \"transit_hours\": 5.5, \"min_days_needed\"\
          : 4, \"day_trip_ok\": False,\n         \"transit_mode\": \"TGV + TER train\"\
          , \"transit_cost_usd\": 85},\n        {\"city\": \"Cannes\",  \"country\"\
          : \"France\",  \"city_country\": \"Cannes, France\",\n         \"transit_hours\"\
          : 5.5, \"min_days_needed\": 3, \"day_trip_ok\": False,\n         \"transit_mode\"\
          : \"TGV\", \"transit_cost_usd\": 75},\n    ],\n    \"monaco\": [\n     \
          \   {\"city\": \"Cannes\",  \"country\": \"France\",  \"city_country\":\
          \ \"Cannes, France\",\n         \"transit_hours\": 0.6, \"min_days_needed\"\
          : 2, \"day_trip_ok\": True,\n         \"transit_mode\": \"TER train\", \"\
          transit_cost_usd\": 5},\n    ],\n    \"cannes\": [\n        {\"city\": \"\
          Monaco\",  \"country\": \"Monaco\",  \"city_country\": \"Monaco, Monaco\"\
          ,\n         \"transit_hours\": 0.6, \"min_days_needed\": 2, \"day_trip_ok\"\
          : True,\n         \"transit_mode\": \"TER train\", \"transit_cost_usd\"\
          : 5},\n    ],\n    \"rome\": [\n        {\"city\": \"Positano\", \"country\"\
          : \"Italy\", \"city_country\": \"Positano, Italy\",\n         \"transit_hours\"\
          : 3.0, \"min_days_needed\": 3, \"day_trip_ok\": False,\n         \"transit_mode\"\
          : \"Frecciarossa + SITA bus\", \"transit_cost_usd\": 35},\n        {\"city\"\
          : \"Ravello\",  \"country\": \"Italy\", \"city_country\": \"Ravello, Italy\"\
          ,\n         \"transit_hours\": 3.5, \"min_days_needed\": 3, \"day_trip_ok\"\
          : False,\n         \"transit_mode\": \"Frecciarossa + bus\", \"transit_cost_usd\"\
          : 40},\n    ],\n    \"venice\": [\n        {\"city\": \"Rome\", \"country\"\
          : \"Italy\", \"city_country\": \"Rome, Italy\",\n         \"transit_hours\"\
          : 3.5, \"min_days_needed\": 3, \"day_trip_ok\": False,\n         \"transit_mode\"\
          : \"Frecciarossa\", \"transit_cost_usd\": 55},\n    ],\n    \"positano\"\
          : [\n        {\"city\": \"Ravello\",  \"country\": \"Italy\", \"city_country\"\
          : \"Ravello, Italy\",\n         \"transit_hours\": 1.0, \"min_days_needed\"\
          : 2, \"day_trip_ok\": True,\n         \"transit_mode\": \"seasonal ferry\
          \ / SITA bus\", \"transit_cost_usd\": 15},\n        {\"city\": \"Rome\"\
          ,     \"country\": \"Italy\", \"city_country\": \"Rome, Italy\",\n     \
          \    \"transit_hours\": 3.0, \"min_days_needed\": 3, \"day_trip_ok\": False,\n\
          \         \"transit_mode\": \"SITA bus + Frecciarossa\", \"transit_cost_usd\"\
          : 35},\n    ],\n    \"ravello\": [\n        {\"city\": \"Positano\", \"\
          country\": \"Italy\", \"city_country\": \"Positano, Italy\",\n         \"\
          transit_hours\": 1.0, \"min_days_needed\": 2, \"day_trip_ok\": True,\n \
          \        \"transit_mode\": \"seasonal ferry / SITA bus\", \"transit_cost_usd\"\
          : 15},\n        {\"city\": \"Rome\",     \"country\": \"Italy\", \"city_country\"\
          : \"Rome, Italy\",\n         \"transit_hours\": 3.5, \"min_days_needed\"\
          : 3, \"day_trip_ok\": False,\n         \"transit_mode\": \"bus + Frecciarossa\"\
          , \"transit_cost_usd\": 40},\n    ],\n    \"barcelona\": [\n        {\"\
          city\": \"Madrid\", \"country\": \"Spain\", \"city_country\": \"Madrid,\
          \ Spain\",\n         \"transit_hours\": 2.5, \"min_days_needed\": 3, \"\
          day_trip_ok\": False,\n         \"transit_mode\": \"AVE high-speed train\"\
          , \"transit_cost_usd\": 55},\n    ],\n    \"madrid\": [\n        {\"city\"\
          : \"Barcelona\", \"country\": \"Spain\", \"city_country\": \"Barcelona,\
          \ Spain\",\n         \"transit_hours\": 2.5, \"min_days_needed\": 3, \"\
          day_trip_ok\": False,\n         \"transit_mode\": \"AVE high-speed train\"\
          , \"transit_cost_usd\": 55},\n    ],\n    \"zurich\": [\n        {\"city\"\
          : \"Geneva\", \"country\": \"Switzerland\", \"city_country\": \"Geneva,\
          \ Switzerland\",\n         \"transit_hours\": 2.75, \"min_days_needed\"\
          : 3, \"day_trip_ok\": False,\n         \"transit_mode\": \"SBB IC train\"\
          , \"transit_cost_usd\": 50},\n    ],\n    \"geneva\": [\n        {\"city\"\
          : \"Zurich\", \"country\": \"Switzerland\", \"city_country\": \"Zurich,\
          \ Switzerland\",\n         \"transit_hours\": 2.75, \"min_days_needed\"\
          : 3, \"day_trip_ok\": False,\n         \"transit_mode\": \"SBB IC train\"\
          , \"transit_cost_usd\": 50},\n    ],\n    \"lisbon\": [\n        {\"city\"\
          : \"Algarve\", \"country\": \"Portugal\", \"city_country\": \"Algarve, Portugal\"\
          ,\n         \"transit_hours\": 2.75, \"min_days_needed\": 3, \"day_trip_ok\"\
          : False,\n         \"transit_mode\": \"Alfa Pendular train\", \"transit_cost_usd\"\
          : 25},\n    ],\n    \"algarve\": [\n        {\"city\": \"Lisbon\", \"country\"\
          : \"Portugal\", \"city_country\": \"Lisbon, Portugal\",\n         \"transit_hours\"\
          : 2.75, \"min_days_needed\": 3, \"day_trip_ok\": False,\n         \"transit_mode\"\
          : \"Alfa Pendular train\", \"transit_cost_usd\": 25},\n    ],\n    \"prague\"\
          : [\n        {\"city\": \"Berlin\",   \"country\": \"Germany\",       \"\
          city_country\": \"Berlin, Germany\",\n         \"transit_hours\": 4.0, \"\
          min_days_needed\": 3, \"day_trip_ok\": False,\n         \"transit_mode\"\
          : \"EC train / FlixBus\", \"transit_cost_usd\": 30},\n        {\"city\"\
          : \"Krakow\",   \"country\": \"Poland\",        \"city_country\": \"Krakow,\
          \ Poland\",\n         \"transit_hours\": 7.0, \"min_days_needed\": 3, \"\
          day_trip_ok\": False,\n         \"transit_mode\": \"RegioJet bus / train\"\
          , \"transit_cost_usd\": 25},\n        {\"city\": \"Budapest\", \"country\"\
          : \"Hungary\",       \"city_country\": \"Budapest, Hungary\",\n        \
          \ \"transit_hours\": 7.0, \"min_days_needed\": 3, \"day_trip_ok\": False,\n\
          \         \"transit_mode\": \"RegioJet train\", \"transit_cost_usd\": 35},\n\
          \    ],\n    \"berlin\": [\n        {\"city\": \"Prague\",    \"country\"\
          : \"Czech Republic\", \"city_country\": \"Prague, Czech Republic\",\n  \
          \       \"transit_hours\": 4.0, \"min_days_needed\": 3, \"day_trip_ok\"\
          : False,\n         \"transit_mode\": \"EC train / FlixBus\", \"transit_cost_usd\"\
          : 30},\n        {\"city\": \"Warsaw\",    \"country\": \"Poland\",     \
          \    \"city_country\": \"Warsaw, Poland\",\n         \"transit_hours\":\
          \ 5.5, \"min_days_needed\": 3, \"day_trip_ok\": False,\n         \"transit_mode\"\
          : \"EC train\", \"transit_cost_usd\": 45},\n        {\"city\": \"Amsterdam\"\
          , \"country\": \"Netherlands\",    \"city_country\": \"Amsterdam, Netherlands\"\
          ,\n         \"transit_hours\": 6.0, \"min_days_needed\": 3, \"day_trip_ok\"\
          : False,\n         \"transit_mode\": \"ICE / IC train\", \"transit_cost_usd\"\
          : 50},\n    ],\n    \"amsterdam\": [\n        {\"city\": \"Berlin\", \"\
          country\": \"Germany\", \"city_country\": \"Berlin, Germany\",\n       \
          \  \"transit_hours\": 6.0, \"min_days_needed\": 3, \"day_trip_ok\": False,\n\
          \         \"transit_mode\": \"ICE / IC train\", \"transit_cost_usd\": 50},\n\
          \    ],\n    \"krakow\": [\n        {\"city\": \"Warsaw\", \"country\":\
          \ \"Poland\",         \"city_country\": \"Warsaw, Poland\",\n         \"\
          transit_hours\": 2.5, \"min_days_needed\": 2, \"day_trip_ok\": True,\n \
          \        \"transit_mode\": \"PKP Express Intercity\", \"transit_cost_usd\"\
          : 20},\n        {\"city\": \"Prague\", \"country\": \"Czech Republic\",\
          \ \"city_country\": \"Prague, Czech Republic\",\n         \"transit_hours\"\
          : 7.0, \"min_days_needed\": 3, \"day_trip_ok\": False,\n         \"transit_mode\"\
          : \"RegioJet bus / train\", \"transit_cost_usd\": 25},\n    ],\n    \"warsaw\"\
          : [\n        {\"city\": \"Krakow\", \"country\": \"Poland\",  \"city_country\"\
          : \"Krakow, Poland\",\n         \"transit_hours\": 2.5, \"min_days_needed\"\
          : 2, \"day_trip_ok\": True,\n         \"transit_mode\": \"PKP Express Intercity\"\
          , \"transit_cost_usd\": 20},\n        {\"city\": \"Berlin\", \"country\"\
          : \"Germany\", \"city_country\": \"Berlin, Germany\",\n         \"transit_hours\"\
          : 5.5, \"min_days_needed\": 3, \"day_trip_ok\": False,\n         \"transit_mode\"\
          : \"EC train\", \"transit_cost_usd\": 45},\n    ],\n    \"budapest\": [\n\
          \        {\"city\": \"Prague\", \"country\": \"Czech Republic\", \"city_country\"\
          : \"Prague, Czech Republic\",\n         \"transit_hours\": 7.0, \"min_days_needed\"\
          : 3, \"day_trip_ok\": False,\n         \"transit_mode\": \"RegioJet train\"\
          , \"transit_cost_usd\": 35},\n        {\"city\": \"Krakow\", \"country\"\
          : \"Poland\",         \"city_country\": \"Krakow, Poland\",\n         \"\
          transit_hours\": 6.0, \"min_days_needed\": 3, \"day_trip_ok\": False,\n\
          \         \"transit_mode\": \"EC train / FlixBus\", \"transit_cost_usd\"\
          : 30},\n    ],\n    \"tirana\": [],\n}\n\nMAIN_CITY_NIGHTS = 3\nSLOT_ORDER\
          \ = [\"Breakfast\", \"Morning\", \"Lunch\", \"Afternoon\", \"Evening\"]\n\
          \n\ndef build_city_legs(destination, origin, num_days):\n    dest_key  \
          \  = destination.lower().strip()\n    nearby      = NEARBY_CITIES.get(dest_key,\
          \ [])\n    main_nights = min(MAIN_CITY_NIGHTS, num_days)\n    budget   \
          \   = num_days - main_nights\n\n    legs = []\n    legs.append({\n     \
          \   \"leg_id\": 1,\n        \"from\": origin,\n        \"to\": destination,\n\
          \        \"city_country\": destination,\n        \"city_name\": destination,\n\
          \        \"nights\": main_nights,\n        \"leg_type\": \"flight\",\n \
          \       \"transit_mode\": \"flight\",\n        \"transit_cost_usd\": 0\n\
          \    })\n\n    for place in nearby:\n        if budget <= 0:\n         \
          \   break\n        min_nights_required = 1 if place[\"day_trip_ok\"] else\
          \ 2\n        if budget < min_nights_required:\n            continue\n  \
          \      nights_to_give = min(place[\"min_days_needed\"], budget)\n      \
          \  leg_type = \"day_trip\" if place[\"day_trip_ok\"] and nights_to_give\
          \ <= 1 else \"overnight\"\n        legs.append({\n            \"leg_id\"\
          : len(legs) + 1,\n            \"from\": legs[-1][\"to\"],\n            \"\
          to\": place[\"city\"],\n            \"city_country\": place[\"city_country\"\
          ],\n            \"city_name\": place[\"city\"],\n            \"min_days_needed\"\
          : place[\"min_days_needed\"],\n            \"nights\": nights_to_give,\n\
          \            \"leg_type\": leg_type,\n            \"transit_mode\": place[\"\
          transit_mode\"],\n            \"transit_cost_usd\": place[\"transit_cost_usd\"\
          ],\n            \"transit_hours\": place[\"transit_hours\"]\n        })\n\
          \        budget -= nights_to_give\n\n    # FIX 1: return flight always departs\
          \ from main destination, not last excursion city\n    legs.append({\n  \
          \      \"leg_id\": len(legs) + 1,\n        \"from\": destination,\n    \
          \    \"to\": origin,\n        \"city_country\": None,\n        \"city_name\"\
          : origin,\n        \"nights\": 0,\n        \"leg_type\": \"return_flight\"\
          ,\n        \"transit_mode\": \"flight\",\n        \"transit_cost_usd\":\
          \ 0\n    })\n    return legs\n\n\ndef build_day_city_map(city_legs, num_days,\
          \ destination):\n    day_city_map = {}\n    day_transit  = {}\n    current_day\
          \  = 1\n\n    excursion_legs      = [l for l in city_legs if l[\"leg_type\"\
          ] in (\"overnight\", \"day_trip\")]\n    last_excursion_city = excursion_legs[-1][\"\
          to\"] if excursion_legs else None\n\n    for leg in city_legs:\n       \
          \ if leg[\"leg_type\"] == \"return_flight\":\n            continue\n\n \
          \       if leg[\"leg_type\"] == \"flight\":\n            if current_day\
          \ == 1:\n                day_transit[current_day] = leg[\"from\"] + \" ->\
          \ \" + leg[\"to\"]\n            for d in range(current_day, current_day\
          \ + leg[\"nights\"]):\n                day_city_map[d] = {\n           \
          \         \"city_name\":    leg[\"to\"],\n                    \"city_country\"\
          : leg[\"city_country\"],\n                    \"is_main_dest\": True\n \
          \               }\n            current_day += leg[\"nights\"]\n\n      \
          \  elif leg[\"leg_type\"] in (\"overnight\", \"day_trip\"):\n          \
          \  nights = leg[\"nights\"] if leg[\"nights\"] > 0 else 1\n            day_transit[current_day]\
          \ = leg[\"from\"] + \" -> \" + leg[\"to\"]\n            for d in range(current_day,\
          \ current_day + nights):\n                day_city_map[d] = {\n        \
          \            \"city_name\":    leg[\"to\"],\n                    \"city_country\"\
          : leg[\"city_country\"],\n                    \"is_main_dest\": False\n\
          \                }\n            current_day += nights\n\n    # FIX 2: last\
          \ content day always returns to main destination\n    last_content_day =\
          \ num_days\n    if last_content_day in day_city_map:\n        if not day_city_map[last_content_day][\"\
          is_main_dest\"] and last_excursion_city:\n            day_city_map[last_content_day]\
          \ = {\n                \"city_name\":    destination,\n                \"\
          city_country\": destination,\n                \"is_main_dest\": True\n \
          \           }\n            day_transit[last_content_day] = last_excursion_city\
          \ + \" -> \" + destination\n\n    for d in range(current_day, num_days +\
          \ 1):\n        day_city_map[d] = {\n            \"city_name\":    destination,\n\
          \            \"city_country\": destination,\n            \"is_main_dest\"\
          : True\n        }\n\n    return day_city_map, day_transit\n\n\ndef main(culture_data,\
          \ culinary_data, profile, num_days, arrival_time, departure_time,\n    \
          \     destination, origin):\n\n    if isinstance(culture_data, list):\n\
          \        culture_data  = \"\\n\\n\".join(str(i) for i in culture_data)\n\
          \    if isinstance(culinary_data, list):\n        culinary_data = \"\\n\\\
          n\".join(str(i) for i in culinary_data)\n\n    num_days  = int(num_days)\n\
          \    profile   = str(profile).lower()\n\n    try:\n        arrival_h = int(str(arrival_time).split(':')[0])\
          \ if arrival_time and ':' in str(arrival_time) else 9\n    except:\n   \
          \     arrival_h = 9\n    try:\n        departure_h = int(str(departure_time).split(':')[0])\
          \ if departure_time and ':' in str(departure_time) else 18\n    except:\n\
          \        departure_h = 18\n\n    def get_suitability(text, pref):\n    \
          \    s    = 0\n        text = text.lower()\n        if pref in text:\n \
          \           s += 5\n        if 'kids' in pref or 'family' in pref:\n   \
          \         if any(x in text for x in ['park', 'garden', 'relax', 'children',\
          \ 'casual']):\n                s += 3\n        return s\n\n    def get_slot(description,\
          \ name, cuisine_type=\"\"):\n        text = (description + \" \" + name\
          \ + \" \" + cuisine_type).lower()\n        if any(sig in text for sig in\
          \ BREAKFAST_SIGNALS):\n            return 'Breakfast'\n        if any(sig\
          \ in text for sig in LUNCH_SIGNALS):\n            return 'Lunch'\n     \
          \   return 'Evening'\n\n    dining = []\n    for block in culinary_data.split('\\\
          n\\n'):\n        if ',' not in block:\n            continue\n        lines\
          \   = block.strip().split('\\n')\n        name    = lines[0].replace('Establishment:',\
          \ '').strip()\n        cuisine = next((ln for ln in lines if 'cuisine' in\
          \ ln.lower()), '')\n        dining.append({\n            'name':  name,\n\
          \            'slot':  get_slot(block, name, cuisine),\n            'score':\
          \ get_suitability(block, profile),\n        })\n    dining.sort(key=lambda\
          \ x: x['score'], reverse=True)\n\n    landmarks = []\n    for block in culture_data.split('\\\
          n\\n'):\n        if ',' not in block:\n            continue\n        landmarks.append({\n\
          \            'name':  block.split('\\n')[0].replace('Landmark:', '').strip(),\n\
          \            'score': get_suitability(block, profile),\n        })\n   \
          \ landmarks.sort(key=lambda x: x['score'], reverse=True)\n\n    if not dining\
          \ and not landmarks:\n        return {\n            \"structured_schedule\"\
          : \"CRITICAL_ERROR: No data found in Knowledge Base for this destination.\
          \ Check Dataset IDs.\",\n            \"profile_used\": profile,\n      \
          \      \"city_legs\": \"[]\"\n        }\n\n    city_legs               \
          \  = build_city_legs(destination, origin, num_days)\n    day_city_map, day_transit\
          \ = build_day_city_map(city_legs, num_days, destination)\n\n    def kb_slot(primary,\
          \ city, city_country):\n        return {\"Primary\": primary, \"City\":\
          \ city, \"City_Country\": city_country}\n\n    def missing_slot(placeholder,\
          \ city, city_country, hint):\n        return {\n            \"Primary\"\
          :      placeholder,\n            \"City\":         city,\n            \"\
          City_Country\": city_country,\n            \"Note\":         \"KB_MISSING:\
          \ No data for \" + city + \". \" + hint\n        }\n\n    schedule = {}\n\
          \    l_idx    = 0\n\n    for day in range(1, num_days + 1):\n        day_key\
          \  = \"Day \" + str(day)\n        slots    = {}\n        is_arr   = (day\
          \ == 1)\n        is_dep   = (day == num_days)\n\n        city_info = day_city_map.get(day,\
          \ {\n            \"city_name\":    destination,\n            \"city_country\"\
          : destination,\n            \"is_main_dest\": True\n        })\n       \
          \ city_name     = city_info[\"city_name\"]\n        city_country  = city_info[\"\
          city_country\"]\n        is_main       = city_info[\"is_main_dest\"]\n \
          \       transit_label = day_transit.get(day, \"\")\n\n        if is_main:\n\
          \            if not (is_arr and arrival_h > 10):\n                pool =\
          \ [d for d in dining if d['slot'] == 'Breakfast']\n                slots[\"\
          Breakfast\"] = kb_slot(\n                    pool[day % len(pool)]['name']\
          \ if pool else \"Local Cafe\",\n                    city_name, city_country\n\
          \                )\n            if not (is_arr and arrival_h > 12) and landmarks:\n\
          \                slots[\"Morning\"] = kb_slot(\n                    landmarks[l_idx\
          \ % len(landmarks)]['name'],\n                    city_name, city_country\n\
          \                )\n                l_idx += 1\n            if not (is_arr\
          \ and arrival_h > 14) and not (is_dep and departure_h < 13):\n         \
          \       pool = [d for d in dining if d['slot'] == 'Lunch']\n           \
          \     slots[\"Lunch\"] = kb_slot(\n                    pool[day % len(pool)]['name']\
          \ if pool else \"Local Bistro\",\n                    city_name, city_country\n\
          \                )\n            if not (is_dep and departure_h < 16) and\
          \ landmarks:\n                slots[\"Afternoon\"] = kb_slot(\n        \
          \            landmarks[l_idx % len(landmarks)]['name'],\n              \
          \      city_name, city_country\n                )\n                l_idx\
          \ += 1\n            if not (is_arr and arrival_h > 19) and not (is_dep and\
          \ departure_h < 20):\n                pool = [d for d in dining if d['slot']\
          \ == 'Evening']\n                slots[\"Evening\"] = kb_slot(\n       \
          \             pool[day % len(pool)]['name'] if pool else \"Restaurant\"\
          ,\n                    city_name, city_country\n                )\n    \
          \    else:\n            if not (is_arr and arrival_h > 10):\n          \
          \      slots[\"Breakfast\"] = missing_slot(\n                    \"Local\
          \ Cafe\", city_name, city_country,\n                    \"Suggest a well-known\
          \ local breakfast spot.\"\n                )\n            if not (is_arr\
          \ and arrival_h > 12):\n                slots[\"Morning\"] = missing_slot(\n\
          \                    \"Iconic Landmark\", city_name, city_country,\n   \
          \                 \"Suggest a famous must-see landmark.\"\n            \
          \    )\n            if not (is_arr and arrival_h > 14) and not (is_dep and\
          \ departure_h < 13):\n                slots[\"Lunch\"] = missing_slot(\n\
          \                    \"Local Restaurant\", city_name, city_country,\n  \
          \                  \"Suggest a popular local lunch spot.\"\n           \
          \     )\n            if not (is_dep and departure_h < 16):\n           \
          \     slots[\"Afternoon\"] = missing_slot(\n                    \"Hidden\
          \ Gem\", city_name, city_country,\n                    \"Suggest a must-see\
          \ afternoon activity.\"\n                )\n            if not (is_arr and\
          \ arrival_h > 19) and not (is_dep and departure_h < 20):\n             \
          \   slots[\"Evening\"] = missing_slot(\n                    \"Local Restaurant\"\
          , city_name, city_country,\n                    \"Suggest a popular dinner\
          \ venue.\"\n                )\n\n        present_slots     = [s for s in\
          \ SLOT_ORDER if s in slots]\n        schedule[day_key] = {\n           \
          \ \"slot_order\":    present_slots,\n            \"slots\":         slots,\n\
          \            \"transit_label\": transit_label\n        }\n\n    return {\n\
          \        \"structured_schedule\": json.dumps(schedule),\n        \"profile_used\"\
          :        profile,\n        \"city_legs\":           json.dumps(city_legs)\n\
          \    }"
        code_language: python3
        outputs:
          city_legs:
            children: null
            type: string
          profile_used:
            type: string
          structured_schedule:
            type: string
        selected: false
        title: Daily Itinerary Scheduler
        type: code
        variables:
        - value_selector:
          - culture_retrieval
          - result
          variable: culture_data
        - value_selector:
          - culinary_retrieval
          - result
          variable: culinary_data
        - value_selector:
          - start
          - profile
          variable: profile
        - value_selector:
          - start
          - num_days
          variable: num_days
        - value_selector:
          - start
          - arrival_time
          variable: arrival_time
        - value_selector:
          - start
          - departure_time
          variable: departure_time
        - value_selector:
          - start
          - destination
          variable: destination
        - value_selector:
          - start
          - origin
          variable: origin
      height: 53
      id: itinerary_scheduler
      position:
        x: 790
        y: 300
      positionAbsolute:
        x: 790
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: true
          variable_selector:
          - culture_retrieval
          - result
        memory:
          enabled: false
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 0
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gemini-3-pro-preview
          provider: langgenius/gemini/google
        prompt_template:
        - id: 43613531-6f0c-402c-9a7f-f71b80f39b4d
          role: system
          text: "You are a premium travel narrative writer for The Smart Voyager enterprise\
            \ travel platform.\n\nYou receive two inputs:\n  1. SCHEDULE JSON — the\
            \ authoritative day-by-day plan. Each day has:\n       - \"slot_order\"\
            : an ordered list of slot keys present that day\n       - \"slots\": a\
            \ map of slot key → venue details\n     You MUST iterate through slot_order\
            \ in the order given — no additions, no omissions, no reordering.\n  2.\
            \ KNOWLEDGE BASE — rich venue descriptions. Use these to write vivid 2–3\
            \ sentence copy.\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━\nSLOT KEY → OUTPUT LABEL\
            \ MAP  (follow this exactly, one-to-one)\n━━━━━━━━━━━━━━━━━━━━━━━━━━\n\
            \  Breakfast  →  ☕ Breakfast\n  Morning    →  \U0001F305 Morning\n  Lunch\
            \      →  \U0001F37D️ Lunch\n  Afternoon  →  ☀️ Afternoon\n  Evening \
            \   →  \U0001F306 Evening\n━━━━━━━━━━━━━━━━━━━━━━━━━━\n\nSTRICT RULES:\n\
            \  1. Only render slots that appear in \"slot_order\". Do NOT add extra\
            \ slots.\n  2. Render slots in the exact sequence listed in \"slot_order\"\
            .\n  3. Each slot appears EXACTLY ONCE per day. If you see \"Afternoon\"\
            \ once, write it once.\n  4. Copy venue names from \"slots[key].Primary\"\
            \ verbatim — never substitute or invent.\n  5. Look up each venue in the\
            \ Knowledge Base for a vivid 2–3 sentence description.\n     If not found,\
            \ write one factual sentence from your own knowledge.\n  6. If a venue\
            \ appears on multiple days, vary the angle of the description each time.\n\
            \  7. Heading format: [Emoji + Label] — [Venue Name] — [City_Country]\
            \ Use the \"City_Country\" field from the slot (e.g. \"Cannes, France\"\
            \ or \"Paris, France\"). Never write just the city name alone in the heading.\n\
            \  8. Use relative days only: Day 1, Day 2 — never calendar dates.\n \
            \ 9. If \"slots[key]\" contains a \"Note\" starting with \"KB_MISSING\"\
            , ignore the\n     placeholder name and use your knowledge to suggest\
            \ a real, specific venue\n     in that city. Write 1–2 vivid sentences.\
            \ Still follow the heading format.\n  10. If structured_schedule starts\
            \ with \"CRITICAL_ERROR\", output that message verbatim and stop.\n\n\
            OUTPUT FORMAT — repeat for every day:\n\n### Day N — [one evocative subtitle]\
            \ [transit_label]\n\nWhere transit_label comes from the \"transit_label\"\
            \ field of each day in the schedule JSON.\n- If transit_label is non-empty,\
            \ append it in square brackets after the subtitle.\n  Example:  ### Day\
            \ 8 — Red Carpets and Old Town Charm [Monaco → Cannes]\n- If transit_label\
            \ is empty (a settled day with no city change), omit the brackets entirely.\n\
            \  Example:  ### Day 2 — Stained Glass and Revolution\n\n[For each key\
            \ in slot_order, in order:]\n\n[Emoji Label] — [Venue Name] — [City]\n\
            [2–3 sentence description tailored to travel profile]\n\n---\nIMPORTANT:\
            \ You must complete the FULL itinerary for ALL days before stopping. Never\
            \ truncate mid-day or mid-sentence. If you are running long, write shorter\
            \ descriptions (1 sentence each) but always finish every day completely."
        - id: ab098751-3d02-4288-bcfd-6b7e7f6ad09b
          role: user
          text: "Write a rich {{#start.profile#}} travel itinerary for {{#start.destination#}}\
            \ covering {{#start.num_days#}} days.\n\n── STEP 1: SCHEDULE JSON (follow\
            \ exactly for structure and city labels) ────\n{{#itinerary_scheduler.structured_schedule#}}\n\
            \n── STEP 2: KNOWLEDGE BASE — LANDMARKS (use for descriptions) ───────────────\n\
            {{#context#}}\n\n── STEP 3: KNOWLEDGE BASE — DINING (use for descriptions)\
            \ ──────────────────\n{{#culinary_retrieval.result#}}\n\n── INSTRUCTIONS\
            \ ─────────────────────────────────────────────────────────────\nTravel\
            \ profile: {{#itinerary_scheduler.profile_used#}}\n\nFor every venue in\
            \ the schedule:\n- If found in the Knowledge Base → write a vivid, informative\
            \ description.\n- If the slot has a \"Note\" starting with KB_MISSING\
            \ → use your own knowledge\n  to name and describe a real venue in that\
            \ city.\n- If the same venue repeats on different days → vary the description\
            \ angle\n  (e.g. Day 1 focus on history, Day 3 focus on a hidden gem detail).\n\
            - Always append — [City] to every venue name in the heading.\n\nProduce\
            \ the full itinerary now."
        selected: true
        title: Itinerary Formatter
        type: llm
        variables: []
        vision:
          enabled: false
      height: 89
      id: itinerary_formatter
      position:
        x: 1113.01183472198
        y: 610.2466533618335
      positionAbsolute:
        x: 1113.01183472198
        y: 610.2466533618335
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        outputs:
        - value_selector:
          - itinerary_formatter
          - text
          value_type: string
          variable: itinerary_markdown
        selected: false
        title: End
        type: end
      height: 90
      id: end
      position:
        x: 1935.8090926176355
        y: 1100.445967835747
      positionAbsolute:
        x: 1935.8090926176355
        y: 1100.445967835747
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "import json\n\ndef main( city_legs: str) -> dict:\n    legs = json.loads(city_legs)\n\
          \    legs_md = \"\\n\\n---\\n\\n## ✈️ Flight Plan\\n\"\n\n    for leg in\
          \ legs:\n        if leg[\"leg_type\"] == \"flight\":\n            emoji\
          \ = \"\U0001F6EB\"\n            label = f\"Outbound Flight: {leg['from']}\
          \ → {leg['to']}\"\n        elif leg[\"leg_type\"] == \"return_flight\":\n\
          \            emoji = \"\U0001F6EC\"\n            label = f\"Return Flight:\
          \ {leg['from']} → {leg['to']}\"\n        else:\n            emoji = \"✈️\"\
          \n            label = f\"Flight: {leg['from']} → {leg['to']}\"\n\n     \
          \   city_country = leg[\"city_country\"] if leg[\"city_country\"] else \"\
          N/A\"\n        transit_mode = leg[\"transit_mode\"].capitalize()\n     \
          \   transit_cost = \"$0\" if leg[\"transit_cost_usd\"] == 0 else f\"${leg['transit_cost_usd']}\
          \ USD\"\n\n        legs_md += f\"\\n{emoji} **{label}**\\n\\n\"\n      \
          \  legs_md += f\"* \U0001F30D City/Country: {city_country}\\n\"\n      \
          \  legs_md += f\"* \U0001F319 Nights: {leg['nights']}\\n\"\n        legs_md\
          \ += f\"* \U0001F68C Transit Mode: {transit_mode}\\n\"\n        legs_md\
          \ += f\"* \U0001F4B0 Transit Cost: {transit_cost}\\n\"\n\n    return {\"\
          result\":  legs_md}\n"
        code_language: python3
        desc: ''
        outputs:
          result:
            children: null
            type: string
        selected: false
        title: Code 2
        type: code
        variables:
        - value_selector:
          - itinerary_scheduler
          - city_legs
          value_type: string
          variable: city_legs
      height: 53
      id: '1777031754486'
      position:
        x: 1451.8090926176353
        y: 18.428991668120666
      positionAbsolute:
        x: 1451.8090926176353
        y: 18.428991668120666
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1777031754486'
          - result
          value_type: string
          variable: result
        selected: false
        title: End 2
        type: end
      height: 90
      id: '1777031938898'
      position:
        x: 1911.0034276304316
        y: 60.1739312147385
      positionAbsolute:
        x: 1911.0034276304316
        y: 60.1739312147385
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: 56.63199537325943
      y: 63.73309818876413
      zoom: 0.46878709207535035
