dsl/Smart_Voyager__Test_Itinerary_Orchestrator.yml
{"data": "app:\n  description: Sub-Workflow D of The Smart Voyager platform. Generates a detailed,\n    day-by-day  itinerary with Morning/Afternoon/Evening/Night slots. Maps landmarks\n    to  dining based on proximity and travel profile (Family, Kids, Solo, etc.).\n  icon: \ud83d\uddd3\n  icon_background: '#E0F2F1'\n  mode: workflow\n  name: Smart Voyager \u2014 Test_Itinerary Orchestrator\n  use_icon_as_answer_icon: false\ndependencies:\n- current_identifier: null\n  type: marketplace\n  value:\n    marketplace_plugin_unique_identifier: langgenius/gemini:0.7.4@5faf411e694e0da130a337347a625a3812b1b7502a0183382d66d92c841bf05a\nkind: app\nversion: 0.3.1\nworkflow:\n  conversation_variables: []\n  environment_variables: []\n  features:\n    file_upload:\n      allowed_file_extensions:\n      - .JPG\n      - .JPEG\n      - .PNG\n      - .GIF\n      - .WEBP\n      - .SVG\n      allowed_file_types:\n      - image\n      allowed_file_upload_methods:\n      - local_file\n      - remote_url\n      enabled: false\n      fileUploadConfig:\n        audio_file_size_limit: 50\n        batch_count_limit: 5\n        file_size_limit: 50\n        image_file_size_limit: 10\n        video_file_size_limit: 100\n        workflow_file_upload_limit: 10\n      image:\n        enabled: false\n        number_limits: 3\n        transfer_methods:\n        - local_file\n        - remote_url\n      number_limits: 3\n    opening_statement: ''\n    retriever_resource:\n      enabled: true\n    sensitive_word_avoidance:\n      enabled: false\n    speech_to_text:\n      enabled: false\n    suggested_questions: []\n    suggested_questions_after_answer:\n      enabled: false\n    text_to_speech:\n      enabled: false\n      language: ''\n      voice: ''\n  graph:\n    edges:\n    - data:\n        sourceType: start\n        targetType: knowledge-retrieval\n      id: edge-start-to-culture\n      source: start\n      sourceHandle: source\n      target: culture_retrieval\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: start\n        targetType: knowledge-retrieval\n      id: edge-start-to-culinary\n      source: start\n      sourceHandle: source\n      target: culinary_retrieval\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: knowledge-retrieval\n        targetType: code\n      id: edge-culture-to-scheduler\n      source: culture_retrieval\n      sourceHandle: source\n      target: itinerary_scheduler\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: knowledge-retrieval\n        targetType: code\n      id: edge-culinary-to-scheduler\n      source: culinary_retrieval\n      sourceHandle: source\n      target: itinerary_scheduler\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: code\n        targetType: llm\n      id: edge-scheduler-to-formatter\n      source: itinerary_scheduler\n      sourceHandle: source\n      target: itinerary_formatter\n      targetHandle: target\n      type: custom\n    - data:\n        isInLoop: false\n        sourceType: code\n        targetType: code\n      id: itinerary_scheduler-source-1777030383063-target\n      source: itinerary_scheduler\n      sourceHandle: source\n      target: '1777030383063'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    nodes:\n    - data:\n        selected: false\n        title: Start\n        type: start\n        variables:\n        - label: Destination (City)\n          required: true\n          type: text-input\n          variable: destination\n        - label: Duration (Days)\n          required: true\n          type: number\n          variable: num_days\n        - label: Travel Profile\n          options:\n          - Family\n          - Kids\n          - Luxury\n          - Solo\n          - Adventure\n          - Cultural\n          - Romantic\n          required: true\n          type: select\n          variable: profile\n        - label: Arrival Time\n          required: false\n          type: text-input\n          variable: arrival_time\n        - label: Departure Time\n          required: false\n          type: text-input\n          variable: departure_time\n        - label: Origin City (Departure Airport)\n          max_length: 100\n          required: true\n          type: text-input\n          variable: origin\n      height: 219\n      id: start\n      position:\n        x: 80\n        y: 300\n      positionAbsolute:\n        x: 80\n        y: 300\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        dataset_configs:\n          datasets:\n          - dataset:\n              enabled: true\n              id: 281af393-1bd8-4fa5-81eb-f964577a93b8\n          reranking_enable: false\n          retrieval_model: multiple\n          score_threshold_enabled: false\n          top_k: 12\n        dataset_ids:\n        - id1cBXi/gAhO+kDAy1RojyKs0S57xhwhcokjoVlAGAfmRgoj3aVcqhLMAMK0G4Gu\n        multiple_retrieval_config:\n          reranking_enable: true\n          reranking_mode: weighted_score\n          top_k: 4\n          weights:\n            keyword_setting:\n              keyword_weight: 0.3\n            vector_setting:\n              embedding_model_name: gemini-embedding-001\n              embedding_provider_name: langgenius/gemini/google\n              vector_weight: 0.7\n        query_variable_selector:\n        - start\n        - destination\n        retrieval_mode: multiple\n        selected: false\n        single_retrieval_config:\n          model:\n            completion_params: {}\n            mode: chat\n            name: ''\n            provider: ''\n        title: Sights & Landmarks\n        type: knowledge-retrieval\n      height: 91\n      id: culture_retrieval\n      position:\n        x: 430\n        y: 150\n      positionAbsolute:\n        x: 430\n        y: 150\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        dataset_configs:\n          datasets:\n          - dataset:\n              enabled: true\n              id: 016efdb2-f2e9-477a-95b4-f2b706483a61\n          reranking_enable: false\n          retrieval_model: multiple\n          score_threshold_enabled: false\n          top_k: 15\n        dataset_ids:\n        - qjt0Ra9YQQpL78kAO6vTn8s0xEWqDHTksx0ALfxD3hcQQeK3Vl78iMFq8awGm8sO\n        multiple_retrieval_config:\n          reranking_enable: true\n          reranking_mode: weighted_score\n          top_k: 4\n          weights:\n            keyword_setting:\n              keyword_weight: 0\n            vector_setting:\n              embedding_model_name: gemini-embedding-001\n              embedding_provider_name: langgenius/gemini/google\n              vector_weight: 1\n        query_variable_selector:\n        - start\n        - destination\n        retrieval_mode: multiple\n        selected: false\n        single_retrieval_config:\n          model:\n            completion_params: {}\n            mode: chat\n            name: ''\n            provider: ''\n        title: Dining & Gastronomy\n        type: knowledge-retrieval\n      height: 91\n      id: culinary_retrieval\n      position:\n        x: 430\n        y: 450\n      positionAbsolute:\n        x: 430\n        y: 450\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        code: \"import json\\n\\nBREAKFAST_SIGNALS = [\\n    'bakery', 'pastry', 'breakfast',\\\n          \\ 'boulangerie', 'cafe', 'brunch',\\n    'croissant', 'espresso', 'patisserie',\\\n          \\ 'pasticceria', 'coffee',\\n]\\nLUNCH_SIGNALS = [\\n    'lunch', 'market',\\\n          \\ 'bistro', 'snack', 'sandwich', 'casual',\\n    'street food', 'midday',\\\n          \\ 'brasserie', 'open sandwich', 'milk bar',\\n    'beer hall', 'cicchetti',\\\n          \\ 'tapas', 'pintxos',\\n]\\n\\nNEARBY_CITIES = {\\n    \\\"paris\\\": [\\n      \\\n          \\  {\\\"city\\\": \\\"Monaco\\\",  \\\"country\\\": \\\"Monaco\\\",  \\\"city_country\\\": \\\"\\\n          Monaco, Monaco\\\",\\n         \\\"transit_hours\\\": 5.5, \\\"min_days_needed\\\"\\\n          : 4, \\\"day_trip_ok\\\": False,\\n         \\\"transit_mode\\\": \\\"TGV + TER train\\\"\\\n          , \\\"transit_cost_usd\\\": 85},\\n        {\\\"city\\\": \\\"Cannes\\\",  \\\"country\\\"\\\n          : \\\"France\\\",  \\\"city_country\\\": \\\"Cannes, France\\\",\\n         \\\"transit_hours\\\"\\\n          : 5.5, \\\"min_days_needed\\\": 3, \\\"day_trip_ok\\\": False,\\n         \\\"transit_mode\\\"\\\n          : \\\"TGV\\\", \\\"transit_cost_usd\\\": 75},\\n    ],\\n    \\\"monaco\\\": [\\n     \\\n          \\   {\\\"city\\\": \\\"Cannes\\\",  \\\"country\\\": \\\"France\\\",  \\\"city_country\\\":\\\n          \\ \\\"Cannes, France\\\",\\n         \\\"transit_hours\\\": 0.6, \\\"min_days_needed\\\"\\\n          : 2, \\\"day_trip_ok\\\": True,\\n         \\\"transit_mode\\\": \\\"TER train\\\", \\\"\\\n          transit_cost_usd\\\": 5},\\n    ],\\n    \\\"cannes\\\": [\\n        {\\\"city\\\": \\\"\\\n          Monaco\\\",  \\\"country\\\": \\\"Monaco\\\",  \\\"city_country\\\": \\\"Monaco, Monaco\\\"\\\n          ,\\n         \\\"transit_hours\\\": 0.6, \\\"min_days_needed\\\": 2, \\\"day_trip_ok\\\"\\\n          : True,\\n         \\\"transit_mode\\\": \\\"TER train\\\", \\\"transit_cost_usd\\\"\\\n          : 5},\\n    ],\\n    \\\"rome\\\": [\\n        {\\\"city\\\": \\\"Positano\\\", \\\"country\\\"\\\n          : \\\"Italy\\\", \\\"city_country\\\": \\\"Positano, Italy\\\",\\n         \\\"transit_hours\\\"\\\n          : 3.0, \\\"min_days_needed\\\": 3, \\\"day_trip_ok\\\": False,\\n         \\\"transit_mode\\\"\\\n          : \\\"Frecciarossa + SITA bus\\\", \\\"transit_cost_usd\\\": 35},\\n        {\\\"city\\\"\\\n          : \\\"Ravello\\\",  \\\"country\\\": \\\"Italy\\\", \\\"city_country\\\": \\\"Ravello, Italy\\\"\\\n          ,\\n         \\\"transit_hours\\\": 3.5, \\\"min_days_needed\\\": 3, \\\"day_trip_ok\\\"\\\n          : False,\\n         \\\"transit_mode\\\": \\\"Frecciarossa + bus\\\", \\\"transit_cost_usd\\\"\\\n          : 40},\\n    ],\\n    \\\"venice\\\": [\\n        {\\\"city\\\": \\\"Rome\\\", \\\"country\\\"\\\n          : \\\"Italy\\\", \\\"city_country\\\": \\\"Rome, Italy\\\",\\n         \\\"transit_hours\\\"\\\n          : 3.5, \\\"min_days_needed\\\": 3, \\\"day_trip_ok\\\": False,\\n         \\\"transit_mode\\\"\\\n          : \\\"Frecciarossa\\\", \\\"transit_cost_usd\\\": 55},\\n    ],\\n    \\\"positano\\\"\\\n          : [\\n        {\\\"city\\\": \\\"Ravello\\\",  \\\"country\\\": \\\"Italy\\\", \\\"city_country\\\"\\\n          : \\\"Ravello, Italy\\\",\\n         \\\"transit_hours\\\": 1.0, \\\"min_days_needed\\\"\\\n          : 2, \\\"day_trip_ok\\\": True,\\n         \\\"transit_mode\\\": \\\"seasonal ferry\\\n          \\ / SITA bus\\\", \\\"transit_cost_usd\\\": 15},\\n        {\\\"city\\\": \\\"Rome\\\"\\\n          ,     \\\"country\\\": \\\"Italy\\\", \\\"city_country\\\": \\\"Rome, Italy\\\",\\n     \\\n          \\    \\\"transit_hours\\\": 3.0, \\\"min_days_needed\\\": 3, \\\"day_trip_ok\\\": False,\\n\\\n          \\         \\\"transit_mode\\\": \\\"SITA bus + Frecciarossa\\\", \\\"transit_cost_usd\\\"\\\n          : 35},\\n    ],\\n    \\\"ravello\\\": [\\n        {\\\"city\\\": \\\"Positano\\\", \\\"\\\n          country\\\": \\\"Italy\\\", \\\"city_country\\\": \\\"Positano, Italy\\\",\\n         \\\"\\\n          transit_hours\\\": 1.0, \\\"min_days_needed\\\": 2, \\\"day_trip_ok\\\": True,\\n \\\n          \\        \\\"transit_mode\\\": \\\"seasonal ferry / SITA bus\\\", \\\"transit_cost_usd\\\"\\\n          : 15},\\n        {\\\"city\\\": \\\"Rome\\\",     \\\"country\\\": \\\"Italy\\\", \\\"city_country\\\"\\\n          : \\\"Rome, Italy\\\",\\n         \\\"transit_hours\\\": 3.5, \\\"min_days_needed\\\"\\\n          : 3, \\\"day_trip_ok\\\": False,\\n         \\\"transit_mode\\\": \\\"bus + Frecciarossa\\\"\\\n          , \\\"transit_cost_usd\\\": 40},\\n    ],\\n    \\\"barcelona\\\": [\\n        {\\\"\\\n          city\\\": \\\"Madrid\\\", \\\"country\\\": \\\"Spain\\\", \\\"city_country\\\": \\\"Madrid,\\\n          \\ Spain\\\",\\n         \\\"transit_hours\\\": 2.5, \\\"min_days_needed\\\": 3, \\\"\\\n          day_trip_ok\\\": False,\\n         \\\"transit_mode\\\": \\\"AVE high-speed train\\\"\\\n          , \\\"transit_cost_usd\\\": 55},\\n    ],\\n    \\\"madrid\\\": [\\n        {\\\"city\\\"\\\n          : \\\"Barcelona\\\", \\\"country\\\": \\\"Spain\\\", \\\"city_country\\\": \\\"Barcelona,\\\n          \\ Spain\\\",\\n         \\\"transit_hours\\\": 2.5, \\\"min_days_needed\\\": 3, \\\"\\\n          day_trip_ok\\\": False,\\n         \\\"transit_mode\\\": \\\"AVE high-speed train\\\"\\\n          , \\\"transit_cost_usd\\\": 55},\\n    ],\\n    \\\"zurich\\\": [\\n        {\\\"city\\\"\\\n          : \\\"Geneva\\\", \\\"country\\\": \\\"Switzerland\\\", \\\"city_country\\\": \\\"Geneva,\\\n          \\ Switzerland\\\",\\n         \\\"transit_hours\\\": 2.75, \\\"min_days_needed\\\"\\\n          : 3, \\\"day_trip_ok\\\": False,\\n         \\\"transit_mode\\\": \\\"SBB IC train\\\"\\\n          , \\\"transit_cost_usd\\\": 50},\\n    ],\\n    \\\"geneva\\\": [\\n        {\\\"city\\\"\\\n          : \\\"Zurich\\\", \\\"country\\\": \\\"Switzerland\\\", \\\"city_country\\\": \\\"Zurich,\\\n          \\ Switzerland\\\",\\n         \\\"transit_hours\\\": 2.75, \\\"min_days_needed\\\"\\\n          : 3, \\\"day_trip_ok\\\": False,\\n         \\\"transit_mode\\\": \\\"SBB IC train\\\"\\\n          , \\\"transit_cost_usd\\\": 50},\\n    ],\\n    \\\"lisbon\\\": [\\n        {\\\"city\\\"\\\n          : \\\"Algarve\\\", \\\"country\\\": \\\"Portugal\\\", \\\"city_country\\\": \\\"Algarve, Portugal\\\"\\\n          ,\\n         \\\"transit_hours\\\": 2.75, \\\"min_days_needed\\\": 3, \\\"day_trip_ok\\\"\\\n          : False,\\n         \\\"transit_mode\\\": \\\"Alfa Pendular train\\\", \\\"transit_cost_usd\\\"\\\n          : 25},\\n    ],\\n    \\\"algarve\\\": [\\n        {\\\"city\\\": \\\"Lisbon\\\", \\\"country\\\"\\\n          : \\\"Portugal\\\", \\\"city_country\\\": \\\"Lisbon, Portugal\\\",\\n         \\\"transit_hours\\\"\\\n          : 2.75, \\\"min_days_needed\\\": 3, \\\"day_trip_ok\\\": False,\\n         \\\"transit_mode\\\"\\\n          : \\\"Alfa Pendular train\\\", \\\"transit_cost_usd\\\": 25},\\n    ],\\n    \\\"prague\\\"\\\n          : [\\n        {\\\"city\\\": \\\"Berlin\\\",   \\\"country\\\": \\\"Germany\\\",       \\\"\\\n          city_country\\\": \\\"Berlin, Germany\\\",\\n         \\\"transit_hours\\\": 4.0, \\\"\\\n          min_days_needed\\\": 3, \\\"day_trip_ok\\\": False,\\n         \\\"transit_mode\\\"\\\n          : \\\"EC train / FlixBus\\\", \\\"transit_cost_usd\\\": 30},\\n        {\\\"city\\\"\\\n          : \\\"Krakow\\\",   \\\"country\\\": \\\"Poland\\\",        \\\"city_country\\\": \\\"Krakow,\\\n          \\ Poland\\\",\\n         \\\"transit_hours\\\": 7.0, \\\"min_days_needed\\\": 3, \\\"\\\n          day_trip_ok\\\": False,\\n         \\\"transit_mode\\\": \\\"RegioJet bus / train\\\"\\\n          , \\\"transit_cost_usd\\\": 25},\\n        {\\\"city\\\": \\\"Budapest\\\", \\\"country\\\"\\\n          : \\\"Hungary\\\",       \\\"city_country\\\": \\\"Budapest, Hungary\\\",\\n        \\\n          \\ \\\"transit_hours\\\": 7.0, \\\"min_days_needed\\\": 3, \\\"day_trip_ok\\\": False,\\n\\\n          \\         \\\"transit_mode\\\": \\\"RegioJet train\\\", \\\"transit_cost_usd\\\": 35},\\n\\\n          \\    ],\\n    \\\"berlin\\\": [\\n        {\\\"city\\\": \\\"Prague\\\",    \\\"country\\\"\\\n          : \\\"Czech Republic\\\", \\\"city_country\\\": \\\"Prague, Czech Republic\\\",\\n  \\\n          \\       \\\"transit_hours\\\": 4.0, \\\"min_days_needed\\\": 3, \\\"day_trip_ok\\\"\\\n          : False,\\n         \\\"transit_mode\\\": \\\"EC train / FlixBus\\\", \\\"transit_cost_usd\\\"\\\n          : 30},\\n        {\\\"city\\\": \\\"Warsaw\\\",    \\\"country\\\": \\\"Poland\\\",     \\\n          \\    \\\"city_country\\\": \\\"Warsaw, Poland\\\",\\n         \\\"transit_hours\\\":\\\n          \\ 5.5, \\\"min_days_needed\\\": 3, \\\"day_trip_ok\\\": False,\\n         \\\"transit_mode\\\"\\\n          : \\\"EC train\\\", \\\"transit_cost_usd\\\": 45},\\n        {\\\"city\\\": \\\"Amsterdam\\\"\\\n          , \\\"country\\\": \\\"Netherlands\\\",    \\\"city_country\\\": \\\"Amsterdam, Netherlands\\\"\\\n          ,\\n         \\\"transit_hours\\\": 6.0, \\\"min_days_needed\\\": 3, \\\"day_trip_ok\\\"\\\n          : False,\\n         \\\"transit_mode\\\": \\\"ICE / IC train\\\", \\\"transit_cost_usd\\\"\\\n          : 50},\\n    ],\\n    \\\"amsterdam\\\": [\\n        {\\\"city\\\": \\\"Berlin\\\", \\\"\\\n          country\\\": \\\"Germany\\\", \\\"city_country\\\": \\\"Berlin, Germany\\\",\\n       \\\n          \\  \\\"transit_hours\\\": 6.0, \\\"min_days_needed\\\": 3, \\\"day_trip_ok\\\": False,\\n\\\n          \\         \\\"transit_mode\\\": \\\"ICE / IC train\\\", \\\"transit_cost_usd\\\": 50},\\n\\\n          \\    ],\\n    \\\"krakow\\\": [\\n        {\\\"city\\\": \\\"Warsaw\\\", \\\"country\\\":\\\n          \\ \\\"Poland\\\",         \\\"city_country\\\": \\\"Warsaw, Poland\\\",\\n         \\\"\\\n          transit_hours\\\": 2.5, \\\"min_days_needed\\\": 2, \\\"day_trip_ok\\\": True,\\n \\\n          \\        \\\"transit_mode\\\": \\\"PKP Express Intercity\\\", \\\"transit_cost_usd\\\"\\\n          : 20},\\n        {\\\"city\\\": \\\"Prague\\\", \\\"country\\\": \\\"Czech Republic\\\",\\\n          \\ \\\"city_country\\\": \\\"Prague, Czech Republic\\\",\\n         \\\"transit_hours\\\"\\\n          : 7.0, \\\"min_days_needed\\\": 3, \\\"day_trip_ok\\\": False,\\n         \\\"transit_mode\\\"\\\n          : \\\"RegioJet bus / train\\\", \\\"transit_cost_usd\\\": 25},\\n    ],\\n    \\\"warsaw\\\"\\\n          : [\\n        {\\\"city\\\": \\\"Krakow\\\", \\\"country\\\": \\\"Poland\\\",  \\\"city_country\\\"\\\n          : \\\"Krakow, Poland\\\",\\n         \\\"transit_hours\\\": 2.5, \\\"min_days_needed\\\"\\\n          : 2, \\\"day_trip_ok\\\": True,\\n         \\\"transit_mode\\\": \\\"PKP Express Intercity\\\"\\\n          , \\\"transit_cost_usd\\\": 20},\\n        {\\\"city\\\": \\\"Berlin\\\", \\\"country\\\"\\\n          : \\\"Germany\\\", \\\"city_country\\\": \\\"Berlin, Germany\\\",\\n         \\\"transit_hours\\\"\\\n          : 5.5, \\\"min_days_needed\\\": 3, \\\"day_trip_ok\\\": False,\\n         \\\"transit_mode\\\"\\\n          : \\\"EC train\\\", \\\"transit_cost_usd\\\": 45},\\n    ],\\n    \\\"budapest\\\": [\\n\\\n          \\        {\\\"city\\\": \\\"Prague\\\", \\\"country\\\": \\\"Czech Republic\\\", \\\"city_country\\\"\\\n          : \\\"Prague, Czech Republic\\\",\\n         \\\"transit_hours\\\": 7.0, \\\"min_days_needed\\\"\\\n          : 3, \\\"day_trip_ok\\\": False,\\n         \\\"transit_mode\\\": \\\"RegioJet train\\\"\\\n          , \\\"transit_cost_usd\\\": 35},\\n        {\\\"city\\\": \\\"Krakow\\\", \\\"country\\\"\\\n          : \\\"Poland\\\",         \\\"city_country\\\": \\\"Krakow, Poland\\\",\\n         \\\"\\\n          transit_hours\\\": 6.0, \\\"min_days_needed\\\": 3, \\\"day_trip_ok\\\": False,\\n\\\n          \\         \\\"transit_mode\\\": \\\"EC train / FlixBus\\\", \\\"transit_cost_usd\\\"\\\n          : 30},\\n    ],\\n    \\\"tirana\\\": [],\\n}\\n\\nMAIN_CITY_NIGHTS = 3\\nSLOT_ORDER\\\n          \\ = [\\\"Breakfast\\\", \\\"Morning\\\", \\\"Lunch\\\", \\\"Afternoon\\\", \\\"Evening\\\"]\\n\\\n          \\n\\ndef build_city_legs(destination, origin, num_days):\\n    dest_key  \\\n          \\  = destination.lower().strip()\\n    nearby      = NEARBY_CITIES.get(dest_key,\\\n          \\ [])\\n    main_nights = min(MAIN_CITY_NIGHTS, num_days)\\n    budget   \\\n          \\   = num_days - main_nights\\n\\n    legs = []\\n    legs.append({\\n     \\\n          \\   \\\"leg_id\\\": 1,\\n        \\\"from\\\": origin,\\n        \\\"to\\\": destination,\\n\\\n          \\        \\\"city_country\\\": destination,\\n        \\\"city_name\\\": destination,\\n\\\n          \\        \\\"nights\\\": main_nights,\\n        \\\"leg_type\\\": \\\"flight\\\",\\n \\\n          \\       \\\"transit_mode\\\": \\\"flight\\\",\\n        \\\"transit_cost_usd\\\": 0\\n\\\n          \\    })\\n\\n    for place in nearby:\\n        if budget <= 0:\\n         \\\n          \\   break\\n        min_nights_required = 1 if place[\\\"day_trip_ok\\\"] else\\\n          \\ 2\\n        if budget < min_nights_required:\\n            continue\\n  \\\n          \\      nights_to_give = min(place[\\\"min_days_needed\\\"], budget)\\n      \\\n          \\  leg_type = \\\"day_trip\\\" if place[\\\"day_trip_ok\\\"] and nights_to_give\\\n          \\ <= 1 else \\\"overnight\\\"\\n        legs.append({\\n            \\\"leg_id\\\"\\\n          : len(legs) + 1,\\n            \\\"from\\\": legs[-1][\\\"to\\\"],\\n            \\\"\\\n          to\\\": place[\\\"city\\\"],\\n            \\\"city_country\\\": place[\\\"city_country\\\"\\\n          ],\\n            \\\"city_name\\\": place[\\\"city\\\"],\\n            \\\"min_days_needed\\\"\\\n          : place[\\\"min_days_needed\\\"],\\n            \\\"nights\\\": nights_to_give,\\n\\\n          \\            \\\"leg_type\\\": leg_type,\\n            \\\"transit_mode\\\": place[\\\"\\\n          transit_mode\\\"],\\n            \\\"transit_cost_usd\\\": place[\\\"transit_cost_usd\\\"\\\n          ],\\n            \\\"transit_hours\\\": place[\\\"transit_hours\\\"]\\n        })\\n\\\n          \\        budget -= nights_to_give\\n\\n    # FIX 1: return flight always departs\\\n          \\ from main destination, not last excursion city\\n    legs.append({\\n  \\\n          \\      \\\"leg_id\\\": len(legs) + 1,\\n        \\\"from\\\": destination,\\n    \\\n          \\    \\\"to\\\": origin,\\n        \\\"city_country\\\": None,\\n        \\\"city_name\\\"\\\n          : origin,\\n        \\\"nights\\\": 0,\\n        \\\"leg_type\\\": \\\"return_flight\\\"\\\n          ,\\n        \\\"transit_mode\\\": \\\"flight\\\",\\n        \\\"transit_cost_usd\\\":\\\n          \\ 0\\n    })\\n    return legs\\n\\n\\ndef build_day_city_map(city_legs, num_days,\\\n          \\ destination):\\n    day_city_map = {}\\n    day_transit  = {}\\n    current_day\\\n          \\  = 1\\n\\n    excursion_legs      = [l for l in city_legs if l[\\\"leg_type\\\"\\\n          ] in (\\\"overnight\\\", \\\"day_trip\\\")]\\n    last_excursion_city = excursion_legs[-1][\\\"\\\n          to\\\"] if excursion_legs else None\\n\\n    for leg in city_legs:\\n       \\\n          \\ if leg[\\\"leg_type\\\"] == \\\"return_flight\\\":\\n            continue\\n\\n \\\n          \\       if leg[\\\"leg_type\\\"] == \\\"flight\\\":\\n            if current_day\\\n          \\ == 1:\\n                day_transit[current_day] = leg[\\\"from\\\"] + \\\" ->\\\n          \\ \\\" + leg[\\\"to\\\"]\\n            for d in range(current_day, current_day\\\n          \\ + leg[\\\"nights\\\"]):\\n                day_city_map[d] = {\\n           \\\n          \\         \\\"city_name\\\":    leg[\\\"to\\\"],\\n                    \\\"city_country\\\"\\\n          : leg[\\\"city_country\\\"],\\n                    \\\"is_main_dest\\\": True\\n \\\n          \\               }\\n            current_day += leg[\\\"nights\\\"]\\n\\n      \\\n          \\  elif leg[\\\"leg_type\\\"] in (\\\"overnight\\\", \\\"day_trip\\\"):\\n          \\\n          \\  nights = leg[\\\"nights\\\"] if leg[\\\"nights\\\"] > 0 else 1\\n            day_transit[current_day]\\\n          \\ = leg[\\\"from\\\"] + \\\" -> \\\" + leg[\\\"to\\\"]\\n            for d in range(current_day,\\\n          \\ current_day + nights):\\n                day_city_map[d] = {\\n        \\\n          \\            \\\"city_name\\\":    leg[\\\"to\\\"],\\n                    \\\"city_country\\\"\\\n          : leg[\\\"city_country\\\"],\\n                    \\\"is_main_dest\\\": False\\n\\\n          \\                }\\n            current_day += nights\\n\\n    # FIX 2: last\\\n          \\ content day always returns to main destination\\n    last_content_day =\\\n          \\ num_days\\n    if last_content_day in day_city_map:\\n        if not day_city_map[last_content_day][\\\"\\\n          is_main_dest\\\"] and last_excursion_city:\\n            day_city_map[last_content_day]\\\n          \\ = {\\n                \\\"city_name\\\":    destination,\\n                \\\"\\\n          city_country\\\": destination,\\n                \\\"is_main_dest\\\": True\\n \\\n          \\           }\\n            day_transit[last_content_day] = last_excursion_city\\\n          \\ + \\\" -> \\\" + destination\\n\\n    for d in range(current_day, num_days +\\\n          \\ 1):\\n        day_city_map[d] = {\\n            \\\"city_name\\\":    destination,\\n\\\n          \\            \\\"city_country\\\": destination,\\n            \\\"is_main_dest\\\"\\\n          : True\\n        }\\n\\n    return day_city_map, day_transit\\n\\n\\ndef main(culture_data,\\\n          \\ culinary_data, profile, num_days, arrival_time, departure_time,\\n    \\\n          \\     destination, origin):\\n\\n    if isinstance(culture_data, list):\\n\\\n          \\        culture_data  = \\\"\\\\n\\\\n\\\".join(str(i) for i in culture_data)\\n\\\n          \\    if isinstance(culinary_data, list):\\n        culinary_data = \\\"\\\\n\\\\\\\n          n\\\".join(str(i) for i in culinary_data)\\n\\n    num_days  = int(num_days)\\n\\\n          \\    profile   = str(profile).lower()\\n\\n    try:\\n        arrival_h = int(str(arrival_time).split(':')[0])\\\n          \\ if arrival_time and ':' in str(arrival_time) else 9\\n    except:\\n   \\\n          \\     arrival_h = 9\\n    try:\\n        departure_h = int(str(departure_time).split(':')[0])\\\n          \\ if departure_time and ':' in str(departure_time) else 18\\n    except:\\n\\\n          \\        departure_h = 18\\n\\n    def get_suitability(text, pref):\\n    \\\n          \\    s    = 0\\n        text = text.lower()\\n        if pref in text:\\n \\\n          \\           s += 5\\n        if 'kids' in pref or 'family' in pref:\\n   \\\n          \\         if any(x in text for x in ['park', 'garden', 'relax', 'children',\\\n          \\ 'casual']):\\n                s += 3\\n        return s\\n\\n    def get_slot(description,\\\n          \\ name, cuisine_type=\\\"\\\"):\\n        text = (description + \\\" \\\" + name\\\n          \\ + \\\" \\\" + cuisine_type).lower()\\n        if any(sig in text for sig in\\\n          \\ BREAKFAST_SIGNALS):\\n            return 'Breakfast'\\n        if any(sig\\\n          \\ in text for sig in LUNCH_SIGNALS):\\n            return 'Lunch'\\n     \\\n          \\   return 'Evening'\\n\\n    dining = []\\n    for block in culinary_data.split('\\\\\\\n          n\\\\n'):\\n        if ',' not in block:\\n            continue\\n        lines\\\n          \\   = block.strip().split('\\\\n')\\n        name    = lines[0].replace('Establishment:',\\\n          \\ '').strip()\\n        cuisine = next((ln for ln in lines if 'cuisine' in\\\n          \\ ln.lower()), '')\\n        dining.append({\\n            'name':  name,\\n\\\n          \\            'slot':  get_slot(block, name, cuisine),\\n            'score':\\\n          \\ get_suitability(block, profile),\\n        })\\n    dining.sort(key=lambda\\\n          \\ x: x['score'], reverse=True)\\n\\n    landmarks = []\\n    for block in culture_data.split('\\\\\\\n          n\\\\n'):\\n        if ',' not in block:\\n            continue\\n        landmarks.append({\\n\\\n          \\            'name':  block.split('\\\\n')[0].replace('Landmark:', '').strip(),\\n\\\n          \\            'score': get_suitability(block, profile),\\n        })\\n   \\\n          \\ landmarks.sort(key=lambda x: x['score'], reverse=True)\\n\\n    if not dining\\\n          \\ and not landmarks:\\n        return {\\n            \\\"structured_schedule\\\"\\\n          : \\\"CRITICAL_ERROR: No data found in Knowledge Base for this destination.\\\n          \\ Check Dataset IDs.\\\",\\n            \\\"profile_used\\\": profile,\\n      \\\n          \\      \\\"city_legs\\\": \\\"[]\\\"\\n        }\\n\\n    city_legs               \\\n          \\  = build_city_legs(destination, origin, num_days)\\n    day_city_map, day_transit\\\n          \\ = build_day_city_map(city_legs, num_days, destination)\\n\\n    def kb_slot(primary,\\\n          \\ city, city_country):\\n        return {\\\"Primary\\\": primary, \\\"City\\\":\\\n          \\ city, \\\"City_Country\\\": city_country}\\n\\n    def missing_slot(placeholder,\\\n          \\ city, city_country, hint):\\n        return {\\n            \\\"Primary\\\"\\\n          :      placeholder,\\n            \\\"City\\\":         city,\\n            \\\"\\\n          City_Country\\\": city_country,\\n            \\\"Note\\\":         \\\"KB_MISSING:\\\n          \\ No data for \\\" + city + \\\". \\\" + hint\\n        }\\n\\n    schedule = {}\\n\\\n          \\    l_idx    = 0\\n\\n    for day in range(1, num_days + 1):\\n        day_key\\\n          \\  = \\\"Day \\\" + str(day)\\n        slots    = {}\\n        is_arr   = (day\\\n          \\ == 1)\\n        is_dep   = (day == num_days)\\n\\n        city_info = day_city_map.get(day,\\\n          \\ {\\n            \\\"city_name\\\":    destination,\\n            \\\"city_country\\\"\\\n          : destination,\\n            \\\"is_main_dest\\\": True\\n        })\\n       \\\n          \\ city_name     = city_info[\\\"city_name\\\"]\\n        city_country  = city_info[\\\"\\\n          city_country\\\"]\\n        is_main       = city_info[\\\"is_main_dest\\\"]\\n \\\n          \\       transit_label = day_transit.get(day, \\\"\\\")\\n\\n        if is_main:\\n\\\n          \\            if not (is_arr and arrival_h > 10):\\n                pool =\\\n          \\ [d for d in dining if d['slot'] == 'Breakfast']\\n                slots[\\\"\\\n          Breakfast\\\"] = kb_slot(\\n                    pool[day % len(pool)]['name']\\\n          \\ if pool else \\\"Local Cafe\\\",\\n                    city_name, city_country\\n\\\n          \\                )\\n            if not (is_arr and arrival_h > 12) and landmarks:\\n\\\n          \\                slots[\\\"Morning\\\"] = kb_slot(\\n                    landmarks[l_idx\\\n          \\ % len(landmarks)]['name'],\\n                    city_name, city_country\\n\\\n          \\                )\\n                l_idx += 1\\n            if not (is_arr\\\n          \\ and arrival_h > 14) and not (is_dep and departure_h < 13):\\n         \\\n          \\       pool = [d for d in dining if d['slot'] == 'Lunch']\\n           \\\n          \\     slots[\\\"Lunch\\\"] = kb_slot(\\n                    pool[day % len(pool)]['name']\\\n          \\ if pool else \\\"Local Bistro\\\",\\n                    city_name, city_country\\n\\\n          \\                )\\n            if not (is_dep and departure_h < 16) and\\\n          \\ landmarks:\\n                slots[\\\"Afternoon\\\"] = kb_slot(\\n        \\\n          \\            landmarks[l_idx % len(landmarks)]['name'],\\n              \\\n          \\      city_name, city_country\\n                )\\n                l_idx\\\n          \\ += 1\\n            if not (is_arr and arrival_h > 19) and not (is_dep and\\\n          \\ departure_h < 20):\\n                pool = [d for d in dining if d['slot']\\\n          \\ == 'Evening']\\n                slots[\\\"Evening\\\"] = kb_slot(\\n       \\\n          \\             pool[day % len(pool)]['name'] if pool else \\\"Restaurant\\\"\\\n          ,\\n                    city_name, city_country\\n                )\\n    \\\n          \\    else:\\n            if not (is_arr and arrival_h > 10):\\n          \\\n          \\      slots[\\\"Breakfast\\\"] = missing_slot(\\n                    \\\"Local\\\n          \\ Cafe\\\", city_name, city_country,\\n                    \\\"Suggest a well-known\\\n          \\ local breakfast spot.\\\"\\n                )\\n            if not (is_arr\\\n          \\ and arrival_h > 12):\\n                slots[\\\"Morning\\\"] = missing_slot(\\n\\\n          \\                    \\\"Iconic Landmark\\\", city_name, city_country,\\n   \\\n          \\                 \\\"Suggest a famous must-see landmark.\\\"\\n            \\\n          \\    )\\n            if not (is_arr and arrival_h > 14) and not (is_dep and\\\n          \\ departure_h < 13):\\n                slots[\\\"Lunch\\\"] = missing_slot(\\n\\\n          \\                    \\\"Local Restaurant\\\", city_name, city_country,\\n  \\\n          \\                  \\\"Suggest a popular local lunch spot.\\\"\\n           \\\n          \\     )\\n            if not (is_dep and departure_h < 16):\\n           \\\n          \\     slots[\\\"Afternoon\\\"] = missing_slot(\\n                    \\\"Hidden\\\n          \\ Gem\\\", city_name, city_country,\\n                    \\\"Suggest a must-see\\\n          \\ afternoon activity.\\\"\\n                )\\n            if not (is_arr and\\\n          \\ arrival_h > 19) and not (is_dep and departure_h < 20):\\n             \\\n          \\   slots[\\\"Evening\\\"] = missing_slot(\\n                    \\\"Local Restaurant\\\"\\\n          , city_name, city_country,\\n                    \\\"Suggest a popular dinner\\\n          \\ venue.\\\"\\n                )\\n\\n        present_slots     = [s for s in\\\n          \\ SLOT_ORDER if s in slots]\\n        schedule[day_key] = {\\n           \\\n          \\ \\\"slot_order\\\":    present_slots,\\n            \\\"slots\\\":         slots,\\n\\\n          \\            \\\"transit_label\\\": transit_label\\n        }\\n\\n    return {\\n\\\n          \\        \\\"structured_schedule\\\": json.dumps(schedule),\\n        \\\"profile_used\\\"\\\n          :        profile,\\n        \\\"city_legs\\\":           json.dumps(city_legs)\\n\\\n          \\    }\"\n        code_language: python3\n        outputs:\n          city_legs:\n            children: null\n            type: string\n          profile_used:\n            type: string\n          structured_schedule:\n            type: string\n        selected: true\n        title: Daily Itinerary Scheduler\n        type: code\n        variables:\n        - value_selector:\n          - culture_retrieval\n          - result\n          variable: culture_data\n        - value_selector:\n          - culinary_retrieval\n          - result\n          variable: culinary_data\n        - value_selector:\n          - start\n          - profile\n          variable: profile\n        - value_selector:\n          - start\n          - num_days\n          variable: num_days\n        - value_selector:\n          - start\n          - arrival_time\n          variable: arrival_time\n        - value_selector:\n          - start\n          - departure_time\n          variable: departure_time\n        - value_selector:\n          - start\n          - destination\n          variable: destination\n        - value_selector:\n          - start\n          - origin\n          variable: origin\n      height: 53\n      id: itinerary_scheduler\n      position:\n        x: 790\n        y: 300\n      positionAbsolute:\n        x: 790\n        y: 300\n      selected: true\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        context:\n          enabled: true\n          variable_selector:\n          - culture_retrieval\n          - result\n        memory:\n          enabled: false\n          role_prefix:\n            assistant: ''\n            user: ''\n          window:\n            enabled: false\n            size: 0\n        model:\n          completion_params:\n            temperature: 0.7\n          mode: chat\n          name: gemini-2.5-pro\n          provider: langgenius/gemini/google\n        prompt_template:\n        - id: 43613531-6f0c-402c-9a7f-f71b80f39b4d\n          role: system\n          text: \"You are a premium travel narrative writer for The Smart Voyager enterprise\\\n            \\ travel platform.\\n\\nYou receive two inputs:\\n  1. SCHEDULE JSON \u2014 the\\\n            \\ authoritative day-by-day plan. Each day has:\\n       - \\\"slot_order\\\"\\\n            : an ordered list of slot keys present that day\\n       - \\\"slots\\\": a\\\n            \\ map of slot key \u2192 venue details\\n     You MUST iterate through slot_order\\\n            \\ in the order given \u2014 no additions, no omissions, no reordering.\\n  2.\\\n            \\ KNOWLEDGE BASE \u2014 rich venue descriptions. Use these to write vivid 2\u20133\\\n            \\ sentence copy.\\n\\n\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\\nSLOT KEY \u2192 OUTPUT LABEL\\\n            \\ MAP  (follow this exactly, one-to-one)\\n\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\\n\\\n            \\  Breakfast  \u2192  \u2615 Breakfast\\n  Morning    \u2192  \\U0001F305 Morning\\n  Lunch\\\n            \\      \u2192  \\U0001F37D\ufe0f Lunch\\n  Afternoon  \u2192  \u2600\ufe0f Afternoon\\n  Evening \\\n            \\   \u2192  \\U0001F306 Evening\\n\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\\n\\nSTRICT RULES:\\n\\\n            \\  1. Only render slots that appear in \\\"slot_order\\\". Do NOT add extra\\\n            \\ slots.\\n  2. Render slots in the exact sequence listed in \\\"slot_order\\\"\\\n            .\\n  3. Each slot appears EXACTLY ONCE per day. If you see \\\"Afternoon\\\"\\\n            \\ once, write it once.\\n  4. Copy venue names from \\\"slots[key].Primary\\\"\\\n            \\ verbatim \u2014 never substitute or invent.\\n  5. Look up each venue in the\\\n            \\ Knowledge Base for a vivid 2\u20133 sentence description.\\n     If not found,\\\n            \\ write one factual sentence from your own knowledge.\\n  6. If a venue\\\n            \\ appears on multiple days, vary the angle of the description each time.\\n\\\n            \\  7. Heading format: [Emoji + Label] \u2014 [Venue Name] \u2014 [City_Country]\\\n            \\ Use the \\\"City_Country\\\" field from the slot (e.g. \\\"Cannes, France\\\"\\\n            \\ or \\\"Paris, France\\\"). Never write just the city name alone in the heading.\\n\\\n            \\  8. Use relative days only: Day 1, Day 2 \u2014 never calendar dates.\\n \\\n            \\ 9. If \\\"slots[key]\\\" contains a \\\"Note\\\" starting with \\\"KB_MISSING\\\"\\\n            , ignore the\\n     placeholder name and use your knowledge to suggest\\\n            \\ a real, specific venue\\n     in that city. Write 1\u20132 vivid sentences.\\\n            \\ Still follow the heading format.\\n  10. If structured_schedule starts\\\n            \\ with \\\"CRITICAL_ERROR\\\", output that message verbatim and stop.\\n\\n\\\n            OUTPUT FORMAT \u2014 repeat for every day:\\n\\n### Day N \u2014 [one evocative subtitle]\\\n            \\ [transit_label]\\n\\nWhere transit_label comes from the \\\"transit_label\\\"\\\n            \\ field of each day in the schedule JSON.\\n- If transit_label is non-empty,\\\n            \\ append it in square brackets after the subtitle.\\n  Example:  ### Day\\\n            \\ 8 \u2014 Red Carpets and Old Town Charm [Monaco \u2192 Cannes]\\n- If transit_label\\\n            \\ is empty (a settled day with no city change), omit the brackets entirely.\\n\\\n            \\  Example:  ### Day 2 \u2014 Stained Glass and Revolution\\n\\n[For each key\\\n            \\ in slot_order, in order:]\\n\\n[Emoji Label] \u2014 [Venue Name] \u2014 [City]\\n\\\n            [2\u20133 sentence description tailored to travel profile]\\n\\n---\\nIMPORTANT:\\\n            \\ You must complete the FULL itinerary for ALL days before stopping. Never\\\n            \\ truncate mid-day or mid-sentence. If you are running long, write shorter\\\n            \\ descriptions (1 sentence each) but always finish every day completely.\"\n        - id: ab098751-3d02-4288-bcfd-6b7e7f6ad09b\n          role: user\n          text: \"Write a rich {{#start.profile#}} travel itinerary for {{#start.destination#}}\\\n            \\ covering {{#start.num_days#}} days.\\n\\n\u2500\u2500 STEP 1: SCHEDULE JSON (follow\\\n            \\ exactly for structure and city labels) \u2500\u2500\u2500\u2500\\n{{#itinerary_scheduler.structured_schedule#}}\\n\\\n            \\n\u2500\u2500 STEP 2: KNOWLEDGE BASE \u2014 LANDMARKS (use for descriptions) \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\\n\\\n            {{#context#}}\\n\\n\u2500\u2500 STEP 3: KNOWLEDGE BASE \u2014 DINING (use for descriptions)\\\n            \\ \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\\n{{#culinary_retrieval.result#}}\\n\\n\u2500\u2500 INSTRUCTIONS\\\n            \\ \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\\nTravel\\\n            \\ profile: {{#itinerary_scheduler.profile_used#}}\\n\\nFor every venue in\\\n            \\ the schedule:\\n- If found in the Knowledge Base \u2192 write a vivid, informative\\\n            \\ description.\\n- If the slot has a \\\"Note\\\" starting with KB_MISSING\\\n            \\ \u2192 use your own knowledge\\n  to name and describe a real venue in that\\\n            \\ city.\\n- If the same venue repeats on different days \u2192 vary the description\\\n            \\ angle\\n  (e.g. Day 1 focus on history, Day 3 focus on a hidden gem detail).\\n\\\n            - Always append \u2014 [City] to every venue name in the heading.\\n\\nProduce\\\n            \\ the full itinerary now.\"\n        selected: false\n        title: Itinerary Formatter\n        type: llm\n        variables: []\n        vision:\n          enabled: false\n      height: 89\n      id: itinerary_formatter\n      position:\n        x: 1201.01183472198\n        y: 486.2466533618335\n      positionAbsolute:\n        x: 1201.01183472198\n        y: 486.2466533618335\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        outputs:\n        - type: string\n          value_selector:\n          - itinerary_scheduler\n          - city_legs\n          variable: city_legs\n        - value_selector:\n          - itinerary_formatter\n          - text\n          value_type: string\n          variable: itinerary_markdown\n        selected: false\n        title: End\n        type: end\n      height: 116\n      id: end\n      position:\n        x: 2126.1740931992676\n        y: 168.34288296835916\n      positionAbsolute:\n        x: 2126.1740931992676\n        y: 168.34288296835916\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        code: \"\\ndef main(arg1: str, arg2: str) -> dict:\\n    return {\\n        \\\"\\\n          result\\\": arg1 + arg2,\\n    }\\n\"\n        code_language: python3\n        desc: ''\n        outputs:\n          result:\n            children: null\n            type: string\n        selected: false\n        title: Code 2\n        type: code\n        variables:\n        - value_selector: []\n          variable: itinerary_markdown\n        - value_selector: []\n          variable: ''\n      height: 53\n      id: '1777030383063'\n      position:\n        x: 1564.2229839178738\n        y: 182.99236882379452\n      positionAbsolute:\n        x: 1564.2229839178738\n        y: 182.99236882379452\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    viewport:\n      x: 64.88488355690095\n      y: 164.01343299221364\n      zoom: 0.3114149916418613\n"}
