dsl/Sys_Files_Doc_Extractor.yml
app:
  description: Simple chatflow that reads sys.files via document extractor — official
    Dify pattern from docs.
  icon: 📄
  icon_background: '#E8F4FD'
  mode: advanced-chat
  name: Sys Files Doc Extractor
  use_icon_as_answer_icon: true
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/gemini:0.7.4@5faf411e694e0da130a337347a625a3812b1b7502a0183382d66d92c841bf05a
kind: app
version: 0.3.1
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .PDF
      - .DOCX
      - .XLSX
      - .XLS
      - .CSV
      - .TXT
      allowed_file_types:
      - document
      - image
      allowed_file_upload_methods:
      - local_file
      enabled: true
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 50
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
      number_limits: 5
    opening_statement: 'Upload a document using the 📎 paperclip button and I will
      extract and display its contents.


      Supported: PDF, DOCX, XLSX, XLS, CSV, TXT'
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        sourceType: start
        targetType: if-else
      id: e01_start_to_check
      source: node_start
      sourceHandle: source
      target: node_check_file
      targetHandle: target
      type: custom
    - data:
        sourceType: if-else
        targetType: document-extractor
      id: e02_check_to_extractor
      source: node_check_file
      sourceHandle: case_has_file
      target: node_doc_extractor
      targetHandle: target
      type: custom
    - data:
        sourceType: document-extractor
        targetType: llm
      id: e03_extractor_to_llm
      source: node_doc_extractor
      sourceHandle: source
      target: node_llm
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: answer
      id: e04_llm_to_answer
      source: node_llm
      sourceHandle: source
      target: node_answer
      targetHandle: target
      type: custom
    - data:
        sourceType: if-else
        targetType: answer
      id: e05_check_to_no_file
      source: node_check_file
      sourceHandle: 'false'
      target: node_answer_no_file
      targetHandle: target
      type: custom
    nodes:
    - data:
        desc: ''
        selected: false
        title: Start
        type: start
        variables: []
      height: 53
      id: node_start
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        cases:
        - case_id: case_has_file
          conditions:
          - comparison_operator: not empty
            id: cond_has_file
            varType: array[file]
            variable_selector:
            - sys
            - files
          id: case_has_file
          logical_operator: and
        desc: ''
        selected: false
        title: File Uploaded?
        type: if-else
      height: 125
      id: node_check_file
      position:
        x: 360
        y: 282
      positionAbsolute:
        x: 360
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        is_array_file: true
        selected: false
        title: Document Extractor
        type: document-extractor
        variable_selector:
        - sys
        - files
      height: 94
      id: node_doc_extractor
      position:
        x: 640
        y: 160
      positionAbsolute:
        x: 640
        y: 160
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        memory:
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
        model:
          completion_params:
            max_tokens: 4000
            temperature: 0.1
          mode: chat
          name: gemini-2.5-pro
          provider: langgenius/gemini/google
        prompt_template:
        - id: sys-llm-001
          role: system
          text: 'You are a document content display assistant.


            The following text has been extracted from the uploaded document:


            ---

            {{#node_doc_extractor.text#}}

            ---


            NEGATIVE SCENARIOS — check first:

            - If extracted text is empty or blank: reply ''⚠️ The uploaded file appears
            to be empty. Please upload a file with content.''

            - If content is garbled or clearly not a document: reply ''⚠️ Could not
            read this file. Supported: PDF, DOCX, XLSX, XLS, CSV, TXT.''


            If content is valid, display ALL of it faithfully:

            - Use markdown tables for tabular data

            - Use bullet points for lists

            - Use headings for sections

            - Do NOT summarise — show everything


            End with: 📋 **Summary:** [1 sentence describing the document]'
        - id: usr-llm-001
          role: user
          text: '{{#sys.query#}}'
        selected: false
        title: LLM
        type: llm
        variables:
        - value_selector:
          - node_doc_extractor
          - text
          variable: extracted_text
        vision:
          enabled: false
      height: 89
      id: node_llm
      position:
        x: 920
        y: 160
      positionAbsolute:
        x: 920
        y: 160
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '{{#node_llm.text#}}'
        desc: ''
        selected: false
        title: Answer
        type: answer
        variables: []
      height: 103
      id: node_answer
      position:
        x: 1200
        y: 160
      positionAbsolute:
        x: 1200
        y: 160
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '⚠️ No file detected. Please upload a document using the 📎 paperclip
          button.


          Supported: PDF, DOCX, XLSX, XLS, CSV, TXT'
        desc: ''
        selected: false
        title: No File Answer
        type: answer
        variables: []
      height: 149
      id: node_answer_no_file
      position:
        x: 640
        y: 420
      positionAbsolute:
        x: 640
        y: 420
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: 20.26089374756623
      y: 221.45933433551372
      zoom: 0.8190349416728075
