dsl/Sys_Files_Doc_Extractor.yml
{"data": "app:\n  description: Simple chatflow that reads sys.files via document extractor \u2014 official\n    Dify pattern from docs.\n  icon: \ud83d\udcc4\n  icon_background: '#E8F4FD'\n  mode: advanced-chat\n  name: Sys Files Doc Extractor\n  use_icon_as_answer_icon: true\ndependencies:\n- current_identifier: null\n  type: marketplace\n  value:\n    marketplace_plugin_unique_identifier: langgenius/gemini:0.7.4@5faf411e694e0da130a337347a625a3812b1b7502a0183382d66d92c841bf05a\nkind: app\nversion: 0.3.1\nworkflow:\n  conversation_variables: []\n  environment_variables: []\n  features:\n    file_upload:\n      allowed_file_extensions:\n      - .PDF\n      - .DOCX\n      - .XLSX\n      - .XLS\n      - .CSV\n      - .TXT\n      allowed_file_types:\n      - document\n      - image\n      allowed_file_upload_methods:\n      - local_file\n      enabled: true\n      fileUploadConfig:\n        audio_file_size_limit: 50\n        batch_count_limit: 5\n        file_size_limit: 50\n        image_file_size_limit: 10\n        video_file_size_limit: 100\n        workflow_file_upload_limit: 10\n      image:\n        enabled: false\n        number_limits: 3\n        transfer_methods:\n        - local_file\n      number_limits: 5\n    opening_statement: 'Upload a document using the \ud83d\udcce paperclip button and I will\n      extract and display its contents.\n\n\n      Supported: PDF, DOCX, XLSX, XLS, CSV, TXT'\n    retriever_resource:\n      enabled: false\n    sensitive_word_avoidance:\n      enabled: false\n    speech_to_text:\n      enabled: false\n    suggested_questions: []\n    suggested_questions_after_answer:\n      enabled: false\n    text_to_speech:\n      enabled: false\n      language: ''\n      voice: ''\n  graph:\n    edges:\n    - data:\n        sourceType: start\n        targetType: if-else\n      id: e01_start_to_check\n      source: node_start\n      sourceHandle: source\n      target: node_check_file\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: if-else\n        targetType: document-extractor\n      id: e02_check_to_extractor\n      source: node_check_file\n      sourceHandle: case_has_file\n      target: node_doc_extractor\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: document-extractor\n        targetType: llm\n      id: e03_extractor_to_llm\n      source: node_doc_extractor\n      sourceHandle: source\n      target: node_llm\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: llm\n        targetType: answer\n      id: e04_llm_to_answer\n      source: node_llm\n      sourceHandle: source\n      target: node_answer\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: if-else\n        targetType: answer\n      id: e05_check_to_no_file\n      source: node_check_file\n      sourceHandle: 'false'\n      target: node_answer_no_file\n      targetHandle: target\n      type: custom\n    nodes:\n    - data:\n        desc: ''\n        selected: false\n        title: Start\n        type: start\n        variables: []\n      height: 53\n      id: node_start\n      position:\n        x: 80\n        y: 282\n      positionAbsolute:\n        x: 80\n        y: 282\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        cases:\n        - case_id: case_has_file\n          conditions:\n          - comparison_operator: not empty\n            id: cond_has_file\n            varType: array[file]\n            variable_selector:\n            - sys\n            - files\n          id: case_has_file\n          logical_operator: and\n        desc: ''\n        selected: false\n        title: File Uploaded?\n        type: if-else\n      height: 125\n      id: node_check_file\n      position:\n        x: 360\n        y: 282\n      positionAbsolute:\n        x: 360\n        y: 282\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        desc: ''\n        is_array_file: true\n        selected: false\n        title: Document Extractor\n        type: document-extractor\n        variable_selector:\n        - sys\n        - files\n      height: 94\n      id: node_doc_extractor\n      position:\n        x: 640\n        y: 160\n      positionAbsolute:\n        x: 640\n        y: 160\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        context:\n          enabled: false\n          variable_selector: []\n        desc: ''\n        memory:\n          role_prefix:\n            assistant: ''\n            user: ''\n          window:\n            enabled: false\n        model:\n          completion_params:\n            max_tokens: 4000\n            temperature: 0.1\n          mode: chat\n          name: gemini-2.5-pro\n          provider: langgenius/gemini/google\n        prompt_template:\n        - id: sys-llm-001\n          role: system\n          text: 'You are a document content display assistant.\n\n\n            The following text has been extracted from the uploaded document:\n\n\n            ---\n\n            {{#node_doc_extractor.text#}}\n\n            ---\n\n\n            NEGATIVE SCENARIOS \u2014 check first:\n\n            - If extracted text is empty or blank: reply ''\u26a0\ufe0f The uploaded file appears\n            to be empty. Please upload a file with content.''\n\n            - If content is garbled or clearly not a document: reply ''\u26a0\ufe0f Could not\n            read this file. Supported: PDF, DOCX, XLSX, XLS, CSV, TXT.''\n\n\n            If content is valid, display ALL of it faithfully:\n\n            - Use markdown tables for tabular data\n\n            - Use bullet points for lists\n\n            - Use headings for sections\n\n            - Do NOT summarise \u2014 show everything\n\n\n            End with: \ud83d\udccb **Summary:** [1 sentence describing the document]'\n        - id: usr-llm-001\n          role: user\n          text: '{{#sys.query#}}'\n        selected: false\n        title: LLM\n        type: llm\n        variables:\n        - value_selector:\n          - node_doc_extractor\n          - text\n          variable: extracted_text\n        vision:\n          enabled: false\n      height: 89\n      id: node_llm\n      position:\n        x: 920\n        y: 160\n      positionAbsolute:\n        x: 920\n        y: 160\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        answer: '{{#node_llm.text#}}'\n        desc: ''\n        selected: false\n        title: Answer\n        type: answer\n        variables: []\n      height: 103\n      id: node_answer\n      position:\n        x: 1200\n        y: 160\n      positionAbsolute:\n        x: 1200\n        y: 160\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        answer: '\u26a0\ufe0f No file detected. Please upload a document using the \ud83d\udcce paperclip\n          button.\n\n\n          Supported: PDF, DOCX, XLSX, XLS, CSV, TXT'\n        desc: ''\n        selected: false\n        title: No File Answer\n        type: answer\n        variables: []\n      height: 149\n      id: node_answer_no_file\n      position:\n        x: 640\n        y: 420\n      positionAbsolute:\n        x: 640\n        y: 420\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    viewport:\n      x: 20.26089374756623\n      y: 221.45933433551372\n      zoom: 0.8190349416728075\n"}
