dsl/test_structured_data_extraction.yml
{"data": "app:\n  description: ''\n  icon: \ud83e\udd16\n  icon_background: '#FFEAD5'\n  mode: workflow\n  name: test_structured_data_extraction\n  use_icon_as_answer_icon: false\ndependencies:\n- current_identifier: null\n  type: marketplace\n  value:\n    marketplace_plugin_unique_identifier: langgenius/gemini:0.7.4@5faf411e694e0da130a337347a625a3812b1b7502a0183382d66d92c841bf05a\nkind: app\nversion: 0.3.1\nworkflow:\n  conversation_variables: []\n  environment_variables: []\n  features:\n    file_upload:\n      allowed_file_extensions:\n      - .JPG\n      - .JPEG\n      - .PNG\n      - .GIF\n      - .WEBP\n      - .SVG\n      allowed_file_types:\n      - image\n      allowed_file_upload_methods:\n      - local_file\n      - remote_url\n      enabled: false\n      fileUploadConfig:\n        audio_file_size_limit: 50\n        batch_count_limit: 5\n        file_size_limit: 50\n        image_file_size_limit: 10\n        video_file_size_limit: 100\n        workflow_file_upload_limit: 10\n      image:\n        enabled: false\n        number_limits: 3\n        transfer_methods:\n        - local_file\n        - remote_url\n      number_limits: 3\n    opening_statement: ''\n    retriever_resource:\n      enabled: true\n    sensitive_word_avoidance:\n      enabled: false\n    speech_to_text:\n      enabled: false\n    suggested_questions: []\n    suggested_questions_after_answer:\n      enabled: false\n    text_to_speech:\n      enabled: false\n      language: ''\n      voice: ''\n  graph:\n    edges:\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: document-extractor\n        targetType: llm\n      id: 1777368082220-source-1777368132716-target\n      source: '1777368082220'\n      sourceHandle: source\n      target: '1777368132716'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: llm\n        targetType: end\n      id: 1777368132716-source-1777368293086-target\n      source: '1777368132716'\n      sourceHandle: source\n      target: '1777368293086'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: start\n        targetType: code\n      id: 1777368043818-source-1777370993719-target\n      source: '1777368043818'\n      sourceHandle: source\n      target: '1777370993719'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: code\n        targetType: if-else\n      id: 1777370993719-source-1777371165793-target\n      source: '1777370993719'\n      sourceHandle: source\n      target: '1777371165793'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInLoop: false\n        sourceType: if-else\n        targetType: document-extractor\n      id: 1777371165793-true-1777368082220-target\n      source: '1777371165793'\n      sourceHandle: 'true'\n      target: '1777368082220'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: if-else\n        targetType: code\n      id: 1777371165793-19fc6f2a-ae01-4386-a95b-413e534d0fbe-1777371304258-target\n      source: '1777371165793'\n      sourceHandle: 19fc6f2a-ae01-4386-a95b-413e534d0fbe\n      target: '1777371304258'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: code\n        targetType: llm\n      id: 1777371304258-source-1777371588069-target\n      source: '1777371304258'\n      sourceHandle: source\n      target: '1777371588069'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: llm\n        targetType: end\n      id: 1777371588069-source-1777371596600-target\n      source: '1777371588069'\n      sourceHandle: source\n      target: '1777371596600'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: if-else\n        targetType: code\n      id: 1777371165793-87b63a7d-521e-4d0a-b088-05070c8f7871-1777371951993-target\n      source: '1777371165793'\n      sourceHandle: 87b63a7d-521e-4d0a-b088-05070c8f7871\n      target: '1777371951993'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    nodes:\n    - data:\n        desc: ''\n        selected: false\n        title: Start\n        type: start\n        variables:\n        - allowed_file_extensions:\n          - .pdf\n          allowed_file_types:\n          - custom\n          allowed_file_upload_methods:\n          - local_file\n          label: file\n          max_length: 48\n          options: []\n          required: true\n          type: file\n          variable: file\n      height: 89\n      id: '1777368043818'\n      position:\n        x: -88.0565685681608\n        y: 403.9765417026974\n      positionAbsolute:\n        x: -88.0565685681608\n        y: 403.9765417026974\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        desc: ''\n        is_array_file: false\n        selected: false\n        title: Doc Extractor\n        type: document-extractor\n        variable_selector:\n        - '1777368043818'\n        - file\n      height: 94\n      id: '1777368082220'\n      position:\n        x: 812.2731908672484\n        y: 169.51052265195696\n      positionAbsolute:\n        x: 812.2731908672484\n        y: 169.51052265195696\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        context:\n          enabled: false\n          variable_selector: []\n        desc: ''\n        model:\n          completion_params:\n            temperature: 0.7\n          mode: chat\n          name: gemini-2.5-pro\n          provider: langgenius/gemini/google\n        prompt_template:\n        - id: 61e8f7db-a602-4a91-aaf2-2ea990be01c7\n          role: system\n          text: ''\n        - id: 06ea1b52-08d7-43e5-bcba-f77ca58f007d\n          role: user\n          text: 'You are an expert legal document parser.\n\n            Convert the given unstructured policy text into strictly structured JSON.\n\n            STRICT RULES:\n\n            Output ONLY valid JSON\n\n            Do NOT include explanations\n\n            NEVER use null \u2014 use \"\" instead\n\n            Maintain consistent schema\n\n            Classify into:\n\n            articles\n\n            appendices\n\n            revision_history\n\n            supplementary_provisions\n\n            Maintain hierarchy:\n\n            Articles \u2192 Sections \u2192 Subsections\n\n            Normalize:\n\n            Article numbers as integers (\"1\", \"2\", ...)\n\n            Paragraphs as \"Paragraph X\"\n\n            Separate title and content:\n\n            Do NOT merge headings into content\n\n            Extract subsection titles separately:\n\n            Example: \"(1) When business activities were conducted\"\n\n            \u2192 label: \"(1)\"\n\n            \u2192 title: \"When business activities were conducted\"\n\n            Structure tabular/appendix data into nested sections/subsections\n\n            Add \"type\" field for each section:\n\n            definition\n\n            rule\n\n            procedure\n\n            financial\n\n            Do NOT hallucinate missing data\n\n            JSON STRUCTURE:\n\n            {\n\n            \"title\": \"\",\n\n            \"articles\": [\n\n            {\n\n            \"article_number\": \"\",\n\n            \"title\": \"\",\n\n            \"sections\": [\n\n            {\n\n            \"section_title\": \"\",\n\n            \"type\": \"\",\n\n            \"content\": \"\",\n\n            \"subsections\": [\n\n            {\n\n            \"label\": \"\",\n\n            \"title\": \"\",\n\n            \"content\": \"\"\n\n            }\n\n            ]\n\n            }\n\n            ]\n\n            }\n\n            ],\n\n            \"appendices\": [],\n\n            \"revision_history\": [],\n\n            \"supplementary_provisions\": []\n\n            }\n\n            TEXT:\n\n            {{{#1777368082220.text#}}'\n        selected: false\n        structured_output_enabled: false\n        title: LLM\n        type: llm\n        variables: []\n        vision:\n          enabled: false\n      height: 89\n      id: '1777368132716'\n      position:\n        x: 1094.5884723423246\n        y: 234.74577726156943\n      positionAbsolute:\n        x: 1094.5884723423246\n        y: 234.74577726156943\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        desc: ''\n        outputs:\n        - value_selector:\n          - '1777368132716'\n          - text\n          value_type: string\n          variable: data\n        selected: false\n        title: End\n        type: end\n      height: 90\n      id: '1777368293086'\n      position:\n        x: 1416.2073061438255\n        y: 229.14349859549787\n      positionAbsolute:\n        x: 1416.2073061438255\n        y: 229.14349859549787\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        code: \"def main(file_name: str) -> dict:\\n    name = file_name.lower()\\n\\n\\\n          \\    if name.endswith(\\\".pdf\\\"):\\n        file_type = \\\"pdf\\\"\\n    elif\\\n          \\ name.endswith(\\\".docx\\\"):\\n        file_type = \\\"docx\\\"\\n    elif name.endswith(\\\"\\\n          .csv\\\"):\\n        file_type = \\\"csv\\\"\\n    elif name.endswith(\\\".xlsx\\\"\\\n          ):\\n        file_type = \\\"excel\\\"\\n    elif name.endswith((\\\".png\\\", \\\"\\\n          .jpg\\\", \\\".jpeg\\\")):\\n        file_type = \\\"image\\\"\\n    else:\\n       \\\n          \\ file_type = \\\"unknown\\\"\\n\\n    return {\\n        \\\"file_type\\\": file_type\\n\\\n          \\    }\\n\"\n        code_language: python3\n        desc: ''\n        outputs:\n          result:\n            children: null\n            type: string\n        selected: false\n        title: Code\n        type: code\n        variables:\n        - value_selector:\n          - '1777368043818'\n          - file\n          - extension\n          value_type: file\n          variable: file_name\n      height: 53\n      id: '1777370993719'\n      position:\n        x: 191.54812309129977\n        y: 234.74577726156943\n      positionAbsolute:\n        x: 191.54812309129977\n        y: 234.74577726156943\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        cases:\n        - case_id: 'true'\n          conditions:\n          - comparison_operator: contains\n            id: 8a46d166-5e22-4679-b920-3fe3f9669bfc\n            value: pdf/docx\n            varType: string\n            variable_selector:\n            - '1777370993719'\n            - result\n          id: 'true'\n          logical_operator: and\n        - case_id: 19fc6f2a-ae01-4386-a95b-413e534d0fbe\n          conditions:\n          - comparison_operator: contains\n            id: e2a009a2-c762-452b-ac89-7101e42424c5\n            value: csv/xlsx\n            varType: string\n            variable_selector:\n            - '1777370993719'\n            - result\n          id: 19fc6f2a-ae01-4386-a95b-413e534d0fbe\n          logical_operator: and\n        - case_id: 87b63a7d-521e-4d0a-b088-05070c8f7871\n          conditions:\n          - comparison_operator: contains\n            id: 0ea7adb5-4d1d-49db-a9d4-13bcb73b95b5\n            value: unknown\n            varType: string\n            variable_selector:\n            - '1777370993719'\n            - result\n          id: 87b63a7d-521e-4d0a-b088-05070c8f7871\n          logical_operator: and\n        desc: ''\n        selected: false\n        title: IF/ELSE\n        type: if-else\n      height: 221\n      id: '1777371165793'\n      position:\n        x: 469.7975198429526\n        y: 215.77164855226107\n      positionAbsolute:\n        x: 469.7975198429526\n        y: 215.77164855226107\n      selected: true\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        code: \"def main(file_path: str) -> dict:\\n    import pandas as pd\\n\\n    if\\\n          \\ file_path.endswith(\\\".csv\\\"):\\n        df = pd.read_csv(file_path)\\n \\\n          \\   else:\\n        df = pd.read_excel(file_path)\\n\\n    return {\\n     \\\n          \\   \\\"raw_data\\\": df.to_dict(orient=\\\"records\\\")\\n    }\"\n        code_language: python3\n        desc: ''\n        outputs:\n          result:\n            children: null\n            type: string\n        selected: false\n        title: csv_content_reader\n        type: code\n        variables:\n        - value_selector:\n          - '1777368043818'\n          - file\n          - extension\n          value_type: file\n          variable: file_path\n      height: 53\n      id: '1777371304258'\n      position:\n        x: 812.2731908672484\n        y: 368.9199731345367\n      positionAbsolute:\n        x: 812.2731908672484\n        y: 368.9199731345367\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        context:\n          enabled: false\n          variable_selector: []\n        desc: ''\n        model:\n          completion_params:\n            temperature: 0.7\n          mode: chat\n          name: gemini-2.5-pro\n          provider: langgenius/gemini/google\n        prompt_template:\n        - id: 4e4177db-076a-4a9a-a853-3ddfccb30260\n          role: system\n          text: ''\n        - id: 76b25e2d-0d2f-4a6a-ad57-54996af3fc5c\n          role: user\n          text: 'You are an expert data parser for structured and semi-structured\n            tabular data.\n\n            Convert the given CSV/Excel table data into strictly structured JSON.\n\n            STRICT RULES:\n\n            Output ONLY valid JSON\n\n            Do NOT include explanations\n\n            NEVER use null \u2014 use \"\" instead\n\n            Maintain consistent schema\n\n            Do NOT hallucinate missing data\n\n            Preserve ALL rows and column relationships\n\n            INTERPRETATION RULES:\n\n            Treat each row as a meaningful data record\n\n            Use column names to determine meaning (e.g., Category, Amount, Type)\n\n            Group related rows logically into:\n\n            articles\n\n            appendices\n\n            revision_history\n\n            supplementary_provisions\n\n            If the table represents financial data:\n\n            \u2192 map into appendices with structured sections/subsections\n\n            If the table represents rules or descriptions:\n\n            \u2192 map into articles with sections/subsections\n\n            If structure is unclear:\n\n            \u2192 place data under \"articles\" with generic titles\n\n            Normalize repeated values into grouped sections\n\n            HIERARCHY RULES:\n\n            Articles \u2192 Sections \u2192 Subsections\n\n            Do NOT create more than 2 nesting levels\n\n            Use:\n\n            section_title for grouping\n\n            label for row identifiers\n\n            title only if meaningful heading exists\n\n            COLUMN HANDLING:\n\n            Preserve column names as labels where applicable\n\n            Convert each row into:\n\n            {\n\n            \"label\": \"\",\n\n            \"title\": \"\",\n\n            \"content\": \"\"\n\n            }\n\n            DATA TRANSFORMATION:\n\n            Combine multiple columns into readable sentences when needed\n\n            Keep numeric values and units intact\n\n            Do NOT lose important data during transformation\n\n            TYPE CLASSIFICATION:\n\n            Assign \"type\" based on content:\n\n            \"financial\" \u2192 amounts, costs, expenses\n\n            \"definition\" \u2192 explanations\n\n            \"rule\" \u2192 policies or conditions\n\n            \"procedure\" \u2192 steps or processes\n\n            JSON STRUCTURE:\n\n            {\n\n            \"title\": \"\",\n\n            \"articles\": [\n\n            {\n\n            \"article_number\": \"\",\n\n            \"title\": \"\",\n\n            \"sections\": [\n\n            {\n\n            \"section_title\": \"\",\n\n            \"type\": \"\",\n\n            \"content\": \"\",\n\n            \"subsections\": [\n\n            {\n\n            \"label\": \"\",\n\n            \"title\": \"\",\n\n            \"content\": \"\"\n\n            }\n\n            ]\n\n            }\n\n            ]\n\n            }\n\n            ],\n\n            \"appendices\": [],\n\n            \"revision_history\": [],\n\n            \"supplementary_provisions\": []\n\n            }\n\n            INPUT DATA:\n\n            {{#1777371304258.result#}}'\n        selected: false\n        title: LLM 2\n        type: llm\n        variables: []\n        vision:\n          enabled: false\n      height: 89\n      id: '1777371588069'\n      position:\n        x: 1094.5884723423246\n        y: 368.9199731345367\n      positionAbsolute:\n        x: 1094.5884723423246\n        y: 368.9199731345367\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        desc: ''\n        outputs:\n        - value_selector:\n          - '1777371588069'\n          - text\n          value_type: string\n          variable: text\n        selected: false\n        title: End 2\n        type: end\n      height: 90\n      id: '1777371596600'\n      position:\n        x: 1398.5884723423246\n        y: 368.9199731345367\n      positionAbsolute:\n        x: 1398.5884723423246\n        y: 368.9199731345367\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        code: \"def main() -> dict:\\n    return {\\n        \\\"status\\\": \\\"error\\\",\\n\\\n          \\        \\\"message\\\": \\\"Unsupported file type. Please upload PDF, DOCX,\\\n          \\ CSV, XLSX, or image files.\\\"\\n    }\"\n        code_language: python3\n        desc: ''\n        outputs:\n          result:\n            children: null\n            type: string\n        selected: false\n        title: error_message_display\n        type: code\n        variables: []\n      height: 53\n      id: '1777371951993'\n      position:\n        x: 812.2731908672484\n        y: 460.9199731345367\n      positionAbsolute:\n        x: 812.2731908672484\n        y: 460.9199731345367\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    viewport:\n      x: 351.06403555282225\n      y: 243.84724012033237\n      zoom: 0.5352069428657826\n"}
