dsl/test_dummy.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: advanced-chat
  name: test_dummy
  use_icon_as_answer_icon: false
dependencies: []
kind: app
version: 0.3.1
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - document
      allowed_file_upload_methods:
      - remote_url
      - local_file
      enabled: true
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 50
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: code
      id: 1711527768326-source-1777488222981-target
      source: '1711527768326'
      sourceHandle: source
      target: '1777488222981'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: answer
      id: 1777488222981-source-1775217254679-target
      source: '1777488222981'
      sourceHandle: source
      target: '1775217254679'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: Start
        type: start
        variables: []
      dragging: false
      height: 54
      id: '1711527768326'
      position:
        x: -356.3147651400583
        y: -607.6145399936426
      positionAbsolute:
        x: -356.3147651400583
        y: -607.6145399936426
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '<button data-message="Hello World" data-variant="primary">Say Hello</button>


          '
        desc: ''
        selected: false
        title: Answer
        type: answer
        variables: []
      height: 134
      id: '1775217254679'
      position:
        x: 342.49791041241275
        y: -607.6145399936426
      positionAbsolute:
        x: 342.49791041241275
        y: -607.6145399936426
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "from typing import List, Dict, Any\ndef main(arg1: str) -> dict:\n\
          \    return {\n        \"result\": arg1,\n    }\n"
        code_language: python3
        desc: ''
        outputs:
          result:
            children: null
            type: string
        selected: true
        title: Code
        type: code
        variables:
        - value_selector:
          - sys
          - query
          value_type: string
          variable: arg1
      height: 54
      id: '1777488222981'
      position:
        x: 42.49791041241275
        y: -607.6145399936426
      positionAbsolute:
        x: 42.49791041241275
        y: -607.6145399936426
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: 510.9903535390873
      y: 807.4685536427103
      zoom: 0.6566019360982865
