dsl/test1common_markup.yml
{"data": "app:\n  description: ''\n  icon: \ud83e\udd16\n  icon_background: '#FFEAD5'\n  mode: workflow\n  name: test1-common markup\n  use_icon_as_answer_icon: false\ndependencies: []\nkind: app\nversion: 0.3.1\nworkflow:\n  conversation_variables: []\n  environment_variables: []\n  features:\n    file_upload:\n      allowed_file_extensions:\n      - .JPG\n      - .JPEG\n      - .PNG\n      - .GIF\n      - .WEBP\n      - .SVG\n      allowed_file_types:\n      - image\n      allowed_file_upload_methods:\n      - local_file\n      - remote_url\n      enabled: false\n      fileUploadConfig:\n        audio_file_size_limit: 50\n        batch_count_limit: 5\n        file_size_limit: 50\n        image_file_size_limit: 10\n        video_file_size_limit: 100\n        workflow_file_upload_limit: 10\n      image:\n        enabled: false\n        number_limits: 3\n        transfer_methods:\n        - local_file\n        - remote_url\n      number_limits: 3\n    opening_statement: ''\n    retriever_resource:\n      enabled: true\n    sensitive_word_avoidance:\n      enabled: false\n    speech_to_text:\n      enabled: false\n    suggested_questions: []\n    suggested_questions_after_answer:\n      enabled: false\n    text_to_speech:\n      enabled: false\n      language: ''\n      voice: ''\n  graph:\n    edges:\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: start\n        targetType: tool\n      id: 1777272716474-source-1777272744984-target\n      source: '1777272716474'\n      sourceHandle: source\n      target: '1777272744984'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: tool\n        targetType: template-transform\n      id: 1777272744984-source-1777272750770-target\n      source: '1777272744984'\n      sourceHandle: source\n      target: '1777272750770'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: template-transform\n        targetType: end\n      id: 1777272750770-source-1777272756003-target\n      source: '1777272750770'\n      sourceHandle: source\n      target: '1777272756003'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    nodes:\n    - data:\n        desc: ''\n        selected: false\n        title: Start\n        type: start\n        variables:\n        - label: raw_text\n          max_length: 500000\n          options: []\n          required: true\n          type: paragraph\n          variable: raw_text\n      height: 90\n      id: '1777272716474'\n      position:\n        x: 80\n        y: 282\n      positionAbsolute:\n        x: 80\n        y: 282\n      selected: true\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        desc: ''\n        is_team_authorization: true\n        output_schema: null\n        paramSchemas:\n        - auto_generate: null\n          default: null\n          form: llm\n          human_description:\n            en_US: ''\n            ja_JP: ''\n            pt_BR: ''\n            zh_Hans: ''\n          label:\n            en_US: Input Content\n            ja_JP: Input Content\n            pt_BR: Input Content\n            zh_Hans: Input Content\n          llm_description: ''\n          max: null\n          min: null\n          name: raw_text\n          options: []\n          placeholder:\n            en_US: ''\n            ja_JP: ''\n            pt_BR: ''\n            zh_Hans: ''\n          precision: null\n          required: false\n          scope: null\n          template: null\n          type: string\n        params:\n          raw_text: ''\n        provider_id: 9b89b0a4-5fde-4498-8bb1-a389bf5c510b\n        provider_name: Common Markup Generator\n        provider_type: workflow\n        selected: false\n        title: Common Markup Generator\n        tool_configurations: {}\n        tool_description: workflow designed to transform unstructured raw text and\n          uploaded documents into clean, semantic HTML markup.\n        tool_label: Common Markup Generator\n        tool_name: markup_wf\n        tool_node_version: '2'\n        tool_parameters:\n          raw_text:\n            type: mixed\n            value: '{{#1777272716474.raw_text#}}'\n        type: tool\n      height: 54\n      id: '1777272744984'\n      position:\n        x: 384\n        y: 282\n      positionAbsolute:\n        x: 384\n        y: 282\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        desc: ''\n        selected: false\n        template: '{{ tool_output[0].result }}'\n        title: Template\n        type: template-transform\n        variables:\n        - value_selector:\n          - '1777272744984'\n          - json\n          value_type: array[object]\n          variable: tool_output\n      height: 54\n      id: '1777272750770'\n      position:\n        x: 688\n        y: 282\n      positionAbsolute:\n        x: 688\n        y: 282\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        desc: ''\n        outputs:\n        - value_selector:\n          - '1777272750770'\n          - output\n          value_type: string\n          variable: result\n        selected: false\n        title: End\n        type: end\n      height: 91\n      id: '1777272756003'\n      position:\n        x: 992\n        y: 282\n      positionAbsolute:\n        x: 992\n        y: 282\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    viewport:\n      x: -306.4003516406367\n      y: 100.10600090979514\n      zoom: 0.5730703336091891\n"}
