dsl/Test_common_markup_generator.yml
{"data": "app:\n  description: ''\n  icon: \ud83e\udd16\n  icon_background: '#FFEAD5'\n  mode: advanced-chat\n  name: Test_common_markup_generator\n  use_icon_as_answer_icon: false\ndependencies: []\nkind: app\nversion: 0.3.1\nworkflow:\n  conversation_variables: []\n  environment_variables: []\n  features:\n    file_upload:\n      allowed_file_extensions:\n      - .JPG\n      - .JPEG\n      - .PNG\n      - .GIF\n      - .WEBP\n      - .SVG\n      allowed_file_types:\n      - image\n      allowed_file_upload_methods:\n      - local_file\n      - remote_url\n      enabled: false\n      fileUploadConfig:\n        audio_file_size_limit: 50\n        batch_count_limit: 5\n        file_size_limit: 50\n        image_file_size_limit: 10\n        video_file_size_limit: 100\n        workflow_file_upload_limit: 10\n      image:\n        enabled: false\n        number_limits: 3\n        transfer_methods:\n        - local_file\n        - remote_url\n      number_limits: 3\n    opening_statement: ''\n    retriever_resource:\n      enabled: true\n    sensitive_word_avoidance:\n      enabled: false\n    speech_to_text:\n      enabled: false\n    suggested_questions: []\n    suggested_questions_after_answer:\n      enabled: false\n    text_to_speech:\n      enabled: false\n      language: ''\n      voice: ''\n  graph:\n    edges:\n    - data:\n        isInLoop: false\n        sourceType: tool\n        targetType: template-transform\n      id: 1777271233299-source-1777273312354-target\n      source: '1777271233299'\n      sourceHandle: source\n      target: '1777273312354'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInLoop: false\n        sourceType: template-transform\n        targetType: answer\n      id: 1777273312354-source-1777275350263-target\n      source: '1777273312354'\n      sourceHandle: source\n      target: '1777275350263'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInLoop: false\n        sourceType: start\n        targetType: if-else\n      id: 1777271208998-source-1777276055332-target\n      source: '1777271208998'\n      sourceHandle: source\n      target: '1777276055332'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInLoop: false\n        sourceType: if-else\n        targetType: if-else\n      id: 1777276055332-true-1777279698962-target\n      source: '1777276055332'\n      sourceHandle: 'true'\n      target: '1777279698962'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInLoop: false\n        sourceType: if-else\n        targetType: answer\n      id: 1777279698962-true-1777279746684-target\n      source: '1777279698962'\n      sourceHandle: 'true'\n      target: '1777279746684'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInLoop: false\n        sourceType: if-else\n        targetType: document-extractor\n      id: 1777279698962-false-1777273620251-target\n      source: '1777279698962'\n      sourceHandle: 'false'\n      target: '1777273620251'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInLoop: false\n        sourceType: if-else\n        targetType: code\n      id: 1777276055332-false-1777276450772-target\n      source: '1777276055332'\n      sourceHandle: 'false'\n      target: '1777276450772'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInLoop: false\n        sourceType: code\n        targetType: tool\n      id: 1777276450772-source-1777271233299-target\n      source: '1777276450772'\n      sourceHandle: source\n      target: '1777271233299'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInLoop: false\n        sourceType: document-extractor\n        targetType: code\n      id: 1777273620251-source-1777276450772-target\n      source: '1777273620251'\n      sourceHandle: source\n      target: '1777276450772'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    nodes:\n    - data:\n        desc: ''\n        selected: false\n        title: Start\n        type: start\n        variables:\n        - allowed_file_extensions: []\n          allowed_file_types:\n          - image\n          - document\n          allowed_file_upload_methods:\n          - local_file\n          - remote_url\n          label: input_file\n          max_length: 48\n          options: []\n          required: false\n          type: file\n          variable: input_file\n        - label: input_text\n          max_length: 5000000\n          options: []\n          required: false\n          type: paragraph\n          variable: input_text\n      height: 115\n      id: '1777271208998'\n      position:\n        x: -1380.5973982176629\n        y: 66.1691236601041\n      positionAbsolute:\n        x: -1380.5973982176629\n        y: 66.1691236601041\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        desc: ''\n        is_team_authorization: true\n        output_schema: null\n        paramSchemas:\n        - auto_generate: null\n          default: null\n          form: llm\n          human_description:\n            en_US: ''\n            ja_JP: ''\n            pt_BR: ''\n            zh_Hans: ''\n          label:\n            en_US: Input Content\n            ja_JP: Input Content\n            pt_BR: Input Content\n            zh_Hans: Input Content\n          llm_description: ''\n          max: null\n          min: null\n          name: raw_text\n          options: []\n          placeholder:\n            en_US: ''\n            ja_JP: ''\n            pt_BR: ''\n            zh_Hans: ''\n          precision: null\n          required: false\n          scope: null\n          template: null\n          type: string\n        params:\n          raw_text: ''\n        provider_id: 9b89b0a4-5fde-4498-8bb1-a389bf5c510b\n        provider_name: Common Markup Generator\n        provider_type: workflow\n        selected: false\n        title: Common Markup Generator\n        tool_configurations: {}\n        tool_description: workflow designed to transform unstructured raw text and\n          uploaded documents into clean, semantic HTML markup.\n        tool_label: Common Markup Generator\n        tool_name: markup_wf\n        tool_node_version: '2'\n        tool_parameters:\n          raw_text:\n            type: mixed\n            value: '{{#1777276450772.result#}}'\n        type: tool\n      height: 53\n      id: '1777271233299'\n      position:\n        x: 312.39802735359564\n        y: 297.52689179931394\n      positionAbsolute:\n        x: 312.39802735359564\n        y: 297.52689179931394\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        desc: ''\n        selected: false\n        template: '{{ template_input[0].result }}'\n        title: Template\n        type: template-transform\n        variables:\n        - value_selector:\n          - '1777271233299'\n          - json\n          value_type: array[object]\n          variable: template_input\n      height: 53\n      id: '1777273312354'\n      position:\n        x: 686.1068986851188\n        y: 312.7330023771809\n      positionAbsolute:\n        x: 686.1068986851188\n        y: 312.7330023771809\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        desc: ''\n        is_array_file: false\n        selected: false\n        title: Doc Extractor\n        type: document-extractor\n        variable_selector:\n        - '1777271208998'\n        - input_file\n      height: 94\n      id: '1777273620251'\n      position:\n        x: -314.30152286197733\n        y: 25.805572800613845\n      positionAbsolute:\n        x: -314.30152286197733\n        y: 25.805572800613845\n      selected: true\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        answer: '{{#1777273312354.output#}}'\n        desc: ''\n        selected: false\n        title: Answer\n        type: answer\n        variables: []\n      height: 104\n      id: '1777275350263'\n      position:\n        x: 1043.5525596684784\n        y: 219.35711790746086\n      positionAbsolute:\n        x: 1043.5525596684784\n        y: 219.35711790746086\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        cases:\n        - case_id: 'true'\n          conditions:\n          - comparison_operator: empty\n            id: 594aad26-01ba-4a5e-89bc-4b27e84651e4\n            value: ''\n            varType: string\n            variable_selector:\n            - '1777271208998'\n            - input_text\n          id: 'true'\n          logical_operator: and\n        desc: ''\n        selected: false\n        title: IF/ELSE\n        type: if-else\n      height: 125\n      id: '1777276055332'\n      position:\n        x: -1037.3209969821364\n        y: 2.51987353531149\n      positionAbsolute:\n        x: -1037.3209969821364\n        y: 2.51987353531149\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        code: \"def main(arg1: str, arg2: str) -> dict:\\n    if not arg1 or arg1.strip()\\\n          \\ == \\\"\\\":\\n        result = arg2\\n    else:\\n        result = arg1\\n  \\\n          \\  \\n    return {\\\"result\\\": result}\"\n        code_language: python3\n        desc: ''\n        outputs:\n          result:\n            children: null\n            type: string\n        selected: false\n        title: Code\n        type: code\n        variables:\n        - value_selector:\n          - '1777271208998'\n          - input_text\n          value_type: string\n          variable: arg1\n        - value_selector:\n          - '1777273620251'\n          - text\n          value_type: string\n          variable: arg2\n      height: 53\n      id: '1777276450772'\n      position:\n        x: -127.373802685807\n        y: 280.75777903119433\n      positionAbsolute:\n        x: -127.373802685807\n        y: 280.75777903119433\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        cases:\n        - case_id: 'true'\n          conditions:\n          - comparison_operator: not exists\n            id: 078ad40f-09dc-4fb9-8fbc-ddcf5da5cf54\n            value: ''\n            varType: file\n            variable_selector:\n            - '1777271208998'\n            - input_file\n          id: 'true'\n          logical_operator: and\n        desc: ''\n        selected: false\n        title: IF/ELSE 2\n        type: if-else\n      height: 125\n      id: '1777279698962'\n      position:\n        x: -698.3292689101156\n        y: -118.58269402198255\n      positionAbsolute:\n        x: -698.3292689101156\n        y: -118.58269402198255\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        answer: Please provide text or upload a file\n        desc: ''\n        selected: false\n        title: Answer 2\n        type: answer\n        variables: []\n      height: 101\n      id: '1777279746684'\n      position:\n        x: -324.47382855777477\n        y: -251.13144105599423\n      positionAbsolute:\n        x: -324.47382855777477\n        y: -251.13144105599423\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    viewport:\n      x: -81.78122843743284\n      y: 168.16587876146286\n      zoom: 0.35500863946892786\n"}
