dsl/test.yml
{"data": "app:\n  description: Guided Buy Tool v2 \u2013 Procurement router with Knowledge Base, Budget\n    Gate, Yes/Update pattern, and additional provider browsing.\n  icon: \ud83d\udce6\n  icon_background: '#FFF3E0'\n  mode: advanced-chat\n  name: test\n  use_icon_as_answer_icon: true\ndependencies:\n- current_identifier: null\n  type: marketplace\n  value:\n    marketplace_plugin_unique_identifier: langgenius/gemini:0.7.4@5faf411e694e0da130a337347a625a3812b1b7502a0183382d66d92c841bf05a\nkind: app\nversion: 0.3.1\nworkflow:\n  conversation_variables:\n  - description: ''\n    id: aa000001-0001-4001-a001-000000000001\n    name: user_language\n    selector:\n    - conversation\n    - user_language\n    value: ''\n    value_type: string\n  - description: ''\n    id: aa000001-0001-4001-a001-000000000002\n    name: user_purchase_description\n    selector:\n    - conversation\n    - user_purchase_description\n    value: ''\n    value_type: string\n  - description: ''\n    id: aa000001-0001-4001-a001-000000000003\n    name: user_budget\n    selector:\n    - conversation\n    - user_budget\n    value: ''\n    value_type: string\n  - description: ''\n    id: aa000001-0001-4001-a001-000000000004\n    name: purchase_category\n    selector:\n    - conversation\n    - purchase_category\n    value: ''\n    value_type: string\n  - description: ''\n    id: aa000001-0001-4001-a001-000000000005\n    name: primary_provider\n    selector:\n    - conversation\n    - primary_provider\n    value: ''\n    value_type: string\n  - description: ''\n    id: aa000001-0001-4001-a001-000000000006\n    name: selected_provider\n    selector:\n    - conversation\n    - selected_provider\n    value: ''\n    value_type: string\n  - description: ''\n    id: aa000001-0001-4001-a001-000000000007\n    name: product_shortlist\n    selector:\n    - conversation\n    - product_shortlist\n    value: ''\n    value_type: string\n  - description: ''\n    id: aa000001-0001-4001-a001-000000000008\n    name: confirmation_state\n    selector:\n    - conversation\n    - confirmation_state\n    value: pending\n    value_type: string\n  - description: Stores extracted procurement text from uploaded file\n    id: aa000001-0001-4001-a001-000000000009\n    name: file_extracted_text\n    selector:\n    - conversation\n    - file_extracted_text\n    value: ''\n    value_type: string\n  - description: 'Tracks file upload sub-state: empty | awaiting_validation | error_retry'\n    id: aa000001-0001-4001-a001-000000000010\n    name: file_upload_state\n    selector:\n    - conversation\n    - file_upload_state\n    value: ''\n    value_type: string\n  environment_variables: []\n  features:\n    file_upload:\n      allowed_file_extensions:\n      - .PDF\n      - .DOCX\n      - .DOC\n      - .XLSX\n      - .XLS\n      - .CSV\n      - .TXT\n      - .JPG\n      - .JPEG\n      - .PNG\n      - .GIF\n      - .WEBP\n      - .SVG\n      allowed_file_types:\n      - image\n      - document\n      allowed_file_upload_methods:\n      - local_file\n      enabled: true\n      fileUploadConfig:\n        audio_file_size_limit: 50\n        batch_count_limit: 5\n        file_size_limit: 50\n        image_file_size_limit: 10\n        video_file_size_limit: 100\n        workflow_file_upload_limit: 10\n      image:\n        enabled: false\n        number_limits: 3\n        transfer_methods:\n        - local_file\n        - remote_url\n      number_limits: 3\n    opening_statement: 'Welcome to the Procurement Guided Buy Tool!\n\n      \u8cfc\u8cb7\u30ac\u30a4\u30c9\u30c4\u30fc\u30eb\u3078\u3088\u3046\u3053\u305d\uff01\n\n\n      Please choose your language / \u8a00\u8a9e\u3092\u9078\u629e\u3057\u3066\u304f\u3060\u3055\u3044\uff1a\n\n\n      Type **English** to continue in English\n\n      \u300c**Japanese**\u300d\u3068\u5165\u529b\u3057\u3066\u65e5\u672c\u8a9e\u3067\u7d9a\u3051\u308b'\n    retriever_resource:\n      enabled: true\n    sensitive_word_avoidance:\n      enabled: false\n    speech_to_text:\n      enabled: false\n    suggested_questions:\n    - English\n    - Japanese\n    suggested_questions_after_answer:\n      enabled: true\n    text_to_speech:\n      enabled: false\n      language: ''\n      voice: ''\n  graph:\n    edges:\n    - data:\n        sourceType: start\n        targetType: if-else\n      id: e01_start_to_check_lang\n      source: node_start\n      sourceHandle: source\n      target: node_check_language\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: if-else\n        targetType: llm\n      id: e02_check_lang_to_detect\n      source: node_check_language\n      sourceHandle: 'false'\n      target: node_detect_language\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: llm\n        targetType: assigner\n      id: e03_detect_to_save_lang\n      source: node_detect_language\n      sourceHandle: source\n      target: node_save_language\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: assigner\n        targetType: llm\n      id: e04_save_lang_to_welcome\n      source: node_save_language\n      sourceHandle: source\n      target: node_welcome_llm\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: llm\n        targetType: answer\n      id: e05_welcome_to_answer\n      source: node_welcome_llm\n      sourceHandle: source\n      target: node_answer_welcome\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: if-else\n        targetType: if-else\n      id: e06_check_lang_to_state_router\n      source: node_check_language\n      sourceHandle: lang_set\n      target: node_state_router\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: if-else\n        targetType: if-else\n      id: e07_state_to_yes_update\n      source: node_state_router\n      sourceHandle: case_products_shown\n      target: node_additional_provider_router\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: if-else\n        targetType: if-else\n      id: e08_state_to_alt_router\n      source: node_state_router\n      sourceHandle: case_yes\n      target: node_additional_provider_router\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: if-else\n        targetType: if-else\n      id: e09_state_to_update_type\n      source: node_state_router\n      sourceHandle: case_awaiting_update\n      target: node_update_type_router\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: if-else\n        targetType: assigner\n      id: e10_state_to_save_updated_desc\n      source: node_state_router\n      sourceHandle: case_update_desc\n      target: node_save_updated_desc\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: if-else\n        targetType: assigner\n      id: e11_state_to_save_updated_budget\n      source: node_state_router\n      sourceHandle: case_update_budget\n      target: node_save_updated_budget\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: if-else\n        targetType: assigner\n      id: e12_state_to_save_desc\n      source: node_state_router\n      sourceHandle: case_need_desc\n      target: node_save_purchase_desc\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: if-else\n        targetType: assigner\n      id: e13_state_to_save_budget\n      source: node_state_router\n      sourceHandle: case_need_budget\n      target: node_save_budget\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: if-else\n        targetType: llm\n      id: e14_state_default_to_general\n      source: node_state_router\n      sourceHandle: 'false'\n      target: node_general_handler\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: assigner\n        targetType: llm\n      id: e15_save_desc_to_budget_ask\n      source: node_save_purchase_desc\n      sourceHandle: source\n      target: node_budget_ask\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: llm\n        targetType: answer\n      id: e16_budget_ask_to_answer\n      source: node_budget_ask\n      sourceHandle: source\n      target: node_answer_budget_ask\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: assigner\n        targetType: llm\n      id: e17_save_budget_to_classify\n      source: node_save_budget\n      sourceHandle: source\n      target: node_classify_intent\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: llm\n        targetType: assigner\n      id: e18_classify_to_save_cat\n      source: node_classify_intent\n      sourceHandle: source\n      target: node_save_category\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: assigner\n        targetType: assigner\n      id: e19_save_cat_to_set_state\n      source: node_save_category\n      sourceHandle: source\n      target: node_set_state_products\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: assigner\n        targetType: knowledge-retrieval\n      id: e20_set_state_to_kb\n      source: node_set_state_products\n      sourceHandle: source\n      target: node_kb_retrieval\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: knowledge-retrieval\n        targetType: if-else\n      id: e21_kb_to_provider_router\n      source: node_kb_retrieval\n      sourceHandle: source\n      target: node_provider_router\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: if-else\n        targetType: llm\n      id: e22_router_to_flipkart\n      source: node_provider_router\n      sourceHandle: route_flipkart\n      target: node_flipkart_products\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: if-else\n        targetType: llm\n      id: e23_router_to_amazon\n      source: node_provider_router\n      sourceHandle: route_amazon\n      target: node_amazon_products\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: if-else\n        targetType: llm\n      id: e24_router_to_indiamart\n      source: node_provider_router\n      sourceHandle: route_indiamart\n      target: node_indiamart_products\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: if-else\n        targetType: llm\n      id: e25_router_to_udaan\n      source: node_provider_router\n      sourceHandle: route_udaan\n      target: node_udaan_products\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: if-else\n        targetType: llm\n      id: e26_router_to_tradeindia\n      source: node_provider_router\n      sourceHandle: route_tradeindia\n      target: node_tradeindia_products\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: if-else\n        targetType: llm\n      id: e27_router_default_general\n      source: node_provider_router\n      sourceHandle: 'false'\n      target: node_general_handler\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: llm\n        targetType: answer\n      id: e28_flipkart_to_answer\n      source: node_flipkart_products\n      sourceHandle: source\n      target: node_answer_flipkart\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: llm\n        targetType: answer\n      id: e29_amazon_to_answer\n      source: node_amazon_products\n      sourceHandle: source\n      target: node_answer_amazon\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: llm\n        targetType: answer\n      id: e30_indiamart_to_answer\n      source: node_indiamart_products\n      sourceHandle: source\n      target: node_answer_indiamart\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: llm\n        targetType: answer\n      id: e31_udaan_to_answer\n      source: node_udaan_products\n      sourceHandle: source\n      target: node_answer_udaan\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: llm\n        targetType: answer\n      id: e32_tradeindia_to_answer\n      source: node_tradeindia_products\n      sourceHandle: source\n      target: node_answer_tradeindia\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: assigner\n        targetType: llm\n      id: e34_set_yes_to_handler\n      source: node_set_state_yes\n      sourceHandle: source\n      target: node_yes_handler\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: llm\n        targetType: answer\n      id: e35_yes_handler_to_answer\n      source: node_yes_handler\n      sourceHandle: source\n      target: node_answer_yes\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: assigner\n        targetType: answer\n      id: e37_set_awaiting_to_answer\n      source: node_set_state_awaiting_update\n      sourceHandle: source\n      target: node_answer_update_ask\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: if-else\n        targetType: assigner\n      id: e39_update_type_to_desc\n      source: node_update_type_router\n      sourceHandle: case_update_a\n      target: node_set_state_update_desc\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: assigner\n        targetType: answer\n      id: e40_set_desc_to_answer\n      source: node_set_state_update_desc\n      sourceHandle: source\n      target: node_answer_desc_prompt\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: if-else\n        targetType: assigner\n      id: e41_update_type_to_budget\n      source: node_update_type_router\n      sourceHandle: case_update_b\n      target: node_set_state_update_budget\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: assigner\n        targetType: answer\n      id: e42_set_budget_to_answer\n      source: node_set_state_update_budget\n      sourceHandle: source\n      target: node_answer_budget_prompt\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: if-else\n        targetType: llm\n      id: e43_update_type_default_general\n      source: node_update_type_router\n      sourceHandle: 'false'\n      target: node_general_handler\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: assigner\n        targetType: llm\n      id: e44_save_updated_desc_to_classify\n      source: node_save_updated_desc\n      sourceHandle: source\n      target: node_classify_intent\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: assigner\n        targetType: assigner\n      id: e45_save_updated_budget_to_set_state\n      source: node_save_updated_budget\n      sourceHandle: source\n      target: node_set_state_products\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: if-else\n        targetType: knowledge-retrieval\n      id: e46_alt_flipkart_to_kb\n      source: node_additional_provider_router\n      sourceHandle: case_alt_flipkart\n      target: node_kb_retrieval_alt\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: if-else\n        targetType: knowledge-retrieval\n      id: e47_alt_amazon_to_kb\n      source: node_additional_provider_router\n      sourceHandle: case_alt_amazon\n      target: node_kb_retrieval_alt\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: if-else\n        targetType: knowledge-retrieval\n      id: e48_alt_indiamart_to_kb\n      source: node_additional_provider_router\n      sourceHandle: case_alt_indiamart\n      target: node_kb_retrieval_alt\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: if-else\n        targetType: knowledge-retrieval\n      id: e49_alt_udaan_to_kb\n      source: node_additional_provider_router\n      sourceHandle: case_alt_udaan\n      target: node_kb_retrieval_alt\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: if-else\n        targetType: knowledge-retrieval\n      id: e50_alt_tradeindia_to_kb\n      source: node_additional_provider_router\n      sourceHandle: case_alt_tradeindia\n      target: node_kb_retrieval_alt\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: knowledge-retrieval\n        targetType: llm\n      id: e50a_kb_alt_to_products\n      source: node_kb_retrieval_alt\n      sourceHandle: source\n      target: node_alt_products\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: if-else\n        targetType: assigner\n      id: e46b_alt_yes_to_set_yes\n      source: node_additional_provider_router\n      sourceHandle: case_yes_response\n      target: node_set_state_yes\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: if-else\n        targetType: assigner\n      id: e46c_alt_update_to_set_awaiting\n      source: node_additional_provider_router\n      sourceHandle: case_update_response\n      target: node_set_state_awaiting_update\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: llm\n        targetType: assigner\n      id: e51_alt_products_to_set_state\n      source: node_alt_products\n      sourceHandle: source\n      target: node_set_state_alt_products\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: assigner\n        targetType: answer\n      id: e52_set_state_alt_to_answer\n      source: node_set_state_alt_products\n      sourceHandle: source\n      target: node_answer_alt_products\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: if-else\n        targetType: llm\n      id: e53_alt_done_to_handler\n      source: node_additional_provider_router\n      sourceHandle: case_done\n      target: node_done_handler\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: llm\n        targetType: assigner\n      id: e54_done_to_set_state\n      source: node_done_handler\n      sourceHandle: source\n      target: node_set_state_done\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: assigner\n        targetType: answer\n      id: e55_set_done_to_answer\n      source: node_set_state_done\n      sourceHandle: source\n      target: node_answer_done\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: if-else\n        targetType: llm\n      id: e56_alt_default_general\n      source: node_additional_provider_router\n      sourceHandle: 'false'\n      target: node_general_handler\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: llm\n        targetType: answer\n      id: e57_general_to_answer\n      source: node_general_handler\n      sourceHandle: source\n      target: node_answer_general\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: if-else\n        targetType: llm\n      id: e68_state_to_validation_handler\n      source: node_state_router\n      sourceHandle: case_file_awaiting_val\n      target: node_file_validation_handler\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: llm\n        targetType: if-else\n      id: e69_validation_to_check_confirmed\n      source: node_file_validation_handler\n      sourceHandle: source\n      target: node_check_validation_confirmed\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: if-else\n        targetType: assigner\n      id: e70_confirmed_to_save_desc\n      source: node_check_validation_confirmed\n      sourceHandle: case_confirmed\n      target: node_save_confirmed_desc\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: assigner\n        targetType: llm\n      id: e71_save_desc_to_budget_ask\n      source: node_save_confirmed_desc\n      sourceHandle: source\n      target: node_budget_ask\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: if-else\n        targetType: answer\n      id: e72_not_confirmed_to_loop\n      source: node_check_validation_confirmed\n      sourceHandle: 'false'\n      target: node_answer_validation_loop\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: if-else\n        targetType: assigner\n      id: e73_error_retry_to_clear\n      source: node_state_router\n      sourceHandle: case_file_error_retry\n      target: node_clear_error_state\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: llm\n        targetType: assigner\n      id: e62_extract_to_set_awaiting\n      source: node_file_extract_llm\n      sourceHandle: source\n      target: node_set_state_awaiting_validation\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: assigner\n        targetType: answer\n      id: e63_set_awaiting_to_answer_extracted\n      source: node_set_state_awaiting_validation\n      sourceHandle: source\n      target: node_answer_file_extracted\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: assigner\n        targetType: assigner\n      id: e74_clear_to_save_purchase_desc\n      source: node_clear_error_state\n      sourceHandle: source\n      target: node_save_purchase_desc\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: if-else\n        targetType: if-else\n      id: e60_state_to_docx_check\n      source: node_state_router\n      sourceHandle: case_file_uploaded\n      target: node_docx_check\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: if-else\n        targetType: if-else\n      id: e61_retry_to_docx_check\n      source: node_state_router\n      sourceHandle: case_retry_with_new_file\n      target: node_docx_check\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: if-else\n        targetType: document-extractor\n      id: e_docx_check_to_extractor\n      source: node_docx_check\n      sourceHandle: case_is_docx\n      target: node_docx_extractor\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: if-else\n        targetType: assigner\n      id: e_docx_check_false_to_assign_empty\n      source: node_docx_check\n      sourceHandle: 'false'\n      target: node_assign_empty_text\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: assigner\n        targetType: llm\n      id: e_assign_docx_to_llm\n      source: node_assign_docx_text\n      sourceHandle: source\n      target: node_file_extract_llm\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: assigner\n        targetType: llm\n      id: e_assign_empty_to_llm\n      source: node_assign_empty_text\n      sourceHandle: source\n      target: node_file_extract_llm\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: code\n        targetType: assigner\n      id: e_join_to_assign\n      source: node_join_docx\n      sourceHandle: source\n      target: node_assign_docx_text\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: document-extractor\n        targetType: code\n      id: e_extractor_to_join\n      source: node_docx_extractor\n      sourceHandle: source\n      target: node_join_docx\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: llm\n        targetType: answer\n      id: e_extract_llm_fail_to_error\n      source: node_file_extract_llm\n      sourceHandle: fail-branch\n      target: node_answer_llm_file_error\n      targetHandle: target\n      type: custom\n    nodes:\n    - data:\n        selected: false\n        title: Start\n        type: start\n        variables: []\n      height: 53\n      id: node_start\n      position:\n        x: 80\n        y: 282\n      positionAbsolute:\n        x: 80\n        y: 282\n      type: custom\n      width: 244\n    - data:\n        cases:\n        - case_id: lang_set\n          conditions:\n          - comparison_operator: not empty\n            id: cond_lang_set\n            varType: string\n            variable_selector:\n            - conversation\n            - user_language\n          id: lang_set\n          logical_operator: and\n        selected: false\n        title: Language Set?\n        type: if-else\n      height: 125\n      id: node_check_language\n      position:\n        x: 350\n        y: 282\n      positionAbsolute:\n        x: 350\n        y: 282\n      selected: false\n      type: custom\n      width: 244\n    - data:\n        context:\n          enabled: false\n          variable_selector: []\n        memory:\n          role_prefix:\n            assistant: ''\n            user: ''\n          window:\n            enabled: false\n        model:\n          completion_params:\n            max_tokens: 50\n            temperature: 0.1\n          mode: chat\n          name: gemini-3-pro-preview\n          provider: langgenius/gemini/google\n        prompt_template:\n        - id: c3ca9240-f7af-4c35-ac74-cdbd34e58d12\n          role: system\n          text: 'You are a language detector. The user responded to a bilingual prompt\n            asking them to type \"English\" or \"Japanese\". Respond with ONLY ONE WORD:\n            either \"english\" or \"japanese\". If ambiguous, default to \"english\". No\n            other text.'\n        - id: c421e37d-281d-42f7-ae79-4e41f7b9683c\n          role: user\n          text: '{{#sys.query#}}'\n        selected: false\n        title: Detect Language Choice\n        type: llm\n        variables: []\n        vision:\n          enabled: false\n      height: 89\n      id: node_detect_language\n      position:\n        x: 620\n        y: 150\n      positionAbsolute:\n        x: 620\n        y: 150\n      selected: false\n      type: custom\n      width: 244\n    - data:\n        items:\n        - input_type: variable\n          operation: over-write\n          value:\n          - node_detect_language\n          - text\n          variable_selector:\n          - conversation\n          - user_language\n          write_mode: over-write\n        selected: false\n        title: Save Language\n        type: assigner\n        version: '2'\n      height: 85\n      id: node_save_language\n      position:\n        x: 925.1311011649595\n        y: 233.38039393059398\n      positionAbsolute:\n        x: 925.1311011649595\n        y: 233.38039393059398\n      selected: false\n      type: custom\n      width: 244\n    - data:\n        context:\n          enabled: false\n          variable_selector: []\n        memory:\n          role_prefix:\n            assistant: ''\n            user: ''\n          window:\n            enabled: false\n        model:\n          completion_params:\n            max_tokens: 300\n            temperature: 0.6\n          mode: chat\n          name: gemini-3-pro-preview\n          provider: langgenius/gemini/google\n        prompt_template:\n        - id: dad8a19f-5ee1-4226-9c00-e504468ebaf6\n          role: system\n          text: \"You are a procurement assistant for the Guided Buy Tool. User's language:\\\n            \\ {{#conversation.user_language#}}\\n\\nGenerate a warm welcome message\\\n            \\ that:\\n- Explains this tool helps route procurement to the right provider\\n\\\n            - Lists the 5 providers: Flipkart, Amazon, IndiaMart, Udaan, TradeIndia\\n\\\n            - Tells the user they have TWO options to start:\\n  (1) Type a description\\\n            \\ of what they want to purchase\\n  (2) Upload a file using the \\U0001F4CE\\\n            \\ button \u2014 supported: PDF (including encrypted), DOC, images (JPG/PNG/GIF/WEBP),\\\n            \\ DOCX, XLSX, CSV, TXT\\n  \u26a0\ufe0f Only local file upload is accepted \u2014 URL\\\n            \\ links are NOT supported\\n- Japanese documents (\u65e5\u672c\u8a9e) are fully supported\\n\\\n            \\nAsk: 'What would you like to purchase? Or upload a file to auto-fill\\\n            \\ details.'\\n/ '\u4f55\u3092\u8cfc\u5165\u3055\u308c\u307e\u3059\u304b\uff1f\u307e\u305f\u306f\u30d5\u30a1\u30a4\u30eb\u3092\u30a2\u30c3\u30d7\u30ed\u30fc\u30c9\u3057\u3066\u8a73\u7d30\u3092\u81ea\u52d5\u5165\u529b\u3057\u3066\u304f\u3060\u3055\u3044\u3002'\\n\\nDO NOT mention\\\n            \\ internal portals, IT departments, approvals, PO creation, delivery addresses,\\\n            \\ contracts, eco-tags, or model numbers.\\nBe friendly and professional.\\\n            \\ Respond in the user's language.\"\n        - id: ad6c66ec-8c58-49b8-b0c2-f0c075fb92ba\n          role: user\n          text: 'Language: {{#conversation.user_language#}}'\n        selected: false\n        title: Generate Welcome\n        type: llm\n        variables: []\n        vision:\n          enabled: false\n      height: 89\n      id: node_welcome_llm\n      position:\n        x: 1200\n        y: 150\n      positionAbsolute:\n        x: 1200\n        y: 150\n      selected: false\n      type: custom\n      width: 244\n    - data:\n        answer: '{{#node_welcome_llm.text#}}'\n        selected: false\n        title: 'Answer: Welcome'\n        type: answer\n        variables: []\n      height: 103\n      id: node_answer_welcome\n      position:\n        x: 1511.5449776211592\n        y: 259.0358997553921\n      positionAbsolute:\n        x: 1511.5449776211592\n        y: 259.0358997553921\n      selected: false\n      type: custom\n      width: 244\n    - data:\n        cases:\n        - case_id: case_retry_with_new_file\n          conditions:\n          - comparison_operator: is\n            id: cond_retry_state\n            value: error_retry\n            varType: string\n            variable_selector:\n            - conversation\n            - file_upload_state\n          - comparison_operator: not empty\n            id: cond_retry_has_file\n            varType: array[file]\n            variable_selector:\n            - sys\n            - files\n          id: case_retry_with_new_file\n          logical_operator: and\n        - case_id: case_file_error_retry\n          conditions:\n          - comparison_operator: is\n            id: cond_error_retry\n            value: error_retry\n            varType: string\n            variable_selector:\n            - conversation\n            - file_upload_state\n          id: case_file_error_retry\n          logical_operator: and\n        - case_id: case_file_awaiting_val\n          conditions:\n          - comparison_operator: is\n            id: cond_await_val\n            value: awaiting_validation\n            varType: string\n            variable_selector:\n            - conversation\n            - file_upload_state\n          id: case_file_awaiting_val\n          logical_operator: and\n        - case_id: case_file_uploaded\n          conditions:\n          - comparison_operator: not empty\n            id: cond_has_file\n            varType: array[file]\n            variable_selector:\n            - sys\n            - files\n          id: case_file_uploaded\n          logical_operator: and\n        - case_id: case_products_shown\n          conditions:\n          - comparison_operator: is\n            id: cond_ps\n            value: products_shown\n            varType: string\n            variable_selector:\n            - conversation\n            - confirmation_state\n          id: case_products_shown\n          logical_operator: and\n        - case_id: case_yes\n          conditions:\n          - comparison_operator: is\n            id: cond_yes\n            value: 'yes'\n            varType: string\n            variable_selector:\n            - conversation\n            - confirmation_state\n          id: case_yes\n          logical_operator: and\n        - case_id: case_awaiting_update\n          conditions:\n          - comparison_operator: is\n            id: cond_au\n            value: awaiting_update\n            varType: string\n            variable_selector:\n            - conversation\n            - confirmation_state\n          id: case_awaiting_update\n          logical_operator: and\n        - case_id: case_update_desc\n          conditions:\n          - comparison_operator: is\n            id: cond_ud\n            value: update_desc\n            varType: string\n            variable_selector:\n            - conversation\n            - confirmation_state\n          id: case_update_desc\n          logical_operator: and\n        - case_id: case_update_budget\n          conditions:\n          - comparison_operator: is\n            id: cond_ub\n            value: update_budget\n            varType: string\n            variable_selector:\n            - conversation\n            - confirmation_state\n          id: case_update_budget\n          logical_operator: and\n        - case_id: case_need_desc\n          conditions:\n          - comparison_operator: empty\n            id: cond_desc_empty\n            varType: string\n            variable_selector:\n            - conversation\n            - user_purchase_description\n          id: case_need_desc\n          logical_operator: and\n        - case_id: case_need_budget\n          conditions:\n          - comparison_operator: empty\n            id: cond_budget_empty\n            varType: string\n            variable_selector:\n            - conversation\n            - user_budget\n          id: case_need_budget\n          logical_operator: and\n        selected: false\n        title: State Router\n        type: if-else\n      height: 631\n      id: node_state_router\n      position:\n        x: 620\n        y: 400\n      positionAbsolute:\n        x: 620\n        y: 400\n      selected: false\n      type: custom\n      width: 244\n    - data:\n        items:\n        - input_type: variable\n          operation: over-write\n          value:\n          - sys\n          - query\n          variable_selector:\n          - conversation\n          - user_purchase_description\n          write_mode: over-write\n        selected: false\n        title: Save Purchase Description\n        type: assigner\n        version: '2'\n      height: 85\n      id: node_save_purchase_desc\n      position:\n        x: 920\n        y: 500\n      positionAbsolute:\n        x: 920\n        y: 500\n      selected: false\n      type: custom\n      width: 244\n    - data:\n        context:\n          enabled: false\n          variable_selector: []\n        memory:\n          role_prefix:\n            assistant: ''\n            user: ''\n          window:\n            enabled: false\n        model:\n          completion_params:\n            max_tokens: 200\n            temperature: 0.4\n          mode: chat\n          name: gemini-3-pro-preview\n          provider: langgenius/gemini/google\n        prompt_template:\n        - role: system\n          text: 'Language: {{#conversation.user_language#}}\n\n            The user wants to purchase: {{#conversation.user_purchase_description#}}\n\n            Briefly confirm what they want to buy (1 sentence), then ask ONLY: \"What\n            is your approximate budget?\"\n\n            DO NOT ask about: models, brands, delivery address, delivery dates, contracts,\n            IT department, eco-tags, PO numbers, specifications, or any other information.\n            Ask ONLY for the budget amount. Nothing else.\n\n            Respond in the user''s language.'\n        - role: user\n          text: 'Purchase: {{#conversation.user_purchase_description#}}'\n        selected: false\n        title: Ask Budget\n        type: llm\n        variables: []\n        vision:\n          enabled: false\n      height: 89\n      id: node_budget_ask\n      position:\n        x: 1200\n        y: 500\n      positionAbsolute:\n        x: 1200\n        y: 500\n      type: custom\n      width: 244\n    - data:\n        answer: '{{#node_budget_ask.text#}}'\n        selected: false\n        title: 'Answer: Budget Ask'\n        type: answer\n        variables: []\n      height: 103\n      id: node_answer_budget_ask\n      position:\n        x: 1500\n        y: 500\n      positionAbsolute:\n        x: 1500\n        y: 500\n      type: custom\n      width: 244\n    - data:\n        items:\n        - input_type: variable\n          operation: over-write\n          value:\n          - sys\n          - query\n          variable_selector:\n          - conversation\n          - user_budget\n          write_mode: over-write\n        selected: false\n        title: Save Budget\n        type: assigner\n        version: '2'\n      height: 85\n      id: node_save_budget\n      position:\n        x: 920\n        y: 650\n      positionAbsolute:\n        x: 920\n        y: 650\n      type: custom\n      width: 244\n    - data:\n        context:\n          enabled: false\n          variable_selector: []\n        memory:\n          role_prefix:\n            assistant: ''\n            user: ''\n          window:\n            enabled: false\n        model:\n          completion_params:\n            max_tokens: 100\n            temperature: 0.1\n          mode: chat\n          name: gemini-3-pro-preview\n          provider: langgenius/gemini/google\n        prompt_template:\n        - role: system\n          text: 'Classify the purchase description into exactly ONE category.\n\n            Categories: 1. CATALOG \u2014 Office supplies, MRO items, electronics, laptops,\n            peripherals 2. FIXED_TERM_FIXED_FEE \u2014 Maintenance contracts, IT services,\n            lease, consulting (fixed fee) 3. FIXED_TERM_VARIABLE \u2014 Cleaning, building\n            management, gas supply, waste disposal, legal (variable cost) 4. SOFTWARE_OUTSOURCING\n            \u2014 Software development, IT outsourcing, software maintenance 5. SPOT_QUOTATION\n            \u2014 Customized items, research equipment, one-time consulting, advertising\n            6. INVOICE_PAYMENT \u2014 Courier, newspaper subscriptions, insurance, bank\n            fees, web-based IT services 7. STAFF_DISPATCH \u2014 Staff dispatch, per-transaction\n            staffing contracts 8. OTHERS \u2014 Electricity, gas, water, mobile phone,\n            gasoline, travel, entertainment\n\n            Respond with ONLY the category name (e.g., CATALOG). Nothing else.'\n        - role: user\n          text: '{{#conversation.user_purchase_description#}}'\n        selected: false\n        title: Purchase Classifier\n        type: llm\n        variables: []\n        vision:\n          enabled: false\n      height: 89\n      id: node_classify_intent\n      position:\n        x: 1200\n        y: 650\n      positionAbsolute:\n        x: 1200\n        y: 650\n      type: custom\n      width: 244\n    - data:\n        items:\n        - input_type: variable\n          operation: over-write\n          value:\n          - node_classify_intent\n          - text\n          variable_selector:\n          - conversation\n          - purchase_category\n          write_mode: over-write\n        selected: false\n        title: Save Category\n        type: assigner\n        version: '2'\n      height: 85\n      id: node_save_category\n      position:\n        x: 1500\n        y: 650\n      positionAbsolute:\n        x: 1500\n        y: 650\n      type: custom\n      width: 244\n    - data:\n        items:\n        - input_type: constant\n          operation: over-write\n          value: products_shown\n          variable_selector:\n          - conversation\n          - confirmation_state\n          write_mode: over-write\n        selected: false\n        title: Set State Products\n        type: assigner\n        version: '2'\n      height: 85\n      id: node_set_state_products\n      position:\n        x: 1800\n        y: 650\n      positionAbsolute:\n        x: 1800\n        y: 650\n      type: custom\n      width: 244\n    - data:\n        dataset_ids:\n        - JbebYiN3ZzDamH9FMY7egpkpSpp6NQBkt0yLzlMF47bVA6bu/upVi1ieHUV/B7hN\n        - 31pvW+fW6DAK+24fEmvXmneNkbMc3OGCc34Fj2C3GytEhkkrBTRj9KZK4qCjI7jU\n        multiple_retrieval_config:\n          reranking_enable: true\n          reranking_mode: weighted_score\n          score_threshold: 0.4\n          top_k: 5\n          weights:\n            keyword_setting:\n              keyword_weight: 0\n            vector_setting:\n              embedding_model_name: gemini-embedding-001\n              embedding_provider_name: langgenius/gemini/google\n              vector_weight: 1\n        query_variable_selector:\n        - conversation\n        - user_purchase_description\n        retrieval_mode: multiple\n        selected: false\n        title: Query Procurement KB\n        type: knowledge-retrieval\n      height: 119\n      id: node_kb_retrieval\n      position:\n        x: 2100\n        y: 650\n      positionAbsolute:\n        x: 2100\n        y: 650\n      type: custom\n      width: 244\n    - data:\n        cases:\n        - case_id: route_flipkart\n          conditions:\n          - comparison_operator: contains\n            id: cond_catalog\n            value: CATALOG\n            varType: string\n            variable_selector:\n            - conversation\n            - purchase_category\n          id: route_flipkart\n          logical_operator: and\n        - case_id: route_amazon\n          conditions:\n          - comparison_operator: contains\n            id: cond_fixed_fee\n            value: FIXED_TERM_FIXED_FEE\n            varType: string\n            variable_selector:\n            - conversation\n            - purchase_category\n          - comparison_operator: contains\n            id: cond_software\n            value: SOFTWARE_OUTSOURCING\n            varType: string\n            variable_selector:\n            - conversation\n            - purchase_category\n          id: route_amazon\n          logical_operator: or\n        - case_id: route_indiamart\n          conditions:\n          - comparison_operator: contains\n            id: cond_variable\n            value: FIXED_TERM_VARIABLE\n            varType: string\n            variable_selector:\n            - conversation\n            - purchase_category\n          - comparison_operator: contains\n            id: cond_spot\n            value: SPOT_QUOTATION\n            varType: string\n            variable_selector:\n            - conversation\n            - purchase_category\n          - comparison_operator: contains\n            id: cond_invoice\n            value: INVOICE_PAYMENT\n            varType: string\n            variable_selector:\n            - conversation\n            - purchase_category\n          id: route_indiamart\n          logical_operator: or\n        - case_id: route_udaan\n          conditions:\n          - comparison_operator: contains\n            id: cond_dispatch\n            value: STAFF_DISPATCH\n            varType: string\n            variable_selector:\n            - conversation\n            - purchase_category\n          id: route_udaan\n          logical_operator: and\n        - case_id: route_tradeindia\n          conditions:\n          - comparison_operator: contains\n            id: cond_others\n            value: OTHERS\n            varType: string\n            variable_selector:\n            - conversation\n            - purchase_category\n          id: route_tradeindia\n          logical_operator: and\n        selected: false\n        title: Provider Router\n        type: if-else\n      height: 395\n      id: node_provider_router\n      position:\n        x: 2400\n        y: 650\n      positionAbsolute:\n        x: 2400\n        y: 650\n      selected: false\n      type: custom\n      width: 244\n    - data:\n        context:\n          enabled: true\n          variable_selector:\n          - node_kb_retrieval\n          - result\n        memory:\n          role_prefix:\n            assistant: ''\n            user: ''\n          window:\n            enabled: false\n        model:\n          completion_params:\n            max_tokens: 900\n            temperature: 0.3\n          mode: chat\n          name: gemini-3-pro-preview\n          provider: langgenius/gemini/google\n        prompt_template:\n        - role: system\n          text: \"Language: {{#conversation.user_language#}}\\n\\nHISTORICAL PROCUREMENT\\\n            \\ CONTEXT (use to enhance suggestions): {{#node_kb_retrieval.result#}}\\n\\\n            \\nUser wants to purchase: {{#conversation.user_purchase_description#}}\\\n            \\ Budget: {{#conversation.user_budget#}} Provider: Flipkart\\n\\nRULES:\\\n            \\ - Show 3-4 products matching the description and budget from Flipkart\\\n            \\ catalog. - If KB context contains matching previous purchases, show\\\n            \\ those FIRST with a \\\"Previously purchased\\\" tag. - For each product\\\n            \\ show: Product name, Price, Key specs (3 max), Availability. - DO NOT\\\n            \\ ask for: model numbers, delivery address, PO creation, IT dept,\\n  contracts,\\\n            \\ delivery dates, eco-tags, specifications, brands.\\n- DO NOT mention\\\n            \\ internal portals, approvals, or navigation steps. - DO NOT ask ANY follow-up\\\n            \\ questions about the product.\\nEnd your response with EXACTLY this block\\\n            \\ (output the raw HTML as-is): --- <button data-message=\\\"Amazon\\\" data-variant=\\\"\\\n            secondary\\\">Amazon</button> <button data-message=\\\"IndiaMart\\\" data-variant=\\\"\\\n            secondary\\\">IndiaMart</button> <button data-message=\\\"Udaan\\\" data-variant=\\\"\\\n            secondary\\\">Udaan</button> <button data-message=\\\"TradeIndia\\\" data-variant=\\\"\\\n            secondary\\\">TradeIndia</button> <button data-message=\\\"Yes\\\" data-variant=\\\"\\\n            primary\\\">Yes, proceed</button> <button data-message=\\\"Update\\\" data-variant=\\\"\\\n            secondary-accent\\\">Update requirements</button>\"\n        - role: user\n          text: 'Search Flipkart for: {{#conversation.user_purchase_description#}},\n            Budget: {{#conversation.user_budget#}}'\n        selected: false\n        title: Flipkart Products\n        type: llm\n        variables: []\n        vision:\n          enabled: false\n      height: 89\n      id: node_flipkart_products\n      position:\n        x: 2700\n        y: 350\n      positionAbsolute:\n        x: 2700\n        y: 350\n      type: custom\n      width: 244\n    - data:\n        context:\n          enabled: true\n          variable_selector:\n          - node_kb_retrieval\n          - result\n        memory:\n          role_prefix:\n            assistant: ''\n            user: ''\n          window:\n            enabled: false\n        model:\n          completion_params:\n            max_tokens: 900\n            temperature: 0.3\n          mode: chat\n          name: gemini-3-pro-preview\n          provider: langgenius/gemini/google\n        prompt_template:\n        - role: system\n          text: \"Language: {{#conversation.user_language#}}\\n\\nHISTORICAL PROCUREMENT\\\n            \\ CONTEXT (use to enhance suggestions): {{#node_kb_retrieval.result#}}\\n\\\n            \\nUser wants to purchase: {{#conversation.user_purchase_description#}}\\\n            \\ Budget: {{#conversation.user_budget#}} Provider: Amazon\\n\\nAmazon handles:\\\n            \\ IT services, software outsourcing, fixed-term contracts, and specialized/high-performance\\\n            \\ equipment.\\n\\nRULES: - Show 3-4 products or service packages matching\\\n            \\ the description and budget. - If KB context contains matching previous\\\n            \\ purchases, show those FIRST with a \\\"Previously purchased\\\" tag. - For\\\n            \\ each item show: Name, Price/Fee, Key details (3 max), Availability/Timeline.\\\n            \\ - DO NOT ask for: model numbers, delivery address, PO creation, IT dept,\\n\\\n            \\  contracts, delivery dates, eco-tags, specifications, brands.\\n- DO\\\n            \\ NOT mention internal portals, approvals, or navigation steps. - DO NOT\\\n            \\ ask ANY follow-up questions.\\nEnd your response with EXACTLY this block:\\\n            \\ --- <button data-message=\\\"Flipkart\\\" data-variant=\\\"secondary\\\">Flipkart</button>\\\n            \\ <button data-message=\\\"IndiaMart\\\" data-variant=\\\"secondary\\\">IndiaMart</button>\\\n            \\ <button data-message=\\\"Udaan\\\" data-variant=\\\"secondary\\\">Udaan</button>\\\n            \\ <button data-message=\\\"TradeIndia\\\" data-variant=\\\"secondary\\\">TradeIndia</button>\\\n            \\ <button data-message=\\\"Yes\\\" data-variant=\\\"primary\\\">Yes, proceed</button>\\\n            \\ <button data-message=\\\"Update\\\" data-variant=\\\"secondary-accent\\\">Update\\\n            \\ requirements</button>\"\n        - role: user\n          text: 'Search Amazon for: {{#conversation.user_purchase_description#}},\n            Budget: {{#conversation.user_budget#}}'\n        selected: false\n        title: Amazon Products\n        type: llm\n        variables: []\n        vision:\n          enabled: false\n      height: 89\n      id: node_amazon_products\n      position:\n        x: 2700\n        y: 550\n      positionAbsolute:\n        x: 2700\n        y: 550\n      type: custom\n      width: 244\n    - data:\n        context:\n          enabled: true\n          variable_selector:\n          - node_kb_retrieval\n          - result\n        memory:\n          role_prefix:\n            assistant: ''\n            user: ''\n          window:\n            enabled: false\n        model:\n          completion_params:\n            max_tokens: 900\n            temperature: 0.3\n          mode: chat\n          name: gemini-3-pro-preview\n          provider: langgenius/gemini/google\n        prompt_template:\n        - role: system\n          text: \"Language: {{#conversation.user_language#}}\\n\\nHISTORICAL PROCUREMENT\\\n            \\ CONTEXT (use to enhance suggestions): {{#node_kb_retrieval.result#}}\\n\\\n            \\nUser wants to purchase: {{#conversation.user_purchase_description#}}\\\n            \\ Budget: {{#conversation.user_budget#}} Provider: IndiaMart\\n\\nIndiaMart\\\n            \\ handles: Variable contracts, spot quotations, invoice payments, bulk\\\n            \\ B2B purchases, and competitive RFQ-based procurement.\\n\\nRULES: - Show\\\n            \\ 3-4 products or quotation-based options matching description and budget.\\\n            \\ - If KB context contains matching previous purchases, show those FIRST\\\n            \\ with a \\\"Previously purchased\\\" tag. - For each option: Name, Estimated\\\n            \\ price range, Key details (3 max), Supplier info. - DO NOT ask for: model\\\n            \\ numbers, delivery address, PO creation, IT dept,\\n  contracts, delivery\\\n            \\ dates, eco-tags, specifications, brands.\\n- DO NOT mention internal\\\n            \\ portals, approvals, or navigation steps. - DO NOT present any forms\\\n            \\ or field collection. - DO NOT ask ANY follow-up questions.\\nEnd your\\\n            \\ response with EXACTLY this block: --- <button data-message=\\\"Flipkart\\\"\\\n            \\ data-variant=\\\"secondary\\\">Flipkart</button> <button data-message=\\\"\\\n            Amazon\\\" data-variant=\\\"secondary\\\">Amazon</button> <button data-message=\\\"\\\n            Udaan\\\" data-variant=\\\"secondary\\\">Udaan</button> <button data-message=\\\"\\\n            TradeIndia\\\" data-variant=\\\"secondary\\\">TradeIndia</button> <button data-message=\\\"\\\n            Yes\\\" data-variant=\\\"primary\\\">Yes, proceed</button> <button data-message=\\\"\\\n            Update\\\" data-variant=\\\"secondary-accent\\\">Update requirements</button>\"\n        - role: user\n          text: 'Search IndiaMart for: {{#conversation.user_purchase_description#}},\n            Budget: {{#conversation.user_budget#}}'\n        selected: false\n        title: IndiaMart Products\n        type: llm\n        variables: []\n        vision:\n          enabled: false\n      height: 89\n      id: node_indiamart_products\n      position:\n        x: 2700\n        y: 750\n      positionAbsolute:\n        x: 2700\n        y: 750\n      type: custom\n      width: 244\n    - data:\n        context:\n          enabled: true\n          variable_selector:\n          - node_kb_retrieval\n          - result\n        memory:\n          role_prefix:\n            assistant: ''\n            user: ''\n          window:\n            enabled: false\n        model:\n          completion_params:\n            max_tokens: 900\n            temperature: 0.3\n          mode: chat\n          name: gemini-3-pro-preview\n          provider: langgenius/gemini/google\n        prompt_template:\n        - role: system\n          text: \"Language: {{#conversation.user_language#}}\\n\\nHISTORICAL PROCUREMENT\\\n            \\ CONTEXT (use to enhance suggestions): {{#node_kb_retrieval.result#}}\\n\\\n            \\nUser wants to purchase: {{#conversation.user_purchase_description#}}\\\n            \\ Budget: {{#conversation.user_budget#}} Provider: Udaan\\n\\nUdaan handles:\\\n            \\ Staff dispatch, wholesale B2B, furniture, and RFQ-based procurement.\\n\\\n            \\nRULES: - Show 3-4 products or service options matching the description\\\n            \\ and budget. - If KB context contains matching previous purchases, show\\\n            \\ those FIRST with a \\\"Previously purchased\\\" tag. - For each option:\\\n            \\ Name, Price/Rate, Key details (3 max), Availability. - DO NOT ask for:\\\n            \\ model numbers, delivery address, PO creation, IT dept,\\n  contracts,\\\n            \\ delivery dates, eco-tags, specifications, brands.\\n- DO NOT mention\\\n            \\ internal portals, approvals, or navigation steps. - DO NOT present any\\\n            \\ RFQ forms, eco-tag options, or field collection. - DO NOT ask ANY follow-up\\\n            \\ questions.\\nEnd your response with EXACTLY this block: --- <button data-message=\\\"\\\n            Flipkart\\\" data-variant=\\\"secondary\\\">Flipkart</button> <button data-message=\\\"\\\n            Amazon\\\" data-variant=\\\"secondary\\\">Amazon</button> <button data-message=\\\"\\\n            IndiaMart\\\" data-variant=\\\"secondary\\\">IndiaMart</button> <button data-message=\\\"\\\n            TradeIndia\\\" data-variant=\\\"secondary\\\">TradeIndia</button> <button data-message=\\\"\\\n            Yes\\\" data-variant=\\\"primary\\\">Yes, proceed</button> <button data-message=\\\"\\\n            Update\\\" data-variant=\\\"secondary-accent\\\">Update requirements</button>\"\n        - role: user\n          text: 'Search Udaan for: {{#conversation.user_purchase_description#}}, Budget:\n            {{#conversation.user_budget#}}'\n        selected: false\n        title: Udaan Products\n        type: llm\n        variables: []\n        vision:\n          enabled: false\n      height: 89\n      id: node_udaan_products\n      position:\n        x: 2700\n        y: 950\n      positionAbsolute:\n        x: 2700\n        y: 950\n      type: custom\n      width: 244\n    - data:\n        context:\n          enabled: true\n          variable_selector:\n          - node_kb_retrieval\n          - result\n        memory:\n          role_prefix:\n            assistant: ''\n            user: ''\n          window:\n            enabled: false\n        model:\n          completion_params:\n            max_tokens: 900\n            temperature: 0.3\n          mode: chat\n          name: gemini-3-pro-preview\n          provider: langgenius/gemini/google\n        prompt_template:\n        - role: system\n          text: \"Language: {{#conversation.user_language#}}\\n\\nHISTORICAL PROCUREMENT\\\n            \\ CONTEXT (use to enhance suggestions): {{#node_kb_retrieval.result#}}\\n\\\n            \\nUser wants to purchase: {{#conversation.user_purchase_description#}}\\\n            \\ Budget: {{#conversation.user_budget#}} Provider: TradeIndia\\n\\nTradeIndia\\\n            \\ handles: Raw materials, utilities, ad-hoc payments, travel reimbursements,\\\n            \\ and B2B trade supplies.\\n\\nRULES: - Show 3-4 products or payment/service\\\n            \\ options matching the description and budget. - If KB context contains\\\n            \\ matching previous purchases, show those FIRST with a \\\"Previously purchased\\\"\\\n            \\ tag. - For each option: Name, Price/Amount, Key details (3 max), Availability.\\\n            \\ - DO NOT ask for: model numbers, delivery address, PO creation, IT dept,\\n\\\n            \\  contracts, delivery dates, eco-tags, specifications, brands.\\n- DO\\\n            \\ NOT mention internal portals, approvals, or navigation steps. - DO NOT\\\n            \\ present any forms or field collection. - DO NOT ask ANY follow-up questions.\\n\\\n            End your response with EXACTLY this block: --- <button data-message=\\\"\\\n            Flipkart\\\" data-variant=\\\"secondary\\\">Flipkart</button> <button data-message=\\\"\\\n            Amazon\\\" data-variant=\\\"secondary\\\">Amazon</button> <button data-message=\\\"\\\n            IndiaMart\\\" data-variant=\\\"secondary\\\">IndiaMart</button> <button data-message=\\\"\\\n            Udaan\\\" data-variant=\\\"secondary\\\">Udaan</button> <button data-message=\\\"\\\n            Yes\\\" data-variant=\\\"primary\\\">Yes, proceed</button> <button data-message=\\\"\\\n            Update\\\" data-variant=\\\"secondary-accent\\\">Update requirements</button>\"\n        - role: user\n          text: 'Search TradeIndia for: {{#conversation.user_purchase_description#}},\n            Budget: {{#conversation.user_budget#}}'\n        selected: false\n        title: TradeIndia Products\n        type: llm\n        variables: []\n        vision:\n          enabled: false\n      height: 89\n      id: node_tradeindia_products\n      position:\n        x: 2700\n        y: 1150\n      positionAbsolute:\n        x: 2700\n        y: 1150\n      type: custom\n      width: 244\n    - data:\n        answer: '{{#node_flipkart_products.text#}}'\n        selected: false\n        title: 'Answer: Flipkart Products'\n        type: answer\n        variables: []\n      height: 103\n      id: node_answer_flipkart\n      position:\n        x: 3050\n        y: 350\n      positionAbsolute:\n        x: 3050\n        y: 350\n      type: custom\n      width: 244\n    - data:\n        answer: '{{#node_amazon_products.text#}}'\n        selected: false\n        title: 'Answer: Amazon Products'\n        type: answer\n        variables: []\n      height: 103\n      id: node_answer_amazon\n      position:\n        x: 3050\n        y: 550\n      positionAbsolute:\n        x: 3050\n        y: 550\n      type: custom\n      width: 244\n    - data:\n        answer: '{{#node_indiamart_products.text#}}'\n        selected: false\n        title: 'Answer: IndiaMart Products'\n        type: answer\n        variables: []\n      height: 103\n      id: node_answer_indiamart\n      position:\n        x: 3050\n        y: 750\n      positionAbsolute:\n        x: 3050\n        y: 750\n      type: custom\n      width: 244\n    - data:\n        answer: '{{#node_udaan_products.text#}}'\n        selected: false\n        title: 'Answer: Udaan Products'\n        type: answer\n        variables: []\n      height: 103\n      id: node_answer_udaan\n      position:\n        x: 3050\n        y: 950\n      positionAbsolute:\n        x: 3050\n        y: 950\n      type: custom\n      width: 244\n    - data:\n        answer: '{{#node_tradeindia_products.text#}}'\n        selected: false\n        title: 'Answer: TradeIndia Products'\n        type: answer\n        variables: []\n      height: 103\n      id: node_answer_tradeindia\n      position:\n        x: 3050\n        y: 1150\n      positionAbsolute:\n        x: 3050\n        y: 1150\n      type: custom\n      width: 244\n    - data:\n        items:\n        - input_type: constant\n          operation: over-write\n          value: 'yes'\n          variable_selector:\n          - conversation\n          - confirmation_state\n          write_mode: over-write\n        selected: false\n        title: Set State Yes\n        type: assigner\n        version: '2'\n      height: 85\n      id: node_set_state_yes\n      position:\n        x: 1200\n        y: 750\n      positionAbsolute:\n        x: 1200\n        y: 750\n      type: custom\n      width: 244\n    - data:\n        context:\n          enabled: false\n          variable_selector: []\n        memory:\n          role_prefix:\n            assistant: ''\n            user: ''\n          window:\n            enabled: true\n            size: 5\n        model:\n          completion_params:\n            max_tokens: 400\n            temperature: 0.5\n          mode: chat\n          name: gemini-3-pro-preview\n          provider: langgenius/gemini/google\n        prompt_template:\n        - role: system\n          text: 'Language: {{#conversation.user_language#}}\n\n\n            The user has confirmed their product selection. Product: {{#conversation.user_purchase_description#}}\n            Budget: {{#conversation.user_budget#}} Category: {{#conversation.purchase_category#}}\n\n\n            Generate a SHORT procurement intent summary (3-4 lines max): - What they\n            are buying - Their budget - Which provider was searched\n\n\n            Then on a new line, output EXACTLY: --- <button data-message=\"Flipkart\"\n            data-variant=\"secondary\">Flipkart</button> <button data-message=\"Amazon\"\n            data-variant=\"secondary\">Amazon</button> <button data-message=\"IndiaMart\"\n            data-variant=\"secondary\">IndiaMart</button> <button data-message=\"Udaan\"\n            data-variant=\"secondary\">Udaan</button> <button data-message=\"TradeIndia\"\n            data-variant=\"secondary\">TradeIndia</button> <button data-message=\"Done\"\n            data-variant=\"primary\">Done</button>\n\n\n            DO NOT mention internal portals, approvals, PO creation, delivery address,\n            contracts, eco-tags, or IT departments.'\n        - role: user\n          text: Confirmed selection\n        selected: false\n        title: Yes \u2014 Confirmation Summary\n        type: llm\n        variables: []\n        vision:\n          enabled: false\n      height: 89\n      id: node_yes_handler\n      position:\n        x: 1500\n        y: 750\n      positionAbsolute:\n        x: 1500\n        y: 750\n      type: custom\n      width: 244\n    - data:\n        answer: '{{#node_yes_handler.text#}}'\n        selected: false\n        title: 'Answer: Confirmed'\n        type: answer\n        variables: []\n      height: 103\n      id: node_answer_yes\n      position:\n        x: 1800\n        y: 750\n      positionAbsolute:\n        x: 1800\n        y: 750\n      type: custom\n      width: 244\n    - data:\n        items:\n        - input_type: constant\n          operation: over-write\n          value: awaiting_update\n          variable_selector:\n          - conversation\n          - confirmation_state\n          write_mode: over-write\n        selected: false\n        title: Set State Awaiting Update\n        type: assigner\n        version: '2'\n      height: 85\n      id: node_set_state_awaiting_update\n      position:\n        x: 1200\n        y: 900\n      positionAbsolute:\n        x: 1200\n        y: 900\n      type: custom\n      width: 244\n    - data:\n        answer: 'What would you like to update?\n\n\n          <button data-message=\"A\" data-variant=\"secondary\">A. Product description</button>\n          <button data-message=\"B\" data-variant=\"secondary\">B. Budget</button>'\n        selected: false\n        title: 'Answer: Update Ask'\n        type: answer\n        variables: []\n      height: 181\n      id: node_answer_update_ask\n      position:\n        x: 1500\n        y: 900\n      positionAbsolute:\n        x: 1500\n        y: 900\n      selected: false\n      type: custom\n      width: 244\n    - data:\n        cases:\n        - case_id: case_update_a\n          conditions:\n          - comparison_operator: contains\n            id: cond_a1\n            value: A\n            varType: string\n            variable_selector:\n            - sys\n            - query\n          - comparison_operator: contains\n            id: cond_a2\n            value: a\n            varType: string\n            variable_selector:\n            - sys\n            - query\n          - comparison_operator: contains\n            id: cond_a3\n            value: description\n            varType: string\n            variable_selector:\n            - sys\n            - query\n          id: case_update_a\n          logical_operator: or\n        - case_id: case_update_b\n          conditions:\n          - comparison_operator: contains\n            id: cond_b1\n            value: B\n            varType: string\n            variable_selector:\n            - sys\n            - query\n          - comparison_operator: contains\n            id: cond_b2\n            value: b\n            varType: string\n            variable_selector:\n            - sys\n            - query\n          - comparison_operator: contains\n            id: cond_b3\n            value: budget\n            varType: string\n            variable_selector:\n            - sys\n            - query\n          id: case_update_b\n          logical_operator: or\n        selected: false\n        title: Update Type Router\n        type: if-else\n      height: 277\n      id: node_update_type_router\n      position:\n        x: 920\n        y: 1050\n      positionAbsolute:\n        x: 920\n        y: 1050\n      type: custom\n      width: 244\n    - data:\n        items:\n        - input_type: constant\n          operation: over-write\n          value: update_desc\n          variable_selector:\n          - conversation\n          - confirmation_state\n          write_mode: over-write\n        selected: false\n        title: Set State Update Desc\n        type: assigner\n        version: '2'\n      height: 85\n      id: node_set_state_update_desc\n      position:\n        x: 1200\n        y: 1000\n      positionAbsolute:\n        x: 1200\n        y: 1000\n      type: custom\n      width: 244\n    - data:\n        answer: 'Please describe what you would like to purchase:'\n        selected: false\n        title: 'Answer: New Desc Prompt'\n        type: answer\n        variables: []\n      height: 117\n      id: node_answer_desc_prompt\n      position:\n        x: 1500\n        y: 1000\n      positionAbsolute:\n        x: 1500\n        y: 1000\n      type: custom\n      width: 244\n    - data:\n        items:\n        - input_type: constant\n          operation: over-write\n          value: update_budget\n          variable_selector:\n          - conversation\n          - confirmation_state\n          write_mode: over-write\n        selected: false\n        title: Set State Update Budget\n        type: assigner\n        version: '2'\n      height: 85\n      id: node_set_state_update_budget\n      position:\n        x: 1200\n        y: 1100\n      positionAbsolute:\n        x: 1200\n        y: 1100\n      type: custom\n      width: 244\n    - data:\n        answer: 'Please provide your new budget amount:'\n        selected: false\n        title: 'Answer: New Budget Prompt'\n        type: answer\n        variables: []\n      height: 117\n      id: node_answer_budget_prompt\n      position:\n        x: 1500\n        y: 1100\n      positionAbsolute:\n        x: 1500\n        y: 1100\n      type: custom\n      width: 244\n    - data:\n        items:\n        - input_type: variable\n          operation: over-write\n          value:\n          - sys\n          - query\n          variable_selector:\n          - conversation\n          - user_purchase_description\n          write_mode: over-write\n        selected: false\n        title: Save Updated Desc\n        type: assigner\n        version: '2'\n      height: 85\n      id: node_save_updated_desc\n      position:\n        x: 920\n        y: 1250\n      positionAbsolute:\n        x: 920\n        y: 1250\n      type: custom\n      width: 244\n    - data:\n        items:\n        - input_type: variable\n          operation: over-write\n          value:\n          - sys\n          - query\n          variable_selector:\n          - conversation\n          - user_budget\n          write_mode: over-write\n        selected: false\n        title: Save Updated Budget\n        type: assigner\n        version: '2'\n      height: 85\n      id: node_save_updated_budget\n      position:\n        x: 920\n        y: 1400\n      positionAbsolute:\n        x: 920\n        y: 1400\n      type: custom\n      width: 244\n    - data:\n        cases:\n        - case_id: case_alt_flipkart\n          conditions:\n          - comparison_operator: contains\n            id: cond_af1\n            value: flipkart\n            varType: string\n            variable_selector:\n            - sys\n            - query\n          - comparison_operator: contains\n            id: cond_af2\n            value: Flipkart\n            varType: string\n            variable_selector:\n            - sys\n            - query\n          id: case_alt_flipkart\n          logical_operator: or\n        - case_id: case_alt_amazon\n          conditions:\n          - comparison_operator: contains\n            id: cond_aa1\n            value: amazon\n            varType: string\n            variable_selector:\n            - sys\n            - query\n          - comparison_operator: contains\n            id: cond_aa2\n            value: Amazon\n            varType: string\n            variable_selector:\n            - sys\n            - query\n          id: case_alt_amazon\n          logical_operator: or\n        - case_id: case_alt_indiamart\n          conditions:\n          - comparison_operator: contains\n            id: cond_ai1\n            value: indiamart\n            varType: string\n            variable_selector:\n            - sys\n            - query\n          - comparison_operator: contains\n            id: cond_ai2\n            value: IndiaMart\n            varType: string\n            variable_selector:\n            - sys\n            - query\n          id: case_alt_indiamart\n          logical_operator: or\n        - case_id: case_alt_udaan\n          conditions:\n          - comparison_operator: contains\n            id: cond_au1\n            value: udaan\n            varType: string\n            variable_selector:\n            - sys\n            - query\n          - comparison_operator: contains\n            id: cond_au2\n            value: Udaan\n            varType: string\n            variable_selector:\n            - sys\n            - query\n          id: case_alt_udaan\n          logical_operator: or\n        - case_id: case_alt_tradeindia\n          conditions:\n          - comparison_operator: contains\n            id: cond_at1\n            value: tradeindia\n            varType: string\n            variable_selector:\n            - sys\n            - query\n          - comparison_operator: contains\n            id: cond_at2\n            value: TradeIndia\n            varType: string\n            variable_selector:\n            - sys\n            - query\n          id: case_alt_tradeindia\n          logical_operator: or\n        - case_id: case_yes_response\n          conditions:\n          - comparison_operator: contains\n            id: cond_yr1\n            value: 'yes'\n            varType: string\n            variable_selector:\n            - sys\n            - query\n          - comparison_operator: contains\n            id: cond_yr2\n            value: 'Yes'\n            varType: string\n            variable_selector:\n            - sys\n            - query\n          id: case_yes_response\n          logical_operator: or\n        - case_id: case_update_response\n          conditions:\n          - comparison_operator: contains\n            id: cond_ur1\n            value: update\n            varType: string\n            variable_selector:\n            - sys\n            - query\n          - comparison_operator: contains\n            id: cond_ur2\n            value: Update\n            varType: string\n            variable_selector:\n            - sys\n            - query\n          id: case_update_response\n          logical_operator: or\n        - case_id: case_done\n          conditions:\n          - comparison_operator: contains\n            id: cond_d1\n            value: done\n            varType: string\n            variable_selector:\n            - sys\n            - query\n          - comparison_operator: contains\n            id: cond_d2\n            value: Done\n            varType: string\n            variable_selector:\n            - sys\n            - query\n          id: case_done\n          logical_operator: or\n        selected: false\n        title: Additional Provider Router\n        type: if-else\n      height: 669\n      id: node_additional_provider_router\n      position:\n        x: 920\n        y: 1550\n      positionAbsolute:\n        x: 920\n        y: 1550\n      type: custom\n      width: 244\n    - data:\n        dataset_ids:\n        - JbebYiN3ZzDamH9FMY7egpkpSpp6NQBkt0yLzlMF47bVA6bu/upVi1ieHUV/B7hN\n        - 31pvW+fW6DAK+24fEmvXmneNkbMc3OGCc34Fj2C3GytEhkkrBTRj9KZK4qCjI7jU\n        multiple_retrieval_config:\n          reranking_enable: true\n          reranking_mode: weighted_score\n          score_threshold: 0.4\n          top_k: 5\n          weights:\n            keyword_setting:\n              keyword_weight: 0\n            vector_setting:\n              embedding_model_name: gemini-embedding-001\n              embedding_provider_name: langgenius/gemini/google\n              vector_weight: 1\n        query_variable_selector:\n        - conversation\n        - user_purchase_description\n        retrieval_mode: multiple\n        selected: false\n        title: Query KB for Alt Provider\n        type: knowledge-retrieval\n      height: 119\n      id: node_kb_retrieval_alt\n      position:\n        x: 1100\n        y: 1480\n      positionAbsolute:\n        x: 1100\n        y: 1480\n      type: custom\n      width: 244\n    - data:\n        context:\n          enabled: true\n          variable_selector:\n          - node_kb_retrieval_alt\n          - result\n        memory:\n          role_prefix:\n            assistant: ''\n            user: ''\n          window:\n            enabled: true\n            size: 5\n        model:\n          completion_params:\n            max_tokens: 900\n            temperature: 0.3\n          mode: chat\n          name: gemini-3-pro-preview\n          provider: langgenius/gemini/google\n        prompt_template:\n        - role: system\n          text: 'Language: {{#conversation.user_language#}}\n\n\n            HISTORICAL PROCUREMENT CONTEXT: {{#node_kb_retrieval_alt.result#}}\n\n\n            User wants: {{#conversation.user_purchase_description#}} Budget: {{#conversation.user_budget#}}\n\n\n            The user wants to browse an ADDITIONAL provider. Identify which provider\n            from their message: \"{{#sys.query#}}\"\n\n\n            Show 3-4 products from that provider matching the description and budget.\n            If KB context contains matching purchases, show with \"Previously purchased\"\n            tag. For each product: Name, Price, Key specs (3 max), Availability.\n\n\n            DO NOT ask for: model numbers, delivery address, PO creation, IT dept,\n            contracts, delivery dates, eco-tags, specifications, brands. DO NOT mention\n            internal portals, approvals, or navigation steps. DO NOT ask ANY follow-up\n            questions.\n\n            End your response with EXACTLY this block: --- <button data-message=\"Flipkart\"\n            data-variant=\"secondary\">Flipkart</button> <button data-message=\"Amazon\"\n            data-variant=\"secondary\">Amazon</button> <button data-message=\"IndiaMart\"\n            data-variant=\"secondary\">IndiaMart</button> <button data-message=\"Udaan\"\n            data-variant=\"secondary\">Udaan</button> <button data-message=\"TradeIndia\"\n            data-variant=\"secondary\">TradeIndia</button> <button data-message=\"Yes\"\n            data-variant=\"primary\">Yes, proceed</button> <button data-message=\"Update\"\n            data-variant=\"secondary-accent\">Update requirements</button>'\n        - role: user\n          text: 'Show products from: {{#sys.query#}} for {{#conversation.user_purchase_description#}}'\n        selected: false\n        title: Alt Provider Products\n        type: llm\n        variables: []\n        vision:\n          enabled: false\n      height: 89\n      id: node_alt_products\n      position:\n        x: 1350\n        y: 1550\n      positionAbsolute:\n        x: 1350\n        y: 1550\n      type: custom\n      width: 244\n    - data:\n        items:\n        - input_type: constant\n          operation: over-write\n          value: products_shown\n          variable_selector:\n          - conversation\n          - confirmation_state\n          write_mode: over-write\n        selected: false\n        title: Set State Alt Products\n        type: assigner\n        version: '2'\n      height: 85\n      id: node_set_state_alt_products\n      position:\n        x: 1500\n        y: 1550\n      positionAbsolute:\n        x: 1500\n        y: 1550\n      type: custom\n      width: 244\n    - data:\n        answer: '{{#node_alt_products.text#}}'\n        selected: false\n        title: 'Answer: Alt Products'\n        type: answer\n        variables: []\n      height: 103\n      id: node_answer_alt_products\n      position:\n        x: 1800\n        y: 1550\n      positionAbsolute:\n        x: 1800\n        y: 1550\n      type: custom\n      width: 244\n    - data:\n        context:\n          enabled: false\n          variable_selector: []\n        memory:\n          role_prefix:\n            assistant: ''\n            user: ''\n          window:\n            enabled: true\n            size: 5\n        model:\n          completion_params:\n            max_tokens: 400\n            temperature: 0.5\n          mode: chat\n          name: gemini-3-pro-preview\n          provider: langgenius/gemini/google\n        prompt_template:\n        - role: system\n          text: 'Language: {{#conversation.user_language#}}\n\n\n            Session completed. Generate a clean summary: - Product requested: {{#conversation.user_purchase_description#}}\n            - Budget: {{#conversation.user_budget#}} - Category: {{#conversation.purchase_category#}}\n\n\n            Provide a friendly closing message: \"Thank you for using the Procurement\n            Guided Buy Tool. Your requirements have been recorded. To start a new\n            search, please begin a new conversation.\"\n\n\n            DO NOT mention internal portals, approvals, PO numbers, delivery logistics,\n            or IT departments.'\n        - role: user\n          text: Done\n        selected: false\n        title: Done \u2014 Session Summary\n        type: llm\n        variables: []\n        vision:\n          enabled: false\n      height: 89\n      id: node_done_handler\n      position:\n        x: 1200\n        y: 1700\n      positionAbsolute:\n        x: 1200\n        y: 1700\n      type: custom\n      width: 244\n    - data:\n        items:\n        - input_type: constant\n          operation: over-write\n          value: done\n          variable_selector:\n          - conversation\n          - confirmation_state\n          write_mode: over-write\n        selected: false\n        title: Set State Done\n        type: assigner\n        version: '2'\n      height: 85\n      id: node_set_state_done\n      position:\n        x: 1500\n        y: 1700\n      positionAbsolute:\n        x: 1500\n        y: 1700\n      type: custom\n      width: 244\n    - data:\n        answer: '{{#node_done_handler.text#}}'\n        selected: false\n        title: 'Answer: Done'\n        type: answer\n        variables: []\n      height: 103\n      id: node_answer_done\n      position:\n        x: 1800\n        y: 1700\n      positionAbsolute:\n        x: 1800\n        y: 1700\n      type: custom\n      width: 244\n    - data:\n        context:\n          enabled: false\n          variable_selector: []\n        memory:\n          role_prefix:\n            assistant: ''\n            user: ''\n          window:\n            enabled: true\n            size: 10\n        model:\n          completion_params:\n            max_tokens: 300\n            temperature: 0.5\n          mode: chat\n          name: gemini-3-pro-preview\n          provider: langgenius/gemini/google\n        prompt_template:\n        - role: system\n          text: 'Language: {{#conversation.user_language#}}\n\n\n            Current state: - Purchase: {{#conversation.user_purchase_description#}}\n            - Budget: {{#conversation.user_budget#}} - Category: {{#conversation.purchase_category#}}\n            - State: {{#conversation.confirmation_state#}}\n\n\n            The user''s input did not match the expected flow. Respond helpfully:\n            - If asking about the process, answer briefly - If off-topic, guide them\n            back to the current step - If the state is \"done\", tell them the session\n            is complete - If confused, explain the next expected action\n\n\n            DO NOT mention internal portals, approvals, PO creation, delivery addresses,\n            contracts, eco-tags, or IT departments. Keep it brief and professional.'\n        - role: user\n          text: '{{#sys.query#}}'\n        selected: false\n        title: General Handler\n        type: llm\n        variables: []\n        vision:\n          enabled: false\n      height: 89\n      id: node_general_handler\n      position:\n        x: 620\n        y: 1800\n      positionAbsolute:\n        x: 620\n        y: 1800\n      type: custom\n      width: 244\n    - data:\n        answer: '{{#node_general_handler.text#}}'\n        selected: false\n        title: 'Answer: General'\n        type: answer\n        variables: []\n      height: 103\n      id: node_answer_general\n      position:\n        x: 920\n        y: 1800\n      positionAbsolute:\n        x: 920\n        y: 1800\n      type: custom\n      width: 244\n    - data:\n        context:\n          enabled: false\n          variable_selector: []\n        error_strategy: fail-branch\n        memory:\n          role_prefix:\n            assistant: ''\n            user: ''\n          window:\n            enabled: false\n        model:\n          completion_params:\n            max_tokens: 1200\n            temperature: 0.1\n          mode: chat\n          name: gemini-3-pro-preview\n          provider: langgenius/gemini/google\n        prompt_template:\n        - id: a7c2a2c2-c116-4223-abc2-dfbefea8ed19\n          role: system\n          text: \"EXTRACTED DOCUMENT CONTENT (populated if DOCX was uploaded, empty\\\n            \\ otherwise):\\n---\\n{{#conversation.file_extracted_text#}}\\n---\\n\\nYou\\\n            \\ are a procurement document extractor for the Guided Buy Tool.\\nLanguage:\\\n            \\ {{#conversation.user_language#}}\\n\\nA file has been uploaded. Your job:\\n\\\n            \\n1. IDENTIFY the file type from what you can see/read.\\n   Supported:\\\n            \\ PDF (including encrypted/password-protected), DOC, JPG/PNG/GIF/WEBP/SVG\\\n            \\ (images), DOCX, XLSX, CSV, TXT.\\n\\n2. EXTRACT all procurement fields\\\n            \\ you can find:\\n   \u2022 Items / \u54c1\u76ee \u2014 each line item with qty and unit price\\n\\\n            \\   \u2022 Vendor / \u4ed5\u5165\u5148\\n   \u2022 Invoice No / \u8acb\u6c42\u66f8\u756a\u53f7\\n   \u2022 Date / \u65e5\u4ed8\\n   \u2022 Total\\\n            \\ Amount / \u5408\u8a08\\n   \u2022 PO Number / \u767a\u6ce8\u756a\u53f7\\n   \u2022 Delivery Date / \u7d0d\u671f\\n   \u2022 Purchase\\\n            \\ Summary (1-2 plain English sentences for routing)\\n\\n   Per-format rules:\\n\\\n            \\   \u2022 PDF (standard): read all text, tables, line items\\n   \u2022 PDF (encrypted/password-protected):\\\n            \\ if you cannot read the content because it is encrypted or password-protected,\\\n            \\ stop immediately and reply ONLY with this exact message and nothing\\\n            \\ else:\\n   \u26a0\ufe0f This PDF is password-protected and cannot be read.\\n  \\\n            \\ Please upload an unlocked version, or type your purchase details below.\\n\\\n            \\   / \u3053\u306ePDF\u306f\u30d1\u30b9\u30ef\u30fc\u30c9\u3067\u4fdd\u8b77\u3055\u308c\u3066\u3044\u308b\u305f\u3081\u8aad\u307f\u53d6\u308c\u307e\u305b\u3093\u3002\u30ed\u30c3\u30af\u3092\u89e3\u9664\u3057\u305f\u30d5\u30a1\u30a4\u30eb\u3092\u518d\u30a2\u30c3\u30d7\u30ed\u30fc\u30c9\u3059\u308b\u304b\u3001\u8cfc\u5165\u5185\u5bb9\u3092\u76f4\u63a5\u5165\u529b\u3057\u3066\u304f\u3060\u3055\u3044\u3002\\n\\\n            \\   Do NOT attempt extraction. Do NOT output any other text.\\n   \u2022 DOC\\\n            \\ (legacy Word): read all paragraphs, tables, and embedded text\\n   \u2022\\\n            \\ Image: OCR all visible text\\n   \u2022 DOCX/DOC: read paragraphs and tables\\n\\\n            \\   \u2022 XLSX/XLS: read sheet data, headers, rows\\n   \u2022 CSV: parse all rows\\\n            \\ and columns\\n   \u2022 TXT: read plain text, identify fields\\n\\n   Japanese\\\n            \\ support:\\n   \u2022 Extract kanji/hiragana/katakana accurately\\n   \u2022 Translate\\\n            \\ field labels to English; keep Japanese names in parentheses\\n   \u2022 Handle\\\n            \\ \u00a5 currency, YYYY\u5e74MM\u6708DD\u65e5 dates, \u500b/\u679a/\u7bb1 units\\n   \u2022 Add: '\\U0001F4DD Japanese\\\n            \\ document detected / \u65e5\u672c\u8a9e\u306e\u6587\u66f8\u3092\u691c\u51fa\u3057\u307e\u3057\u305f'\\n\\n3. IF the file is empty, unreadable,\\\n            \\ or has no procurement data:\\n   State clearly what is wrong, e.g.:\\n\\\n            \\   '\u26a0\ufe0f This file appears to be empty \u2014 no content was found.'\\n   '\u26a0\ufe0f\\\n            \\ \u3053\u306e\u30d5\u30a1\u30a4\u30eb\u306f\u7a7a\u306e\u3088\u3046\u3067\u3059\u3002\u5185\u5bb9\u304c\u898b\u3064\u304b\u308a\u307e\u305b\u3093\u3067\u3057\u305f\u3002'\\n   Then say: 'Please upload a valid procurement\\\n            \\ document, or type your purchase description below. / \u6b63\u3057\u3044\u8cfc\u8cb7\u6587\u66f8\u3092\u30a2\u30c3\u30d7\u30ed\u30fc\u30c9\u3059\u308b\u304b\u3001\u8cfc\u5165\u5185\u5bb9\u3092\u76f4\u63a5\u5165\u529b\u3057\u3066\u304f\u3060\u3055\u3044\u3002'\\n\\\n            \\n4. IF extraction succeeded, format EXACTLY:\\n\\n\\U0001F4C4 **Extracted\\\n            \\ Purchase Details / \u62bd\u51fa\u3055\u308c\u305f\u8cfc\u8cb7\u60c5\u5831:**\\n- **Items / \u54c1\u76ee:** [list]\\n- **Vendor\\\n            \\ / \u4ed5\u5165\u5148:** [value or N/A]\\n- **Invoice No / \u8acb\u6c42\u66f8\u756a\u53f7:** [value or N/A]\\n\\\n            - **Date / \u65e5\u4ed8:** [value or N/A]\\n- **Total Amount / \u5408\u8a08:** [value or N/A]\\n\\\n            - **PO Number / \u767a\u6ce8\u756a\u53f7:** [value or N/A]\\n- **Delivery Date / \u7d0d\u671f:** [value\\\n            \\ or N/A]\\n- **Purchase Summary / \u8cfc\u8cb7\u8aac\u660e:** [1-2 sentence routing summary]\\n\\\n            \\nThen ask: '\u2705 Does this look correct? Reply **Yes** to proceed, or describe\\\n            \\ any corrections.\\n\u2705 \u5185\u5bb9\u306f\u6b63\u3057\u3044\u3067\u3059\u304b\uff1f**\u306f\u3044**\u3068\u8fd4\u4fe1\u3057\u3066\u9032\u3080\u304b\u3001\u4fee\u6b63\u5185\u5bb9\u3092\u304a\u77e5\u3089\u305b\u304f\u3060\u3055\u3044\u3002'\"\n        - id: d2e8ce0c-1da2-4e2e-a50e-d609ee83fbbe\n          role: user\n          text: Extract all procurement details from this uploaded file.\n        selected: false\n        title: Extract File Content\n        type: llm\n        variables:\n        - value_selector:\n          - sys\n          - files\n          variable: sys_files\n        vision:\n          configs:\n            detail: high\n            variable_selector:\n            - sys\n            - files\n          enabled: true\n      height: 125\n      id: node_file_extract_llm\n      position:\n        x: 1841.787359281222\n        y: -132.67592115803075\n      positionAbsolute:\n        x: 1841.787359281222\n        y: -132.67592115803075\n      selected: false\n      type: custom\n      width: 244\n    - data:\n        items:\n        - input_type: constant\n          operation: over-write\n          value: awaiting_validation\n          variable_selector:\n          - conversation\n          - file_upload_state\n          write_mode: over-write\n        selected: false\n        title: 'Set State: Awaiting Validation'\n        type: assigner\n        version: '2'\n      height: 85\n      id: node_set_state_awaiting_validation\n      position:\n        x: 1500\n        y: -280\n      positionAbsolute:\n        x: 1500\n        y: -280\n      selected: false\n      type: custom\n      width: 244\n    - data:\n        answer: '{{#node_file_extract_llm.text#}}'\n        selected: false\n        title: 'Answer: File Extracted'\n        type: answer\n        variables: []\n      height: 103\n      id: node_answer_file_extracted\n      position:\n        x: 1858.0379990016977\n        y: -403.0405578835989\n      positionAbsolute:\n        x: 1858.0379990016977\n        y: -403.0405578835989\n      selected: false\n      type: custom\n      width: 244\n    - data:\n        context:\n          enabled: false\n          variable_selector: []\n        memory:\n          role_prefix:\n            assistant: ''\n            user: ''\n          window:\n            enabled: true\n            size: 3\n        model:\n          completion_params:\n            max_tokens: 600\n            temperature: 0.2\n          mode: chat\n          name: gemini-3-pro-preview\n          provider: langgenius/gemini/google\n        prompt_template:\n        - id: 3fb0bfcc-573b-4e4c-9b21-5896bd664a1d\n          role: system\n          text: \"Language: {{#conversation.user_language#}}\\n\\nThe user reviewed extracted\\\n            \\ procurement details and responded: \\\"{{#sys.query#}}\\\"\\n\\nDetermine\\\n            \\ intent:\\nA) If the user CONFIRMS (says 'Yes', 'Correct', 'OK', 'looks\\\n            \\ good', 'proceed', '\u306f\u3044', '\u6b63\u3057\u3044', '\u78ba\u8a8d', '\u554f\u984c\u306a\u3044', or equivalent affirmation\\\n            \\ in any language):\\n   \u2192 Reply ONLY with this JSON on a single line (no\\\n            \\ extra text):\\n   {\\\"action\\\":\\\"confirmed\\\",\\\"description\\\":\\\"<the Purchase\\\n            \\ Summary line from the extraction>\\\"}\\n\\nB) If the user provides CORRECTIONS\\\n            \\ (any edits, in any language):\\n   \u2192 Incorporate corrections, show the\\\n            \\ FULL updated \\U0001F4C4 block, ask to confirm again.\\n\\nC) If UNCLEAR:\\n\\\n            \\   \u2192 Ask politely to confirm ('Yes / \u306f\u3044') or describe what to change.\\n\\\n            \\nRespond in the user's language.\"\n        - id: 636ef795-1c45-461c-83e3-5d5d8be050a0\n          role: user\n          text: '{{#sys.query#}}'\n        selected: false\n        title: File Validation Handler\n        type: llm\n        variables: []\n        vision:\n          enabled: false\n      height: 89\n      id: node_file_validation_handler\n      position:\n        x: 920\n        y: -50\n      positionAbsolute:\n        x: 920\n        y: -50\n      selected: false\n      type: custom\n      width: 244\n    - data:\n        cases:\n        - case_id: case_confirmed\n          conditions:\n          - comparison_operator: contains\n            id: cond_confirmed\n            value: '\"action\":\"confirmed\"'\n            varType: string\n            variable_selector:\n            - node_file_validation_handler\n            - text\n          id: case_confirmed\n          logical_operator: and\n        selected: false\n        title: Validation Confirmed?\n        type: if-else\n      height: 125\n      id: node_check_validation_confirmed\n      position:\n        x: 1200\n        y: -50\n      positionAbsolute:\n        x: 1200\n        y: -50\n      selected: false\n      type: custom\n      width: 244\n    - data:\n        items:\n        - input_type: variable\n          operation: over-write\n          value:\n          - node_file_validation_handler\n          - text\n          variable_selector:\n          - conversation\n          - file_extracted_text\n          write_mode: over-write\n        - input_type: variable\n          operation: over-write\n          value:\n          - node_file_validation_handler\n          - text\n          variable_selector:\n          - conversation\n          - user_purchase_description\n          write_mode: over-write\n        - input_type: constant\n          operation: over-write\n          value: ''\n          variable_selector:\n          - conversation\n          - file_upload_state\n          write_mode: over-write\n        selected: false\n        title: Save Confirmed Description\n        type: assigner\n        version: '2'\n      height: 137\n      id: node_save_confirmed_desc\n      position:\n        x: 1511.5449776211592\n        y: -103.87656223207611\n      positionAbsolute:\n        x: 1511.5449776211592\n        y: -103.87656223207611\n      selected: false\n      type: custom\n      width: 244\n    - data:\n        answer: '{{#node_file_validation_handler.text#}}'\n        selected: false\n        title: 'Answer: Validation / Correction'\n        type: answer\n        variables: []\n      height: 103\n      id: node_answer_validation_loop\n      position:\n        x: 1511.5449776211592\n        y: 133.8765622320761\n      positionAbsolute:\n        x: 1511.5449776211592\n        y: 133.8765622320761\n      selected: false\n      type: custom\n      width: 244\n    - data:\n        items:\n        - input_type: constant\n          operation: over-write\n          value: ''\n          variable_selector:\n          - conversation\n          - file_upload_state\n          write_mode: over-write\n        selected: false\n        title: Clear Error State\n        type: assigner\n        version: '2'\n      height: 85\n      id: node_clear_error_state\n      position:\n        x: 920\n        y: 100\n      positionAbsolute:\n        x: 920\n        y: 100\n      selected: false\n      type: custom\n      width: 244\n    - data:\n        cases:\n        - case_id: case_is_docx\n          conditions:\n          - comparison_operator: contains\n            id: cond_docx_ext\n            sub_variable_condition:\n              case_id: a541c13d-5287-4da4-ab37-8fe64abc90cd\n              conditions:\n              - comparison_operator: is\n                id: 9d46d216-1036-41fd-9336-c4a0f86b3861\n                key: extension\n                value: .docx\n                varType: string\n              logical_operator: or\n            sub_variable_selector: extension\n            value: .docx\n            varType: array[file]\n            variable_selector:\n            - sys\n            - files\n          id: case_is_docx\n          logical_operator: and\n        desc: ''\n        selected: false\n        title: Is DOCX?\n        type: if-else\n      height: 149\n      id: node_docx_check\n      position:\n        x: 620\n        y: -200\n      positionAbsolute:\n        x: 620\n        y: -200\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        desc: ''\n        is_array_file: true\n        selected: true\n        title: DOCX Extractor\n        type: document-extractor\n        variable_selector:\n        - sys\n        - files\n      height: 94\n      id: node_docx_extractor\n      position:\n        x: 925.1311011649595\n        y: -519.2911976040743\n      positionAbsolute:\n        x: 925.1311011649595\n        y: -519.2911976040743\n      selected: true\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        desc: ''\n        items:\n        - input_type: variable\n          operation: over-write\n          value:\n          - node_join_docx\n          - result\n          variable_selector:\n          - conversation\n          - file_extracted_text\n          write_mode: over-write\n        selected: false\n        title: Save DOCX Text\n        type: assigner\n        version: '2'\n      height: 85\n      id: node_assign_docx_text\n      position:\n        x: 1500\n        y: -380\n      positionAbsolute:\n        x: 1500\n        y: -380\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        desc: ''\n        items:\n        - input_type: constant\n          operation: over-write\n          value: ''\n          variable_selector:\n          - conversation\n          - file_extracted_text\n          write_mode: over-write\n        selected: false\n        title: Clear File Text (non-DOCX)\n        type: assigner\n        version: '2'\n      height: 85\n      id: node_assign_empty_text\n      position:\n        x: 920\n        y: -380\n      positionAbsolute:\n        x: 920\n        y: -380\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        code: \"def main(texts: list) -> dict:\\n    if not texts:\\n        return {\\\"\\\n          result\\\": \\\"\\\"}\\n    return {\\\"result\\\": \\\"\\\\n\\\\n\\\".join(str(t) for t in\\\n          \\ texts if t)}\\n\"\n        code_language: python3\n        desc: ''\n        outputs:\n          result:\n            children: null\n            type: string\n        selected: false\n        title: Join DOCX Text\n        type: code\n        variables:\n        - value_selector:\n          - node_docx_extractor\n          - text\n          variable: texts\n      height: 53\n      id: node_join_docx\n      position:\n        x: 1200\n        y: -380\n      positionAbsolute:\n        x: 1200\n        y: -380\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        answer: '\u26a0\ufe0f **This file could not be processed.**\n\n\n          This is likely because the PDF is **password-protected** or the file is\n          corrupted / has no readable content.\n\n\n          Please try one of the following:\n\n          - Upload an **unlocked** version of the PDF\n\n          - Convert and upload as **DOCX, XLSX, CSV, or TXT**\n\n          - Or simply **type your purchase details** below\n\n\n          ---\n\n\n          \u26a0\ufe0f **\u3053\u306e\u30d5\u30a1\u30a4\u30eb\u306f\u51e6\u7406\u3067\u304d\u307e\u305b\u3093\u3067\u3057\u305f\u3002**\n\n\n          PDF\u304c\u30d1\u30b9\u30ef\u30fc\u30c9\u3067\u4fdd\u8b77\u3055\u308c\u3066\u3044\u308b\u304b\u3001\u8aad\u307f\u53d6\u308c\u306a\u3044\u53ef\u80fd\u6027\u304c\u3042\u308a\u307e\u3059\u3002\n\n\n          \u4ee5\u4e0b\u3092\u304a\u8a66\u3057\u304f\u3060\u3055\u3044\uff1a\n\n          - **\u30ed\u30c3\u30af\u3092\u89e3\u9664\u3057\u305f**PDF\u3092\u30a2\u30c3\u30d7\u30ed\u30fc\u30c9\u3059\u308b\n\n          - **DOCX\u30fbXLSX\u30fbCSV\u30fbTXT**\u5f62\u5f0f\u306b\u5909\u63db\u3057\u3066\u30a2\u30c3\u30d7\u30ed\u30fc\u30c9\u3059\u308b\n\n          - \u307e\u305f\u306f\u8cfc\u5165\u5185\u5bb9\u3092\u76f4\u63a5**\u5165\u529b**\u3057\u3066\u304f\u3060\u3055\u3044'\n        selected: false\n        title: 'Answer: File Processing Error'\n        type: answer\n        variables: []\n      height: 357\n      id: node_answer_llm_file_error\n      position:\n        x: 2150\n        y: -280\n      positionAbsolute:\n        x: 2150\n        y: -280\n      selected: false\n      type: custom\n      width: 244\n    viewport:\n      x: 5.141283322910681\n      y: 110.86263020343381\n      zoom: 0.6131294674095175\n"}
