dsl/Test.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: advanced-chat
  name: Test
  use_icon_as_answer_icon: false
dependencies: []
kind: app
version: 0.3.1
workflow:
  conversation_variables:
  - description: this variable stores all type of file extensions are required for
      this chatflow in comma separated manner.
    id: 28a15723-a8c1-4f0c-9422-45c4baca2621
    name: file_extension
    selector:
    - conversation
    - file_extension
    value: xlsx
    value_type: string
  - description: ''
    id: 851397a6-d70a-4d43-b3c5-e37c451f5c9b
    name: progress_management_sheet
    selector:
    - conversation
    - progress_management_sheet
    value: 0
    value_type: integer
  - description: this variable stores all static data in both language English and
      Japanese
    id: bd9e5317-80d2-40b1-b034-1fb17ccd21ea
    name: static_data
    selector:
    - conversation
    - static_data
    value:
      button_template: '{index}. <button type="button" data-message="{id}">{label}</button>'
      document_received_msg:
        en: Document received. Processing records...Please wait while we retrieve
          the client list for your selection.
        jp: 書類を受領しました。記録を処理中です。お客様が選択されたクライアントリストを取得するまでしばらくお待ちください。
      error_message_document_received:
        en: Something went wrong. Could you please upload the document again?
        jp: 何らかの問題が発生しました。もう一度ドキュメントをアップロードしていただけますか？
      error_message_file_missing:
        en: A file is required for this process. Please upload it.
        jp: この処理にはファイルが必要です。アップロードしてください。
      error_message_language:
        buttons:
        - id: English
          label: English
        - id: 日本語
          label: 日本語
        en_jp: "Sorry, we could not update your preference, could you re-select your\
          \ preferred langauge.\n\n 申し訳ありませんが、お客様の設定を更新できませんでした。もう一度ご希望の言語を選択してください。"
      request_file_msg:
        en: A file is required for this process. Please upload it.
        jp: この処理にはファイルが必要です。アップロードしてください。
      select_lang_first_msg:
        buttons:
        - id: English
          label: English
        - id: 日本語
          label: 日本語
        en_jp: "To get started, please choose your preferred language either English\
          \ of Japanese.\n\n まず、英語または日本語のいずれか、ご希望の言語を選択してください。"
      user_guide:
        en: "Your preferred language is now English. \n\n **Operating Procedure**:\n\
          \n  **Interface Configuration:** Select your preferred language (Japanese\
          \ or English) to initialize the localized interface.\n**Requisition Input:**\
          \ Submit your requirements by describing them in the natural language chat\
          \ and by uploading supporting documentation  (Excel Format). \n**Client\
          \ Selection:** Please select one client from the list.  \n**Recommendation:**\
          \ Recommends how to correct errors, address omissions, and fix other deficiencies.\
          \  \n**Review and Confirm:** BPO Staff/Person in charge can review and confirm\
          \ whether he wants to rectify the data or send a notification(email) to\
          \ the Business User/Vendor.  \n**Email Draft:** Generates a professional\
          \ notification email based on the findings.  \n\nPlease upload the document\
          \ - Progress Management Sheet"
        jp: "ご希望の言語は日本語です。  \n\n**操作手順**: \n\n**インターフェース設定:** ご希望の言語（日本語または英語）を選択して、ローカライズされたインターフェースを初期化してください。\
          \ \n**依頼内容の入力:** 自然言語チャットで要件を説明し、関連資料（Excel形式）をアップロードして送信してください。 \n**クライアントの選択:**\
          \ リストからクライアントを1社選択してください。 \n**推奨事項:** エラーの修正方法、漏れへの対応、その他の不備の修正方法を提案します。\
          \ \n**確認と承認:** BPO担当者/担当者は、データ修正を行うか、ビジネスユーザー/ベンダーに通知（メール）を送信するかを確認できます。\
          \ \n**メール下書き:** 結果に基づいて、プロフェッショナルな通知メールを作成します。  \n\n進捗管理シートをアップロードしてください"
    value_type: object
  - description: This variable stores user's preferred language, the default one is
      None
    id: 1527706c-6116-450d-a31b-12822812709f
    name: preferred_lang
    selector:
    - conversation
    - preferred_lang
    value: ''
    value_type: string
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - document
      allowed_file_upload_methods:
      - local_file
      enabled: true
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 50
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 1
    opening_statement: 'Hi there, welcome to Annual PC inspection data evaluation.


      Please select your Preferred language.


      ***

      こんにちは。年間PC点検データの評価へようこそ。


      ご希望の言語を選択してください。

      ***'
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions:
    - English
    - 日本語
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: answer
      id: 1776057413585-source-1776057896250-target
      source: '1776057413585'
      sourceHandle: source
      target: '1776057896250'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: start
        targetType: if-else
      id: 1775796563709-source-1775804011997-target
      source: '1775796563709'
      sourceHandle: source
      target: '1775804011997'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: code
      id: 1775804011997-2ebab099-635c-4eae-ad45-2be7a7d26078-1776188847640-target
      source: '1775804011997'
      sourceHandle: 2ebab099-635c-4eae-ad45-2be7a7d26078
      target: '1776188847640'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: answer
      id: 1776188847640-source-1776189352854-target
      source: '1776188847640'
      sourceHandle: source
      target: '1776189352854'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: code
      id: 1776188847640-fail-branch-1776326940664-target
      source: '1776188847640'
      sourceHandle: fail-branch
      target: '1776326940664'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: code
      id: 1776057413585-fail-branch-1776326940664-target
      source: '1776057413585'
      sourceHandle: fail-branch
      target: '1776326940664'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: answer
      id: 1776326940664-source-1776331413831-target
      source: '1776326940664'
      sourceHandle: source
      target: '1776331413831'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: 1775804011997-false-1776335836167-target
      source: '1775804011997'
      sourceHandle: 'false'
      target: '1776335836167'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: answer
        targetType: code
      id: 1776057896250-source-1776335909058-target
      source: '1776057896250'
      sourceHandle: source
      target: '1776335909058'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: assigner
      id: 1776335909058-source-1776335961015-target
      source: '1776335909058'
      sourceHandle: source
      target: '1776335961015'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: if-else
      id: 1776940676228-source-1776942451624-target
      source: '1776940676228'
      sourceHandle: source
      target: '1776942451624'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: assigner
      id: 1776942451624-true-1776153517859-target
      source: '1776942451624'
      sourceHandle: 'true'
      target: '1776153517859'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: 1776942451624-false-1776942497647-target
      source: '1776942451624'
      sourceHandle: 'false'
      target: '1776942497647'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: tool
      id: 1775804011997-628168fc-d129-4914-9c82-5f9b5f4b8c2b-1776947094887-target
      source: '1775804011997'
      sourceHandle: 628168fc-d129-4914-9c82-5f9b5f4b8c2b
      target: '1776947094887'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: tool
        targetType: code
      id: 1776947094887-source-1776947739078-target
      source: '1776947094887'
      sourceHandle: source
      target: '1776947739078'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: tool
      id: 1775804011997-true-1776947959501-target
      source: '1775804011997'
      sourceHandle: 'true'
      target: '1776947959501'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: tool
        targetType: code
      id: 1776947959501-source-1776940676228-target
      source: '1776947959501'
      sourceHandle: source
      target: '1776940676228'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: tool
        targetType: code
      id: 1776947959501-fail-branch-1776326940664-target
      source: '1776947959501'
      sourceHandle: fail-branch
      target: '1776326940664'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: if-else
      id: 1776947739078-source-1776948820677-target
      source: '1776947739078'
      sourceHandle: source
      target: '1776948820677'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: code
      id: 1776948820677-true-1776057413585-target
      source: '1776948820677'
      sourceHandle: 'true'
      target: '1776057413585'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: 1776948820677-false-1776948841588-target
      source: '1776948820677'
      sourceHandle: 'false'
      target: '1776948841588'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: tool
        targetType: code
      id: 1776947094887-fail-branch-1776326940664-target
      source: '1776947094887'
      sourceHandle: fail-branch
      target: '1776326940664'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: assigner
        targetType: answer
      id: 1776153517859-source-1775811952263-target
      source: '1776153517859'
      sourceHandle: source
      target: '1775811952263'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: User Input
        type: start
        variables: []
      height: 53
      id: '1775796563709'
      position:
        x: 67.27980756230033
        y: 139.01613465764967
      positionAbsolute:
        x: 67.27980756230033
        y: 139.01613465764967
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: not empty
            id: f36afb4e-ce99-451a-9d95-3b8349d428f8
            value: ''
            varType: string
            variable_selector:
            - sys
            - query
          - comparison_operator: empty
            id: a7ecdd21-ff37-41a6-acc3-a9b4824331fc
            value: None
            varType: string
            variable_selector:
            - conversation
            - preferred_lang
          id: 'true'
          logical_operator: and
        - case_id: 2ebab099-635c-4eae-ad45-2be7a7d26078
          conditions:
          - comparison_operator: not empty
            id: d23faeb0-3329-4254-84de-8cdae048b6b5
            value: ''
            varType: string
            variable_selector:
            - sys
            - query
          - comparison_operator: empty
            id: 39c870d2-4b02-45e8-9024-712f0a0d7b52
            value: ''
            varType: array[file]
            variable_selector:
            - sys
            - files
          - comparison_operator: not empty
            id: 07c71801-74b7-4323-bd87-50e122ceab88
            value: ''
            varType: string
            variable_selector:
            - conversation
            - preferred_lang
          id: 2ebab099-635c-4eae-ad45-2be7a7d26078
          logical_operator: and
        - case_id: 628168fc-d129-4914-9c82-5f9b5f4b8c2b
          conditions:
          - comparison_operator: not empty
            id: 431110da-0e65-4b3d-8ec3-d95a588a35de
            value: ''
            varType: string
            variable_selector:
            - sys
            - query
          - comparison_operator: not empty
            id: 2e8e17db-70e4-4da7-9da7-4744c96d35cb
            value: ''
            varType: array[file]
            variable_selector:
            - sys
            - files
          - comparison_operator: not empty
            id: 27a9ccb3-e833-4f0f-9307-73006ff32bd7
            value: ''
            varType: string
            variable_selector:
            - conversation
            - preferred_lang
          id: 628168fc-d129-4914-9c82-5f9b5f4b8c2b
          logical_operator: and
        - case_id: 0e4390ee-b075-4261-9012-4c44af56cac5
          conditions:
          - comparison_operator: not empty
            id: 1a532462-ac83-49ee-8cdb-11d2de5bdc41
            value: ''
            varType: string
            variable_selector:
            - sys
            - query
          - comparison_operator: ≠
            id: 9fba8580-5a84-4763-b366-4e55fc8e7bcb
            value: '0'
            varType: number
            variable_selector:
            - conversation
            - progress_management_sheet
          id: 0e4390ee-b075-4261-9012-4c44af56cac5
          logical_operator: and
        desc: This node handle input traffics coming from user across downstream node.
        selected: false
        title: Orchestrator
        type: if-else
      height: 469
      id: '1775804011997'
      position:
        x: 371.1369229199727
        y: 139.01613465764967
      positionAbsolute:
        x: 371.1369229199727
        y: 139.01613465764967
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '{{#1776942555536.result#}}'
        desc: This node display the user guide based on preferred language
        selected: false
        title: User guide output
        type: answer
        variables: []
      height: 148
      id: '1775811952263'
      position:
        x: 1976.459772191868
        y: -79.38499338148733
      positionAbsolute:
        x: 1976.459772191868
        y: -79.38499338148733
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "def main(static_data: dict, preferred_lang: str):\n    \n    # get\
          \ the message from the nested doc_rcv object\n    msg = static_data.get(\"\
          document_received_msg\", {}).get(preferred_lang)\n\n    return {\n     \
          \   \"result\": msg\n    }"
        code_language: python3
        desc: This node returns document received message based on user language preference.
        error_strategy: fail-branch
        outputs:
          result:
            children: null
            type: string
        selected: false
        title: Code_document_received
        type: code
        variables:
        - value_selector:
          - conversation
          - static_data
          value_type: object
          variable: static_data
        - value_selector:
          - conversation
          - preferred_lang
          value_type: string
          variable: preferred_lang
      height: 149
      id: '1776057413585'
      position:
        x: 1597.2770959574473
        y: 426.6021641873534
      positionAbsolute:
        x: 1597.2770959574473
        y: 426.6021641873534
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '{{#1776057413585.result#}}'
        desc: This node displays document received message the user based on language
          preference.
        selected: false
        title: Doc received output
        type: answer
        variables: []
      height: 163
      id: '1776057896250'
      position:
        x: 1985.502758533631
        y: 460.2631630460429
      positionAbsolute:
        x: 1985.502758533631
        y: 460.2631630460429
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: This node updates user preferred language to the variable preferred_lang
          as en or jp
        items:
        - input_type: variable
          operation: over-write
          value:
          - '1776940676228'
          - result
          variable_selector:
          - conversation
          - preferred_lang
          write_mode: over-write
        selected: false
        title: Update preferred language
        type: assigner
        version: '2'
      height: 145
      id: '1776153517859'
      position:
        x: 1648.787932500904
        y: 51.851920906672234
      positionAbsolute:
        x: 1648.787932500904
        y: 51.851920906672234
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "def main(static_data: dict, preferred_lang: str):\n    \n    # Access\
          \ the nested object using the new structure\n    msg = static_data.get(\"\
          request_file_msg\", {}).get(preferred_lang)\n\n    return {\n        \"\
          result\": msg\n    }"
        code_language: python3
        desc: This node handles missing input file from the user and request them
          to upload to get started.
        error_strategy: fail-branch
        outputs:
          result:
            children: null
            type: string
        selected: false
        title: Code_request_file
        type: code
        variables:
        - value_selector:
          - conversation
          - static_data
          value_type: object
          variable: static_data
        - value_selector:
          - conversation
          - preferred_lang
          value_type: string
          variable: preferred_lang
      height: 149
      id: '1776188847640'
      position:
        x: 702.5668090277
        y: 250.71931523142655
      positionAbsolute:
        x: 702.5668090277
        y: 250.71931523142655
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '{{#1776188847640.result#}}'
        desc: Thid node display file missing output to request the user to upload
          the same
        selected: false
        title: file missing output
        type: answer
        variables: []
      height: 147
      id: '1776189352854'
      position:
        x: 1049.2751220444813
        y: 230.58613304898637
      positionAbsolute:
        x: 1049.2751220444813
        y: 230.58613304898637
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "\ndef main(preferred_lang_error: str, missing_file_error: str,document_rcv_error:str,\
          \ preferred_lang:str,static_data:dict):\n\n    # execute if handling preferred\
          \ language code node failed.\n    if preferred_lang_error:\n        button_template\
          \ = static_data.get(\"button_template\", \"\")\n        lang_msg_data =\
          \ static_data.get(\"error_message_language\", {})\n        message = lang_msg_data.get(\"\
          en_jp\", \"\")\n        buttons_list = lang_msg_data.get(\"buttons\", [])\n\
          \n        formatted_buttons = []\n        for idx, btn in enumerate(buttons_list,\
          \ start=1):\n            btn_html = button_template.format(\n          \
          \      index=idx,\n                id=btn[\"id\"],\n                label=btn[\"\
          label\"]\n            )\n            formatted_buttons.append(btn_html)\n\
          \n        final_output = f\"{message}\\n\\n\" + \"\\n\".join(formatted_buttons)\n\
          \n        return{\n            \"result\": final_output\n        }\n\n \
          \   elif missing_file_error:\n        msg = static_data.get(\"error_message_file_missing\"\
          ,{}).get(preferred_lang)\n        return{\n            \"result\": msg\n\
          \        }\n    elif document_rcv_error:\n        msg = static_data.get(\"\
          error_message_document_received\",{}).get(preferred_lang)\n        return{\n\
          \            \"result\": msg\n        }\n    else:\n        return{\n  \
          \          \"result\": \"All code node is working fine.\"\n        }"
        code_language: python3
        desc: This node handle errors in case of failure of connected code node and
          return the respective message based on fail branch.
        outputs:
          result:
            children: null
            type: string
        selected: false
        title: Code_Global_Error_handler
        type: code
        variables:
        - value_selector:
          - '1776947959501'
          - error_message
          value_type: string
          variable: preferred_lang_error
        - value_selector:
          - '1776188847640'
          - error_message
          value_type: string
          variable: missing_file_error
        - value_selector:
          - '1776947094887'
          - error_message
          value_type: string
          variable: document_rcv_error
        - value_selector:
          - conversation
          - static_data
          value_type: object
          variable: static_data
        - value_selector:
          - conversation
          - preferred_lang
          value_type: string
          variable: preferred_lang
      height: 129
      id: '1776326940664'
      position:
        x: 2318.9006456774514
        y: -311.063654461592
      positionAbsolute:
        x: 2318.9006456774514
        y: -311.063654461592
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '{{#1776326940664.result#}}'
        desc: This node display message based on failed branch
        selected: false
        title: Message for different fail branch
        type: answer
        variables: []
      height: 147
      id: '1776331413831'
      position:
        x: 2604.884422549984
        y: -311.063654461592
      positionAbsolute:
        x: 2604.884422549984
        y: -311.063654461592
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        author: kumar_vi@itg.hitachi.co.jp
        desc: ''
        height: 88
        selected: false
        showAuthor: true
        text: '{"root":{"children":[{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"This
          code node captures global errors in case of failure of any connect node
          with it and return the message associated with it.","type":"text","version":1}],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0,"textStyle":""}],"direction":null,"format":"","indent":0,"type":"root","version":1}}'
        theme: blue
        title: ''
        type: ''
        width: 469
      height: 88
      id: '1776334653462'
      position:
        x: 2318.9006456774514
        y: -481.68927111103727
      positionAbsolute:
        x: 2318.9006456774514
        y: -481.68927111103727
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom-note
      width: 469
    - data:
        answer: Thank you, we received your query
        desc: This is placeholder for input coming from user post file upload
        selected: false
        title: Post_file_uploade_msg
        type: answer
        variables: []
      height: 145
      id: '1776335836167'
      position:
        x: 702.5668090277
        y: 588.9922238276621
      positionAbsolute:
        x: 702.5668090277
        y: 588.9922238276621
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "\ndef main():\n    return {\n        \"result\": 1,\n    }\n"
        code_language: python3
        desc: This node return 1 to update the global variable "progress_management_sheet"
        outputs:
          result:
            children: null
            type: number
        selected: false
        title: code_return 1
        type: code
        variables: []
      height: 97
      id: '1776335909058'
      position:
        x: 2286.502758533631
        y: 460.2631630460429
      positionAbsolute:
        x: 2286.502758533631
        y: 460.2631630460429
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: This node assign 1 to file_uploaded variable to maintain global records
          that file has been successfully received.
        items:
        - input_type: variable
          operation: over-write
          value:
          - '1776335909058'
          - result
          variable_selector:
          - conversation
          - progress_management_sheet
          write_mode: over-write
        selected: false
        title: Assign 1 to file_uploaded
        type: assigner
        version: '2'
      height: 145
      id: '1776335961015'
      position:
        x: 2587.502758533631
        y: 460.2631630460429
      positionAbsolute:
        x: 2587.502758533631
        y: 460.2631630460429
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "\ndef main(lang_result:list):\n    lang_obj = lang_result[0]\n    return\
          \ {\n        \"result\": lang_obj.get(\"result\", \"\")\n    }\n"
        code_language: python3
        desc: This code node format response received from bilingual workflow so that
          downstream node can use it to display respective message related to language
          preference.
        outputs:
          result:
            children: null
            type: string
        selected: false
        title: code_format_response
        type: code
        variables:
        - value_selector:
          - '1776947959501'
          - json
          value_type: array[object]
          variable: lang_result
      height: 145
      id: '1776940676228'
      position:
        x: 977.717107108858
        y: -143.4005223921245
      positionAbsolute:
        x: 977.717107108858
        y: -143.4005223921245
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: 4cdb2d7a-ce84-410c-8b86-1142c6c12d17
            value: en
            varType: string
            variable_selector:
            - '1776940676228'
            - result
          - comparison_operator: is
            id: ee9c61b5-5091-44e8-849a-52dacfc0e1cf
            value: jp
            varType: string
            variable_selector:
            - '1776940676228'
            - result
          id: 'true'
          logical_operator: or
        desc: This node checks if the user has selected their preferred language if
          yes it will return language code like "en" else prompt the user to select
          language first.
        selected: false
        title: Yes/No
        type: if-else
      height: 227
      id: '1776942451624'
      position:
        x: 1299.2630400788391
        y: 65.76087680353072
      positionAbsolute:
        x: 1299.2630400788391
        y: 65.76087680353072
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '{{#1776940676228.result#}}'
        desc: This node request the user to enter the language if preferred language
          is not selected.
        selected: false
        title: Request Language
        type: answer
        variables: []
      height: 163
      id: '1776942497647'
      position:
        x: 1654.0659641439952
        y: 209.97088362006681
      positionAbsolute:
        x: 1654.0659641439952
        y: 209.97088362006681
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: This workflow validate the file input in terms of file size, extension
          and return response in preferred language.
        error_strategy: fail-branch
        is_team_authorization: true
        output_schema: null
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: ''
            ja_JP: ''
            pt_BR: ''
            zh_Hans: ''
          label:
            en_US: file_input
            ja_JP: file_input
            pt_BR: file_input
            zh_Hans: file_input
          llm_description: ''
          max: null
          min: null
          name: file_input
          options: []
          placeholder:
            en_US: ''
            ja_JP: ''
            pt_BR: ''
            zh_Hans: ''
          precision: null
          required: true
          scope: null
          template: null
          type: files
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: ''
            ja_JP: ''
            pt_BR: ''
            zh_Hans: ''
          label:
            en_US: file extension
            ja_JP: file extension
            pt_BR: file extension
            zh_Hans: file extension
          llm_description: ''
          max: null
          min: null
          name: required_extension
          options: []
          placeholder:
            en_US: ''
            ja_JP: ''
            pt_BR: ''
            zh_Hans: ''
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: ''
            ja_JP: ''
            pt_BR: ''
            zh_Hans: ''
          label:
            en_US: file size
            ja_JP: file size
            pt_BR: file size
            zh_Hans: file size
          llm_description: ''
          max: null
          min: null
          name: max_file_size
          options: []
          placeholder:
            en_US: ''
            ja_JP: ''
            pt_BR: ''
            zh_Hans: ''
          precision: null
          required: true
          scope: null
          template: null
          type: number
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: ''
            ja_JP: ''
            pt_BR: ''
            zh_Hans: ''
          label:
            en_US: preferred_language
            ja_JP: preferred_language
            pt_BR: preferred_language
            zh_Hans: preferred_language
          llm_description: ''
          max: null
          min: null
          name: preferred_language
          options: []
          placeholder:
            en_US: ''
            ja_JP: ''
            pt_BR: ''
            zh_Hans: ''
          precision: null
          required: true
          scope: null
          template: null
          type: string
        params:
          file_input: ''
          max_file_size: ''
          preferred_language: ''
          required_extension: ''
        provider_id: 930076cb-f494-4f78-8d24-87495300afdc
        provider_name: COM_File_Validator
        provider_type: workflow
        selected: false
        title: COM_File_Validator
        tool_configurations: {}
        tool_description: This workflow accepts file (single or multiple), extensions
          (in case of more than one, use comma separated string), preferred language
          and file size. It will validated as per the input parameters and returns
          file metadata.
        tool_label: COM_File_Validator
        tool_name: comFileValidator
        tool_node_version: '2'
        tool_parameters:
          file_input:
            type: variable
            value:
            - sys
            - files
          max_file_size:
            type: constant
            value: 10
          preferred_language:
            type: mixed
            value: '{{#conversation.preferred_lang#}}'
          required_extension:
            type: mixed
            value: '{{#conversation.file_extension#}}'
        type: tool
      height: 149
      id: '1776947094887'
      position:
        x: 702.5668090277
        y: 426.6021641873534
      positionAbsolute:
        x: 702.5668090277
        y: 426.6021641873534
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "def main(file_respnse: dict) -> dict:\n    file_data = file_respnse[0]\n\
          \    if file_data.get(\"is_valid\") == \"true\":\n        msg = \"Pass\"\
          \n    else:\n        msg = file_data.get(\"error\")\n    return {\n    \
          \    \"result\": msg\n    }\n"
        code_language: python3
        desc: this code node takes array of obj as an input from previous workflow
          format the json and run the checks if the file validation has passed or
          not.
        outputs:
          result:
            children: null
            type: string
        selected: false
        title: code_response_format
        type: code
        variables:
        - value_selector:
          - '1776947094887'
          - json
          value_type: array[object]
          variable: file_respnse
      height: 129
      id: '1776947739078'
      position:
        x: 983.2770959574473
        y: 426.6021641873534
      positionAbsolute:
        x: 983.2770959574473
        y: 426.6021641873534
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: This workflow validate the user input if they have selected their preferred
          language or not and return preferred language as key such "en" for English
          and in case no language selected, request the user to choose language first.
        error_strategy: fail-branch
        is_team_authorization: true
        output_schema: null
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: this receives user's query to validate language preference
            ja_JP: this receives user's query to validate language preference
            pt_BR: this receives user's query to validate language preference
            zh_Hans: this receives user's query to validate language preference
          label:
            en_US: User input
            ja_JP: User input
            pt_BR: User input
            zh_Hans: User input
          llm_description: this receives user's query to validate language preference
          max: null
          min: null
          name: user_query
          options: []
          placeholder:
            en_US: ''
            ja_JP: ''
            pt_BR: ''
            zh_Hans: ''
          precision: null
          required: true
          scope: null
          template: null
          type: string
        params:
          user_query: ''
        provider_id: 7fb8ca4f-fc35-415e-94d5-48edc65fcf26
        provider_name: COM_Bilingual_Workflow
        provider_type: workflow
        selected: false
        title: COM_Bilingual_Workflow
        tool_configurations: {}
        tool_description: This workflow automate the language validation as per requirement
          and return user's preferred language. Currently it supports English and
          Japanese.
        tool_label: COM_Bilingual_Workflow
        tool_name: comBilingualWorkflow
        tool_node_version: '2'
        tool_parameters:
          user_query:
            type: mixed
            value: '{{#sys.query#}}'
        type: tool
      height: 213
      id: '1776947959501'
      position:
        x: 693.0274621045346
        y: 25.128020261766466
      positionAbsolute:
        x: 693.0274621045346
        y: 25.128020261766466
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: 52c8f6f6-0176-455b-8df7-4c29f9dc7376
            value: Pass
            varType: string
            variable_selector:
            - '1776947739078'
            - result
          id: 'true'
          logical_operator: and
        desc: this node route the logic to based on pass or fail to the downstream
          node.
        selected: false
        title: Pass vs Fail
        type: if-else
      height: 169
      id: '1776948820677'
      position:
        x: 1263.2770959574475
        y: 426.6021641873534
      positionAbsolute:
        x: 1263.2770959574475
        y: 426.6021641873534
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '{{#1776947739078.result#}}'
        desc: ''
        selected: false
        title: Answer 7
        type: answer
        variables: []
      height: 103
      id: '1776948841588'
      position:
        x: 1619.2770959574473
        y: 614.6021641873534
      positionAbsolute:
        x: 1619.2770959574473
        y: 614.6021641873534
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: -83.97784663029677
      y: 214.74109571426536
      zoom: 0.6185971106499438
