dsl/test.yml
{"data": "app:\n  description: 'A smart chatbot helps the person incharge to resolve pc inspection\n    error.\n\n\n    version 3 added client selection, llm.'\n  icon: \ud83e\udd16\n  icon_background: '#FFEAD5'\n  mode: advanced-chat\n  name: test\n  use_icon_as_answer_icon: false\ndependencies:\n- current_identifier: null\n  type: marketplace\n  value:\n    marketplace_plugin_unique_identifier: langgenius/gemini:0.7.4@5faf411e694e0da130a337347a625a3812b1b7502a0183382d66d92c841bf05a\nkind: app\nversion: 0.3.1\nworkflow:\n  conversation_variables:\n  - description: ''\n    id: 0b655c6f-e87f-4035-a242-d1e7d19ddd77\n    name: sheet_data\n    selector:\n    - conversation\n    - sheet_data\n    value: []\n    value_type: array[object]\n  - description: ''\n    id: 89b4d59f-72c3-4c20-80fc-5e3553c7bd60\n    name: uploaded_file_config\n    selector:\n    - conversation\n    - uploaded_file_config\n    value:\n      list_of_columns: Client Name,  Procurement Department in Charge,  Confirmation\n        Form Submission Date,error\n      number_of_rows: '10'\n      sheet_name: ' FY2025 Confirmation'\n    value_type: object\n  - description: ''\n    id: 851397a6-d70a-4d43-b3c5-e37c451f5c9b\n    name: pms_counter\n    selector:\n    - conversation\n    - pms_counter\n    value: 0\n    value_type: integer\n  - description: this variable stores all static data in both language English and\n      Japanese\n    id: bd9e5317-80d2-40b1-b034-1fb17ccd21ea\n    name: static_data\n    selector:\n    - conversation\n    - static_data\n    value:\n      button_template: '{index}. <button type=\"button\" data-message=\"{id}\">{label}</button>'\n      document_received_msg:\n        en: Document received. Processing records...Please wait while we retrieve\n          the client list for your selection.\n        jp: \u66f8\u985e\u3092\u53d7\u9818\u3057\u307e\u3057\u305f\u3002\u8a18\u9332\u3092\u51e6\u7406\u4e2d\u3067\u3059\u3002\u304a\u5ba2\u69d8\u304c\u9078\u629e\u3055\u308c\u305f\u30af\u30e9\u30a4\u30a2\u30f3\u30c8\u30ea\u30b9\u30c8\u3092\u53d6\u5f97\u3059\u308b\u307e\u3067\u3057\u3070\u3089\u304f\u304a\u5f85\u3061\u304f\u3060\u3055\u3044\u3002\n      error_message_document_received:\n        en: Something went wrong. Could you please upload the document again?\n        jp: \u4f55\u3089\u304b\u306e\u554f\u984c\u304c\u767a\u751f\u3057\u307e\u3057\u305f\u3002\u3082\u3046\u4e00\u5ea6\u30c9\u30ad\u30e5\u30e1\u30f3\u30c8\u3092\u30a2\u30c3\u30d7\u30ed\u30fc\u30c9\u3057\u3066\u3044\u305f\u3060\u3051\u307e\u3059\u304b\uff1f\n      error_message_file_extractor:\n        en: We could not process your file, could you please upload the document again?\n        jp: \u30d5\u30a1\u30a4\u30eb\u3092\u51e6\u7406\u3067\u304d\u307e\u305b\u3093\u3067\u3057\u305f\u3002\u3082\u3046\u4e00\u5ea6\u30d5\u30a1\u30a4\u30eb\u3092\u30a2\u30c3\u30d7\u30ed\u30fc\u30c9\u3057\u3066\u3044\u305f\u3060\u3051\u307e\u3059\u304b\uff1f\n      error_message_file_missing:\n        en: A file is required for this process. Please upload it.\n        jp: \u3053\u306e\u51e6\u7406\u306b\u306f\u30d5\u30a1\u30a4\u30eb\u304c\u5fc5\u8981\u3067\u3059\u3002\u30a2\u30c3\u30d7\u30ed\u30fc\u30c9\u3057\u3066\u304f\u3060\u3055\u3044\u3002\n      error_message_language:\n        buttons:\n        - id: English\n          label: English\n        - id: \u65e5\u672c\u8a9e\n          label: \u65e5\u672c\u8a9e\n        en_jp: \"Sorry, we could not update your preference, could you re-select your\\\n          \\ preferred langauge.\\n\\n \u7533\u3057\u8a33\u3042\u308a\u307e\u305b\u3093\u304c\u3001\u304a\u5ba2\u69d8\u306e\u8a2d\u5b9a\u3092\u66f4\u65b0\u3067\u304d\u307e\u305b\u3093\u3067\u3057\u305f\u3002\u3082\u3046\u4e00\u5ea6\u3054\u5e0c\u671b\u306e\u8a00\u8a9e\u3092\u9078\u629e\u3057\u3066\u304f\u3060\u3055\u3044\u3002\"\n      request_file_msg:\n        en: A file is required for this process. Please upload it.\n        jp: \u3053\u306e\u51e6\u7406\u306b\u306f\u30d5\u30a1\u30a4\u30eb\u304c\u5fc5\u8981\u3067\u3059\u3002\u30a2\u30c3\u30d7\u30ed\u30fc\u30c9\u3057\u3066\u304f\u3060\u3055\u3044\u3002\n      user_guide:\n        en: \"Your preferred language is now English. \\n\\n **Operating Procedure**:\\n\\\n          \\n  **Interface Configuration:** Select your preferred language (Japanese\\\n          \\ or English) to initialize the localized interface.\\n**Requisition Input:**\\\n          \\ Submit your requirements by describing them in the natural language chat\\\n          \\ and by uploading supporting documentation  (Excel Format). \\n**Client\\\n          \\ Selection:** Please select one client from the list.  \\n**Recommendation:**\\\n          \\ Recommends how to correct errors, address omissions, and fix other deficiencies.\\\n          \\  \\n**Review and Confirm:** BPO Staff/Person in charge can review and confirm\\\n          \\ whether he wants to rectify the data or send a notification(email) to\\\n          \\ the Business User/Vendor.  \\n**Email Draft:** Generates a professional\\\n          \\ notification email based on the findings.  \\n\\nPlease upload the document\\\n          \\ - Progress Management Sheet\"\n        jp: \"\u3054\u5e0c\u671b\u306e\u8a00\u8a9e\u306f\u65e5\u672c\u8a9e\u3067\u3059\u3002  \\n\\n**\u64cd\u4f5c\u624b\u9806**: \\n\\n**\u30a4\u30f3\u30bf\u30fc\u30d5\u30a7\u30fc\u30b9\u8a2d\u5b9a:** \u3054\u5e0c\u671b\u306e\u8a00\u8a9e\uff08\u65e5\u672c\u8a9e\u307e\u305f\u306f\u82f1\u8a9e\uff09\u3092\u9078\u629e\u3057\u3066\u3001\u30ed\u30fc\u30ab\u30e9\u30a4\u30ba\u3055\u308c\u305f\u30a4\u30f3\u30bf\u30fc\u30d5\u30a7\u30fc\u30b9\u3092\u521d\u671f\u5316\u3057\u3066\u304f\u3060\u3055\u3044\u3002\\\n          \\ \\n**\u4f9d\u983c\u5185\u5bb9\u306e\u5165\u529b:** \u81ea\u7136\u8a00\u8a9e\u30c1\u30e3\u30c3\u30c8\u3067\u8981\u4ef6\u3092\u8aac\u660e\u3057\u3001\u95a2\u9023\u8cc7\u6599\uff08Excel\u5f62\u5f0f\uff09\u3092\u30a2\u30c3\u30d7\u30ed\u30fc\u30c9\u3057\u3066\u9001\u4fe1\u3057\u3066\u304f\u3060\u3055\u3044\u3002 \\n**\u30af\u30e9\u30a4\u30a2\u30f3\u30c8\u306e\u9078\u629e:**\\\n          \\ \u30ea\u30b9\u30c8\u304b\u3089\u30af\u30e9\u30a4\u30a2\u30f3\u30c8\u30921\u793e\u9078\u629e\u3057\u3066\u304f\u3060\u3055\u3044\u3002 \\n**\u63a8\u5968\u4e8b\u9805:** \u30a8\u30e9\u30fc\u306e\u4fee\u6b63\u65b9\u6cd5\u3001\u6f0f\u308c\u3078\u306e\u5bfe\u5fdc\u3001\u305d\u306e\u4ed6\u306e\u4e0d\u5099\u306e\u4fee\u6b63\u65b9\u6cd5\u3092\u63d0\u6848\u3057\u307e\u3059\u3002\\\n          \\ \\n**\u78ba\u8a8d\u3068\u627f\u8a8d:** BPO\u62c5\u5f53\u8005/\u62c5\u5f53\u8005\u306f\u3001\u30c7\u30fc\u30bf\u4fee\u6b63\u3092\u884c\u3046\u304b\u3001\u30d3\u30b8\u30cd\u30b9\u30e6\u30fc\u30b6\u30fc/\u30d9\u30f3\u30c0\u30fc\u306b\u901a\u77e5\uff08\u30e1\u30fc\u30eb\uff09\u3092\u9001\u4fe1\u3059\u308b\u304b\u3092\u78ba\u8a8d\u3067\u304d\u307e\u3059\u3002\\\n          \\ \\n**\u30e1\u30fc\u30eb\u4e0b\u66f8\u304d:** \u7d50\u679c\u306b\u57fa\u3065\u3044\u3066\u3001\u30d7\u30ed\u30d5\u30a7\u30c3\u30b7\u30e7\u30ca\u30eb\u306a\u901a\u77e5\u30e1\u30fc\u30eb\u3092\u4f5c\u6210\u3057\u307e\u3059\u3002  \\n\\n\u9032\u6357\u7ba1\u7406\u30b7\u30fc\u30c8\u3092\u30a2\u30c3\u30d7\u30ed\u30fc\u30c9\u3057\u3066\u304f\u3060\u3055\u3044\"\n    value_type: object\n  - description: This variable stores user's preferred language, the default one is\n      None\n    id: 1527706c-6116-450d-a31b-12822812709f\n    name: preferred_lang\n    selector:\n    - conversation\n    - preferred_lang\n    value: ''\n    value_type: string\n  environment_variables: []\n  features:\n    file_upload:\n      allowed_file_extensions:\n      - .JPG\n      - .JPEG\n      - .PNG\n      - .GIF\n      - .WEBP\n      - .SVG\n      allowed_file_types:\n      - document\n      allowed_file_upload_methods:\n      - local_file\n      enabled: true\n      fileUploadConfig:\n        audio_file_size_limit: 50\n        batch_count_limit: 5\n        file_size_limit: 50\n        image_file_size_limit: 10\n        video_file_size_limit: 100\n        workflow_file_upload_limit: 10\n      image:\n        enabled: false\n        number_limits: 3\n        transfer_methods:\n        - local_file\n        - remote_url\n      number_limits: 1\n    opening_statement: 'Hi there, welcome to Annual PC inspection data evaluation.\n\n\n      Please select your Preferred language.\n\n\n      ***\n\n      \u3053\u3093\u306b\u3061\u306f\u3002\u5e74\u9593PC\u70b9\u691c\u30c7\u30fc\u30bf\u306e\u8a55\u4fa1\u3078\u3088\u3046\u3053\u305d\u3002\n\n\n      \u3054\u5e0c\u671b\u306e\u8a00\u8a9e\u3092\u9078\u629e\u3057\u3066\u304f\u3060\u3055\u3044\u3002\n\n      ***'\n    retriever_resource:\n      enabled: false\n    sensitive_word_avoidance:\n      enabled: false\n    speech_to_text:\n      enabled: false\n    suggested_questions:\n    - English\n    - \u65e5\u672c\u8a9e\n    suggested_questions_after_answer:\n      enabled: false\n    text_to_speech:\n      enabled: false\n      language: ''\n      voice: ''\n  graph:\n    edges:\n    - data:\n        isInLoop: false\n        sourceType: start\n        targetType: if-else\n      id: 1775796563709-source-1775804011997-target\n      source: '1775796563709'\n      sourceHandle: source\n      target: '1775804011997'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: if-else\n        targetType: code\n      id: 1775804011997-2ebab099-635c-4eae-ad45-2be7a7d26078-1776188847640-target\n      source: '1775804011997'\n      sourceHandle: 2ebab099-635c-4eae-ad45-2be7a7d26078\n      target: '1776188847640'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: code\n        targetType: answer\n      id: 1776188847640-source-1776189352854-target\n      source: '1776188847640'\n      sourceHandle: source\n      target: '1776189352854'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInLoop: false\n        sourceType: code\n        targetType: code\n      id: 1776188847640-fail-branch-1776326940664-target\n      selected: false\n      source: '1776188847640'\n      sourceHandle: fail-branch\n      target: '1776326940664'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: code\n        targetType: answer\n      id: 1776326940664-source-1776331413831-target\n      source: '1776326940664'\n      sourceHandle: source\n      target: '1776331413831'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: code\n        targetType: if-else\n      id: 1776940676228-source-1776942451624-target\n      source: '1776940676228'\n      sourceHandle: source\n      target: '1776942451624'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInLoop: false\n        sourceType: if-else\n        targetType: assigner\n      id: 1776942451624-true-1776153517859-target\n      source: '1776942451624'\n      sourceHandle: 'true'\n      target: '1776153517859'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: if-else\n        targetType: answer\n      id: 1776942451624-false-1776942497647-target\n      source: '1776942451624'\n      sourceHandle: 'false'\n      target: '1776942497647'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: assigner\n        targetType: code\n      id: 1776153517859-source-1776942555536-target\n      source: '1776153517859'\n      sourceHandle: source\n      target: '1776942555536'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInLoop: false\n        sourceType: code\n        targetType: answer\n      id: 1776942555536-source-1775811952263-target\n      source: '1776942555536'\n      sourceHandle: source\n      target: '1775811952263'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInLoop: false\n        sourceType: if-else\n        targetType: tool\n      id: 1775804011997-true-1776947959501-target\n      source: '1775804011997'\n      sourceHandle: 'true'\n      target: '1776947959501'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInLoop: false\n        sourceType: tool\n        targetType: code\n      id: 1776947959501-source-1776940676228-target\n      source: '1776947959501'\n      sourceHandle: source\n      target: '1776940676228'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInLoop: false\n        sourceType: tool\n        targetType: code\n      id: 1776947959501-fail-branch-1776326940664-target\n      source: '1776947959501'\n      sourceHandle: fail-branch\n      target: '1776326940664'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInLoop: false\n        sourceType: code\n        targetType: answer\n      id: 1776947739078-source-1776948841588-target\n      source: '1776947739078'\n      sourceHandle: source\n      target: '1776948841588'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInLoop: false\n        sourceType: if-else\n        targetType: assigner\n      id: 1777363112681-true-1776335961015-target\n      source: '1777363112681'\n      sourceHandle: 'true'\n      target: '1776335961015'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInLoop: false\n        sourceType: assigner\n        targetType: answer\n      id: 1776335961015-source-1777363204052-target\n      source: '1776335961015'\n      sourceHandle: source\n      target: '1777363204052'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInLoop: false\n        sourceType: if-else\n        targetType: code\n      id: 1775804011997-628168fc-d129-4914-9c82-5f9b5f4b8c2b-1776947739078-target\n      source: '1775804011997'\n      sourceHandle: 628168fc-d129-4914-9c82-5f9b5f4b8c2b\n      target: '1776947739078'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInLoop: false\n        sourceType: answer\n        targetType: code\n      id: 1776948841588-source-1777360627990-target\n      source: '1776948841588'\n      sourceHandle: source\n      target: '1777360627990'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInLoop: false\n        sourceType: code\n        targetType: code\n      id: 1776947739078-fail-branch-1776326940664-target\n      source: '1776947739078'\n      sourceHandle: fail-branch\n      target: '1776326940664'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: code\n        targetType: tool\n      id: 1777360627990-source-1777459508996-target\n      source: '1777360627990'\n      sourceHandle: source\n      target: '1777459508996'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInLoop: false\n        sourceType: tool\n        targetType: code\n      id: 1777459508996-fail-branch-1776326940664-target\n      source: '1777459508996'\n      sourceHandle: fail-branch\n      target: '1776326940664'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: tool\n        targetType: code\n      id: 1777459508996-source-1777460030833-target\n      source: '1777459508996'\n      sourceHandle: source\n      target: '1777460030833'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInLoop: false\n        sourceType: code\n        targetType: if-else\n      id: 1777460030833-source-1777363112681-target\n      source: '1777460030833'\n      sourceHandle: source\n      target: '1777363112681'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: if-else\n        targetType: code\n      id: 1775804011997-0e4390ee-b075-4261-9012-4c44af56cac5-1777498691372-target\n      source: '1775804011997'\n      sourceHandle: 0e4390ee-b075-4261-9012-4c44af56cac5\n      target: '1777498691372'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: code\n        targetType: answer\n      id: 1777498691372-source-1777498194542-target\n      source: '1777498691372'\n      sourceHandle: source\n      target: '1777498194542'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: answer\n        targetType: llm\n      id: 1777498194542-source-1777499708949-target\n      source: '1777498194542'\n      sourceHandle: source\n      target: '1777499708949'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: llm\n        targetType: answer\n      id: 1777499708949-source-1777500045243-target\n      source: '1777499708949'\n      sourceHandle: source\n      target: '1777500045243'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: code\n        targetType: answer\n      id: 1777460030833-fail-branch-1777525364604-target\n      source: '1777460030833'\n      sourceHandle: fail-branch\n      target: '1777525364604'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    nodes:\n    - data:\n        selected: false\n        title: User Input\n        type: start\n        variables: []\n      height: 53\n      id: '1775796563709'\n      position:\n        x: 67.27980756230033\n        y: 139.01613465764967\n      positionAbsolute:\n        x: 67.27980756230033\n        y: 139.01613465764967\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        cases:\n        - case_id: 'true'\n          conditions:\n          - comparison_operator: not empty\n            id: f36afb4e-ce99-451a-9d95-3b8349d428f8\n            value: ''\n            varType: string\n            variable_selector:\n            - sys\n            - query\n          - comparison_operator: empty\n            id: a7ecdd21-ff37-41a6-acc3-a9b4824331fc\n            value: None\n            varType: string\n            variable_selector:\n            - conversation\n            - preferred_lang\n          id: 'true'\n          logical_operator: and\n        - case_id: 2ebab099-635c-4eae-ad45-2be7a7d26078\n          conditions:\n          - comparison_operator: not empty\n            id: d23faeb0-3329-4254-84de-8cdae048b6b5\n            value: ''\n            varType: string\n            variable_selector:\n            - sys\n            - query\n          - comparison_operator: empty\n            id: 39c870d2-4b02-45e8-9024-712f0a0d7b52\n            value: ''\n            varType: array[file]\n            variable_selector:\n            - sys\n            - files\n          - comparison_operator: not empty\n            id: 07c71801-74b7-4323-bd87-50e122ceab88\n            value: ''\n            varType: string\n            variable_selector:\n            - conversation\n            - preferred_lang\n          - comparison_operator: '='\n            id: aa903e5b-5fe3-4ba6-a27c-fa4c55ba7ab3\n            value: '0'\n            varType: number\n            variable_selector:\n            - conversation\n            - pms_counter\n          id: 2ebab099-635c-4eae-ad45-2be7a7d26078\n          logical_operator: and\n        - case_id: 628168fc-d129-4914-9c82-5f9b5f4b8c2b\n          conditions:\n          - comparison_operator: not empty\n            id: 431110da-0e65-4b3d-8ec3-d95a588a35de\n            value: ''\n            varType: string\n            variable_selector:\n            - sys\n            - query\n          - comparison_operator: not empty\n            id: 2e8e17db-70e4-4da7-9da7-4744c96d35cb\n            value: ''\n            varType: array[file]\n            variable_selector:\n            - sys\n            - files\n          - comparison_operator: not empty\n            id: 27a9ccb3-e833-4f0f-9307-73006ff32bd7\n            value: ''\n            varType: string\n            variable_selector:\n            - conversation\n            - preferred_lang\n          id: 628168fc-d129-4914-9c82-5f9b5f4b8c2b\n          logical_operator: and\n        - case_id: 0e4390ee-b075-4261-9012-4c44af56cac5\n          conditions:\n          - comparison_operator: start with\n            id: 7af95ee2-7f06-4a3c-a0fc-37a0f80be090\n            value: '0'\n            varType: string\n            variable_selector:\n            - sys\n            - query\n          - comparison_operator: '>'\n            id: 457d31ae-b55d-4e31-a63d-e9d3d0d80976\n            value: '0'\n            varType: number\n            variable_selector:\n            - conversation\n            - pms_counter\n          id: 0e4390ee-b075-4261-9012-4c44af56cac5\n          logical_operator: and\n        desc: This node handle input traffics coming from user across downstream node.\n        selected: false\n        title: Orchestrator\n        type: if-else\n      height: 495\n      id: '1775804011997'\n      position:\n        x: 371.1369229199727\n        y: 139.01613465764967\n      positionAbsolute:\n        x: 371.1369229199727\n        y: 139.01613465764967\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        answer: '{{#1776942555536.result#}}\n\n          '\n        desc: This node display the user guide based on preferred language\n        selected: false\n        title: User guide output\n        type: answer\n        variables: []\n      height: 147\n      id: '1775811952263'\n      position:\n        x: 2268.725588330158\n        y: 51.851920906672234\n      positionAbsolute:\n        x: 2268.725588330158\n        y: 51.851920906672234\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        desc: This node updates user preferred language to the variable preferred_lang\n          as en or jp\n        items:\n        - input_type: variable\n          operation: over-write\n          value:\n          - '1776940676228'\n          - result\n          variable_selector:\n          - conversation\n          - preferred_lang\n          write_mode: over-write\n        selected: false\n        title: Update preferred language\n        type: assigner\n        version: '2'\n      height: 145\n      id: '1776153517859'\n      position:\n        x: 1646.3482442381523\n        y: 51.851920906672234\n      positionAbsolute:\n        x: 1646.3482442381523\n        y: 51.851920906672234\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        code: \"def main(static_data: dict, preferred_lang: str):\\n    \\n    # Access\\\n          \\ the nested object using the new structure\\n    msg = static_data.get(\\\"\\\n          request_file_msg\\\", {}).get(preferred_lang)\\n\\n    return {\\n        \\\"\\\n          result\\\": msg\\n    }\"\n        code_language: python3\n        desc: This node handles missing input file from the user and request them\n          to upload to get started.\n        error_strategy: fail-branch\n        outputs:\n          result:\n            children: null\n            type: string\n        selected: false\n        title: Code_request_file\n        type: code\n        variables:\n        - value_selector:\n          - conversation\n          - static_data\n          value_type: object\n          variable: static_data\n        - value_selector:\n          - conversation\n          - preferred_lang\n          value_type: string\n          variable: preferred_lang\n      height: 149\n      id: '1776188847640'\n      position:\n        x: 693.0274621045346\n        y: 250.71931523142655\n      positionAbsolute:\n        x: 693.0274621045346\n        y: 250.71931523142655\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        answer: '{{#1776188847640.result#}}'\n        desc: Thid node display file missing output to request the user to upload\n          the same\n        selected: false\n        title: file missing output\n        type: answer\n        variables: []\n      height: 147\n      id: '1776189352854'\n      position:\n        x: 995.5922351832951\n        y: 250.71931523142655\n      positionAbsolute:\n        x: 995.5922351832951\n        y: 250.71931523142655\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        code: \"\\ndef main(preferred_lang_error: str, missing_file_error: str,doc_rcv_error:str,\\\n          \\ preferred_lang:str,file_extractor_error:str,static_data:dict):\\n\\n   \\\n          \\ # execute if handling preferred language code node failed.\\n    if preferred_lang_error:\\n\\\n          \\        button_template = static_data.get(\\\"button_template\\\", \\\"\\\")\\n\\\n          \\        lang_msg_data = static_data.get(\\\"error_message_language\\\", {})\\n\\\n          \\        message = lang_msg_data.get(\\\"en_jp\\\", \\\"\\\")\\n        buttons_list\\\n          \\ = lang_msg_data.get(\\\"buttons\\\", [])\\n\\n        formatted_buttons = []\\n\\\n          \\        for idx, btn in enumerate(buttons_list, start=1):\\n           \\\n          \\ btn_html = button_template.format(\\n                index=idx,\\n     \\\n          \\           id=btn[\\\"id\\\"],\\n                label=btn[\\\"label\\\"]\\n    \\\n          \\        )\\n            formatted_buttons.append(btn_html)\\n\\n        final_output\\\n          \\ = f\\\"{message}\\\\n\\\\n\\\" + \\\"\\\\n\\\".join(formatted_buttons)\\n\\n        return{\\n\\\n          \\            \\\"result\\\": final_output\\n        }\\n\\n    elif missing_file_error:\\n\\\n          \\        msg = static_data.get(\\\"error_message_file_missing\\\",{}).get(preferred_lang)\\n\\\n          \\        return{\\n            \\\"result\\\": msg\\n        }\\n    elif doc_rcv_error:\\n\\\n          \\        msg = static_data.get(\\\"error_message_document_received\\\",{}).get(preferred_lang)\\n\\\n          \\        return{\\n            \\\"result\\\": msg\\n        }\\n    elif file_extractor_error:\\n\\\n          \\        msg = static_data.get(\\\"error_message_file_extractor\\\",{}).get(preferred_lang)\\n\\\n          \\        return{\\n            \\\"result\\\": msg\\n        }\\n    else:\\n  \\\n          \\      return{\\n            \\\"result\\\": \\\"All code node is working fine.\\\"\\\n          \\n        }\"\n        code_language: python3\n        desc: This node handle errors in case of failure of connected code node and\n          return the respective message based on fail branch.\n        outputs:\n          result:\n            children: null\n            type: string\n        selected: false\n        title: Code_Global_Error_handler\n        type: code\n        variables:\n        - value_selector:\n          - '1776947959501'\n          - error_message\n          value_type: string\n          variable: preferred_lang_error\n        - value_selector:\n          - '1776188847640'\n          - error_message\n          value_type: string\n          variable: missing_file_error\n        - value_selector:\n          - '1776947739078'\n          - error_message\n          value_type: string\n          variable: doc_rcv_error\n        - value_selector:\n          - '1777459508996'\n          - error_message\n          value_type: string\n          variable: file_extractor_error\n        - value_selector:\n          - conversation\n          - static_data\n          value_type: object\n          variable: static_data\n        - value_selector:\n          - conversation\n          - preferred_lang\n          value_type: string\n          variable: preferred_lang\n      height: 129\n      id: '1776326940664'\n      position:\n        x: 2230.3475426198747\n        y: -313.7189391171833\n      positionAbsolute:\n        x: 2230.3475426198747\n        y: -313.7189391171833\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        answer: '{{#1776326940664.result#}}'\n        desc: This node display message based on failed branch\n        selected: false\n        title: Message for different fail branch\n        type: answer\n        variables: []\n      height: 147\n      id: '1776331413831'\n      position:\n        x: 2694.2693149675843\n        y: -318.9969707602749\n      positionAbsolute:\n        x: 2694.2693149675843\n        y: -318.9969707602749\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        author: kumar_vi@itg.hitachi.co.jp\n        desc: ''\n        height: 88\n        selected: false\n        showAuthor: true\n        text: '{\"root\":{\"children\":[{\"children\":[{\"detail\":0,\"format\":0,\"mode\":\"normal\",\"style\":\"\",\"text\":\"This\n          code node captures global errors in case of failure of any connect node\n          with it and return the message associated with it.\",\"type\":\"text\",\"version\":1}],\"direction\":null,\"format\":\"\",\"indent\":0,\"type\":\"paragraph\",\"version\":1,\"textFormat\":0,\"textStyle\":\"\"}],\"direction\":null,\"format\":\"\",\"indent\":0,\"type\":\"root\",\"version\":1}}'\n        theme: blue\n        title: ''\n        type: ''\n        width: 469\n      height: 88\n      id: '1776334653462'\n      position:\n        x: 2268.725588330158\n        y: -442.8165166248832\n      positionAbsolute:\n        x: 2268.725588330158\n        y: -442.8165166248832\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom-note\n      width: 469\n    - data:\n        desc: This node assign 1 to file_uploaded variable to maintain global records\n          that file has been successfully received.\n        items:\n        - input_type: variable\n          operation: over-write\n          value:\n          - '1776947739078'\n          - file_counter\n          variable_selector:\n          - conversation\n          - pms_counter\n          write_mode: over-write\n        - input_type: variable\n          operation: over-write\n          value:\n          - '1777460030833'\n          - result\n          variable_selector:\n          - conversation\n          - sheet_data\n          write_mode: over-write\n        selected: false\n        title: Assign 1 to file_uploaded\n        type: assigner\n        version: '2'\n      height: 171\n      id: '1776335961015'\n      position:\n        x: 2769.789995757494\n        y: 443.4586136178641\n      positionAbsolute:\n        x: 2769.789995757494\n        y: 443.4586136178641\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        code: \"\\ndef main(lang_result:list):\\n    lang_obj = lang_result[0]\\n    return\\\n          \\ {\\n        \\\"result\\\": lang_obj.get(\\\"result\\\", \\\"\\\")\\n    }\\n\"\n        code_language: python3\n        desc: This code node format response received from bilingual workflow so that\n          downstream node can use it to display respective message related to language\n          preference.\n        outputs:\n          result:\n            children: null\n            type: string\n        selected: false\n        title: code_format_response\n        type: code\n        variables:\n        - value_selector:\n          - '1776947959501'\n          - json\n          value_type: array[object]\n          variable: lang_result\n      height: 145\n      id: '1776940676228'\n      position:\n        x: 977.717107108858\n        y: 27.767036083312234\n      positionAbsolute:\n        x: 977.717107108858\n        y: 27.767036083312234\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        cases:\n        - case_id: 'true'\n          conditions:\n          - comparison_operator: is\n            id: 4cdb2d7a-ce84-410c-8b86-1142c6c12d17\n            value: en\n            varType: string\n            variable_selector:\n            - '1776940676228'\n            - result\n          - comparison_operator: is\n            id: ee9c61b5-5091-44e8-849a-52dacfc0e1cf\n            value: jp\n            varType: string\n            variable_selector:\n            - '1776940676228'\n            - result\n          id: 'true'\n          logical_operator: or\n        desc: This node checks if the user has selected their preferred language if\n          yes it will return language code like \"en\" else prompt the user to select\n          language first.\n        selected: false\n        title: Yes/No\n        type: if-else\n      height: 227\n      id: '1776942451624'\n      position:\n        x: 1306.5821048670932\n        y: 27.767036083312234\n      positionAbsolute:\n        x: 1306.5821048670932\n        y: 27.767036083312234\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        answer: '{{#1776940676228.result#}}'\n        desc: This node request the user to enter the language if preferred language\n          is not selected.\n        selected: false\n        title: Request Language\n        type: answer\n        variables: []\n      height: 163\n      id: '1776942497647'\n      position:\n        x: 1654.0659641439952\n        y: 209.97088362006681\n      positionAbsolute:\n        x: 1654.0659641439952\n        y: 209.97088362006681\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        code: \"\\ndef main(preferred_lang: str, static_data: dict):\\n    return {\\n\\\n          \\        \\\"result\\\": static_data.get(\\\"user_guide\\\",{}).get(preferred_lang)\\n\\\n          \\    }\\n\"\n        code_language: python3\n        desc: This code node fetch user guide based on preferred language from static\n          data and pass to next node to display the same message.\n        outputs:\n          result:\n            children: null\n            type: string\n        selected: false\n        title: code_fetch_user_guide\n        type: code\n        variables:\n        - value_selector:\n          - conversation\n          - preferred_lang\n          value_type: string\n          variable: preferred_lang\n        - value_selector:\n          - conversation\n          - static_data\n          value_type: object\n          variable: static_data\n      height: 129\n      id: '1776942555536'\n      position:\n        x: 1931.0782547756387\n        y: 51.851920906672234\n      positionAbsolute:\n        x: 1931.0782547756387\n        y: 51.851920906672234\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        code: \"def main(static_data:dict, preferred_lang:str):\\n    msg = static_data.get(\\\"\\\n          document_received_msg\\\", {}).get(preferred_lang)\\n\\n    return{\\n      \\\n          \\  \\\"result\\\": msg,\\n        \\\"file_counter\\\": 1\\n    }\\n\"\n        code_language: python3\n        desc: This node returns the message as document received as per preferred\n          language.\n        error_strategy: fail-branch\n        outputs:\n          file_counter:\n            children: null\n            type: number\n          result:\n            children: null\n            type: string\n        selected: false\n        title: code_doc_received\n        type: code\n        variables:\n        - value_selector:\n          - conversation\n          - static_data\n          value_type: object\n          variable: static_data\n        - value_selector:\n          - conversation\n          - preferred_lang\n          value_type: string\n          variable: preferred_lang\n      height: 149\n      id: '1776947739078'\n      position:\n        x: 693.0274621045346\n        y: 408.22299050740094\n      positionAbsolute:\n        x: 693.0274621045346\n        y: 408.22299050740094\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        desc: This workflow validate the user input if they have selected their preferred\n          language or not and return preferred language as key such \"en\" for English\n          and in case no language selected, request the user to choose language first.\n        error_strategy: fail-branch\n        is_team_authorization: true\n        output_schema: null\n        paramSchemas:\n        - auto_generate: null\n          default: null\n          form: llm\n          human_description:\n            en_US: this receives user's query to validate language preference\n            ja_JP: this receives user's query to validate language preference\n            pt_BR: this receives user's query to validate language preference\n            zh_Hans: this receives user's query to validate language preference\n          label:\n            en_US: User input\n            ja_JP: User input\n            pt_BR: User input\n            zh_Hans: User input\n          llm_description: this receives user's query to validate language preference\n          max: null\n          min: null\n          name: user_query\n          options: []\n          placeholder:\n            en_US: ''\n            ja_JP: ''\n            pt_BR: ''\n            zh_Hans: ''\n          precision: null\n          required: true\n          scope: null\n          template: null\n          type: string\n        params:\n          user_query: ''\n        provider_id: 7fb8ca4f-fc35-415e-94d5-48edc65fcf26\n        provider_name: COM_Bilingual_Workflow\n        provider_type: workflow\n        selected: false\n        title: COM_Bilingual_Workflow\n        tool_configurations: {}\n        tool_description: This workflow automate the language validation as per requirement\n          and return user's preferred language. Currently it supports English and\n          Japanese.\n        tool_label: COM_Bilingual_Workflow\n        tool_name: comBilingualWorkflow\n        tool_node_version: '2'\n        tool_parameters:\n          user_query:\n            type: mixed\n            value: '{{#sys.query#}}'\n        type: tool\n      height: 213\n      id: '1776947959501'\n      position:\n        x: 693.0274621045346\n        y: 27.767036083312234\n      positionAbsolute:\n        x: 693.0274621045346\n        y: 27.767036083312234\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        answer: '{{#1776947739078.result#}}'\n        desc: This node display output to the user in case file validation failed\n          such wrong extensions, larger file size, etc..\n        selected: false\n        title: validation output.\n        type: answer\n        variables: []\n      height: 163\n      id: '1776948841588'\n      position:\n        x: 1005.6168252904874\n        y: 408.22299050740094\n      positionAbsolute:\n        x: 1005.6168252904874\n        y: 408.22299050740094\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        code: \"def main(file_config_obj: dict) -> dict:\\n    # Use .get(key, default_value)\\\n          \\ to safely extract data\\n    sheet = file_config_obj.get(\\\"sheet_name\\\"\\\n          , \\\"\\\")\\n    columns = file_config_obj.get(\\\"list_of_columns\\\", \\\"\\\")\\n\\\n          \\    return {\\n        \\\"sheet_name\\\": sheet,\\n        \\\"columns\\\": columns\\n\\\n          \\    }\"\n        code_language: python3\n        desc: This node reads the file config such as sheet name, number of rows,\n          and columns and return the same to the next node.\n        outputs:\n          columns:\n            children: null\n            type: string\n          sheet_name:\n            children: null\n            type: string\n        selected: false\n        title: File Config\n        type: code\n        variables:\n        - value_selector:\n          - conversation\n          - uploaded_file_config\n          value_type: object\n          variable: file_config_obj\n      height: 129\n      id: '1777360627990'\n      position:\n        x: 1366.332155185936\n        y: 408.22299050740094\n      positionAbsolute:\n        x: 1366.332155185936\n        y: 408.22299050740094\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        cases:\n        - case_id: 'true'\n          conditions:\n          - comparison_operator: is\n            id: cb34a4e3-cebd-47af-8027-5093476686ad\n            value: 'True'\n            varType: string\n            variable_selector:\n            - '1777460030833'\n            - clients_available\n          id: 'true'\n          logical_operator: and\n        desc: ''\n        selected: false\n        title: IF/ELSE 4\n        type: if-else\n      height: 125\n      id: '1777363112681'\n      position:\n        x: 2428.3344395963795\n        y: 408.22299050740094\n      positionAbsolute:\n        x: 2428.3344395963795\n        y: 408.22299050740094\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        answer: \"\\nPlease enter the number corresponding to the client you want to\\\n          \\ proceed with. For example, to proceed with Client 1, enter 1. \\n\\n{{#1777460030833.client_selection#}}\"\n        desc: ''\n        selected: false\n        title: CLIENT DETAILS OUTPUT\n        type: answer\n        variables: []\n      height: 167\n      id: '1777363204052'\n      position:\n        x: 3110.696178858576\n        y: 443.4586136178641\n      positionAbsolute:\n        x: 3110.696178858576\n        y: 443.4586136178641\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        desc: ''\n        error_strategy: fail-branch\n        is_team_authorization: true\n        output_schema: null\n        paramSchemas:\n        - auto_generate: null\n          default: null\n          form: llm\n          human_description:\n            en_US: ''\n            ja_JP: ''\n            pt_BR: ''\n            zh_Hans: ''\n          label:\n            en_US: xl_file\n            ja_JP: xl_file\n            pt_BR: xl_file\n            zh_Hans: xl_file\n          llm_description: ''\n          max: null\n          min: null\n          name: xl_file\n          options: []\n          placeholder:\n            en_US: ''\n            ja_JP: ''\n            pt_BR: ''\n            zh_Hans: ''\n          precision: null\n          required: true\n          scope: null\n          template: null\n          type: files\n        - auto_generate: null\n          default: null\n          form: llm\n          human_description:\n            en_US: ''\n            ja_JP: ''\n            pt_BR: ''\n            zh_Hans: ''\n          label:\n            en_US: sheet_name\n            ja_JP: sheet_name\n            pt_BR: sheet_name\n            zh_Hans: sheet_name\n          llm_description: ''\n          max: null\n          min: null\n          name: sheet_name\n          options: []\n          placeholder:\n            en_US: ''\n            ja_JP: ''\n            pt_BR: ''\n            zh_Hans: ''\n          precision: null\n          required: true\n          scope: null\n          template: null\n          type: string\n        - auto_generate: null\n          default: null\n          form: llm\n          human_description:\n            en_US: ''\n            ja_JP: ''\n            pt_BR: ''\n            zh_Hans: ''\n          label:\n            en_US: list_of_column\n            ja_JP: list_of_column\n            pt_BR: list_of_column\n            zh_Hans: list_of_column\n          llm_description: ''\n          max: null\n          min: null\n          name: list_of_column\n          options: []\n          placeholder:\n            en_US: ''\n            ja_JP: ''\n            pt_BR: ''\n            zh_Hans: ''\n          precision: null\n          required: true\n          scope: null\n          template: null\n          type: string\n        - auto_generate: null\n          default: null\n          form: llm\n          human_description:\n            en_US: ''\n            ja_JP: ''\n            pt_BR: ''\n            zh_Hans: ''\n          label:\n            en_US: number_of_rows\n            ja_JP: number_of_rows\n            pt_BR: number_of_rows\n            zh_Hans: number_of_rows\n          llm_description: ''\n          max: null\n          min: null\n          name: number_of_rows\n          options: []\n          placeholder:\n            en_US: ''\n            ja_JP: ''\n            pt_BR: ''\n            zh_Hans: ''\n          precision: null\n          required: true\n          scope: null\n          template: null\n          type: number\n        - auto_generate: null\n          default: null\n          form: llm\n          human_description:\n            en_US: ''\n            ja_JP: ''\n            pt_BR: ''\n            zh_Hans: ''\n          label:\n            en_US: lang\n            ja_JP: lang\n            pt_BR: lang\n            zh_Hans: lang\n          llm_description: ''\n          max: null\n          min: null\n          name: lang\n          options: []\n          placeholder:\n            en_US: ''\n            ja_JP: ''\n            pt_BR: ''\n            zh_Hans: ''\n          precision: null\n          required: true\n          scope: null\n          template: null\n          type: string\n        - auto_generate: null\n          default: null\n          form: llm\n          human_description:\n            en_US: ''\n            ja_JP: ''\n            pt_BR: ''\n            zh_Hans: ''\n          label:\n            en_US: max_file_size\n            ja_JP: max_file_size\n            pt_BR: max_file_size\n            zh_Hans: max_file_size\n          llm_description: ''\n          max: null\n          min: null\n          name: max_file_size\n          options: []\n          placeholder:\n            en_US: ''\n            ja_JP: ''\n            pt_BR: ''\n            zh_Hans: ''\n          precision: null\n          required: true\n          scope: null\n          template: null\n          type: number\n        params:\n          lang: ''\n          list_of_column: ''\n          max_file_size: ''\n          number_of_rows: ''\n          sheet_name: ''\n          xl_file: ''\n        provider_id: ad54b86e-248c-4c9f-87d8-4cef6f0f1a5b\n        provider_name: excel extractor (WF) v3\n        provider_type: workflow\n        selected: false\n        title: excel extractor (WF) v3\n        tool_configurations: {}\n        tool_description: extract required details from excel file.\n        tool_label: excel extractor (WF) v3\n        tool_name: v3_excel_exctractor\n        tool_node_version: '2'\n        tool_parameters:\n          lang:\n            type: mixed\n            value: '{{#conversation.preferred_lang#}}'\n          list_of_column:\n            type: mixed\n            value: '{{#1777360627990.columns#}}'\n          max_file_size:\n            type: constant\n            value: 10\n          number_of_rows:\n            type: constant\n            value: 3\n          sheet_name:\n            type: mixed\n            value: '{{#1777360627990.sheet_name#}}'\n          xl_file:\n            type: variable\n            value:\n            - sys\n            - files\n        type: tool\n      height: 89\n      id: '1777459508996'\n      position:\n        x: 1670.332155185936\n        y: 408.22299050740094\n      positionAbsolute:\n        x: 1670.332155185936\n        y: 408.22299050740094\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        code: \"import re\\nfrom typing import List, Dict, Any\\n\\ndef main(input_data:\\\n          \\ str) -> dict:\\n    \\\"\\\"\\\"\\n    Extracts objects, adds client_id, and creates\\\n          \\ client_selection text format\\n    \\\"\\\"\\\"\\n    try:\\n        # Handle input\\\n          \\ from Dify\\n        if isinstance(input_data, str):\\n            try:\\n\\\n          \\                import json\\n                data = json.loads(input_data)\\n\\\n          \\            except:\\n                data = [{\\\"text\\\": input_data}]\\n\\\n          \\        else:\\n            data = input_data\\n\\n        # Extract text\\n\\\n          \\        if isinstance(data, list) and len(data) > 0:\\n            text\\\n          \\ = data[0].get(\\\"text\\\", \\\"\\\") if isinstance(data[0], dict) else str(data[0])\\n\\\n          \\        else:\\n            text = str(data)\\n\\n        # Extract content\\\n          \\ inside {data: [...]}\\n        match = re.search(r'\\\\{data:\\\\s*\\\\[(.*?)\\\\\\\n          ]\\\\s*\\\\}', text, re.DOTALL)\\n        if not match:\\n            return {\\\"\\\n          result\\\": [], \\\"client_selection\\\": \\\"\\\", \\\"error\\\": \\\"No data list found\\\"\\\n          }\\n\\n        content = match.group(1).strip()\\n\\n        object_matches\\\n          \\ = re.findall(r'\\\\{[^}]*\\\\}', content)\\n        \\n        result: List[Dict[str,\\\n          \\ Any]] = []\\n        client_selection_lines = [\\\"Client No | Client name\\\n          \\ | Business Unit | Submission date\\\"]\\n\\n        for i, obj_str in enumerate(object_matches,\\\n          \\ start=1):\\n            inner = obj_str[1:-1].strip()\\n\\n            #\\\n          \\ Parse key-value pairs\\n            pairs = re.findall(r'([^,]+?)\\\\s*:\\\\\\\n          s*([^,]+?)(?=,|$)', inner)\\n            \\n            obj_dict: Dict[str,\\\n          \\ Any] = {}\\n            \\n            for key, value in pairs:\\n      \\\n          \\          cleaned_key = key.strip()\\n                cleaned_value = value.strip().strip('\\\"\\\n          \\\\'')\\n                obj_dict[cleaned_key] = cleaned_value\\n\\n       \\\n          \\     # Add client_id\\n            client_id = f\\\"{i:02d}\\\"\\n          \\\n          \\  obj_dict[\\\"client_id\\\"] = client_id\\n\\n            # Reorder - client_id\\\n          \\ first\\n            ordered_obj = {\\\"client_id\\\": client_id}\\n        \\\n          \\    ordered_obj.update(obj_dict)\\n            \\n            result.append(ordered_obj)\\n\\\n          \\            # Create client_selection line\\n            # Format: 01 |\\\n          \\ Client A Remark 1 | 1/2/2025\\n            client_name = obj_dict.get(\\\"\\\n          Client Name\\\", \\\"\\\").strip()\\n            dept = obj_dict.get(\\\"Procurement\\\n          \\ Department in Charge\\\", \\\"\\\").strip()\\n            submission_date = obj_dict.get(\\\"\\\n          Confirmation Form Submission Date\\\", \\\"No date found\\\").strip()\\n      \\\n          \\      selection_line = f\\\"{client_id} | {client_name} | {dept} | {submission_date}\\\"\\\n          \\n            client_selection_lines.append(selection_line)\\n        client_selection_text\\\n          \\ = \\\"\\\\n\\\".join(client_selection_lines)\\n\\n        return {\\n         \\\n          \\   \\\"result\\\": result,\\n            \\\"client_selection\\\": client_selection_text,\\n\\\n          \\            \\\"clients_available\\\": str(len(result) > 0),\\n            \\\"\\\n          error\\\" : \\\"\\\"\\n        }\\n\\n    except Exception as e:\\n        return\\\n          \\ {\\n            \\\"result\\\": [],\\n            \\\"client_selection\\\": \\\"\\\"\\\n          ,\\n            \\\"error\\\": f\\\"Processing failed: {str(e)}\\\",\\n          \\\n          \\  \\\"clients_available\\\": \\\"False\\\"\\n        }\"\n        code_language: python3\n        desc: ''\n        error_strategy: fail-branch\n        outputs:\n          client_selection:\n            children: null\n            type: string\n          clients_available:\n            children: null\n            type: string\n          error:\n            children: null\n            type: string\n          result:\n            children: null\n            type: array[object]\n        selected: false\n        title: Client Details Extractor\n        type: code\n        variables:\n        - value_selector:\n          - '1777459508996'\n          - json\n          value_type: array[object]\n          variable: input_data\n      height: 89\n      id: '1777460030833'\n      position:\n        x: 2032.9307818007032\n        y: 408.22299050740094\n      positionAbsolute:\n        x: 2032.9307818007032\n        y: 408.22299050740094\n      selected: true\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        answer: client selected {{#1777498691372.client_name#}}\n        desc: ''\n        selected: false\n        title: Answer 7\n        type: answer\n        variables: []\n      height: 119\n      id: '1777498194542'\n      position:\n        x: 993.0274621045346\n        y: 597.2229905074009\n      positionAbsolute:\n        x: 993.0274621045346\n        y: 597.2229905074009\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        code: \"\\ndef main(selected_id: str, sheet_data: list) -> dict:\\n    client_map\\\n          \\ = {item['client_id']: item for item in sheet_data}\\n    return {\\n   \\\n          \\     \\\"client_name\\\": client_map.get(selected_id).get(\\\"Client Name\\\"),\\n\\\n          \\        \\\"error\\\": client_map.get(selected_id).get(\\\"error\\\",\\\"\\\")\\n  \\\n          \\  }\\n\"\n        code_language: python3\n        desc: ''\n        outputs:\n          client_name:\n            children: null\n            type: string\n          error:\n            children: null\n            type: string\n        selected: false\n        title: Code 8\n        type: code\n        variables:\n        - value_selector:\n          - sys\n          - query\n          value_type: string\n          variable: selected_id\n        - value_selector:\n          - conversation\n          - sheet_data\n          value_type: array[object]\n          variable: sheet_data\n      height: 53\n      id: '1777498691372'\n      position:\n        x: 693.0274621045346\n        y: 597.2229905074009\n      positionAbsolute:\n        x: 693.0274621045346\n        y: 597.2229905074009\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        context:\n          enabled: false\n          variable_selector: []\n        desc: ''\n        model:\n          completion_params:\n            temperature: 0.7\n          mode: chat\n          name: gemini-2.5-pro\n          provider: langgenius/gemini/google\n        prompt_template:\n        - id: 868391b5-e681-4839-9a5e-51ece6743c3e\n          role: system\n          text: \"user query (error) : {{#1777498691372.error#}}\\nask user in the end:\\n\\\n            1. Do you want to rectify the errors manually? \\n2. Generate an email\\\n            \\ notification for Vendor / Trading Partner.\"\n        - id: b56f1f19-6401-4f83-b7b6-f7e4869ca1b6\n          role: user\n          text: \"you are an useful assistant. who is professional at resolving errors\\n\\\n            based on : \\n\\n1\\nA file other than the designated submission file was\\\n            \\ stored\\nCheck the submission folder for the relevant vendor.\\nIf the\\\n            \\ required .xlsx file is stored there, it is OK (it is highly likely that\\\n            \\ Power Automate processed it successfully. If it failed, an error would\\\n            \\ have been generated).\\n\u2192 If an error occurs even though the file is\\\n            \\ stored, download the file from the submission folder, open it, and verify\\\n            \\ the matching code. If it is not the vendor\u2019s matching code, request\\\n            \\ that the vendor resubmit the file in the correct format.(Since HISOL\\\n            \\ and HSC group companies use the same format, there are rare cases where\\\n            \\ a client submits a file from another company. In such cases, the matching\\\n            \\ code does not match, resulting in an error.)\\nIf the target file is\\\n            \\ missing, contact the client and ask them to resubmit it in .xlsx format.\\\n            \\ (If the target file is stored in PDF or another format, it is acceptable\\\n            \\ to manually transcribe and save it. Refer to #4 for storage rules.)\\n\\\n            2\\nScript Error\\nFailed in the Power Automate check section.\\n\u30fbCheck the\\\n            \\ management sheet. If the processing results are not reflected, download\\\n            \\ the relevant file from the client\u2019s submission folder, log in with your\\\n            \\ business ID, and store the file in the \u201c0000000001_For Management\u201d folder\\\n            \\ within the submission folder. (Visual check + manual entry; file storage\\\n            \\ is also acceptable)\\n\u30fbOpen the attached file to verify its contents.\\\n            \\ If a correction deadline is specified, share the information with the\\\n            \\ front-end buyer. Manually transcribe the information into the management\\\n            \\ table and store the file. (See #4 for storage rules)\\n3\\nFailed to write\\\n            \\ file to the working folder\\nFailed to copy files from the submission\\\n            \\ folder to the working folder.\\n\u2460 When processing via Power Automate\\n\\\n            Download the relevant file from the client\u2019s submission folder, log in\\\n            \\ with your business ID, and store the file in the \u201c0000000001_Management\u201d\\\n            \\ folder within the submission folder.\\n\u2461 When handling manually\\nManually\\\n            \\ transcribe the response details into the management table and store\\\n            \\ the file manually (see #4 for storage rules)\"\n        selected: false\n        title: LLM\n        type: llm\n        variables: []\n        vision:\n          enabled: false\n      height: 89\n      id: '1777499708949'\n      position:\n        x: 1297.0274621045346\n        y: 597.2229905074009\n      positionAbsolute:\n        x: 1297.0274621045346\n        y: 597.2229905074009\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        answer: '\n\n\n          {{#1777499708949.text#}}'\n        desc: ''\n        selected: false\n        title: Answer 8\n        type: answer\n        variables: []\n      height: 103\n      id: '1777500045243'\n      position:\n        x: 1601.0274621045346\n        y: 597.2229905074009\n      positionAbsolute:\n        x: 1601.0274621045346\n        y: 597.2229905074009\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        answer: '{{#1777459508996.text#}}'\n        desc: ''\n        selected: false\n        title: Answer 9\n        type: answer\n        variables: []\n      height: 103\n      id: '1777525364604'\n      position:\n        x: 2409.324717805213\n        y: 682.5288908066077\n      positionAbsolute:\n        x: 2409.324717805213\n        y: 682.5288908066077\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    viewport:\n      x: -223.64407967879123\n      y: -132.11173015082278\n      zoom: 0.6380319527693911\n"}
