dsl/Test_common_markup_generator.yml
{"data": "app:\n  description: ''\n  icon: \ud83e\udd16\n  icon_background: '#FFEAD5'\n  mode: workflow\n  name: Test_common_markup_generator\n  use_icon_as_answer_icon: false\ndependencies: []\nkind: app\nversion: 0.3.1\nworkflow:\n  conversation_variables: []\n  environment_variables: []\n  features:\n    file_upload:\n      allowed_file_extensions:\n      - .JPG\n      - .JPEG\n      - .PNG\n      - .GIF\n      - .WEBP\n      - .SVG\n      allowed_file_types:\n      - image\n      allowed_file_upload_methods:\n      - local_file\n      - remote_url\n      enabled: false\n      fileUploadConfig:\n        audio_file_size_limit: 50\n        batch_count_limit: 5\n        file_size_limit: 50\n        image_file_size_limit: 10\n        video_file_size_limit: 100\n        workflow_file_upload_limit: 10\n      image:\n        enabled: false\n        number_limits: 3\n        transfer_methods:\n        - local_file\n        - remote_url\n      number_limits: 3\n    opening_statement: ''\n    retriever_resource:\n      enabled: true\n    sensitive_word_avoidance:\n      enabled: false\n    speech_to_text:\n      enabled: false\n    suggested_questions: []\n    suggested_questions_after_answer:\n      enabled: false\n    text_to_speech:\n      enabled: false\n      language: ''\n      voice: ''\n  graph:\n    edges:\n    - data:\n        isInLoop: false\n        sourceType: tool\n        targetType: template-transform\n      id: 1777271233299-source-1777273312354-target\n      source: '1777271233299'\n      sourceHandle: source\n      target: '1777273312354'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInLoop: false\n        sourceType: template-transform\n        targetType: end\n      id: 1777273312354-source-1777271240910-target\n      source: '1777273312354'\n      sourceHandle: source\n      target: '1777271240910'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInLoop: false\n        sourceType: start\n        targetType: tool\n      id: 1777271208998-source-1777271233299-target\n      source: '1777271208998'\n      sourceHandle: source\n      target: '1777271233299'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    nodes:\n    - data:\n        desc: ''\n        selected: false\n        title: Start\n        type: start\n        variables:\n        - label: Input_text\n          max_length: 5000000\n          options: []\n          required: false\n          type: paragraph\n          variable: Input_text\n      height: 89\n      id: '1777271208998'\n      position:\n        x: -199.0898666747662\n        y: 111.03919161807517\n      positionAbsolute:\n        x: -199.0898666747662\n        y: 111.03919161807517\n      selected: true\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        desc: ''\n        is_team_authorization: true\n        output_schema: null\n        paramSchemas:\n        - auto_generate: null\n          default: null\n          form: llm\n          human_description:\n            en_US: ''\n            ja_JP: ''\n            pt_BR: ''\n            zh_Hans: ''\n          label:\n            en_US: Input Content\n            ja_JP: Input Content\n            pt_BR: Input Content\n            zh_Hans: Input Content\n          llm_description: ''\n          max: null\n          min: null\n          name: raw_text\n          options: []\n          placeholder:\n            en_US: ''\n            ja_JP: ''\n            pt_BR: ''\n            zh_Hans: ''\n          precision: null\n          required: false\n          scope: null\n          template: null\n          type: string\n        params:\n          raw_text: ''\n        provider_id: 9b89b0a4-5fde-4498-8bb1-a389bf5c510b\n        provider_name: Common Markup Generator\n        provider_type: workflow\n        selected: false\n        title: Common Markup Generator\n        tool_configurations: {}\n        tool_description: workflow designed to transform unstructured raw text and\n          uploaded documents into clean, semantic HTML markup.\n        tool_label: Common Markup Generator\n        tool_name: markup_wf\n        tool_node_version: '2'\n        tool_parameters:\n          raw_text:\n            type: mixed\n            value: '{{#1777271208998.Input_text#}}'\n        type: tool\n      height: 53\n      id: '1777271233299'\n      position:\n        x: 447.4358659620983\n        y: 140.1769591593777\n      positionAbsolute:\n        x: 447.4358659620983\n        y: 140.1769591593777\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        desc: ''\n        outputs:\n        - value_selector:\n          - '1777273312354'\n          - output\n          value_type: string\n          variable: result\n        selected: false\n        title: End\n        type: end\n      height: 90\n      id: '1777271240910'\n      position:\n        x: 1023\n        y: 282\n      positionAbsolute:\n        x: 1023\n        y: 282\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        desc: ''\n        selected: false\n        template: '{{ template_input[0].result }}'\n        title: Template\n        type: template-transform\n        variables:\n        - value_selector:\n          - '1777271233299'\n          - json\n          value_type: array[object]\n          variable: template_input\n      height: 53\n      id: '1777273312354'\n      position:\n        x: 727.4729516306156\n        y: 247.0477779411454\n      positionAbsolute:\n        x: 727.4729516306156\n        y: 247.0477779411454\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    viewport:\n      x: 309.6759850813671\n      y: 79.49658188916686\n      zoom: 0.4799908668500085\n"}
