dsl/test1common_markup.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: test1-common markup
  use_icon_as_answer_icon: false
dependencies: []
kind: app
version: 0.3.1
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 50
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: tool
      id: 1777272716474-source-1777272744984-target
      source: '1777272716474'
      sourceHandle: source
      target: '1777272744984'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: tool
        targetType: template-transform
      id: 1777272744984-source-1777272750770-target
      source: '1777272744984'
      sourceHandle: source
      target: '1777272750770'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: template-transform
        targetType: end
      id: 1777272750770-source-1777272756003-target
      source: '1777272750770'
      sourceHandle: source
      target: '1777272756003'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: Start
        type: start
        variables:
        - label: raw_text
          max_length: 500000
          options: []
          required: true
          type: paragraph
          variable: raw_text
      height: 90
      id: '1777272716474'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        is_team_authorization: true
        output_schema: null
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: ''
            ja_JP: ''
            pt_BR: ''
            zh_Hans: ''
          label:
            en_US: Input Content
            ja_JP: Input Content
            pt_BR: Input Content
            zh_Hans: Input Content
          llm_description: ''
          max: null
          min: null
          name: raw_text
          options: []
          placeholder:
            en_US: ''
            ja_JP: ''
            pt_BR: ''
            zh_Hans: ''
          precision: null
          required: false
          scope: null
          template: null
          type: string
        params:
          raw_text: ''
        provider_id: 9b89b0a4-5fde-4498-8bb1-a389bf5c510b
        provider_name: Common Markup Generator
        provider_type: workflow
        selected: false
        title: Common Markup Generator
        tool_configurations: {}
        tool_description: workflow designed to transform unstructured raw text and
          uploaded documents into clean, semantic HTML markup.
        tool_label: Common Markup Generator
        tool_name: markup_wf
        tool_node_version: '2'
        tool_parameters:
          raw_text:
            type: mixed
            value: '{{#1777272716474.raw_text#}}'
        type: tool
      height: 54
      id: '1777272744984'
      position:
        x: 384
        y: 282
      positionAbsolute:
        x: 384
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        selected: false
        template: '{{ tool_output[0].result }}'
        title: Template
        type: template-transform
        variables:
        - value_selector:
          - '1777272744984'
          - json
          value_type: array[object]
          variable: tool_output
      height: 54
      id: '1777272750770'
      position:
        x: 688
        y: 282
      positionAbsolute:
        x: 688
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1777272750770'
          - output
          value_type: string
          variable: result
        selected: false
        title: End
        type: end
      height: 91
      id: '1777272756003'
      position:
        x: 992
        y: 282
      positionAbsolute:
        x: 992
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: -306.4003516406367
      y: 100.10600090979514
      zoom: 0.5730703336091891
