dsl/Travel_Expense_Template.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: Travel Expense Template
  use_icon_as_answer_icon: false
dependencies: []
kind: app
version: 0.3.1
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 50
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: code
      id: 1777378680414-source-1777399453547-target
      source: '1777378680414'
      sourceHandle: source
      target: '1777399453547'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: code
      id: 1777399453547-source-1777399644955-target
      source: '1777399453547'
      sourceHandle: source
      target: '1777399644955'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: if-else
      id: 1777399644955-source-1777399863331-target
      source: '1777399644955'
      sourceHandle: source
      target: '1777399863331'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: end
      id: 1777399863331-true-1777399969496-target
      source: '1777399863331'
      sourceHandle: 'true'
      target: '1777399969496'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: document-extractor
      id: 1777399863331-false-1777380933093-target
      source: '1777399863331'
      sourceHandle: 'false'
      target: '1777380933093'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: document-extractor
        targetType: code
      id: 1777380933093-source-1777401295388-target
      source: '1777380933093'
      sourceHandle: source
      target: '1777401295388'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: end
      id: 1777401295388-source-1777402816086-target
      source: '1777401295388'
      sourceHandle: source
      target: '1777402816086'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: Start
        type: start
        variables:
        - allowed_file_extensions: []
          allowed_file_types:
          - document
          allowed_file_upload_methods:
          - local_file
          - remote_url
          label: file
          max_length: 5
          options: []
          required: true
          type: file-list
          variable: file
        - label: lang
          max_length: 48
          options: []
          required: true
          type: text-input
          variable: lang
      height: 115
      id: '1777378680414'
      position:
        x: 119.91909791505577
        y: 282
      positionAbsolute:
        x: 119.91909791505577
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        is_array_file: false
        selected: false
        title: Doc Extractor
        type: document-extractor
        variable_selector:
        - '1777378680414'
        - file
      height: 94
      id: '1777380933093'
      position:
        x: 1346.5512256893885
        y: 122.92524962476705
      positionAbsolute:
        x: 1346.5512256893885
        y: 122.92524962476705
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "def main():\n    return {\n        \"static_dict\": {\n           \
          \ \"upload_file_message\": {\n                \"en\": \"File is Missing\"\
          ,\n                \"jp\": \"ファイルが見つかりません\"\n            },\n          \
          \  \"upload_file_size_error_message\": {\n                \"en\": \"please\
          \ provide a file less than 10mb\",\n                \"jp\": \"10MB未満のファイルを提供してください\"\
          \n            },\n            \"upload_file_type_error_message\": {\n  \
          \              \"en\": \"Please Provide Excel File\",\n                \"\
          jp\": \"Excelファイルを提供してください\"\n            },\n            \"upload_invalid_language_message\"\
          : {\n                \"en\": \"Please select language eng or jp\",\n   \
          \             \"jp\": \"言語は eng または jp を選択してください\"\n            },\n   \
          \         \"file_not_exist_message\": {\n                \"en\": \"Not existed\"\
          ,\n                \"jp\": \"提供されたExcelには存在しませんでした。\"\n            }\n \
          \       }\n    }"
        code_language: python3
        desc: ''
        outputs:
          static_dict:
            children: null
            type: object
        selected: false
        title: static_data_variable
        type: code
        variables: []
      height: 53
      id: '1777399453547'
      position:
        x: 455.2841034197422
        y: 238.21542351903923
      positionAbsolute:
        x: 455.2841034197422
        y: 238.21542351903923
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "def main(xl_file: list, lang: str, static_data: dict) -> dict:\n  \
          \  # 1. Constants & Input Normalization\n    MAX_SIZE = 10 * 1024 * 1024\n\
          \    lang = lang.lower().strip()\n    \n    # Template for error responses\
          \ to avoid repetition\n    def error_res(msg, filename=None):\n        return\
          \ {\n            \"valid\": \"false\",\n            \"error\": msg,\n  \
          \          \"new_filename\": \"None\",\n            \"file_name\": filename\n\
          \        }\n\n    # 2. Language Validation\n    # Use 'get' to safely check\
          \ if the language exists in the static_data keys\n    if lang not in static_data.get(\"\
          upload_invalid_language_message\", {}):\n        # Fallback to English for\
          \ the error message itself\n        err = static_data[\"upload_invalid_language_message\"\
          ].get(\"en\", \"Invalid Language\")\n        return error_res(err)\n\n \
          \   # 3. File Presence Check\n    if not xl_file:\n        return error_res(static_data[\"\
          upload_file_message\"][lang])\n\n    file_obj = xl_file[0]\n    # Use .get()\
          \ with a single fallback chain\n    original = file_obj.get(\"filename\"\
          ) or file_obj.get(\"name\") or \"unknown.xlsx\"\n    \n    # 4. File Type\
          \ Validation\n    # Sets provide O(1) lookup time\n    if file_obj.get(\"\
          extension\", \"\").lower() not in {\".xlsx\", \".xls\"}:\n        return\
          \ error_res(static_data[\"upload_file_type_error_message\"][lang], original)\n\
          \n    # 5. File Size Validation\n    if file_obj.get(\"size\", 0) > MAX_SIZE:\n\
          \        return error_res(static_data[\"upload_file_size_error_message\"\
          ][lang], original)\n\n    \n\n    \n\n    return {\n        \"valid\": \"\
          true\",\n        \"error\": \"None\",\n        \n    }"
        code_language: python3
        desc: ''
        outputs:
          error:
            children: null
            type: string
          valid:
            children: null
            type: string
        selected: false
        title: File Validation
        type: code
        variables:
        - value_selector:
          - '1777378680414'
          - file
          value_type: array[file]
          variable: xl_file
        - value_selector:
          - '1777378680414'
          - lang
          value_type: string
          variable: lang
        - value_selector:
          - '1777399453547'
          - static_dict
          value_type: object
          variable: static_data
      height: 53
      id: '1777399644955'
      position:
        x: 739.3245544622143
        y: 141.26904286818967
      positionAbsolute:
        x: 739.3245544622143
        y: 141.26904286818967
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: contains
            id: 2abbe1ec-cc95-42ba-ace5-989d2ef06951
            value: 'false'
            varType: string
            variable_selector:
            - '1777399644955'
            - valid
          id: 'true'
          logical_operator: and
        desc: ''
        selected: false
        title: IF/ELSE
        type: if-else
      height: 125
      id: '1777399863331'
      position:
        x: 1031.9190979150555
        y: 10.106292575864018
      positionAbsolute:
        x: 1031.9190979150555
        y: 10.106292575864018
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1777399644955'
          - error
          value_type: string
          variable: error
        selected: false
        title: End 2
        type: end
      height: 90
      id: '1777399969496'
      position:
        x: 1341.621826188635
        y: -44.0696260231401
      positionAbsolute:
        x: 1341.621826188635
        y: -44.0696260231401
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "import re\nfrom typing import List, Dict, Tuple, Optional\n\n\n# -----------------------------\n\
          # Metadata Extraction\n# -----------------------------\ndef extract_metadata(text:\
          \ str) -> Dict[str, str]:\n    date_match = re.search(r\"([A-Z][a-z]+ \\\
          d{1,2}, \\d{4})\", text)\n    company_match = re.search(r\"Company Name:\\\
          s*(.*?) \\|\", text)\n    supplier_match = re.search(r\"\\(1\\) Supplier\
          \ Code \\| (\\d+)\", text)\n\n    return {\n        \"date\": date_match.group(1)\
          \ if date_match else \"\",\n        \"company\": company_match.group(1).strip()\
          \ if company_match else \"\",\n        \"supplier_code\": supplier_match.group(1)\
          \ if supplier_match else \"\"\n    }\n\n\n# -----------------------------\n\
          # Metadata Validation\n# -----------------------------\n# def validate_metadata(metadata:\
          \ Dict[str, str]) -> List[str]:\n#     errors = []\n\n#     if not metadata[\"\
          date\"]:\n#         errors.append(\"Missing or invalid date\")\n\n#    \
          \ if not metadata[\"company\"]:\n#         errors.append(\"Missing company\
          \ name\")\n\n#     if not metadata[\"supplier_code\"]:\n#         errors.append(\"\
          Missing supplier code\")\n\n#     if metadata[\"supplier_code\"] and not\
          \ re.match(r\"^\\d{11}$\", metadata[\"supplier_code\"]):\n#         errors.append(\"\
          Supplier code must be 11 digits\")\n\n#     return errors\n\n\n# -----------------------------\n\
          # Helpers\n# -----------------------------\ndef clean_value(val: str) ->\
          \ str:\n    val = val.strip()\n    return \"\" if val.lower() in [\"nan\"\
          , \"-\", \"－\"] else val\n\n\ndef parse_allowance(val: str) -> Tuple[Optional[int],\
          \ bool]:\n    val = val.strip()\n\n    if val.lower() == \"actual expenses\"\
          :\n        return None, True\n\n    if val.isdigit():\n        return int(val),\
          \ False\n\n    return None, False\n\n\n# -----------------------------\n\
          # Row Parsing\n# -----------------------------\ndef parse_rows(lines: List[str])\
          \ -> List[Dict]:\n    valid_categories = {\n        \"No Change\",\n   \
          \     \"New Addition\",\n        \"Deletion\",\n        \"Daily Allowance\
          \ Amount Change\"\n    }\n\n    rows = []\n    start_table = False\n\n \
          \   for line in lines:\n        if \"Category 1\" in line and \"Category\
          \ 2\" in line:\n            start_table = True\n            continue\n\n\
          \        if not start_table or \"|\" not in line:\n            continue\n\
          \n        parts = [p.strip() for p in line.split(\"|\")]\n\n        if len(parts)\
          \ < 6:\n            continue\n\n        revision = parts[1].strip()\n  \
          \      class_1 = clean_value(parts[2])\n        class_2 = clean_value(parts[3])\n\
          \        holiday = clean_value(parts[4])\n        allowance_raw = parts[5].strip()\n\
          \n        # Skip invalid rows early\n        if (\n            revision\
          \ not in valid_categories or\n            revision == \"Revision/Abolition\
          \ Category\" or\n            all(x.lower() == \"nan\" for x in [class_1,\
          \ class_2, holiday, allowance_raw])\n        ):\n            continue\n\n\
          \        allowance_amount, is_actual = parse_allowance(allowance_raw)\n\n\
          \        rows.append({\n            \"revision_category\": revision,\n \
          \           \"class_1\": class_1,\n            \"class_2\": class_2,\n \
          \           \"holiday_class\": holiday,\n            \"daily_allowance_amount\"\
          : allowance_amount,\n            \"is_actual_expense\": is_actual\n    \
          \    })\n\n    return rows\n\n\n# -----------------------------\n# Main\
          \ Orchestrator\n# -----------------------------\n# \ndef main(arg1) -> dict:\n\
          \    # Handle Doc Extractor output:\n    # Doc Extractors often return a\
          \ list of strings (one per page).\n    # We join them with newlines to treat\
          \ it as one continuous document.\n    if isinstance(arg1, list):\n     \
          \   text = \"\\n\".join(map(str, arg1))\n    elif arg1 is None:\n      \
          \  text = \"\"\n    else:\n        text = str(arg1)\n\n    if not text.strip():\n\
          \        return {\n            \"result_metadata\": {},\n            \"\
          result_rows\": [],\n            \"error\": \"Input text from Doc Extractor\
          \ was empty\"\n        }\n\n    lines = text.split(\"\\n\")\n\n    metadata\
          \ = extract_metadata(text)\n    rows = parse_rows(lines)\n\n    if not rows:\n\
          \        return {\n            \"result_metadata\": metadata,\n        \
          \    \"result_rows\": [],\n            \"warning\": \"Metadata found, but\
          \ no table rows were parsed.\"\n        }\n\n    return {\n        \"result_metadata\"\
          : metadata,\n        \"result_rows\": rows\n    }"
        code_language: python3
        desc: ''
        outputs:
          result_metadata:
            children: null
            type: object
          result_rows:
            children: null
            type: array[object]
        selected: false
        title: Code 4
        type: code
        variables:
        - value_selector:
          - '1777380933093'
          - text
          value_type: string
          variable: arg1
      height: 53
      id: '1777401295388'
      position:
        x: 1650.5512256893885
        y: 122.92524962476705
      positionAbsolute:
        x: 1650.5512256893885
        y: 122.92524962476705
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1777401295388'
          - result_metadata
          value_type: object
          variable: result_metadata
        - value_selector:
          - '1777401295388'
          - result_rows
          value_type: array[object]
          variable: result_rows
        selected: false
        title: End 2
        type: end
      height: 116
      id: '1777402816086'
      position:
        x: 1954.5512256893885
        y: 122.92524962476705
      positionAbsolute:
        x: 1954.5512256893885
        y: 122.92524962476705
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: 32.63448801499777
      y: 228.54284495041583
      zoom: 0.4337592336184646
