dsl/ValidateSupplierName.yml
{"data": "app:\n  description: ''\n  icon: \ud83e\udd16\n  icon_background: '#FFEAD5'\n  mode: workflow\n  name: Validate-Supplier-Name\n  use_icon_as_answer_icon: false\ndependencies: []\nkind: app\nversion: 0.3.1\nworkflow:\n  conversation_variables: []\n  environment_variables: []\n  features:\n    file_upload:\n      allowed_file_extensions:\n      - .JPG\n      - .JPEG\n      - .PNG\n      - .GIF\n      - .WEBP\n      - .SVG\n      allowed_file_types:\n      - image\n      allowed_file_upload_methods:\n      - local_file\n      - remote_url\n      enabled: false\n      fileUploadConfig:\n        audio_file_size_limit: 50\n        batch_count_limit: 5\n        file_size_limit: 50\n        image_file_size_limit: 10\n        video_file_size_limit: 100\n        workflow_file_upload_limit: 10\n      image:\n        enabled: false\n        number_limits: 3\n        transfer_methods:\n        - local_file\n        - remote_url\n      number_limits: 3\n    opening_statement: ''\n    retriever_resource:\n      enabled: true\n    sensitive_word_avoidance:\n      enabled: false\n    speech_to_text:\n      enabled: false\n    suggested_questions: []\n    suggested_questions_after_answer:\n      enabled: false\n    text_to_speech:\n      enabled: false\n      language: ''\n      voice: ''\n  graph:\n    edges:\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: start\n        targetType: code\n      id: 1777892775904-source-1777892858652-target\n      source: '1777892775904'\n      sourceHandle: source\n      target: '1777892858652'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: code\n        targetType: end\n      id: 1777892858652--1777892919916-target\n      source: '1777892858652'\n      sourceHandle: source\n      target: '1777892919916'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    nodes:\n    - data:\n        desc: ''\n        selected: false\n        title: Start\n        type: start\n        variables:\n        - label: supplier_name\n          max_length: 48\n          options: []\n          required: true\n          type: text-input\n          variable: supplier_name\n        - label: pms_list\n          max_length: 48\n          options: []\n          required: false\n          type: text-input\n          variable: pms_list\n      height: 115\n      id: '1777892775904'\n      position:\n        x: 80\n        y: 282\n      positionAbsolute:\n        x: 80\n        y: 282\n      selected: true\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        code: \"def main(supplier_name: str, pms_list: list = []) -> dict:\\n    name\\\n          \\ = (supplier_name or \\\"\\\").strip()\\n    \\n    if not name:\\n        return\\\n          \\ {\\\"validation_result\\\": {\\\"valid\\\": False, \\\"error\\\": \\\"Supplier name\\\n          \\ is missing.\\\"}}\\n    \\n    if pms_list and name not in pms_list:\\n   \\\n          \\     return {\\\"validation_result\\\": {\\\"valid\\\": False, \\\"error\\\": f\\\"Supplier\\\n          \\ '{name}' not in approved list.\\\"}}\\n    \\n    return {\\\"validation_result\\\"\\\n          : {\\\"valid\\\": True, \\\"error\\\": \\\"\\\"}}\"\n        code_language: python3\n        desc: ''\n        outputs:\n          validation:\n            children: null\n            type: object\n        selected: false\n        title: Code\n        type: code\n        variables:\n        - value_selector:\n          - '1777892775904'\n          - supplier_name\n          value_type: string\n          variable: supplier_name\n        - value_selector:\n          - '1777892775904'\n          - pms_list\n          value_type: string\n          variable: pms_list\n      height: 53\n      id: '1777892858652'\n      position:\n        x: 384\n        y: 282\n      positionAbsolute:\n        x: 384\n        y: 282\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        desc: ''\n        outputs:\n        - value_selector:\n          - '1777892858652'\n          - validation\n          value_type: object\n          variable: result\n        selected: false\n        title: End\n        type: end\n      height: 90\n      id: '1777892919916'\n      position:\n        x: 688\n        y: 282\n      positionAbsolute:\n        x: 688\n        y: 282\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    viewport:\n      x: 0\n      y: 0\n      zoom: 1\n"}
