dsl/Validate_Date.yml
{"data": "app:\n  description: ''\n  icon: \ud83e\udd16\n  icon_background: '#FFEAD5'\n  mode: workflow\n  name: Validate Date\n  use_icon_as_answer_icon: false\ndependencies: []\nkind: app\nversion: 0.3.1\nworkflow:\n  conversation_variables: []\n  environment_variables: []\n  features:\n    file_upload:\n      allowed_file_extensions:\n      - .JPG\n      - .JPEG\n      - .PNG\n      - .GIF\n      - .WEBP\n      - .SVG\n      allowed_file_types:\n      - image\n      allowed_file_upload_methods:\n      - local_file\n      - remote_url\n      enabled: false\n      fileUploadConfig:\n        audio_file_size_limit: 50\n        batch_count_limit: 5\n        file_size_limit: 50\n        image_file_size_limit: 10\n        video_file_size_limit: 100\n        workflow_file_upload_limit: 10\n      image:\n        enabled: false\n        number_limits: 3\n        transfer_methods:\n        - local_file\n        - remote_url\n      number_limits: 3\n    opening_statement: ''\n    retriever_resource:\n      enabled: true\n    sensitive_word_avoidance:\n      enabled: false\n    speech_to_text:\n      enabled: false\n    suggested_questions: []\n    suggested_questions_after_answer:\n      enabled: false\n    text_to_speech:\n      enabled: false\n      language: ''\n      voice: ''\n  graph:\n    edges:\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: start\n        targetType: code\n      id: 1777892450776-source-1777892502731-target\n      source: '1777892450776'\n      sourceHandle: source\n      target: '1777892502731'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: code\n        targetType: end\n      id: 1777892502731--1777892592012-target\n      source: '1777892502731'\n      sourceHandle: source\n      target: '1777892592012'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    nodes:\n    - data:\n        desc: ''\n        selected: false\n        title: Start\n        type: start\n        variables:\n        - label: date_string\n          max_length: 48\n          options: []\n          required: true\n          type: text-input\n          variable: date_string\n      height: 89\n      id: '1777892450776'\n      position:\n        x: 80\n        y: 282\n      positionAbsolute:\n        x: 80\n        y: 282\n      selected: true\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        code: \"from datetime import datetime\\n\\ndef main(date_string: str) -> dict:\\n\\\n          \\    if not date_string:\\n        return {\\\"validation_result\\\": {\\\"valid\\\"\\\n          : False, \\\"error\\\": \\\"Date is missing.\\\"}}\\n    \\n    try:\\n        dt =\\\n          \\ datetime.strptime(date_string, \\\"%Y-%m-%d\\\")\\n        today = datetime.today()\\n\\\n          \\        if (today - dt).days > 365:\\n            return {\\\"validation_result\\\"\\\n          : {\\\"valid\\\": False, \\\"error\\\": \\\"Date is older than 1 year.\\\"}}\\n     \\\n          \\   if (dt - today).days > 30:\\n            return {\\\"validation_result\\\"\\\n          : {\\\"valid\\\": False, \\\"error\\\": \\\"Date is more than 30 days in the future.\\\"\\\n          }}\\n        return {\\\"validation_result\\\": {\\\"valid\\\": True, \\\"error\\\":\\\n          \\ \\\"\\\"}}\\n    except:\\n        return {\\\"validation_result\\\": {\\\"valid\\\"\\\n          : False, \\\"error\\\": \\\"Invalid date format. Use YYYY-MM-DD.\\\"}}\"\n        code_language: python3\n        desc: ''\n        outputs:\n          Validation:\n            children: null\n            type: object\n        selected: false\n        title: Code\n        type: code\n        variables:\n        - value_selector:\n          - '1777892450776'\n          - date_string\n          value_type: string\n          variable: date_string\n      height: 53\n      id: '1777892502731'\n      position:\n        x: 384\n        y: 282\n      positionAbsolute:\n        x: 384\n        y: 282\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        desc: ''\n        outputs:\n        - value_selector:\n          - '1777892502731'\n          - Validation\n          value_type: object\n          variable: result\n        selected: false\n        title: End\n        type: end\n      height: 90\n      id: '1777892592012'\n      position:\n        x: 688\n        y: 282\n      positionAbsolute:\n        x: 688\n        y: 282\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    viewport:\n      x: 304.5781873076945\n      y: -25.231324799407673\n      zoom: 0.9530783119985192\n"}
