dsl/zsatsri.yml
app:
  description: handson dify
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: advanced-chat
  name: zsatsri
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/gemini:0.7.4@5faf411e694e0da130a337347a625a3812b1b7502a0183382d66d92c841bf05a
kind: app
version: 0.3.1
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      - document
      allowed_file_upload_methods:
      - remote_url
      - local_file
      enabled: true
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 50
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: if-else
      id: 1777017261847-source-1777017359513-target
      source: '1777017261847'
      sourceHandle: source
      target: '1777017359513'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: list-operator
      id: 1777017359513-1a5866fb-1fd0-4eef-b800-4ec03245a670-1777017439491-target
      source: '1777017359513'
      sourceHandle: 1a5866fb-1fd0-4eef-b800-4ec03245a670
      target: '1777017439491'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: list-operator
        targetType: document-extractor
      id: 1777017439491-source-1777017474107-target
      source: '1777017439491'
      sourceHandle: source
      target: '1777017474107'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 1777017692449-source-1777017405074-target
      source: '1777017692449'
      sourceHandle: source
      target: '1777017405074'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: document-extractor
        targetType: llm
      id: 1777017474107-source-1777017779209-target
      source: '1777017474107'
      sourceHandle: source
      target: '1777017779209'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 1777017779209-source-1777017497044-target
      source: '1777017779209'
      sourceHandle: source
      target: '1777017497044'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: code
      id: 1777017359513-true-1777031094638-target
      source: '1777017359513'
      sourceHandle: 'true'
      target: '1777031094638'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: if-else
      id: 1777031094638-source-1777031242364-target
      source: '1777031094638'
      sourceHandle: source
      target: '1777031242364'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1777031242364-true-1777017692449-target
      source: '1777031242364'
      sourceHandle: 'true'
      target: '1777017692449'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: 1777031242364-false-1777031269538-target
      source: '1777031242364'
      sourceHandle: 'false'
      target: '1777031269538'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: Start
        type: start
        variables: []
      height: 53
      id: '1777017261847'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: not empty
            id: 80f21d37-e337-4e70-989f-6d59c467fa0d
            value: ''
            varType: string
            variable_selector:
            - sys
            - query
          - comparison_operator: empty
            id: 0586425d-68ca-47e9-a1d6-132a13117c6e
            value: ''
            varType: array[file]
            variable_selector:
            - sys
            - files
          id: 'true'
          logical_operator: and
        - case_id: 1a5866fb-1fd0-4eef-b800-4ec03245a670
          conditions:
          - comparison_operator: not empty
            id: af543d06-dc67-4143-b696-b74cb87d6ea3
            value: ''
            varType: array[file]
            variable_selector:
            - sys
            - files
          id: 1a5866fb-1fd0-4eef-b800-4ec03245a670
          logical_operator: and
        desc: ''
        selected: false
        title: IF/ELSE
        type: if-else
      height: 199
      id: '1777017359513'
      position:
        x: 397.32577103791095
        y: 276.0309287342037
      positionAbsolute:
        x: 397.32577103791095
        y: 276.0309287342037
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        answer: '{{#1777017692449.text#}}'
        desc: ''
        selected: false
        title: Answer
        type: answer
        variables: []
      height: 103
      id: '1777017405074'
      position:
        x: 1619.8968498230515
        y: 100.31288494844355
      positionAbsolute:
        x: 1619.8968498230515
        y: 100.31288494844355
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: ''
        extract_by:
          enabled: false
          serial: '1'
        filter_by:
          conditions:
          - comparison_operator: in
            key: type
            value:
            - document
          enabled: true
        item_var_type: file
        limit:
          enabled: false
          size: 10
        order_by:
          enabled: false
          key: ''
          value: asc
        selected: false
        title: List Operator
        type: list-operator
        var_type: array[file]
        variable:
        - sys
        - files
      height: 93
      id: '1777017439491'
      position:
        x: 686
        y: 424
      positionAbsolute:
        x: 686
        y: 424
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: ''
        is_array_file: true
        selected: false
        title: Doc Extractor
        type: document-extractor
        variable_selector:
        - '1777017439491'
        - result
      height: 93
      id: '1777017474107'
      position:
        x: 989
        y: 424
      positionAbsolute:
        x: 989
        y: 424
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        answer: '{{#1777017779209.text#}}'
        desc: ''
        selected: false
        title: Answer 2
        type: answer
        variables: []
      height: 103
      id: '1777017497044'
      position:
        x: 1592
        y: 424
      positionAbsolute:
        x: 1592
        y: 424
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 50
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gemini-2.5-pro
          provider: langgenius/gemini/google
        prompt_template:
        - id: bfa13c26-36bf-40d7-acd2-9694064765ac
          role: system
          text: You are smart song writer in english, write song in 50 words for any
            given topic {{#sys.query#}}
        selected: false
        title: LLM
        type: llm
        variables: []
        vision:
          enabled: false
      height: 89
      id: '1777017692449'
      position:
        x: 1355.1495736390252
        y: 105.73638092013184
      positionAbsolute:
        x: 1355.1495736390252
        y: 105.73638092013184
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}

            {{#1777017474107.text#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 50
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gemini-2.5-pro
          provider: langgenius/gemini/google
        prompt_template:
        - id: 5936bde9-aa18-4e68-92f3-268bd1938018
          role: system
          text: 'Summrize the document data in 50 words only

            document ; {{#1777017474107.text#}}'
        selected: false
        title: LLM 2
        type: llm
        variables: []
        vision:
          configs:
            detail: high
            variable_selector:
            - sys
            - files
          enabled: false
      height: 89
      id: '1777017779209'
      position:
        x: 1292
        y: 424
      positionAbsolute:
        x: 1292
        y: 424
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        code: "\ndef main(query: str) -> dict:\n    q = query.strip().split(\" \"\
          )\n    if len(q) == 2:\n        return {\n            \"result\": \"Pass\"\
          \n        }\n    else:\n        return{\n            \"result\": \"Fail\"\
          \n        }\n"
        code_language: python3
        desc: ''
        outputs:
          result:
            children: null
            type: string
        selected: false
        title: Code
        type: code
        variables:
        - value_selector:
          - sys
          - query
          value_type: string
          variable: query
      height: 53
      id: '1777031094638'
      position:
        x: 686
        y: 282
      positionAbsolute:
        x: 686
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: e3011e4f-3cac-4c74-8d4f-e729d9ef47b9
            value: Pass
            varType: string
            variable_selector:
            - '1777031094638'
            - result
          id: 'true'
          logical_operator: and
        desc: ''
        selected: false
        title: IF/ELSE 2
        type: if-else
      height: 125
      id: '1777031242364'
      position:
        x: 969.7295120849353
        y: 173.53008056623497
      positionAbsolute:
        x: 969.7295120849353
        y: 173.53008056623497
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        answer: You have enter more or less than 2 words for song composing.
        desc: ''
        selected: false
        title: Answer 3
        type: answer
        variables: []
      height: 117
      id: '1777031269538'
      position:
        x: 1273.7971340637014
        y: 243.22749887058632
      positionAbsolute:
        x: 1273.7971340637014
        y: 243.22749887058632
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    viewport:
      x: 377.2827558906421
      y: 183.60999179746705
      zoom: 0.8507400984836128
