dsl/zsatsri.yml
{"data": "app:\n  description: handson dify\n  icon: \ud83e\udd16\n  icon_background: '#FFEAD5'\n  mode: advanced-chat\n  name: zsatsri\n  use_icon_as_answer_icon: false\ndependencies:\n- current_identifier: null\n  type: marketplace\n  value:\n    marketplace_plugin_unique_identifier: langgenius/gemini:0.7.4@5faf411e694e0da130a337347a625a3812b1b7502a0183382d66d92c841bf05a\nkind: app\nversion: 0.3.1\nworkflow:\n  conversation_variables: []\n  environment_variables: []\n  features:\n    file_upload:\n      allowed_file_extensions:\n      - .JPG\n      - .JPEG\n      - .PNG\n      - .GIF\n      - .WEBP\n      - .SVG\n      allowed_file_types:\n      - image\n      - document\n      allowed_file_upload_methods:\n      - remote_url\n      - local_file\n      enabled: true\n      fileUploadConfig:\n        audio_file_size_limit: 50\n        batch_count_limit: 5\n        file_size_limit: 50\n        image_file_size_limit: 10\n        video_file_size_limit: 100\n        workflow_file_upload_limit: 10\n      image:\n        enabled: false\n        number_limits: 3\n        transfer_methods:\n        - local_file\n        - remote_url\n      number_limits: 3\n    opening_statement: ''\n    retriever_resource:\n      enabled: true\n    sensitive_word_avoidance:\n      enabled: false\n    speech_to_text:\n      enabled: false\n    suggested_questions: []\n    suggested_questions_after_answer:\n      enabled: false\n    text_to_speech:\n      enabled: false\n      language: ''\n      voice: ''\n  graph:\n    edges:\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: start\n        targetType: if-else\n      id: 1777017261847-source-1777017359513-target\n      source: '1777017261847'\n      sourceHandle: source\n      target: '1777017359513'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: if-else\n        targetType: list-operator\n      id: 1777017359513-1a5866fb-1fd0-4eef-b800-4ec03245a670-1777017439491-target\n      source: '1777017359513'\n      sourceHandle: 1a5866fb-1fd0-4eef-b800-4ec03245a670\n      target: '1777017439491'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: list-operator\n        targetType: document-extractor\n      id: 1777017439491-source-1777017474107-target\n      source: '1777017439491'\n      sourceHandle: source\n      target: '1777017474107'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: llm\n        targetType: answer\n      id: 1777017692449-source-1777017405074-target\n      source: '1777017692449'\n      sourceHandle: source\n      target: '1777017405074'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: document-extractor\n        targetType: llm\n      id: 1777017474107-source-1777017779209-target\n      source: '1777017474107'\n      sourceHandle: source\n      target: '1777017779209'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: llm\n        targetType: answer\n      id: 1777017779209-source-1777017497044-target\n      source: '1777017779209'\n      sourceHandle: source\n      target: '1777017497044'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: if-else\n        targetType: code\n      id: 1777017359513-true-1777031094638-target\n      source: '1777017359513'\n      sourceHandle: 'true'\n      target: '1777031094638'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: code\n        targetType: if-else\n      id: 1777031094638-source-1777031242364-target\n      source: '1777031094638'\n      sourceHandle: source\n      target: '1777031242364'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInLoop: false\n        sourceType: if-else\n        targetType: llm\n      id: 1777031242364-true-1777017692449-target\n      source: '1777031242364'\n      sourceHandle: 'true'\n      target: '1777017692449'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: if-else\n        targetType: answer\n      id: 1777031242364-false-1777031269538-target\n      source: '1777031242364'\n      sourceHandle: 'false'\n      target: '1777031269538'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    nodes:\n    - data:\n        desc: ''\n        selected: false\n        title: Start\n        type: start\n        variables: []\n      height: 53\n      id: '1777017261847'\n      position:\n        x: 80\n        y: 282\n      positionAbsolute:\n        x: 80\n        y: 282\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 243\n    - data:\n        cases:\n        - case_id: 'true'\n          conditions:\n          - comparison_operator: not empty\n            id: 80f21d37-e337-4e70-989f-6d59c467fa0d\n            value: ''\n            varType: string\n            variable_selector:\n            - sys\n            - query\n          - comparison_operator: empty\n            id: 0586425d-68ca-47e9-a1d6-132a13117c6e\n            value: ''\n            varType: array[file]\n            variable_selector:\n            - sys\n            - files\n          id: 'true'\n          logical_operator: and\n        - case_id: 1a5866fb-1fd0-4eef-b800-4ec03245a670\n          conditions:\n          - comparison_operator: not empty\n            id: af543d06-dc67-4143-b696-b74cb87d6ea3\n            value: ''\n            varType: array[file]\n            variable_selector:\n            - sys\n            - files\n          id: 1a5866fb-1fd0-4eef-b800-4ec03245a670\n          logical_operator: and\n        desc: ''\n        selected: false\n        title: IF/ELSE\n        type: if-else\n      height: 199\n      id: '1777017359513'\n      position:\n        x: 397.32577103791095\n        y: 276.0309287342037\n      positionAbsolute:\n        x: 397.32577103791095\n        y: 276.0309287342037\n      selected: true\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 243\n    - data:\n        answer: '{{#1777017692449.text#}}'\n        desc: ''\n        selected: false\n        title: Answer\n        type: answer\n        variables: []\n      height: 103\n      id: '1777017405074'\n      position:\n        x: 1619.8968498230515\n        y: 100.31288494844355\n      positionAbsolute:\n        x: 1619.8968498230515\n        y: 100.31288494844355\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 243\n    - data:\n        desc: ''\n        extract_by:\n          enabled: false\n          serial: '1'\n        filter_by:\n          conditions:\n          - comparison_operator: in\n            key: type\n            value:\n            - document\n          enabled: true\n        item_var_type: file\n        limit:\n          enabled: false\n          size: 10\n        order_by:\n          enabled: false\n          key: ''\n          value: asc\n        selected: false\n        title: List Operator\n        type: list-operator\n        var_type: array[file]\n        variable:\n        - sys\n        - files\n      height: 93\n      id: '1777017439491'\n      position:\n        x: 686\n        y: 424\n      positionAbsolute:\n        x: 686\n        y: 424\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 243\n    - data:\n        desc: ''\n        is_array_file: true\n        selected: false\n        title: Doc Extractor\n        type: document-extractor\n        variable_selector:\n        - '1777017439491'\n        - result\n      height: 93\n      id: '1777017474107'\n      position:\n        x: 989\n        y: 424\n      positionAbsolute:\n        x: 989\n        y: 424\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 243\n    - data:\n        answer: '{{#1777017779209.text#}}'\n        desc: ''\n        selected: false\n        title: Answer 2\n        type: answer\n        variables: []\n      height: 103\n      id: '1777017497044'\n      position:\n        x: 1592\n        y: 424\n      positionAbsolute:\n        x: 1592\n        y: 424\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 243\n    - data:\n        context:\n          enabled: false\n          variable_selector: []\n        desc: ''\n        memory:\n          query_prompt_template: '{{#sys.query#}}\n\n\n            {{#sys.files#}}'\n          role_prefix:\n            assistant: ''\n            user: ''\n          window:\n            enabled: false\n            size: 50\n        model:\n          completion_params:\n            temperature: 0.7\n          mode: chat\n          name: gemini-2.5-pro\n          provider: langgenius/gemini/google\n        prompt_template:\n        - id: bfa13c26-36bf-40d7-acd2-9694064765ac\n          role: system\n          text: You are smart song writer in english, write song in 50 words for any\n            given topic {{#sys.query#}}\n        selected: false\n        title: LLM\n        type: llm\n        variables: []\n        vision:\n          enabled: false\n      height: 89\n      id: '1777017692449'\n      position:\n        x: 1355.1495736390252\n        y: 105.73638092013184\n      positionAbsolute:\n        x: 1355.1495736390252\n        y: 105.73638092013184\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 243\n    - data:\n        context:\n          enabled: false\n          variable_selector: []\n        desc: ''\n        memory:\n          query_prompt_template: '{{#sys.query#}}\n\n\n            {{#sys.files#}}\n\n            {{#1777017474107.text#}}'\n          role_prefix:\n            assistant: ''\n            user: ''\n          window:\n            enabled: false\n            size: 50\n        model:\n          completion_params:\n            temperature: 0.7\n          mode: chat\n          name: gemini-2.5-pro\n          provider: langgenius/gemini/google\n        prompt_template:\n        - id: 5936bde9-aa18-4e68-92f3-268bd1938018\n          role: system\n          text: 'Summrize the document data in 50 words only\n\n            document ; {{#1777017474107.text#}}'\n        selected: false\n        title: LLM 2\n        type: llm\n        variables: []\n        vision:\n          configs:\n            detail: high\n            variable_selector:\n            - sys\n            - files\n          enabled: false\n      height: 89\n      id: '1777017779209'\n      position:\n        x: 1292\n        y: 424\n      positionAbsolute:\n        x: 1292\n        y: 424\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 243\n    - data:\n        code: \"\\ndef main(query: str) -> dict:\\n    q = query.strip().split(\\\" \\\"\\\n          )\\n    if len(q) == 2:\\n        return {\\n            \\\"result\\\": \\\"Pass\\\"\\\n          \\n        }\\n    else:\\n        return{\\n            \\\"result\\\": \\\"Fail\\\"\\\n          \\n        }\\n\"\n        code_language: python3\n        desc: ''\n        outputs:\n          result:\n            children: null\n            type: string\n        selected: false\n        title: Code\n        type: code\n        variables:\n        - value_selector:\n          - sys\n          - query\n          value_type: string\n          variable: query\n      height: 53\n      id: '1777031094638'\n      position:\n        x: 686\n        y: 282\n      positionAbsolute:\n        x: 686\n        y: 282\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 243\n    - data:\n        cases:\n        - case_id: 'true'\n          conditions:\n          - comparison_operator: is\n            id: e3011e4f-3cac-4c74-8d4f-e729d9ef47b9\n            value: Pass\n            varType: string\n            variable_selector:\n            - '1777031094638'\n            - result\n          id: 'true'\n          logical_operator: and\n        desc: ''\n        selected: false\n        title: IF/ELSE 2\n        type: if-else\n      height: 125\n      id: '1777031242364'\n      position:\n        x: 969.7295120849353\n        y: 173.53008056623497\n      positionAbsolute:\n        x: 969.7295120849353\n        y: 173.53008056623497\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 243\n    - data:\n        answer: You have enter more or less than 2 words for song composing.\n        desc: ''\n        selected: false\n        title: Answer 3\n        type: answer\n        variables: []\n      height: 117\n      id: '1777031269538'\n      position:\n        x: 1273.7971340637014\n        y: 243.22749887058632\n      positionAbsolute:\n        x: 1273.7971340637014\n        y: 243.22749887058632\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 243\n    viewport:\n      x: 377.2827558906421\n      y: 183.60999179746705\n      zoom: 0.8507400984836128\n"}
